[2021-02-12 23:52] whuxhzhang commented on #3879
ummm，I don't know how to making plugins, Can you tell me how to solve it ？

[2021-02-13 00:01] xinshuoweng commented on #3864
Thanks a lot for the follow-up!

Just to confirm, as the bugs are being fixed, should I expect to have this feature in the next version of Carla?
Also, it would be great if some example code can be added in the documentation for sensor data listening during replay. So far it is unclear to me how to listen to the sensor data in a synchronized mode during a replay. The documentation only provides so

[2021-02-13 00:14] whuxhzhang commented on #3879
Thank you,  I solved it ,  too.

[2021-02-13 00:15] whuxhzhang commented on #3879
Thank you very much. It did work for me

[2021-02-13 10:58] narayanaraju10 commented on #3430
change the time in   "client.set_timeout(2.0)" in the code to "client.set_timeout(200.0)"  # 200 depicts the loading time.

Best,
Narayana

[2021-02-14 05:01] ym2509 commented on #3859
Thanks @jackbart94

@jimmyw404 I might be mistaken but when looking through the scenario_runner files, I came across some XML files in `scenario_runner/srunner/data/` that have a list of waypoints for each route and Town. I was initially hoping to create a similar code that accesses a .XML file containing a list of waypoints for the ego vehicle to follow when Autopilot is enabled. Perhaps the Cont

[2021-02-14 05:54] wqt2018 commented on #1977
if you have Intel HD Graphic Card，try this method
$ sudo apt-get install libvulkan1 libvulkan1:i386 mesa-vulkan-drivers mesa-vulkan-drivers:i386

[2021-02-14 18:45] ipirva opened #3887 "Carla / UE install"
Hello,

I am trying to install Carla on Linux ARMv8 (Jetson Xavier NX) using the Linux installation guide: https://carla.readthedocs.io/en/latest/build_linux/

[code]

I have tried as well with the UE4.24 release as exactly the example from the installation guide, but I ran into the same error.

[code]

I can wget the dependencies files:
`
 wget -c http://cdn.unrealengine.com/dependencies/UnrealEn

[2021-02-14 22:07] parth3153 commented on #3843
did you upscaled in blender and then started rigging, if you didnt thats causes this problem, i have read your text above with the scaling isuue and i was struggling aswell, the i used the ue4 addon for Blender to rig vehicles its works magic and fast process, the vehicle turns out perfect in carla, check continuebreak.com for the addon

[2021-02-14 22:12] parth3153 opened #3888 "Vehicle factory not loading up"
so i created my vehicle and rigged the bones in blender, did the physics assessment as in documentation, now in the last step of documentation its unclear its written to open the vehicle factory and add the vehicle but in my case the file is not loading up. Please help team Carla and community.
Thankyou

-->

[2021-02-14 22:16] ancabilloni commented on #3843
@parth3153 I went through the same tutorial for get the rigging to work, I used the addon as well. But eventually just do manual rigging, well, just for the fun of it.
The scaling issue was a bit tricky. But because I need to work on several import iterations, I stick with the routine mentioned above to get it to work in every iteration now.

[2021-02-14 22:16] #3843 closed

[2021-02-14 23:29] Johanfanas opened #3889 "ImportError: No module named util"
Hi,

I built carla the developer mode and I am trying to roslaunch carla_ros_bridge carla_ros_bridge_with_example_ego_vehicle.launch and I am getting "No module name util". When I run one of the example codes in the PythonAPI using python3 there is no issue. Therefore, I know that error is because the egg file for carla 0.9.10 is for python3.7 and my system is probably running it with python2.7, b

[2021-02-15 01:20] parth3153 commented on #3789
hello, i am struggling with the same thing, but when i open CarlaUE4 Project file it does not open it says
![image](https://user-images.githubusercontent.com/56869308/107895508-79cedc00-6ee8-11eb-96f2-f021949737da.png)

and then when i rebuild , it says rebuilding could not be compiled try building from source. btw i have UE 4.24.3.
thank you any help would be appreciated

[2021-02-15 07:13] ImtiazUlHassan commented on #3883
The issue has been resolved. The problem was that i was getting next waypoint before making it sure that i have reached  near target way-point. so i have made the following necessary changes.

[code]

[2021-02-15 07:13] #3883 closed

[2021-02-15 07:59] ImtiazUlHassan opened #3890 "How to generate waypoints between two locations in carla?"
Is there a way to generate waypoints  which would connect two points on carla. For example i want to generate waypoints which would connect the following two points in the map ?

![Screenshot from 2021-02-15 02-24-17](https://user-images.githubusercontent.com/56826204/107919561-8f202680-6f39-11eb-909c-723e79ad3c8d.png)

[2021-02-15 10:23] jackbart94 commented on #3890
In the Python API I don't think there's a method, but we have everything you need in the `agents` folder, specifically in the following scripts: ``global_route_planner.py`` and ``local_planner.py``. You might also want to take a look at the rest of them.

[2021-02-15 10:39] jackbart94 commented on #3882
If it's not causing you any particular issue, then don't worry.

It would have been enough to do ``make PythonAPI.2``.

Manually delete the python3 .egg file and don't use ``python3`` but just ``python`` or it won't work with python2.

[2021-02-15 10:41] jackbart94 commented on #3889
Just do ``make PythonAPI.2`` and you should have the .egg file for Python 2.7.

[2021-02-15 10:43] #3465 closed

[2021-02-15 10:43] #3462 closed

[2021-02-15 12:26] Kakaluoto commented on #3320
Thanks a lot , your comment reall helped me a lot @icerooqiu

[2021-02-15 16:16] Johanfanas commented on #3889
The carla I downloaded from here https://github.com/carla-simulator/carla/releases/tag/0.9.10 doesn't have any make file or anything so I can't generate the egg file

[2021-02-15 16:31] WoLewicki commented on #3873
I have the same problem. Connecting to the Carla server in docker image resolves in being able to connect the client to the server, but it seems like the server itself is not generating frames of simulation. Can it have something to do with the `pygame` configuration in `manual_control.py`? Do you use docker images to test the visual side of the project @marcgpuig @bernatx ? If not, maybe you coul

[2021-02-15 16:56] jackbart94 commented on #3889
Please, download the `0.9.10.1` version, or also the `0.9.11` version, which also includes the .egg file for Python 2. The `0.9.10` is the only one that doesn't.

[2021-02-15 17:10] amirtakouh opened #3891 "Carla's performance with multiple RGB sensors"
Hello,

I am interested to know how to optimize Carla to run with an extensive set of sensors. I made some experiments with zero, two, six and ten RGB cameras and monitored the GPU and CPU utilizations.
Carla version is 0.9.11 and it was running with the low quality level flag.
A summary of the results:
zero cameras: 245 FPS, 260% CPU utilization and 50% GPU utilization.
two cameras: 45 FPS, 214%

[2021-02-15 17:58] Johanfanas commented on #3889
Thanks, I got it working

[2021-02-15 20:46] #3812 closed

[2021-02-15 21:05] #3785 closed

[2021-02-16 04:01] siraphopp commented on #3877
Hi @Madecu and thanks for your reply.

![image](https://user-images.githubusercontent.com/44414518/108016861-15c22a00-7046-11eb-8587-babd0a228f81.png)

The issue was fixed.

[2021-02-16 09:27] #3889 closed

[2021-02-16 15:02] nitschephil commented on #3192
Hi, are there any updates regarding the implementation of more than four wheels? Our team would like to simulate a three-axle truck. Thanks!

[2021-02-16 16:13] bheeshmarayabv opened #3892 "Get radar data following a single vehicle for LSTM and Kalman based vehicle tracking application"
Hello ,

I am working on radar based Kalman filter -LSTM single vehicle tracking . For training LSTM I need lot of  data which i wish generate from Carla using radar sensor.

I want to continuously follow a vehicle (leading to ego vehicle) which need to move in different speeds , and I want get radar point cloud data of leading vehicle .

Can any one suggest if this possible in carla and any lead

[2021-02-16 19:14] FiodarKazhamiaka commented on #3860
@jackbart94 thanks for the explanation! I think it makes sense, but is there away to detect that this occurred using the client Python API?
I tried using the following to detect, and it didn't work:
`if world.get_actor(id) is None: print("Stuck vehicle eliminated")`

[2021-02-16 20:23] corwinjs commented on #3580
Hello,

I've been trying to add and register new actors too. I was able to add my own function that all actors can call using the python API, which I did mostly to learn better how the connection between the python API and the underlying Unreal C++ code works. Using that experience and trying to emulate how something like a Walker was implemented, I've been trying to add my own actor which at firs

[2021-02-16 22:11] HaoZhouGT commented on #1316
@ADulian Hi I found the exact same issue here, did you solve it later? Thanks

[2021-02-17 03:35] sulichuan opened #3893 "Segmentation fault"
HI
I installed Carla0.9.11 and Unreal Engine4.24
and successfully run Carla server with Town03 in UE4Editor
but when I tried to run "manual_control.py"
the script shows segmentation fault (core dumped)

the message is
"WARNING: Version mismatch detected: You are trying to connect to a simulator that might be incompatible with this API
WARNING: Client API version     = 4dc4cb81
WARNING: Simulator A

[2021-02-17 07:06] YifuTao commented on #3130
Hi, I have found that the distortion model is "`plumb_bob`".

I used the ros-bridge, ran `rostopic echo /carla/ego_vehicle/rgb_view/camera_info` and get something like this:

We changed `K ` (and hence `P`) by setting the fov and image size. Specifically, K1, K5 (fx, fy) by fov (fov = 2 arctan (fx/2f)) and K3, K6 (cx, cy) by image size (halve). Definition of D,K,R,P and more information of plumb_b

[2021-02-17 07:10] YifuTao commented on #3412
Hi, I would be very interested as well in the fisheye camera model / hige fov camera by the distortion model.

I found the [distortion model documentation ](https://carla.readthedocs.io/en/latest/ref_sensors/#rgb-camera) does not currently provide enough information on guiding that. This is also mentioned also [in this issue](https://github.com/carla-simulator/carla/issues/3130#issuecomment-780353

[2021-02-17 08:40] ADulian commented on #1316
@HaoZhouGT No, sorry buddy.

[2021-02-17 09:40] #3882 closed

[2021-02-17 10:25] jackbart94 commented on #3839
Sorry about the delay answering this issue, it's actually very important to us. First off, a few questions:
Have you been able to fix it since you opened the issue?
Were you using ``synchronous_mode`` (by using ``--sync`` in ``spawn_npc.py``) and setting correctly the seed?
Are you on Linux or Windows?

[2021-02-17 13:29] qhaas opened #3895 "save_to_disk for PNG is slow"
According to our benchmarks, at higher resolutions (e.g. 1080P), it is taking significantly longer to save as PNG when compared to JPEG and TIFF with CARLA 0.9.11.  While we expected TIFF to be the fastest by far since it is uncompressed, we were expecting JPEG and PNG to perform similarly when it came to runtime.  From monitoring `top`, it would appear that a single CPU core is pegged to 100%, wh

[2021-02-17 13:49] syveqc commented on #3893
Seems like you are running and old version of the python API, maybe your pythonpath still points to an old API?

[2021-02-18 00:46] robertprior-fixstars opened #3897 "Strange behavior switching gear from R to N"
I'm seeing switching gear from R->N performs differently from other gear changes; rather than going R->N directly, gear instead goes R->1. Is this expected at least using manual transmission? I expected R->N change would function in the same way as N->1, N->R, 1->2 etc.

To reproduce:

1. start PythonAPI\examples\manual_control.py
2. press `m` turning on manual transmission
3. press `,` gear chang

[2021-02-18 07:14] whuxhzhang opened #3898 "How to compile package supporting Python2 in carla-0.9.11"
Ubuntu18.04
carla-0.9.11

I downloaded the source code of carla-0.9.11 and compiled it，but it's only available in the python3 version .
How to compile package supporting Python2 ?

[2021-02-18 08:46] sulichuan commented on #3893
@syveqc
I had run"make PythonAPI" before running the Carla server, and it built successful.
Is there somewhere else I can change the python path?

[2021-02-18 10:14] syveqc commented on #3893
I also have to set the PYTHONPATH environment variable every time I update the version, so you could try to do `echo $PYTHONPATH` and see whats in there, it should point to the .egg file in `PythonAPI/carla/dist`, mine is called `carla-0.9.11-py3.7-linux-x86_64.egg`, but that may vary if you built it yourself.

[2021-02-18 11:00] XGodina opened #3900 "[Testing]"
That you have to test

- Check how to see the distance of the camera.

1. - Motorbikes
2. - Bicycles
3. - Pedestrian
4. - Cars
5. - Van
6. - Assets

[2021-02-18 11:56] XGodina commented on #3900
I've tested the vehicles and I've seen one of the cameras on bicycles didn't see well.

[2021-02-18 11:56] XGodina commented on #3900
![bice](https://user-images.githubusercontent.com/39989886/108353663-b18b9b80-71e8-11eb-9ea1-6962e353b641.PNG)
![bice2](https://user-images.githubusercontent.com/39989886/108353666-b2243200-71e8-11eb-8da6-b6068faa648c.PNG)

[2021-02-18 11:57] XGodina commented on #3900
And I think the camera on the bike could be better.

[2021-02-18 14:59] DSantosO commented on #3900
You are right, I have modified the lateral camera to let the x parameter fixed, and then it is closer to what it was before.

![latcamera_yamaha](https://user-images.githubusercontent.com/5548733/108375506-4f3f9480-7202-11eb-859e-26c3956a424b.png)

[2021-02-18 18:19] arnabfly opened #3902 "Can Not Add Third Car"
Below, I add my code. I can add two vehicles (vehicle and vehicleE). But when I am trying to add thrid one, its automatically destroying (vehicleA). Can anyone tell me how to solve this?
    try:
        m = world.get_map()
        start_pose = random.choice(m.get_spawn_points())
        waypoint = m.get_waypoint(start_pose.location)

        blueprint_library = world.get_blueprint_library()

[2021-02-19 03:01] whuxhzhang opened #3903 "carla-0.9.11 reported errors during operation"
ubuntu18.04
carla-0.9.11

I compiled the source code of carla-0.9.11, and run CarlaUE4.sh, but find these errors:
Signal 11 caught.
Malloc Size=65538 LargeMemoryPoolOffset=65554
CommonUnixCrashHandler: Signal=11
Malloc Size=65535 LargeMemoryPoolOffset=131119
Malloc Size=122688 LargeMemoryPoolOffset=253824
Engine crash handling finished; re-raising signal 11 for the default handler. Good bye.
Segme

[2021-02-19 03:32] xiangdongli commented on #2983
@yasser-h-khalil  the command is useful :  python2 -m pip install -U pygame --user
Thank you!

[2021-02-19 05:37] cloud-rocket opened #3904 "Carla is not starting on Windows 10 - required DirectX Runtime (which is preinstalled)"
The following error reported:

"The following component(s) are required to run this program: DirectX Runtime"

Tried with precompiled: CARLA_0.9.11 and CARLA_0.9.9.4.zip

DxDiag.exe details:
* Operating System: Windows 10 Pro Insider Preview 64-bit (10.0, Build 21301) (21301.rs_prerelease.210123-1645)
* DirectX Version: DirectX 12
* Card name: NVIDIA GeForce RTX 3060 Ti (latest preview driver)

[2021-02-19 05:45] omkarshinde22 opened #3905 "I want to know how to many client can request to carla simulator at a time."
Since carla is server-client architecture. I want to run carla simulator on different machine and request with that machine IP address from different machine. I want to know how many client requests carla simulator can handle at a time without fail.

Thanks

[2021-02-19 05:50] cloud-rocket commented on #3904
Ok, I found an old installation of DirectX 11 here - https://www.filehorse.com/download-directx-11/download/
And it works

[2021-02-19 05:50] #3904 closed

[2021-02-19 06:26] Zhuweilong123 commented on #1673
How can I use PID to control the ego-vehicle according to a route (a list of waypoints returned by  globalRoutePlanner )? I really hope you can give me some help. Best wish! @Derekabc

[2021-02-19 07:04] Zhuweilong123 commented on #3890
`
import carla

from agents.navigation.global_route_planner import GlobalRoutePlanner
from agents.navigation.global_route_planner_dao import GlobalRoutePlannerDAO

client = carla.Client("localhost", 2000)
client.set_timeout(10)
world = client.load_world('Town01')
amap = world.get_map()
sampling_resolution = 2
dao = GlobalRoutePlannerDAO(amap, sampling_resolution)
grp = GlobalRoutePlanner(dao)
grp.

[2021-02-19 07:05] Zhuweilong123 commented on #3890
@jackbart94 @ImtiazUlHassan

[2021-02-19 07:06] Zhuweilong123 commented on #3890
@ImtiazUlHassan @jackbart94

[2021-02-19 08:49] Zhuweilong123 commented on #3883
I have the same question. Can you share your complete code.
Beside, is there a method can let a vehicle run in our predefined route in self-driving mode?
Best Wish! @ImtiazUlHassan

[2021-02-19 10:39] ImtiazUlHassan commented on #3890
`w[0].transform.location`

You can get the coordinate of the way-point using this. you can store it in a variable. you can also get road id lane id way-point id using

`w[0]
.lane_id`

`w[0]
.road_id`

to check more functions you can use `dir(w[0])`

[2021-02-19 11:38] Zhuweilong123 commented on #3890
Thanks for your reply. Now I know how to obtain those parameters. I still have a question. Can I mark those information in the carla map. @ImtiazUlHassan

[2021-02-19 11:44] ImtiazUlHassan commented on #3890
You are welcome
and yes you can draw/mark them on map. if you want to draw ids than you will have to convert them into strings.

i.e  `mark=str(w[0].lane_id)`

then

  ` world.debug.draw_string(w[0].transform.location,mark, draw_shadow=False,
color=carla.Color(r=255, g=0, b=0), life_time=120.0,
persistent_lines=True) `

[2021-02-19 12:04] Zhuweilong123 commented on #3890
I got it. Thank you very much!
Best wish to you！

[2021-02-19 12:05] Zhuweilong123 commented on #3890
I got it. Thank you very much!
Best wish to you！ @ImtiazUlHassan

[2021-02-19 13:34] i14d4 opened #3906 "Braking Behaviour for very low speed (< 1m/s)"
Hello CARLA team,

I am wondering if I could improve / fix the following described behaviour through e.g. specific parameters within the UE settings or if you could give me a brief explanation why it is occurring.

I noted that the velocity of a vehicle drops very fast at some point of time when the vehicle reachs a very low speed. This behaviour occurs with different vehicles and also with very s

[2021-02-19 15:01] qhaas commented on #3895
It would appear that this might be a result of libpng (by way of zlib) not supporting multi-threading.  The default action of [`boost::gil` is to compress PNGs](https://github.com/boostorg/gil/blob/boost-1.72.0/include/boost/gil/extension/io/png/tags.hpp#L203)

[2021-02-19 16:47] qhaas commented on #3903
The community will likely need a tad more to go on...

1. Which GPU are you using?  If nvidia, does `nvidia-smi` produce an error?  This will determine if you are capable of 3D acceleration with your GPU
2. Are you running headless and/or X-less (i.e. no x-server)?  If so, you should use [opengl](https://carla.readthedocs.io/en/latest/adv_rendering_options/#setting-off-screen-mode), and start carl

[2021-02-19 17:13] XGodina commented on #3888
Hi,

I know, that our documentation about how to implement vehicles in CARLA is a bit confusing. Now we are working to update.
This file is in UnrealEngine. Is a Blueprint that you can open and then put your vehicle there.

![image](https://user-images.githubusercontent.com/39989886/108537507-fb09e280-72dd-11eb-91cd-9fc7e0b7ca51.png)

![image](https://user-images.githubusercontent.com/39989886/108

[2021-02-19 17:15] #3877 closed

[2021-02-19 17:24] XGodina commented on #3848
Hi all,

What do you mean by an unstructured environment? off-road? indoor?

[2021-02-19 17:29] XGodina commented on #3829
Hi,

Sorry for the late answer. I will take look more deeply at it. Thanks to reported

[2021-02-19 17:43] qhaas commented on #3887
Are you planning to run the server or just the client on ARM?  If the latter, which I've seen more often, you don't need the UnrealEngine to compile just the client.  You can just run `make PythonAPI`.

I'm not sure if UnrealEngine 4.24 is fully supported on ARM for the purposes of CARLA serve, but I could be wrong (we had trouble with ppc64le).

[2021-02-19 17:50] XGodina commented on #3844
Hi @jimmyw404 @alinakir

We have some assets that you can spawn on road. It may help. But we don't have holes yet.

[2021-02-20 01:31] whuxhzhang commented on #3903
![image](https://user-images.githubusercontent.com/38369239/108578443-a60db100-735d-11eb-9f0d-85054dd9ad7c.png)

All town_maps are available, including my own. Only one map I made had this problem. So I think it's not the GPU's fault.

[2021-02-20 07:20] Lars-Johan opened #3907 "make launch fails"

[2021-02-20 08:50] Zhuweilong123 commented on #3876
@Stefano38
I write a simple code, you can try it in your  PC.

[code]

[2021-02-20 10:01] #3907 closed

[2021-02-20 10:01] Lars-Johan commented on #3907
nvm

[2021-02-20 16:22] Villiamos opened #3908 "[CARLA_0.9.5] [Windows 10], BSOD follows when the agent appears on the map"
Hello I was following sendex tutorial https://www.youtube.com/watch?v=MynOPIJi4VY&feature=emb_title&ab_channel=sentdex and when I was running my own model using Carl's API, BSOD followed when the agent appeared on the map.

Link to script which I used
https://github.com/Villiamos/Carla-Api-Tensorflow

**Software:**
Windows 10
Python 3.7
Tensorflow 2.4.1
CUDA 11.2
 cuDNN v8.0.5

**Hardware:**
GTX 7

[2021-02-20 21:04] MustafaLotfi commented on #1325
Hi, I exactly stuck on the same error. For me, it was because of the version of python (3.8) . So I installed python version 3.7 and problem fixed. (Carla 0.9.11)

[2021-02-21 03:25] Zhuweilong123 opened #3909 "Is there a sampling resolution parameter in get_spawn_points() function. Because I want to get more spawn-point in one road."
For generate_waypoints() funcation, there is a "distance " parameter can be used to adjust the number of waypoint. If the get_spawn_points()  function has the same parameter, it will be very useful.

[2021-02-21 08:24] saina110 opened #3910 "ImportError: cannot import name 'ad' from 'carla'"
**Ubuntu: 18.04 LTS
Kernel: 5.4.0-42-generic
Graphic Card: Nvidia GTX 1650ti
Carla simulator: 0.9.11
Python:3.7.9**

Dear everyone,

I am trying to run the file "manual_control_rss.py" under "PythonAPI/examples/rss" folder. When I typed "python3 manual_control_rss.py", the terminal shows me the error: `ImportError: cannot import name 'ad' from 'carla' (/opt/carla-simulator/PythonAPI/carla/dist/car

[2021-02-21 16:04] Michal-Kolomanski commented on #3873
When I run a container without `SDL_VIDEODRIVER=offscreen SDL_HINT_CUDA_DEVICE=0`
![image](https://user-images.githubusercontent.com/47147210/108630237-14d53200-7464-11eb-8fea-23cefed839e1.png)
Results are the same.

I also tried:
![image](https://user-images.githubusercontent.com/47147210/108630388-de4be700-7464-11eb-98a3-2167e9f69008.png)
but results are still the same - 0 FPS from the server an

[2021-02-21 16:19] Michal-Kolomanski commented on #2975
For me, a connection using  **manual_control.py** doesn't work as I wish.
I described the problem in issue #3873.
I will be very grateful for any help or tip.

[2021-02-21 17:50] qhaas commented on #1567
[Per a similar issuing occurring on ARM](https://github.com/rdeioris/UnrealOnRPI4#step-51-what-happened-to-my-textures), DXTC is apparently misbehaving on ppc64le.  When we disabled it (per the instructions in the guide linked), the artifacts / missing textures appear resolved.

With DXTC on ppc64le:
![ppc64le_dxtc](https://user-images.githubusercontent.com/34581474/108633593-17735f80-7443-11eb-8e

[2021-02-21 23:14] Esquilli commented on #3828
@karthi0804 Did you figured out this issue? My "fix" was to set `ignore_tracffic_light` to `True`

[2021-02-22 00:05] karthi0804 commented on #3828
I didn't find the root cause. I also used the same workaround.

[2021-02-22 00:25] Michal-Kolomanski opened #3911 "Carla 0.9.11 in a Docker fails to start"
Server specification:

- Ubuntu 18.04.4 LTS
- Carla 0.9.11
- Python 3.7
- NVIDIA-SMI 450.102.04
- Driver Version: 450.102.04
- CUDA Version: 11.0

Dockerfile:
[code]
The script which runs a container:
[code]
I really care about the possibility of being able to see some graphic e.g. in `manual_control.py`

When I run the script I get:
[code]
 I have read in other issues that these are only informat

[2021-02-22 01:26] elvira3871 commented on #3823
I also encountered the same mistake, have you solved it?

[2021-02-22 04:08] sulichuan commented on #3893
@syveqc
I followed the way what you suggest, and it works.
I can run vehicle in the server now.
Thanks for your helping.

[2021-02-22 05:30] #3890 closed

[2021-02-22 08:07] parth3153 commented on #3888
no, thats
![image](https://user-images.githubusercontent.com/56869308/108679492-7a93df00-74a1-11eb-86eb-1ad58d6b5d76.png)
not the problem i am not able to open the ue4 Editor to open the VehicleFactory asset

and i am not able to open it from the engine itself, it ask me to download carsim which is not free and not make sense because its not mentioned in the documentation, idk the reason for all o

[2021-02-22 09:08] syveqc commented on #3902
Are you sure this works? You are trying to spawn three vehicles on exactly the same location, so you should get a "Spawn Failed" error! Your script works for me when I am using deterministic, non-colliding spawn positions.
Also a general advice: You get a lot more feedback why your code does not work if you print/log the error messages instead of just catching them and doing nothing with them!

[2021-02-22 09:08] syveqc commented on #3893
Glad to hear that, no problem!

[2021-02-22 09:18] sulichuan opened #3912 "faild when running make PythonAPI with Python2"
Hello
I'm trying to install ROS Bridge, but I met an error when running  <make PythonAPI ARGS="--python-version=2">

The script showed :
Setup.sh: Extracting boost for Python 2.
gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now

Are there any solution?

[2021-02-22 10:52] jackbart94 commented on #3909
Spawn points are fixed for each Town, and manually placed. You can get the list of spawn points and generate new ones in nearby locations, or create them yourself in Unreal. There are different ways to do this, but no sampling resolution parameter is available, sorry.

[2021-02-22 11:27] Zhuweilong123 commented on #3909
@jackbart94
Thanks for your reply! I will try those methods you mentioned.

[2021-02-22 11:27] #3909 closed

[2021-02-22 13:21] saina110 opened #3914 "Carla ERROR: Cook failed. (when make package)"
**Ubuntu: 18.04 LTS
Kernel: 5.4.0-42-generic
Graphic Card: Nvidia GTX 1650ti
Carla simulator: 0.9.11
Python:3.7.9**

Dear everyone,

I am trying to run "make package" in order to get executable CarlaUE4 file, but I met with the "cook fail" termination. In the log file, it says:

Log.WriteException: **ERROR: Cook failed.**
Log.WriteException:        (see /home/yuan/Library/Logs/Unreal Engine/LocalB

[2021-02-22 15:11] elvira3871 commented on #1109
I encountered ModuleNotFoundError：there is no module named "carla" when I was building Carla0.9.11 on Windows. According to the tutorial on the official website, I have tested that the python version in the .egg is consistent with the python version in the environment variable. I want to ask you if Learn more about solutions.

[2021-02-22 15:58] XGodina commented on #3888
I see,

From what I see in the picture.

Estas intentado abrir UE4, en una versión nuestra compilada. If you need to add vehicles you need to download whole project and UE4.

![image](https://user-images.githubusercontent.com/39989886/108733774-14ee3400-752f-11eb-81ba-ebc9c6a29768.png)

Here you have the documentation on how to download the project and UE4 with win and Linux

[2021-02-22 16:12] XGodina commented on #3888
https://carla.readthedocs.io/en/latest/#getting-started

[2021-02-22 16:16] eerkaijun commented on #1783
May I ask what is the current workaround for this issue? I tried to import carla but I also meet the problem of libjpeg.so.8 import error.

[2021-02-22 20:36] saina110 opened #3915 "'make LibCarla.client.rss' failed"
Dear everyone,

I am trying to build RSS package, but when I use the command: "make LibCarla.client.rss", it shows me the following error:

Setup.sh: llvm-8.0 already installed.
Setup.sh: boost-1.72.0-c8 already installed.
Setup.sh: rpclib-v2.2.1_c3-c8 already installed.
Setup.sh: gtest-1.8.1-c8 already installed.
Setup.sh: recast-cdce4e-c8 already installed.
Setup.sh: Libpng already installed.
Se

[2021-02-23 01:12] bitekas commented on #3269
I'm confirming the same bug, ubuntu 18.04

[2021-02-23 02:18] sulichuan commented on #3912
I found the way to solve this problem

https://github.com/carla-simulator/carla/issues/2503#issuecomment-592733885

[2021-02-23 02:18] #3912 closed

[2021-02-23 08:08] peacekim86 opened #3916 "Added a vehicle, but there was a physical error."
Hi, there.

I added a new vehicle in the picture. ( 4-wheels )
![image](https://user-images.githubusercontent.com/46774998/108815636-20596200-75f8-11eb-992d-0daa53a3e839.png)

But it has a physics error that it tilts toward the front wheels(Like handstand ) when running the CARLA. (or running with python clinet)
![image](https://user-images.githubusercontent.com/46774998/108815679-2f401480-75f8-11

[2021-02-23 09:49] AntiLibrary5 opened #3917 "Scenic requires Python > 3.8 causes conflict with CARLA's dependence on Python 3.7"
CARLA version == 0.9.11
Python version == 3.8.8

Hi, I have been trying to use the scenic API for CARLA. But having followed the instructions at:
https://scenic-lang.readthedocs.io/en/latest/simulators.html#simulators
I run into error which of python version conflict.
Previously I have tried using Python 3.8 for CARLA but it didn't work, but worked only with v3.7. But now scenic's hard dependence

[2021-02-23 11:06] sulichuan opened #3918 "REQUIRED process [carla_ros_bridge-1] has died!"
Hi~
I had  installed the ROS bridge, but when I trying to run it with "roslaunch carla_ros_bridge carla_ros_bridge.launch"
The script showed "REQUIRED process [carla_ros_bridge-1] has died!", and shut down

the message is
================================================================================REQUIRED process [carla_ros_bridge-1] has died!
process has died [pid 26150, exit code 1, cmd /hom

[2021-02-23 15:08] pavanteja295 commented on #3839
Hello, yes I used the synchronous_mode infact the simulation is synchrous for some simulation after which it starts behaving non-deterministic. I also made sure to set the traffic manager seed and other sync options. I can share with you more details if you would like to know more. It's on Ubuntu 18.04 64 bit system

[2021-02-23 15:23] jackbart94 commented on #3839
So, I have been running the ``spawn_npc.py`` with determinism, synchronous mode and your custom values.

From my side, I can tell you that it's best to keep the ``fixed_delta_seconds`` to ``0.05`` because it's what Traffic Manager and the physics engine are using, which could be why it is breaking determinism.

Regarding the other parameters, @DSantosO can probably tell you more whether it's wise

[2021-02-23 16:08] DSantosO commented on #3839
I agree with @jackbart94, the fixed_delta_seconds is too high, it should be `0.05` or at most `0.1`. We also recommend `max_substep_delta_time`to be below `0.0166666`.

[2021-02-23 18:23] germanros1987 commented on #3493
Hi @pavanteja295, sorry for the delay. @bernatx will come back to you with an answer soon.

[2021-02-23 18:24] maria8899 opened #3920 "dev.i915.perf_stream_paranoid=0"
Hi,

I am trying CARLA 0.9.11 and CARLA 0.9.10.1. When launching, it says:
[code]

After doing `sudo sysctl dev.i915.perf_stream_paranoid=0`, the warning disappears but I still get segfault on both CARLA 0.9.11 and CARLA 0.9.10.1.
[code]

However it does work using CARLA 0.9.6 for example.
[code]

[2021-02-23 18:27] #3500 closed

[2021-02-23 23:55] HarnarayanSingh commented on #3269
@bitekas Could you clarify if it worked or not for you? I got the same error in nightly build.

[2021-02-24 05:08] amzoo opened #3922 "map.get_waypoint (project_to_road=False) does not result in waypoints at expected locations"
Carla 0.9.11 (package install using apt-get)
MacOS 11.2
Custom Map

---------------------------------

**API Call:** `map.get_waypoint(carla.Location(x, y, z), project_to_road=False, lane_type=carla.LaneType.Any)`
**Issue:** Attempting to generate waypoints off of lane center, at location (x, y, z) results in waypoints that are sometimes at the lane center, sometimes at location point, and sometim

[2021-02-24 06:10] saina110 commented on #3915
anyone could give me some suggestions? thanks so much! I am stuck at this issue for few days...

[2021-02-24 11:18] corkyw10 commented on #3494
@Madecu could you follow up on this please?

[2021-02-24 11:26] corkyw10 commented on #3496
@bernatx can you follow up on this please? @frodozet thanks for your patience, we will look into it and try to get a better example into the docs

[2021-02-24 11:27] corkyw10 commented on #3497
@PTorr do you still need help with this issue?

[2021-02-24 11:31] corkyw10 commented on #3499
@DSantosO can you follow up on this please?

[2021-02-24 11:40] corkyw10 commented on #3502
@Emiliyan192 Thanks for your patience. Looks like the build instructions link doesn't exist anymore, are you still experiencing this issue?

@bernatx could you follow up please?

[2021-02-24 11:42] #3503 closed

[2021-02-24 11:44] corkyw10 commented on #3507
@LVJ047 Are you still experiencing this error?

@Axel1092 could you follow up please if required?

[2021-02-24 11:49] corkyw10 commented on #3510
@danielaDESM Thanks for your patience. There's been changes to synchronous mode in the last release so Dani might be able to help you with updated info about this query

@DSantosO could you follow up please?

[2021-02-24 11:53] bernatx commented on #3502
Hi,

The new link is here: https://github.com/wx9698/xviz
We have removed our fork and now the author is maintaining the plugin.

It seems that the problem is that the protobuf header is not found
`/home/emiliyan/carlaviz/backend/third_party/xviz/include/xviz/proto/options.pb.h:10:10: fatal error: google/protobuf/port_def.inc: No such file or directory
   10 | #include <google/protobuf/port_def.in

[2021-02-24 11:57] bernatx commented on #3496
Hi,

That is a limitation of current implementation. The actual way of doing that, is to manage the whole skeleton of bones, and not only one because you can not retrieve the position of one specific bone. So, you need to take control of the whole skeleton position, for each bone. We know that is not a perfect solution, so probably in the future we will address this limitation.

[2021-02-24 12:03] corkyw10 commented on #3511
Hey @malixasyntronic, are you referring to the link https://carla-assets.s3.eu-west-3.amazonaws.com/fbx/VehicleSkeleton.rar? I just tried it and I get a folder that contains a `VehicleSkeleton.fbx` file

[2021-02-24 12:05] corkyw10 commented on #3512
@Axel1092 could you have a look at this please?

[2021-02-24 12:23] malixasyntronic commented on #3511
Yes!
Weird, it works fine now, I got a currupt archieve when I tried to access it a few months back
Guess this issue is resolved

Från: "Corinne" <notifications@github.com>
Till: "carla-simulator/carla" <carla@noreply.github.com>
Kopia: "Mattias Lindgren" <malixa@syntronic.com>, "Mention" <mention@noreply.github.com>
Skickat: onsdag, 24 feb 2021 13:03:52
Ämne: Re: [carla-simulator/carla] Broken li

[2021-02-24 12:26] corkyw10 commented on #3514
@bernatx could you have a look at this and provide your opinion?

[2021-02-24 12:39] #3511 closed

[2021-02-24 14:16] Rick831022 commented on #3198
Could you please give the description of the attribute? it's like a puzzle to guess the meaning of such as lens_k?

[2021-02-24 14:33] qhaas commented on #3514
A less invasive approach would be to find a way to suppress said warning, which I have not yet discovered.  Adding said additional packages might have unintended consequences beyond a larger image.

[2021-02-24 16:20] DSantosO commented on #3510
Hello @danielaDESM,

As you are doing, the correct way of setting the simulator options is through the world settings. As far as I know, the benchmark and fps arguments of the server are not used.
For the lidar topic, you should receive a 'file' per step, not per simulated seconds. So as dt=0.1, you get 10 files per simulated second. The number of points per second is much less than `points_per_se

[2021-02-24 16:37] corkyw10 commented on #3516
@DSantosO could you have a look at this please?

[2021-02-24 17:16] Manue26 commented on #3621
Hi,

I have exactly the same issue. did you resolve your problem ?

I'm using
Platform: Windows 10
VS 2017 (I also have VS 2019 for other projects)
python 3.9 64bit (but I also have python 3.7 on my computer)
carla: 0.9.10.1

[2021-02-24 17:25] Stefano38 commented on #3876
Thank you @Zhuweilong123 for your answer, we solved the problem with a code very similar to yours.

[2021-02-24 17:47] joel-mb commented on #3374
Hi all,
I've added the latest CARLA release (0.9.11) in the debian repository for Ubuntu 20.04 (focal).

If you already setup the CARLA debian repository in your system it should work by running:
[code]

If you haven't setup the CARLA apt repository just follow the complete process:
[code]

Please, take into account that, although everything should work well in Ubuntu 20.04, CARLA is only official

[2021-02-24 17:49] joel-mb commented on #3441
The latest CARLA release (0.9.11) for Ubuntu 20.04 has been added to the CARLA apt repository. Please see: https://github.com/carla-simulator/carla/issues/3374#issuecomment-785255690

[2021-02-24 18:24] bernatx commented on #3621
Hi,

Another cause of that problem is that when you build the first time CARLA, when it setup the boost files it takes a python version installed (if you have several it can take one that you don't want), and then later when compiling the PythonAPI the linker is using another version of Python, so it can not link different versions.

So, be sure that by default the same version of Python is found

[2021-02-24 19:21] #3441 closed

[2021-02-25 07:03] whuxhzhang opened #3925 "fatal: Not a git repository (or any of the parent directories): .git"
ubuntu18.04
carla-0.9.11

I down load the source code of carla-0.9.11, run "make package" and find these errors:

fatal: Not a git repository (or any of the parent directories): .git
Util/BuildTools/Linux.mk:137: recipe for target 'setup' failed
make: *** [setup] Error 128

[2021-02-25 09:32] PTorr commented on #3497
@corkyw10 Hi,
I wasn't able to solve it for now.

[2021-02-25 09:41] corkyw10 commented on #3521
@gismo07 Thanks for your patience, are you still experiencing this issue?

@bernatx could you follow up on this please?

[2021-02-25 09:42] corkyw10 commented on #3523
@Axel1092 could you have a look at this please?

[2021-02-25 09:43] corkyw10 commented on #3524
@doterop could you follow up on this please?

[2021-02-25 09:46] #3527 closed

[2021-02-25 09:49] corkyw10 commented on #3528
@jackbart94 could you follow up on this please?

[2021-02-25 09:50] corkyw10 commented on #3531
@jackbart94 could you follow up on this please?

[2021-02-25 09:53] corkyw10 commented on #3543
@jackbart94 can you have a look at this please?

[2021-02-25 10:30] #3536 closed

[2021-02-25 10:43] DSantosO commented on #3499
Hello @indartsu,

If you have not included distortion, the camera matrix should be just the one computed with fx,fy,cx,cy. Be careful with the frame transformation between Unreal's XYZ and the camera one that can be tricky. You can check the `lidar_to_camera.py` script in which this matrix is used to project points from 3D space to the camera image.

[2021-02-25 11:01] DSantosO commented on #3516
Hello @HoucemF,

Can you still see this problem in the 0.9.11 release?

[2021-02-25 11:39] pavanteja295 commented on #3839
@jackbart94  @DSantosO  I think its not just with the above recommended parameter values the simulator turns non-deterministic but just that we  have to **wait longer** because the delta seconds is set to much lower now (0.05). May be try with the recommended values and wait for a longer time and let me know you still see this problem. For me its still non-deterministic.

[2021-02-25 11:45] kevinmgamboa commented on #2798
Hi @AmirHarvey so what did u do ? I sm trying the same .. please share

[2021-02-25 11:58] glopezdiest commented on #3925
Hey, that generally means that you are running that command in a folder that isn't part of any git repository. Can you make sure that you are inside the CARLA folder and run the `make package` again?

[2021-02-25 12:35] Axel1092 commented on #3922
Hi @amzoo, I think there is a misconception on how the `get_waypoint`function works. Waypoints are always objects with the position in the center of the lane.
When you call the function `map.get_waypoint(carla.Location(x, y, z), project_to_road=False, lane_type=carla.LaneType.Any)` you are getting a waypoint corresponding to the lane (x, y, z) is in. If (x, y, z) is outside the lane the function w

[2021-02-25 13:54] i14d4 opened #3926 "set_hybrid_physics_radius instead of set_hybrid_mode_radius"
Hello CARLA team,

I just wanted to report the following mismatch between documentation and code (CARLA 0.9.11):
in the Python API documentation _set_hybrid_mode_radius_ is listed as the function to change the hybrid mode radius of the traffic manager.
Within the real Python API (TrafficManager.cpp) the function is called "set_hybrid_physics_radius".

Thanks in advance and kind regards

[2021-02-25 14:58] jackbart94 commented on #3915
Sorry for keeping you waiting. We are having a similar problem, so we are looking into fixing this!
We will let you know soon, thanks for finding this out!

[2021-02-25 16:32] danielaDESM commented on #3510
Thanks a lot,
I did actually manage to understand it better. I do get the number of files I am supposed to according to the dt. As we wanted our simulation to run in more FPS and that does not necessarily mean that we want the LiDAR to acquire the data at the same rate, we keep the clouds in a queue and fill a whole rotation accordingly.  The sensor_synchronization.py helped a lot.
Thanks in advan

[2021-02-25 17:10] jackbart94 commented on #3915
It's been failing for Python 3.6, but working fine with Python 3.7 and 3.8. Which version are you using?

[2021-02-25 18:22] qhaas commented on #3516
We are still getting the artifacts with OpenGL + official/pre-built CARLA 0.9.11 (UE4.24), they are tiny black '+' if you zoom in.  They are most evident in 'HardRainSunset' weather.  They don't exist when we use Vulkan+UE4.25, but since we are x-server-less, we had to upgrade to UE 4.25 to get headless/xless vulkan support (see Issue #3800)
![rgb_c_005000](https://user-images.githubusercontent.co

[2021-02-25 18:29] patilrajeevs commented on #2002
I am facing this issue, was there a resolution @Ryoma-Liu  ?

[2021-02-26 07:48] saina110 commented on #3915
Hi, thank you for your support. My current version is:

**Ubuntu: 18.04 LTS
Kernel: 5.4.0-42-generic
Graphic Card: Nvidia GTX 1650ti
Carla simulator: 0.9.11
Python:3.7.9**

I have successfully built rss_lib by command "colcon build", when i jump to the command "make libcarla.client.rss" it still shows me the above error

[2021-02-26 08:59] jackbart94 commented on #3915
Could you try with Python 3.8 as well? I had your same error and following the documentation with Python 3.8 I was able to make it work.

[2021-02-26 10:45] glopezdiest commented on #3917
Hey @AntiLibrary5, here is an egg file for windows and Python 3.8 ([carla-0.9.11-py3.8-win-amd64](https://github.com/carla-simulator/carla/files/6049069/carla-0.9.11-py3.8-win-amd64.zip)), see if your problems are solved. This can be easily created if you are using CARLA from source but not from packages.

Anyway, that indeed raises a problem, so we'll see if, from now on, it is viable to also put

[2021-02-26 13:09] saina110 commented on #3915
I update the python3.7 to python3.8, and reboot the system. then when I directly type 'make LibCarla.client.rss', the console shows the same error like above.. Do I need to make additional configurations?

`BuildLibCarla.sh: Building LibCarla "ClientRSS.Debug" configuration.
ninja: error: '../ad-rss-4.4.0/install/ad_physics/lib/libad_physics.a', needed by 'LibCarla/cmake/test/libcarla_test_client_

[2021-02-26 14:16] corkyw10 commented on #3540
@glopezdiest could you follow up on this please?

[2021-02-26 17:54] AntiLibrary5 commented on #3917
Hi,
Thank you. With the egg file for python3.8, I was able to run scenic.

Indeed having the egg file for python3.8 in the packaged installation would be great since (at least for me due to storage constraints) building CARLA from source is a bit troublesome.

For anyone with similar issue, after downloading the egg file, in your venv:

[2021-02-26 17:54] #3917 closed

[2021-02-26 22:07] amzoo commented on #3922
Understood! I realize now that those rogue waypoints I was seeing are actually on the center of the sidewalk. I misunderstood that the (x,y,z) was only being used to choose a specific lane.

Is there anyway to generate a waypoint not on the center of a lane? My use case is in the racing world, in which vehicles may travel anywhere on the drivable lane, and not stick to center.

[2021-02-26 23:55] yuemingl commented on #3817
I believe there are some files are broken during the Setup.sh step. Just checkout the repo again or clean up the files and run Setup.sh again will fix the problem.

[2021-02-27 13:49] parth3153 opened #3931 "New vehicle Manual control Error"
![IMG_20210227_144649](https://user-images.githubusercontent.com/56869308/109389043-e8f5f880-790a-11eb-8f2e-be2c4543fedc.jpg)

When I run my python API to launch my new vehicle it crashes and shoes this error, and it's the same for normal manual control

[2021-02-27 20:48] AIDRI opened #3932 "Physics values, distances, and more !"
Hello,
I would like to know if there are physical values that are applied to simulators (I guess, yes), and what are these values, such as the gravity used, the mass of a vehicle, etc...
Also, can we calculate distances simply in carla simulator? Notably the distances in a curve.

The goal is to try to optimize the exit speed and the time spent in the turn.

Thank you in advance for your answers.

[2021-02-27 23:46] jfolden opened #3933 "make launch error Windows 10 carla 0.9.11 "The filename, directory name, or volume label syntax is incorrect.""
Hi all, when ever I try and run **make launch** I'm hit with the same error, _"The filename, directory name, or volume label syntax is incorrect."_. I've tried everything in the FAQ, including deleting and re-cloning carla. The UE4_ROOT environment variable is pointing to my UE4 folder, and I have the carla content in "Content\carla".

Here's the output from when I run **make launch**.
[code]
I've

[2021-02-28 03:18] Zhuweilong123 commented on #3933
@jfolden
Do you add UE4_ROOT(my path is D:\CARLA\CARLA_Latest\carla) to your environment variable?  UE4_ROOT should be located to the root directory of CARLA simulator.
![1](https://user-images.githubusercontent.com/59521421/109406540-e354ed00-79b4-11eb-99ac-e9165493cdc9.PNG)

If you set your environment variable correctly. I strongly recommend you to check the execution logic in BuildCarlaUE4.bat

[2021-02-28 16:30] guohaojie192 opened #3934 "How to achieve the effect?"
[https://www.youtube.com/watch?v=eCWeU0RnnGg](url)
 I saw a video on YouTube which seem using CARLA Simulator, I want to ask how to achieve the effect in the video that all vehicles shuttle each other smoothly. Thanks!

[2021-02-28 19:20] ipirva commented on #3887
I plan to run both, client and server, on an NVIDIA Jetson Xavier NX and take advantage of the acceleration hardware. I have not been able to setup the UE.

[2021-03-01 03:07] bitekas commented on #3269
@HarnarayanSingh Yes, the nightly build is working for me.

[2021-03-01 06:47] ImtiazUlHassan opened #3935 "GNSS sensor values doesn't changes over time."
im trying to print values from GNSS sensor data which is attached to a vehicle. Although the vehicle is driving and its position changes over time but the data printed by GNSS sensor remain the same.

[code]

I have also attached a camera to the vehicle which shows the position of the car is changing. Also to make sure that the sensor is attached to vehicle i checked its parent which is vehicle.

[2021-03-01 06:57] ImtiazUlHassan opened #3936 "How the GNSS module of carla works ?"
I have recently started working with carlas GNSS module. Im facing an issue understanding how it works. As where ever i spawn the sensor  in the map town3 the output return by  ` gnss.listen()  ` is same.

[code]
![del2](https://user-images.githubusercontent.com/56826204/109462236-2bb1f080-7a31-11eb-87ad-a689e58d1398.png)

And when i change the spawn location

![del2](https://user-images.githubuse

[2021-03-01 09:47] JohanVer commented on #3705
@qhaas that is great, thank you! Do you have any idea if the changes that you provided let carla also compile on 4.26 (I need the new water system) ?

[2021-03-01 10:10] corkyw10 commented on #3544
@joel-mb could you follow up on this please?

[2021-03-01 10:17] corkyw10 commented on #3547
@Yerin703 are you still experiencing this issue?

[2021-03-01 10:18] Yerin703 commented on #3547
No, I'm OK with that problem.

2021년 3월 1일 (월) 19:17, Corinne <notifications@github.com>님이 작성:

[2021-03-01 10:20] #3547 closed

[2021-03-01 10:27] #3545 closed

[2021-03-01 11:22] FHof commented on #3544
The problem no longer happens with CARLA 0.9.11.

[2021-03-01 11:22] #3544 closed

[2021-03-01 12:01] kanakab opened #3938 "UE4 crashes while loading a custom map in Carla"
I have created a map with roadrunner and imported in a build from source (Linux - Ubuntu 18.04) machine. However the map loaded the very first time I imported it. However now when I click on File->Open level -> map_package -> "the imported map file", unreal engine is crashing, sometimes it is showing out of device memory, sometime the error is "caught signal 11". I am not able to resolve this erro

[2021-03-01 12:52] qhaas commented on #3705
As I mentioned in [Issue 3214](https://github.com/carla-simulator/carla/issues/3214#issuecomment-773284624), Epic added a a `DEPRECATED` suffix to several API calls used by CARLA with UE 4.25.  I haven't checked, but those were likely removed in UE 4.26 and will require a heavier lift than going to 4.25.  The good news is that it appears CARLA will be migrating to UE 4.26 in the future, per [Issue

[2021-03-01 14:30] MankaranSingh commented on #3883
thanks @ImtiazUlHassan. nice catch !!

[2021-03-02 03:25] erfpak7 commented on #88
I'm getting the same error trying to use Logitech G29 on Windows 10. Is there any solution for it?

[2021-03-02 04:51] LVJ047 commented on #3507
@corkyw10 I could resolve it temporarily using Asylbeck's input.

Thanks

[2021-03-02 05:07] damascenodiego commented on #88
Unfortunately I don't have access to a steering wheel anymore. Then, it's
difficult to help you out.

However, given the last message, I would say that you could try updating
the *map_name* attribute to the corresponding one in the version you are
using, or simply commenting this part of the code.

On Tue, 2 Mar 2021, 04:25 erfpak7, <notifications@github.com> wrote:

[2021-03-02 07:42] JeongKyuho opened #3939 "C2665 : none of the 2 overloads could convert all the argument types. Occurred while create a sensor"
I need help to create a sensor. I added a sensor by referring to the document, but I don't know why there is an error in the rebuild process.

  SafeDistanceSerializer.cpp
c:\projects\ue4\carla\libcarla\source\carla\sensor\data\safedistanceevent.h(22): error C2665: 'carla::sensor::data::Array<carla::rpc::ActorId>::Array': none of the 2 overloads could convert all the argument types. [C:\Projects\U

[2021-03-02 07:44] JeongKyuho commented on #3939
my software versions :

carla 0.9.11-4
OS: windows 10
VS : 2017
Python : 3.7.9

[2021-03-02 08:00] jackbart94 commented on #3915
Follow carefully what it says at [this link](https://carla.readthedocs.io/en/latest/adv_rss/) please.

[2021-03-02 10:05] saina110 opened #3941 "How to use the output attribute of sensors (e.g., obstacle sensor)"
Dear everyone,

I am currently trying to get output value from some sensors, for example, I'd like to get the output value from the obstacle sensor, I saw some output attributes in the sensor reference:

`
actor | carla.Actor | Actor that detected the obstacle (parent actor).
other_actor | carla.Actor | Actor detected as an obstacle.
distance | float | Distance from actor to other_actor.
`

But I

[2021-03-02 10:25] jackbart94 commented on #3860
Thanks to your feedback we found an issue with the ``is_alive`` variable. We are working on a fix and it should be merged soon. After it's merged, you can check if a vehicle has been destroyed by Traffic Manager simply using:
```if world.get_actor(id).is_alive is False: print("Vehicle has been eliminated")```

[2021-03-02 11:40] Madecu commented on #3494
Hi @PTorr,

Have you tried the new version of CARLA?
The problem you had is it still happening?

We appreciate your feedback and see if we can help you

[2021-03-02 11:47] corkyw10 commented on #3552
@philippwulff Thanks for your patience, are you still experiencing this issue?

@bernatx would you be able to follow up please?

[2021-03-02 12:17] PTorr commented on #3494
Still the same.

I do work in Ubuntu.

[2021-03-02 12:26] Madecu commented on #3494
Can you send an image of the problem? If you don't change the fog values, the sky is still black or it becomes black when changing fog density?

[2021-03-02 17:36] ammaryasirnaich commented on #3817
Thanks @yuemingl, but I have managed to run Carla docker's image.

[2021-03-02 17:36] #3817 closed

[2021-03-03 04:10] zxqzhang opened #3943 "Carla cannot run on a headless ubuntu server"
Hi,
I have rented a ubuntu server that cannot use docker,  so I installed Carla following the official guidelines. After installing it and setting the environment variable SDL_VIDEODRIVER=offscreen, the carla simulator still doesn't run, and the output shows

4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.

Please help.

[2021-03-03 04:31] ImtiazUlHassan commented on #3883
[code]

[2021-03-03 07:34] #3941 closed

[2021-03-03 09:54] PTorr commented on #3494
![image](https://user-images.githubusercontent.com/8789891/109787590-0e3e7b80-7c17-11eb-9515-f14c48f900be.png)

When I'm not using fog parameter everything works fine.

[2021-03-03 09:57] PTorr commented on #3943
Try:
env SDL_VIDEODRIVER=offscreen bash -x /home/carla/CarlaUE4.sh -carla-server -world-port=2000 -opengl -quality-level=Epic -NOSOUND

[2021-03-03 10:31] Axel1092 commented on #3366
Hi @EVYang1992, sorry for the answer delay. What CARLA version are you using and what settings for carla.Osm2OdrSettings? I have tried with 0.9.11 and your map seems to work properly.

[2021-03-03 10:34] Axel1092 commented on #2776
@abood002 check our documentation in https://carla.readthedocs.io/en/latest/ in the Linux/Windows Build guides to ge Unreal engine

[2021-03-03 10:46] JHMeusener commented on #3009
Hello, if anyone is interested, i wrote a small workaround for the projection-issue with the Carla OSM Converter.
[Carla Projection Workaround for OSM to XODR Conversion](https://github.com/JHMeusener/CarlaSimpleXODRProjectionWorkaround)

[2021-03-03 10:47] Axel1092 commented on #3853
@MS012086 sorry for the late response. I can only think that this issue is due to small variations in the road geometry at the time of exporting. Carla has no support for superelevation or crossfall (non flat cross section in the road). Perhaps roadrunner is exporting additional objects as well. Also, in the parts where the vehicle has the strange behavior we can see this weird noise in the image

[2021-03-03 10:54] Axel1092 commented on #3320
@brieucdnl, your issue seems to be related to your visual studio installation as the unistd.h file mentioned in your error log is visual studio one.

[2021-03-03 11:02] JHMeusener commented on #3686
Hello, if anyone is interested, i wrote a small workaround for the projection-issue with the Carla OSM Converter.
[Carla Projection Workaround for OSM to XODR Conversion](https://github.com/JHMeusener/CarlaSimpleXODRProjectionWorkaround)

[2021-03-03 11:03] raymanfx opened #3945 "[0.9.11] world.get_actors() empty in synchronous mode"
CARLA version: 0.9.11
OS: Fedora 33

I'm basically doing the following:
1. Start the server
2. Start a client and spawn a vehicle, set server to synchronous mode with 20 FPS:
[code]
3. Start another client, try to get the first client so I can attach some sensors:
[code]

In step 3, the list of actors returned by `get_actors()` is empty in synchronous mode. When running in async mode (CARLA defaul

[2021-03-03 11:08] Axel1092 commented on #3512
Hi all, I have checked the issue and the problem is that the lane invasion sensor relies on the OpenDRIVE data to detect the lane markings but these are not exported within junctions. The example you are showing a situation which is labelled as junction in OpenDRIVE (even if only the opposite side of the road has connections with other roads.

[2021-03-03 11:10] #3374 closed

[2021-03-03 11:26] alroar912 opened #3946 "XODR into Carla Simulator"
Hi,
I'm have a map in a .xodr extension, I'm trying my best to upload it to Carla Simulator but end up in some problems such as:
ModuleNotFoundError: No module named 'carla'
When copying the folder into de \PythonAPI\util, I have this messsage:
AttributeError: module 'carla' has no attribute 'Client'
I'm getting all these messages by following the guide: https://carla.readthedocs.io/en/latest/adv_

[2021-03-03 11:37] Axel1092 commented on #3130
Hi all, we are on the way of changing the lens distortion algorithms as we found some issues and inaccurate results with the current implementation. We plan to expose these parameters so that they can be tuned easily.

[2021-03-03 11:40] thytless commented on #3452
Excuse me but I have been away from this issue for quite a long time, 0.9.9.4 is good and stable for me. Maybe I would like to test it with latest carla later.

[2021-03-03 11:51] Axel1092 commented on #3523
Hi @ThierryDeruyttere, sorry for the late response, apparently your OSM data does not contain the type of the roads it is exporting (highway, railway, waterway, cycleway, busway, route, sidewalk, highspeed or usage) which is necessary to properly generate the representation of the road. How are you generating this data?

[2021-03-03 11:54] Axel1092 commented on #3922
@amzoo Waypoints are representations of the road so their transform only points towards the center of the lane. You can however obtain displaced locations in the road using the `transform.get_right_vector()` to obtain a location laterally displaced from the center of the lane.

[2021-03-03 11:56] jackbart94 commented on #3945
If you're in synchronous_mode, you must tick the World in the first client. Do you do that anywhere in your code?

[2021-03-03 12:01] Axel1092 commented on #3009
@hongyuli the problem with netconvert is that junctions are broken which causes our parser to crash due to references to non-existing roads in the OpenDRIVE file. My guess is that with some options RoadRunner may be able to repair these issues providing a working OpenDRIVE.

[2021-03-03 12:36] Madecu commented on #3494
I can't reproduce your error. I do see the fog in Linux. Can you show me how do you change the fog value?
I used environment.py --fog 100 in this example

![image](https://user-images.githubusercontent.com/54811869/109806762-5ebcd580-7c25-11eb-9895-67f47675a722.png)

[2021-03-03 13:04] saina110 commented on #3915
I redo the steps following the link you share:
**Colon Build**
(1). **colcon build** within the **ad-rss-lib** folder:
`Starting >>> spdlog
Starting >>> ad_map_opendrive_reader
Starting >>> PROJ4
Finished <<< spdlog [0.15s]
Starting >>> ad_physics
Finished <<< ad_map_opendrive_reader [0.19s]
Finished <<< PROJ4 [0.21s]
Finished <<< ad_physics [0.18s]
Starting >>> ad_map_access
Starting >>> ad_rss
F

[2021-03-03 13:36] HaoZhouGT commented on #3168
Hello sir, I found the same issue. Any brake value gives the same decelerations. Did you solve the brake issue in the end?

[2021-03-03 14:03] PTorr commented on #3494
exactly the same as you.
maybe because I'm using:`./CarlaUE4.sh -opengl`

On Wed, Mar 3, 2021 at 2:36 PM Marcos <notifications@github.com> wrote:

[2021-03-03 14:05] corkyw10 commented on #3554
@fpasch could you follow up on this please?

[2021-03-03 14:08] corkyw10 commented on #3557
@philippwulff Are you still experiencing this issue? If so can you tell me what version of CARLA you are using?

[2021-03-03 14:09] #3558 closed

[2021-03-03 14:14] corkyw10 commented on #3562
@philkr Thanks for your patience and for filing the issue. I will update the image

[2021-03-03 14:17] #3564 closed

[2021-03-03 14:19] #3571 closed

[2021-03-03 14:22] corkyw10 commented on #3573
@harmeeksinghbedi Are you still facing this issue? If so could you give some more context on the issue? Does the error happen under a certain set of circumstances? What version of CARLA are you using?

@jackbart94 Could you follow up please?

[2021-03-03 14:25] corkyw10 commented on #3574
Hi @manonechu I don't think we have what you are looking for out of the box, you can find the list of vehicles available [here](https://carla.readthedocs.io/en/latest/bp_library/#vehicle). We are always working on new vehicles so keep an eye out for trucks being added in the future.

There is also a tutorial for adding your own vehicle [here](https://carla.readthedocs.io/en/latest/tuto_A_add_vehic

[2021-03-03 14:27] corkyw10 commented on #3577
@Jae-Seung-Jeon Are you still experiencing this issue?

@DSantosO Could you follow up on this please?

[2021-03-03 14:37] jackbart94 commented on #3573
Unfortunately, without any way to reproduce this, I can't debug it. We would need more information.

[2021-03-03 14:38] Axel1092 commented on #3579
Hi @davidtena98, sorry for the late response. We don't have means to change the sensitivity of the server camera. The rotation will be larger the greater the fps you get at any given point.

[2021-03-03 14:42] corkyw10 commented on #3580
We have the following [tutorial](https://carla.readthedocs.io/en/latest/tuto_D_create_sensor) which may help.

Otherwise, @bernatx do you have any advice on this? Maybe we can make some changes and updates to the docs

[2021-03-03 14:44] blackliner commented on #2970
For now I start the `CarlaUE4.exe` in Windows and the `carla-ros-bridge` in WSL2, works like a charm

[2021-03-03 14:47] corkyw10 commented on #3584
@jackbart94 Would you be able to follow up on this please?

[2021-03-03 14:53] corkyw10 commented on #3588
Hi @yixiao1 are you still experiencing this issue?

@bernatx would you be able to follow up on this please?

[2021-03-03 14:53] #3589 closed

[2021-03-03 14:55] #3590 closed

[2021-03-03 14:55] #3591 closed

[2021-03-03 15:00] corkyw10 commented on #3592
@TeeManiac Thanks for your patience, are you still experiencing this issue?

@YenTran32 if you are installing on windows, there is updated documentation [here](https://carla.readthedocs.io/en/latest/build_windows/#software-requirements) and in linux you'll find the dependencies needed [here](https://carla.readthedocs.io/en/latest/build_linux/#dependencies). If you have any specific issues then the

[2021-03-03 16:21] XGodina commented on #3900
![camera1](https://user-images.githubusercontent.com/39989886/109835487-891d8b80-7c43-11eb-8f11-236e2027ee02.PNG)
![Captura2](https://user-images.githubusercontent.com/39989886/109835494-8a4eb880-7c43-11eb-84b7-317f2694b8f9.PNG)
![Captura3](https://user-images.githubusercontent.com/39989886/109835501-8ae74f00-7c43-11eb-912a-5fc48245047b.PNG)

I've tested de camera and I think the camera of pedestr

[2021-03-03 16:30] amzoo commented on #3922
I can use carla.Locations fine, but I was hoping there were carla.Waypoints that I could move from the center of the lane in order to use the methods in the Waypoint class

[2021-03-03 16:36] #3555 closed

[2021-03-03 17:09] germanros1987 commented on #3583
Hi @FarukOzderim . I do run CARLA remotely via VNC. There are a few things to consider in order to do the right setup.

First, you need to run a X.org server in the remote node.
On top of that you need an X-zero VNC server. This means a VNC server that doesn't bring its own X server. A good option is tigerVNC. The command to run the X0VNC server typically looks like this:
```x0vncserver -Display=:

[2021-03-03 17:26] lrstttl commented on #3898
You can either use `make PythonAPI.2` or change line 15 in file Util/BuildTools/Setup.sh to `PY_VERSION_LIST=2,3` in order to always compile with Python2 support.

[2021-03-03 18:04] ThierryDeruyttere commented on #3523
I was using https://github.com/gdlg/nuscenes-to-osm-exporter to generate the file I believe.

[2021-03-03 20:41] philippwulff commented on #3557
I am not working on this anymore and since it is so far back I cannot reproduce it

[2021-03-03 20:41] #3557 closed

[2021-03-03 22:46] raymanfx commented on #3945
Yes, I'm doing it in the first client. My agent can drive the hero vehicle just fine, so server <-> client synchrony works fine. I can probably setup a minimal example for you to reproduce this if needed.

[2021-03-04 01:00] YuqiaoBai commented on #3823
I have the same issue

[2021-03-04 05:08] ImtiazUlHassan commented on #2737
Hi @GabiShahmayster  thank you for explaining it so briefly. I have a question. How can i calculate ` R_enu_to_carla `

and is the following function valid for calculating  ECEF -> ENU rotation matrix?

[code]

and one thing more while performing this ` R_ecef_to_enu * (P_ecef-O_ecef) `   by P_ecef_O is a tuple of 3 points righ ? And the order would be x,y,z ?

[2021-03-04 06:43] YenTran32 commented on #3592
Hi Corinne,

Thank you very much for the instructions. I will try to re-compile Carla
from source following the instructions and I will post my result to the
forum later when I come back to this.

However, I think the solution you mentioned is for those who build Carla
from source. In case I use a pre-compiled release of Carla, e.g., just
download from this link
<https://carla-releases.s3.eu-west-

[2021-03-04 08:43] grazvydas commented on #3943
We had similar problem with our Ubuntu server.
Can you run `nvidia-smi ` inside container and show the output? If GPU is available and has proper drivers, then run `ldconfig -p | grep -E 'nvidia|cuda'`  and print the output.
 You may need to install something like `libnvidia-gl-{NVIDIA_DRIVER_VERSION` in your docker image.

[2021-03-04 08:45] jackbart94 commented on #3945
Please do, we definitely need more information to debug this.

[2021-03-04 09:40] psarka commented on #3873
I have the same issue, the sample test passes with `OK1`, but I get exactly the same black screen. The controls are also not responsive, or at least the throtle, steer and break indicators do not change when I press the corresponding keys.

[2021-03-04 10:36] psarka commented on #3873
Surprisingly, for me rendering works with carla 0.9.10 @Michal-Kolomanski, could you give it a try? It does work with 0.9.11.

[2021-03-04 10:38] PTorr commented on #3649
You can do all of the above.
The recording time depends on resolution/ num of actors etc.

[2021-03-04 10:39] WoLewicki commented on #3873
@psarka can you provide the commands you are running the carla docker with?

[2021-03-04 10:40] PTorr commented on #3624
Why do you need replay for this? You can add all the cameras in one recording.

[2021-03-04 10:51] EchoYJJ opened #3949 "How to adjust the position of 'fbx' network in CARLA : co-simulation between CARLA and SUMO."
Hi, I meet some problems in the co-simulation between CARLA and SUMO.
I use Roadrunner to create the **fbx** file and import it to CARLA at the default position "0,0,0"
However, for some reasons, my **net** file in SUMO doesn't center "0,0,0". In other words, the 'convBoundary' in 'location' isn't "0.00,0.00,X,X" which states in the examples. As a result, my cars and network are in different posit

[2021-03-04 11:20] psarka commented on #3873
Sure, with

[code]

[2021-03-04 11:26] LuigiRu opened #3950 "Spawn_Objects"
Hi everyone,
I am using Carla 9.10 and the latest ros-bridge on Ubuntu Melodic 18.04. I am struggling to understand how does the carla_spawn_objects (carla_ros_bridge) works. More in detail I have the following problem:

I want to add more vehicles (ego_vehicle, hero, hero01, etc...) in the simulation, by adding the vehicles in a objects.json file. At first I would like to spawn all the vehicles i

[2021-03-04 11:49] kanakab commented on #3946
Hi,

I believe this issue is due to different versions of Python. Check out the version of python required using the egg file of the Carla installed and check the default version of python you are using. Once you change this it should work.

[2021-03-04 11:51] kanakab commented on #3938
I found out the issue, the map was crashing because the GPU was not able to compute Mesh distance fields. I disabled mesh distance fields in the settings, and it is working now.

[2021-03-04 11:51] #3938 closed

[2021-03-04 14:19] corkyw10 commented on #3594
@mawi42 thanks for your patience

@DSantosO could you have a look at this please

[2021-03-04 14:20] corkyw10 commented on #3597
@wbridewell Thanks for your patience, are you still facing this issue?

[2021-03-04 14:22] corkyw10 commented on #3599
@bernatx Could you follow up on this please?

[2021-03-04 14:28] wbridewell commented on #3597
I moved forward to 0.9.11 and with this and a few other changes was able to get the Python API working.

[2021-03-04 14:28] #3597 closed

[2021-03-04 14:36] corkyw10 commented on #3605
@aadimator thanks for your patience, are you still facing this issue? There is an updated guide on building CARLA in windows [here](https://carla.readthedocs.io/en/latest/build_windows/)

[2021-03-04 14:38] #3606 closed

[2021-03-04 14:42] corkyw10 commented on #3609
@wmpeets thank you for your patience, are you still facing this issue?

[2021-03-04 14:56] corkyw10 commented on #3610
@Axel1092 could you follow up on this please?

[2021-03-04 14:57] corkyw10 commented on #3611
@Yifanny thank you for your patience. Are you still experiencing this issue?

[2021-03-04 14:58] #3613 closed

[2021-03-04 15:01] corkyw10 commented on #3615
@ZhenWang-GoodST Thanks for your patience, are you still facing this issue? If so can you tell me what version of carla you are using and the OS?

[2021-03-04 15:03] Michal-Kolomanski commented on #3873
Thanks for the response @psarka. I pulled `carlasim/carla:0.9.10` on the Ubuntu server and downloaded `Carla 0.9.10` locally on Windows 10.  Furthermore, I have used your script to run a Docker but I still got the black screen in `manual_control.py` from Carla 0.9.10.

Could you please say where do you run your Docker container? It's locally on Windows or maybe remotely on Ubuntu 18.04.4 LTS?

Mor

[2021-03-04 15:08] corkyw10 commented on #3618
@bernatx is there an update on this issue?

[2021-03-04 15:09] Axel1092 commented on #3616
Hi @GustavoSilvera, you could use pygame to detect position and drag of the mouse to change the camera orientation accordingly  with the `set_transform()` function you mention but there is no better way to do this.

[2021-03-04 15:14] corkyw10 commented on #3622
@FarukOzderim thanks for your patience. Are you still experiencing this issue? I just tested on Carla 0.9.10.1 and I saw the map as is expected from that sensor. what version of Carla are you using?

[2021-03-04 15:18] psarka commented on #3873
Thanks for checking, it is sad that 0.9.10 does not work for you.

I'm running the server container on ubuntu 20.04.1, and I'm running the client on a different ubuntu 20.04.2. By the way, my client is 0.9.11, which I installed with apt-get install (0.9.10 is not available, even though the docs say that it should be. But 9.11 client works with 9.10 server so not an issue at least for the moment).

[2021-03-04 15:40] Michal-Kolomanski commented on #3873
Thank you @psarka, this is a very helpful tip for me. So probably there is a problem with Windows -> Ubuntu connection.
I will try connecting from some virtual machine with an Ubuntu system.

Could you say something about your performance?  Are responsiveness and FPS satisfactory?

[2021-03-04 15:43] psarka commented on #3873
No, not satisfactory at all, around 10 FPS. I tried to compile the vulkan version, but for that one I get the black screen :(

[2021-03-04 17:07] GustavoSilvera commented on #3616
Hi @Axel1092, thanks for your suggestion. Unfortunately I already tried something similar to this and found that it does not suit my purposes well as it is very laggy with a moving vehicle and I was looking into VR support.

In this regard I've transitioned to using the UE4 game itself (simulator 'server') as the main viewpoint since UE4 has native VR support and so far this approach has been succ

[2021-03-04 17:07] #3616 closed

[2021-03-04 18:38] sagar-g-v commented on #3931
Hi @parth3153 . This is because of the name used to filter is not matching
you can check the full name or starting string and aslo make sure you have added your vehicle in VehicleFactory blueprint

[2021-03-04 21:12] xinshuoweng commented on #3624
There could be many usages of this. One good reason is for reproducibility, i.e., I would like to be able to record the exactly same data (camera, lidar, etc) using the replaying function

[2021-03-04 21:12] Mano2610 opened #3952 "Error while trying examples"
(WindowsNoEditor) D:\Carla\WindowsNoEditor\PythonAPI\examples>python spawn_npc.py

destroying 0 vehicles

destroying 0 walkers

done.
Traceback (most recent call last):
  File "spawn_npc.py", line 301, in <module>
    main()
  File "spawn_npc.py", line 109, in main
    world = client.get_world()
RuntimeError: time-out of 10000ms while waiting for the simulator, make sure the simulator is ready and

[2021-03-04 21:14] Mano2610 commented on #3952
I have also tried with python spawn_npc.py -n 80

But again getting the same error

[2021-03-04 21:33] Mano2610 commented on #3193
@nagasanjay did the issue get resolved?

I am also getting the same error in windows. Kindly share me how to resolve this port issue.

[2021-03-04 21:56] erouirior commented on #3661
I am facing the same problem. Could you please tell that if you have solved this problem? Thanks!

[2021-03-05 04:22] bpoebiapl opened #3953 "Some objects are not visible in LiDAR"
Environment: Windows 10 & Ubuntu 20.04
Version: 0.9.11
Map: Town10HD

Some objects (buildings, some kind of trees, traffic lights, ...) are not visible in LiDAR.
In certain situations, points may be taken through buildings or in places where the scanning does not sweep.

![0](https://user-images.githubusercontent.com/18179088/110066623-3ebc1c00-7db5-11eb-9a8c-0c41002a8845.png)
![capture](https://u

[2021-03-05 09:33] glopezdiest commented on #3603
Hey @KunanonxGithub, yeah you definitely can. I'd recommend using the synchronous mode of CARLA to make sure all your calculus are done in time, but apart from that it is completely up to you.

[2021-03-05 12:50] XGodina commented on #3615
Hi, @ZhenWang-GoodST
Do you add your car to the BP_vehicle factory. This BP, contains all cars that you after spawning with manual_control.py or spawn_npc.py

[2021-03-05 13:42] corkyw10 commented on #3624
@DSantosO are you able to help with this please?

[2021-03-05 13:49] corkyw10 commented on #3626
@TKeutgens thanks for your patience

@bernatx could you help with this please?

[2021-03-05 13:54] corkyw10 commented on #3630
@Xavi would you be able to help with this please?

[2021-03-05 13:56] corkyw10 commented on #3632
@Axel1092 would you be able help with this please?

[2021-03-05 14:05] corkyw10 commented on #3634
@DSantosO are you able to have a look at this please?

[2021-03-05 14:06] corkyw10 commented on #3635
@XGodina is there any update on this?

[2021-03-05 14:10] #3637 closed

[2021-03-05 14:11] corkyw10 commented on #3640
@KNHP are you still facing this issue?

[2021-03-05 14:15] raymanfx commented on #3624
Running the simulation with 3 (or more) camera sensors attached is very computationally expensive. I would like to be able to record the scenery with an autonomous agent driving the vehicle. When the route navigation is completed, I review the recording to make sure the car did not crash / drive into a wall / run over pedestrians, etc.
If the recording is good, I attach the sensors reenact the sce

[2021-03-05 14:20] #3644 closed

[2021-03-05 14:23] corkyw10 commented on #3645
Duplicate of #3640

[2021-03-05 14:23] #3645 closed

[2021-03-05 14:29] corkyw10 commented on #3646
Hi @xty199636 the script in [`PythonAPI/examples/manual_control_steeringwheel.py`](https://github.com/carla-simulator/carla/blob/master/PythonAPI/examples/manual_control_steeringwheel.py) has an example using a steering wheel. Do you have a specific question regarding the usage?

[2021-03-05 14:38] corkyw10 commented on #3497
@doterop would you be able to have a look at this please?

[2021-03-05 14:45] corkyw10 commented on #3592
Hi @YenTran32 yes the links I posted are for people who are building CARLA from source. I assumed that was your case because you asked about make, cmake etc. That software is only required for people building from source.

If you want to use the pre-compiled, packaged version of CARLA then the instructions are found [here](https://carla.readthedocs.io/en/latest/start_quickstart/). You will only ne

[2021-03-05 17:44] rcakella opened #3957 "ls"

[2021-03-05 18:02] germanros1987 commented on #3623
Hi @goksanisil23

From the perspective of making an unstructured map, you would have to leverage UE4's editor or external tools (perhaps a combination of both). Then you would need to give up all the NPC controllers (Traffic Manager, etc.), and put together your own navigation logic.

You may think that something like the LocalPlanner could be reused since it only depends on some general waypoints

[2021-03-06 07:04] goksanisil23 commented on #3623
Thank you very much for your insightful feedback @germanros1987

[2021-03-06 09:00] bijayaniSMishra opened #3958 "Trying to learn more about Carla"
Hi Team,

I am trying to build an autonomous taxi using the Carla Simulator as part of my college project.
I want to know, Is it possible to fetch the distance traveled by Car and set the source and destination for a car through an external API?

Thanks

[2021-03-06 09:23] #3957 closed

[2021-03-06 09:24] jackbart94 commented on #3958
Check ``automatic_control.py`` and its related scripts. We don't have documentation about this, but there will soon be.

[2021-03-06 16:26] b-safwat opened #3959 "Windows .. Cannot change map"
No matter which map I pass in the arguments, I always get the same map
`CarlaUE4.exe "HDMaps/Town01.pcd"`
I even tried passing full map path but no luck.

![image](https://user-images.githubusercontent.com/33165067/110213524-21687a00-7ea9-11eb-8f9a-45f5016acaad.png)

[2021-03-07 06:48] PTorr commented on #3624
Good reason.
How do you show the replay?

On Fri, Mar 5, 2021 at 4:16 PM Christopher N. Hesse <
notifications@github.com> wrote:

[2021-03-07 07:05] GabiShahmayster commented on #2737
Hi @ImtiazUlHassan,

Don't worry, if you haven't dealt with coordinates transformations, they can definitely be a little tricky.

Basically, we are dealing with 3D vectors and their representations w.r.t various coordinate systems.
The order is indeed usually [x,y,z], however please note that these are linear algebra operations, performed on vectors, so these should not be tuples but mathematical

[2021-03-07 07:47] PTorr commented on #3624
I did it with synchronous mode. It's slow, but it works.

[2021-03-07 08:53] PTorr commented on #3943
Additionally, I think that what you are getting is just a warning.
My server has the same output and it runs just fine.

[2021-03-07 14:27] Michal-Kolomanski commented on #3911
Solution:
The line:
`-e DISPLAY=$DISPLAY
`
Should be replaced with:
`-e SDL_VIDEODRIVER='offscreen'`

The line: `-e SDL_VIDEODRIVER='offscreen'` with a high degree of probability means 'generate graphic to some fake display'.

Thanks to @psarka for the solution.

[2021-03-07 14:27] #3911 closed

[2021-03-07 15:17] dymons commented on #1231
Hi, @youngsend and @ykaganov, I'm facing the same problem. The problem is due to the fact that no file was specified for the Toolchain.
[code]
In order to build a project, you need to call the following command in the command line (you can use the Makefile):
[code]
In order to build the project in the CLion, I did the following steps:
1. I modified the root one CMakeLists.txt as follows:
[code]

2

[2021-03-08 02:14] liuyandong1988 opened #3960 "Fixed time-step: How can I get desired fixed fps by world.setting ?"
When I use carla-linux-build version, I can make launch the carla. And set the available or fixed fps by UE4 edit.

![fps-1](https://user-images.githubusercontent.com/21078728/110265573-d3618c80-7ff6-11eb-9bc8-aa9142c42733.png)

And then I read the carla documentation. I want to modify fps in client-python-script.

But I cannot get the result.  The fps seems to be running in a way that available f

[2021-03-08 02:45] calix35 commented on #3597
Do you found the solution for this problem?

[2021-03-08 04:54] ImtiazUlHassan commented on #2737
Hi @GabiShahmayster  Yeah that helps alot and thank you so much. My issue got resolved. I'm writing it here for the community.

[code]

i don't own any credits to this script. the original script can be found [Here](https://gist.github.com/sbarratt/a72bede917b482826192bf34f9ff5d0b)

[2021-03-08 05:09] #3831 closed

[2021-03-08 07:49] MS012086 commented on #3853
Hi @Axel1092 ,

Thank you very much for your information.

We have removed additional objects( Guardrail and surrounding landscape) from road profile.
And now we could not visualize the bouncing behavior on the road.
Even after removing the additional objects, we could see the noise in the image but it is not affecting the vehicle behavior.

[2021-03-08 10:21] aadilh commented on #3754
Hi @XGodina,
I did not use it but from the documentation it seemed like filterv is a filter for vehicles and would spawn objects at vehicle spawn points. Do you know any place where I can read more about it?

[2021-03-08 15:00] corkyw10 commented on #3650
@jackbart94 could you have a look at this please?

[2021-03-08 15:05] #3653 closed

[2021-03-08 15:19] corkyw10 commented on #3655
@Axel1092 could you have a look at this please?

[2021-03-08 15:24] corkyw10 commented on #3659
@doterop could you have a look at this please?

[2021-03-08 15:25] corkyw10 commented on #3660
@bewithme are you still facing an issue? Could you please provide more information? Carla version, operating system, command being run

[2021-03-08 15:30] corkyw10 commented on #3661
The documentation is a bit misleading with the instruction _open the project and build the plugins by clicking Yes._. Once you have generated the plugin files in step 3a. then run `make launch` in the terminal to rebuild Carla/Unreal with the plugins.

[2021-03-08 15:32] corkyw10 commented on #3663
@qhaas Thank you for the input and patience

@bernatx would you be able to have a look at this please?

[2021-03-08 15:38] corkyw10 commented on #3667
@Axel1092 are you able to have a look at this please?

[2021-03-08 15:40] corkyw10 commented on #3670
@doterop would you be able to have a look at this please?

[2021-03-08 15:42] corkyw10 commented on #3672
@NurbekHalikulov thanks for you patience, are you still facing this issue?

@DSantosO Are you able to have a look at this please?

[2021-03-08 15:45] corkyw10 commented on #3673
@DSantosO could you have a look at this please?

[2021-03-08 15:48] corkyw10 commented on #3676
@doterop could you follow up on this please?

[2021-03-08 15:51] Axel1092 commented on #3658
Hi @yangyueren, right now carla does not support multi-gpu setups by default. The simulator starts and uses only a single GPU. You could try to make use of multiple GPUs by running several instances of the server in a different GPU each which you can do with the environment variable DISPLAY (e.g. `DISPLAY=1 ./CarlaUE4.sh`) and have each instance handle a subset of cameras.
The main reason for the

[2021-03-08 15:51] corkyw10 commented on #3677
@kareido thank you for your patience, are you still facing this issue?

[2021-03-08 15:58] corkyw10 commented on #3679
@fabianoboril could you follow up on this please?

[2021-03-08 16:00] corkyw10 commented on #3683
@jackbart94 Could you follow up on this please?

[2021-03-08 16:01] corkyw10 commented on #3685
@yanhuhu Thanks for your patience, are you still experiencing this issue?

[2021-03-08 16:01] fabianoboril commented on #3679
The CARLA RSS sensor uses the ad-rss-lib.

[2021-03-08 16:03] xgnit commented on #3679
thank you

[2021-03-08 16:03] #3679 closed

[2021-03-08 16:04] corkyw10 commented on #3687
@bernatx could you follow up on this please?

[2021-03-08 16:05] #3686 closed

[2021-03-08 16:06] corkyw10 commented on #3688
@Axel1092 Could you follow up on this please?

[2021-03-08 16:11] corkyw10 commented on #3692
@jackbart94 would you be able to have a look at this please?

[2021-03-08 17:53] psarka opened #3964 "Carla client python wheel"
We are running carla server on the server and carla client on the client. As such, current packaging is a bit cumbersome, as python client requires the same ~8GB of space and only works on ubuntu, and requires a random egg matching python version.

It does not have to be this way - we managed to build a wheel that is cross distro is ~30MB. It can be installed properly with pip install [carla-clien

[2021-03-09 06:45] ImtiazUlHassan commented on #3936
The issue has been resolved here [](https://github.com/carla-simulator/carla/issues/2737#issuecomment-792229832)

[2021-03-09 06:45] #3936 closed

[2021-03-09 06:46] ImtiazUlHassan commented on #3935
The issue has been resolved  (https://github.com/carla-simulator/carla/issues/2737#issuecomment-792229832)

[2021-03-09 06:46] ImtiazUlHassan commented on #3935
The issue has been resolved  (https://github.com/carla-simulator/carla/issues/2737#issuecomment-792229832)

[2021-03-09 06:46] #3935 closed

[2021-03-09 07:08] ImtiazUlHassan opened #3965 "Carla rosbridge manual.py doesn't publishes control commands in autopilot mode"
I'm trying to record the control commands i.e steer and throttle using Carla-Ros bridge. But when i launch Carla Ros bridge with ego vehicle example.Control commands are publish when  i drive manually. But when i set the auto-pilot on it no data is published on the topic.

when i set auto pilot off

![gifgit](https://user-images.githubusercontent.com/56826204/110431733-2df0fc00-807c-11eb-844d-60e8

[2021-03-09 08:44] parth3153 commented on #3663
i am having the same issue

[2021-03-09 13:22] NurbekHalikulov opened #3966 "lidar sensor time of flight"
Hi,

could you please tell me how to calculate the time of flight of lidar sensor signals?

It is also possible to compute time of flight of signal by calculating the distance between the hit point and the sensor? How to calculate the distance then?

[2021-03-09 14:36] corkyw10 commented on #3585
Hi @venkatramanrenganathan instead of the elipse, you could use the built in [DebugHelper.draw_box](https://carla.readthedocs.io/en/latest/python_api/#carladebughelper) to draw the bounding box of the car. I also suggest you have a look at the snippet for [DebugHelper.draw_string](https://carla.readthedocs.io/en/latest/python_api/#methods_11) combined with the [lane_explorer.py](https://github.com

[2021-03-09 15:12] corkyw10 commented on #3693
@windcatcher are you still facing issues with debugging?

[2021-03-09 15:14] corkyw10 commented on #3695
@philkr Thanks for the input

@Axel1092 could you follow up on this please?

[2021-03-09 15:15] corkyw10 commented on #3696
@trilokimodi Thank you for your patience

@DSantosO are you able to have a look at this please?

[2021-03-09 15:24] corkyw10 commented on #3697
@DSantosO could you follow up on this please?

[2021-03-09 15:25] corkyw10 commented on #3698
@XGodina could you follow up on this please?

[2021-03-09 15:27] corkyw10 commented on #3699
@doterop could you follow up on this please?

[2021-03-09 15:29] corkyw10 commented on #3701
@dHonerkamp thank you for your patience

@glopezdiest are you able to follow up on this please?

[2021-03-09 15:36] corkyw10 commented on #3708
@Axel1092 could you have a look at this please?

[2021-03-09 15:40] corkyw10 commented on #3710
@jackbart94 Could you follow up on this please?

[2021-03-09 15:42] corkyw10 commented on #3711
@doterop could you have a look at this please?

[2021-03-09 15:43] #3715 closed

[2021-03-09 15:44] corkyw10 commented on #3718
@XGodina could you follow up on this please?

[2021-03-09 15:45] corkyw10 commented on #3720
@bernatx could you follow up on this please?

[2021-03-09 15:52] corkyw10 commented on #3740
@MS012086 are you still facing this issue?

[2021-03-09 15:58] corkyw10 commented on #3744
Hi @Shubhamcl are you still facing this issue? These problems often arise from using different versions of Python, did you install the API and dependencies with python 3.7?

[2021-03-09 16:16] psarka opened #3967 "Carla client does not use sequential ports as it should"
Carla 0.9.11

When using carla client with non standard port (in my case `python config.py --host 192.168.0.111 --port 4000 --map Town04`), it does not work properly, as it is trying to use ports 4000 and 2001 instead of 4000 and 4001 as it should. Because of this we can't run multiple carla server instances as they all need 2001.

Here is a sample of tcp dump:

[code]

[2021-03-09 16:50] #3574 closed

[2021-03-09 18:12] #2895 closed

[2021-03-09 18:15] germanros1987 commented on #3690
Not yet. Basically we don't have support for instance segmentation yet...
You could probably generate this type of ground-truth yourself with some effort by leveraging both the boundingbox API and the semantic segmentation sensor.

Hope this helps.

[2021-03-09 18:31] PTorr opened #3968 "spawn walker/ pedestrian"
Hi,

I'm trying to spawn pedestrian at custom location.
Is there a way to force a walker to be spawned in location (x,y,z)?
If not is there a way to get the closest point on a side walk next to my ego vehicle? and then spawn the walker there?

Thank you in advance.

[2021-03-09 20:17] antoniohernandezm commented on #1453
Hi @RuihanGao

Could You solve the problem with sync mode in manual control?  I am triyng to perform a record using manual_control.py and sync mode , in order not to lose any image. I set sync mode adding:

settings = self.world.get_settings()
settings.synchronous_mode = True

to class World, but when I launch the code, the simulation freezes and I have to force the program to stop.
I have checked

[2021-03-09 20:35] antoniohernandezm commented on #1563
Hi, I'm trying to record a simulation at 60 fps without losing images. To do so, I launch the line:

-quality-level=Epic -carla-server -benchmark -fps=60

When I run the client.

Then, in the World class of manual_control.py, I add the following lines:

settings = self.world.get_settings()
settings.synchronous_mode = True
self.world.apply_settings(settings)

When I run the program, the simulation

[2021-03-10 02:08] Kin-Zhang commented on #3700
Yes I still met the error on Window.
but now I just install ubuntu on my desktop and use Carla on ubuntu...

[2021-03-10 06:59] YenTran32 commented on #3592
Hi Corinne,

Thank you for your answer.

Best,

Vào Th 6, 5 thg 3, 2021 vào lúc 23:46 Corinne <notifications@github.com>
đã viết:

--
Yen TRAN, Ph.D
Mobility Service Research Team, Human Mobility Research Center,
The National Institute of Advanced Industrial Science and Technology
(AIST), Japan
Tell: 029-861-6490

[2021-03-10 07:38] SunHaoOne commented on #107
I solve this problem using nvidia-docker, but it shows me Waiting for the client to connect..., I do not know how to figure it

[2021-03-10 08:09] maisonhai3 commented on #77
The car can go backward.

First, you press `Q` to toggle reverse, then `W` to go backward.

[2021-03-10 08:33] glopezdiest commented on #3701
Yeah, we'll take a look

[2021-03-10 08:44] jackbart94 commented on #3531
Without more information, it's impossible to debug. Also, it refers to an older version of both CARLA and the Traffic Manager.  Update your CARLA version to latest and if this still happens, please open a new issue with more details.

[2021-03-10 08:44] #3531 closed

[2021-03-10 08:49] jackbart94 commented on #3543
Please, could you let me know if this is happening with current dev, or at least CARLA 0.9.11?

[2021-03-10 08:56] jackbart94 commented on #3584
Could anyone provide a code snippet to reproduce this? Please, highlight also how you are creating Traffic Manager and how many times do you use get_trafficmanager().

[2021-03-10 08:58] jackbart94 commented on #3625
There is a specific torque curve for each vehicles, but the relationship between throttle and velocity/acceleration is determined by many other factors (Max RPM, gear ratios and others). The only way to find out is for you to create an example that runs a specific throttle and see the acceleration/velocity for each vehicle, then draw your conclusions.

[2021-03-10 09:04] jackbart94 commented on #3650
Could you try with 0.9.11 or latest CARLA that this is indeed still happening? Also, the synchronous_mode.py script is relatively outdated, could you try and see if it happens in synchronous mode with spawn_npc.py for example?

[2021-03-10 09:18] jackbart94 commented on #3651
Well, the LaneInvasionSensor is a bit broken, so this is what you can do:

- use the get_waypoint() in the location of the vehicle, setting the project_to_road bool to False. This will make sure that you get it at the center of the vehicle.
- then, you want to again use get_waypoint() to find the closest lane marking, and then compute the distance between the two.

You might want to check the [Pyt

[2021-03-10 09:21] jackbart94 commented on #3692
Could you provide more information about your issue? Are you using CARLA 0.9.11 or another version? What are your PC specifics?

[2021-03-10 09:22] jackbart94 commented on #3709
No, you can't.

It works because now you are spawning vehicles correctly.

Closing.

[2021-03-10 09:22] #3709 closed

[2021-03-10 09:24] jackbart94 commented on #3710
You need to change the PID values accordingly, whether you are using Traffic Manager or the agents. It's clear that it overshoots and tries to compensate, but the current values aren't fit for the velocity you want to reach. If you want more help, and think that PID isn't the issue, please provide a complete code snippet that we can run and debug.

[2021-03-10 09:29] jackbart94 commented on #3839
We have several tests running this and they are all deterministic. I also have tried with an RBG camera and 10000 ticks, and it came out correct. Are you still changing the settings.max_substeps and settings.max_substep_delta_time? Can you try with the default ones, or with those that @DSantosO suggested?

[2021-03-10 09:31] parth3153 commented on #2738
hello @onebitme thank you for that, i did, but i am getting indexerror while launching my own vehicle through the code :
python manual_control.py --filter <model_name>
i checked it with the other already compiled vehicle, but it doesn't work aswell. please refer to the figure
![image](https://user-images.githubusercontent.com/56869308/110607024-a2d93a00-813f-11eb-8c32-619d797f006a.png)

the spawn_

[2021-03-10 09:43] jackbart94 commented on #3841
It's fixed now, but you are checking the 0.9.10v of documentation. We will make sure that one is correct as well.

[2021-03-10 10:24] fpasch commented on #3554
The currently implemented RSS restrictor brakes longitudinally in case a situation gets unsafe.

[2021-03-10 12:24] qhaas commented on #3543
Here is a simple test with CARLA 0.9.11, seems to keep on using port 8000:
[code]
The results with CARLA 0.9.11:
[code]

[2021-03-10 12:47] onebitme commented on #2738
One thing I am experimenting is to keep the blueprint of the truck and attach the trailer from event graph. Stay tuned

[2021-03-10 13:51] corkyw10 commented on #3745
@Axel1092 could you have a look at this please?

[2021-03-10 13:52] corkyw10 commented on #3746
@joel-mb could you have a look at this please?

[2021-03-10 13:53] corkyw10 commented on #3749
Hi @KangChou are you still facing this issue? These problems often arise from using different versions of Python, did you install the API and dependencies with python 3.7?

[2021-03-10 13:55] corkyw10 commented on #3756
@doterop could you have a look at this please?

[2021-03-10 13:57] corkyw10 commented on #3759
@jackbart94 are you able to have a look at this please?

[2021-03-10 13:59] corkyw10 commented on #3760
@doterop could you have a look at this please?

[2021-03-10 14:02] corkyw10 commented on #3763
@DSantosO could you have a look at this please?

[2021-03-10 14:02] corkyw10 commented on #3765
@DSantosO could you follow up on this please?

[2021-03-10 14:04] corkyw10 commented on #3766
@bernatx could you have a look at this please?

[2021-03-10 14:06] corkyw10 commented on #3767
@nuomizai were you able to resolve your issue?

[2021-03-10 14:07] corkyw10 commented on #3769
@bernatx could you have a look at this please?

[2021-03-10 14:08] corkyw10 commented on #3770
@Axel1092 could you have a look at this please?

[2021-03-10 14:16] corkyw10 commented on #3777
@bernatx could you have a look at this please?

[2021-03-10 14:18] #3778 closed

[2021-03-10 14:20] corkyw10 commented on #3786
@bernatx could you have a look at this please?

[2021-03-10 15:35] gsmario commented on #2738
Hello, yeah as @onebitme said, you need to add the vehicle to the vehicle factory, where you will have to assign a model name (and you will use that in the manual control filter to choose your vehicle) , but also make sure that you created the vehicle blueprint with the correct options, especially the wheels, you can check the documentation for that.

[2021-03-10 17:34] DSantosO commented on #3765
Hello @unumkam,

This is currently being implemented in PR #3868 and it will be soon in dev branch so I close the issue. Feel free to reopen if necessary.

[2021-03-10 17:34] #3765 closed

[2021-03-10 19:17] GarethZhang commented on #3265
@souvikboseGM Did you figure out how to fix this?

[2021-03-10 19:27] DSantosO commented on #3673
Hello @danielaDESM,

I have tried to reproduce your problem but I cannot see it. I have tried with the current dev and the package you mentioned.
For current dev this is the information of a car (Location, Forward Direction, Velocity, Velocity in local coordinates, Acceleration and IMU acceleration) for 4 steps after setting a velocity of 20m/s :

How are you moving the vehicle? Have you disabled

[2021-03-10 19:28] #3510 closed

[2021-03-10 19:31] DSantosO commented on #3586
Hello @brscholz,
In PR #3868, we are adding control over the rotation of the wheel from the client, could this feature help you?

[2021-03-10 20:12] ar4development commented on #3507
@LVJ047 if you execute your code from IDe like PyCharm you need to configure your run to have working directory at `PythonAPI/carla`

[2021-03-10 22:27] dotchen commented on #3692
@jackbart94 The benchmark mentioned above was done in CARLA 0.9.9 but I've experienced this from CARLA 0.9.8 to CARLA 0.9.11. I am using Ubuntu 18.04 with 256G RAM.

[2021-03-11 01:59] peacekim86 opened #3969 "Can I use .umap made by Unrela in CARLA? (without xodr, osm, pcd)"
Hi, I'm PeaceKim.
I made an Map(environment) by Unreal.
It is a simply map consisting of batchs of .fbx.
The extensions of Map is .umap.

I want to use this as a map in CARLA.
If you can load it, Please let me know how.
Thank you.

[2021-03-11 09:23] hiry27 opened #3970 "Model modifications during running simulations"
<
Hi,
I'm Hiry
I wanted to know whether Carla allows obstacles to be spawned during a running simulation.
Thank you for your comments

[2021-03-11 09:38] saina110 commented on #3915
Hi, do you have some suggestions on my previous test? did you also follow these steps without any errors? thank you so much !

Best Regards,

[2021-03-11 13:19] H-Whisky commented on #3320
Sorry to reply you so late, I have already got the answer, thank you for your help.

[2021-03-11 13:48] siraphopp opened #3974 "Error when trying make package in Docker"
I try to do map ingestion in a CARLA package, and I followed this instruction [https://github.com/carla-simulator/carla/tree/master/Util/Docker](url) .

When I run this command "docker build -t carla -f Carla.Dockerfile ." I got this error

...
  LogTexture: Display: Building textures: T_FreewayLights01_op (AutoDXT, 2048X2048)
  LogTexture: Display: Building textures: T_v3Skin_SSS (AutoDXT, 8192X8

[2021-03-11 13:50] corkyw10 commented on #3790
@doterop could you have a look at this please?

[2021-03-11 13:51] corkyw10 commented on #3791
@bernatx could you follow up on this please?

[2021-03-11 13:52] #3796 closed

[2021-03-11 13:55] corkyw10 commented on #3797
@xty199636 could you provide a bit more context on what you would like to achieve?

[2021-03-11 13:55] corkyw10 commented on #3799
@Axel1092 could you follow up on this please?

[2021-03-11 13:57] corkyw10 commented on #3800
@bernatx could you follow up on this please?

[2021-03-11 13:59] corkyw10 commented on #3803
@bernatx could you have a look at this please?

[2021-03-11 14:13] JimmysCheapJeep commented on #3836
Hello!

we noticed a similar behaviour, when using multiple RGB cameras (3). The server frame rate drops to 5 FPS, every camera "costs" 15 frames/sec. :(

When additional traffic actors are spawned, the situation gets even worse.
We are not saving data to disk, they are grabbed by the C++-API and streamed to a network. The simulation is also running in asynchronous mode....

We use a RTX3070, whic

[2021-03-11 14:16] Axel1092 commented on #3805
Hi @quangsonle, the flags you are using are not the correct ones: At the end of this tutorial you will find a list of available Command-line options https://carla.readthedocs.io/en/latest/start_quickstart/.

[2021-03-11 14:17] erfpak7 opened #3976 "Augmenting icons to windshield & creating Heads-up Display"
I would like to create a heads-up display by augmenting some of the captured information to the windshield (similar to attached pic). CARLA is already showing HUD on the left hand side but is not showing it on the driver's view and it's quite far from the reality. So I was wondering whether there's a way that we could project those information (velocity, distance to obstacle, etc.) to the windshie

[2021-03-11 14:17] #3881 closed

[2021-03-11 14:20] goksanisil23 commented on #3236
hi @thillRobot I have the same problem with running `pygame.font.get_fonts()` inside Ubuntu 18.04 docker, with pygame installed via pip3. However, it cannot be fixed by replacing mono with aerial since get_fonts() is returning `[None]`.

Its strange since `pygame.font.get_default_font()` returns `'freesansbold.ttf'` , so there is at least 1 available font.

Therefore, I've just done `mono = 'frees

[2021-03-11 14:23] corkyw10 commented on #3807
@bernatx could you follow up with this please?

[2021-03-11 14:26] corkyw10 commented on #3808
@DSantosO could you follow up on this please?

[2021-03-11 14:29] Madecu commented on #3494
Yes, I could reproduce the error using the -opengl tag. I don't know exactly why openGL doesn't render the fog.
The sky turns black because we have to simulate that very dense fog would hide the sunlight. It is the same with clouds, they are not volumetric, so they don't project shadows.
In the next release we have updated unreal engine to 4.26 and it won't support opengl anymore. I recommend you

[2021-03-11 14:29] corkyw10 commented on #3809
@DSantosO Could you have a look at this please?

[2021-03-11 14:30] corkyw10 commented on #3810
@doterop could you have a look at this please?

[2021-03-11 14:32] corkyw10 commented on #3811
@fpasch could you follow up on this please?

[2021-03-11 14:34] corkyw10 commented on #3823
@DSantosO could you have a look at this please?

[2021-03-11 14:35] corkyw10 commented on #3872
@bernatx could you have a look at this please?

[2021-03-11 14:37] corkyw10 commented on #3826
@XGodina or @DSantosO could you guys have a look at this please?

[2021-03-11 14:38] corkyw10 commented on #3827
@bernatx could you have a look at this please?

[2021-03-11 14:39] corkyw10 commented on #3828
@glopezdiest could you have a look at this please?

[2021-03-11 14:40] corkyw10 commented on #3835
@fpasch could you follow up on this please?

[2021-03-11 14:41] corkyw10 commented on #3836
@bernatx could you have a look at this please?

[2021-03-11 15:03] berndgassmann commented on #3811
Looks as if python2 and 3 are being mixed up in that build?
Boost is compiled for 3.6, but ad_physics is intended to be built using python 2.7?
All has to be compiled for the same python version....

[2021-03-11 15:49] PTorr commented on #3494
Thanks for the detailed explanation.

On Thu, Mar 11, 2021, 16:29 Marcos ***@***.***> wrote:

[2021-03-11 15:59] Vela-zz commented on #3811
Thank you, I found that ad_rss lib was difficult to be built in virtual environment, because the build tool cannot locate right directory of python in venv. So I deactivate all the virtual environment and set py3.6 as default python on Linux without clean built file. Maybe this is the why this error log comes out, thanks for your help

[2021-03-11 16:16] berndgassmann commented on #3835
1) Are you sure, you downloaded the RSS Variant of CALRA?
Because these come with pre-compiled RSS and contain the RSS-library (your linker error of the build is showing that exactly these libraries being linked are not there on your build, but usually these are ;-)
https://github.com/carla-simulator/carla/releases
And those should work.

2) I don't know what failed exactly, but when I look into t

[2021-03-11 17:10] germanros1987 commented on #3967
@bernatx could you address this issue?

[2021-03-11 17:20] zhuhj-tery commented on #3835
Thanks! It helps.

[2021-03-11 17:20] #3835 closed

[2021-03-11 17:27] germanros1987 commented on #3815
I think this question belongs in the AirSim repository.

[2021-03-11 17:27] #3815 closed

[2021-03-11 17:27] #3814 closed

[2021-03-11 18:49] Esquilli commented on #3516
Bumping this. I'm still having this issue in the latest version of CARLA. It get worse when visualizing the data from the sensors (e.g depth, semantic, etc.). More info [here](https://github.com/carla-simulator/carla/issues/3865).

I can upload more pictures if someone want them.

[2021-03-12 03:14] dschambach commented on #3853
We have been trying to debug a very similar situation - a flat three lane road which is 5km - with no elevation change. If terrain is present - vehicles appear to collide with invisible humps positioned on the road. Removing the terrain object (which surrounds the road) fixes this behavior.

[2021-03-12 06:24] ancabilloni commented on #3674
Hi @NurbekHalikulov. Did you get this issue resolved? Can you comment on the solution? Thanks.

[2021-03-12 11:45] ar4development opened #3977 "LaneMap geometry generated with errors when running RSS example against custom map"
Hi,

I'm trying to run `manual_control_rss` against my custom [map](https://github.com/carla-simulator/carla/files/6129723/map.zip) that I have exported  from OSM and imported to simulator using `config.py` script.

However what I'm getting is the error message saying:

[code]

Is there anything I need to fix in my map or in example code?

Thanks!

[2021-03-12 13:26] corkyw10 commented on #3842
@DSantosO could you have a look at this please?

[2021-03-12 13:27] corkyw10 commented on #3845
@DSantosO could you have a look at this please?

[2021-03-12 13:28] corkyw10 commented on #3846
@bernatx could you have a look at this please?

[2021-03-12 13:31] corkyw10 commented on #3847
Posting the answer from @bernatx from the discord channel here for anyone else wondering:

Town01 has some invisible crosswalks where the pedestrian can cross the road, so maybe that is what you see. It is not that the cross factor function is failing, just that with cross factor of 0, in Town01 and Town02 the pedestrian can cross roads at specific places (without any crosswalk texture in place).

[2021-03-12 13:31] #3847 closed

[2021-03-12 13:32] corkyw10 commented on #3849
@Axel1092 could you follow up on this please?

[2021-03-12 13:34] corkyw10 commented on #3851
@bernatx could you follow up on this please?

[2021-03-12 13:40] corkyw10 commented on #3855
@Axel1092 could you have a look at this please?

[2021-03-12 13:47] corkyw10 commented on #3863
This question has been addressed in the discord channel.

[2021-03-12 13:47] #3863 closed

[2021-03-12 13:51] corkyw10 commented on #3867
@bernatx could you follow up on this please?

[2021-03-12 13:52] corkyw10 commented on #3869
This question has been addressed in the discord channel

[2021-03-12 13:52] #3869 closed

[2021-03-12 13:53] corkyw10 commented on #3871
@DSantosO could you have a look at this please?

[2021-03-12 13:56] corkyw10 commented on #3873
@bernatx could you have a look at this please?

[2021-03-12 13:58] #3876 closed

[2021-03-12 14:41] kamiladamczyk commented on #2737
import pymap3d as pm
carla_x, carla_y, carla_z = pm.geodetic2enu(lat, lon, h, origin_latitude, origin_longitude, origin_altitude, ell=pm.utils.Ellipsoid('wgs84'))
print ("The converted values from Geodetic to carla are", carla_x, -carla_y, carla_z)

[2021-03-12 14:44] ar4development commented on #3952
@Mano2610 Couple of times I was experiencing the same issue. I think that could be related to the overall performance of your system. Can you try to run Carla with `-quality-level=Low` key?

[2021-03-12 15:07] DSantosO commented on #3577
Hello @Jae-Seung-Jeon,
The default values are not the ones in that file that you show but are defined in the file `ActorBlueprintFunctionLibrary.cpp` from line 820 .

[2021-03-12 15:26] ar4development opened #3978 "TypeError: unsupported operand type(s) for *: 'int' and 'ENUCoordinate'"
1. Run Carla 0.9.11_RSS
2. Run `manual_control_rss.py`
3. In game window press `F2`

**OBSERVED in logs:**

Destroyed RSS sensor
  File "/mnt/old/home/alexey/Downloads/CARLA_0.9.11_RSS/PythonAPI/examples/rss/rss_sensor.py", line 412, in _on_rss_response
    self.debug_visualizer.tick(self.route, not response.proper_response.isSafe,
  File "/mnt/old/home/alexey/Downloads/CARLA_0.9.11_RSS/PythonAPI/

[2021-03-12 16:17] DSantosO commented on #3763
Hello @paulsans,
Indeed, there was a bug in the function that computes the up vector. I have opened the PR #3979 for fixing it. Thank you very much!!

[2021-03-12 16:17] #3763 closed

[2021-03-12 16:26] DSantosO commented on #3845
Hello @goksanisil23,
The sensors cannot tick at a higher rate than the simulator so you are right in your first conclusion. The second way should work but there was a bug in version 0.9.11 about the sensor_tick. This was fixed in PR #3818 so you can get that to work if you compile from source or in our [overnight build](http://carla-releases.s3.amazonaws.com/Linux/Dev/CARLA_Latest.tar.gz).

[2021-03-12 16:31] DSantosO commented on #3809
Hello everyone,

This issue was fixed in PR #3818 so the sensor_tick attribute should work for all sensors. You can check it if you compile from source or in our [overnight build](http://carla-releases.s3.amazonaws.com/Linux/Dev/CARLA_Latest.tar.gz). Thank you for the report.

[2021-03-12 16:32] Mano2610 commented on #3952
@ar4development - Do I need to run Carla4UE.exe-quality-level=low, while running the Carla environment.

[2021-03-12 17:45] wgoforth opened #3980 "AI-controlled walkers not spawning using spawn_npc.py with OpenDRIVE Standalone Mode"
I am unable to set destinations for AI-controlled walkers with the PythonAPI when using CARLA in OpenDRIVE standalone mode (config.py -x).

I'm running CARLA 0.9.11 on Windows 10 with Python 3.7 and the following example is on the Town05 map.

[code]

I modified the existing code in order to get a walker to spawn because using world.get_random_location_from_navigation() returns 'None'.
[code]

How

[2021-03-12 19:17] Mano2610 commented on #3952
I have tried, but again getting the same error as below,

(WindowsNoEditor) C:\Users\kvman\Downloads\WindowsNoEditor>CarlaUE4.exe -quality-level=Low

(WindowsNoEditor) C:\Users\kvman\Downloads\WindowsNoEditor>cd PythonAPI\examples

(WindowsNoEditor) C:\Users\kvman\Downloads\WindowsNoEditor\PythonAPI\examples>python spawn_npc.py

destroying 0 vehicles

destroying 0 walkers

done.
Traceback (most re

[2021-03-12 19:31] ar4development commented on #3978
Looks like I manager to overcome this issue by changing:

[code]
to

[code]
in `def visualize_enu_edge(self, edge, color, z_offset):` of `rss_visualization.py`..

However I am still not able to get those colored lines between ego and object as it was shown in demo.

[2021-03-12 20:26] ar4development commented on #3952
@Mano2610 does your simulator look responsive before you try to spawn the actors? I mean can you "fly" over the map using w/a/s/d/e/q ?

[2021-03-12 20:45] Mano2610 commented on #3952
Yes, I am able to move with my keys w,a,s,d

[2021-03-12 21:46] dschambach commented on #3853
@Axel1092 - Here is an video that shows the difference/problem. Note the vehicles appear to be colliding with some kind of bumps along the road when terrain object is active. The only difference between the first and second part of the video is the deletion of the terrain mesh from the level.

https://user-images.githubusercontent.com/16140583/111001829-5b1e0280-8339-11eb-8f2b-54911570d564.mp4

[2021-03-13 03:15] EchoYJJ opened #3981 "How to add trees in batch in CarlaUE4?"
Hi! I'm new to CarlaUE4 and not familiar with the basic operation.
I can only add trees one by one. If you  know how to add trees in batch or where to find the guidance, please give me advises.
Thanks in advance.
![image](https://user-images.githubusercontent.com/75726020/111017257-3e430700-83ed-11eb-8197-c46a2442a731.png)

[2021-03-13 07:14] goksanisil23 commented on #3845
Thanks for pointing me to the PR @DSantosO !

[2021-03-13 09:53] huckle-slr opened #3982 "Failed ”make launch" command with vulkan driver error"
Hi,
I installed Carla following the official guidelines and I have finished  and succeeded up to "make PythonAPI" in make CARLA STEP,
but , I failed "make launch" command  with following error messages.
![error message](https://user-images.githubusercontent.com/70704073/111025970-15416700-842b-11eb-8ea7-7f9046f3f5c8.JPG)

I updated nvida graphic driver to latest version(version 460.56) in accordan

[2021-03-13 10:56] huckle-slr commented on #3982
I'm sorry, I didn't checked thoroughly
it say "make launch" is not working on Linux on top of official guideline.

[2021-03-13 10:56] #3982 closed

[2021-03-13 14:57] cinjon opened #3983 "The UE4 window won't open?"
I downloaded 0.9.11 on Ubuntu 18.04.5 and went through the simple quick start method.
The package came out fine s.t. I can run `./CarlaUE4.sh [-opengl]` in one terminal window and then `python spawn_npc.py -n 80` in another and both display text on the screen.

However, the first command does not open any UE4 window like expected and consequently the second command fails to animate. I just tested

[2021-03-13 15:51] cinjon commented on #3983
Solved. This was because I was using gnu screen. :(

[2021-03-13 15:51] #3983 closed

[2021-03-13 18:56] rwik opened #3984 "Installation issue on UBUNTU 20.04 regarding libpng-dev"
Hi ,

I am trying to do quick install carla 0.9.10 on ubuntu 20.04

sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 1AF1527DE64CB8D9
sudo add-apt-repository "deb [arch=amd64] http://dist.carla.org/carla $(lsb_release -sc) main"

[code]

If i try to install libpng-dev separately , it's not working.

[code]

[2021-03-13 19:57] #3984 closed

[2021-03-14 01:31] weizhaoji commented on #1648
Hi，I have the same problem. How did you solve this problem?

[2021-03-14 01:31] weizhaoji commented on #2282
hi，I have the same problem. How did you solve this problem?

[2021-03-15 03:37] dschambach commented on #3853
A workaround - is to import a generic/flat DEM into RoadRunner and apply it to your scene. This changes the triangulation of the terrain mesh before it is exported, which in our case fixed the problem.

[2021-03-15 14:14] XGodina commented on #3698
Hi @jerryliu20001,
Yes, it is !! However, it's a long process. You shall all groups of lanes markings and export to a 3d software and after separately in any parts that you need. After that, you can import it again into the map. It's a surgical operation.

[2021-03-15 14:23] XGodina commented on #3968
@PTorr
Hi we use the traffic scenario to create customs situations. I think @glopezdiest could you help better than me.

[2021-03-15 14:45] XGodina commented on #3981
Hi @EchoYJJ

In UE4 you can select the Option of Foliage. In there, there are some options that you can play and deploy many trees really easily.
![image](https://user-images.githubusercontent.com/39989886/111171526-4d6cb500-85a5-11eb-9e6d-9d698ff2ce0a.png)

[2021-03-15 14:50] #3845 closed

[2021-03-15 15:04] glopezdiest commented on #3968
Hey @PTorr.

yes, and its the same as with a vehicle, which involves the use of [carla.World](https://carla.readthedocs.io/en/latest/python_api/#carlaworld)'s `try_spawn_actor`:

[code]

That's also possible with the [carla.Map](https://carla.readthedocs.io/en/latest/python_api/#carlamap) class.

[code]

PD: don't blindly trust this code as I haven't tested it, but any errors will be due to carele

[2021-03-15 15:50] #3879 closed

[2021-03-15 15:52] corkyw10 commented on #3887
@bernatx could you have a look at this please?

[2021-03-15 15:55] corkyw10 commented on #3891
@DSantosO could you follow up on this please?

[2021-03-15 15:57] #3893 closed

[2021-03-15 16:01] corkyw10 commented on #3897
@Axel1092 could you follow up on this please?

[2021-03-15 16:03] corkyw10 commented on #3898
You should also be able to compile for Python 2 with the command `make PythonAPI ARGS="--python-version=2"`

[2021-03-15 16:04] corkyw10 commented on #3902
@arnabfly has your issue been resolved?

[2021-03-15 16:05] corkyw10 commented on #3903
@bernatx could you have a look at this please?

[2021-03-15 16:12] corkyw10 commented on #3906
@jackbart94 could you follow up on this please?

[2021-03-15 16:13] corkyw10 commented on #3908
@bernatx could you follow up on this please?

[2021-03-15 16:17] corkyw10 commented on #3910
Hi @saina110, have you installed the dependencies and build the components according to this [documentation](https://carla.readthedocs.io/en/latest/adv_rss/#dependencies)?

[2021-03-15 16:19] corkyw10 commented on #3914
@bernatx could you have a look at this please?

[2021-03-15 16:21] corkyw10 commented on #3918
@joel-mb could you have a look at this please?

[2021-03-15 16:22] corkyw10 commented on #3920
@Axel1092 could you have a look at this please?

[2021-03-15 16:29] corkyw10 commented on #3926
@i14d4 Thanks for pointing that out, I will update the documentation

[2021-03-15 16:32] Axel1092 commented on #3922
@amzoo, waypoints represent the center of the lane only. You need to need to do the displacement yourself

[2021-03-15 16:36] maria8899 commented on #3920
Hi, this is still happening. What's up with the intel MESA warning? is it because it is trying to launch on my intel CPU?

This laptop has a GeForce RTX 2060 and I am using Nvidia drivers 460.32.03 (which are working fine as used for my display) with CUDA 11.2 on Ubuntu 20.04 LTS.

[2021-03-15 16:39] corkyw10 commented on #3933
@bernatx could you follow up on this please?

[2021-03-15 16:43] Axel1092 commented on #3523
After seeing the code you would have to add the road type for our converter to work. Something like changing in `nuscenes_map_to_osm_exporter.py` line 110 with `export_polygon(output_file, numap, 'drivable_area', record, '<tag k="highway" v="residential"/>')`. The issue with not having the tag `"highway"` is that we cannot know if the way is defining a road or a shape of something different.

[2021-03-15 16:52] jfolden commented on #3933
@corkyw10 I got it working. My specific problem was that Windows added a ';' to the end of my UE4_ROOT environment variable, which caused the path to be "C:\Path\to\UnrealEngine;" instead of "C:\Path\to\UnrealEngine".

What helped me was printing out the paths used in BuildCarlaUE4.bat (my path is D:\CARLA\CARLA_Latest\carla\Util\BuildTools).

Also, just running the .uproject in the Unreal folder

[2021-03-15 16:52] Axel1092 commented on #3632
Hi @onorabil, this differences in rotation angles are to be expected as they are the result of internal processing by unreal. When you set the actor rotation, unreal takes the angle values and normalizes them according to its internal angle boundaries. In the end you get the same rotation (or very similar) as your input with different angle value combination.

[2021-03-15 16:56] Axel1092 commented on #3610
Hi all, just to clarify things a little, as @qhaas said OpenGL 3 has been deprecated for some time in unreal engine and therefore you won't get it to work with it. As newer versions come up older render API are being deprecated. CARLA 0.9.11 is probably the last version to support OpenGL 4, making vulkan the only render API available for Linux systems as Unreal has deprecated OpenGL entirely in th

[2021-03-15 16:59] Axel1092 commented on #3655
Hi @Horcrux1, we don't currently have any function to record the distance traveled by a vehicle. You will need to add up the distance traversed by the agent each frame yourself from the client side.

[2021-03-15 17:05] Axel1092 commented on #3695
@philkr thank you for the notice. We will fix this small issue.

[2021-03-15 17:10] Axel1092 commented on #3740
@MS012086, sorry for the late reply. I have never seen these errors when compiling unreal. Make sure you follow the instructions in the documentation (https://carla.readthedocs.io/en/latest/build_linux/), also check the installation guide in the unreal documentation itself: https://docs.unrealengine.com/en-US/SharingAndReleasing/Linux/BeginnerLinuxDeveloper/SettingUpAnUnrealWorkflow/index.html

[2021-03-15 17:25] Axel1092 commented on #3708
Hi @EchoYJJ, it is likely that your OpenDRIVE is not centered. The standalone mode will generate the road according the OpendDRIVE information. If the road is not centered you will need to move the camera to look for it. I suggest you try the `manual_control.py` to test if the road has been generated as it will spawn a car on a road.

[2021-03-15 17:28] kanakab commented on #3600
@TKeutgens  were you able to figure this out?

[2021-03-15 17:34] Axel1092 commented on #3745
I will take a look for issues with many cameras. We have made a number of changes to the OSM to OpenDRIVE converter which may fix the issue. A different matter is the size of the map. Currently Unreal Engine only accepts maps of limited sizes, if the cameras render out of bound it could cause stability issues, do you get segmentation fault on the client alone or is the server crashing as well?

[2021-03-15 17:39] Axel1092 commented on #3772
Hi all, currently Unreal Engine uses a single GPU for rendering. You could create multiple servers using a GPU each and sync them with the PythonAPI to render specific cameras. We haven't testes this yet as we would like to provide native support for this issue, a feature that is in our road map.

[2021-03-15 20:08] Villiamos commented on #3908
Problem solved my cpu has to high temperature so I had to change CPU cooling

[2021-03-15 20:08] #3908 closed

[2021-03-15 21:21] lydiaCS commented on #3398
RAM usage might up to 5GB and increasing the swap space to 8GB workes for me. thanks!

[2021-03-15 21:36] anavc97 commented on #3746
Thank you for your time. I've edited my original post with some new information I found out since the post was made.

[2021-03-16 05:50] PTorr commented on #3968
Thanks for the answers.

[2021-03-16 07:39] TKeutgens commented on #3600
@kanakab Unfortunately not

[2021-03-16 08:02] MaXiaoSIOM commented on #2372
The same issue with Version 0.9.11. I spawned 30 auto-piloted vehicles and 0 walkers with example script 'spawn_npc.py'  . In synchronous_mode,  almost 50ms taken for one simulation frame, while it is 6ms in no_synchronous_mode.

[2021-03-16 08:10] kanakab commented on #3600
@TKeutgens I was able to figure out this yesterday.

Go to Carla->Util->BuildTools->./Package.sh --- This step takes a while and it will generate a file named CARLA_Shipping_version_dirty in the folder Carla->Dist

Run the command ./CarlaUe4.sh from the folder '/home/user_name/carla/Dist/CARLA_Shipping_0.9.10-dirty/LinuxNoEditor'  --You will be able to see a carla town in the pre-build version of

[2021-03-16 08:25] #3968 closed

[2021-03-16 08:57] joel-mb commented on #3688
Hi @svanimisetti! Thanks for reporting that. I've opened a PR to include your changes.

[2021-03-16 08:57] #3688 closed

[2021-03-16 09:13] DSantosO commented on #3932
Hello @AIDRI,
I don't think we have nothing to compute that but you can use the information of the [Waypoint API](https://carla.readthedocs.io/en/latest/python_api/#carla.Waypoint) to compute it.
You can control and change the physical properties of vehicles with the [Vehicle Physics Control](https://carla.readthedocs.io/en/latest/tuto_G_control_vehicle_physics/).

[2021-03-16 09:19] corkyw10 commented on #3933
@jfolden That's great, I'm glad you got it working!

[2021-03-16 09:19] #3933 closed

[2021-03-16 09:26] joel-mb commented on #3667
Hi @patmalcolm91!
I suspect this can be related to the fact that CARLA vehicles are spawned in SUMO using always the same route. If the spawned vehicle is not allowed to be spawned at that route it may crash. However, I haven't been able to reproduce the issue with the CARLA maps. Are you using a custom map or a modified version of the `vtypes,json` file?

[2021-03-16 09:32] joel-mb commented on #3918
Hi @sulichuan!
Right now the CARLA ROS bridge works only with CARLA `0.9.10` and `0.9.10.1`. However, we've been testing it with CARLA `0.9.11` and everything seems to work well. If you want to use it with `0.9.11` just change the following line in `bridge.py` (https://github.com/carla-simulator/ros-bridge/blob/master/carla_ros_bridge/src/carla_ros_bridge/bridge.py#L54) to the proper version.

Fee

[2021-03-16 09:32] #3918 closed

[2021-03-16 09:49] patmalcolm91 commented on #3667
Hi, @joel-mb. I should have specified that I'm using a custom map when encountering this issue. To create the map, we started with a custom SUMO net file, generated street geometry from it, and used a dummy XODR (since we don't need the CARLA internal navigation at all for our use case). The SUMO network consists of lanes with various vehicle type allowances (some with ```allow="all"```, some allo

[2021-03-16 11:23] Axel1092 commented on #3775
Hi all, stop and yield signs are generated from the OpenDRIVE file or use existing sings if they are placed directly in the level in the editor. RoadRunner will only export them into the OpenDRIVE file if they are generated using their tools to create traffic sings and link them with the corresponding junction. Notice that in RoadRunner you can place a stop sign anywhere but only define its effect

[2021-03-16 11:24] joel-mb commented on #3854
Closing the issue. Fixed here: https://github.com/carla-simulator/ros-bridge/issues/478#issuecomment-777960784

[2021-03-16 11:24] #3854 closed

[2021-03-16 11:25] Axel1092 commented on #3507
As it has been already said, you need to run the scripts from the PythonAPI\{util,examples} folder in order for all files to be found.

[2021-03-16 11:30] Axel1092 commented on #3799
Hi @qhaas, I don't think I am really understanding the issue. You would like to save to disk several images at the same time to speed up disk usage?

[2021-03-16 11:33] Axel1092 commented on #3849
Hi @NurbekHalikulov, I don't really understand the question you would like to have access to a list of every single static or dynamic object in the scene? There is a feature `world.get_level_bbs()` to obtain a list of bounding boxes of all objects in the scene, perhaps this will help you.

[2021-03-16 11:39] Axel1092 commented on #3853
It would seem that roadrunner is creating some geometry under the road that is causing the cars to move like that. Perhaps the terrain is not flat under the road and it overlaps with the road itself?

[2021-03-16 11:43] Axel1092 commented on #3905
Hi @omkarshinde22, we have no internal limit to the amount of clients that CARLA supports so it will depend on your hardware and network. Please let us know if you find issues with a large amount of clients.

[2021-03-16 11:46] Axel1092 commented on #3931
It is as @sagar-g-v says. Here is the list of vehicles in case you are having problems to find it https://carla.readthedocs.io/en/latest/bp_library/

[2021-03-16 11:51] Axel1092 commented on #3920
Hi @maria8899, I think it is as you suspect. It is trying to launch carla using the integrated intel graphics instead of the rtx 2060, causing carla to fail due to its high gpu demands. In the nvidia control panel you should be able to tweak some options to force the OS to use the nvidia gpu.

[2021-03-16 13:16] qhaas commented on #3799
We are running CARLA simulations in synchronous mode on high performance computing (HPC) systems (e.g. the [Summit supercomputer](https://github.com/carla-simulator/carla/issues/1567#issuecomment-700790499)) and some nvidia DGX systems.  Our DGXs and HPC systems typically use [clustered file systems](https://en.wikipedia.org/wiki/Clustered_file_system) (e.g. [lustre](https://en.wikipedia.org/wiki/

[2021-03-16 13:49] corkyw10 commented on #3939
@Axel1092 could you have a look at this please?

[2021-03-16 13:52] #3946 closed

[2021-03-16 13:53] corkyw10 commented on #3949
@XGodina could you have a look at this please?

[2021-03-16 13:58] corkyw10 commented on #3950
Hi @LuigiRu Have you attached the `actor.pseudo.control` pseudo-actor (with id `<CONTROLLER_ID`>) to the vehicles you want to respawn? There's an [example](https://github.com/carla-simulator/ros-bridge/blob/master/carla_spawn_objects/config/objects.json#L163) in the objects.json file if not.

[2021-03-16 14:02] corkyw10 commented on #3952
@Mano2610 are you running the examples on a CARLA map or custom? What version of CARLA are you using?

@bernatx could you have a look at this please?

[2021-03-16 14:03] corkyw10 commented on #3953
@DSantosO could you follow up on this please?

[2021-03-16 14:06] Axel1092 commented on #3624
Hi all, sorry for the late response. The recorder and the synchronous mode feature can be mixed in any way you want (although for precise measurements we suggest to always use synchronous mode). You can run the recorder for any amount of time in asynchronous or synchronous mode and then replay it with synchronous mode. Before starting the replayer, set the server to synchronous mode, then run the

[2021-03-16 14:14] corkyw10 commented on #3959
@b-safwat Change the map after you have started CARLA by running the following command using the `PythonAPI/util/config.py` script:
`./config.py --map Town05`

The command line options are found [here](https://carla.readthedocs.io/en/latest/start_quickstart/#command-line-options).

You can also change the map in a script using the method `load_world()` from the [carla.Client](https://carla.readthe

[2021-03-16 14:16] Mano2610 commented on #3952
First I opened the Carla simulator and then I tried to run the example scripts like spwan_npc, manual_control_carsim, but I am unable to run those scripts. I am getting the runtime error like the simulator is not connected to the required port.

RuntimeError: time-out of 10000ms while waiting for the simulator, make sure the simulator is ready and connected to 127.0.0.1:2000

I am using the latest

[2021-03-16 14:24] xinshuoweng commented on #3624
Hi Axel, thanks for the information. I am wondering is there any code piece for the function you mentioned? In the documentation, there are only a few simple functions introduced [here](https://carla.readthedocs.io/en/latest/adv_recorder/#recorder). However, there is no instruction code about how to create sensors during replay

[2021-03-16 14:25] corkyw10 commented on #3964
@bernatx could you have a look at this please?

[2021-03-16 14:28] #3809 closed

[2021-03-16 14:29] corkyw10 commented on #3966
Hi @NurbekHalikulov I can see that you asked your question on Discord as well, is everything clear for you now?

[2021-03-16 14:31] Axel1092 commented on #3624
There is no specific code because it works the same as during normal simulation, you should do something like this:
1. Enable synch mode with desired settings and delta time
2. run `client.replay_file("recording01.log", start, duration, camera)`
3. `world.tick()` This starts the replaying typically spawning the initial actors
4. Spawn new actor/sensor/whatever `world.spawn_actor(blueprint)`
5. Sim

[2021-03-16 14:32] corkyw10 commented on #3969
Hi @peacekim86 you can find the tutorial on how to import maps in carla [here](https://carla.readthedocs.io/en/latest/tuto_A_add_map/)

[2021-03-16 14:49] corkyw10 commented on #3970
Hi @hiry27 you can spawn anything from the [Blueprint library](https://carla.readthedocs.io/en/latest/bp_library/) during a simulation with the [spawn_actor()](https://carla.readthedocs.io/en/latest/python_api/#carla.World.spawn_actor) method.

[2021-03-16 14:50] corkyw10 commented on #3974
@bernatx could you follow up on this please?

[2021-03-16 14:52] corkyw10 commented on #3977
@berndgassmann could you follow up on this please?

[2021-03-16 14:53] corkyw10 commented on #3978
@fpasch could you follow up on this please?

[2021-03-16 14:54] corkyw10 commented on #3980
@bernatx could you follow up on this please?

[2021-03-16 15:27] joel-mb commented on #3965
Hi @ImtiazUlHassan, actually this is the normal behaviour. When enabling the autopilot, the vehicle is controlled internally by the traffic manager so the vehicle commands are not published by the ROS bridge.
If you want to access that information you will have to publish it manually. Using the CARLA Python API you can get the last applied control via the `get_control` getter (https://carla.readth

[2021-03-16 16:36] maria8899 commented on #3920
Actually it just works with the opengl flag as in `./CarlaUE4.sh -opengl`
Thank you!

[2021-03-16 16:36] #3920 closed

[2021-03-16 16:45] Axel1092 commented on #3799
@qhaas indeed carla does not provide any support for these systems. You can aces the raw data of the images with `carla.Image.raw_data` and store it yourself as it works best for you.

[2021-03-16 16:52] Axel1092 commented on #3939
Hi @JeongKyuho, without seeing your changes I cannot know why are you getting these compilation errors. Apparently, your re misusing the `carla::sensor::data::Arraycarla::rpc::ActorId::Array` class/struct/function in your code but cannot give you any more insight without checking the code.

[2021-03-16 16:56] DSantosO commented on #3960
Hello @liuyandong1988,

The `settings.fixed_delta_seconds` sets a constant simulation time interval between frames. This is important to have a correct simulation but it has nothing to do with the actual framerate. Please check this [page](https://carla.readthedocs.io/en/latest/adv_synchrony_timestep) for further documentation.

From the client, that option of the engine is not exposed. We can con

[2021-03-16 17:20] germanros1987 commented on #3934
You should ask the author. Perhaps it is just playing prerecorded trajectories. The vehicles don't seem to be using any physics.

[2021-03-16 17:20] #3934 closed

[2021-03-16 18:19] corwinjs commented on #3580
Hi Corrine,

That tutorial has been very helpful. It is not what I was looking for originally, but it has helped me create a workaround.

I was hoping to be able to add and register entirely new actors in some way, with zero or very minimal code changes to those actors. Instead, my workaround has been to create what I call "interface actors", which are actually just sensors that don't have seriali

[2021-03-16 18:38] berndgassmann commented on #3977
Hi,
at least I was able to reproduce the issue. The problem with loading the map with the RSS sensor is related to the missing geo-reference within the open drive file. Also CARLA server output shows that issue:
"WARNING: cannot parse georeference: ''. Using default values."

When checking the xodr file written by the server at CarlaUE4/Content/Carla/Maps/OpenDrive/OpenDriveMap.xodr
<?xml version=

[2021-03-16 18:44] berndgassmann commented on #3977
sorry, but the editor was not actually lucky with the plain xml snippets, I had added to the comment:

Original stored OpenDriveMap.xodr
[code]

manually edited
[code]

[2021-03-16 20:48] AIDRI commented on #3932
Hi,
Thanks for your answer. I just check the Vehicule Physics Control part, and I think some vars may be interested.

[2021-03-16 23:41] pavanteja295 commented on #3839
I shall create a simple script taken from what I use and shall upload it here. Doing a lot runs indeed resulted in some nondeterministic results because I was not changing the parameters you mentioned and used the default params. May be you can try to reproduce and see if you are getting deterministic values.

[2021-03-17 08:03] PTorr commented on #3624
Very cool I will try it.

For now I'm only able to save the logs on the predefined location in the Server.
I can't change the path, which is a problem for me because I'm running the server on another computer that I can't access.

[2021-03-17 08:30] jackbart94 commented on #3915
As I've said, with Python 3.8 I've had no problem whatsoever. In your message I haven't seen anything that suggests you are using 3.8, so please create a virtual environment with Python 3.8 and start from scratch.

[2021-03-17 08:33] jackbart94 commented on #3906
If you change so drastically the `fixed_delta_seconds` setting, physics won't work properly. They are calibrated to work at 20 FPS, so please keep that value to about 0.05.

[2021-03-17 08:37] jackbart94 commented on #3839
I've tried with any of your parameters and I didn't get deterministic results, but this is because all of your changes are outside the bounds of acceptable values to have determinism. If I instead use the standard default CARLA values and just add an RGB camera, I have seen determinism always, even after 10.000 steps.

[2021-03-17 08:59] XGodina commented on #3884
@jackbart94 From our side, we test to spawn those vehicles and also drive with them and so far It's working. But I think you should test for your side if the traffic manager if work this that kind of vehicles.

[2021-03-17 09:02] raymanfx commented on #3624
This sounds very promising, I'll try it out again today.

[2021-03-17 09:16] thytless commented on #3980
`Nav: failed loading binary`
This error means that the walker navigation module cannot load data that saves navigation info. Pls make sure you have got all data downloaded. It should be under `Unreal/CarlaUE4/Content/Carla/Maps/Nav/`, you can also check it out with latest carla docker image.

[2021-03-17 09:38] PyTorr opened #3991 "Segmentation colors wrong"
Hi,

From version 9.10 I get wrong colors for the segmentation.
Anyone had the same problem?

Torr.

![000607](https://user-images.githubusercontent.com/8789891/111442003-91c89400-8710-11eb-8382-9f28f0fc1885.png)

[2021-03-17 09:55] bernatx commented on #3980
Hi,

thytless is right.

It seems that the standalone module could not autogenerate the binary file needed for the pedestrians to navigate.
The main reason could be that the map is too big to be parsed by the RecastBuilder with current settings.
Is that the case?

[2021-03-17 10:02] jerryliu20001 commented on #3698
Hi @XGodina ,
Thanks for your reply, but I have another question
I can export the lanemark into .fbx file but I am not sure is it possible to separate the .fbx into parts
Do you have any suggestion for the CAD software which is able to split .fbx file?
Or maybe the exported file is not .fbx?

Thanks!!

[2021-03-17 11:11] xiaoyang666 opened #3993 "fatal error C1083: Cannot open include file: 'boost/enable_shared_from_this.hpp': No such file or directory"
Ask for your help！！
windows 10 carla 0.9.9

dependencies/include\carla/Memory.h(9): fatal error C1083: Cannot open include file: 'boost/enable_shared_from_this.hpp': No such file or directory
error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\BIN\\amd64\\cl.exe' failed with exit status 2

[2021-03-17 11:26] XGodina commented on #3953
Hi @bpoebiapl,
We know what happens there with the lidar and collisions as well and now we are working to fix it

[2021-03-17 11:48] XGodina commented on #3829
Hi @zygfrydw We know what happens there with the lidar and now we are working to fix it

[2021-03-17 12:06] mrcoee opened #3994 "Carla client file descriptor issue"
**Environment**
This issue appears with carla version 0.9.11 on Ubuntu 18.04.

**Issue**

Hi team,

I'm currently trying to randomly generate scenes to produce training data for a meta segmentation ai. Unfortunately, this produces an segmentation fault error after a few iterations. My workaround for this problem is to start carla as a subproccess, generate a scene, and terminate the subproccess af

[2021-03-17 12:09] TimLued opened #3995 "Fog rendering distance and black sky (0.9.11)"
Hello,

is it possible to change the fog rendering distance in 0.9.11?
The following image shows how it looks in Unreal by using
environment.py --fog 100 --fogfalloff 2 --fogdist 0

![fog_rendering](https://user-images.githubusercontent.com/50456467/111463528-f4755c00-871f-11eb-96c1-5b6e623254d1.jpg)

I want it more like it is shown in
https://carla.readthedocs.io/en/latest/tuto_G_retrieve_data/#w

[2021-03-17 12:15] i14d4 commented on #3906
Hello @jackbart94

the same behaviour is observed with values of 0.05 for fixed_delta_seconds.
The first screenshots in my first post are with fixed_delta_seconds of ~0.05. Only for further checking I used lower delta_seconds.

(e.g. fixed_delta_seconds = 0.045, Vehicle: Tesla Model 3, Brake command: throttle: 0.0, brake: 0.001)

thanks in advance for any help or explanation!

[2021-03-17 12:40] Zhuweilong123 opened #3996 "Using _build_graph(), I can get a networkx graph. I want to delete a specific line in networkx graph. Is there a good method?"
Using _build_graph(), I can get a networkx graph. I want to delete a specific line in networkx graph. Is there a good method?

[code]

[2021-03-17 12:45] wgoforth commented on #3980
@bernatx Do I need to run CARLA from source in order to confirm that? Also, if the map were too big, would I expect the same behavior when using the UE4 version of the map or does the OpenDRIVE map have a larger memory footprint? I can spawn pedestrians on Town05 using the same script modification (targeting OpenDRIVE landmarks for spawn points) without a problem when I'm using the UE4 map.

[2021-03-17 13:04] raymanfx commented on #3624
Okay, so it's .. somehow working but the overall setup feels a bit flaky.
Here's what I did:

1. Start the server
2. Spawn a vehicle, use an agent to drive along a route, record the scene using the Carla recorder

Now for the playback part:

1. Start the server
2. Start a "dummy" client that plays back the recording and spawns a camera

The code for this "dummy" client boils down to this:
[code]

[2021-03-17 14:23] zygfrydw commented on #3829
Great, thanks for your help!

[2021-03-17 14:30] corkyw10 commented on #3993
Hi @xiaoyang666 could you please provide the complete output of the error?
What command are you running?
Do you have multiple versions of Microsoft Visual Code installed? You should only have Visual Studio 2017 installed, otherwise there can be conflicts. You can see more information [here](https://carla.readthedocs.io/en/latest/build_windows/#visual-studio-2017)

[2021-03-17 15:17] raymanfx commented on #3945
Okay, I found the issue.
Apparently this snippet: `carla_world = client.get_world()` is not executed in a blocking fashion even when synchronous mode is activated. I use the following workaround to wait until actors are populated:

[code]

Without this workaround, the actor list is empty in approx. 50% of the time for me.
This issue occurs even if I apply the sync mode before requesting the world

[2021-03-17 15:39] raymanfx commented on #3624
I believe the "empty actor list" issue is linked to this: https://github.com/carla-simulator/carla/issues/3945, where I documented a workaround.

[2021-03-17 15:49] manju838 commented on #2232
I am getting the same error like this:

INTEL-MESA: warning: Performance support disabled, consider sysctl dev.i915.perf_stream_paranoid=0

X Error of failed request:  BadDrawable (invalid Pixmap or Window parameter)
  Major opcode of failed request:  149 ()
  Minor opcode of failed request:  4
  Resource id in failed request:  0x3000041
  Serial number of failed request:  370
  Current serial num

[2021-03-17 16:04] Madecu commented on #3995
Hello @TimLued,

To increase the rendering distance, you have to open BP_Sky, select Exponential Height Fog and increase "View Distance" in VolumetricFog category

![image](https://user-images.githubusercontent.com/54811869/111497289-44b0e600-8741-11eb-80bd-2259b0eb1eac.png)

In order to disable the decrease of the sun intensity over the amount of fog, you have to edit BP_Weather, "LightsIntensity

[2021-03-17 17:51] TimLued commented on #3995
Thank you @Madecu
That's exactly what I wanted.

[2021-03-17 17:51] #3995 closed

[2021-03-17 18:30] germanros1987 commented on #3996
Hi,

Do you mean you want to remove a segment from the graph? Could you please clarify?

[2021-03-17 23:37] xiaoyang666 commented on #3993
Thank you very much for your reply. When I run make pythonAPI command(win). Before this, many friends had the same problem. This is the file of my visual installation

[2021-03-18 03:05] CoderTylor commented on #3162
hi there I have also met this problem ,can you contact me wechat:939490967 or email tylorwang@bupt.edu.cn

[2021-03-18 04:11] MS012086 commented on #3740
Hi @Axel1092, Thank you so much for your reply. I have resolved the issue. While adding a new vehicle into carla, i have missed one step due to that reason the above error is occurred. Now it is working fine.

[2021-03-18 06:16] xuisshoe opened #3997 "Carla image cook fail. AutomationTool exiting with ExitCode=25 (Error_UnknownCookFailure)"
I am trying to build a CARLA docker image. I have tried to build the CARLA image on fresh installed Ubuntu 16.04/18.04/20.04 but I encountered with this same error.

ERROR: Cook failed.
       (see /home/ue4/Library/Logs/Unreal Engine/LocalBuildLogs/Log.txt for full exception trace)
AutomationTool exiting with ExitCode=25 (Error_UnknownCookFailure)
RunUAT ERROR: AutomationTool was unable to run su

[2021-03-18 06:35] xuisshoe commented on #3285
Why is this closed.....

[2021-03-18 08:21] youngsend opened #3998 "Initialization of current_state.velocity in PIDController.h"
Hi, @jackbart94,

When I read code related to PID controller used in traffic manager,
I find that in `StateUpdate` function, the `current_state.velocity` is initialized as `(current_velocity - target_velocity) / target_velocity`, which seems not to be a valid velocity.
Could you tell me why `current_state.velocity` is initialized this way?

[2021-03-18 08:33] Karthikeyanc2 commented on #3836
Hello!

I am also experiencing a similar problem with LiDAR sensors.

I am using an RTX 5000 GPU.
Carla Version: 0.9.10

Scenario and settings:
Without spawning any vehicles and adding LiDAR sensors to the infrastructure (all sensors are added through a single client).
Synchronous mode with fixed delta seconds as 0.1

Server FPS (appx):
With 0 LiDARs: 80 fps
With 1 LiDARs: 55 fps
With 4 LiDARs: 35

[2021-03-18 09:17] #3740 closed

[2021-03-18 09:55] AvivSham commented on #3649
@DSantosO | @PyTorr | @ebadi  Thank you for your response.
Another question - I want to integrate Carla with project acoustics to do so I need to work with Carla in UE. Is there any straight forward to use Carla in UE? (Addon or something like that?)
@dvirsamuel

[2021-03-18 11:14] nuomizai commented on #3767
No. But I found that it was not necessary for my environment to reload the world every episode, so I just keep the world entity.

[2021-03-18 11:24] lijecaru commented on #3073
Is there any update on this? I have the same problem

[2021-03-18 11:39] ImtiazUlHassan commented on #3965
I have figured it out. When we launch carla_ros_bridge_with_example_ego_vehicle it publishes a topic named ego_vehicle status. And in that topic there are all information available including throttle , steer , velocity etc

[2021-03-18 11:39] #3965 closed

[2021-03-18 12:13] DSantosO commented on #3891
Hello @amirtakouh,

We are now analyzing in detail the CPU usage of Carla so this data is very interesting. Are you using Linux or Windows? Sync or async mode? Are you monitoring also the communication? It could be that as more data is sent between client and server is sent it became the main bottleneck.

[2021-03-18 14:33] #3577 closed

[2021-03-18 15:39] amirtakouh commented on #3891
Hi @DSantosO,

Thank you for your response!
I am using Ubuntu 18.04 and running in async mode (default). The client and server are running on the same machine so I assume the communication (shared memory) is not a bottleneck.

Please let me know if more info is needed from my side.

[2021-03-18 22:44] zhiranyan commented on #3513
Hi, I also want to simulate a omni directional mobile robot in Carla. Others simulators do not fit for my task. So do you have a solution? Any tipps, I appreciate!

[2021-03-19 07:37] abirbensoltane opened #3999 "XIO: fatal IO error 13 (Permission denied) on X server ":0""
Hello! I have a problem while trying to launch the server .
I tried 0.9.9.4 and 0.9.11 both give the same error

$  ./CarlaUE4.sh
4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
XIO:  fatal IO error 13 (Permission denied) on X server ":0"
      after 341 requests (339 known processed) with 26 events remaining.
terminating with uncaught exception of type std::__1::system_error: mutex lock f

[2021-03-19 09:41] XGodina commented on #3829
Hi @zygfrydw, We've discovered the problems. Some Blueprint in our buildings, there are with a wrong collision preset. Now we add a correct collision preset and now appear in the lidar. The PR is waiting to accept.

[2021-03-19 09:43] XGodina commented on #3953
Hi @bpoebiapl , We've discovered the problems. Some Blueprint in our buildings, there are with a wrong collision preset. Now we add a correct collision preset and now appear in the lidar. The PR is waiting to accept.

[2021-03-19 14:10] will-sloan commented on #3775
Since I initially opened the issue, I have been able to generating my own signs by selecting `Automatically Place Selected Prop`, so RoadRunner is placing the stop signs. The cars are also following the signals I am setting in road runner.
The issue is that assemblies (like stop signs, buildings, traffic lights) either get placed in the incorrect spot, duplicated, or not fully rendered.
Here are s

[2021-03-20 01:32] kareido commented on #3677
Hi. Thanks for the response. Upon further debugging, I found the problem is due to some line in my code calling:
`world.tick()`
which is one of CARLA's interfaces that ticks the CARLA world one timestep ahead.

For CARLA 0.9.10 I am using, yes I am still facing this issue.

Thanks.

[2021-03-20 03:23] EchoYJJ opened #4000 "How to run faster in the co-simulation between CARLA & SUMO?"
Hi! I'm trying to run more simulation time in real time. (e.g. 1s in real life →1 min in simulation world)
To achieve this, I've tried change the **settings.synchronous_mode** from TURE to FALSE in the wish to run the server as fast as possible, but it doesn't work.
If you know how to solve it, please give some advises, thanks in advance!

[2021-03-20 03:52] AIasd opened #4001 "sensors took too long to send their data error"
Hi I encounter an error `Error during the simulation: > A sensor took too long to send their data` recently when using Carla 0.9.10 and Carla 0.9.11 (However, the errors are a bit different).

On Carla 0.9.9, I am not encountering this error.

On Carla 0.9.10, I am encountering this error every time I run a scenario.

On Carla 0.9.11, I am encountering this error only when I run more than ~50 scen

[2021-03-20 13:06] will-sloan commented on #3775
So it seems that the duplicates are due to Unreal Engine adding props then adding props from the xodr file. I noticed this when stop signs and such showed up when I didn't add them in RoadRunner.

[2021-03-20 22:22] cinjon commented on #63
@germanros1987 where do you see that this was solved?

[2021-03-21 10:21] abirbensoltane commented on #3999
The cause of this problem is Nvidia driver because I have two graphic cards.Most of people have some issue with nvidia drivers under linux. This is frustrating . I can't open Xserver as a simple user under linux and I can't run ./CarlaUE4.sh as root as well so I switched to windows but I wish I could find a solution.

[2021-03-21 11:46] PyTorr opened #4002 "Closed parking lot in town10HD"
Hi,
Is there a way to go inside the closed parking lot in town10HD.

![image](https://user-images.githubusercontent.com/8789891/111903600-cbb8d380-8a4b-11eb-9632-715fd6d5eb2a.png)

[2021-03-21 15:03] yaadram opened #4003 "'sensor_tick' attribute is non functional for ray-cast sensors"
Carla version : 0.9.11
OS: Windows 10 64
Python 3.7

After upgrading to 0.9.11 it seems that all the ray-cast sensors (Did not check others) have a bug that 'sensor_tick' attribute is non functional. The sensor tick-time is as the simulation FPS , verified also in synchronous-mode and asynchronous-mode.
**Used to work fine in 0.9.9.**

Any workaround/fix for this ?

[2021-03-21 15:05] qhaas commented on #1210
Seeing this (sometimes) with CARLA 0.9.8 using opengl on a Tesla V100 in an Ubuntu 18.04 environment:
[code]

[2021-03-21 15:35] qhaas commented on #2826
`Out of Device Memory`
The (which fails) Quadro P400 has 2Gb of memory, the (which works) GTX 2080TI has 11Gb of memory.  CARLA 0.9.9 uses UE 4.24, 0.9.8 uses 4.22.  (speculation) Suspect with the newer engine, more memory was used.  If other users finding this issue experience this, try using `-opengl` instead of vulkan, since [it uses less GPU memory](https://carla.readthedocs.io/en/latest/adv_r

[2021-03-21 23:59] Stephanehk opened #4004 "Absolute determinism for apply_control"
I have noticed that Carla.Vehicle.apply_control and world.spawn_actor is not completely deterministic (even in Carla 9.11). For example, in synchronous mode, I run

`Vehicle.apply_control(carla.VehicleControl(throttle=0.5, steer=0,brake=0))`

For my first run I get the velocity vector/spawn coordinates
timestep 1:
'agent_x': [88.61997985839844], 'agent_y': [275.4779052734375], 'agent_z': [0.001570

[2021-03-22 02:03] Zhuweilong123 commented on #3996
In my project, there will be some congestion in some roads. So I want the ego-vehicle to avoid those congestion when ego-vehicle runs on a predetermined trajectory. Due to the route planning algorithm is based on networkx graph, so I want to disable the congested road in networkx graph. Now I have found a solution. Thanks for your reply. @germanros1987

[2021-03-22 06:15] #3996 closed

[2021-03-22 07:55] alpkumbasar opened #4005 "Struggling to create a custom map from existing map."
I am looking for docs to create a custom map from existing map and i have found a page about it but now its gone in docs.
But to be honest i am new to Unreal Engine. So i need really specific and detailed information.

For example, go to /carla/Unreal/CarlaUE4/Content/Carla/Maps directory and copy paste Town02.umap. Then make your customization but not delete the following object from scene. Then

[2021-03-22 10:53] yaadram commented on #4005
Hi alpkumbasar,

What I usually do is:
1. Make a copy of the map in the UE editor (File-> Save current as)
2. Use the UE editor to delete specific objects,  make copies of specific objects , or add new objects.
3. What i couldnt find a soluciton to: Changing semantic data like lanes, and the traffic flow, also creating new road is very difficult , and you might need "RoadRunner" or similar 3rd par

[2021-03-22 11:52] Madecu commented on #4002
Hi @PyTorr ,

Those places weren't meant to be accessible, but if you want you can go to the unreal project and delete the barriers.

[2021-03-22 13:13] alpkumbasar commented on #4005
Thanks,
After changing the things i do not want, i try to use ./build.sh inside DockerUtil/dist and it gives me a new file called crosswalks.obj, However in docs it says it should give me .bin file and i should move it to Nav folder.

To sum up, problem is i do not have .bin file and i could not find Nav folder in carla repo.

Again thanks :))

[2021-03-22 16:59] #1606 closed

[2021-03-22 17:26] raymanfx commented on #3145
Bump. This still happens with Carla 0.9.11. Position data etc. is available during playback, but velocity is **not**, even if additional_data is `True` in `start_recorder`.

[2021-03-22 17:29] raymanfx commented on #3145
Apparently commit https://github.com/carla-simulator/carla/commit/f39bc702422261865edf69354cc4b3119681e68e was supposed to add the velocity information (and more), but it does not appear to be working on Carla 0.9.11, the tagged release containing the commit.

[2021-03-22 21:45] cinjon opened #4006 "How do I spawn at z=0.0?"
I am trying to save generated scenes from Carla and then respawn them exactly later. Sometimes, I might move an NPC in some direction, but trivially and still within the camera's view. However, I run into an issue where if I try to spawn at z=0.0, then there is a collision with the ground. How do I fix that? Is there a way to turn off the collision detection and allow for npcs to be in that positi

[2021-03-22 23:15] sissiok opened #4007 ""make PythonAPI" failed while compiling the source version of CARLA 0.9.11"
Carla version: 0.9.11 (source)
OS: Ubuntu 18.04.5 LTS
Python version: 3.7.6

`make PythonAPI` failed and here is the error message:
[code]

I checked `bootstrap.log` and I copied it as below. I appreciate if someone can help me with this!
[code]

[2021-03-23 04:03] #4004 closed

[2021-03-23 06:53] jarvis-huang opened #4008 "Gyroscope angular_velocity has opposite sign"
I am running a simulation on a right curve (see below image). Since the orientation of the IMU is X: forward, Y: left, Z: up, the angular velocity should have **negative z-component**, based on right-hand rule. However, I am getting positive. Am I missing anything here?

![imu](https://user-images.githubusercontent.com/13390566/112105517-bd60d980-8b69-11eb-983d-1db4eaf46cf5.png)

Version: Carla 0.

[2021-03-23 08:55] TimLued opened #4009 "Car light brightness"
Hello,

does Carla 0.9.11 support the increase of car light brightness? or of the illuminated area?
The following picture shows the cyber truck model with light_state = vls.Position | vls.LowBeam | vls.HighBeam

![carla_carlights](https://user-images.githubusercontent.com/50456467/112119386-9df39c00-8bbd-11eb-9f87-8eba15a8d139.jpg)

Best regards

[2021-03-23 10:11] doterop commented on #3810
Hi @NishanthARao ,

The forward, up and right vectors are calculated based on the transform's rotation.
You don't need two points to calculate them.

[2021-03-23 10:21] doterop commented on #3711
Hi @TianTianlove

What do you mean by shaking? Can you share a small video?

[2021-03-23 10:25] doterop commented on #3699
Hi @KangChou

You are generating the batch wrong. It should be filled with commands. Take a look at spawn_npc.py

[2021-03-23 10:25] #3699 closed

[2021-03-23 10:25] #3810 closed

[2021-03-23 10:27] doterop commented on #3676
Hi @Stephanehk

Are you getting this error only with Carla? It seems something related to the configuration of your machine.

[2021-03-23 10:32] #3436 closed

[2021-03-23 10:33] #2343 closed

[2021-03-23 11:36] glopezdiest commented on #3145
Hey @raymanfx, it seems to be working fine for me in both 0.9.11 and current dev. I just created a script that:
1) starts recording: `client.start_recorder(path, True)`
2) spawns a vehicle and fixes its speed
3) waits for some seconds before stops recording
4) Gets the recorder info and saves it into a file `client.show_recorder_file_info(path, True)`
With this, I didn't see any problems, so how a

[2021-03-23 13:14] Leviathan321 opened #4010 "opendrive could not be correctly parsed (WIN)"
I have the problem that carla can not parse the .xodr file when executing:
`
py -3.7 config.py -x opendrive/TownBig.xodr`

I have seen there has been already some issues opened https://github.com/carla-simulator/carla/issues/3269
but only for linux.

I am using the latest night build windows version.

Does anyone have the same problem with the win build? Is there a running version?

[2021-03-23 14:11] Madecu commented on #4009
Hi @TimLued,

Unfortunately through API you can only turn the vehicle lights on and off.
We are improving our vehicle gallery and we will implement the intensity and color customization in the future. We want them to work as streetlights and buildings do.

For now, you can edit the vehicle blueprint and change the intensity and attenuation radius for each vehicle.

![image](https://user-images.git

[2021-03-23 16:02] GarethZhang opened #4011 "no-rendering mode does not improve FPS under a lot of traffic"
Hi all,

I am trying to create a lot of traffic in Carla, e.g. Town06_Opt, by adding 1000 vehicles and 100 pedestrians. Currently, I am experiencing 4 FPS simulation speed, and it would be great if I can get some advice on my current set up and possible improvements.

To elaborate on what I am doing, I am trying to simulate a very busy traffic scene and at the same time to record live LiDAR scans

[2021-03-23 16:13] wuhanstudio opened #4012 "Client-side white screen flickering in low quality mode"
Hi,

I started a low quality Carla server (Ubuntu 18.04) using:

[code]

Then I connect to the Carla Server from a Windows Client using:

[code]

**Server Side**: Ubuntu 18.04, GeForce RTX 2080Ti, CARLA_0.9.11
**Client Side**: Windows 10, Intel Graphics, CARLA_0.9.11, Python API

https://user-images.githubusercontent.com/15157070/112177308-b29d5780-8bf0-11eb-8ac5-cfb407991b58.mp4

The RGB Camera f

[2021-03-23 18:54] cinjon opened #4013 "Bug in a camera sensor?"
I'm having a terrifically difficult time diagnosing what's going on. I can run the same code multiple times and get different outputs of where the objects are in the scene. Here's an example where in the first image it's great and the second somehow the boxes are not aligned. There is no stochasticity in how I generate the boxes. The only thing that provides the inputs is carla, the code didn't ch

[2021-03-23 20:17] vnmr commented on #34
zz

[2021-03-23 20:18] vnmr commented on #34
zz

[2021-03-23 20:18] vnmr commented on #34
we

[2021-03-23 20:18] vnmr commented on #34
qwe

[2021-03-23 20:21] vnmr commented on #34
three

[2021-03-23 20:22] vnmr commented on #33
here

[2021-03-23 20:26] vnmr commented on #34
three

[2021-03-23 20:27] vnmr commented on #34
three

[2021-03-23 20:35] vnmr opened #4014 "3dp-16"

[2021-03-23 20:37] TimLued commented on #4009
Thank you @Madecu !

[2021-03-23 20:37] #4009 closed

[2021-03-23 20:53] #4014 closed

[2021-03-23 22:51] armando-fandango commented on #3786
Any update on this please?

[2021-03-23 23:36] HoucemF commented on #3516
Sorry for the late response, I am still working with 0.9.10.1 and I have discovered another more serious issue with the camera. At some points, when the camera is collecting images it will turn blue and sometimes completely pitch black for a number of frames.
![spawn_0_0008_2021-03-18_21-18-42-918743](https://user-images.githubusercontent.com/72029066/112232340-c6f04d00-8c0e-11eb-84f6-dba4a495cafd

[2021-03-23 23:44] sissiok commented on #4007
Update:
`make PythonAPI` succeeded by downgrading boost from version 1.72.0 to 1.69.0 https://github.com/carla-simulator/carla/blob/78e7ea11306ca164fb664ec74d2224f2e1d01923/Util/BuildTools/Setup.sh#L104

[2021-03-23 23:44] #4007 closed

[2021-03-24 02:47] #3708 closed

[2021-03-24 04:11] NishanthARao commented on #3810
@doterop Thanks for the answer. However, I think there is a misunderstanding. Of course, as you mentioned, the forward, up, and right vectors are calculated based on the transform's rotation using coordinate transformation matrices, and this is also what I mentioned in my question.

The doubt arrives here. For a vector to be defined "mathematically" you need two points. The direction of a vector t

[2021-03-24 06:11] Chiakiaki opened #4015 "Camera still receives data in no-rendering mode in 0.9.11"
When enabling no-rendering mode in 0.9.11, the server side turns to black screen as expected. But on client side, I can still see image returned by camera sensors, and the FPS does not improve. Is this normal?

I'm an old user. I previously use version 0.9.8, and recently update to 0.9.11.  In same situations with same code, camera in 0.9.8 will return black screen or mosaic.

[2021-03-24 07:53] #3849 closed

[2021-03-24 08:59] EchoYJJ opened #4016 "Scene(fbx file) disappears partly (like slicing) when importing to CARLA"
Hi! I meet some problems when importing my fbx file (generated by Roadrunner) to CARLA.
My question may be a little long, thank you for your patience to address my problems.

My CARLA: 0.9.10 bulit in  windows

I'm trying to run co-simulation between **CARLA** and **SUMO**. Based on the osm file, I've tried the **osm2odr** tool provided by CARLA to get the OPENDRIVE file (xodr), but distortion hap

[2021-03-24 10:39] raymanfx commented on #3145
Hi @glopezdiest, thanks for taking a look.
This one is actually easy to reproduce with the official examples.

I modified `PythonAPI/examples/manual_control.py` and changed line 403 (in the 0.9.11 release) to `client.start_recorder("manual_recording.rec", True)` to record the additional metadata.

Using that script, I pressed CTRL+R to start the recording, drove for a bit, pressed CTRL+R to end th

[2021-03-24 11:30] glopezdiest commented on #3145
Oh no, that's a different issue. The recorder has a somewhat dual functionality.

The first one (and original behavior) allows the user to reenact the same scene over and over again (using `client.replay_file(...)`).
The other one is used to get information of the scene (using `client.show_recorder_file_info()`).

The behavior you are seeing is the first one and it doesn't matter whether or not yo

[2021-03-24 11:36] raymanfx commented on #3145
Thanks for clearing that up. I was not able to extract that kind of information from the recorder documentation.
Would it be possible to just "replay" the velocity values from the log while teleporting the actors around? It sounds like all the information is there and I think it would enhance the record/playback feature quite a bit.

[2021-03-24 12:03] makan-dianka commented on #305
<h2>i'm getting the same error :</h2>         <h3>autoreconf: /usr/bin/autoconf failed with exit status: 1</h3>

[2021-03-24 12:31] cinjon opened #4017 "How do I get the world's map name?"
How do I get the current map name that was used to instantiate the world without calling the expensive `get_map()`?

[2021-03-24 12:32] glopezdiest commented on #3145
Yeah, the teleporting part is definitely not at the Docs. We're gonna have to update that.

The playback was the original implementation of the recorder which is why it only uses the bare minimum information. It definitely would be an improvement but it would also need a complete redo to be able to use that information, and it isn't really a priority right now.

Not sure, but it isn't that simple,

[2021-03-24 12:46] raymanfx commented on #3145
I see. Sounds like I should just record the metadata when the agent + recorder is running and then sync it with the frames I record off the playback by matching the world snapshot timestamps.

Since this issue is about the information in the log files (which is present as you confirmed), I guess it can be closed.

[2021-03-24 12:47] cinjon opened #4018 "How to load a new world without having diverging views?"
(Using Carla 0.9.11 on Ubuntu 18.04.2, python 3.7.9, with vulkan working)

How do I load a new world while Carla is running? I have tried a lot and nothing has worked, e.g the following, which results in a world that diverges from what is visible on the screen. It was the cause of #4013.

I need this because my model decides what map to use and so I need to be able to change the world on the fly.

[2021-03-24 12:48] cinjon commented on #4013
Closing because bug appears to be related to loading a world.

[2021-03-24 12:48] #4013 closed

[2021-03-24 22:15] cacent96 opened #4019 "record and save .pcd file as a stream"
I try to look up on the website and most of the file type for the lidar are the .ply files. Would it possible to save it as a point cloud data format(pcd)? If yes, is that anyway I could save the file as a stream but not in image? Beside, how could I open the .pcd file?

[2021-03-25 01:14] erfpak7 commented on #3976
Is there any update on this? Has anybody ever created such a heads-up feature?

[2021-03-25 03:13] GarethZhang commented on #2738
@onebitme
Hi,
Can you elaborate on how to get .fbx of Tesla from UE4? For the Physics Assets, it only has option to export as .T3D objects.
Thanks!

[2021-03-25 06:14] onebitme commented on #2738
@GarethZhang right click on static mesh and you'll see
![image](https://user-images.githubusercontent.com/33605821/112427142-28690680-8d4a-11eb-9e80-67e82035e0bb.png)

[2021-03-25 08:30] #3145 closed

[2021-03-25 09:26] foamliu opened #4020 "How to make ego-vehicle invisible?"
The front of the car takes up too much space.

You need:
![image](https://user-images.githubusercontent.com/14009435/112450134-05ad1100-8d8f-11eb-9ee4-5d9821451ad2.png)

You get:
![image](https://user-images.githubusercontent.com/14009435/112450235-237a7600-8d8f-11eb-9223-e46f82d31291.png)

[2021-03-25 10:15] athulg opened #4021 "Is there a way to record point cloud data with ouput in .pcd format instead of .ply?"
Hello, as the title says, can I record the point cloud data using manual_control.py exported as .pcd files instead of .ply?
I know about [https://github.com/carla-simulator/ros-bridge/blob/master/pcl_recorder/README.md](url) but I'm looking for something in Carla?

Thanks! Any help is appreciated

[2021-03-25 10:23] parth3153 opened #4022 "how to use setters and getters in carla"
i know this is not an issue but i am not getting any answers in the discord community and the documentation is not enough..any developers can you provide me with an example script.. i have been stuck on thins since 2 weeks now...any help appreciated..thank you

[2021-03-25 13:57] jackbart94 commented on #3998
Hi!

That variable probably doesn't have the best name. For our PID do not use the target velocity itself, rather we use the **error** from our current velocity and the target velocity we want to reach. Then, it's divided by the target velocity to make the error a bit smaller, which helps reducing the oscillations when the PID is close to 0.

It will work with current_velocity - target_velocity as

[2021-03-25 14:04] #3841 closed

[2021-03-25 14:32] jackbart94 commented on #3692
I wanted to know more about your graphic card, should've been more specific. That's the most important thing.

I don't know much about those datasets, nor how long are they supposed to last. A suggestion that I could give is to [read this post I've recently written on the forums about improving FPS](https://forum.carla.org/t/whats-the-best-way-to-simulate-in-scenes-with-a-lot-of-traffic/867/2) and

[2021-03-25 14:42] ar4development opened #4024 "Importing very simple and clean XODR makes Carla crash"
I have prepared quite a simple map which was migrated from OSM using `netconvert` and then added some manual changes to the resulting file. This map is attached to the issue.

When I try to load this map into Carla using `python config.py -x /path/to/map` the simulator is getting crashed. I looked through some sort of similar issues here and they seem to be related to breaches between the lanes. H

[2021-03-25 14:43] JimmysCheapJeep commented on #3836
Hi!
Is there a way to support you analyzing the problem?
We would like to use the simulation as a "real-time" application and would like to get a achieve a higher framerate...
What framerates can be achieved?

[2021-03-25 14:44] cinjon opened #4025 "Map's x and y coordinates."
Is there any guidance as to what are the maximum x and y coordinates in a map? I'd like to use this to normalize input to the model.

[2021-03-25 15:10] jackbart94 commented on #4020
You could move the camera upwards a bit and the result would be the same as in the picture above. Do you need help with that? The issue isn't very clear.

[2021-03-25 15:17] faizan002 commented on #940
I have the same issue when I go to https://github.com/EpicGames
I do not see UnrealEngine there. :(

[2021-03-25 16:12] GarethZhang commented on #2738
@onebitme
Thanks! I was trying to export Physics Asset and it didn't work. But this works well!
A side question, I am new to Blender, and wasn't able to get the binding bones to mesh work following this tutorial [https://www.youtube.com/watch?v=ZmiZ6VkSJBE&ab_channel=ChipperVideos](url). Just wondering if you recall which tutorial you followed and worked?

[2021-03-25 16:39] onebitme commented on #2738
@GarethZhang
After you export the Tesla fbx, these would be the steps that I repeat everytime ( and google everytime since I also do not have any solid experience in blender) :
- Replace your mesh ( Google: "How to replace a mesh in blender")
- Adjust your child bones to the relevant wheel centers ( Google: "How to relocate bones in blender", one additional trick is that sizes of the bones really

[2021-03-25 17:33] ar4development commented on #4022
@parth3153 can you add more context to your question? are you asking about Python API or about contributing to Carla codebase? Can you describe your case you stuck with?

[2021-03-25 21:16] GarethZhang commented on #2738
@onebitme
Thanks a lot for the help! Got it working now!

[2021-03-25 21:28] Stephanehk opened #4026 "Non-determinism with Carla in synchronous mode"
I am running two trials of a Vehicle (spawned at the same spawn point with the same weather conditions) with the action (throttle = 0.5, steer = 0, brake = 0) at a frame rate of 10hz for 30 timesteps. The vehicle is simply going straight down a road. When using vehicle.get_transform() and vehicle.get_velocity(), however, both trials lead to different vehicle positions and different velocities at e

[2021-03-26 00:15] zjh6252007 opened #4027 "Running server and client in different machines has very low fps"
I am trying to running server and client in two computers. One running server and another connect to that server. I found the fps is very low about 20-30. When I running server and client in same computer I got about 80fps. So does anyone know what caused the decrease in FPS？

[2021-03-26 01:16] ParthAD3 commented on #3145
Hey all 4 of you guys..

I can upon this issue looking to find a way how to get a plot the acceleration, velocity, and torque curve of my ego vehicle..

1. To confess i don't know how to use setters and getters, i am confused do i need to write my own script or do i have to run manul_control.py and then call getters..
Can someone from you guys post their code of setters and getters =  apply.thrott

[2021-03-26 04:14] yshen47 commented on #88
@erfpak7 Easy fix, just comment that line out

[2021-03-26 09:24] thytless commented on #4027
How could we reproduce your problem? More information is appreciated, including but not limited to:

- Did you use a script in carla repository or you have your own?
- Are you in synchronous mode or asyn?
- And what about your machine environment(both server and client)? What about the bandwidth?

[2021-03-26 09:44] dotchen commented on #3692
Thanks a lot for the tip about using hybrid mode! I'll give it a try. Regarding hardware I've been using Titan X (pascal) and Titan Xp, as well as a GTX 1080Ti, and it slows down whenever there are more vehicles/peds spawned on the map, regardless hardware.

[2021-03-26 10:37] #3855 closed

[2021-03-26 11:13] neeawwbroom opened #4028 "Supermaneuverable?"
https://youtu.be/k7YVxLLIuGM

Can I simulate this with Carla?

#car #plane #aerialattack

[2021-03-26 11:18] #4028 closed

[2021-03-26 14:41] youngsend commented on #3998
Thank you @jackbart94 for the clear explanation!

[2021-03-26 14:41] #3998 closed

[2021-03-26 15:06] seuwcs commented on #3428
Dear friends, I also met a problem when Making PythonAPI, could you give me some suggestions?
the problem is list as follows:

wcs@wcs:~/carla$ make PythonAPI
Setup.sh: Retrieving libc++.
正克隆到 &apos;llvm-8.0-source&apos;...
remote: Enumerating objects: 36751, done.
remote: Counting objects: 100% (36751/36751), done.
remote: Compressing objects: 100% (32726/32726), done.
remote: Total 36751 (delta

[2021-03-26 15:09] abirbensoltane opened #4029 "unit of distance"
Hello! I want to know the unit of distance for example when I use carla.Location(x=0,y=7, z=2.8) I want to know the unit of z=2.8.
In addition, I'm trying to take photos of different angles and positions of a car to generate a dataset. But I don't know how to change the direction of the camera so that it can always be oriented towards the car. In blender, I use .to_track() to make the camera rotat

[2021-03-26 15:32] erfpak7 commented on #88
@yshen47 Thanks! I already figured but I thank your consideration.
Do you have any thought on this issue though : https://github.com/carla-simulator/carla/issues/3976

[2021-03-26 15:42] zjh6252007 commented on #4027
@thytless Hello I didn't use any script. I just connected with manual_control.py.
I think I used the asyn cause I disabled synchronous with config.py.
I'm working on windows and working with Carla package and I connected the two computers using the network cable.
Thank you.

[2021-03-26 16:34] jackbart94 commented on #4026
First, you should work with a fixed_time_step of 0.05, due to the physics engine and the Traffic Manager. This will probably fix your issue.

If this doesn't work, please explain more in detail how you are activate synchronous mode and determinism within Traffic Manager.

[2021-03-26 16:42] jarvis-huang commented on #4019
I don't know what you mean by a stream. Normally a pcd is simply a single pointcloud capture at one time instant.
You can save .pcd using pypcd. You need to write a small script to do the conversion.
You can view .pcd in rviz (again need a small script) or CloudCompare (directly open).

[2021-03-26 16:50] cacent96 commented on #4019
Hey there thank you for your reply. Since the pcd only capture at one time instant, then would it be possible to combine or merge the .pcd and turning it into a single file with multiple datasets?

[2021-03-26 17:56] Stephanehk commented on #4026
Setting the fixed_time_step to 0.05 solved the issue.

[2021-03-26 17:56] #4026 closed

[2021-03-27 01:18] foamliu commented on #4020
Thanks @jackbart94 ，I moved the camera to new position (2.5, 0,1), in front of the car, now it is better. I was worried about the impact but seems it is under control.

[2021-03-27 01:18] #4020 closed

[2021-03-27 01:43] EchoYJJ commented on #4016
I thought I've solved this problem. When export to CARLA, the Tile Size decides the boundary. As a result, it should depend on the size of the road network(small square=10,large square=100). For example, my network should be exported to tile size (1500,1500).

[2021-03-27 01:43] #4016 closed

[2021-03-27 02:04] EchoYJJ opened #4030 "How to run faster when importing fbx(by Roadrunner) to CARLA"
Hi! I use Roadrunner to generate the detailed 3D secne (fbx file).
![1616810189(1)](https://user-images.githubusercontent.com/75726020/112707060-65b4cc00-8ee3-11eb-8265-b064c9d62271.jpg)

However, when I export it to CARLA, about 6600 files needs to be imported(mainly road barriers for my scene).
![image](https://user-images.githubusercontent.com/75726020/112707046-546bbf80-8ee3-11eb-8a8a-9b09d09b

[2021-03-27 02:32] EchoYJJ commented on #4030
I've tried to simplify my scene, and increase the scale to 550. However, the importing process seems to be stuck in certain point.
![image](https://user-images.githubusercontent.com/75726020/112707571-6b141580-8ee7-11eb-89d1-5fc5dfead95f.png)
It took just a little time to 258/551, but stayed unchanged for a long time.

[2021-03-27 03:53] lapd-viosoft opened #4031 "Different on total point counts"
Hi,
I'm using C++ example with Carla 0.9.11 to get total points from lidar and I found that, total point count are not the same on the way we count it.
[code]

[code]

Can you please tell me, which one is correct way to get total points?
Thank you!

[2021-03-27 04:09] heethesh opened #4032 "Feature request: Simulate point cloud skew from the LiDAR when in motion"
When the LiDAR is under motion, a real-world point cloud would have a skew or a rolling-shutter effect (behavior would vary among static and dynamic objects in the scene) due to the small delay between the scan sweep start and end. Looks like the current LiDAR plugin freezes the scene and then performs ray-casting. Is there a way this skew could be simulated? This is similar to the Compensated fla

[2021-03-27 04:45] NishanthARao commented on #3765
@DSantosO Hi.

From the PRs, I see that two new functions are added: SetWheelSteerAngle and GetWheelSteerAngle.

However, the question asks the rotation angle of the wheel and not the steer angle of the wheel right? Could we use the GetRotationAngle() that UVehcileWheel provides?

[2021-03-27 06:56] EchoYJJ commented on #3981
Hi! @XGodina
Thanks a lot for your inspiration, and sorry for replying so late.
Except for the instrutions in UE4, I also learn from _https://www.youtube.com/watch?v=XYYfIYDqsDA_.
Two questions still confusing me, hope to receive your advices.

1.As a result of my fbx scene imported from Roadrunner not created in CARLA, the paint tool only shows up on what I create in CARLA(i.e. the buliding I dru

[2021-03-27 10:53] Sibi-ROS-coder commented on #1137
well i did the same thing the import Carla problem pops can you be specific what to do for pythin2 as well I am new to carla

[2021-03-27 10:55] Sibi-ROS-coder opened #4033 "import carla problem for carla 0.9.10-2 with ros-bridge 0.9.10-1"
well i did the same thing the import Carla problem pops can you be specific what to do for pythin2 as well I am new to carla

[2021-03-27 19:53] LichuanRen commented on #3269
I got the same error on Ubuntu 18.04, CARLA 0.9.10.

The nightly build returns another error: RuntimeError: rpc::rpc_error during call in function load_new_episode

[2021-03-28 09:09] heethesh commented on #4003
same issue here

[2021-03-28 23:09] qhaas commented on #3197
We are seeing `Crash variant 3` seemingly randomly in 0.9.8+OpenGL, especially on slower systems... we are thinking it is a race condition.

[2021-03-29 02:58] SimonLeeGit opened #4034 "carla client(cpp) coredump at GetServerVersion"
I found a coredump at GetServerVersion when i run carla client cpp. Anybody who can help me about this.

E0329 10:03:08.336635   197 init.cc:64]  *** Aborted at 1616983388 (unix time) try "date -d @1616983388" if you are using GNU date ***
E0329 10:03:08.337338   197 init.cc:64]  PC: @                0x0 (unknown)
E0329 10:03:08.337410   197 init.cc:64]  *** SIGABRT (@0x3e8000000c5) received by PI

[2021-03-29 06:06] doterop commented on #3497
Hi @PyTorr ,

Can you explain more in-depth about what exactly you need?

[2021-03-29 06:27] whuxhzhang opened #4035 "Modification of pedestrian clothing"
Ubuntu18.04
carla-0.9.11

I want to add a pattern or picture of my own choice to the clothes of pedestrians. How should I operate? Does it have any requirements for these patterns?

[2021-03-29 07:03] PyTorr commented on #3497
I wanted lanes segmentation.

[2021-03-29 09:25] zhaoshan2 opened #4036 "Sensor measurements not correct"
Hello,
I am trying to export the position of the waypoints of a trajectory to a .txt file then read these waypoints and follow them, so that we can have the same route every time. Meanwhile the sensor measurements(gnss, imu, lidar) and the vehicle status are recorded. When in the waypoint navigation mode:

the velocity (returned by `vehicle.get_velocity(`)) seems not correct.
This is the plotting

[2021-03-29 10:12] PriestOfAdanos opened #4037 ""recipe for target 'package' failed" Error on "make package""
My log file:
[log.txt](https://github.com/carla-simulator/carla/files/6220954/log.txt)

Plz help :(

[2021-03-29 11:33] PriestOfAdanos commented on #4037
replication of #3879

[2021-03-29 11:37] cinjon commented on #4006
I run into this issue an enormous amount. Is there no way to specify that I want to spawn on the ground rather than waiting for the NPC to come falling down afterward?

[2021-03-29 13:11] rossivalen commented on #3670
observed the same issue, i was thinking about assigning a fixed value for that dimension (since all pedestrians have the same extents values) and solve that way.
Would you mind sharing any alternative solution you found, if any? Thanks

[2021-03-29 15:40] corkyw10 commented on #4001
@DSantosO could you follow up on this please?

[2021-03-29 15:46] corkyw10 commented on #4006
@XGodina could you follow up on this please?

[2021-03-29 15:49] corkyw10 commented on #4008
Hi @jarvis-huang CARLA uses left-hand rule

[2021-03-29 16:16] corkyw10 commented on #4010
Hi @Leviathan321 can you post the full output of the error from the console please? Can you confirm that the path is correct? Can you check that `CarlaUE4/Content/Carla/Maps/OpenDrive/OpenDriveMap.xodr` matches `TownBig.xodr`? If not there may be an issue with encoding which should be utf-8

@Axel1092 could you follow up if needed?

[2021-03-29 19:05] #3507 closed

[2021-03-29 19:49] raymanfx commented on #3891
I'm also very interested in this.
We use a setup consisting of 3 cameras (front view 1280x720 and 2x side mirror views 720x720) and are getting ~10 FPS on a Ryzen 3 3700X + Nvidia RTX 2080 Ti.

I am able to allocate some of my team members for performance research, but would appreciate at least a hint on what are the main bottleneck here before wasting man hours finding them.

[2021-03-29 20:49] jarvis-huang commented on #4008
Thank you @corkyw10
Just for reference, #1012 gives details about CARLA axes.

[2021-03-29 20:49] #4008 closed

[2021-03-29 21:32] ParthAD3 commented on #4022
hello,
so i want to get the velocity, acceleration, and torque curve plots of my simulation log files i dont know how to extract data from my log files.

so i wrote this script.. to print the velocity and at the end plot these data at the end, the isuuee is i am not getting any plots, the vehicle is not moving even tho is was set to autopilot, so i just get the constant location printed, i think t

[2021-03-29 21:38] Leviathan321 commented on #4010
Hi, my output is:

[code]
There is no OpenDriveMap.xodr in the path, there are just TownXY.xodr files. I tried to run the files, but I get the same error.

[2021-03-29 21:52] ParthAD3 commented on #4022
also,

i found this script here https://github.com/carla-simulator/carla/issues/3256

but i am getting index error here at line 87 and 104

![image](https://user-images.githubusercontent.com/71602780/112904771-beee4c80-90e9-11eb-89fa-4eac4ee7da21.png)

[2021-03-29 23:25] cinjon commented on #4006
Thanks for triaging. The issue at large is that I have to drop the agents from up high and wait for them to settle before I can get a snapshot of the scene at rest. It would be great to avoid this because it's adding a lot of sim time.

[2021-03-30 03:37] imoneoi opened #4038 "Collision sensors don't work sometimes"
In synchronous mode, I spawned multiple cars with different blueprint, and attach a collision sensor on each of them. Some of the collision sensors work and some does not work at all.

It also appears randomly, spawning 5 different cars will reproduce this issue with high probability.

It seems that someone had the same issue, but not resolved yet:
https://github.com/carla-simulator/carla/issues/1

[2021-03-30 03:40] imoneoi commented on #1553
@ahmedhatem3h I had the same issue, did you have any solutions?

[2021-03-30 05:19] ahmedhatem3h commented on #1553
@imoneoi Yes, I used Carla 0.9.9.4, which was the latest at the time, instead of 0.9.7, and it worked fine

[2021-03-30 05:26] imoneoi commented on #1553
@ahmedhatem3h Thanks! I use 0.9.11, it seems still have that issue.

[2021-03-30 10:05] DSantosO commented on #3649
Hello @AvivSham,
Yes, just download from the source and you can work directly in the Unreal Engine editor. Check in our [documentation website](https://carla.readthedocs.io) in the Linux/Windows build sections.

[2021-03-30 10:05] #3649 closed

[2021-03-30 10:48] DSantosO commented on #4001
Are you using synchronous or asynchronous mode? What timeout have you configured?

[2021-03-30 10:49] pergustav commented on #2716
Hi,

I face the same problem as stated in this issue, with Carla 0.9.10. I have custom vehicle, and the wheels lag behind the body, when driving. Followed [this](https://carla.readthedocs.io/en/latest/tuto_D_generate_colliders/#physics-colliders) tutorial to create the mesh.

I have checked the official Cyber Truck, and the wheels are static to the body. The Low density mesh is one piece, I assume

[2021-03-30 10:50] #3932 closed

[2021-03-30 13:07] imoneoi commented on #4038
It seems that only these 3 models don't work
[code]

Code to reproduce:
(Spawn many cars and run straight at full speed, check if collision detected)

[code]

[2021-03-30 13:44] JimmysCheapJeep commented on #4034
Hi,
we had this is the beginning, too.
Looks like the client establishment takes some time.
We simply added a timeout after creation, and no crashes appear any more.
client.SetTimeout(std::chrono::seconds(10));

[2021-03-30 14:58] AIasd commented on #4001
Hi @DSantosO , I am using the synchronous mode and I set timeout to be 60 seconds. However, even if I increase the timeout time, the same error appears.

[2021-03-30 15:20] #4011 closed

[2021-03-30 15:20] corkyw10 commented on #4010
With another user we found that the issue was happening due to lack of write permission for the server on the directory  `CarlaUE4/Content/Carla/Maps/OpenDrive/` because the server needs to write a file there during parsing. Can you check if there are write permissions on that directory?

[2021-03-30 15:23] corkyw10 commented on #4012
@bernatx could you have a look at this please?

[2021-03-30 15:23] corkyw10 commented on #4015
@DSantosO could you follow up on this please?

[2021-03-30 15:39] corkyw10 commented on #4017
@doterop could you follow up on this please?

[2021-03-30 15:43] corkyw10 commented on #4018
@Axel could you follow up on this please?

[2021-03-30 15:46] corkyw10 commented on #4021
Duplicate of #4019

[2021-03-30 15:46] #4021 closed

[2021-03-30 15:56] corkyw10 commented on #4022
Hello @ParthAD3 my assumption is that are getting zero values for velocity because you are using `traffic_manager.set_hybrid_physics_mode(True)` which means vehicles farther than a certain radius from the ego vehicle will have their physics disabled, so their velocity would be zero. it could also be related to this issue #3683

[2021-03-30 15:58] corkyw10 commented on #4024
@Axel1092 could you follow up on this please?

[2021-03-30 15:59] GarethZhang commented on #4011
@corkyw10 Thanks!

[2021-03-30 16:01] corkyw10 commented on #4025
@cinjon I can see this question has been asked in the [forum](https://forum.carla.org/t/maps-x-and-y-coordinates/871/2) but you still need some information. I will close this issue after assigning to @XGodina for follow up in the forum.

[2021-03-30 16:01] #4025 closed

[2021-03-30 16:14] GarethZhang commented on #3280
Hi @SchDevel ,
I imported my own blueprint car into Carla as you did. For some reason my LiDAR and semantic LiDAR sensor are not able to detect it in their scans. How were you able to solve it?

Thanks!

[2021-03-30 16:20] corkyw10 commented on #4029
Hi @abirbensoltane the units of measurement are meters and I think you will find a nice example of the camera behaviour in the example script `manual_control.py` in the function `CameraManager`

[2021-03-30 16:22] corkyw10 commented on #4030
hi @EchoYJJ have a read of this [post](https://forum.carla.org/t/importing-maps-from-roadrunner-to-carla-on-linux/839/8) in the forum to see if it helps to explain more about the map import process and how to handle the limitations plus some future plans. Let us know if you have any follow up questions.

[2021-03-30 16:25] cinjon commented on #4006
A little bit more information: I am generating scenes by having the agents go on autopilot for a while and then getting the last position after, say, 100 steps. I'm then regenerating that last scene, with some NPCs possibly moved. Sometimes, I can't even regenerate the original scene without a collision, which means I have to increase the z at which the colliding agent must "drop". This is a huge

[2021-03-30 16:36] cyber-loop opened #4039 "change duration of light state in traffic junction"
Hi

I simply load a map and run the ego vehicle using manual_control.py script with autopilot. The ego vehicle crosses the junction traffic signal. Currently the traffic light takes alot of time to set to green. I want to reduce the duration of traffic light state in the junction.

How can I change the duration of traffic light state. Is there any API which does this action.

I am using CARLA 0.9.

[2021-03-30 16:38] GarethZhang opened #4040 "LiDAR/Semantic LiDAR sensor does not detect new added vehicle"
Hi all,

I followed the official guide to add new vehicle into Carla: https://carla.readthedocs.io/en/latest/tuto_A_add_vehicle/

However, both LiDAR and semantic LiDAR sensor are not able to detect my vehicles.

Here I have my ego-vehicle

![carla-1](https://user-images.githubusercontent.com/12428975/113024395-b1ba7780-9154-11eb-80cf-ee6300ba24f2.png)

yet it is unable to detect anything

![carla

[2021-03-30 18:37] danielaDESM commented on #3673
I am moving the vehicle through waypoints: waypoint.next(). So, in autopilot I do not have this problem. It is only when I move through waypoints. Is it not available the imu information in this modality?  Here the code block:

`print('Advancing in simulation')
        # Create a synchronous mode context.
        with CarlaSyncMode(world, lidar, imu, gnss, fps=1/delta) as sync_mode:
            #

[2021-03-30 20:37] cinjon commented on #1632
@Horcrux1  / @Yumin-Sun-00 , why would those two _solve_ the issue?

[2021-03-31 01:55] GarethZhang commented on #4040
Figured it out following this part here:
https://carla.readthedocs.io/en/latest/tuto_D_generate_colliders/#raycast-colliders

[2021-03-31 01:55] #4040 closed

[2021-03-31 03:33] NishanthARao opened #4042 "Bug in CARLA sensor tutorial"
Greetings.

I am trying to write a CARLA sensor plugin to obtain wheel odometry, but since I am relatively new to CARLA and Unreal API's, I thought I'll just try to implement the `SafeDistanceSensor` that the [CARLA Documentation](https://carla.readthedocs.io/en/latest/tuto_D_create_sensor/) provides.

Unfortunately, when I run the last command `make rebuild`, I get the following error:
[code]

I

[2021-03-31 06:44] EchoYJJ commented on #4030
Hi @corkyw10, thanks a lot for your advice. It seems that the map import process of complex scene still remains to be a time consuming task. Maybe in UE4.25 or UE4.26, the situation could be better.

I also trird to generate much vegetation in Roadrunner, then over 10000 files need to be imported, which is very time consuming and meaningless. As an alternative, I simplify my Roadrunner scene to on

[2021-03-31 07:27] EchoYJJ opened #4043 "Collision mode issue in co-simulation between CARLA & SUMO"
Hi! In the co-simulation, I use manual_control.py to interact with the vehicles generated in CARLA through spawn_npc_sumo.py.(named background vehicles **BV**)
However, the collision mode seems to be weird.
If the ego vehicle I control(named EV) slowly approaches the BV, it will detect me then yield. However, once EV collided with BV, the BV will become aggressive and bump EV like a bulldozer for

[2021-03-31 07:44] EchoYJJ commented on #4043
Uploading 315485055e2c14ace73d5c83e5982d4e.mp4…

[2021-03-31 07:46] cyber-loop commented on #4039
I think with set_green_time, set_yellow_time and set_red_time I can change the traffic light duration for all the traffic lights in the map. Can anyone confirm that?

https://carla.readthedocs.io/en/latest/python_api/#carlatrafficlight

[2021-03-31 07:54] EchoYJJ commented on #4000
Also, when my scene gets more complex(more vegetation or vehicles), the simulation speed slows down(1s in real life≈5s in simulation). I also notice that vegetation in CARLA are dynamic which is unnecessary for me. Whether the simulation speed will rise, if I change the mode from dynamic to static.

[2021-03-31 08:14] PyTorr commented on #3823
Same here

[2021-03-31 08:57] joel-mb commented on #4000
Hi @EchoYJJ. The co-simulation between CARLA and SUMO needs to be run in synchronous mode for both simulators. Otherwise, it is likely to lose the synchronization between both simulations at some point.

I've made a couple of changes to get faster co-simulation between CARLA and SUMO by default in this branch: https://github.com/carla-simulator/carla/tree/joel-mb/sumo_layers. Could you test if thi

[2021-03-31 08:58] EchoYJJ opened #4045 "Height problem in co-simulation between SUMO and CARLA"
Hi! I'm trying to run a co-simulation between SUMO and CARLA in a overpass scene.
I use Roadrunner to raise my road into overpass.
However, if I use _python run_synchronization.py examples/osm.sumocfg  --sumo-gui_  to run the co-simulation, the vehicles generated by SUMO will only drive at horizontal plane(z=0) because the road in SUMO don't have height information.
So, in this situation, is that