[2020-05-05 13:56] wendersonj opened #2820 "Error ALSA Carla 0.9.9"
Trying to run Carla 0.9.9 in Google Cloud Engine with command

and receiving

Disabling core dumps.
ALSA lib confmisc.c:767:(parse_card) cannot find card '0'
ALSA lib conf.c:4528:(_snd_config_evaluate) function snd_func_card_driver returned error: No such file or directory
ALSA lib confmisc.c:392:(snd_func_concat) error evaluating strings
ALSA lib conf.c:4528:(_snd_config_evaluate) function snd_fu

[2020-05-05 13:58] wendersonj commented on #2820
Just installed library `alsa-utils` but error persists.

[2020-05-05 14:28] rehamessameltagoury commented on #106
Hi
I am trying to implement this model but the steering predictions are not right.
So i wanted to know if this model worked with you

[2020-05-05 14:36] wendersonj commented on #2820
solved with the help of
[https://medium.com/@etendue2013/how-to-run-ai2-thor-simulation-fast-with-google-cloud-platform-gcp-c9fcde213a4a](url)

`pcm.!default {
  type plug
  slave.pcm "null"
}`

[2020-05-05 14:36] #2820 closed

[2020-05-05 14:36] rehamessameltagoury commented on #106
Hi
I am trying to implement this model but the steering predictions are not right.
So i wanted to know if this model worked with you😅

[2020-05-05 15:40] jackbart94 commented on #2819
Hi,

About spawn_npc, that's weird, can you give us some more information about this? What are you executing exactly? Which OS are you on? Which version of Python? Is anything happening on the terminal? Also in scenario_runner, what are you running exactly?

[2020-05-05 16:53] Roosstef commented on #2819
Hi,

im using ubuntu 18.04 with python2.7. I run a CarlaUE4.sh server on a remote maschine, manual_control.py from examples of the latest master and spawn_npc.py from latest master.

Everything worked fine with the last carla version using same setup and scripts.

I run scenario_runner using the carla_ros_brige carla_ad_demo.launch file. Everything works properly except the target vehicle is not m

[2020-05-05 20:27] VincentDupontAB commented on #2806
Could you describe what was your process to resolve this issue?

[2020-05-06 01:40] GimpelZhang commented on #2735
You are right. #2797 has the same screen output.

[2020-05-06 02:03] #2532 closed

[2020-05-06 02:03] #2528 closed

[2020-05-06 02:03] #2522 closed

[2020-05-06 02:03] #2456 closed

[2020-05-06 04:51] MohamedDaoud1 opened #2821 "Stop lines locations"
Is there a way to get stop lines locations on the map like waypoints?
I'm trying to know intersections locations so I can command the car to stop properly.

[2020-05-06 05:03] #2503 closed

[2020-05-06 05:03] #2534 closed

[2020-05-06 07:03] #2318 closed

[2020-05-06 11:09] #2810 closed

[2020-05-06 12:30] Sid1057 opened #2822 "Unexpected behavior with zero distortion at semantic segmentation and depth sensors"
Hello!

When in synchronous mode I set the distortion to zero for semantic segmentation and camera depth, I get a too strange result:
[code]
BGR:
![rgb741354](https://user-images.githubusercontent.com/12153757/81176619-0dfd3180-8fae-11ea-9f33-1b4e8a06ede6.png)

Depth (BGR):
![depth741354](https://user-images.githubusercontent.com/12153757/81176654-1d7c7a80-8fae-11ea-9fc3-f15ca6c2a25c.png)

Semanti

[2020-05-06 13:48] #2790 closed

[2020-05-06 14:03] #2322 closed

[2020-05-06 16:04] MichaelKlin commented on #2741
Hi @marcgpuig , i have the same Problem. I use Windows10, latest Carla and Python 3.6.6
 I downloaded a PythonAPI (.egg file) from:
https://github.com/carla-simulator/carla/releases/tag/0.9.9
and put the .egg(carla-0.9.9-py3.7-win-amd64.egg) file under
D:\Carla2\carla\PythonAPI\carla\dist

If i run python skript (like manuel_control.py ), I get this Warning:
WARNING: Version mismatch detected: You

[2020-05-06 16:15] aadityasp1 opened #2824 "Carla 0.9.9 crashes with Segmentation Fault error due to the new Opendrive tool."
Hi, I'm trying out the Opendrive standalone tool on Carla 0.9.9. Compiled version. (using NVIDIA 1080Ti Gpu, Ubuntu 16.04)
When I run ./CarlaUE4.sh, server opens up fine, but when I try to connect to it with config.py client under PythonAPI/Util with a the new - x  abc.xodr. The server window crashes. With the following error.

`
Disabling core dumps.
Signal 11 caught.
Malloc Size=65538 LargeMemor

[2020-05-06 16:32] ptigas opened #2825 "make LibCarla fails because of [-Werror,-Wimplicit-float-conversion]"
Hi,

Building LibCarla (master branch) fails because of strictness of compiler flags.

[code]

Is there something missing from the documentation? Just running `make LibCarla` fails for the right reason.

[2020-05-06 16:33] ptigas commented on #2825
complete log

[code]

[2020-05-06 17:09] Rajshah05 commented on #2471
I shifted to the latest version from the stable version

[2020-05-07 06:24] ShivamPR21 commented on #2735
I am trying to build it for ubuntu18.04 with the solution provided by @villie17 , it passes one step but gets stuck on other here are my terminal outputs.

[code]

[2020-05-07 08:36] derFrickler opened #2826 "Carla 0.9.9.1 debian package crashes on Kubuntu 20.04"
When trying to run the latest carla-simulator 0.9.9.1 on Kubuntu 20.04 it crashes with the following error. Installation of the debian package via apt works fine. Running the 0.9.8
 debian package starts up without problems.

`./CarlaUE4.sh
4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
Failed to find symbol file, expected location:
"/opt/carla-simulator/CarlaUE4/Binaries/Linux/CarlaUE4-L

[2020-05-07 12:51] MichaelKlin commented on #2806
@VincentDupontAB there were so many mistakes. I forget, what I have done. But i am sure, that in my projeckt was not such files like  ../static/road/.. . And i downloaded new project-zip file. And founded that files. and added to my projeckt

[2020-05-07 13:06] derFrickler commented on #2826
Works with the new new GTX 2080TI  Card.

[2020-05-07 13:06] #2826 closed

[2020-05-07 16:37] #2353 closed

[2020-05-07 16:57] SuhrudhSarathy commented on #1941
I am still getting this error after doing the above mentioned. Could you please help?

[2020-05-08 09:37] ghost opened #2829 "Visualize Lane Markings in OpenDrive Standalone Mode"
Currently, with version 0.9.9, the OpenDrive standalone mode does not visualize lane markings (e.g. see following image from the [release notes](https://carla.org/2020/04/22/release-0.9.9/) ).

Can they be added? This increases the number of usecases CARLA could be used for. Also it eases transitioning from any other simulator to CARLA, as many other tools already have support of OpenDRIVE. So tra

[2020-05-08 09:39] pierluigiolleja commented on #1090
Hi, thank you for your suggestion.
Is there a possibility to get COVISE/OddLOT already compiled?

Thank you

[2020-05-08 09:46] nuomizai commented on #1372
thank you, this works for me! However, after I successfully import carla and test a reinforcement learning agent trained by carla, an error occurs as:
ModuleNotFoundError: No module named 'carla.driving_benchmark'

[2020-05-08 13:38] filangel commented on #2132
same applied to [`dm-sonnet`](https://pypi.org/project/dm-sonnet/).

[2020-05-08 14:29] hbanzhaf commented on #1090
I found this [page](https://fs.hlrs.de/projects/covise/support/download/) where you can download already compiled versions of COVISE. However, I have never tried them and I do not know whether they include OddLOT.

[2020-05-09 01:23] #2542 closed

[2020-05-09 01:23] #2494 closed

[2020-05-09 06:22] emailweixu commented on #2689
👍 It will be great if rendering for multiple cameras can be parallelized.

[2020-05-09 12:26] filangel commented on #2789
@jackbart94 I have reproduced the issue, however, by setting the traffic manager to async mode (i.e., `tm.set_synchronous_mode(False)`) before reloading the world does *not* fix the issue for me!

[2020-05-09 13:23] yousinf commented on #2734
Thanks, I'm going to test the 0.9.9 version.

[2020-05-09 13:28] yousinf commented on #2730
OK. Thanks.

[2020-05-09 13:36] yousinf opened #2830 "check if the walker is on the crosswalk."
Hi,
How can I check if a walker cross the street on a crosswalk or not??

Thanks.

[2020-05-09 13:47] ujjawal-kumar opened #2831 "RADAR sensor info"
Hi,
Can some one help me in studying more about RADAR sensor in below aspects.

(1) it is given that the new model of RADAR sensor added  (https://carla.org/2019/12/11/release-0.9.7/)  is based on Ray tracing. Is it only EM wave reflection based modeling and detection shown in CARLA or it has any association with actual RADAR system level parameters (as asked in below question).

(2) I would like

[2020-05-10 03:36] #2551 closed

[2020-05-10 07:15] magehrig commented on #2356
@marcgpuig Can this be reopened? It's not fixed afaik.

[2020-05-10 11:36] #2547 closed

[2020-05-10 12:36] #2536 closed

[2020-05-10 13:01] YashBansod opened #2832 "How to get distance (along the road) between two locations in CARLA?"
I was working on a TSP problem and wanted to use CARLA's maps for my problem set.
However, I cannot find any API that can give me the distance between two locations (along the road) (not just the straight line euclidean distance).

Does any one have any idea how this can be done? Or maybe I am missing something?

I was trying to implement shortest path algorithm on the map topology, however, map t

[2020-05-10 16:38] davebiagioni commented on #1563
@Harsharma2308 Not sure this issue is the place to ask a question about the API, but I stumbled across it so here you go : )

Via the [timestamp](https://carla.readthedocs.io/en/latest/python_api/#carlatimestamp) object in the world [snapshot](https://carla.readthedocs.io/en/latest/python_api/#carlaworldsnapshot).  E.g., (silly example but it illustrates the point):

[code]

In syncrhonous mode, y

[2020-05-10 19:36] #2555 closed

[2020-05-10 19:50] adrigrillo opened #2834 "Deployment rotation does not match with desired rotation"
Hello,

I am currently testing the use of testing of static cameras to record some traffic scenes in CARLA 0.99, both in Linux and Windows.
In concrete, I have a wide range of combinations of positions and rotations.
However, when I set the camera with a pitch of -90 degrees (bird's eye point of view), I am facing the problem that the yaw is combined with the roll once the camera is deployed so I

[2020-05-10 20:44] dustyujanin opened #2835 "ERROR: Spawn failed because of collision at spawn position"
Hello.
I install 0.9.9 version
When trying to run python3 spawn_npc.py

Error:
ERROR: Spawn failed because of collision at spawn position
ERROR: Spawn failed because of collision at spawn position
ERROR: Spawn failed because of collision at spawn position
ERROR: Spawn failed because of collision at spawn position
ERROR: Spawn failed because of collision at spawn position
ERROR: Spawn failed becaus

[2020-05-11 04:45] HuronPerera opened #2836 "Accessing UWorld instance pointer from the client"
<!--

Hello Carla,

I want to find out whether there is any way that I can access the UWorld instance pointer from the client. If it is possible, then I plan to use it during the update. If not, what is the best way to modify the Carla server so that I can at least access the UWorld at initialization and print out some information. What I want to do is to print some information about the Physics s

[2020-05-11 08:14] jackbart94 commented on #2835
Hi,

This message is just a warning that either some vehicles or some walkers (in this case it's probably walkers) haven't spawned because the random location is too near to one of another walker.

So basically, nothing to worry about.

[2020-05-11 08:14] #2835 closed

[2020-05-11 08:14] adrigrillo commented on #2835
How many vehicles are you trying to spawn at once? For me it seems, that you are trying to spawn more vehicles that spawn points are in the map.

[2020-05-11 08:18] jackbart94 commented on #2832
Hi,

To do this, you need to get the nearest waypoint to both locations and then develop a heuristic to get the shortest path. There's an example in PythonAPI/agents/global_route_planner.py for our own agents, you can take a look at that. It basically builds a networkx graph from the map topology.

Let me know if this helps you!

[2020-05-11 12:59] Deio828 opened #2840 "Running Carla 0.9.6 on VM"
Hello,
My local machine can't run carla 0.9.6 properly, the cache size is not compatible to run carla graphics with multiple clients.
So I'm intending to run Carla on some VM provided by a local company in my country, but they asked me first, what specs should the VM have to run Carla.
Could you please me in order to select the best VM.

[2020-05-11 13:08] dustyujanin opened #2841 "Carla cv2.imshow() not working : white screen"
Hello.
I'm trying to run this code: https://pastebin.com/wFM0z1vj
Carla 0.9.9
But cv2.imshow now working. I see only white screen
![image](https://user-images.githubusercontent.com/13289476/81565188-a413cc00-93a1-11ea-94a3-58d7ce00d585.png)

[2020-05-11 23:14] RyanHopkins7 opened #2842 "Lidar attached to vehicle with SpringArm results in limited FOV"
Hello,

I was following the [lidar raycast sensor guide](https://carla.readthedocs.io/en/latest/tuto_G_retrieve_data/#lidar-raycast-sensor) which suggests using the SpringArm attachment. Using SpringArm results in a non-rotating FOV limited to sight of the front-left and back-right sides of the vehicle as shown below:
![SpringArmLidar](https://user-images.githubusercontent.com/20050820/81621059-73

[2020-05-12 03:51] pirate-lofy commented on #2841
It might be irrelevant to Calra, but can u try
[code]

[2020-05-12 06:31] pirate-lofy opened #2843 "side road intersection in carla 0.9.5"
Thanks for Carla team for the great updates in Carla 0.9.x
in Carla 0.8.x there were some useful features like the offroad_intersection measurement which I can't find in Carla 0.9.5.
Does anyone have any idea how to get this measurement in Carla 0.9.5?

[2020-05-12 07:53] ZhangYouRong opened #2844 "Is there any API relating to the vehicle running power？"
Is there any API relating to the vehicle running power？It seems that there is no sensor relating to it. With this we can evaluate our algorithm in economic dimension.
@krmartin

[2020-05-12 07:55] pirate-lofy opened #2845 "How to set the orientation of the vehicle towards a specific location"
I'm developing a reinforcement learning model using Carla 0.9.5..
at the start of the episode, I want to spawn the vehicle towards a target point in order to be sure that the vehicle is moving in the right direction.

[2020-05-12 08:07] pirate-lofy opened #2846 "How to check if the vehicle is following a specific route"
Hi, I'm developing a reinforcement learning model using Carla 0.9.5...
to compute the reward function, I want to measure how good the vehicle has followed the shortest path between the start and the end point..
I found some useful functions inside the global_route_planner.py that find the shortest path and return the full rout between two points..
but now I'm having some rough time trying to find

[2020-05-12 09:30] daydin41 opened #2847 "Tuning vehicle dynamics parameters of a new vehicle generated in Unreal Engine"
Hi,

We are creating our custom truck vehicle model in UE4 and importing it to CARLA. The tutorial https://carla.readthedocs.io/en/latest/tuto_A_add_vehicle/ specifies steps for CARLA import as well as some parameters for vehicle dynamics from blueprint. Are we limited to the vehicle dynamics parameters given in this tutorial? Can furher tuning be done in blueprint?

The built in vehicles seems to

[2020-05-12 09:48] Roosstef commented on #2819
Anyone has the same problem as me?

[2020-05-12 11:06] CLEMENTJOHNSHAJI commented on #1806
Hi @slyer0009, Did you get around with this issue?

[2020-05-12 12:26] dustyujanin commented on #2841
Still not working:(
![image](https://user-images.githubusercontent.com/13289476/81691096-f4079700-9464-11ea-8e6d-53f20669e107.png)
![image](https://user-images.githubusercontent.com/13289476/81691121-fd90ff00-9464-11ea-92bb-487699f5524e.png)

[2020-05-12 17:05] HuronPerera opened #2848 "SetLightsToVehicle function in simulator.h seems to calls wrong client function"
<!--

    void SetLightsToVehicle(Vehicle &vehicle, const rpc::VehicleControl &control) {

      _client.ApplyControlToVehicle(vehicle.GetId(), control);

    }

[2020-05-12 18:27] miracelplus opened #2849 "Custom background vehicle model in Carla"
Hello,

Thanks for making a great simulator. I am doing a project in which I need to **customize all vehicles' dynamic models** in the Carla environment (for example, the vehicle will get the ground truth information and decide to change the lane or change the acceleration).

In order to get information about all the vehicles, I use the following codes:
[code]

As I have about 200 vehicles in the

[2020-05-13 03:13] tom-doerr opened #2850 "Can't install compiled eggs"
I compiled the Python egg packages as described in the documentation (https://carla.readthedocs.io/en/latest/build_system/).
However when I try to install them I get the following error message:
[code]

Any ideas what the issue could be?

[2020-05-13 03:45] #2524 closed

[2020-05-13 09:45] #2563 closed

[2020-05-13 10:08] LikhitaNukala commented on #2012
I'm also getting the same error while doing make PythonAPI.
![image](https://user-images.githubusercontent.com/19485504/81800032-d3584380-952f-11ea-99b1-32df16844315.png)

[2020-05-13 12:13] Jack-Pinnington opened #2851 "Carla 0.9.8 Crash - VK_ERROR_DEVICE_LOST"
Hello,

I'm experiencing intermittent crashes.

Here's the console output:

./CarlaUE4.sh
4.22.3-0+++UE4+Release-4.22 517 0
Disabling core dumps.
LowLevelFatalError [File:Unknown] [Line: 678]
VulkanRHI::vkDeviceWaitIdle(Device) failed, VkResult=-4
 at /home/jenkins/UnrealEngine_4.22/Engine/Source/Runtime/VulkanRHI/Private/VulkanDevice.cpp:1015
 with error VK_ERROR_DEVICE_LOST
Signal 11 caught.
Mal

[2020-05-13 12:20] Jack-Pinnington commented on #2851
Since this might be relevant - Graphics Card is NVIDIA GTX 1060 running nvidia-driver-435.

[2020-05-13 13:13] AdelinaK opened #2853 "Carla make launch error"
I tried to build Carla, this is my frist time working with it and after the make launch command I have this error

Error: Couldn't find parent type for 'CarlaLightSubsystem' named 'UWorldSubsystem' in current module or any other module parsed so far.
make: *** [Util/BuildTools/Windows.mk:20: CarlaUE4Editor] Error 5

[2020-05-13 14:16] yousinf commented on #2830
I need help, SOS.

[2020-05-13 15:14] omrizen commented on #2497
on carla 0.9.8 the tag does not work properly for me when I get an image from semantic segmentation image
(the color of the object is black)
what are the options for tagging that I can put?
Thanks

[2020-05-13 16:54] Jack-Pinnington commented on #2851
Okay - closing this issue for now, but here's what I've found.
Graphics Card is NVIDIA GTX 1060 6GB for future reference - Ubuntu 18.04, Carla 0.9.8.
My simulation included over 100 vehicles, replayed from a .log file, and six RGB sensors on my egoVehicle.

Issue seems to be caused by bad Malloc in the GPU (Vulkan error).
Tried several methods to use less memory in the GPU to prevent this, includi

[2020-05-13 16:54] #2851 closed

[2020-05-14 00:54] #2845 closed

[2020-05-14 10:21] filippogandolfi commented on #1219
Is there some new stuff or suggestion for the VR mode?
I'm try to following @shriram17 but it's not so clear

[2020-05-14 13:02] MingooJ opened #2854 "Traffic Signal made by RoadRunner is available?"
Hi, I'm using Carla for fun.

I am interested in road traffic and make some road.
But after 'road.fbx and road.xodr' import to carla well, no car stop to my traffic signals.

How can i stop the autopilot car at traffic light?

Thank you in advance.
![option1](https://user-images.githubusercontent.com/58928361/81938445-e3574c80-962f-11ea-933a-f6dde26ee111.png)
![option2](https://user-images.githubu

[2020-05-14 14:04] OlivierDelbeke commented on #2128
I spent some time on this one, and implemented a JPEG compression/decompression serializer. For a 1280x1024 frame size, the required bandwidth drops from 91 Mb/s to 13 Mb/s, i.e. from an unreasonable value to a reasonable one.When the server and the client are on different machines of the same ethernet network (or probably also on machines with a good internet connection), Carla works as well as w

[2020-05-14 14:06] alexk-92580 opened #2855 "Problem with Map.get_waypoint() in combination with OpenDRIVE spiral"
Hi CARLA Team,

we would like to report a problem we observed in the `Map.get_waypoint()` function in the Python API in CARLA version 0.9.9, when using it on a spiral geometry within a standalone OpenDRIVE .xodr map loaded via `config.py -x`.

We are using `Map.get_waypoint()` with `project_to_road = True`, `lane_type_flag` is default. Sporadically, when calling `Map.get_waypoint()` with the posit

[2020-05-14 14:25] OlivierDelbeke opened #2856 "Playability - delay between actions and rendering"
I am investigating how to make Carla more playable (for example, I want to make it easier to stay within your driving lane). The first thing I want to do is to measure the delay between the frame creation (by UnrealEngine), and the moment when the frame is drawn (pygame.display.flip()). As the frames have a timestamp attribute, I assumed that this would be straightforward, but I see that this time

[2020-05-15 12:00] coderinmaking commented on #1536
just like manual_control.py, create self.map attribute in World class itself like this-

[code]

In the class HUD, inside method tick,

in self._info_text change Map attribute as follows-

[code]

This is giving me 60 fps for client and server being in different systems.
Client: Windows OS, 1060 Nvidia GPU, i7
Server: Windows OS, 1080 Nvidia GPU, i7
Frame resolution set : 720x480

[2020-05-15 12:11] ocean1211 commented on #2824
The same problem.
And the Nvidia driver for me 440, OS is 18.04, OpenGL is 4.6
It always raises the error: signal 11 when I spawn the pedestrians.

Here is the detailed report:
4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
LowLevelFatalError [File:Unknown] [Line: 772]
VulkanRHI::vkCreateBufferView(GetParent()->GetInstanceHandle(), &ViewInfo, VULKAN_CPU_ALLOCATOR, &View) failed, VkResult=

[2020-05-15 12:15] ocean1211 opened #2858 "Carla 0.9.9 crashes with Segmentation Fault error"
I use the Nvidia 1080Ti.
And the Nvidia driver for me 440, OS is 18.04LTS, OpenGL is 4.6
It always raises the error: signal 11 when I spawn the pedestrians.

Here is the detailed report:
4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
LowLevelFatalError [File:Unknown] [Line: 772]
VulkanRHI::vkCreateBufferView(GetParent()->GetInstanceHandle(), &ViewInfo, VULKAN_CPU_ALLOCATOR, &View) failed,

[2020-05-15 12:16] ocean1211 commented on #2858
And actually I have faced the same problem with CARLA 0.9.7 and CARLA0.9.8 with the driver 390 and OpenGL3.1

[2020-05-15 12:17] ocean1211 commented on #2858
I use the compiled .tar.gz version of CARLA 0.9.9

[2020-05-15 16:46] ozturkoguzhan opened #2859 "CARLA 0.9.8 Semantic Segmentation Camera Fault"
Hello dear community,

I am using CARLA 0.9.8 on Windows10. I am trying to get the semantic segmentation camera data and try to save it into an array. For this purpose, I have modified the parse_image module under the Camera_Manager class in manual_control.py file and my code is here:

`
    @staticmethod
    def _parse_image(weak_self, image):
        self = weak_self()
        if not self:

[2020-05-16 01:38] #2527 closed

[2020-05-16 01:38] #2570 closed

[2020-05-17 05:21] #2460 closed

[2020-05-17 08:46] prateekstark opened #2861 "Running Carla on Google Colab"
Hi,
Is there a way to run Carla on Google Colab?

[2020-05-17 11:42] BolinZhou opened #2862 "Make error with Ubuntu 18.04 with Carla 0.9.9"
building Carla 0.9.9 on Ubuntu 18.04
it got stuck on `make launch`

[code]

[2020-05-17 13:58] #2074 closed

[2020-05-17 19:51] tianli commented on #2858
I had a similar crash when launching (Carla 0.99 binary installed via apt-get, Ubuntu 18.04). It looks like the GPU does not have enough memory to load all the assets. I have two GPUs on my Ubuntu 18.04, one with 2GB and another with 4GB memory. If I use the 2GB card for the primary display, Carla will crash (and without any meaningful error message). When I switch the 4GB card as the primary disp

[2020-05-18 05:09] cokeyke commented on #1791
Same problem

[2020-05-18 05:11] cokeyke opened #2863 "Carla obstacle detection sensor problem"
This is my code and my distance output from the sensor is always 0.
class ObstacleDetectionSensor(object):
    def __init__(self, parent_actor):
        self.sensor = None
        self._parent = parent_actor
        self.distance = None
        self._event_count = 0
        world = self._parent.get_world()
        bp = world.get_blueprint_library().find('sensor.other.obstacle')
        bp.set_attr

[2020-05-18 06:52] ocean1211 commented on #2858
Thanks a lot. But it doesn't work for me...
The memory of my GPU is 11GB and the launching process does not fail.
When I try to spawn pedestrians, it often gets crashed.
Are there any suggestions?

[2020-05-18 08:25] BolinZhou commented on #2862
It passed with miracle.  I performed `make clean` then fixed.

Thanks

[2020-05-18 08:25] #2862 closed

[2020-05-18 10:20] najibghadri opened #2864 "Recorder file info - can't get position data."
0.9.8

I need the position of vehicles, lane and pedestrians aroung ego car, but can't get any from a recorder log. I have read through the API, used all arguments etc, and even the code leading to CarlaRecorderQuery.cpp.
I have a recording full of cars aroung the hero car and pedestrians and later I call client.show_recorder_file_info(recorder_filename, show_all) with the server on, and I get a h

[2020-05-18 11:04] AdelinaK opened #2865 "Building Carla on Windows error"
I tried to build Carla on Windows and after executing the make launch command I've got this error. I'm new to this and maybe I did something wrong. Any ideas?

-[BuildCarlaUE4]: Building Unreal Editor...
Creating makefile for CarlaUE4Editor (no existing makefile)
Parsing headers for CarlaUE4Editor
  Running UnrealHeaderTool "C:\carla\Unreal\CarlaUE4\CarlaUE4.uproject" "C:\carla\Unreal\CarlaUE4\Int

[2020-05-18 11:09] #2853 closed

[2020-05-19 01:11] #2579 closed

[2020-05-19 01:11] #2580 closed

[2020-05-19 01:11] #2581 closed

[2020-05-19 01:11] #2582 closed

[2020-05-19 01:11] #2545 closed

[2020-05-19 05:41] PeterChangHY commented on #2635
just `sudo apt install clang`. In Ubuntu Bionic clang by default installs version 6.0.

this solves the same problem on me

[2020-05-19 07:01] #2575 closed

[2020-05-19 15:49] omrizen opened #2866 "semantic segmentation does not work properly on props ingestion- version 0.9.8 linux from source"
Hello
working on carla release 0.9.8 on linux from source
after prop ingestion (using json file with tag e.g. -  {
  "maps": [
  ],"props": [
    {      "name": "MyProp01",      "size": "big",      "source": "./props/prop01/prop01.fbx",      "tag": "Vehicles"} ]} )
the image that I get with semantic segmentation sensor colores the object in black (so my tag has no effect).
I found out the "render

[2020-05-19 21:21] Deio828 opened #2867 "get_local_planner is not found in behavior_agent"
Hi, I'm trying to use the behavior agent but when I run the automatic_control.py it gives me this error message:
`BehaviorAgent ovject has no attribute 'get_local_planner`'
if you have added it please I need it to complete my project.
Thank you.

[2020-05-19 21:26] JWHennessey opened #2868 "Spawn camera to look a specific actor"
Hi,

I'd like to spawn a camera that will look at a specific actor from a given position.

Theoretically what I am trying to do is generate a location which is a given offset to the camera. Then using a lookAt function calculate camera matrix to look at the target actor. Then from the 3x3 matrix then extract the pitch, yaw, roll to set the camera transformation.

Here is the code below, any sugges

[2020-05-19 23:57] cyndwith opened #2869 "Inverse Prespective Mapping for CARLA images"
I'm trying to get inverse perspective mapping for some of the images I have taken from CARLA.
I tried to crop the images I have into (IMG_SIZE, IMG_SIZE) from the center to void any significant changes to camera parameters.

Data I have: image from camera and camera parameters (fov, focal lenght, principle point, rotation angles (pitch, yaw, roll, camera_height etc)

  IMG_SIZE = 420
  fx = IMG_SI

[2020-05-20 04:47] #2590 closed

[2020-05-20 04:47] #2596 closed

[2020-05-20 08:34] jackbart94 commented on #2867
Hello,

Which version of CARLA are you using? How are you running ``automatic_control.py`` exactly?

[2020-05-20 09:07] a4zhangfei commented on #2790
hi,blueprint ' sensor.other.imu 'not found, why don't I have IMU?
There is no sensor in my blueprint other.imu and sensor.other.radar

[2020-05-20 09:10] a4zhangfei opened #2870 "sensor.other.imu not found"
There is no sensor in my blueprint :sensor.other.imu and sensor.other.radar
`len(bp.filters('sensor.other.*')` is 4

[2020-05-20 10:28] vishal-246 opened #2871 "ImportError: libproj.so.9"
Hi for 0.9.9.1-RSS-ready compiled patch release i'm facing the `libproj.so.9` import error with all the PythonAPI's
[code]

please help me to resolve this.
and with 0.9.9 version API there was no such errors. and python version is used same for both the variant i.e 2.7.

Thanks.

[2020-05-20 10:47] #2599 closed

[2020-05-20 12:02] AkramKalaee opened #2873 "Certainty of pedestrian detection"
Hello Carla Team,

Does the perception module of Carla provide the percentage value indicating the probability that the detected object is a pedestrian?

- OS: win10
- CARLA Version: CARLA 0.9.9
- Python version: 3.7
- Version: 0.9.9

[2020-05-20 14:41] Deio828 commented on #2867
I am using Carla0.9.6, and I'm running the `automatic_control.py` you've implemented with the default arguments

I've tried to add this method to the `behavior_agent.py` and it actually worked.
`def get_local_planner(self):
        return self.local_planner`

[2020-05-20 15:24] jackbart94 commented on #2867
Yeah, if you are getting a script from a version after 0.9.6 make sure to import all the dependencies, because some of the stuff might've been changed.

[2020-05-20 15:24] #2867 closed

[2020-05-20 23:42] emailweixu opened #2874 "IMU sensor got NaN"
Very occasionally, the IMU sensor gets nan for compass value. Is this expected or some bug? I thought it might be caused by bad orientation of the sensor (facing upward). But at the time as getting nan, it  seems normal:

pitch:0.032498039305210114
roll:1.3824284076690674
yaw:90.67381286621094

I am using carla 0.9.9 on ubuntu 18.04.

[2020-05-21 08:38] danyz91 commented on #2099
@ppjtzjb do you have any update on this? I have the same problem when replaying logs. I use carla docker.

[2020-05-21 11:29] #2865 closed

[2020-05-21 13:47] pirate-lofy commented on #2846
I didn't find any straightforward method to do that, but I found some scripts inside PythonAPI/carla/agents/navigation module that made it easier.
to achieve that task I did the following..
1. use _path_search function inside the global_route_planner script to get the graph ids that represent the shortest path between start and end point
2. for the current position of the vehicle, use the _locatli

[2020-05-21 13:47] #2846 closed

[2020-05-21 16:25] kunxianzheng commented on #652
For some reasons, many network proxies cannot be used, so I am looking for other ways to download the files in "carla-assets.s3.amazonaws.com". Then I found a link (https://bitbucket.org/carla-simulator/carla-content/src/master/), are the files in this link the official "Content files"? I mean, is this link official?

[2020-05-21 17:54] GershomA opened #2876 "How to get the action autopilot would have taken?"
Hi, I'm using carla 0.99 on windows.
I'm trying to train a neural network to drive a car, but use the autopilot as expert labels for what the neural network should have done.
Is it possible in the new api to query the autopilot system for an action, but not actually take that action on the vehicle?
This used to be possible in the 0.8.x API, but I'm not seeing a way to do so in 0.9.9

[2020-05-22 00:34] faruklinux commented on #2840
Apparently some VMs struggle to support the OpenGL 3 requirements needed to run Unreal Engine, whereas VMs only provide support up to OpenGL 2. I was stuck with an unable to detect Vulkan drivers during my attempts. However, the windows build currently has its own troubles with executing PythonAPI command.

[2020-05-22 01:58] kunxianzheng commented on #652
I have found it, this link is indeed official, mentioned in "Get development assets" in https://carla.readthedocs.io/en/latest/build_update/#get-development-assets

[2020-05-22 05:14] lichunly commented on #1487
@Derekabc hi, the function that getting the location on map by mouse-pick is possible now(carla 0.9.9)?

[2020-05-22 06:57] #2232 closed

[2020-05-22 07:49] AkramKalaee opened #2883 "Certainty of pedestrian detection"
Hello Carla Team,

Does the perception module of Carla provide the percentage value indicating the probability that the detected object is a pedestrian?

OS: win10
CARLA Version: CARLA 0.9.9
Python version: 3.7
Version: 0.9.9

[2020-05-22 12:56] jackbart94 commented on #2876
Hi,

The autopilot has been deprecated from 0.9.7, now we are using the Traffic Manager. You can't query it yet for actions that are going to be taken, but we'll make that available soon. However, you can try doing it yourself.

[2020-05-22 12:57] #2600 closed

[2020-05-22 13:04] Shiyunyang-seu opened #2878 "Can not change map in Carla 0.9.9 windows"
Hi, I want to use the Carla 0.9.9 to make co-simulation with sumo.
But, I tried the config.py -m Town04 and also followed the tutorial https://carla.readthedocs.io/en/latest/core_map/#changing-the-map, but a fatal error both occurs.(said carlaUE4 crashed with something...) The 0.9.5 version is also tested and the map(Town01,02...) can be changed without error.
I tested in two different PCs in wind

[2020-05-22 15:42] NicoSchoenfisch opened #2879 "Problem with starting the simulation in UnrealEngine after completing Windows build"
Hey everyone,

so I have a problem right now that might be pretty basic, but I didn't find a solution in the docs for it.

I followed the instructions to build Carla on Windows step by step from here: https://carla.readthedocs.io/en/latest/build_windows/
and am now stuck at the very last step.

'make launch' and 'make PythonAPI' both finished successfully, and the project is also opened in UnrealE

[2020-05-22 16:16] GershomA commented on #2876
Ah I see, thanks. I'll try to find a workaround

[2020-05-22 16:16] #2876 closed

[2020-05-22 17:05] Shiyunyang-seu commented on #2879
Hi, I also followed the tutorial https://carla.readthedocs.io/en/latest/build_windows/. I want to ask how to use these two commands: 'make launch' and 'make PythonAPI' , I also download the Gnuwin32, but in my cmd, it said 'make' is not an internal or external command, nor is it a runnable program.

[2020-05-23 02:38] Avens666 opened #2880 "Build cala 0.9.9, Make PythonAPI error"
Hi
I build carla 0.9.9 on Win10 + VS2017 + UE4.24 +Python38
I run **make launch** to build server succeed. and I can use UE4 package carla.

But **make Python** failed
There is error when link :
libboost_filesystem-vc141-mt-x64-1_72.lib(exception.obj) : error LNK2001: Unresolved external symbols __CxxFrameHandler4
libboost_filesystem-vc141-mt-x64-1_72.lib(codecvt_error_category.obj) : error LNK200

[2020-05-24 02:48] shaoxiaohang opened #2881 "make PythonAPI boost python library link error windows 10 0.9.9"
I was trying to run make PythonAP. It shows a bunch of boost python link error.
It says installation successful but no PythonAPI/dist is generated.
make launch build fine and I can load the UE4 project.
I found the same issue reported before : https://github.com/carla-simulator/carla/issues/2339
But I couldn't find a solution for it.  Please help me on it. Just bought a new laptop for running Carl

[2020-05-24 04:34] #2881 closed

[2020-05-24 08:10] #2633 closed

[2020-05-24 14:35] #2396 closed

[2020-05-24 14:35] #2546 closed

[2020-05-24 14:47] RehabHsn commented on #2853
have you found a solution?

[2020-05-24 14:47] RehabHsn commented on #2865
have you found a solution??

[2020-05-24 14:48] RehabHsn commented on #2865
I have the same error

[2020-05-24 15:35] #2458 closed

[2020-05-24 16:25] AdelinaK opened #2882 "make PyhtonAPI error on Windows."
Hello. I tried to build Carla on Windows but I've got this error on the command make PythonAPI. I searched a little bit and tried to install libpng on Windows from the official site, add it to the path but it still doesn't work. Even thought it says "successfully build" the C:\carla\PythonAPI\carla\dist folder was not created. Any ideas of what I can do?

C:\Program Files (x86)\Microsoft Visual St

[2020-05-25 00:31] Avens666 commented on #2882
Do not install 3rd lib by yourself.
let Make command download and compile it in Build directory

[2020-05-25 01:56] pengpingliang commented on #2851
@Jack-Pinnington
Could you tell me how do you resolved it ?
I met the same error

[2020-05-25 03:03] #2490 closed

[2020-05-25 03:03] #2618 closed

[2020-05-25 03:03] #2616 closed

[2020-05-25 03:03] #2615 closed

[2020-05-25 03:03] #2612 closed

[2020-05-25 06:42] HarnarayanSingh opened #2884 "Logging data from scenario simulation"
Carla version: 0.9.7
OS- Ubuntu 18.04

Can we somehow log position, velocity, acceleration and other vehicle dynamics related data from the simulation to be later viewed in any other format?

[2020-05-25 07:49] HarnarayanSingh commented on #1669
@kouyoumin Can you tell how you managed to do this? I'm looking to log similar data from simulation.

[2020-05-25 08:19] kouyoumin commented on #1669
@HarnarayanSingh Try this:
[code]
Be aware the code above is old and may not compatible with latest API.

[2020-05-25 09:22] HarnarayanSingh commented on #1669
@kouyoumin  Thanks for the reply. Could you tell which Carla version did you try this out with?

[2020-05-25 10:01] #2707 closed

[2020-05-25 11:00] AdelinaK commented on #2882
It didn't work from the beginning so I tried to install it, but I've got the same error

[2020-05-25 13:04] Avens666 commented on #2882
1. check your Build directory had **libpng-1.2.37-install** directory
![image](https://user-images.githubusercontent.com/26681737/82815070-f5a47680-9eca-11ea-9732-10f308cd53c9.png)

2. make PythonAPI will copy png.h file to  ./PythonAPI\carla\dependencies\include  directory
![image](https://user-images.githubusercontent.com/26681737/82815172-34d2c780-9ecb-11ea-8c2d-88172e63a994.png)

[2020-05-25 13:50] Charlie-lusie opened #2886 "Help! I can not get full LiDAR points in one frame of data"
As shown in figure below, I set the LiDAR sensor config correctly:
[code]
But I can't get full points at once. It looks like data is generated in half of a full circle:
![Screenshot from 2020-05-25 21-49-03](https://user-images.githubusercontent.com/10813880/82818683-a9106980-9ed1-11ea-8194-af4cf22732ba.png)

[2020-05-25 15:40] m-ayala commented on #2687
I have newly started working on CARLA, it would be helpful if you could share your solution since I'm facing the same issue right now

[2020-05-25 15:43] Mechatrnk commented on #2687
Hi, what helped is this:

[code]

Where the most important part is this:

[code]

[2020-05-25 15:43] #2687 closed

[2020-05-25 16:08] m-ayala commented on #2687
Hey there!
I'm still getting the same error i did before:

`world = client.generate_opendrive_world(opendrive=xodrStr)
RuntimeError: opendrive could not be correctly parsed
`

[2020-05-25 17:58] BenAscent opened #2888 "Actors created with wrong episode Id"
When spawning vehicles immediately after calling `load_world`, there is a chance that these vehicles got internally assigned the episode ID from the previous episode (I assume - or at least a wrong ID). The consequence of that is that their `IsAlive` function will always return `false`.
If these vehicles are controlled via the API (not autopilot/not registered in the traffic manager), they won't b

[2020-05-25 18:05] BenAscent opened #2889 "ScanUnregisteredVehicles ignores vehicle orientation"
The `ScanUnregisteredVehicles` computes the four corner of the bounding shape of the vehicle its scanning, however it does not apply the current orientation of said vehicle, making those four points always oriented in the same direction. These points are used to find nearby waypoints, and while the difference is not large, it could lead to discrepancies between collision checks at different orient

[2020-05-25 19:47] #2859 closed

[2020-05-26 00:25] kouyoumin commented on #1669
@HarnarayanSingh Possibly 0.9.5

[2020-05-26 04:00] ntutangyun commented on #2881
hi @shaoxiaohang, have you managed to find the solution to this problem? thanks

[2020-05-26 05:00] shaoxiaohang commented on #2881
Yes I was installing the 32 bit python. Make sure x64 python is installed
also run the x64 terminal in the vs tool not the regular CMB.

On Tue, May 26, 2020 at 12:00 AM Tang Yun <notifications@github.com> wrote:

[2020-05-26 06:30] AdelinaK commented on #2882
The files png.h and pngconf.h are missing in my include directory, maybe the make command could not copy them

[2020-05-26 08:17] lp249839965 opened #2890 "A Question about OpenDrive"
The RoadInfoLaneOffset element stores in Road according to
https://github.com/carla-simulator/carla/blob/master/LibCarla/source/carla/road/MapBuilder.cpp#L409
But it get from Lane in according to this code
https://github.com/carla-simulator/carla/blob/master/LibCarla/source/carla/road/Lane.cpp#L79

[2020-05-26 08:54] superying commented on #2808
I have the same issue. Any solution?

[2020-05-26 09:33] PradeepKumarBale opened #2892 "Is it possible to use Carlar sensor model, Say Carla RADAR in MATLAB driving scenario?"
I wish to check if there is possibility to use Carla sensor in MATLAB environment.

[2020-05-26 10:52] vishal-246 commented on #2501
Hi,

while building PythonAPI and LibCarla i got the similar kind of issue, below is log

Setup.sh: llvm-8.0 already installed.
Setup.sh: boost-1.72.0-c8 already installed.
Setup.sh: rpclib-v2.2.1_c2-c8 already installed.
Setup.sh: gtest-1.8.1-c8 already installed.
Setup.sh: recast-cdce4e-c8 already installed.
Setup.sh: CARLA version 0.9.9-58-g4dc4cb81-dirty.
Setup.sh: Generating CMake configurati

[2020-05-26 15:27] hbanzhaf commented on #2687
I experienced the same error and resolved it by switching from the deb package to the [latest package on Github (0.9.9.2)](https://github.com/carla-simulator/carla/releases/tag/0.9.9).

[2020-05-26 17:00] KasraMokhtari2112 commented on #194
I still have the issue with local_planner.py  written for the latest version which is the command can't move the ego car. Have any idea why? the controller is working but It can't move the car at all! I really appreciate your help!

[2020-05-26 21:30] #2631 closed

[2020-05-26 23:03] m-ayala commented on #2687
@hbanzhaf I tried installing it using the package installation method but it didn't work either
I'm getting the same error. Maybe theres a problem with my test code? Here's how it looks like:

`import glob
import os
import sys
import time
import xml.etree.ElementTree as ET
import random

myFile = ET.parse('/home/m_ayala/carla-simulator/PythonAPI/util/opendrive/TownBig.xodr')
root = myFile.getroot(

[2020-05-26 23:04] m-ayala commented on #2687
@hbanzhaf I tried installing it using the package installation method but it didn't work either
I'm getting the same error. Maybe theres a problem with my test code? Here's how it looks like:

`import glob
import os
import sys
import time
import xml.etree.ElementTree as ET
import random

myFile = ET.parse('/home/m_ayala/carla-simulator/PythonAPI/util/opendrive/TownBig.xodr')
root = myFile.getroot(

[2020-05-26 23:07] m-ayala commented on #2687
@hbanzhaf I tried installing the packages and I'm getting the same error. Maybe there's a problem with my code if someone would like to check it out:

`import glob
import os
import sys
import time
import xml.etree.ElementTree as ET
import random

myFile = ET.parse('/home/m_ayala/carla-simulator/PythonAPI/util/opendrive/TownBig.xodr')
root = myFile.getroot()
xodrStr = ET.tostring(root, encoding="ut

[2020-05-26 23:09] m-ayala commented on #2687
@hbanzhaf I tried installing the packages and I'm getting the same error. Maybe there's a problem with my code if someone would like to check it out:

[code]

[2020-05-26 23:33] superying commented on #2590
I have the same question, any solution?

[2020-05-27 02:25] kbu9299 opened #2893 "Lane Change (Wrong Flag?)"
Hi Carla teams,

I am testing the lane change of NPCs through `force_lane_change`. According to your manual, `True` for "Left" and `False` for "Right" but I observe that it works the way around in my experiment.
I am wondering if my experiment is wrong or any typo in your document.

Thanks.

[2020-05-27 06:02] vishal-246 commented on #2526
Hi ,

i tried the removing 'boost-1.72.0-c8-install'  below is the log:

[code]

From this i can udesrstand that recast is making problem here. but the path specified for recast in `/carla/build/CMakeLists.txt.in` is already there in `/carla/build/recast-cdce4e-c8-install` folder

So please help me solve this issue.

Thank you.

[2020-05-27 06:19] superying opened #2894 "truck not in carla.BlueprintLibrary"
I successfully build Carla in Windows with the latest source code, and the server and client works well. But world.carla.BlueprintLibrary doesn't contain the Truck vehicles, which included in the content/vehicle/4wheeled/Truck(download and extract before build).

Is there any tutorial to setup and access these Truck vehicles? Thanks.

[2020-05-27 06:54] vishal-246 commented on #2526
issue is solved by removing the recast folders and making it again.

thank you for the solution.

[2020-05-27 08:09] IbrahimSobh opened #2895 "When it is expected to have more sophisticated LiDAR?"
Dears

the current LiDAR is a very simple ray casting one. When it is expected to have a more sophisticated, more realistic LiDAR sensor based on ray-tracing?

Best Regards

[2020-05-27 13:37] aravindSwamy94 commented on #2338
Hi @doiken23 : Great to hear that you have added it manually..
Can you please explain it how??

[2020-05-27 14:11] aravindSwamy94 opened #2897 "Carla Traffic signs Information"
Hi,
      I suppose the traffic sign information in latest release can be obtained by

map.get_all_landmarks()
.
I hope that this includes all the landmarks given in the
carla.LandmarkType variables.

But when I run this .. The map.get_all_landmarks() returns an empty list. Am I doing some mistake for this API call?
Please help me with this issue.

Thanks!

[2020-05-27 15:47] Krxtopher commented on #2880
I have encountered this issue myself and have not found a workaround (besides switching to a different computer). This problem was also reported by another user in this issue: https://github.com/carla-simulator/carla/issues/2741

[2020-05-28 02:38] doiken23 commented on #2338
I opened UE4 editor with `make launch` and put objects manually.

[2020-05-28 04:02] StevePhan97 opened #2898 "Failed to connect Carla server from a remote machine"
Hi all,
I run the Carla server on a Windows PC and tries to connect a client running on a Linux remote machine.
Both machines are in the same network (using VPN). After running a server on port 2000, I can connect a client to `host_address:2000` via `telnet host_address 2000` for a quick check. However, when I try a simple Carla script to get_world from the Carla client, I keep reporting time-out

[2020-05-28 07:47] Avens666 commented on #2880
Thank you for your reply.
I try 2 computer, one had VS2019 and VS2017, one only has VS2017. but had the same problem.
maybe  try another computer or wait next calar version.
now I use the python lib in release version 0.9.9.

[2020-05-28 07:47] umateusz opened #2899 "Running docker without GPU support"
Is it possible to run the simulator in a docker without GPU support, e.g. in no-renderring mode?

As I understand I can run a docker with the `--gpus all` flag and set no-rendering mode through PythonAPI. Is it possible to run on a machine without gpu access?

[2020-05-28 07:48] StevePhan97 opened #2900 "Turn Carla docker into an SSH server"
Hi,
I use a Carla docker image `carlasim/carla:0.9.6` and build a custom Dockerfile to dockerize an SSH server. I follow [this](https://docs.docker.com/engine/examples/running_ssh_service/) to build my own dockerfile as:
`FROM carlasim/carla:0.9.6    # Pull carla image`
`USER root   # Re-login as root since carlasim uses carla user for setup`
`RUN apt-get update && apt-get install -y openssh-serve

[2020-05-28 12:13] #2900 closed

[2020-05-28 12:26] aravindSwamy94 commented on #2338
Hi.. Thank you for your response... It would be great if you share some link on this as in the steps to do those manual editing..

[2020-05-29 01:57] doiken23 commented on #2338
Maybe this video is useful for you (https://www.youtube.com/watch?v=EMkfCCFMtPI)

[2020-05-29 02:10] aurthes6220 opened #2902 "No idle speed"
As we know, car has an idle speed with clutch engaged. But, cars in simulator are always still with throttle=0 in vehicle control.
I wonder if there is a logic that only if given a throttle which is not zero, the clutch could be engaged. In another word, throttle = 0 and clutch engaged could not appear together?

[2020-05-29 05:07] khojir commented on #2861
Hi,
There is a similar issue: [https://github.com/carla-simulator/carla/issues/2567](https://github.com/carla-simulator/carla/issues/2567)
I haven't tested it yet, But I think it'll work.

[2020-05-29 09:16] khojir commented on #2567
I tried this solution and it works really good. Thank you so much.

[2020-05-29 09:16] #2567 closed

[2020-05-29 19:11] pirate-lofy commented on #2843
Does anybody has any idea how to solve this, please?

[2020-05-30 02:32] #2641 closed

[2020-05-30 02:32] #2636 closed

[2020-05-30 02:32] #2605 closed

[2020-05-30 02:32] #2634 closed

[2020-05-30 02:32] #2384 closed

[2020-05-30 02:32] #2627 closed

[2020-05-30 02:32] #2629 closed

[2020-05-30 02:32] #2632 closed

[2020-05-30 02:32] #2325 closed

[2020-05-30 02:32] #2372 closed

[2020-05-30 02:32] #2602 closed

[2020-05-30 02:32] #2609 closed

[2020-05-30 04:31] superying commented on #2894
Solved.

[2020-05-30 04:31] #2894 closed

[2020-05-30 06:24] ll7 commented on #2627
We are still working on it. We had it working for 0.9.6 but the automatic merge for 0.9.9 failed. So we are implementing the vehicle in 0.9.9 at the moment.

[2020-05-30 06:26] ll7 commented on #2627
We had difficulties with repository structure, as the unreal assets are located on an AWS server. Therefore, our changes are currently untracked in the repository mentioned above.

[2020-05-30 07:33] #2153 closed

[2020-05-30 07:33] #2643 closed

[2020-05-30 07:35] Sukhman723 commented on #2567
Hi khojir, it is showing unable to run nagrok

[2020-05-30 14:13] sharmavasundhara opened #2903 "HI,"

[2020-05-30 14:14] sharmavasundhara commented on #2903
I wish to create an automated system using Carla, wherein when there is a certain minimum distance between two cars,there is a reminder that pops on the screen. How can this be done?
Thank you.

[2020-05-30 22:33] #2628 closed

[2020-05-30 22:33] #2477 closed

[2020-06-01 03:37] #2479 closed

[2020-06-01 12:52] bender2po commented on #2892
@PradeepKumarBale I think, Matlab's Automated Driving Toolbox provides RADAR and LiDAR. Please see the link:
[https://in.mathworks.com/help/driving/getting-started-with-automated-driving-toolbox.html]
May I know why you want to use sensor implementation of Carla?
I am not much expert in this filed, but I think it is possible. I remember even Matlab uses UnReal engine for its 3D simulation. Since C

[2020-06-01 15:36] Deio828 opened #2905 "what is the form of Lidar measurements raw data"
Hi,
I'm using Carla0.9.6 and I'm trying to use the lidar point cloud, I've tried to use `save_to_disk()` method as:
`lidar.listen(lambda data : data.save_to_disk('file_name.ply'))`
I got the first 10 points as shown here:
`9.2588 -22.5821 -4.4486`
`8.3601 -19.6354 -3.8891`
`7.8168 -17.6970 -3.5250`
`8.4143 -18.3785 -3.6822`
`8.4126 -17.7419 -3.5762`
`8.4109 -17.1406 -3.4767`
`8.4094 -16.5714 -3.38

[2020-06-02 00:03] xusafzai opened #2906 "Runtime error in carla 0.9.5 and 0.9.4 on windows 10"
Hi, i'm getting these errors alternatively while running my program in Carla.
either I get this error:
"RuntimeError: failed to connect to newly created map"
or this:
"RuntimeError: time-out of 20000ms while waiting for the simulator, make sure the simulator is ready and connected to localhost:2000"
Also I have both versions 0.9.5 and 0.9.4 but in version 0.9.4 i'm can't find any file named "Carla

[2020-06-02 06:51] #2400 closed

[2020-06-02 06:51] #2646 closed

[2020-06-02 06:51] #2655 closed

[2020-06-02 09:42] jackbart94 commented on #2893
Hi,

We recently fixed the documentation, thanks for pointing it out!

[2020-06-02 09:42] #2893 closed

[2020-06-02 10:01] glopezdiest commented on #2888
@BenAscent Hello. Thanks for pointing that out. That is indeed a problem and we are currently working on it. We'll do a PR with the fix soon.

[2020-06-02 11:38] DSantosO commented on #2895
Hello Ibrahim,
We are currently developing a new module for electromagnetic sensors based in physical interactions for both LiDAR and RADAR. We expect to have news about it in the following months.
Regards,
Daniel.

[2020-06-02 17:39] germanros1987 commented on #2617
I am reopening this...just to get the satisfaction to close it later during the 0.9.10 release. Expect big things in terms of performance improvement for 0.9.10.

[2020-06-02 22:58] papabst opened #2908 "Adjust leaning behaviour of vehicles"
Hello,

for a simulator setup I need to create a controllable client (like the manual_control.py) with a first person camera but this camera mustn't roll on the X axis (= the horizon shall stay at the same level at all times without any rotation). My idea was to play around in the Unreal project to permit an Actor any rotation on the X axis but until now I was not able to figure it out.
Since one

[2020-06-03 07:51] Armandomiguel opened #2909 "Running Carla Server and Client in a Docker"
Hello everyone,

Has anyone experience at running a Carla-client in a Docker?
I'd like to have both the server and the client running in containers. I'm aware of the tutorial for the server-side but I haven't found anything about the client-side.

Could you please help me?
Thanks

[2020-06-03 09:13] MartinDubreuil opened #2910 "self.world.tick() error on synchronous.py example with Unreal Editor (CARLA 0.9.6)"
After running the synchronous.py example with UnrealEditor running, if I made a simple left-click in the "Content Browser" section to navigate inside Carla Content, the script crashes with this error message :

[code]

Is there a way to fix this bug ?

Thanks !

[2020-06-03 11:16] Luisloez89 opened #2912 "Ray-cast based Lidar - Deviations on elevation angle of lidar channel"
I am getting a strange behavior when I acquire data using a "Ray-cast based Lidar" sensor.
In the next image you can see the azimut angle (Vertical axis) and the elevation angle (Horizontal axis) of a 360 lidar sensor with 32 channels.
<img width="797" alt="LidarAzimutElevationAngle" src="https://user-images.githubusercontent.com/6451580/83630144-a087f500-a59b-11ea-8f3e-7884d62f5f38.PNG">

As you

[2020-06-03 11:46] Luisloez89 commented on #2912
I saw that it is related with the scan frequency and the movement of the ego-vehicle. the deviation is higher as high is the speed of the vehicle and low is the scan frequency.
The behavior is correct.

[2020-06-03 11:46] #2912 closed

[2020-06-03 14:13] varad-more commented on #1943
I'm facing same issue with current version 0.9.9.1

[2020-06-03 18:34] xli4217 opened #2914 "unable to parse the OpenDrive XML string"
Getting error "unable to parse the OpenDrive XML string" when running scenarios in scenario_runner

- Steps followed
1. Start Carla ./CarlaUE4./sh
2. Run scenario `python scenario_runner.py --scenario OtherLeadingVehicle_1 --reloadWorld`
Expected behavior

- System
OS: [Ubuntu 18.04]
CARLA Version [CARLA 0.9.9.2]
Python version [3.7]
Scenario_runner version [0.9.9]

[2020-06-03 20:19] jldez commented on #2905
out = np.frombuffer(data.raw_data, dtype=np.dtype('f4'))
out = np.reshape(out, (int(out.shape[0] / 3), 3))

[2020-06-03 23:17] JWHennessey opened #2915 "Computing relative transformations between objects / How does carla.Transform.transform() work"
Hi,

I'm trying to compute the relative transformation between two actors in Carla Actor A and Actor B.

To do this I take the two carla.Transform objects and convert them into numpy 4x4 transformation matrices.

I compute the relative transform (T_a2b) from A to B then convert the 4x4 matrix back into a Carla transform.

To verify that this works I want to validate that `B' = T_a2b * A`  and `B'

[2020-06-04 07:00] whuxhzhang opened #2917 "run carla0.9.9 error in ubuntu18.04"
when I launch CarlaUE4.sh, it will report this error:

4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
Signal 11 caught.
Malloc Size=65538 LargeMemoryPoolOffset=65554
CommonUnixCrashHandler: Signal=11
Malloc Size=65535 LargeMemoryPoolOffset=131119
Malloc Size=127232 LargeMemoryPoolOffset=258368
Engine crash handling finished; re-raising signal 11 for the default handler. Good bye.
Segmenta

[2020-06-04 07:55] akramer123 commented on #2723
I´m getting the same error, stacktrace is the same like in: https://github.com/carla-simulator/carla/issues/2079

I´m compiling CarlaLib myself following the instructions for the c++ client on this page:
https://github.com/carla-simulator/carla/tree/master/Examples/CppClient

[2020-06-04 08:05] Armandomiguel commented on #2909
Hello again,

Update: I already have both the client and the server running, but the communication through the ports (2000-2002) is not working properly.

I'm running the server-container using `<... -p 2000-2002:2000-2002 ...>`. And the communication between this server and my local computer works fine (i.e. container-host communication instead of container-container), but when trying to assign t

[2020-06-04 08:10] zkyxsq commented on #2917
I have same question with you

[2020-06-04 08:12] whuxhzhang commented on #2914
I have the same problem as you

[2020-06-04 08:14] whuxhzhang commented on #2917
I used my own carla_map, deleted some materials, recompiled it, and temporarily solved this problem.
But I don't think it's a good way.

[2020-06-04 08:18] Armandomiguel commented on #2899
Hello umateusz,

I wanted to do exactly the same and I ended up writing the Dockerfile from scratch and building the image in order to achieve this.

You can try to the same (downloading from `http://dist.carla.org/carla-0.9.9/` and installing with `apt-get install carla-simulator`. I could also share my Dockerfile with you if you write me an email to armando.miguel.garcia[at]gmail.com; because of

[2020-06-04 08:21] Yiquan-lol opened #2918 "OpenGL"
Hello, I installed Carla on the Linux system by "Quick install", but when running "./ carlaue4.sh ", I was prompted "Can not create OpenGL context.Check out that the drivers and Hardware support at least OpenGL 4.3".What should I do, please

[2020-06-04 13:18] benderdave commented on #2909
We've been able to run both the server and client inside docker containers without any issues. You should not need to map ports on the client docker container, since the client connects to those ports as a client (rather than binding to them as a server). Just use '--net=host' on the client container and it should work.

[2020-06-04 13:35] Armandomiguel commented on #2909
Thank you very much benderdave!

"--net=host" on the client side is exactly what I needed. Now they run both on containers and communicate with each other.

Thanks again!

[2020-06-04 13:35] #2909 closed

[2020-06-04 14:53] filippogandolfi commented on #2881
Sorry for the question, but what do you mean with "Make sure x64 python is installed"?
I have the same problem but I cannot adjust it

[2020-06-04 15:01] shaoxiaohang commented on #2881
Check your python version, there are two versions of python,
32-bit/64-bit,  64-bit version is required.

On Thu, Jun 4, 2020 at 10:53 AM Filippo Gandolfi <notifications@github.com>
wrote:

[2020-06-04 20:11] Deio828 commented on #2905
@jldez , Yes that worked properly, thanks alot

[2020-06-04 20:31] ZhengyaoYu opened #2922 "Failure to compile PythonAPI in Windows 10"
I am able to compile the server simulator through make launch. However, I got the following error messages when make PythonAPI. I saw a few similar issues but could not find a solution. Any suggestion on how to fix this would be greatly appreciated.

OS: Windows 10 1809
CARLA version: 0.9.9
Python 3.8.3 (64 bit)

TrafficManagerRemote.cpp
C:\Program Files (x86)\Microsoft Visual Studio\2017\Communit

[2020-06-05 08:19] jackycstw opened #2923 "CARLA with CarSim Plugin"
I am trying to put CarSim unreal plugin into CARLA. But there are some questions.
1. CarSim work as CarSimPawn class in unreal engine. But CARLA use carla.carlawheeledvehicle class in unreal engine. I think there are two way to approach this:
a. Try to make a CarSimVehicleFactory, put CarSimPawn into it and spawn it from python client.
The difficulty is I don't know how to build a custom blueprint

[2020-06-05 09:39] whuxhzhang opened #2924 "set_autopilot() error in carla0.9.9"
When I use UE4 draw a route without a closed loop , the vehicle is set autopilot mode , and drives to the end of the route, carla0.9.9 will crash, but it wouldn't happen in carla0.9.6

[2020-06-05 11:34] villimikko opened #2925 "Problem with adding new car"
Hello

I am having issues with adding new vehicle to Carla. I have downloaded genral4wheelskeleton and binded the bones (I think) to mesh with blender. Picture 1.  But when im trying to do import to UE4 carla,I cant find those bones picture 2.

What am I doing wrong?

![Capture](https://user-images.githubusercontent.com/61553242/83871907-a287ba80-a739-11ea-89ef-ebe5c5d79b4c.PNG)

![Capture2](https

[2020-06-05 13:27] jackbart94 commented on #2924
Hi,

Since CARLA 0.9.7 the autopilot has been replaced by the Traffic Manager. A lot of things have changed ever since, such as Route Planners being deprecated. Check the documentation to know more about it.

[2020-06-05 13:27] #2924 closed

[2020-06-06 04:05] #2533 closed

[2020-06-06 04:05] #2666 closed

[2020-06-06 10:46] gsujansai commented on #973
If anyone is facing this problem in 0.9.9, the solution of copying libboost_python27.a suggested by @KyunghyunLee and @Derekabc  solves the problem. Thanks guys.

[2020-06-06 11:56] #2342 closed

[2020-06-07 00:26] pirate-lofy commented on #286
In linux, just write this command...
`SDL_VIDEODRIVER=offscreen ./CarlaUE4.sh`

[2020-06-07 07:13] mindThomas commented on #2458
Please also share the details of the software you are referring to with me at:
thomasj@tkjelectronics.dk
Thank you in advance.

[2020-06-07 07:27] mhmdgad97 commented on #2783
I have the same problem. did you figure it out?

[2020-06-07 09:47] filippogandolfi commented on #2881
Thanks @shaoxiaohang, I had the correct type (64 bit) but for me works when I made this change:
- Uninstall python 3.8
- Install python 3.7
- Remove anything related to boost under "carla/Build"
-  try make PythonAPI again
Thanks @marcgpuig for the help

[2020-06-07 11:00] #2665 closed

[2020-06-07 11:00] #2671 closed

[2020-06-07 13:00] #2311 closed

[2020-06-07 17:02] wendersonj commented on #2841
same here

[2020-06-07 18:00] #2620 closed

[2020-06-07 19:23] JeanPhilippeMonteuuis opened #2926 "Version Mismatch detected with 0.9.9 Windows compiled version"
Unable to launch examples when downloading CARLA 0.9.9 Windows compiled version zip from releases page: https://carla-releases.s3.eu-west-3.amazonaws.com/Windows/CARLA_0.9.9.zip
How can I solve this version mismatch problem please ?

$ python .\spawn_npc.py
WARNING: Version mismatch detected: You are trying to connect to a simulator that might be incompatible with this API
WARNING: Client API vers

[2020-06-08 03:13] kannidekan commented on #2815
try this command:
`sudo apt-get install carla-simulator`
not:
`sudo apt-get install carla`

[2020-06-08 04:00] #2608 closed

[2020-06-08 05:39] guyu2711 commented on #2917
I have the same error with my laptop (940m), but it works fine on my PC with GTX 970. So it might need a better graphics card.

[2020-06-08 08:16] dev015 opened #2927 "Coordinates of Bounding Box with respect to Ego Vehicle"
Hello,

The coordinates of the bounding box that we are currently getting in Carla are in the world frame, and I am trying to get these coordinates with respect to ego vehicle. I am trying to get a solution using computer vision basics and finding out the distance between the ego vehicle and other actors with a bounding box and then get the extent.

Does anyone have any idea and help me with this.

[2020-06-08 20:01] rehamessameltagoury opened #2932 "How to set the velocity vector"
I am trying to make carla move forward with a certain velocity but i can't set the carla.Vector3D any ideas ?

[2020-06-09 06:49] HarnarayanSingh commented on #2884
I have logged vehicle data for all possible vehicle actors using actor attributes, getters (get_location,...). Can we also do the same for pedestrian? There doesn't seem to be attributes for walker pedestrian to log data.

[2020-06-09 10:19] AlexScheid opened #2934 "dynamically scalable vehicles"
Hello CARLA community,

first of all thank's for such a great simulator.
This is not a real issue, more a suggestion to an easy to implement feature with a small question at the end.

I try to play a dataset in my CARLA simulation and therefore I also use some of the available features of CARLA like the OpenDRIVE standalone mode. While implementing the clientside, there occurs the problem that CAR

[2020-06-09 11:10] happengor opened #2935 "Error: computer automatically shutdown by running CarlaUE4.sh on Ubuntu 20.04"
Hey guys, i followed the build instruction by https://carla.readthedocs.io/en/latest/start_quickstart on Ubuntu 20.04.

After Installation i went into folder /opt/carla-simulator/bin and tried to run CarlaUE4.sh. It requires also entering password of sudo.
As the scene showed up, the computer was turned off automatically. Could anybody explain this issue? Is the carlar 0.99 with deb Installation n

[2020-06-09 13:19] #2659 closed

[2020-06-09 22:07] faultfactory commented on #2819
Same.
very similar setup. Remote machine, headless, ssh to start the carla server and run the spawn_npc.py script.  Cars do not move. I am running in synchronous mode.

I did have them moving at one point and the output to ros looked like there are two client ticks which i believe to be incorrect as the ros bridge output was filled with warnings.
The spawn npc tick would move the cars forward and

[2020-06-09 22:43] papabst commented on #2932
Have you tried to define the Vector3D outside of the set_velocity function? That worked for me
`velocity = carla.Vector3D(x, y, z)`
`whateverActor.set_velocity(velocity)`

[2020-06-09 23:30] Hamptonjc commented on #2841
I'm having this issue as well!

[2020-06-09 23:33] wendersonj commented on #2841
I don't have the code right now, but using some other code I had troubles with threads ! Even using a thread worker to do a secondary job, I can't display using either OpenCV or Matplotlib. I'm currently using PyGame, that comes with the basics scripts, but it's more difficult to use.

[2020-06-10 01:56] noahcao opened #2938 "Collision detection with specific vehicle in CARLA 0.8"
Hi, thanks very much for the great simulator.

I'm using CARLA 0.8.4 on Ubuntu/Windows. I'm doing some planning work and would like to know which vehicle the ego-vehicle collides with when a collision happens. I checked the document but found no way to implement it. Is it possible to have such a function? Or, if not, is there some trick to approximate such a function?

[2020-06-10 06:45] #2585 closed

[2020-06-10 06:45] #2463 closed

[2020-06-10 08:26] noahcao commented on #2069
Still haven't fixed this issue. Anyone has any suggestions on any version of CARLA?

[2020-06-10 09:33] GabiShahmayster opened #2939 "IMUMeasurement gyroscope values in world-frame instead of body-frame"
Hello,

First of all, thank you very much for this great simulator, I've been using it extensively for the last few days and so far it's been a great experience.
I'm currently focused on retrieving IMU data and feeding it into a GNSS/INS fusion algorithm, so the first thing is to ensure that I'm passing valid IMU data to the INS.
I'm using pre-built binaries, of version 0.9.9.1, on Ubuntu 18.04.04

[2020-06-11 02:56] Gilaine commented on #2737
I tried many equations but still couldn't find it @glopezdiest

[2020-06-11 06:32] hepeng187 opened #2942 "Landmark is not linked to any traffic light"
[code]
the landmark exists, but is not linked to traffic lights.  This bothers me, what am I doing wrong?

[2020-06-11 09:08] akramer123 opened #2943 "Segmentation Fault at world.getMap()"
I´m compiling CarlaLib myself following the instructions for the c++ client on this page:
https://github.com/carla-simulator/carla/tree/master/Examples/CppClient

But after including the lib to my program and when i´m calling world.getMap(),  i´m getting a segmentation fault :

void std::vector<carla::road::Lane*, std::allocator<carla::road::Lane*> >::emplace_back<carla::road::Lane*>(carla::road::

[2020-06-11 11:18] zerone1996 commented on #2918
Hello, have you solved that? I have met the same problem.

[2020-06-11 12:23] Yiquan-lol commented on #2918
Sorry, I didn't solve it. This seems to be a common problem with Linux.

[2020-06-11 12:24] Yiquan-lol commented on #2918
Sorry, I didn't solve it. This seems to be a common problem with Linux.

[2020-06-11 14:39] Mechatrnk opened #2944 "Cannot find a Plugins folder"
Hello, I am new to CARLA and I am trying to implement a RoadRunner plugins to create a CARLA Map using RoadRunner.
I am trying to follow this [instructions](https://www.mathworks.com/help/roadrunner/ug/Exporting-to-CARLA.html), I downloaded CARLA 0.9.5 but there is no path carla/Unreal/CarlaUE4/Plugins.

Is it the reason behind this that I did not build CARLA from source but just downloaded it fro

[2020-06-11 18:09] Gunn3RR1 commented on #2926
for me at least, even though it says version mismatch, it still works

[2020-06-11 21:33] hh0rva1h commented on #2617
@germanros1987 Hope this belongs here since it's a performance issue: We experience that Carla in synchronous mode is very slow compared to asynchronous mode here on a GTX 1080 Machine:

When Carla is run in -quality-level=Low the ticks per second of the asynchronous mode is around 270 here while the ticks per second in synchronous mode is around 30. When quality is set to epic the difference is l

[2020-06-11 22:08] hazemessamm opened #2946 "IndexError: blueprint 'sensor.other.radar' not found"
I get IndexError everytime I try to get the radar sensor from the blueprint_library

front_radar = self.blueprint_library.find('sensor.other.radar')

IndexError: blueprint 'sensor.other.radar' not found

I am using Carla on windows 10

Carla Version 0.9.5

[2020-06-11 22:12] germanros1987 commented on #2617
But the asynchronous version of your code doesn't seem correct. Where is the wait_for_tick? You are just getting garbage (whatever is already cached by the carlalib) from get_velocity. Could that be the issue? In other words, the asynchronous mode is not that quick.

[2020-06-12 02:16] whuxhzhang commented on #2944
I suggest you download and compile the source code. In addition, you may need to download the “Content” package.
hope it works for you.

[2020-06-12 02:21] whuxhzhang commented on #2946
I remember carla0.9.5 have no radar,
carla-0.9.7 or 0.9.8 have radar

[2020-06-12 02:23] mindThomas commented on #1103
@Sakrust Does that mean that you managed to get a car blueprint based on the SimpleWheeledVehicleMovementComponent working with CARLA?
Did that improve the physics and especially of the car? Is it closer to actual driving rather than the fairly crappy vehicle dynamics coming with the stock CARLA cars (CarlaWheeledVehicle)?
If so, would you mind to share your blueprint and the exact lines of code y

[2020-06-12 03:13] convenite commented on #2808
It seems a common issue with Unreal Engine. Now I'm reading
"https://forums.unrealengine.com/development-discussion/c-gameplay-programming/2105-globalshadercache-pc3d_sm5-bin-is-missing"

[2020-06-12 07:09] glopezdiest commented on #2927
Hey @dev015 How are you getting the bounding box of the vehicle? I think that the [carla.BoundingBox](https://carla.readthedocs.io/en/latest/python_api/#carlaboundingbox) class has everything you are asking for. Or am I missunderstanding your question?

[2020-06-12 08:35] hh0rva1h commented on #2617
@germanros1987 Thanks for the reply. Actually I had already used wait_for_tick in async mode but forgot to add it in the script which I pasted. I now updated the script (see https://gist.github.com/hh0rva1h/7e983688c399c518634ebcc0606c9523) and observed the following output:

With sync = False:
[code]
With sync = True:

[code]
Carla 0.9.9.2 was started with `-opengl -quality-level=Low` to observe

[2020-06-12 08:58] hh0rva1h commented on #2617
@germanros1987 I also took an alternative approach to measure the performance, see https://gist.github.com/hh0rva1h/0227c3e03bfd9cf343ef1b3b0741e9ab
where I got the following data:

With sync = True: between 23 and 55 ticks per second
With sync = False: between 105 and 144 ticks per second

[2020-06-12 09:22] zkyxsq commented on #1082
hello, how to get roadrunner license?

[2020-06-12 09:23] zkyxsq commented on #1082
free roadrunner license,thank you.

[2020-06-12 09:44] schaefma3 commented on #2501
I have exactly the same issue.

Thanks
Max

[2020-06-12 10:09] hh0rva1h commented on #2617
@germanros1987  I updated the script to measure performance, see https://gist.github.com/hh0rva1h/7e983688c399c518634ebcc0606c9523

In async mode I get between 205 and 225 ticks per second (when running script for the first time it is always around 205 ticks when invoking a second time the tick rate rises to 225).
In sync mode I get between 22 and 55 ticks per second (when running the script for t

[2020-06-12 13:33] Mkarami3 commented on #2854
Hi MingooJ,
Did you manage to solve this issue? I have the same problem. Thanks

[2020-06-12 16:09] tiger-bug commented on #2815
```sudo apt-get install carla-simulator``` worked.  Thank you!

[2020-06-12 16:09] #2815 closed

[2020-06-12 17:25] germanros1987 commented on #2617
We are looking into it. Let's see if we can find a bottleneck in the synchronous mode. We will come back to you.

[2020-06-12 17:56] AmirHarvey opened #2949 "Taking camera reading as input in OpenCV"
Hello there,
I added two RGB cameras and they work fine, but instead of displaying them i'm trying to take their readings and use them as inputs for OpenCV to apply object detection on them.
I tried cv2.VideoCapture() but it can't take numpy array as input.

Anyone can help?
Thanks in advance.

I am using:
carla 0.9.8
python 3.7
os: windows

[2020-06-12 17:56] #2798 closed

[2020-06-13 16:04] ptigas commented on #2587
@chandeep11 "Temporarily I'm fixing this issue with invisible blocking volumes under the road (which is not as proper as the Carla towns)." - is this something you don on roadrunner or you're hacking Carla for that?

[2020-06-13 17:16] chandeep11 commented on #2587
@ptigas Those blocking volumes are added via the UE4 Editor(It's a UE4 feature) in the source version Carla and then made a binary out of it. I don't think you can do the same in compiled version directly.

[2020-06-13 20:11] GabiShahmayster commented on #2949
Hi Amir,
You don't need a VideoCapture object for that, since the video frames are provided directly by Carla.
You would use a VideoCapture object to open a webcam video stream, video file or images folder, and it would provide you with a sequence of frames, which Carla already does.
Any subsequent image processing or computer vision algorithms, can be applied to this sequence of numpy arrays. You

[2020-06-13 21:37] rehamessameltagoury opened #2950 "I want to apply the steer and velocity values predicted by trained model to the car.. how can I do this ?"
I tried to apply the steer using apply_control and velocity using set_velocity but it doesn't work properly do anyone have another idea ?

[2020-06-14 01:36] AmirHarvey commented on #2949
Thank you so much Gabi
This helped yes, now i'm not trying with the VideoCapture anymore but i'm still trying to figure out how to apply YOLOv3 on a numpy array because all the methods i could find only use images, videos or webcam as input.

[2020-06-14 20:18] dev015 commented on #2927
Hey @glopezdiest, the coordinates of BB (bounding box) we get are in the world frame, but I am trying to get them with respect to ego vehicle instead of world frame.

[2020-06-15 02:49] MingooJ commented on #2854
Hi Mkarami3,
Unfortunately, this problem still unsolved. but, i generate traffic light of UE4, it works.
However, complex traffic can't create with it's traffic system. So, i still try solving it.
Thanks.

[2020-06-15 06:22] JMorceaux commented on #2950
Quick look to at the doc and this should answers your question: https://carla.readthedocs.io/en/latest/core_actors/#vehicles

[2020-06-15 07:08] glopezdiest commented on #2927
Hmm... If by coordinates you mean vertices, you can use **_get_local_vertices(self)_**.

[2020-06-15 14:23] GabiShahmayster commented on #2737
Hi GIlaine,
Carla's locations are defined in the unreal-engine frame-of-reference, which is a left-handed Cartesian frame, aligned with east-south-up (you can easily verify it by observing GeoLocation vs. Location values of a specific position.

You can transform a left-handed east-south-up location into a right-handed east-north-up location by reversing the sign of the y-coordinate. [https://gith

[2020-06-15 15:10] mariam-khaled opened #2952 "How to control the vehicle's steer and speed in CARLA 9.5 or CARLA 8.2 ?"
Hello, I have a model that predicts the steering angle and an acceleration command(Accelerate-Decelerate-Maintain). I want to control the vehicle by applying the steer angle and increasing, decreasing or maintaining its speed. Which APIs to use? If I want to increase the speed do I have to modify the forward_speed? Thanks in advance.

[2020-06-15 15:31] atinfinity opened #2953 "Could not install carla-hdmaps"
I read <https://drive.google.com/file/d/1uO6nBaFirrllb08OeqGAMVLApQ6EbgAt/view?usp=sharing>.
And, I tried to install `carla-hdmaps` on Ubuntu 18.04.

[code]

But, I could not install `carla-hdmaps`.

[code]

[2020-06-15 17:17] Mkarami3 opened #2954 "Importing Traffic Signal from RoadRunner"
Hello Everyone,
First, I wanted to thank CARLA team for providing an exciting project for free.

I created a simple Junction with Traffic Signal in RoadRunner and using Export->CARLA in RoadRunner. I created the files ready to be imported into UE4.
The problem I have is that when I push "Play" butting in UE4, each traffic signal is shown as three different signal. Did anyone have this issue before

[2020-06-15 17:22] atinfinity opened #2955 "The Installation of CARLA using apt has problem"
## Summary
I read the following manual.

- https://carla.readthedocs.io/en/latest/start_quickstart/#carla-installation
- https://carla.readthedocs.io/en/latest/ros_installation/

And, I tried to install `carla-simulator` and  `carla-ros-bridge-melodic` on Ubuntu 18.04.

### carla-simulator
[code]
### carla-ros-bridge-melodic
[code]

But, I found a problem.

## Problem
I launched CARLA simulator an

[2020-06-15 17:38] atinfinity commented on #2955
And, I tried to use carla_waypoint_publisher.
But, I could not launch carla_waypoint_publisher.

[code]

I think that `carla-ros-bridge-melodic` is too old(0.9.7-1).

[2020-06-15 20:34] papabst commented on #2908
I now found a solution that works for me.
First I copied one of the existing bicycles and then in the vehicle blueprint I did two things:
I put a contraint on the rotation on the Y axis (I was expecting the X axis but the longitudinal axis of the CARLA vehicles is apparently the Y axis) of the vehicle mesh AND the skeleton mesh of the rider.
This resulted in new steering issues but so it is far fr

[2020-06-15 20:34] #2908 closed

[2020-06-15 23:24] Mkarami3 commented on #1899
Dear ndeshp2s,

Did you solve the problem in "RecastDemo". When I push "Build" button, it does not create the bin file.
Thanks

[2020-06-16 02:09] whuxhzhang opened #2956 "run carla-0.9.9 ./CarlaUE4.sh crash"
4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
LowLevelFatalError [File:Unknown] [Line: 772]
VulkanRHI::vkCreateBufferView(GetParent()->GetInstanceHandle(), &ViewInfo, VULKAN_CPU_ALLOCATOR, &View) failed, VkResult=-2
 at /home/zhangxinhong/UnrealEngine_4.24/Engine/Source/Runtime/VulkanRHI/Private/VulkanRHI.cpp:1423
 with error VK_ERROR_OUT_OF_DEVICE_MEMORY
Signal 11 caught.
Malloc Size=65

[2020-06-16 07:14] Gilaine commented on #2737
@GabiShahmayster
Hello Gabi,

I wrote something like this, but I think still something is wrong:

The geo-reference in opendrive:

lat_0=4.9000000000000000e+1
lon_0=8.0000000000000000e+0

The reading:

latitude =  48.791695
longitude =  8.413367
altitude =  1.376821

lat = np.deg2rad(latitude)
lon = np.deg2rad(longitude)
alt = np.deg2rad(altitude)

x = - math.sin(lon_0)*lat - math.cos(lon_0)*math.

[2020-06-16 09:22] jackbart94 commented on #2889
Hi,

Sorry for answering so late, we took note of this suggestion and it was really appreciated. We recently changed the structure of Traffic Manager and applied this change too, thanks!

[2020-06-16 09:22] #2889 closed

[2020-06-16 12:56] Akshay-sudo-ux opened #2958 "make Libcarla.client.rss error:- c++: internal compiler error: Killed (program cc1plus)"
Hi, I am using a machine with the following specs:-
Ubuntu - 18.04, Carla - 0.9.9 RAM 8GB Graphics - 4GB GPU.

I faced an issue with make LibCarla.client.rss:- The log messages are as below.
Ad-rss.sh: Compiling ad-rss-3.0.0.
Starting >>> spdlog
Starting >>> ad_map_opendrive_reader
Finished <<< ad_map_opendrive_reader [15.4s]
Finished <<< spdlog [18.0s]
Starting >>> ad_physics
[Processing: ad_phys

[2020-06-16 13:49] syveqc commented on #2617
I was also able to confirm this using a machine with a GTX 1060 and one with a GTX 1080. (GTX 1060 got 53 ticks in async mode, 33 in sync mode, GTX 1080 got 241 ticks in async mode, 23 in sync mode)
But the interesting thing was, when I connected via the local network from the other machine respectively, there was no real difference between the two modes, I got the tick counts from async mode in b

[2020-06-16 13:55] GRFreire commented on #2841
same here, did you found something?

[2020-06-16 14:02] hh0rva1h commented on #2038
Please also note, that sync mode also has bad performance compared to async, see https://github.com/carla-simulator/carla/issues/2617#issuecomment-643192087 and the following comments.

[2020-06-16 18:18] Gilaine commented on #2737
the values received from GNSS in carla are around this
latitude =  48.998151
longtitude =  8.000191
atlitude =  1.225561
in Town 3

[2020-06-16 18:36] shuhangchen commented on #1553
Hi @nsubiron , thanks for your answer along with your other replies that I benefitted from.

   May I ask what do you suggest if we want to use collision detector in the synchronous mode?

     1. We retrieve data from the queue each frame and wait out for those frames that no collision happened?

     2. Or we only trigger an event when it happens and compare the timestamp or frame number?

Thank

[2020-06-16 20:51] s-rajab commented on #2161
@NicGalli @ndeshp2s, any solution for this issue? Thanks.

[2020-06-16 20:53] syveqc commented on #2617
I just tested it on Windows (on the GTX 1080 machine) and the problem does not seem to exist there, I get 100-120 ticks consistently in both sync and async mode!

[2020-06-16 21:02] GabiShahmayster commented on #2737
Hi,

A close-enough (depends on the accuracy you are looking for and OpenDrive's geodetic computations) approximation would be to calculate latitude/longitude differences, w.r.t to the map geographic origin, translate them to meters using earth curvature radii and remember that Carla's Location (unreal-engine frame) is x=east, y=south, z=up.
For your example, it should be:
`
    map = api.map #map

[2020-06-16 23:48] shuhangchen commented on #1809
Hi @nsubiron,

       I tried to control the car in synchronous mode, but the car was not moving.
       For example, in the example/synchronous_mode.py file, the current program "controls" the car by modifying the transform of the car directly. However, the car woud not react (move) if I use something like

Can I ask if I did something wrong? or how to make the control work in this case?

Thanks!

[2020-06-17 02:53] kannidekan opened #2960 "How can i get radar resolution in Carla?"
Is the radar resolution available in Carla? I can't find it anywhere.
Please tell me how can i get it, thanks very much!

[2020-06-17 03:37] #2663 closed

[2020-06-17 03:37] #2715 closed

[2020-06-17 03:37] #2382 closed

[2020-06-17 05:51] #2718 closed

[2020-06-17 07:07] villimikko opened #2961 "Assertion failed: Wheels.Num() > 0"
Did vehicle modelling acording to the documentation. When i try to spawn my own vehicle it will crash and this error pop up. What went wrong?

[2020-06-17 07:43] Roosstef opened #2962 "Carla an Ubuntu20.04"
Hey, are there any official plans to make Carla compatible With ubuntu 20.04 to use ist With the new Python3 Ros Distro?

[2020-06-17 07:46] hbanzhaf commented on #2934
Great new feature to accurately replay real-world data in CARLA. What's the CARLA team's (@glopezdiest, @sergi-e, @joel-mb) opinion on that? Would it make sense to turn this into a PR?

[2020-06-17 09:42] Gilaine commented on #2737
Thank you so much for your great help Gabi, is it possible to tell me where can I find this function  get_earth_curvature_radii because i searched but i couldn't find it something similar.

[2020-06-17 10:47] GabiShahmayster commented on #2737
No problem.

You can find it in [http://clynchg3c.com/Technote/geodesy/radiigeo.pdf](url).
North/South radius of curvature would be R_M
East/West radius of curvature would be R_N * cos(lat)

Good luck!

[2020-06-17 13:52] mvdstelt opened #2963 "RoadRunner 2019.2.12 on Ubunty 18.04 black screen"
Tho whom it may concern,

I am running Ubuntu 18.04 and have installed in this distro VerctorZero Roadrunner 2019.2.12.
After starting RoadRunner without issues and going to the Editor page, the editor page is only black.
This also happens with the RoadRunner 2019.2.11 version.
last week it was working, untill Ubuntu crashed and I had tore-install Ubuntu and all Apps.
I am also running Unity3D, bu

[2020-06-17 15:08] nuomizai commented on #2858
Hi, @tianli . I met the same problem as that issue. How do you specify the GPU id?

[2020-06-17 15:39] DSantosO commented on #2797
I had also the same issue on Ubuntu 18.04 and for me it seemed to be a problem with the version of clang. After removing all the installed versions of clang and llvm, I reinstall them following carefully the instructions on the carla documentation: https://carla.readthedocs.io/en/latest/build_linux/ at section 'Dependencies' and then it was working. I hope this is useful.

[2020-06-17 15:39] DSantosO commented on #2735
I had also the same issue on Ubuntu 18.04 and for me it seemed to be a problem with the version of clang. After removing all the installed versions of clang and llvm, I reinstall them following carefully the instructions on the carla documentation: https://carla.readthedocs.io/en/latest/build_linux/ at section 'Dependencies' and then it was working. I hope this is useful.

[2020-06-17 16:29] tianli commented on #2858
I didn't select, I just remove the 2GB card and move the 4GB ones to the spot. If you don't want to physically swap the card, maybe you can try this https://www.linuxbabe.com/desktop-linux/switch-intel-nvidia-graphics-card-ubuntu

[2020-06-17 16:44] marcgpuig commented on #2617
Thanks @hh0rva1h @syveqc
Seems like the Nagle algorithm is enabled by default in Linux but not in Windows.
We've forced the deactivation of it with [ip::tcp::no_delay](https://www.boost.org/doc/libs/1_73_0/doc/html/boost_asio/reference/ip__tcp/no_delay.html) and now we're experimenting 60 fps in both sync and async with tests similar to the one that @hh0rva1h provided.
This change is currently bei

[2020-06-17 19:05] hh0rva1h commented on #2956
Try to run it with -opengl.

[2020-06-17 19:18] hh0rva1h commented on #2809
@nsubiron Would be really great if you could escalate the priority of this issue among devs as this is a major problem for reinforcement learning research with Carla.

[2020-06-17 19:37] #2658 closed

[2020-06-17 21:37] #2588 closed

[2020-06-17 22:04] Armandomiguel commented on #2938
Hello noahcao,

You should take a look to the Collision Sensor (https://carla.readthedocs.io/en/latest/ref_sensors/#collision-detector).
When attached to an actor, a predefined method is called whenever a collision involving this actor occurs; and the output parameters include the ID of both actors involved.

PS. I really recommend you using a more recent version of CARLA (0.9.7 or newer) and chec

[2020-06-18 00:08] hwacookie commented on #1325
... and the same here with Windows and 0.9.9.

Tried with python 3.8 (which isn't supposed to work, as I found out later) and Python 2.7.18 (which should work, but doesn't)

Traceback (most recent call last):
  File "spawn_npc.py", line 24, in <module>
    import carla
ImportError: No module named carla

Hey, carla-team, we all know that linux is far more sexy and all, but couldn't you make this j

[2020-06-18 00:12] MauFranco commented on #1090
Hello All,
I'm also interested in getting a compiled version of OddLOT.  Please share it if you have been successful compiling it.
Thanks a lot in advance,

[2020-06-18 06:49] gengtsh opened #2964 "windows10 remote access ubuntu20.04 install unrealengine issues: Error: FLinuxApplication::CreateLinuxApplication() : InitSDL() failed, cannot create application instance."
I’m trying to install Carla in Ubuntu20, but i’m stuck in install unrealengine,
when i run ./UE4Editor, i got the following issues:

[2020.06.18-06.13.57:491][ 0]LogInit: Initializing SDL.
[2020.06.18-06.13.59:268][ 0]LogInit: Warning: Could not initialize SDL: XRandR support is required but not available
[2020.06.18-06.13.59:268][ 0]LogInit: - Physical RAM available (not considering process quota

[2020-06-18 07:13] IsraaBay commented on #1081
https://github.com/fabianoboril Can you please write the code for calculating the distance between the car and other objects in carla?

[2020-06-18 07:19] #2470 closed

[2020-06-18 08:11] gengtsh commented on #2964
I have found the solution:
I forget to set Two TCP ports and good internet connection. 2000 and 2001 in my xshell ssh tunneling

[2020-06-18 08:11] #2964 closed

[2020-06-18 09:51] nuomizai commented on #312
Hey @felipecode , the doc link http://carla.readthedocs.io/en/latest/carla_headless/ does't work anymore. Does carla still support running from headless?

[2020-06-18 10:26] AlexScheid opened #2966 "Traffic Manager Problems"
Hello Carla-Community,

I want to use the TrafficManager on my own map in the OpenDRIVE standalone mode to simulate some traffic. During some first tests with a single vehicle some problems occurred:

1. The vehicle did not change the lane in a curve with 2 existing lanes, both in the driving direction of the vehicle. The lanes are existing and the Client can get access to both of them. I checked

[2020-06-18 10:28] nuomizai commented on #2956
Hey, @hh0rva1h . I also met this problem. This didn't work for me. I using ubuntu16.04 and carla-0.9.8. I have cleaned up the display by running "DISPLAY= ./CarlaUE4.sh", as suggested by the carla tutorial. I connected to the server by vnc service by the way.

[2020-06-18 12:53] marcgpuig commented on #2617
The changes are already in master!

[2020-06-18 12:53] #2617 closed

[2020-06-18 15:19] magehrig commented on #2342
This issue still persists in 0.9.9

[2020-06-18 17:10] #2954 closed

[2020-06-18 22:04] davebiagioni commented on #2781
First of all, thanks @jackbart94 folks for confirming this is an issue and aiming for a fix in the next version!

I know this issue is closed, but I wanted to shed a little more light on the severity of the problem, especially for users trying to run many scenarios in a persistent world / server.

I ran the script posted by @zhejun-zhang above (with 10 iterations rather than 100) and wrapped it in

[2020-06-18 22:25] jackbart94 commented on #2781
Hi,

Thanks for the amazing visualization! Yes this is an issue, but we've recently released T.M. 2.0 which is merged in master and included in 0.9.9.3. By any chance, would you mind checking if this problem you're having is still happening?

[2020-06-19 07:51] jackbart94 commented on #2966
Hi,

Thanks for using the Traffic Manager, I hope I can shed some light on your doubts.

1. Traffic Manager has three different parameters for lane changes. The first one, which is active by default, is the automatic one, which basically activates lane change in different situations (for example, a car slower is in front so we change the lane to pass it). The one you might be looking for is the fo

[2020-06-19 08:02] Instantnoodles-madman commented on #420
have you resolved this problem，i  can download this file by html,but it failed when ./Setup.sh

[2020-06-19 15:42] AlexScheid commented on #2966
Hi,

thank you for the quick response!

1. For the point of time I want to force a lane change of a specif vehicle at a given location, therefore I turned off the automatic lane changes and force a lane change with:
`self.traffic_manager.force_lane_change(self.vehicle, direction)`
This command is working as expected, when my vehicle is on a straight road. But when it is driving in a curve it does

[2020-06-19 16:54] JarvanI opened #2968 "How to use multiprocessing to achieve multi-sensor simultaneous collect data without causing resource competition"
Hi everyone，I‘m trying to use Carla to test our autonomous driving system. I need to generate 5 lidars and 8 cameras and make them work together, but I found that client is single process. I tried to spawn 5 lidars and listened simultaneously,  the result was bad. Some data was lost and some was disorder. It looks like sensors are competing for resources. So I tried to use multiprocessing module t

[2020-06-19 17:39] ZhengZhongyuan11 opened #2969 "Could we substitute the xodr file for a map?"
Hi guys, I want to know how carla generate the waypoint from opendrive file? Is it possible that we replace the current xodr file of the map and regenerate the waypoint based on the new xodr file?

I have tried deleting the xodr file in carla/Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive folder, and substitute it with the new one, but the waypoint didn't updated. So I wonder is it possible that we

[2020-06-19 19:44] AIasd commented on #2609
I am also interested in this question.

[2020-06-19 20:00] davebiagioni commented on #2781
Yes, will try asap

[2020-06-19 21:15] jportella91 opened #2970 "error: XDG_RUNTIME_DIR not set in the environment. in WSL Ubuntu 18.04"
When I run ./CarlaUE4.sh in the WSL, I obtain the following error:

[code]

I am new to WSL and Ubuntu. So I would appreciate a lot if you can explain me why is this error happening and how to fix it please. It is Carla 09.7 version

[2020-06-20 03:46] #2703 closed

[2020-06-20 12:01] made3 opened #2971 "Nothing happens when executing the example python scripts"
Hello,

I have gone through both, the Quick start installation for Windows, as well as the Windows build. When I come to the point where I am supposed to spawn the npcs with the spawn_npc.py script it won't do anything.

I use the command
`py spawn_npc.py`
because I can execute a normal helloworld.py file and will get the output of it.

Now after I enter the command into the cmd there is no output

[2020-06-20 13:16] Mechatrnk opened #2972 "How to run Scenario Runner"
Hello, I [downloaded the Scenario Runner for CARLA 0.9.9](https://github.com/carla-simulator/scenario_runner/releases/tag/v0.9.9) and I am trying to run CARLA Scenario Runner, following [these instructions](https://github.com/carla-simulator/scenario_runner/blob/master/Docs/getting_started.md). I am stuck in part Running the follow vehicle example when I try to run `export CARLA_ROOT=/path/to/your

[2020-06-20 13:28] #2944 closed

[2020-06-20 15:05] harish-2306 commented on #2567
pip install the library

[2020-06-20 15:47] nuomizai opened #2973 "timeout when pulling docker image from carla"
timeout error when I tried to pull the docker image from carlasim/carla:0.9.8
I ran the command as suggested by the carla docs:
**docker pull carlasim/carla:0.9.8**
and the error information was:

0.9.8: Pulling from carlasim/carla
9ff7e2e5f967: Pull complete
59856638ac9f: Pull complete
6f317d6d954b: Pull complete
a9dde5e2a643: Pull complete
b03d58f382f0: Pull complete
a7d5a9b04781: Pull complete

[2020-06-20 16:27] #2416 closed

[2020-06-20 17:06] #2971 closed

[2020-06-20 19:19] Gilaine opened #2974 "IMU and GNSS data fusion Using EKF"
I am trying to fuse the IMU data with GNSS data Using Extended kalman filter, but when I decrease the IMU variance, the estimated data diverge which mean that the IMU data is not accurate, is this correct or maybe I'm doing something wrong in my EKF filter?

Also, I have to decrease the GNSS variance to 0.001 and increase the IMU variance to 0.1 and higher so that the estimated data converge and h

[2020-06-20 20:26] GabiShahmayster commented on #2974
Hi Gilaine,
One possible explaination would be related to the EKF covariances. Typically, providing a KF-based solution with more accurate measurements (smaller measurement covariance), or more accurate process (less process noise), results in a smaller filter covariance, this is when the filter "indifferent" towards new measurements and "trusts" it's predictions more than the measurements... in t

[2020-06-21 04:09] TrungKhoaLe commented on #2526
Worked for me too

[2020-06-21 06:21] GimpelZhang commented on #2735
Thanks for your advice. However, that method does not work. I still have the same issue I posted.

[2020-06-21 07:10] mhmdgad97 commented on #1702
have you figured it out?

[2020-06-21 11:35] nuomizai opened #2975 "nothing happened when run carla in docker"
I successfully pulled the carlasim/carla:0.9.7. After I ran the command

docker run -d carlasim/carla:0.9.7

no container id returned

![image](https://github.com/nuomizai/carla-drl/blob/master/dockerRun.png)

And I ran the command "docker ps -a". But there was no containers!
![image](https://github.com/nuomizai/carla-drl/blob/master/dockerPs.png)

[2020-06-21 14:52] avishek-mondal opened #2976 "Issues with OpenDrive files"
tldr : I have a xodr file that I generated with Sumo Netconvert, and a fbx file that I generated using Blender. When trying to use it on Carla 0.9.9, the wheels of the vehicle "sink" into the road, and I am unable to drive the vehicle or use autopilot for the vehicle spawned (using the script PythonAPI/examples/manual_control.py as the client). However, when I remove the \<link\> elements and its

[2020-06-21 18:07] flobau opened #2977 "BasicAgents do right/left steering on straights when spawning many of them"
Basically my goal is to extend the BasicAgent and override the run_step method to implement my own logic but i want to use the navigation system in BasicAgent.

So i have the problem that my extended Agent starts steering right/left on straights, even when i spawn 4 of them.

So i tried it with BasicAgent aswell.

`
for i in range(30):
            if not map.get_spawn_points():
                pri

[2020-06-21 21:10] AmirHarvey opened #2978 "Distance between cameras"
Hello there,

I'm trying to find out what the coordinates that represent the location of the sensors are equal to?
For examples, If added two cameras at (0, 0.5, 0) and (0, -0.5 ,0), what is the horizontal distance between them?

[2020-06-21 22:11] umateusz commented on #2899
Sorry for the late response. Thank you, you encouraged me to create such adockerfile. The simulator is currently exiting without writing an error if the `--gpus=all` flag is not used.

I think this is a temporary solution. I think that such a solution would be very useful. I am not sure how many changes it requires to make it possible.

[2020-06-21 22:36] umateusz commented on #2975
The missing container id is strange. I'm not sure where it might come from. Do you have nvidia gpu support installed in the docker?

You should start Carla according to the instructions:
https://carla.readthedocs.io/en/latest/build_docker/

E.g.:
`docker run -p 2000-2002:2000-2002 --runtime=nvidia --gpus all carlasim/carla:0.8.4`

You must install nvidia support for the docker. I think the documen

[2020-06-22 03:36] xiaoyang666 opened #2979 "VehicleAI(Behavior tree)"
Hi,
   I always wanted to reproduce the automatic driving of the vehicle in my own scene.As far as I understand, the autonomous driving of UE4 can be constructed with a behavior tree.Does the automatic driving in Carla follow a fixed route set by people? I changed the position of Waypoints in the map, and the self-driving vehicles also changed, so I have the above questions. Or is vehicle autopilo

[2020-06-22 03:45] Shanmax1996 opened #2980 "Connect Carla with JavaScript"
Can I connect the Carla simulator with a javascript client?
Is it posible or imposible..

Example code in NodeJs...

const io = require('socket.io')();
var port = process.env.PORT || 2000;

io.on('connection', (socket) => {
  console.log('Simulator connected');
});

io.listen(port, function(){
  console.log('listening on *:' + port);
});

[2020-06-22 08:05] nuomizai commented on #2975
Thank you, @umateusz . Yes, I have installed nvidia gpu sopport correctly. I have tested nvidia support by the command:

`sudo docker run --gpus all nvidia/cuda:10.0-base nvidia-smi`

And the result was:

Unable to find image 'nvidia/cuda:10.0-base' locally
10.0-base: Pulling from nvidia/cuda
7ddbc47eeb70: Pull complete
c1bbdc448b72: Pull complete
8c3b70e39044: Pull complete
45d437916d57: Pull com

[2020-06-22 08:10] yumianhuli2 opened #2981 "Recommended PC configuration"
What is the recommended PC configuration for running Carla smoothly？Thank U！

[2020-06-22 08:26] nuomizai commented on #2975
Hey, @umateusz . I just ran carla image for another. And this time, after I ran the command:
`docker run -p 2000-2002:2000-2002 --gpus=all carlasim/carla:0.9.7 `

The result was:
sh: 1: xdg-user-dir: not found

And after I ran the command
`docker ps`

The result was:
CONTAINER ID        IMAGE                  COMMAND                  CREATED             STATUS              PORTS

[2020-06-22 12:34] jackbart94 commented on #2977
Hi,

The PID is tuned for a specific threshold of FPS values, spawning too many Basic Agents will lead to an FPS drop and thus the PID values have to be changed accordingly.

[2020-06-22 13:24] nuomizai commented on #2970
Hey, @jportella91 . I met the same problem when I ran CarlaUE4.sh in a server without ubuntu destop. The system is Ubuntu16.04. Unfortunately, I didn't fix that problem. But I ran the CarlaUE4.sh successfully in a destop computer. So I guess CarlaUE4.sh can not run in a headless system without a destop. So I installed carla in the docker and it works well with the server. You can look that in http

[2020-06-22 13:53] AmirHarvey commented on #2978
Turns out the coordinates are represented in meters

[2020-06-22 13:53] #2978 closed

[2020-06-22 15:52] GabiShahmayster commented on #2939
Anyone from the Carla team? @ItsTimmy could you please take a look?
Maybe I'm missing something fundamental regarding Carla or there's any non-standard IMU modelling going on...

[2020-06-22 18:45] davebiagioni commented on #2781
This is using 0.9.9.4 ... it looks a tiny bit better in terms of the final memory footprint, but clearly the problem persists?

![memory-profile](https://user-images.githubusercontent.com/7086434/85323913-281fa000-b486-11ea-87a8-d19ac4b97e51.png)

[2020-06-23 02:45] shizhuocaoa opened #2983 "IndexError: bytes to write exceed buffer size"
I installed Carla by Quick Installation 0.9.9.3. And install carla-ros-bridge as developers. When I try to test ros-bridge through roslaunch carla_ros_bridge carla_ros_bridge_with_example_ego_vehicle.launch. Some errors occur as follows

![image](https://user-images.githubusercontent.com/44232865/85355145-8a3bdc00-b53e-11ea-8f54-ea09c3446127.png)
How can I fix it?  Thank you! Thank you!

[2020-06-23 03:31] yumianhuli2 opened #2984 "Vulkan issue"
Hell0! I followed step
wget https://carla-releases.s3.eu-west-3.amazonaws.com/Linux/UE_Patch/430667-13636743-patch.txt ~/430667-13636743-patch.txt
patch --strip=4 < ~/430667-13636743-patch.txt

and

./Setup.sh && ./GenerateProjectFiles.sh && make

when I used cd ~/UnrealEngine_4.24/Engine/Binaries/Linux && ./UE4Editor

I got below:

![Screenshot from 2020-06-23 11-30-00](https://user-images.github

[2020-06-23 05:15] villie17 commented on #2735
I provided a suggestion to solve the error in rpclib compilation part. However afterwards errors of the form
 error: no member named 'strtol' in the global namespace
using ::strtol;
still not remained.
This error was not resolved by the suggestion I provided earlier.

So I followed the suggestion by @DSantosO and removed all clang versions as well as all llvm also. Afterwards I reinstalled clang-8

[2020-06-23 07:27] ThrashAbaddon opened #2985 "Segfault when loading Open DRIVE maps"
Hello,

I've stumbled on two segfaults that happen when loading maps

* [Ex_Simple-LaneOffset.zip](https://github.com/carla-simulator/carla/files/4817690/Ex_Simple-LaneOffset.zip)
* [UC_Simple-X-Junction-TrafficLights.zip](https://github.com/carla-simulator/carla/files/4817692/UC_Simple-X-Junction-TrafficLights.zip)

I'm not sure are the bugs related but what I know is that `Map::CreateRtree` cras

[2020-06-23 08:22] ThrashAbaddon opened #2986 "Which Open DRIVE version is carla supporting?"
I was wondering which Open DRIVE version is carla supporting? This isn't specified anywhere. Last version is [1.6.0](https://www.asam.net/standards/detail/opendrive/).

[2020-06-23 11:00] nuomizai commented on #2138
Hey, @nyukhalov . I tried you suggestion by adding the command in my CarlaUE4.sh file

`sudo chmod +x "$UE4_PROJECT_ROOT/CarlaUE4/Binaries/Linux/CarlaUE4-Linux-Shipping"`
`-"$UE4_PROJECT_ROOT/CarlaUE4/Binaries/Linux/CarlaUE4-Linux-Shipping" CarlaUE4`
`+"$UE4_PROJECT_ROOT/CarlaUE4/Binaries/Linux/CarlaUE4-Linux-Shipping" CarlaUE4 -opengl`

`$UE4_PROJECT_ROOT/CarlaUE4/Binaries/Linux/CarlaUE4-Linux-Sh

[2020-06-23 12:51] ItsTimmy commented on #2939
I'm not actually part of the Carla team, but I can still take a look. This issue might actually explain some other problems I've been having with Carla...

[2020-06-23 13:50] marcgpuig commented on #2716
Hi @a-boinet sorry for the late update.
We're improveing the vehicle collision meshes and now look way better, with these changes this wheel problem should be fixed too!

![image](https://user-images.githubusercontent.com/15848712/85411390-9472d000-b568-11ea-9e4e-130e6df4dec6.png)
![image](https://user-images.githubusercontent.com/15848712/85411831-27ac0580-b569-11ea-9337-c7b2bc10c04e.png)

[2020-06-23 13:58] a-boinet commented on #2716
Looks great! Thanks for the update, I'm looking forward to testing this

[2020-06-23 14:30] joel-mb commented on #2955
Hello @atinfinity ,
Sorry for my late response and thank you for opening the issue. You are right, the debian package for the `carla-ros-bridge-melodic` is too old and crash with the current version of carla. I'll update it during this week.

Thanks!

[2020-06-23 14:53] pietrocolombo commented on #2953
i have the same problem

[2020-06-23 16:50] thefatbandit commented on #137
Thanks Jbnunn https://github.com/jbnunn/CARLADesktop.
Succesfully run carla on AWS EC2.

[2020-06-23 16:51] thefatbandit commented on #917
Thank Jbnunn https://github.com/jbnunn/CARLADesktop.
Succesfully run carla on AWS EC2.

[2020-06-23 16:58] avishek-mondal opened #2987 "Road Runner textures not importing"
Hi, I'm following the instructions in the following link - https://carla.readthedocs.io/en/latest/tuto_A_add_props/ to try and import a scene I built in RoadRunner, and I'm not able to observe the textures I have on RoadRunner on Carla, despite using the no-carla-materials flag. Here are the steps I'm following

1) Using RoadRunner's export to Carla option, I'm exporting everything - the xodr file

[2020-06-23 17:18] thefatbandit commented on #1191
you can use nomachine instead of vnc. there seems to be driver problems with VNC.
https://www.nomachine.com/AR03Q01019
https://www.youtube.com/watch?v=eolNziYLe9Y

[2020-06-23 20:10] gengtsh opened #2988 "build error: CXX object LibCarla/cmake/server/CMakeFiles/c....dir/__/__/source/carla/opendrive/parser/GeometryParser.cpp. FAILED:"
hi
when i make launch, i got the

**Building CXX object LibCarla/cmake/server/CMakeFiles/c....dir/__/__/source/carla/opendrive/parser/GeometryParser.cpp.
FAILED:**

../../LibCarla/source/carla/opendrive/parser/GeometryParser.cpp:118:21: error: loop variable 'geo' of type 'const carla::opendrive::parser::Geometry' creates a copy from type 'const carla::opendrive::parser::Geometry' [-Werror,-Wrange-

[2020-06-23 20:18] GabiShahmayster commented on #2939
@ItsTimmy Thank you very much. Unfortunately, I am not familiar with the official Carla team or the most effective ways of reporting such an issue... If you think that I should contact someone from the team, via Discord chat perhaps, or try to fix the issue and submit a PR, please tell me so...

[2020-06-23 20:29] raymanfx opened #2989 "Get current RPM of vehicle"
Hi, I'm trying to find a way to get the current revolutions per minute (RPM) of any wheel at a given time via the Python API.
I know I can get the throttle level and the max RPM of the engine via `VehiclePhysicsControl`, so in theory I could just derive the wheel RPM from there. Due to gearbox properties etc. that value will be pretty inaccurate I guess.

What I'm actually more worried about there

[2020-06-23 21:30] hh0rva1h commented on #2617
@marcgpuig Thanks, can confirm the fix, frame rates are now identical.

We have yet another performance problem: calling `world.get_map().get_waypoint(pos)` after every few ticks limits the frame rate yet again to around 20 fps, which comes as a surprise to use since the lane invasion sensor does not slow down the simulation at all.
Shall I open another but report for this issue?

[2020-06-23 23:34] maxc303 commented on #2984
Hi, If you are working on a device with Nvidia graphics card, you may try to install or upgrade your nvidia driver.

[2020-06-24 01:01] hepeng187 commented on #2986
OpenDRIVE 1.4 standard

[2020-06-24 12:12] noahcao commented on #2938
Hi Armandomiguel,

Thanks so much for the kind help!

yes, I realized there is some solution on CARLA 0.9. But due to some legacy codebase issue and to have fair comparison with some other works which are based on stable CARLA version (0.8.4), I'm still expecting a solution on CARLA 0.8.4.

But you're right. I'm currently migrating my code to CARLA 0.9.

[2020-06-24 12:39] robin827 opened #2990 "Are roadmarks available in opendrive standalone mode?"
Hi, I'm using the opendrive standalone mode and from what I have read, there are no possibilities to displaying roadmarks with this mode.
Am I missing something? If no, I was wondering if it is a potential feature in future releases?

Thank you!

[2020-06-24 14:58] Gilaine commented on #2737
These are the values that i calculated for the radius from the calculations, it's not the same as the one you calculated.

6377740.99149
4184676.96212

a = 6378000.1370
e = 0.0167

d2r = 1/180.0*np.pi
s = (math.sin(49.0*d2r)) * (math.sin(49.0*d2r))
e2 = (e)**2

rm = (a*(1-e2))/math.pow(1-((e2)*(s)),1.5)
rn = a/math.sqrt(1-((e2)*(s)))

Rn = rn*(math.cos(49*d2r))

why you send the altitude to the ca

[2020-06-24 15:17] qhaas commented on #1436
Got the same error on EL7, adding `"centos", "redhat"` allowed me to proceed, thanks!

[2020-06-24 17:03] qhaas commented on #278
I'm trying to build only the CARLA 0.9.7 PythonAPI client in EL7 / Python3.  I've gotten it to compile with the SCL's llvm-toolset-7.0's clang 7 in CentOS7, but I keep getting this error when I try to `import carla`:

[code]

From reading the build scripts, it seems that libstdc++ should be used for compiling the libcarla client and libc++ the server, so I'm not sure how libc++ is getting introduc

[2020-06-24 17:44] germanros1987 commented on #2617
Hi @hh0rva1h,

Indeed. Please open a new issue so that we can track this down properly.

[2020-06-24 19:48] AmirHarvey opened #2991 "Displaying text in pygame window"
Hello there,

I'm trying to display text in the pygame window so i used draw_string() function. It works but the text is displayed in the CarlaUE4 not pygame.
Any idea how to display in pygame?

I'm using Carla 0.9.8
OS: Windows

[2020-06-24 23:30] GabiShahmayster commented on #2737
Hi,

Your semi-major (equatorial) Earth radius, a,  looks a little off... WGS84 value is 6378137 meters (see https://en.m.wikipedia.org/wiki/World_Geodetic_System#:~:text=The%20WGS%2084%20datum%20surface,%3D%201%2F298.257223563). .... Check e, as well...

Good luck,
Gabi

[2020-06-25 01:20] germanros1987 commented on #2809
@doterop This issue has high priority, could you and @bernatx take a look at this?

[2020-06-25 05:29] #2786 closed

[2020-06-25 07:14] hh0rva1h commented on #2809
@germanros1987 Thanks for triaging this. We looked again into it last night and found a non documented way to handle it:
@doterop added a timeout for ticks in march: https://github.com/carla-simulator/carla/pull/2556/commits/5d238b2921a9af2568f43a488e90eb7bb3451b21 so the following code works around the problem:

[code]
It seems the tick is done in the simulator just that the client never gets the

[2020-06-25 08:32] Gilaine commented on #2737
Thank you I updated and it's the same right now.

[2020-06-25 08:38] Gilaine commented on #2974
I try to do this right now but still i'm not sure.

[2020-06-25 09:11] hh0rva1h opened #2992 "Waypoint API calls are very expensive"
We are doing reinforcement learning and want to track the offset of the car from the lane center. Therefore we make use of the waypoint API, however we noticed that that get_waypoint() calls affect performance very badly.

We wrote a script to outline this performance issue:
https://gist.github.com/hh0rva1h/ff708da80e6e7c61c4e41894ddcbb198

On my machine I obtain the following results:
[code]
Howe

[2020-06-25 09:25] hh0rva1h commented on #2617
@germanros1987 Done, see https://github.com/carla-simulator/carla/issues/2992

[2020-06-25 12:47] umateusz commented on #2975
Do not worry about `sh: 1: xdg-user-dir: not found`. This is the message that appears when the container starts (it would probably be better to suppress this error).

Everything seems to be working properly. You can now try to connect to the simulator.

https://carla.readthedocs.io/en/stable/connecting_the_client/#running-the-client-example

You can try to connect using the `manual_control.py` scr

[2020-06-25 13:50] bernatx commented on #2987
Hi avishek-mondal,

Thanks for reporting this error.
It seems to me that you are referring to the wrong tuto for your pipeline. Because you want to import a whole map you should follow this tuto: [https://carla.readthedocs.io/en/latest/tuto_A_add_map/](url)

I think if you want to properly automatize the importing pipeline, you should export from Roadrunner using the option Export (no export to Ca

[2020-06-25 14:40] lucasnmatias opened #2993 "OpenSCENARIO + Implemented Agent"
Hi,

I have one question about the support for OpenSCENARIO. I would like to know why we cannot run a scenario from OpenSCENARIO with an agent implemented?

`Agents are currently only compatible with route scenarios`

It would be interesting to define a scenario with OpenSCENARIO and test my agent on it.

[2020-06-25 14:51] #2993 closed

[2020-06-25 15:24] nsubiron commented on #2809
I can comment on what I've found checking this not long ago.

The origin of the frame drops is here https://github.com/carla-simulator/carla/blob/baf43b07a607e20bc338ff86d8829aae49f7478c/LibCarla/source/carla/streaming/detail/tcp/ServerSession.cpp#L80-L83

That boolean is set to false when the completion callback is called and the socket starts accepting messages again. In async mode this is fine

[2020-06-25 16:45] avishek-mondal commented on #2987
Hi!
Sorry about that - yes I was referring to https://carla.readthedocs.io/en/latest/tuto_A_add_map
When I export from RoadRunner using just the standard fbx export (File->Export->Filmbox(.fbx))

![IMG_1381](https://user-images.githubusercontent.com/17044043/85759195-e7838900-b708-11ea-84aa-1294e679e54a.jpg)

, I still get a number of .png_rrx files. When I then generate the xodr file from RoadRun

[2020-06-25 16:45] #2987 closed

[2020-06-25 18:01] elandg opened #2994 "Unable to control vehicle in Carla with Logitech G29 steering wheel"
I've been trying to run Carla using the manual_control_steeringwheel.py file, but am repeatedly getting "NoSectionError: No section: 'G29 Racing Wheel'". I will attach the full terminal output below. I am using the 0.9.9.2 Windows version of Carla, starting CarlaUE4.exe first, and using the Logitech G29 steering wheel. After reading some other posts, I have included a wheel_config.ini file in the

[2020-06-25 20:37] akssieg commented on #2596
I am facing the similar problem. Did you find the solution?

[2020-06-25 22:04] germanros1987 commented on #2737
Thanks @GabiShahmayster for driving this conversation!

[2020-06-25 22:04] #2737 closed

[2020-06-25 22:05] germanros1987 commented on #2939
@marcgpuig and @DSantosO could you take a look? I know it's a busy time... but this was supposed to be solved. It's not the first time we find similar problems.

[2020-06-25 22:14] germanros1987 commented on #2991
Please, read the documentation of Pygame.

[2020-06-25 22:14] #2991 closed

[2020-06-25 22:21] germanros1987 commented on #2974
Hi @Gilaine,

This seems like a stackoverflow question. It doesn't look like this should take place in our Github issues. You can also ask in the CARLA forum: forum.carla.org, but this definitely does not belong in Github. We are trying to keep this section for feature requests and bugs.

[2020-06-25 22:21] #2974 closed

[2020-06-25 22:24] germanros1987 commented on #2990
We are not rendering lanemakrs, but if you visualize the map using the nonrendering_mode script: https://github.com/carla-simulator/carla/blob/master/PythonAPI/examples/no_rendering_mode.py

That should offer you more information.

In the future, we will provide the functionality to render lane markings and other road features.

[2020-06-25 22:24] #2990 closed

[2020-06-25 22:26] germanros1987 commented on #2989
I think we don't have a simple way to do that in our current API. We should add it.

@bernatx do you think we could find a simple workaround for this? Otherwise, let's add it to the backlog.

[2020-06-25 22:28] germanros1987 commented on #2988
@Axel1092 could you please look into this?

[2020-06-25 22:29] germanros1987 commented on #2986
Almost 1.5

[2020-06-25 22:29] #2986 closed

[2020-06-25 22:31] germanros1987 commented on #2985
@marcgpuig master of environments, could you look at this?

[2020-06-25 22:32] germanros1987 commented on #2984
I am closing this. Please, re-open it if your issue persists.

[2020-06-25 22:32] #2984 closed

[2020-06-25 22:34] germanros1987 commented on #2983
@joel-mb could you please ask for further information and take a look at this issue?

[2020-06-25 22:36] germanros1987 commented on #2981
You can achieve good results with very different hardware, but I like to use something in the line of:

- Intel i7  (9th or 10th gen) or i9 (9th or 10th gen)
- Nvidia RTX 2080
- 16-32 GB of RAM

[2020-06-25 22:38] germanros1987 commented on #2980
Definitely not trivial. The closest thing coming to my mind right now is this: https://github.com/carla-simulator/carlaviz
Please have a look at that.

[2020-06-25 22:40] germanros1987 commented on #2979
@xiaoyang666 are you referring to the Autopilot in CARLA? In other words, the Traffic Manager? I don't fully understand your question.

[2020-06-25 22:42] germanros1987 commented on #2977
@flobau  We need much more information about this issue if you want us to help.

We need the version of your CARLA distribution. Are you working on synchronous mode or asynchronous mode? Are you using fixed-time or variable time?

[2020-06-25 22:43] germanros1987 commented on #2976
@marcgpuig this sounds like your cup of tea.

[2020-06-25 22:46] germanros1987 commented on #2975
That is correct. Don't worry about the xdg error. Just connect using the manual_control.py. It should work fine.
Remember to share the network between both processes: --net=host

[2020-06-25 22:49] germanros1987 commented on #2973
@nuomizai this seems to be a problem with the configuration of your docker client. Not a problem on our side.

[2020-06-25 22:49] #2973 closed

[2020-06-25 22:50] germanros1987 commented on #2972
@glopezdiest could you please help this user?

[2020-06-25 22:53] germanros1987 commented on #2970
@nuomizai @jportella91 CARLA can run headless in some configurations, but it seems that WSL is not one of them.
We have never testes a WSL setup...so chances are that this will not work. Could you try with the docker option, and check if that works?

[2020-06-25 22:55] germanros1987 commented on #2969
That won't work. What are you trying to do exactly? Please, let us know about the higher-level use case you are trying to create.

[2020-06-25 22:59] germanros1987 commented on #2968
Hi @JarvanI

Thanks for reaching out. The setup that you are trying to create is far from trivial. It is a very demanding sensor stack, which will require the right hardware to run in real-time. It will also require an upgrade in the CARLA internal architecture to leverage multiple GPUs. This upgrade will happen at some point during 0.9.11.

Now, if you don't care about real-time, the setup you ar

[2020-06-25 23:01] germanros1987 commented on #2966
@jackbart94 could you follow up?

[2020-06-25 23:02] germanros1987 commented on #2963
Please, talk directly with VectorZero (now Mathworks). They should be able to help you.

[2020-06-25 23:02] #2963 closed

[2020-06-25 23:04] germanros1987 commented on #2962
Did you have any problems building CARLA or running CARLA in Ubuntu 20.04?

[2020-06-25 23:04] germanros1987 commented on #2961
Could you please provide more information? The version of CARLA, environment, OS, etc.

[2020-06-25 23:10] germanros1987 commented on #2960
@kannidekan that concept does not apply to our "radar" because the data generated by the radar is not given in a "per-object" way. In other words, the radar is not attempting to differentiate between multiple targets. Instead, it is providing information about multiple locations that could correspond to the same target (object).

[2020-06-25 23:11] germanros1987 commented on #2958
@berndgassmann could you please have a look at this?

[2020-06-25 23:12] germanros1987 commented on #2956
@whuxhzhang are you still having this problem?

[2020-06-25 23:13] germanros1987 commented on #2955
@joel-mb please, report back once this is solved and close the issue.

[2020-06-25 23:15] germanros1987 commented on #2953
@joel-mb could you please take a look at this?

[2020-06-25 23:17] germanros1987 commented on #2952
Hi @mariam-khaled

I would recommend you to use newer versions of CARLA. For instance 0.9.9. Then, these questions can be easily resolved by reading our documentation: https://carla.readthedocs.io/en/latest/

[2020-06-25 23:17] #2952 closed

[2020-06-26 02:20] mvdstelt commented on #2963
Thanks.

Kind regards and thanks,
Machiel van der Stelt

https://stelt-technologies.com.au/
https://archive.org/details/@machiel_van_der_stelt

On Fri, 26 Jun. 2020, 7:02 am germanros1987, <notifications@github.com>
wrote:

[2020-06-26 02:39] germanros1987 commented on #115
@svanimisetti this is not possible yet.

[2020-06-26 02:41] germanros1987 commented on #81
@melviso-osvf could you have a look at https://github.com/carla-simulator/carla/pull/1608 and make a version that works for 0.9.9 and newer versions?

[2020-06-26 02:44] germanros1987 commented on #150
We could use some help with this...

[2020-06-26 02:45] #412 closed

[2020-06-26 02:46] germanros1987 commented on #594
It was not solved before, but we just fixed it.

[2020-06-26 02:46] #594 closed

[2020-06-26 02:48] #1148 closed

[2020-06-26 02:49] #1207 closed

[2020-06-26 02:52] germanros1987 commented on #1581
@gy20073 have you seen this problem in most recent versions (0.9.9?)

[2020-06-26 02:52] #1840 closed

[2020-06-26 02:53] germanros1987 commented on #1584
This was done some time ago. I think for 0.9.8.

[2020-06-26 02:53] #1584 closed

[2020-06-26 02:54] germanros1987 commented on #1586
we have jenkins build now. Yay!

[2020-06-26 02:54] #1586 closed

[2020-06-26 02:55] germanros1987 commented on #1587
@marcgpuig do we have a limitation of 12 classes? My understanding is that we could have an arbitrary number of classes. Could you please confirm?

[2020-06-26 02:56] germanros1987 commented on #1605
@Axel1092 does this look like something you could add in a short amount of time?

[2020-06-26 02:58] germanros1987 commented on #1606
There is an issue related to this. I believe @XGodina told me about it. Xavi, could you take care of this?

[2020-06-26 02:59] germanros1987 commented on #1585
I would love to see this done too.. does anybody want to help?

[2020-06-26 03:01] #1619 closed

[2020-06-26 03:02] #1645 closed

[2020-06-26 03:03] #1654 closed

[2020-06-26 03:04] germanros1987 commented on #1727
This should be solved now in newest versions.

[2020-06-26 03:04] #1727 closed

[2020-06-26 03:05] gy20073 commented on #1581
I haven't try the most recent version yet, not sure whether it happens

[2020-06-26 03:05] germanros1987 commented on #1746
Is this still the case @XGodina ?

[2020-06-26 03:07] #1778 closed

[2020-06-26 03:08] germanros1987 commented on #1805
This should be solved in the new Traffic Manager.

[2020-06-26 03:08] #1805 closed

[2020-06-26 03:09] germanros1987 commented on #1821
@fpasch Is this still a relevant issue?

[2020-06-26 03:11] germanros1987 commented on #1837
I don't believe this is really needed since there are other ways to achieve the same result.

[2020-06-26 03:11] #1837 closed

[2020-06-26 03:12] germanros1987 commented on #1848
@Axel1092 0.9.11 task?

[2020-06-26 03:15] germanros1987 commented on #1927
@cassfalg @ThrashAbaddon why not just using the functionality provided by the non_rendering_mode script? You can add the  '--show-spawn-points' attribute...

If you want a cool top view, why don't you make a contribution to CARLA?

I consider the non_rendering_mode script to provide a solution to this problem, so I am closing this issue.

[2020-06-26 03:15] #1927 closed

[2020-06-26 03:16] #1968 closed

[2020-06-26 03:18] germanros1987 commented on #2038
@hh0rva1h I believe this is not the right place for that comment. Please, let's not mix issues.

[2020-06-26 03:18] #2038 closed

[2020-06-26 03:19] germanros1987 commented on #2132
Folks, have you tried this in 0.9.9? We solved it over there. I am closing this issue, but happy to reopen it if somebody finds problems again.

[2020-06-26 03:19] #2132 closed

[2020-06-26 03:21] germanros1987 commented on #2343
I agree. @XGodina @doterop let's make all our vehicles actors, even if by default they are in an "idle" state.

[2020-06-26 03:22] germanros1987 commented on #2471
That is very reasonable... I am closing this. Long life to 0.9.9.

[2020-06-26 03:22] #2471 closed

[2020-06-26 03:23] germanros1987 commented on #2474
@bernatx could you take a look at this? It seems to be an active problem.

[2020-06-26 03:25] germanros1987 commented on #2495
@jackbart94 this issue needs attention. Are you able to reproduce this behavior in TM 2.0?
@martonur could you please provide a minimum example?

[2020-06-26 03:26] germanros1987 commented on #2511
@Axel1092 do you have any clue of what is going on? Could you please take a look at this?

[2020-06-26 03:27] germanros1987 commented on #2548
Is this still a problem?

[2020-06-26 03:28] germanros1987 commented on #2559
@Axel1092 could you provide some guidance for this?

[2020-06-26 03:29] germanros1987 commented on #2584
Could you explain what you are *really* trying to do?

[2020-06-26 03:30] germanros1987 commented on #2587
@XGodina this needs urgent attention.

[2020-06-26 03:31] germanros1987 commented on #2635
@sergi-e do we need to update the documentation?

[2020-06-26 03:31] #2635 closed

[2020-06-26 03:32] germanros1987 commented on #2642
@sergi-e could you add the explanation provided by @tamakoji to the documentation, please?

[2020-06-26 03:32] #2642 closed

[2020-06-26 04:00] germanros1987 commented on #2644
@annaornatskaya does this solve your problem?

[2020-06-26 04:04] germanros1987 commented on #2645
Hi @IntedisJonas,

I think we should go about this issue in a different way. Could you please sketch somewhere the minimum SOME/IP interfaces that you would need? Perhaps we could try to add it to the API.

[2020-06-26 04:04] #2668 closed

[2020-06-26 04:05] #2669 closed

[2020-06-26 04:06] germanros1987 commented on #2670
@KasraMokhtari2112 please, do not kidnap the thread. Open your own issues.

[2020-06-26 04:06] germanros1987 commented on #2670
@jackbart94 could you help @Janmart10 with this issue?

[2020-06-26 04:07] germanros1987 commented on #2679
@baenav do you also have this problem with 0.9.9?

[2020-06-26 04:08] germanros1987 commented on #2685
I am closing this. If the issue persists I will be happy to re-open it.

[2020-06-26 04:08] #2685 closed

[2020-06-26 04:10] #2694 closed

[2020-06-26 04:11] germanros1987 commented on #2696
@XGodina we should make a [calibration board](https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2Fcalib-io-CB800600F-Camera-Calibration-800x600mm%2Fdp%2FB07Q21Q644&psig=AOvVaw3--Gc98tRZr0vnm5rDwtfx&ust=1593231077251000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMie77bOnuoCFQAAAAAdAAAAABAD) prop and add it to the library of blueprints, so that users can inject it in the simulator to cali

[2020-06-26 04:13] germanros1987 commented on #2699
@DSantosO could you take this one?

[2020-06-26 04:14] #2706 closed

[2020-06-26 04:14] #2709 closed

[2020-06-26 04:17] germanros1987 commented on #2721
@bernatx perhaps you could provide some hints since you are the owner of this code?

[2020-06-26 04:19] germanros1987 commented on #2723
@ndeshp2s we are going to need way more information to help you with this...Please, be verbose. Tell us about your system, etc.

[2020-06-26 04:19] #2724 closed

[2020-06-26 04:20] #2726 closed

[2020-06-26 04:21] #2727 closed

[2020-06-26 04:22] germanros1987 commented on #2729
hard-clean should solve the problem as reported by @femelo. I am closing this. Happy to re-open it if this is not solved for @gitmaster3000 .

[2020-06-26 04:22] #2729 closed

[2020-06-26 04:24] germanros1987 commented on #2730
@yousinf I don't know what you are really trying to do, but let me send this your way. How about setting a depth sensor camera and a semantic segmentation camera? You can retrieve the depth (distance) for the building classes.

[2020-06-26 04:25] germanros1987 commented on #2732
Thanks @danielaDESM for helping with this!

[2020-06-26 04:25] #2732 closed

[2020-06-26 04:25] #2734 closed

[2020-06-26 04:29] germanros1987 commented on #2735
@bernatx this requires your attention. Any ideas?
@sergi-e let's make sure that the outcome of this issue is properly documented.

[2020-06-26 04:37] germanros1987 commented on #2741
@marcgpuig could you please provide more support?

[2020-06-26 04:38] germanros1987 commented on #2744
duplicate issue. We will use #81 for this.

[2020-06-26 04:38] #2744 closed

[2020-06-26 04:38] #2746 closed

[2020-06-26 04:40] egorfolley commented on #2596
@akssieg nope, I had to make a project 2 months ago, so now it's not relevant for me

[2020-06-26 04:40] germanros1987 commented on #2748
@lisatenbo you can't as the platform is right now. Do you really need to control the front and rear axles independently? What is your use case?

[2020-06-26 04:43] germanros1987 commented on #2752
@pperle you have ran 90% of this marathon...would you like to finish it by making a PR to CARLA?

[2020-06-26 04:45] germanros1987 commented on #2753
Things do happen, the only thing is that you don't get a screen. Try to connect using a client. It should work.

By the way, you can ignore the xdg warning.

[2020-06-26 04:53] germanros1987 commented on #2755
@mikemwang @ujjawal-kumar I am going to unpack all those questions:

- [Q] Can I use tool X to create a map?
- [A] Sure, why not... But we probably don't provide support for it yet. So I would like to invite you to build a bridge to CARLA and contribute it back to the community.
- [Q] Well, then what is the right way to create a map directly in UE4?
- [A] By making sure that an OpenDRIVE file is g

[2020-06-26 04:55] germanros1987 commented on #2762
@eds89 what about AutoWare? We have support for AutoWare and actually provide a basic stack here:  https://github.com/carla-simulator/carla-autoware

Soon we will include support for Comma.AI OpenPilot

[2020-06-26 04:56] germanros1987 commented on #2766
@praetorianer777 are you still having problems with this?

[2020-06-26 04:57] germanros1987 commented on #2768
This is critical and needs a quick fix @jackbart94 @Axel1092

[2020-06-26 05:02] germanros1987 commented on #2769
@geohot do you have any advice?

[2020-06-26 05:04] germanros1987 commented on #2775
@rehamessameltagoury you would have to create a controller (e.g. a PID) that takes that speed as input and uses it to control the vehicle through the CARLA API, which accepts throttle and steering commands. For further information, please refer to the [documentation](https://carla.readthedocs.io/en/latest/python_api/#carlavehiclecontrol)

[2020-06-26 05:04] #2775 closed

[2020-06-26 05:05] #2779 closed

[2020-06-26 05:05] germanros1987 commented on #2783
@felipecode could you help with this?

[2020-06-26 05:06] #2785 closed

[2020-06-26 05:07] germanros1987 commented on #2792
@marcgpuig could you look into this?

[2020-06-26 05:08] germanros1987 commented on #2793
@Axel1092 could you comment on this?

[2020-06-26 05:08] germanros1987 commented on #2793
@sergi-e could you document the outcome?

[2020-06-26 05:08] germanros1987 commented on #2796
Added to feature requests.

[2020-06-26 05:10] germanros1987 commented on #2797
@MichaelHannalla and @kminoda, did @DSantosO feedback solve your issue?

[2020-06-26 05:11] #2799 closed

[2020-06-26 05:17] germanros1987 commented on #2800
@mrwesleycrusher I think your initial hypothesis is wrong. You don't need to provide OpenDRIVE coordinates/info to create trajectories. You can record your trajectory using a modification of the manual_control (for instance), by simply recording the Waypoints.

You can also use the BasicAgent to send your vehicle to a given point, or even the functionality provided by Scenario_Runner. You definite

[2020-06-26 05:17] #2801 closed

[2020-06-26 05:18] #2802 closed

[2020-06-26 05:22] germanros1987 commented on #2805
@EugenM121 as long as you are able to provide an OpenDRIVE file along with your FBXs the CARLA simulator will be able to ingest it. Do you have a way to create an OpenDRIVE file that represents your map?

I guess the answer is "no".

We should probably provide a tool in UE4 to produce/edit basic OpenDRIVEs... @XGodina @marcgpuig ?

[2020-06-26 05:23] germanros1987 commented on #2807
@marcgpuig @Axel1092 this issue has your name on it.

[2020-06-26 05:26] germanros1987 commented on #2808
@sergi-e could you provide guidance on this issue and probably update the documentation?

[2020-06-26 05:27] germanros1987 commented on #2812
@jackbart94 we need your help on this. Could you please take a look?

[2020-06-26 05:29] germanros1987 commented on #2816
@KasraMokhtari2112 the pedestrian will go to that point if it's possible. It will try to find a way. If you want to have full control of the path, then you should use carla.WalkerControl.

@bernatx do you have anything to add?

[2020-06-26 05:30] germanros1987 commented on #2817
@DSantosO could you assist with this?

[2020-06-26 05:33] germanros1987 commented on #2818
@Okeef could you please provide more information? Is the server running? Does manual_control work for you?

[2020-06-26 05:33] villimikko commented on #2961
I'm running Carla 0.9.9 on windows build version. Map is Town 3 and no parameters have been changed except for modelling that vehicle.

[2020-06-26 05:34] germanros1987 commented on #2819
@joel-mb any insights?

[2020-06-26 05:36] germanros1987 commented on #2821
You can retrieve the stopping volume-boxes using the API. @glopezdiest could you provide a brief code example?

[2020-06-26 05:37] germanros1987 commented on #2822
@marcgpuig could you look into this?

[2020-06-26 05:38] germanros1987 commented on #2824
let's dig into this. @bernatx @marcgpuig could you take care of this?

[2020-06-26 05:39] germanros1987 commented on #2825
@Axel1092 could you help with this?

[2020-06-26 05:42] germanros1987 commented on #2829
The lane markings are there, but not rendered. We will add them in future versions of the tool.

[2020-06-26 05:43] germanros1987 commented on #2830
@yousinf could you please elaborate a bit more?

[2020-06-26 05:47] germanros1987 commented on #2831
@ujjawal-kumar your initial assumptions are incorrect.

The RADAR model that is currently available in CARLA is a placeholder. It is not based on raytracing...it is based on raycasting.
This RADAR is just casting rays to objects and computing distance and velocity using a simple model.

No FMCW, CFAR threshold, etc. IT IS NOT INTENDED TO BE A PHYSICALLY ACCURATE RADAR.

But don't worry! We are act

[2020-06-26 05:47] #2831 closed

[2020-06-26 05:47] #2832 closed

[2020-06-26 05:48] germanros1987 commented on #2834
@Axel1092 could you provide some guidance?

[2020-06-26 05:49] #2836 closed

[2020-06-26 05:51] germanros1987 commented on #2840
@Deio828 why don't you try AWS? Just use one of our dockers in AWS. You should be good to go.

[2020-06-26 05:54] germanros1987 commented on #2841
This is not a CARLA issue. This refers to OpenCV usage.

[2020-06-26 05:54] #2841 closed

[2020-06-26 05:56] germanros1987 commented on #2842
@RyanHopkins7 indeed, the springarm provides a very specific pose, which will limit the FOV. I guess, this is not the right tool for your needs. Just use the rigid one.

[2020-06-26 05:58] germanros1987 commented on #2843
Please, do not get too attached to old versions. Why not moving to 0.9.9?

@glopezdiest could you point @pirate-lofy how to detect the off-road situation?

[2020-06-26 05:58] germanros1987 commented on #2844
Nope, we don't have that feature. We will happily take your contribution.

[2020-06-26 06:00] germanros1987 commented on #2847
@bernatx could you follow up on this?

[2020-06-26 06:00] #2848 closed

[2020-06-26 06:04] germanros1987 commented on #2849
@miracelplus you just want to get the location of all the vehicles for a given time instant? @glopezdiest could you provide a more effective way to  do this?

[2020-06-26 06:21] germanros1987 commented on #2850
@sergi-e could you please help with this and perhaps update the documentation accordingly?

[2020-06-26 06:24] germanros1987 commented on #2854
@MingooJ please provide further information. Which version of CARLA are you using? OS? etc.

@XGodina could you help with this?

[2020-06-26 06:24] Roosstef commented on #2962
I had. Yesterday it worked properly :)

[2020-06-26 06:24] #2962 closed

[2020-06-26 06:25] germanros1987 commented on #2855
@Axel1092 please take a look at this.

[2020-06-26 06:28] pritishmishra703 opened #2995 "Failed to open Descriptor File"
I have Installed **Carla 0.9.5** on my Windows PC. It has successfully installed and I have extracted all the files but when I open the CarlaUE4.exe File I am getting this error (See Image for more information).

![get_error](https://user-images.githubusercontent.com/55872694/85827582-2dd9f600-b7a4-11ea-8309-d513f3cdbc2a.PNG)

Please Help !! Even re-installed but the problem still persists.

[2020-06-26 06:30] germanros1987 commented on #2856
@bernatx could you provide a simple mechanism to perform this action?

[2020-06-26 06:32] germanros1987 commented on #2858
@bernatx could you help @ocean1211 with this issue?

[2020-06-26 06:34] #2861 closed

[2020-06-26 06:35] germanros1987 commented on #2863
@glopezdiest could you provide some help with this?

[2020-06-26 06:37] germanros1987 commented on #2864
This sounds weird. It may be a bug. @bernatx @Axel1092 could you take a look?

[2020-06-26 06:37] germanros1987 commented on #2866
Did you try with 0.9.9? Any differences?

[2020-06-26 06:39] germanros1987 commented on #2868
@JWHennessey the general idea of your code makes sense. I guess you just need some help to get the coordinate system right. @marcgpuig could you help with that?

[2020-06-26 06:44] germanros1987 commented on #2869
@cyndwith this seems to be not strictly related to CARLA. Your question could be rephrased as to "what is wrong in my coordinate system?" Help me with this CV function.

Please, take this to the CARLA forum to see if you get help from other users. That seems to be the right place. Let's keep github mainly for bugs and feature requests.

[2020-06-26 06:44] #2869 closed

[2020-06-26 06:44] germanros1987 commented on #2870
Could you provide some information...? Version of CARLA, OS, etc..?

[2020-06-26 06:45] germanros1987 commented on #2871
@berndgassmann could you please have a look?

[2020-06-26 06:47] germanros1987 commented on #2873
@AkramKalaee what perception module? CARLA is a simulator, not a perception stack. CARLA doesn't do any perception for you.

[2020-06-26 06:47] #2873 closed

[2020-06-26 06:47] germanros1987 commented on #2874
@marcgpuig could you please look into this?

[2020-06-26 06:48] germanros1987 commented on #2878
This is strange. @bernatx could you have a look?

[2020-06-26 06:49] germanros1987 commented on #2879
@bernatx you are probably the right person for this task.

[2020-06-26 06:50] germanros1987 commented on #2880
@bernatx you are our Windows expert. Any idea?

[2020-06-26 06:51] MingooJ commented on #2854
Hi, @germanros1987

I used CARLA 9.8 in Ubuntu18.04 and made map using RoadRunner.
I made a traffic light on the roadrunner, but it doesn't seem to work on the CARLA.
And my roadrunner was a trial version, so I can't do anything right now.

I wish it could be of help someone's help.

Thanks.

[2020-06-26 06:51] germanros1987 commented on #2882
@bernatx could you please help with this?

[2020-06-26 06:52] #2883 closed

[2020-06-26 06:53] germanros1987 commented on #2884
@HarnarayanSingh why don't you just use the logger? https://carla.readthedocs.io/en/latest/tuto_G_retrieve_data/#start-recording

[2020-06-26 06:54] germanros1987 commented on #2886
@joel-mb @fpasch could this be a problem in our interface with rviz?

[2020-06-26 06:55] germanros1987 commented on #2888
Solved.

[2020-06-26 06:55] #2888 closed

[2020-06-26 06:56] germanros1987 commented on #2890
Could you formulate your question and perhaps elaborate a bit more?

[2020-06-26 06:58] germanros1987 commented on #2892
@PradeepKumarBale long story short, we don't provide MATLAB bindings for the time being. Perhaps in the future, if there is enough interest.

[2020-06-26 06:58] #2892 closed

[2020-06-26 07:00] germanros1987 commented on #2950
@rehamessameltagoury are you still having issues?

[2020-06-26 07:02] germanros1987 commented on #2897
@Axel1092 could you please comment on this? I guess landmarks are not registered yet in our old maps...

[2020-06-26 07:04] germanros1987 commented on #2898
@StevePhan97 how are you running the docker container? Please, provide more information.

[2020-06-26 07:05] fpasch commented on #2886
@Charlie-lusie Please ensure, that the rotation frequency equals the fixed_delta_seconds specified in carla_ros_bridge.

[2020-06-26 07:06] JMorceaux commented on #2343
Thanks, really helpful !

[2020-06-26 07:07] germanros1987 commented on #2899
@umateusz chances are that the simulation won't work without a GPU, even in non_rendering_mode. If you achieve it, please report back.

[2020-06-26 07:08] germanros1987 commented on #2902
This feature is not available at the moment. We will consider this a feature request.

[2020-06-26 07:09] germanros1987 commented on #2903
This is not the right place for this type of questions. Please, try the [carla forum](forum.carla.org)

[2020-06-26 07:09] #2903 closed

[2020-06-26 07:09] #2905 closed

[2020-06-26 07:10] germanros1987 commented on #2906
Have you tried with CARLA 0.9.9? Does the problem persist?

[2020-06-26 07:11] germanros1987 commented on #2910
@MartinDubreuil could you please provide more (much more) information about your environment, version of CARLA, etc?

@bernatx please be ready to look into this.

[2020-06-26 07:11] fpasch commented on #1821
Yes.

[2020-06-26 07:11] HarnarayanSingh commented on #2884
@germanros1987 I had tried that. But i believe the document version only helps with key events of the simulation and not the whole data. So I logged data by modifying manual_control.py file. I'm still working on pedestrian data logging.

[2020-06-26 07:12] germanros1987 commented on #2915
@DSantosO it may be interesting for you to respond this question.

[2020-06-26 07:13] germanros1987 commented on #2917
@whuxhzhang do you care to provide more details, or should we just close this issue?

[2020-06-26 07:15] germanros1987 commented on #2918
@Yiquan-lol could you please provide us with more information about your system? For instance...version of CARLA, GPU that you are using, driver, etc.

[2020-06-26 07:15] fabianoboril commented on #2914
@jackbart94 I think this was fixed with 0.9.9.4, or not?

[2020-06-26 07:15] germanros1987 commented on #2922
@bernatx @sergi-e could you help with this?

[2020-06-26 07:17] germanros1987 commented on #2923
@jackycstw we are currently trying to integrate CarSim with CARLA. We don't have good answers to your questions yet (we are not using the UE4 plugin). Once our integration is further developed we will happily provide more details.

[2020-06-26 07:18] germanros1987 commented on #2925
@XGodina @gsmario could you help with this?

[2020-06-26 07:19] germanros1987 commented on #2926
@JeanPhilippeMonteuuis it seems that by accident you are using the egg of a previous version of CARLA (0.9.7). Make sure you get rid of it and use the right egg (0.9.9).

[2020-06-26 07:20] germanros1987 commented on #2927
@dev015 is your question answered?

[2020-06-26 07:20] #2932 closed

[2020-06-26 07:22] germanros1987 commented on #2934
@bernatx what is your opinion on this?

[2020-06-26 07:24] germanros1987 commented on #2935
@joel-mb could you try to launch the deb in a 20.04 distribution?

[2020-06-26 07:24] Yiquan-lol commented on #2918
I've solved my problem.I plugged the display into the Nvidia graphics card and updated the Nvidia driver to the latest version.

[2020-06-26 07:26] germanros1987 commented on #2938
The collision sensor was available in 0.8.4, wasn't it, @marcgpuig ?

[2020-06-26 07:26] germanros1987 commented on #2943
@akramer123 could you provide more information about your system, version of carla, etc?

[2020-06-26 07:27] germanros1987 commented on #2946
Correct.

[2020-06-26 07:27] #2946 closed

[2020-06-26 07:29] germanros1987 commented on #2949
@AmirHarvey this is not the right place for this question. Please, try the [carla forum](forum.carla.org). Let's cooperate so that Github remains for bug reports, features requests, and questions **very** related to the mechanics of the CARLA API

[2020-06-26 07:29] #2949 closed

[2020-06-26 07:29] Yiquan-lol commented on #2918
@zerone1996  You need to update the Nvidia driver to the latest version and have the display attached to the Nvidia graphics card

[2020-06-26 07:29] germanros1987 commented on #2995
First step...please update to CARLA 0.9.9. Does the problem persist?

[2020-06-26 07:36] AlexScheid commented on #2966
Concerning point 1: I take a closer look at the used map and I think the problem can be caused by the definition of the curve. It is assigned to a junction, what surprised me a bit, because it is a very long curve. I think lane changes are not possible at a junction, if I remember that right, therefore this part of my problem can be seen as solved. Sorry for that.

For the second question/problem

[2020-06-26 07:38] glopezdiest commented on #2972
Hey @Mechatrnk The GettingStarted is only explained for Ubuntu, not for Windows, that's why you are seeing these issues. I actually just found about this yesterday, and we'll be changing the Docs shortly.

**For Windows, the environment variables** (CARLA_ROOT and PYTHONAPI) **have to be set up different:**

1) Go to "edit the environment variables of this account" (can be access by writing *env*

[2020-06-26 07:56] AndreasPapandreou commented on #2057
Hello,

I have the same issue, Carla server (0.9.9.3) crashes almost every time I am trying to run it. The most frequent errors are:
1. Segmentation fault (core dumped)
2. RuntimeError: time-out of 200ms while waiting for the simulator
I am running the default configuration of Carla settings and I am not running out of graphics memory (GPU used: RTX2080 Ti).
I tried also to add the -opengl flag bu

[2020-06-26 08:05] glopezdiest commented on #2821
Hey @MohamedDaoud1. Unfortunately no, there is no way to get the stop lines. The only thing that comes close to it is to get the last waypoint that is part of the road before the intersection starts. Here is an example code of how you'd do it ([traffic_waypoints.zip](https://github.com/carla-simulator/carla/files/4835695/traffic_waypoints.zip))

What this does is
1) Get all the traffic lights and

[2020-06-26 08:40] glopezdiest commented on #2843
Hey @pirate-lofy. According to the docs:

I don't think that measurement is available anymore so you'd have to calculate it yourself. You'd need some serious geometry to get the line that intersects the bounding box, and some calculus to get the percentage off-road. There might a library that does this very efficiently but I can't think of one.

An approximation would be to get the eight points of

[2020-06-26 08:47] glopezdiest commented on #2849
Hey @miracelplus. Could you provide a little more detail to your process? What are you gonna use the waypoint_list for? Isn't the location of the vehicles good enough? From what you've showed, the only recommendation i can tell you is, don't get the map every time, store it in a variable once and call it to get the waypoints.

[2020-06-26 08:51] jackbart94 commented on #2914
Hi,

As far as I know, according to what we discussed in [this issue](https://github.com/carla-simulator/scenario_runner/issues/556) the problem is fixed with 0.9.9.4. Please try with this version of CARLA and let us know!

[2020-06-26 08:54] marcgpuig commented on #2938
Hi @noahcao
Sorry, but the collision sensor was added in 0.9.1.
I highly recommend porting the code to a newer version.
Cheers!

[2020-06-26 08:59] magehrig opened #2996 "Add noise to the autopilot control"
I want to add noise to the steering of the autopilot on every tick of the simulation.

**What I tried**: Add a callback via the` carla.World.on_tick` method as follows:

[code]

Unfortunately, this had no effect on the steering control. Is there any other way to achieve this with the Python API?

I am using the precompiled version 0.9.9.4.

This question was already asked in https://github.com/car

[2020-06-26 09:02] glopezdiest commented on #2863
Hey @cokeyke. I understand that even though the distance is 0, the other_actor is indeed an actor, correct? Could you tell me the CARLA version you are using so that I can test myself?

[2020-06-26 09:02] jackbart94 commented on #2495
Hi,

I haven't been able to see vehicles oscillating in TM 2.0. I need more information about this in order to reproduce it.

[2020-06-26 09:17] berndgassmann commented on #2958
Hi,
can you try adding
 --executor sequential
to the colcon build command within Ad-rss.sh
https://github.com/carla-simulator/carla/blob/master/Util/BuildTools/Ad-rss.sh#L80
I believe, this might solve the issue.

[2020-06-26 09:18] jackbart94 commented on #2966
Yeah, you're absolutely right about point 1.

For point 2, throttle is indeed capped at 0.7, but you'll have to change it in the Traffic Manager API. You just have to modify the constant MAX_THROTTLE in Constants.h and do ``make LibCarla`` to apply the changes. Having said so, it is possible to change the values of maximum velocity for vehicles at different times in the execution, via the PythonAP

[2020-06-26 09:25] berndgassmann commented on #2871
Hmm, I would guess the issue is not related to the delta within 0.9.9 vs 0.9.9.1, but rather due to the fact that you now want to use the RSS variant.
The egg was built using ubuntu 16.04.
If you have Ubuntu 16.04 you can solve the issue easily by installation of https://packages.ubuntu.com/xenial/libproj9.
If you use Ubuntu 18.04 the problem is that there another version of the library is provide

[2020-06-26 09:27] jackbart94 commented on #2670
Hi,

As far as I understand, he is trying to change some parameters in the pedestrian movements. Maybe @bernatx can help with this, since Traffic Manager has its own parameters for bounding boxes, but they only affect the vehicle's behaviors.

[2020-06-26 10:40] jackbart94 commented on #2812
Hi,

First of all, I've been testing your script following your instructions and I always get ``Results True``. I've tried more than 20 times. I'm on current master (which is a bit after 0.9.9.4) and Ubuntu 16.04 with Python 3.5.2. But I reckon that your issue might be legitimate.

Having said so, one thing I noticed (even if it's commented) is that you use:
``        # client.apply_batch_sync([ca

[2020-06-26 10:46] rehamessameltagoury commented on #2950
thank you so much

[2020-06-26 10:46] #2950 closed

[2020-06-26 11:24] jackbart94 commented on #2996
Hi,

You should add it directly on the Traffic Manager API. If you go to ``MotionPlanStage.cpp`` and look for

[code]
You can add the random.uniform(-0.1, 0.1) to the actuation_signal before the vehicle_control is applied.

[2020-06-26 12:08] praetorianer777 commented on #2766
Hello, no it seems fine now! Thanks

[2020-06-26 12:08] #2766 closed

[2020-06-26 12:42] ItsTimmy commented on #2939
I have a fix in #2998 . Still needs some testing though.

[2020-06-26 13:04] gsmario commented on #2925
Hello @villimikko
First, sorry for the delay, let me see if I can help you.
At first glance, I think that there was a problem exporting the model and the skeleton.
You need to bind the bones to each different part of the car, and then export everything into an fbx. Please, make sure you have selected both the skeleton and the meshes.
If that doesn't solve your problem, please take a screenshot of

[2020-06-26 13:36] Axel1092 commented on #2793
Hi @hepeng187,
You can identify lights by their position which you can query in the follwoing way:
[code]
Then you can use the functions we provide to affect each light (see carla.Light in the PythonAPI: https://carla.readthedocs.io/en/latest/python_api/#carla.Light)

[2020-06-26 14:18] Axel1092 commented on #2834
Hi @adrigrillo this behavior is due to the way the Unreal Engine handles rotations. The spectator is a special camera as it is restricted to a range of yaw and pitch values and may have unwanted effects to the final rotation.
I suggest not using the spectator and instead spawn a Camera to do the recording as it will not be subject to such limitations.

[2020-06-26 14:21] faultfactory opened #2999 "Timeout parameter for spawn_npc.py"
I run in synchronous mode and I develop carla scripts and such using a lower power computer, review the results and then run on a more powerful machine when it becomes available. I have been git stash / applying a change to allow a timeout parameter to be passed for the wait_for_tick so it is above the default of 10.0s.

I've put this into a branch and can push it. It would be good to have it as p

[2020-06-26 14:22] faultfactory commented on #2999
Also, i attempted to push this branch but i assume i need to be added as a contributor first. It is a small change.

[2020-06-26 14:25] jackbart94 commented on #2999
Hi,

You can open a PR for this, but I'm pretty sure that wait_for_tick already allows you to input your own value.

[2020-06-26 14:27] pirate-lofy commented on #2843
@glopezdiest  that was so helpful thanks a lot it worked

[2020-06-26 14:27] #2843 closed

[2020-06-26 14:28] Axel1092 commented on #2897
Hi @aravindSwamy94, landmarks encode traffic signals defined in OpenDRIVE. However, our maps were created before the introduction of the landmark class and we are still working on combining the traffic signals that were already present in Carla. Therefore, landmarks are still not available in our maps but they are in the standalone mode, which is loading your own custom OpenDRIVE with traffic ligh

[2020-06-26 14:31] faultfactory commented on #2999
It does, but you cannot do it from the command line

[2020-06-26 14:50] faultfactory commented on #2999
Do i have to do this from my own fork or can i push a branch to this repo? First PR for me on github.

[2020-06-26 14:52] avishek-mondal commented on #2587
This could be related to the issue I noticed here https://github.com/carla-simulator/carla/issues/2976

[2020-06-26 14:56] DSantosO commented on #2699
Hello JeGa,
Thanks for your comment.
We have noticed a problem in the coordinate system in which the point cloud is given. We have fixed the issue and it is currently under review in a PR so it should be in master very soon and also, with a several other improvements for the LiDAR sensor, it will be available in the next release.
Also, it is true what you comment about the pygame coordinate system

[2020-06-26 15:05] dev015 commented on #2927
Hello @germanros1987, if I am not wrong if we need coordinates of an actor with respect to ego vehicle then we need to find the distance from ego to actor, is it right?

[2020-06-26 15:18] DSantosO commented on #2817
Hello Saminhasan5220,
Thanks for your comment.
We have noticed a problem in the coordinate system in which the point cloud is given. It was not in the correct sensor frame. We have fixed the issue and it is currently under review in a PR so it should be in master very soon. You can check it already in the dsantos/lidar-transform branch. Also, with a several other improvements for the LiDAR sensor,

[2020-06-26 15:30] JMorceaux commented on #2999
Well, not sure if i'll answer your question, but If you read the doc, you can see the following:
[code]
So I guess, it is already implemented

[2020-06-26 15:42] DSantosO commented on #2939
Thank you @GabiShahmayster for bringing the issue and @ItsTimmy for the fix. We will test it and hopefully merge it as soon as possible.

[2020-06-26 15:58] faultfactory commented on #2999
I want to pass this timeout to the spawn_npc.py from the command line. Essentially i'm adding another input argument to the spawn_npy.py script and then passing that argument to the wait_for_tick.  Since i run the same set of code on two machines with different capabilities and speeds. Instead of modifying the scripts, I want to set it up so i can change this timeout parameters from the command li

[2020-06-26 16:17] magehrig commented on #2996
Thanks I will give it a shot and report back

[2020-06-26 16:28] Shanmax1996 commented on #2980
okay..thank you soo much

On Fri, Jun 26, 2020 at 4:08 AM germanros1987 <notifications@github.com>
wrote:

[2020-06-26 18:01] RyanHopkins7 commented on #2842
@germanros1987 All I'm wondering is if this behavior is intentional. If it is, I'll close, but it did take me a little while to figure out the cause of this issue considering that the tutorial I mentioned used SpringArm without limiting the FOV. A note about this in the documentation might be helpful so people know what causes this.

[2020-06-26 21:50] JarvanI commented on #2968
Thank you @germanros1987 ! I gonna try it and I'm really looking forward to 0.9.11. I have found that I made a stupid mistake that computation is excuted in server

[2020-06-26 21:50] #2968 closed

[2020-06-26 23:37] germanros1987 commented on #2842
Hold on a second, I may have misunderstood the first screenshot. Is the first image supposed to be taken from a bird-eye-view? I thought the points on the left and right side of the pointcloud were from a wall. Could you further explain the setup, please?

[2020-06-26 23:38] #2980 closed

[2020-06-26 23:43] germanros1987 commented on #2854
@MingooJ you need to use 0.9.9 to be able to ingest traffic lights automatically from OpenDRIVE (generated by RoadRunner). Then, you need to cook the contents using the docker provided by CARLA.

@bernatx @sergi-e could you please add more details so that @MingooJ can have a smooth journey?

[2020-06-27 00:07] germanros1987 commented on #1821
Would it be fine to just keep a list with the deleted actors and offer that information to the client?

[2020-06-27 00:11] germanros1987 commented on #2884
Wouldn't it make more sense to derive all that information from the CARLA logs? In other words, to create a script that processes the log and derives the required information, e.g. velocity, acceleration, etc.

[2020-06-27 00:11] #2918 closed

[2020-06-27 01:56] curtkim opened #3000 "Please git-tag 0.9.9.4"
thank you

[2020-06-27 03:39] GimpelZhang commented on #2735
Thanks for the good suggestions from @villie17

Finally I got this problem solved.

Because I found an update on https://carla.readthedocs.io/en/latest/build_linux/ in "Requirements-system specifics" part:

Meanwhile, I was still trying to "make launch" the newest fetch from the git master branch.

So I changed to the branch of 0.9.8, and implemented "make launch" again. After I made a few modific

[2020-06-27 03:39] #2735 closed

[2020-06-27 04:07] a4zhangfei commented on #2870
OS : `ubuntu 18.04`
Version of CARLA: `0.9.6 release`
The version I use is not compiled. But many methods and properties are missing. For example, `waypoint`'s method `previous_ until_ lane_ start`，`sensor.other.imu`

[2020-06-27 09:14] Charlie-lusie commented on #2886
I set the rotation frequency = 10Hz, and all params in carla_ros_bridge is default. But I fixed the problem by running: python config.py --fps=10

[2020-06-27 09:33] josber1973 commented on #2642
This is the explanation from @tamakoji:
I had same problem, due that source code was not cloned from git (zip downloaded from tag).
The Setup.bat assumes the code has been cloned from the git and sets carla_version
https://github.com/carla-simulator/carla/blob/1a2c2ea76aff4b284dd69fbcbe26b95846d6c93f/Util/BuildTools/Setup.bat#L198
Then later used in CMake to generate Version.h
https://github.com/c

[2020-06-27 15:35] RyanHopkins7 commented on #2842
Yes, they were both taken from a bird's eye view using the same settings other than the attachment type. They were also taken in the same environment. The obstructions on the left and right in the first photo are not caused by walls.

[2020-06-27 17:43] germanros1987 commented on #2870
IMU and RADAR were not available in 0.9.6. They were introduced in more recent versions of CARLA. I would recommend you to upgrade to 0.9.9.

[2020-06-27 17:43] #2870 closed

[2020-06-27 17:44] germanros1987 commented on #2886
@sergi-e before closing this issue, could you reflect this in the documentation, please?

[2020-06-27 17:52] germanros1987 commented on #2842
@RyanHopkins7 please send over the sensor configuration/setup you have used for this so that we can reproduce it.

@DSantosO once we get the sensor configuration, could you try to reproduce?

[2020-06-27 18:11] germanros1987 commented on #2999
Hi @faultfactory,

Thanks for reaching out. Sure, just make a small PR to update spawn_npc. We will review it, and if we don't find possible conflicts we will merge it.

Please, remember to ping this issue in your PR.

Thanks!

[2020-06-27 18:15] germanros1987 commented on #2996
Hi @magehrig

So it seems I was wrong and you can't inject this noise directly in Python (yet). In any case, the change seems small. We could help out by enabling/updating the interface to support noise.

Let us know if you need help with this or if you are just implementing this by yourself.

[2020-06-27 18:43] RyanHopkins7 commented on #2842
This is the sensor configuration I was using:

lidar_cam = None
lidar_bp = world.get_blueprint_library().find('sensor.lidar.ray_cast')
lidar_bp.set_attribute('channels',str(32))
lidar_bp.set_attribute('points_per_second',str(300000))
lidar_bp.set_attribute('rotation_frequency',str(120))
lidar_bp.set_attribute('range',str(20))
lidar_bp.set_attribute('lower_fov',str(-40))

lidar_location = carla.Loc

[2020-06-27 21:49] adrigrillo commented on #2834
Hi @Axel1092, the same problem is produced when spanning cameras. The solution I adopted was to use -89 degrees for the pitch. If it is an Unreal Engine I guess you could do little to change this, so the issue can be closed.

[2020-06-27 23:09] akssieg commented on #2841
I am following the similar code from `https://pythonprogramming.net/control-camera-sensor-self-driving-autonomous-cars-carla-python/?completed=/introduction-self-driving-autonomous-cars-carla-python/`, opencv imshow shows a blank screen and If I try to do imwrite then the files are empty. Has anybody found solution for this problem?

[2020-06-28 03:29] germanros1987 commented on #2834
Is there any way to go around this limitation @Axel1092 ?

[2020-06-28 03:30] germanros1987 commented on #2841
Please, use forum.carla.org for this kind of questions, which are not "purely" about CARLA.

[2020-06-28 21:16] joel-mb commented on #2935
Hi @happengor ! I'll try to launch the deb package in Ubuntu 20.04 during this week to see if there is some kind of incompatibility. Regarding the issue entering the password, there is a PR fixing this (https://github.com/carla-simulator/carla/pull/2945). As soon as it gets merged I'll update the package.

[2020-06-28 22:30] germanros1987 commented on #3000
done.

[2020-06-28 22:30] #3000 closed

[2020-06-29 01:57] miracelplus commented on #2849
Hello,

Thanks for your reply! I’m working on customizing my own vehicle model (car following and lane change). The detailed usage of my application is like this:

1.For every second, I need to get the information for each vehicle
2.Then, I decide the next-second acceleration for this vehicle.
3.I use waypoint for each vehicle and get the acceleration from my own decision part in order to keep the

[2020-06-29 02:12] jackycstw commented on #2923
@germanros1987
Thanks for your help.
Actually, I solved this problem myself last week. The key point is make CarSim's pawn inherit from Carla's class.

[2020-06-29 02:58] germanros1987 commented on #2923
Would you care to share more details with us?

[2020-06-29 06:32] villimikko commented on #2925
**
![image](https://user-images.githubusercontent.com/61553242/85980533-45ef8680-b9eb-11ea-876a-68200a860412.png)
**

Here is my binding in blender.

[2020-06-29 07:10] glopezdiest commented on #2927
@dev015 Yes, sort of. You should get the world coordinates of the specific actor and then subtract the ones from the ego vehicle.

[2020-06-29 07:10] fpasch commented on #1821
This issue has two aspects:
1. How to find deleted actors
2. Error message from CARLA Client Library

For 1.),  although it would be convenient to have a callback on actor-deletion, there is the workaround to compare the actor lists between ticks (see [ros-bridge](https://github.com/carla-simulator/ros-bridge/blob/master/carla_ros_bridge/src/carla_ros_bridge/bridge.py#L297)). So this has a low pri

[2020-06-29 09:00] chase03 commented on #289
Is possible changing weather parameters in Unreal Engine editor via widget slider? I can't find any interface

[2020-06-29 11:02] HuangSecretKey opened #3003 "cann't listen the camera data."
I use the sensor.listen(）and cv2.imshow（) to show the image，but the window didn't show video and only the first image.And the error is “QWaitCondition: cv destroy failure: device or resource busy
QWaitCondition: mutex destroy failure: device or resource busy”Also，when I set the sensor_tick be a bigger value, this will disappear. I don't know the reason. Can anyone help me? The version is 0.9.8
the

[2020-06-29 11:17] zhoushiyang12 commented on #2805
Hallo Carla,
I fllowed the Tutorials  https://carla.readthedocs.io/en/latest/tuto_A_add_map/
but when

./build.sh map_file # map_file has no extension

I encounter "Limited Authority"  problem. So i  execute " source ./build.sh map_file",  but stil  encounter a problem like this :

XODR file doesn't exist, ignoring crosswalks from openDRIVE
Loading...
zsh: segmentation fault (core dumped)  ./Recas

[2020-06-29 11:28] AlexScheid commented on #2966
Thank you for the hint regarding the MAX_THROTTLE.
I also thought that it is possible to change the velocity in this way, but it does not affect anything. A short version of my problem with only one vehicle is given by the code below. It is on a map, which shows a highway situation.
`import glob
import os
import sys

try:
    sys.path.append(glob.glob('../carla/dist/carla-*%d.%d-%s.egg' % (

[2020-06-29 11:29] glopezdiest commented on #2849
I see. I'm still a bit confused though.

From what I understand, you only care about the acceleration of the vehicle, which you are using to move (teleport) the vehicle. Are you using this specific approach instead of using a controller for some reason?

Why are you using the waypoints instead of the location, because they are in the middle of the road so you only care about going forward?

You se

[2020-06-29 13:43] XGodina commented on #1746
@germanros1987 @Ajk4 Hi, with the new versions of RoadRunner I haven't been able to try it yet. And for the next release, it will be fixed.

[2020-06-29 13:45] gsmario commented on #2925
Hello @villimikko
Sadly, we don't use blender, so I'm not able to guide you through this process step by step.
I recommend you using autodesk maya (you can use a free student license) to bind the skeleton, this way, I'll be able to help you.
I'll try to bind the skeleton with blender as soon as I can, but as I said, I'm not a blender user, so I'll need some time.

Thank you again.

[2020-06-29 13:57] sergi-e commented on #2808
Hi, @MichaelKlin!

It would be great to know a bit more about how did you made the build.
Did you downloaded the assets that appear in: `\Util\ContentVersions.txt`? If not, do so and extract them in `Unreal\CarlaUE4\Content\Carla`.

[2020-06-29 14:14] XGodina commented on #1606
Hi, @dianchen96. Currently, we have a weather system that the particles only spawn in front of the vehicle's camera.  According to those parameters like rain only spawn it when you run the script manual_control.py or spawn_npc.py. The reason for that is that if we generate particles on the whole map the performance is negatively affected.

[2020-06-29 15:05] faultfactory commented on #2999
@germanros1987

Awesome, thanks for getting back to me.

What is the proper process for pushing a community PR to the repository? I am attempting to push a new branch on the command line but i'm getting the 403 forbidden error.

[2020-06-29 15:50] Axel1092 commented on #2793
Hi @hepeng187,
Sorry, in my previous message I was confused regarding traffic lights and street lights. About traffic light position, the traffic light is a kind of `carla.Actor` therefore you can query its position as with any other actor in the scene with `actor.get_location()`. You can get the traffic light object from a vehicle.
You can also get a traffic light object through the `Landmark` ob

[2020-06-29 15:59] josiahcoad commented on #768
I am having this issue with carla v0.8.2. PythonClient/manual_control.py and PythonClient/example_client.py run ok but reinforcement_learning/run_RL.py and PythonClient/driving_benchmark_example.py result in this error :(

[2020-06-29 16:35] germanros1987 commented on #1821
Added to the task board.

[2020-06-29 16:47] germanros1987 commented on #2805
@bernatx could you please follow up on this?

[2020-06-29 16:50] germanros1987 commented on #2925
@gsmario I think this is a good opportunity for us. We should make the effort to create a basic vehicle in Blender in order to advise future users on how to do this.

@villimikko could you please provide the sources?

[2020-06-29 16:53] germanros1987 commented on #2999
All good now.

[2020-06-29 19:19] miracelplus commented on #2849
Hello,

I’m using this approach instead of a controller is because that some of my customizing model need all the vehicles’ information around one specific vehicle. Therefore, I choose to use the PythonAPI to get all the vehicle’s information and individually control each of them. I wonder if the controller method can get the information of surrounding vehicles (like 5 or 6 vehicles around this ve

[2020-06-29 22:26] gengtsh opened #3008 "make launch error: BuildLibCarla.sh: Building LibCarla "Server.Release" configuration."
hi,
please help me out from these errors. i use ubuntu-20 and clang-10, thanks .

the details:
Setup.sh: Success!
BuildLibCarla.sh: Building LibCarla "Server.Release" configuration.
-- The C compiler identification is Clang 10.0.0
-- The CXX compiler identification is Clang 10.0.0
-- Could not determine Eclipse version, assuming at least 3.6 (Helios). Adjust CMAKE_ECLIPSE_VERSION if this is wrong.

[2020-06-30 00:56] StevePhan97 commented on #2898
@germanros1987 Hi, I have solved the issue. Thanks anyway.

[2020-06-30 00:56] #2898 closed

[2020-06-30 01:16] hepeng187 commented on #2793
Hi @Axel1092 ,
I want to get a traffic light object through the Landmark object, and I have a  custom OpenDRIVE map that encodes traffic lights and signals. Meanwhile I run Carla in OpenDRIVE standalone mode.  But the function get_traffic_light always return None.  as follows：
[code]

[2020-06-30 03:44] UILXELA commented on #2716
I had this issue too. If in the new version lidar-captured cars look like real cars instead of boxes, that would be a big progress. Thank you for the update.

[2020-06-30 03:58] kannidekan commented on #2960
@germanros1987 Ok, i got it. Thanks very much!

[2020-06-30 03:58] #2960 closed

[2020-06-30 07:19] glopezdiest commented on #2849
No, I think you are doing the correct approach here, but I've never though about it so I was confused.

Good to hear :+1:. I'm leaving this issue open in case your solution isn't final, but please, remember to close it if you find that it's resolved

[2020-06-30 07:56] iron8kid commented on #2783
I solved it by changing the time_out

[2020-06-30 08:12] happengor commented on #2935
Thanks, i have solved my problem with a bigger psu.

[2020-06-30 08:13] happengor commented on #2935
Thanks, guys, i have solved my problem with a bigger psu. Now i can launch the deb in 20.04.

[2020-06-30 08:23] sourabhmisal commented on #2853
I am facing this issue in ubuntu 18.04,  when I run `docker build -t carla -f Carla.Dockerfile .`

`Parsing headers for CarlaUE4Editor
  Running UnrealHeaderTool "/home/ue4/carla/Unreal/CarlaUE4/CarlaUE4.uproject" "/home/ue4/carla/Unreal/CarlaUE4/Intermediate/Build/Linux/B4D820EA/CarlaUE4Editor/Development/CarlaUE4Editor.uhtmanifest" -LogCmds="loginit warning, logexit warning, logdatabase error" -

[2020-06-30 08:24] MichaelKlin commented on #2805
Hi @germanros1987 i use unreal engine 4 to change your map und create new map. I have a small question. Can i add my Map in Release on Carla??

[2020-06-30 08:54] jackycstw commented on #2923
@germanros1987  I have projects on this issue so I can't share it in this moment. I think I can share it after the project finished.

[2020-06-30 09:25] LikhitaNukala opened #3119 "Error when using get_waypoint() with carla.LaneType.Any in Windows"
I have executed the following command for OpenSCENARIO.
**python scenario_runner.py --openscenario L:\carla_latest\scenario_runner-0.9.9\srunner\examples\CyclistCrossing.xosc**

I'm getting the following.

WARNING:OpenScenarioConfiguration:Wrong OpenDRIVE map in use. Forcing reload of CARLA world
Preparing scenario: CARLA:CyclistCrossing
ScenarioManager: Running scenario OpenScenario
Traceback (mo

[2020-06-30 11:12] DSantosO commented on #2915
Hello @JWHennessey,

Be careful because I think the transforms3d.taitbryan does not use the same convention for the angles that Unreal and us are using. Also, I think that when you are computing B' = T_a2b * A, you are not taking in consideration the rotation in A.

Anyway, in the PR #2997 (soon in master), we have exposed the 4-matrix form of the transformation so you can now easily use them to c

[2020-06-30 11:36] XGodina commented on #2587
@avishek-mondal @Zhuxy Hi, Sorry to answer late. I m working with that. There are some ways to check it, collisions, or the Spaw points where pedestrians are born. As soon as I can, I'll let you know.

[2020-06-30 11:57] maxime-derache commented on #2925
Please find below a tutorial that I made on this subject. I hope it will help you to fix your issue!

## Create the armature
* **Shif+A** [Add/Armature]

![image](https://user-images.githubusercontent.com/57399440/86121780-ea022c00-bad6-11ea-87cb-2b39c93bb397.png)

* ViewportDisplay Shapes=yes, Infront=yes, Axes=yes, GroupColors=yes
* Rotation X=90
* Scale X=100, Y=100, Z=100

![image](https://use

[2020-06-30 12:05] maxime-derache commented on #2925
## Create the vehicle Blueprints folder in Carla project
* Open the Acvsare Unreal project simulation/avcsare/Unreal/CarlaUE4/CarlaUE4.uproject
* Create a new folder with the name of the vehicle "*MyVehicle*" in Content/Carla/Blueprints/Vehicles

## Import the mesh and skeleton in Carla project
* Press **Import** button and open the FBX file that contain the meshes and skeleton of the vehicle
* Ch

[2020-06-30 12:51] magehrig commented on #2996
@jackbart94 I recompiled CARLA with your suggestions. Unfortunately it does not seem to make a difference either. This is a 10 second sequence with the proposed changes using autopilot: https://youtu.be/_tOPd97Hchc.

[2020-06-30 13:01] magehrig commented on #2996
@jackbart94 I recompiled CARLA with your suggestions. Unfortunately it does not seem to make a difference either. This is a 10 second sequence with the proposed changes using autopilot: https://youtu.be/_tOPd97Hchc.

The code I used for this is:
[code]
Is the steering in radians/second or degrees/second btw?

[2020-06-30 13:49] joel-mb commented on #2935
Perfect! Thanks for the information!

[2020-06-30 13:49] #2935 closed

[2020-06-30 13:50] gsmario commented on #2925
Hi! First let me thank you for this awesome tutorial you've created, its a very good job.
I'll try this workflow later, some parts are different from our workflow, but so far, it seems very complete and accurate.
Thanks again!

[2020-06-30 13:57] joel-mb commented on #2819
Hi @Roosstef @faultfactory , are you still facing this issue? We've done major modifications to the traffic manager since this issue was opened.

[2020-06-30 14:04] joel-mb commented on #2983
Hi @shizhuocaoa ,
Can you provide more information about your setup? Is the manual control (without using ROS) working? Try running the `manual_control.py` script provided inside `/opt/carla-simulator/PythonAPI/examples`.

Please, take a look to the solution of this similar issue also (https://github.com/carla-simulator/carla/issues/991).

[2020-06-30 14:05] miracelplus commented on #2849
Thanks a lot!

[2020-06-30 14:05] #2849 closed

[2020-06-30 14:09] faultfactory commented on #2819
Hi @joel-mb. Thank you for the follow up. I will try and squeak in some time to test and validate today for you.

Were these changes in 0.9.9.4?  There was a single instance of no NPC vehicle movement with this. It's hard to recreate this. Also there were issues with the odometry reported via the ros bridge when the system did run with everything in motion.

If you want me to test something after

[2020-06-30 14:14] jackbart94 commented on #2996
Hi,

The code isn't correct. By printing the random number, you can see it's always the same. We are actually implementing a random generation class, soon it will be in master, but in the meantime you can check out how to do it in the branch ``traffic_manager/determinism_check``.

[2020-06-30 15:37] marcgpuig commented on #2874
@emailweixu I'm not able to reproduce this, can you provide more information? Are you working on sync / async? Cold you provide the script that you are using to get this unexpected behavior?

[2020-06-30 15:49] sergi-e commented on #2854
Hi, @MingooJ !
Indeed, the automatic ingestion of landmarks was added by CARLA 0.9.9. If you [download package 0.9.9](https://github.com/carla-simulator/carla/releases) and follow [this tutorial](https://carla.readthedocs.io/en/latest/tuto_A_add_map/#map-ingestion-in-a-carla-package) to add the map, you should be able to run your custom map in CARLA with traffic lights in it.

[2020-06-30 15:50] marcgpuig commented on #2868
Hi @JWHennessey,
I think this may be related to https://github.com/carla-simulator/carla/issues/2915#issuecomment-651726825, let's wait until #2997 is merged so you can test it with the provided matrix.

[2020-06-30 18:34] germanros1987 commented on #3003
Hi @HuangSecretKey . Please, could you double-check the version of CARLA? 0.9.9.8 doesn't exist yet. Actually, I doubt we reach the 8th review of 0.9.9 before releasing 0.9.9

In any case, those errors seem to be related to OpenCV, not to CARLA. So this is probably not the right place to ask this question. You could probably try through [Discord](https://discord.gg/8kqACuC) or the [forum](forum.ca

[2020-06-30 18:36] germanros1987 commented on #3008
@bernatx any advice?

[2020-06-30 18:58] rohanb2018 opened #3009 "OpenDRIVE Standalone Mode issues with converted OSM"
I've been having issues with using the OpenDRIVE standalone feature on OpenDRIVE files that have been converted from OpenStreetMap files (using SUMO [netconvert](https://sumo.dlr.de/docs/NETCONVERT.html)). I am not entirely sure whether this is an issue with SUMO or with the OpenDRIVE standalone mode, but I wanted to document it in case anyone has run into similar issues. I also wonder if anyone h

[2020-06-30 19:13] qhaas commented on #2077
Upstream might want to consider making the agents and utils subpackages of the carla package, it would have prevented a number of issues posted here...

[2020-06-30 20:48] dev015 commented on #2927
Hello, @glopezdiest I have written a code for the same, do you mind if I can get your email id and discuss it with you?

[2020-06-30 23:01] Vin1291 opened #3010 "Coordinates of actor"
Carla's client bounding box gives coordinates in the camera frame. How can we get the coordinates of actors in the world frame? can anyone suggest to me how can we get coordinates of actors in the world frame instead of camera frame?

[2020-07-01 02:14] whuxhzhang commented on #2956
the problem has been solved.

[2020-07-01 02:14] #2956 closed

[2020-07-01 04:54] sourabhmisal opened #3011 "Docker build issue: Error: Couldn't find parent type for 'CarlaLightSubsystem' named 'UWorldSubsystem' in current module or any other module parsed so far"
I am facing this issue in ubuntu 18.04, when I run `docker build -t carla -f Carla.Dockerfile .`

`Parsing headers for CarlaUE4Editor Running UnrealHeaderTool "/home/ue4/carla/Unreal/CarlaUE4/CarlaUE4.uproject" "/home/ue4/carla/Unreal/CarlaUE4/Intermediate/Build/Linux/B4D820EA/CarlaUE4Editor/Development/CarlaUE4Editor.uhtmanifest" -LogCmds="loginit warning, logexit warning, logdatabase error" -Una

[2020-07-01 07:15] zhoushiyang12 commented on #2917
I deleted some materials too, in UE editor. But, how to recompiled it, and apply it to the Carla-Release?

[2020-07-01 07:20] whuxhzhang commented on #2917
click "save" button and "build" button in UE4.  Besides, you should download carla source code, then make package.

[2020-07-01 07:39] glopezdiest commented on #2927
I don't see the need to do so. You can send your code through here directly, if you want. However, if you don't, we can use Discord too, which is the main way we communicate with everyone. Here is my user tag *Guillermo Lopez#3589*

[2020-07-01 08:29] dev015 commented on #2927
@glopezdiest Thank you for your suggestions, this is solved.

[2020-07-01 08:30] #2927 closed

[2020-07-01 08:47] Axel1092 commented on #2793
Hi @hepeng187,
Maybe the traffic lights are not being ingested by the simulation (they should be visible in the unreal camera if they are). This may be due to the fact that the traffic light is defined within a junction but without a controller in OpenDRIVE. Currently, Carla only enables a traffic light in the simulation if the traffic light is define outside a junction or if there is a controller

[2020-07-01 09:06] marcgpuig commented on #2807
Hi @FrancescoPinto, this is in our roadmap and it will be addressed soon! Hopefully for the next release `0.9.10` or `0.9.11`. We also need to investigate how to properly do it, so if you make some progress make sure to report it here, it will be helpful, thanks!

[2020-07-01 09:18] raymanfx commented on #2989
I didn't find an easy workaround. Thank you for adding the feature to the backlog!
As an intermediate step, I am interested in engine RPM, but could not find an easy API to get it. Do you have a quick formula to derive the engine RPM from the gear ratios etc?

[2020-07-01 09:45] marintoro opened #3012 "Carla 0.9.9 crashing way more than previous version"
Hello, I am doing Reinforcement Learning in CARLA for more than a year and I have always encountered issues with CARLA crashing time to time (with a Segmentation Fault as mentionned in #1627 or #1227). But generally this was happening really rarely. Usually I have 5/6 instance of CARLA running independently during around 4/5 days and sometimes one of this instance of CARLA would crash and I had to

[2020-07-01 10:02] kwetril commented on #2943
for me, the error reproduces with carla `0.9.9` and `master`.
I tried ubuntu 16.04 and 18.04

[2020-07-01 10:19] kwetril commented on #2943
here is a similar issue: https://github.com/carla-simulator/carla/issues/2079

[2020-07-01 10:22] akramer123 commented on #2943
Yes, i´m also working with carla 0.9.9 and master and running it on Ubuntu 18.04 LTS.
@germanros1987

[2020-07-01 10:36] marcgpuig commented on #2829
Yes, this is in our roadmap. the main difficulties here are how to generate these LaneMarkings as separate meshes of the main road so they can be also added into the semantic segmentation rendering. Since we also want to change how the semantic segmentation works, we must wait until it's completely done so _maybe_ the separation of these meshes will not be necessary.

[2020-07-01 10:40] bernatx commented on #2943
Hi, that problem was fixed in patch version 0.9.9.2
It was related to a workaround for an Unreal bug, that is also fixed with an Unreal patch on 0.9.9.3
I hope it works for you.

[2020-07-01 10:48] bernatx commented on #1605
Hi, that feature was added time ago, in CARLA 0.9.8.
You can use the flag -i that means that all hero vehicle will not be simulated in the replay.

[2020-07-01 10:48] #1605 closed

[2020-07-01 11:02] bernatx commented on #2474
Hi,
That file is part of the RPC library. We have a forked RPC library, and that file is still there:
[code]

You should have the file for example in **carla\Build\rpclib-install\include\rpc\msgpack.hpp**

Regards

[2020-07-01 11:18] #2886 closed

[2020-07-01 12:20] ForeRunner88 commented on #2825
I built Carla-0.9.9 on ubuntu16.04 with `make launch`, but met the same problem above when building client with `make PythonAPI`.

[2020-07-01 12:40] JeGa commented on #2699
Thanks @DSantosO !

[2020-07-01 12:40] #2699 closed

[2020-07-01 12:51] zhoushiyang12 commented on #2917
I think i have build

Hello,  thank you for your help. I think i have buildt  it and i can run it in UE_edit .But where can i find the  compiled  files,  in which can i apply it to the Carla-Release?

[2020-07-01 13:15] whuxhzhang commented on #2917
file locate in carla/Unreal/CarlaUE4/Saved/Cooked/LinuxNoEditor/CarlaUE4/Content/Carla/Maps, end with .uexp

[2020-07-01 13:28] Dennis174698 commented on #2853
have you solve this issue?

[2020-07-01 13:54] little9999 opened #3014 "Can not synchronize the vehicle light with street light"
Hi Calra team,

I'm using the calra 0.9.9 on Ubuntu 18.04.
Today I wanna to control automatically the vehicle light in function of the weather. So I have one server active, and then I run "dynamic_weather.py" to simulate the weather changes. THen I modifed the "spawn_npc.py" to check the street light status, and turn on/off the vehicle light.

Here is the code that I added :

[code]

Visually i ca

[2020-07-01 14:39] zhoushiyang12 commented on #2917
Oh! That does work! Thank you so much!

[2020-07-01 15:32] jackbart94 commented on #3012
Hi,

Sorry for this issue! Could you provide us some extra information? If possible, running some debugger (like gdb). Or maybe the script to test this?

[2020-07-01 15:40] bernatx commented on #2548
Hi,
I remember that problem when trying to run CARLA 0.9.8 with UE 4.24
Remember that CARLA 0.9.8 runs with UE 4.23, and CARLA 0.9.9 runs with UE 4.24

Can you tell if that is the case? Are you running CARLA 0.9.8 with UE 4.24?

Regards

[2020-07-01 15:51] marintoro commented on #3012
Hello,

I just made a short version of my script to delete and respawn vehicle and pedestrian every 10 seconds and after just some minutes, CARLA crashs.

I am launching CARLA with this command line:
$ ./CarlaUE4.sh -quality-level=Epic -world-port=2000 -resx=100 -resy=100

[2020-07-01 16:06] bernatx commented on #2670
Hi,
The management of the pedestrian is done inside the Recast&Detour library, with a modified version where we can add vehicles to be avoided by pedestrians dynamically.

So it is complex to let change values for that. For sure we need to improve that part.
Probably in CARLA 0.9.7 the vehicles are not defined as a box but as a circle, that is why the bicycle has a so big area. Probably with CARLA

[2020-07-01 16:10] elandg commented on #2994
I apologize for the simple mistake, I had moved the "wheel_config.ini" file to the main carla folder without changing the absolute path. However, I am now getting an out of bounds error.
![image](https://user-images.githubusercontent.com/44939120/86266571-69553580-bb93-11ea-9aaf-1936f76d7da3.png)
I have uncommented out the line `print (jsInputs)` and that has lead to the [] you see printed above t

[2020-07-01 16:20] bernatx commented on #2679
Be sure to use our RecastBuilder to get the .bin, because we are using a modified version of Recast&Detour that identifies sidewalks by nomenclature (Road_Sidewalk). The pedestrians only can be spawn on a sidewalk, so if the .bin has no sidewalk zones identified you can not spawn pedestrians.

[2020-07-01 16:43] DSantosO commented on #2842
@RyanHopkins7 Thank you for the information. I am able to reproduce your result and yes, it seems to be something weird with the output when SpringArm is the attachment type. I will look into it.

[2020-07-01 17:36] kwetril commented on #2943
just tried with `0.9.9.3` version, the issue still reproduces.
I have `next_lane == nullptr` here https://github.com/carla-simulator/carla/blob/master/LibCarla/source/carla/road/MapBuilder.cpp#L708
It looks like there is a problem with parsing of .xodr map file.

[2020-07-01 17:37] #2716 closed

[2020-07-01 18:09] bernatx commented on #2943
Are you trying to load a CARLA map or a custom one?
It seems that the .xodr is malformed.

[2020-07-01 19:28] shuhangchen commented on #2819
Hi @joel-mb , I am facing the same issue. I think it has something to do with the traffic manager? In my case, sometimes the program works well, sometimes the car does not move and the portion of my codes that computes control are not being execuated at all (I have print function inside the 'compute-control' part, but nothing is printed on the terminal).

And which version of carla you were referr

[2020-07-01 19:29] kwetril commented on #2943
I just run `make launch`, UE Editor opens Carla's map "Town03". I play this map, connect to Carla from client app and try to get map with `world.getMap()`. I also tried other default maps but got the same error

[2020-07-01 19:53] kwetril commented on #2943
xodr files doesn't seem to be corrupted, as the test `libcarla_test_client_release` parses them successfully

[2020-07-02 00:37] germanros1987 commented on #2989
@marcgpuig do you have any ideas?

[2020-07-02 01:13] germanros1987 commented on #3009
@Axel1092 could you take care of this?

[2020-07-02 01:14] germanros1987 commented on #3010
@marcgpuig could you provide an example, please?

[2020-07-02 01:14] germanros1987 commented on #3011
@bernatx any idea of what could be happening here?

[2020-07-02 01:15] germanros1987 commented on #3012
@jackbart94 please give high priority to this issue.
@bernatx keep an eye on this.

[2020-07-02 01:16] germanros1987 commented on #3014
@XGodina could you please have a look at this?

[2020-07-02 02:00] #2917 closed

[2020-07-02 02:35] sourabhmisal commented on #1911
In the [video](https://www.youtube.com/watch?time_continue=6&v=dvPhN0Gbb0w&feature=emb_logo), I see that there is a branch of bernet/fix_import, which is used to run the docker file, is that branch merged or still pending?

[2020-07-02 04:06] ahmedhatem3h commented on #1553
Hi @shuhangchen
Have you find a way to use collision sensor with synchronous mode? I am also trying to make a Vehicle Class where each vehicle has it own collision sensor. When I create many instances of this vehicle class, some of the cars has their collision sensor working and some don't, and I have no idea why.

[2020-07-02 06:30] AlexScheid commented on #2934
Update:
After some more tries, I found a more simple solution for this feature. I used the changes in the C++ Code shown above, but removed all the changes in the UE4-Editor files. A change of the transform used to spawn a vehicle in the "Spawn Actor" function of the "VehicleFactory" produces the same result. The part I added is shown below. It is like a summary of the old version combined with th

[2020-07-02 06:36] AlexScheid commented on #2966
Thank you for the hint regarding the MAX_THROTTLE.
I also thought that it is possible to change the velocity in this way, but it does not affect anything. A short version of my problem with only one vehicle is given by the code below. It is on a map, which shows a highway situation. (Maybe relevant for stable driving at this velocity)
Sorry for the bad formatting of the last post, here is the code

[2020-07-02 08:54] HarnarayanSingh commented on #2884
@germanros1987 By Carla logs, do you mean the log file created on recording a simulation?

[2020-07-02 09:25] bernatx commented on #1581
Currently we have not detected that problem, but if the frame rate is low the Unreal can show those yellow warning meaning that by some reason some resource is taking more time than expected. Did you try using synchronous mode?

[2020-07-02 09:56] HarnarayanSingh opened #3016 "Ego vehicle at intersection"
Carla Version:0.9.9
OS- Ubuntu 18.04

Is there a way to make ego behavior deterministic at intersection? Like making sure the ego vehicle always takes left turn at a particular intersection. Can we achieve this by editing Maps in Unreal?

[2020-07-02 10:12] bernatx commented on #2721
Hi KasraMokhtari2112,

The pedestrians system is targeted to have random people to walk to random locations just to populate the map. But you can also move the pedestrian to the locations you want, as Sergi described. But the problem is that now when a pedestrian reach his target position, then another random is assigned, and I think that is what is happening to you. We need to fix that, so you ca

[2020-07-02 10:17] bernatx commented on #2768
The problem is that it feels unrealistic because the pedestrian has not the animation that moves apart from the vehicle. We need to fix that behaviour, first the pedestrians have so many colliding boxes and we need to remove some of them. Then, we will try to fine tune the pedestrian avoiding strategy to make it more realistic.

[2020-07-02 10:22] #2817 closed

[2020-07-02 10:22] #2939 closed

[2020-07-02 10:25] bernatx commented on #2816
Hi,
We have two controllers to be applied to pedestrians:
- **WalkerController**: this is to manage the pedestrian as a vehicle in manual control. You can define the direction and speed to move, and also you can jump. This is used in the **manual_control.py** script.

- **WalkerAIController**: this is to manage the pedestrian to move automatically without user intervention and going to random loca

[2020-07-02 10:28] bernatx commented on #2824
Hi,
All seems that the .xodr could be malformed. Can you share that file? Have you tried with the last patch version 0.9.9.4?
Regards

[2020-07-02 10:34] bernatx commented on #2830
Hi, currently we don't have that exposed. Probably wouldn't be too hard to expose that in property of the pedestrian that you can check in which kind of zone the pedestrian is walking (road, sidewalk, crosswalk or grass). Because that is done by the client there is no performance problems. I will add this as a feature request.

[2020-07-02 10:45] bernatx commented on #2847
Hi, because we are starting to integrate vehicle dynamics into CARLA we will check how many of those parameters we can expose to CARLA. Some of those properties are related to art resources (like the wheels size), so it seems to be a complex addition. But we have the focus on it.

[2020-07-02 11:00] bernatx commented on #2864
This is very strange. Did you use the recorder from the **manual_control.py** script, or you used separated scripts as **start_recording.py**?
We will try to reproduce that, but it is clear that the recorder only got the hero vehicle.
Can you specify the steps you follow to record that session?
Thanks.

[2020-07-02 11:17] AkramKalaee commented on #2873
I mean, how does Carla avoid the collision with pedestrians?

[2020-07-02 11:44] jackbart94 commented on #3012
Hi,

I've been running it for about 30 minutes and can't seem to get any sort of error. I'm on Ubuntu 16.04 with Python 3.7.2 and CARLA 0.9.9.4. Maybe you could try getting this version of CARLA and let me know if you still experience it, or as I said send me the report by using the gdb debugger.