[2020-07-02 12:09] marintoro commented on #3012
Hi,

Could you detail a bit more what you mean by "using the gdb debugger"?

And this kind or error is hard to detect/reproduce, sometimes it doesn't crash for multiple hours, sometimes it crashs after just 20/30 minutes.
When I am launching my whole reinforcement learning training process, CARLA usually crash after about 20 hours.

But with my minimal script if I let it 2 minutes, then kill and r

[2020-07-02 12:18] akramer123 commented on #2943
I also tested it with version 0.9.9.4 and got same segmentation fault.

[2020-07-02 12:24] jackbart94 commented on #3012
``Could you detail a bit more what you mean by "using the gdb debugger"?``

Sure, please run in the following order:
1. ``` $ ./CarlaUE4.sh -quality-level=Epic -world-port=2000 -resx=100 -resy=100```
2. (in another terminal) ```gdb python```
3. (in the same terminal as command number 2) ```run rl/rainbow_ign_apex/issue_carla.py```
Then, once it crashes, in the same terminal as command number 2 jus

[2020-07-02 12:41] marintoro commented on #3012
For exemple, this time I got the issue after only 30 seconds...
![gdb_error](https://user-images.githubusercontent.com/10373813/86359605-7ea09180-bc71-11ea-9601-a1e1ff4bfacd.png)

And yes this is not the exact same error... When I am launching the RL training I get the error I mentioned (but I don't want to run it for multiple days, I just wanted to give one exemple of possible crash...).

With my

[2020-07-02 12:45] jackbart94 commented on #3012
Did you try switching to CARLA 0.9.9.4 by any chance? Or are you still on 0.9.9?

Because it's an error in the C++ API somewhere.

[2020-07-02 13:29] Axel1092 commented on #2825
Hi @ForeRunner88,
Your problem is weird, the many of the files compiled for `make launch` are the same for `make PythonAPI`. Could you run `make LibCarla` and send the full log please?

[2020-07-02 13:38] Axel1092 commented on #3009
Hi @rohanb2018,
Yes, as you say SUMO's netconvert generates corrupt OpenDRIVE files (a problem with the junction record).
We are currently working on providing a way to import OSM information into Carla integrated in our API for the next release.
This will allow you to convert OSM to OpenDRIVE and load it with the standalone mode.
About the `WARNING: cannot parse georeference: ''. Using default va

[2020-07-02 13:40] bernatx commented on #2878
Hi,
This problem was already fixed in 0.9.9.4. It was caused by a workaround about one bug in UE4, that officially released a patch also. In CARLA 0.9.9.4 we removed the workaround and release a patch for the UE 4.24. The patch for UE 4.24 is only needed for Ubuntu machines, related to the Vulkan driver.

That would solve your problem.

[2020-07-02 14:03] Axel1092 commented on #2855
Hi @alexk-92580,
Can you please share more details about this issue? Does this happen within a junction? Does the spiral have a high curvature?

[2020-07-02 14:14] Axel1092 commented on #2834
After some experimentation it seems that around 90 degrees Unreal will change the values to keep them within certain ranges. I guess the only thing you can do is to try to keep track of the rotations yourself.

[2020-07-02 14:18] joel-mb commented on #2953
Hi @atinfinity @pietrocolombo !
Can you try again? I've removed the `carla` dependency for this package. Remember to run `sudo apt-get update` before.

[2020-07-02 14:48] jackbart94 commented on #3012
Let me know when it's done, hopefully it was enough to solve this.

Also regarding 0.9.9.3, it's still worth keeping it, even though we hadn't seen this error yet.

[2020-07-02 14:51] jackbart94 commented on #3016
Hi,

Right now there isn't, because it depends on many other things, for example the state of traffic lights, or the surrounding traffic. However we are working on determinism for Traffic Manager, so that could come in the near future. Also maps don't really influence the ego vehicle behavior (if you're using ``automatic_control.py`` for example).

[2020-07-02 15:00] HarnarayanSingh commented on #3016
@jackbart94  I found something mentioned in the issue #646 regarding "The routes are picked randomly using the RandomEngine based on the probabilities that have been set for the routes. (These probabilities can be changed in the editor or in-game.)"

So i wanted to know about this possibility. And I'm using manual_control.py.

[2020-07-02 15:02] villimikko commented on #2925
Thanks very much for the guide it helped a lot. I have still some problem with the boundbox, for some reason i cant resize it. .
![image](https://user-images.githubusercontent.com/61553242/86375316-2e83f800-bc8e-11ea-9861-7871b2030fda.png)

[2020-07-02 15:10] pietrocolombo commented on #2953
@joel-mb thanks it works

[2020-07-02 15:17] jackbart94 commented on #3016
CARLA has changed a lot in the last two years, that isn't the case anymore. Also if you're using manual_control.py and activating the autopilot, you're using Traffic Manager, so maybe I can give you some further informations in the following days.

[2020-07-02 15:21] HarnarayanSingh commented on #3016
@jackbart94 Thanks .

[2020-07-02 15:30] joel-mb commented on #2953
@pietrocolombo thanks for the feedback!

[2020-07-02 15:30] #2953 closed

[2020-07-02 15:33] joel-mb commented on #2955
Hi @atinfinity
Sorry for my late answer. We are working on fixing this. We need to update the `carla-msgs` package in the ROS index before updating the ros bridge package, so this may take a few days. I'll keep you informed.

Thanks!

[2020-07-02 15:39] joel-mb commented on #2819
Hi!
@faultfactory @shuhangchen I'm trying to set up the same configuration to figure out what is happening. The major updates of the TM were introduced in the release 0.9.9.3 (we introduced traffic manager 2.0).

@faultfactory yes, carla:latest should work.

[2020-07-02 15:52] atinfinity commented on #2953
@joel-mb Thanks. I have successfully installed `carla-hdmaps`.

[2020-07-02 15:54] salvatoresan commented on #2976
Hi @avishek-mondal ,
I am really interested in map generation via blender, could you please tell me how you managed to generate a map?
I've tried something similar by using a plugin on UE4 but i' m not quite satisfied with the result.

[2020-07-02 16:23] Vin1291 commented on #1493
@dldudwo0805 Hello, I am stuck on the same thing, can you share how you solved the issue using semantic segmentation.

[2020-07-02 16:26] Vin1291 opened #3019 "Filter out Occluded actors using semantic segmentation"
Hello, I am trying to filter out the occluded objects using semantic segmentation, but I am not that much familiar with the topic, can anyone help me with it and give me an idea how can I do this in the Carla. I have been through existing topics on this, but not able to figure out the solution. Thank you.

[2020-07-02 16:35] avishek-mondal commented on #2976
Hi @salvatoresan, this is still a work in progress! I'm aiming to share everything soon, as soon as I work out these last few issues - @marcgpuig have you had a chance to look at this issue yet? Thanks!

[2020-07-02 16:38] gsmario commented on #2925
hi @villimikko try to expand the context menu, and search for the transform options, if pressing the R key in the viewport doesn't work.
![a](https://user-images.githubusercontent.com/44405709/86387174-0f3b9980-bc93-11ea-9911-b9ffd0561f8c.png)

[2020-07-02 16:54] dev015 commented on #1507
@cstamatiadis Hello, did you solve the issue of filtering out the occluded objects?

[2020-07-02 17:08] salvatoresan commented on #2976
@avishek-mondal thanks for your reply

[2020-07-02 18:06] Vin1291 commented on #772
@mhusseinsh can you share the code for depth? not able to filter out objects

[2020-07-02 18:06] gengtsh opened #3020 "make launch error: wait forever or LogInit: Error: how to setup Two TCP ports"
hi,
i encounter some weird case :
my environment is:
server: ubuntu 20.0.04, use opengl
remote access from windows 10 using xshell
for the TCP port on Ubuntu:
![image](https://user-images.githubusercontent.com/17346437/86398883-2f4f6680-bc5b-11ea-92c0-ea5cfc2c8b56.png)

1. configuration 1, 2 and 3 case:
configuration_1:
![image](https://user-images.githubusercontent.com/17346437/86394469-7f2a2f80-

[2020-07-02 18:28] gengtsh opened #3021 "errors when make PythonAPI"
when i run: make PythonAPI, i got the following errors:

my python version is 3.8

Setup.sh: llvm-8.0 already installed.
Setup.sh: boost-1.72.0-c8 already installed.
Setup.sh: rpclib-v2.2.1_c2-c8 already installed.
Setup.sh: gtest-1.8.1-c8 already installed.
Setup.sh: recast-cdce4e-c8 already installed.
Setup.sh: CARLA version 0.9.9.4-1-gb695dbf2-dirty.
Setup.sh: Generating CMake configuration fil

[2020-07-02 19:44] germanros1987 commented on #3019
Hi, what are you trying to do exactly?

[2020-07-02 19:44] germanros1987 commented on #3020
@bernatx could you please take a look?

[2020-07-02 19:47] germanros1987 commented on #3021
could you please provide more information about your setup>

Also, it seems is building the library for 2.7. @bernatx could you take a look at this, please?

[2020-07-02 20:32] Vin1291 commented on #3019
I am trying to figure out how can I filter out the objects, and I have read old comments of using semantic segmentation or depth, I am not sure which approach would be better and how to actually use it. Can you guide me through it? I would highly appreciate that.

[2020-07-02 21:07] gengtsh commented on #3021
I follow the the steps described https://carla.readthedocs.io/en/latest/build_linux/
when i make launch it was stuck in some place, so i make PythonAPI, then i got error,
i remotely access Ubuntu 20.04 through xshell.
server:
os: ubuntu
python version: python 3.8.2

i search online, it seems that "platform.linux_distribution which was deprecated in Python 3.5 and removed in Python master branch"
i

[2020-07-02 22:21] gengtsh commented on #3020
the following are my screen shot , it almost have stay in the same for more than 4 hours:

[2020.07.02-19.01.50:818][  0]Warning:  applied to a non-external Texture2D sampler. This may work by chance on some platforms but is not portable. Please change samer 'EmissiveMap' (slot 1) in material 'M_BuildingMaterial'
[2020.07.02-19.01.50:831][  0]LogEditorServer: Finished looking for orphan Actors (0.

[2020-07-02 22:45] villimikko commented on #2925
Thanks for that! For some reason when i spawn vehicle, the wheels work but car wont move at all(even pygame windows show acceleration and the wheels are spinning). Otherwise i think it is working.

[2020-07-03 07:30] hepeng187 commented on #2793
Hi@Axel1092  ,
Sorry ,I don't quite understand what you mean.
When I play Carla ,the traffic lights are visible in the unreal camera. But when I stop traffic lights disappeared. Just like TownBig, Can the function (get_traffic_light(landmark))  be used in the TownBig virtual scene?

 The labels of my opendrive file are as follows:  Is this right？
[code]

[2020-07-03 07:43] shishau opened #3022 "Is it possible to drive on the left with CARLA 0.9.9?"
Hello everyone,

When I import the road data of the left-hand side created by RoadRunner into Carla 0.9.9, it becomes the road of the right-hand side without complying with the RoadRunner settings.

When I contacted RoadRunner support, I was told that it was Carla 0.9.9 specification.
Is this true?
Isn't Carla 0.9.9 possible to simulate left-hand traffic like Japan and the UK?

Please let me know

[2020-07-03 07:46] albinnyASTAzero commented on #3011
I had the same issue but I managed to go around it by building the supported docker version of UE4 for the Carla version I'm using. You can check in the Prerequisites.Dockerfile at the top which one it should be. I used the latest release of Carla which at the top of the file it says ARG UE4_V=4.24.3. So I built that version ( ue4-docker build 4.24.3 --no-engine --no-minimal) instead of 4.22.2 whi

[2020-07-03 07:55] bender2po commented on #3010
If you follow the file 'client_bounding_boxes.py', you can calculate it.
See below snippet for example ( copied the lines from 'client_bounding_boxes.py'):

[code]

[2020-07-03 07:57] Vin1291 commented on #3010
@bender2po Yeah, I figured that out and then how do you get such coordinates of actors in reference to the main ego vehicle?

[2020-07-03 08:42] wuxiaohua1011 commented on #307
although this thread is dead, i also wanted to add that for slow network speed, the time to transfer an OpenDrive `.xodr` file might be larger than 2 seconds and thus causing a time out error, which is quite misleading.

The fix to this is simply increasing the timeout to something like 5 or 10 seconds, depending on your wifi speed.

[2020-07-03 08:44] bender2po commented on #3010
It is simple.
You can calculate 'world_cord' from my reply above. Then, use '_world_to_sensor(world_cords, ego_vehicle)'.

[2020-07-03 09:04] marcgpuig commented on #2822
Hi @Sid1057, sorry for the late response.
I've tested it and it works as expected for me, and this
[code]
provides me with this single color screen in RGB, Sem seg, and depth that you reported (which is the expected output for these values).
If you want to _deactivate_ the effect, please consider setting the values to the default ones that you can find in our [documentation](https://carla.readthed

[2020-07-03 09:12] marcgpuig commented on #2822
Hi @Sid1057, sorry for the late response.
I've tested it and it works as expected for me, and this
[code]
provides me with this single color screen in RGB, Sem seg, and depth that you reported (which is the expected output for these values).
If you want to _deactivate_ the effect, please consider setting the values to the **actual** default ones that you can find in our [documentation](https://car

[2020-07-03 09:14] alexk-92580 commented on #2855
Hi @Axel1092,
thanks for taking care of this! The problem does not occur within a junction. Also, the curvatures are relatively low. We did observe, that the problem does not occur on all lanes. The spiral has 3 driveable lanes, and we have the issue on the rightmost driveable lane (ID -4) within a spiral with the following openDRIVE definition around 1629 meters into the segment:

 <geometry s="2

[2020-07-03 09:15] bender2po opened #3023 "Option to toggle visibility of lane-lines"
Hi, is there any option to switch off (or deteriorate) visibility of the lane markings in Carla. The purpose is to train the CNN model for detection of lane-markings even in the absence of lane-markings. So, I would be needing images from the camera without lane-markings. Let me know if there is any work around if not the availability of visibility-switch.

[2020-07-03 09:16] marcgpuig commented on #2824
@aadityasp1 how big is your OpenDRIVE file in MB and/or km^2?

[2020-07-03 09:24] marcgpuig commented on #2792
Hi @revikiran1991, first of all, this has nothing to do with CARLA and can be happening because of different causes.
To me, the main clue here is here:
[code]
And looks like in your case the solution could be in [this post](https://stackoverflow.com/questions/2086072/linking-using-g-fails-searching-for-lstdc).
Hope this helps.

[2020-07-03 10:02] marcgpuig commented on #2992
Hi @hh0rva1h, sorry for the late response!

With your same script and the current `master` branch in my machine (_2080 ti_ | _Intel(R) Xeon(R) CPU E5-1650 v4 @ 3.60GHz_):
[code]
The main problem is that you are using `world.get_map()` on every tick, and this basically ask for the OpenDRIVE file to the server, retrieves it as a string, and parses it to get the actual `carla.map` object. Considering

[2020-07-03 10:07] marcgpuig commented on #2992
Let me ping @sergi-e so this knowledge can be added to our documentation in `carla.World.get_map()` and people don't get confused about this. Thanks for your report.

[2020-07-03 10:19] marcgpuig commented on #3010
@bender2po we just added #2997.
Finally, there is no need to compute this matrix yourself :tada:

[2020-07-03 10:31] Vin1291 commented on #3019
@marcgpuig I have read your comments on using depth on previous issues, can you assist me on this?

[2020-07-03 10:46] Vin1291 commented on #3010
@marcgpuig Thank you for your reply, can you please explain do we use this feature and calculates bounding box coordinates of all the actors with respect to ego vehicle. I got confused a bit.

[2020-07-03 10:48] Vin1291 commented on #3010
If I do this, then I can't see bounding boxes on the actors.

[2020-07-03 11:44] Vin1291 commented on #3010
@bender2po I did this and getting such bounding box, as you can they are shifted.

    @staticmethod
    def get_bounding_box(vehicle, camera, ego_vehicle):
        """
        Returns 3D bounding box for a vehicle based on camera view.
        """

        bb_cords = ClientSideBoundingBoxes._create_bb_points(vehicle)
        cords_x_y_z = ClientSideBoundingBoxes._vehicle_to_sensor(bb_cords, vehic

[2020-07-03 14:05] marcgpuig commented on #2989
@raymanfx
I don't know if UE4 internally uses this information. If it's there it can be exposed but further investigation is needed.
If you find something make sure to report it here.

[2020-07-03 14:08] marcgpuig commented on #2976
@avishek-mondal not yet! Although It's in my list of TODO things.

[2020-07-03 14:10] bender2po commented on #3010
@Vin1291 I need more information to answer your question. How did you capture the image which you have shared in the above post? (1) is it from server window? or (2) is it from image from camera-rgb sensor?
If it is the (1) then it should work.
if it is the (2). then it is expected to get a picture like you have shared. So, if you are trying to project on to the image captured from camera-sensor t

[2020-07-03 14:16] zhejun-zhang commented on #3012
I encounters the error `$ what(): length > 2.0f * std::numeric_limits::epsilon()` as well from time to time on 0.9.9 release. I quickly checked the relevant code and it seems to be used to computer the forward_vector, as a sanity check for zero dividing before making a unit vector. I'm not sure if that is the cause of `Segmentation fault (core dumped)`, but instead of sanity check an addition of `

[2020-07-03 14:17] marcgpuig commented on #2741
@bernatx recently discorvered that the initial problem of this issue can be fixed using **Python 3.7.2**, and we experienced errors using version 3.7.8. Can you test that?

[2020-07-03 14:35] raymanfx commented on #2989
@marcgpuig this is my dummy solution that I'm using for demo purposes:
[code]
This actually appears to yield quite reasonable engine RPM values, but it's of course lacking much of the underlying physics simulation necessary to get the actual engine RPM.

[2020-07-03 14:56] Luca96 commented on #1325
My suggestion is to use `Python 3.7` along with a clean virtual environment.

In particular, I downgraded Python from 3.8.0. to `3.7.8` and tested everything in a clean `virtualenv` environment managed by PyCharm.  That's worked for me on `CARLA 0.9.8` on Windows 10.

[2020-07-03 15:37] Axel1092 commented on #2988
Hi @gengtsh,
These errors are probably due to using clan10 instead of clang8. What problems did you find with installing clang8?
Unreal Engine is compiled with this version of clang and mixing version may produce errors. I suggest to try to find a way to use clang8.

[2020-07-03 15:43] Axel1092 commented on #2559
Hi @Zhuxy,
We plan to expose traffic lights through the landmark class which allows you to detect sign and traffic light in the OpenDRIVE file. This is currently working with custom OpenDRIVE files loaded through the standalone mode but it is not yet avaialiable in Carla's maps. You can still sort the traffic lights by position in the world `traffic_light.get_location()`.

[2020-07-03 15:50] Axel1092 commented on #2961
Hi @villimikko,
The error suggest that the wheels are not properly defined, did you follow all the steps here: https://carla.readthedocs.io/en/latest/tuto_A_add_vehicle/ in addition to vehicle modelling?

[2020-07-03 15:53] Axel1092 commented on #2890
Hi @lp249839965,
The RoadInfoLaneOffset is in a temporary container in https://github.com/carla-simulator/carla/blob/master/LibCarla/source/carla/road/MapBuilder.cpp, which is then moved to the Lane object. Can you explain what problems are you having?

[2020-07-03 16:00] Axel1092 commented on #2825
Hi @ptigas,
These compiler errors shouldn't appear, is it possible that you are using mismatched clang versions or the gnu compiler?

[2020-07-03 16:10] Axel1092 commented on #2793
Maybe this is just an example but the signal id is 1 and the controller points towards signal id 11.
The function `world.get_traffic_light(landmark)` should return the corresponding `carla.TrafficLight` object that allows you to control it. Check, that the `landmark.id` matches the id of the traffic light you need and not other signals.

[2020-07-03 16:20] Axel1092 commented on #2855
The problem is probably due to the discretization of the road in segments that enable the spatial queries and might be not fine enough. It would be great if you can provide a snippet of the geometry record of this spiral (or just its length, curvStart and curvEnd) to do some testing.

[2020-07-03 17:08] gengtsh commented on #2988
hi, @Axel1092,
i remove everything related to clang10 and reinstall clang8, it looks like
this issues is fixed, but i encounter other issues: see the links below:
https://github.com/carla-simulator/carla/issues/3020
https://github.com/carla-simulator/carla/issues/3021

On Fri, Jul 3, 2020 at 8:38 AM Axel1092 <notifications@github.com> wrote:

[2020-07-03 21:43] rudrapoudel commented on #1782
Any progress on this? Would really appreciate RL environment for CARLA 0.9.X. Thanks,

[2020-07-03 21:51] ajuton-ens commented on #2853
I have the same problem....

[2020-07-03 21:59] AdelinaK commented on #2882
Maybe it helps. I installed a x64 version of python 3.7.7
I think the one I had before was x86 (32 bits version) and it does't work. So after the installation and make clean, make launch it worked for me.

[2020-07-03 22:02] AdelinaK commented on #2853
Yes. You need a 4.24 Unreal version. Make sure the CarlaUE4 file is selected to run on this version if you have more than one installed

[2020-07-03 22:20] lijecaru commented on #1782
Some environments compatible with Carla0.9.X https://github.com/Sentdex/Carla-RL, https://github.com/cjy1992/gym-carla, https://github.com/rail-berkeley/d4rl/tree/master/d4rl/carla

[2020-07-04 02:03] BigTailFox opened #3025 "More detailed documents of LibCarla"
Hello,
I am using LibCarla to create a C++ client, however in the LibCarla documents little information was given, such as the units of variables, the world/vehicle/sensor coordinate systems. Is there any plan of a more detailed LibCarla document?

[2020-07-04 04:44] grassular opened #3026 "Carla simulator"

[2020-07-04 08:47] ahmedhatem3h opened #3027 "Collision sensor not working"
I have created a scenario where there are 2 vehicles colliding and I can't get the collision sensor attached to the vehicle to sense the collision between them. Bellow is the code I run and callback doesn't get called at all.

[code]

I am using:
CARLA 0.9.7
Town05
Ubuntu 18.04
Python 2.7.17

Please help me as I am stuck at this for couple of days already and I can't get it to work.

[2020-07-04 09:38] ahmedhatem3h commented on #3027
Edit
Actually I turned off synchronous mode and it still doesn't work

[2020-07-04 11:31] ahmedhatem3h commented on #3027
I simplified the code as much as possible and still not working
`import glob
import os
import sys
import time
import numpy as np
import queue

try:
    sys.path.append(glob.glob('../carla/dist/carla-*%d.%d-%s.egg' % (
        sys.version_info.major,
        sys.version_info.minor,
        'win-amd64' if os.name == 'nt' else 'linux-x86_64'))[0])
except IndexError:
    pass
import carla

actor_list

[2020-07-04 13:55] gsujan opened #3028 "How to get actors that are currently rendered"
Hi

i would like to get a list of all actors that are currently rendered in scene, so that i know which actors in world are being captured by the camera sensor or the segmentation sensor at that instant. I found that unreal engine has the function was [WasRecentlyRendered](https://docs.unrealengine.com/en-US/API/Runtime/Engine/GameFramework/AActor/WasRecentlyRendered/index.html). This doesn't seem

[2020-07-04 14:13] xmyqsh commented on #3028
[WasRecentlyRendered](https://docs.unrealengine.com/en-US/API/Runtime/Engine/GameFramework/AActor/WasRecentlyRendered/index.html) is a method of Actor. You can expand it as an actor attribute in Python API. Or, add it as a special filter into ActorList which should be lowest the burden of RPC and match your demand.
[code]

[2020-07-04 14:34] FrancescoPinto commented on #2807
Hi @marcgpuig , I implemented a temporary fix in this [branch](https://github.com/FrancescoPinto/carla.git)

[2020-07-04 19:27] lukase opened #3029 "Default port 2000 unusable on Windows 10 with Hyper-V"
When running carla on a Windows 10 machine with latest updates and Hyper-V, it crashes due to an unhandled exception while trying to bind to port 2000 (TCP). This happens with release binaries as well as when running from the Unreal editor.

This is caused by a faulty W10 upgrade, to rectify and set reserved ports to the intended range, use `netsh int ipv4 set dynamic tcp start=49152 num=16384` [s

[2020-07-04 20:00] gengtsh opened #3030 "issues for ./UE4Editor--vulkan"
hi,
i encounter some issue  about ./UE4Editor, since vulkan is necessary for unrealengine 4.24, i install vulkan on the server
i use xshell (on windows 10) remote access ubuntu 18.04 server.
windows has 3 monitors
Ubuntu server have two nvidia Quadro P6000 cards
vulkaninfo: version: 1.2.141.2

  1. xshell: forward X11 connections to Xmanager
    when i run vulkaninfo, i got one line:
    ERROR at

[2020-07-05 14:52] Vin1291 commented on #3010
I am capturing the image from camera -rgb sensor, but I don't get it why is it showing like that. Can you tell me how to fix it?

[2020-07-05 21:19] frk1993 commented on #1012
Hi,
Is the coordinate system in the newest version also left-handed?

Thanks!

[2020-07-05 21:20] frk1993 commented on #683
Hi,

Is the coordinate system in the newest version also left-handed?

Thanks!

[2020-07-06 04:01] aadityasp1 commented on #2824
Hi @bernatx I have tried with the latest 0.9.9.4 patch version as well, still throws the same Segmentation fault error. Attaching two of the xodr's below FYR.

@marcgpuig , I have tried using various sized maps. Below I'm attaching 2 files FYR, one is 5MB, other is 20MB and both throw the same error. Not really sure about km^2 though.

[xodrs.zip](https://github.com/carla-simulator/carla/files/487

[2020-07-06 05:41] AlexScheid commented on #3027
Hello @ahmedhatem3h,
I tested the last provided code with CARLA 0.9.9. If you put the `collision_data` function somewhere in front of the callback definition at `colsensor.listen(lambda event: collision_data(event))` the code is working fine.
Also the definition of the collision event in the class above is working.
So I think it is a problem in version 0.9.7

[2020-07-06 06:51] ajuton-ens commented on #2853
I built the docker with 4.24 Unreal version and it worked. Thank you.

[2020-07-06 07:05] queen97king2019 commented on #467
hi,
Were you able to solve this issue?
I am trying to take the speed as input from keyboard. How do i make the car movements accordingly?

[2020-07-06 07:43] PTorr commented on #2001
get_location and get_transform returns values that change all the time.
It's advancing the car, why?

[2020-07-06 09:02] queen97king2019 opened #3032 "Can we include a threading in Carla, so that the speed input is in the form of numbers from keyboard."

[2020-07-06 10:24] bernatx commented on #2858
@ocean1211 can you detail a bit more about how many pedestrians you are trying to spawn, and how many vehicles are in the scene?
Also, if you are using a custom map, did yu rebuild the binary file for pedestrians navigation?

[2020-07-06 10:36] bernatx commented on #2879
Hi @NicoSchoenfisch did you download all the content assets? It seems that you don't have it.
Refer to this link with instructions: https://carla.readthedocs.io/en/latest/build_update/

[2020-07-06 10:42] bernatx commented on #2880
We recently found similar problems with boost and the last version of Python.
Try with Python 3.7.2 and be sure it is the x64 version.
Tell us if that works for any of you.

Thanks

[2020-07-06 10:45] bernatx commented on #2882
Hi, that could be the case. We are facing some issues when users are using the x32 version of Python. Please be sure to use the x64 version of Python, and version 3.7.2 if possible, because last version of Python gives some linker problems with boost. We are still investigating.

[2020-07-06 10:52] bernatx commented on #2910
@MartinDubreuil this is a normal behaviour.
The problem is that when you make any interaction in editor that makes it busy, the client part (your script) can not communicate well with the server (editor) and if it takes more than 2 seconds (see your default time out when you call the tick) to get an answer, the script terminates thinking that the server does not exist anymore.
You can use a greate

[2020-07-06 10:58] bernatx commented on #2922
Hi,
Please be sure that you are using the x64 version of Python, and use Python 3.7.2, as it seems the last version is giving this kind of errors.
We are still investigating, but probably this will fix your problem.
Let us know please.
Thanks

[2020-07-06 11:00] ocean1211 commented on #2858
@bernatx I have tried to spawn 10 to 200 pedestrians randomly in every iteration. With the number of iterations increasing, the program will be stopped by this error. The number of vehicles is one.
I have not rebuild the binary file. And I use the compiled version for Linux and Town05.
Thanks a lot!

[2020-07-06 11:16] bernatx commented on #2995
Hi, are you using the proper version of Unreal Engine for CARLA 0.9.5?

[2020-07-06 11:22] bernatx commented on #3011
We will update that file so it says 4.24 instead of 4.22 to avoid confusions.
Thanks for the warning.
It solved your problem @sourabhmisal ?

[2020-07-06 11:39] sourabhmisal commented on #3011
Yes , it did , thanks for the support!

[2020-07-06 11:39] #3011 closed

[2020-07-06 12:08] #3026 closed

[2020-07-06 12:18] ayushshah opened #3033 "Following a vehicle"
I am a beginner trying to learn Carla. Thank you for the detailed documentation, but I am unable to find how to achieve the following.

I wish to create a simulation in which vehicle_1 follows the path being followed by vehicle_2 while keeping the throttle and brake control independent of the movement of vehicle_2.

I tried specifying it while spawning vehicle_1 as follows, but that does not work.

[2020-07-06 12:37] magehrig commented on #2996
I used your `traffic_manager/determinism_check` branch and implemented the steering noise using the RandomGenerator class. However, I can still not produce the desired effect. I don't have time to investigate this issue further but we should keep it open unless it is solved (don't let it go stale).

[2020-07-06 13:26] villimikko commented on #2925
![carla 2](https://user-images.githubusercontent.com/61553242/86598011-2c2ee000-bfa5-11ea-89bc-10636a09ed13.gif)
![carla 1](https://user-images.githubusercontent.com/61553242/86598014-2f29d080-bfa5-11ea-9a32-9f8e4ac78c9d.gif)
![capture 1](https://user-images.githubusercontent.com/61553242/86598048-3a7cfc00-bfa5-11ea-96ff-db0b1808f58e.PNG)

When i have "hull" box the car drops throught terrain, but

[2020-07-06 13:42] ahmedhatem3h commented on #3027
Hello @AlexScheid,
Thank you. Yes It is working fine with CARLA 0.9.9.4. I have read the changelog files and there was no mention of an update in the collision sensor, However, there is a difference between CARLA 0.9.7 and CARLA 0.9.9.4 so hope someone add this so people can know that it is not working in CARLA 0.9.7

[2020-07-06 13:43] #3027 closed

[2020-07-06 13:52] marcgpuig commented on #2989
@raymanfx thanks! Hopefully, this can help someone else. In the meantime, we will continue to push for this feature at some point.

[2020-07-06 13:54] marcgpuig commented on #2807
That's great! We will take a look at your fork when we push for it. Thanks!

[2020-07-06 14:04] marcgpuig commented on #1587
@germanros1987 no, we support a total of 255 possible classes limited by UE4. However, these classes are limited in compile time, so no more classes can be created nor modified from the PythonAPI, and I think this is what the issue is referring to.

[2020-07-06 14:08] marcgpuig commented on #2356
Sorry for the late response, I'll try to communicate it to the art team ASAP. They plan to iterate fixing several of these issues son.

[2020-07-06 14:15] marcgpuig commented on #3019
Hi @Vin1291
Sorry, but since I haven't tried myself I don't think I can guide you more than what I've already posted here on Github that should be enough to implement it and test if it works.
However, I can try to solve more specific doubts on this topic if you face them.

[2020-07-06 14:20] bernatx commented on #3021
Hi, we have not tested yet in Ubuntu 20.04, but you can try installing Python x64 3.7.2
It seems that Python 3.8 could be in trouble with boost. We are investigating.
Let us know if that solves your problem, please.
Regards

[2020-07-06 14:26] gsmario commented on #2925
Hi @villimikko
Please, be careful when creating and placing the collision boxes, if you put the wheels collision inside the bodywork (the car's general collision box) you'll have problems. Try to recreate this with your car:
![image](https://user-images.githubusercontent.com/44405709/86604183-57193400-bfa5-11ea-849e-d5ceafc23f6e.png)

[2020-07-06 14:28] bernatx commented on #3020
Hi,
I think the important ones are these:
[code]
I think the SDL library has failed.
Also it seems the server is up and running.

[2020-07-06 14:35] bernatx commented on #2858
What do you mean by iterations?
You create and destroy pedestrians in the same script?
Are you sure you are destroying the pedestrians? Because there is an static limiation around 400 pedestrians and vehicles, altogether.
Probably we will resize this limitation in next version.

[2020-07-06 14:46] marcgpuig commented on #3014
Hi @little9999 sorry but I'm not able to reproduce it, the function `light_manager.is_active()` works fine for me and returns what I expect, maybe you are testing on a town where the `light_is_on[0]` is not set to "on" for any reason? Instead of checking the street lights, I recommend you to check for the sun altitude since they don't need to be all "on".
Furthermore, I encourage you to use the
[c

[2020-07-06 14:57] doterop commented on #3014
Hi @little9999,
Perhaps is a problem on the map, which map are you using? If the lights are not tagged properly the group filter will not work.
How many elements are you getting from the `street_lights = light_manager.get_all_lights(carla.LightGroup.Street)`call?

[2020-07-06 16:57] DSantosO commented on #2842
Hello,
Sorry for the late replay, we have looked into the specific of the case and there is couple of things to comment.
First, you need to take in account that the SpringArm is thought to have a better camera visualization so it should not be used in sensors like LiDAR. In this sense, please use always the Rigid mode.
Anyway, the SpringArm is doing something weird in your specific case because of

[2020-07-06 17:42] magehrig commented on #2996
Thanks I could make it work using the `RandomGenerator` class of your branch. Although, it seems that it had an effect on all the cars not just the own vehicle that I wanted to steer. Is this to be expected?

[2020-07-06 18:42] RyanHopkins7 commented on #2842
@DSantosO Thanks for getting back to me and I'm glad to help. If it's recommended not to use SpringArm for LiDAR, perhaps [the documentation should be changed to demonstrate using the Rigid mode](https://carla.readthedocs.io/en/latest/tuto_G_retrieve_data/#lidar-raycast-sensor).

[2020-07-06 18:43] gengtsh commented on #3020
Thanks @bernat,
When I turn off the X11 forwarding, this error will be gone. And after a
while it will be stuck forever.
I also try to install SDL library, but it's failed. Some depends are
missing and and then try to install those missings, others are pop up. Even
I try apt install - f xxx  , it also failed.
Can you please provide some suggestions to solve this problem? Thanks .

On Mon, Jul 6, 2

[2020-07-06 19:04] Vin1291 commented on #3019
@marcgpuig I have already got 2D bounding box for vehicles, and now I have min_x, min_y, max_x, max_y, but I am not sure how to move further now. Can you tell me how to do the comparison between distance to the actor with depth to the actor.

[2020-07-06 19:12] germanros1987 commented on #3022
Hi@shishau,

CARLA doesn't support left-side traffic yet. This feature is planned for future releases.

[2020-07-06 19:15] germanros1987 commented on #3023
Hi @bender2po,

This is not possible directly from the Python API, but you could modify the existing UE4 tools to achieve this. Have a look at the tools presented here:

https://www.youtube.com/watch?v=ZZaHevsz8W8&feature=youtu.be
https://drive.google.com/file/d/1l9Ztaq0Q8fNN5YPU4-5vL13eZUwsQl5P/view

Pay attention to the BP Paint Road. That should be a good starting point for your problem.

[2020-07-06 19:18] germanros1987 commented on #3025
@BigTailFox tanks for your feedback

We are continuously working on improving the documentation. I am adding @sergi-e to this conversation so that he can hear directly from you about documentation improvements. Could you list the things that you would like to see improved?

Thanks.

[2020-07-06 19:19] #3032 closed

[2020-07-06 19:50] germanros1987 commented on #3029
Why don't you launch it in a different port?

[2020-07-06 19:54] germanros1987 commented on #3030
@gengtsh thanks for reporting your problem.

Let me try to make sense out of it since your description is a bit confusing. It seems you are describing a setup involving 2 machines? A Ubuntu 18.04 server and a Windows 10 node.

Is the Ubuntu 18.04 running the server? Is the Windows 10 node running the client? Is that what you are trying to do?

P

[2020-07-06 20:14] gengtsh commented on #3030
Hi, germanros,
Yes, there are two machines, Ubuntu 18.04 server and windows 10 as client
,  which remotely access Ubuntu.

On Mon, Jul 6, 2020, 12:54 PM germanros1987 <notifications@github.com>
wrote:

[2020-07-07 00:16] shishau commented on #3022
Hi. @germanros1987

Thank you for your reply.
I look forward to future releases.

shishau

[2020-07-07 06:33] hepeng187 commented on #2793
@Axel1092  The controller signal id has now been corrected ( the controller points towards signal id 1) , now the landmark_id has matched the id of signal, but it still return none. I'm about to collapse...

[2020-07-07 07:02] PTorr commented on #2287
@cassfalg really cool work.
Can you share the code?

[2020-07-07 07:29] guygo12345 commented on #2342
It seems like this issue isn't going to be solved, but meanwhile I'm attaching here the updated uasset file.
If you want to use it just replace the original with this
[glass.zip](https://github.com/carla-simulator/carla/files/4883228/glass.zip)

[2020-07-07 07:57] DSantosO commented on #2842
Hello @RyanHopkins7
Yes, that is mistake. Sorry about it. We will change it.
Thanks again!

[2020-07-07 09:37] little9999 commented on #3014
hi @marcgpuig @doterop

I've tested with Town01, Town04, Town10HD.
None of them switch the light_manager.is_active(street_lights) status.

I've test with numpy.unique instead of light_is_on[0], all the street lights are off.

And for your proposition of  sun altitude, @marcgpuig . It works well.
Thanks for your time.

[2020-07-07 09:59] Kipt opened #3035 "sensor_tick property ignored for GNSS, Radar and IMU"
After troubleshooting why sensor_tick for IMU didn't change the frequency of the ROS message I noticed the ego_vehicle.py doesn't read the property. This is true for GNSS, radar and IMU sensors. Adding the
[code]
snippet fixes the issue.

[2020-07-07 11:13] DnDare commented on #2356
Greetings,  we've made changes to SS of the bridge
![image](https://user-images.githubusercontent.com/57799121/86771976-6e165f80-c053-11ea-8192-bce0b6f57a38.png)

It is merged into master , it will be released in future updates

[2020-07-07 11:15] XGodina commented on #413
@berkerlogoglu, @hc167 Hi, we keep in mind to do that. But now we are working to set the new Sky atmosphere in CARLA. As German said we will add to 0.9.12. sprint.

[2020-07-07 12:02] guygo12345 opened #3037 "Getting bounding boxes of non actors vehicles"
Hey!
I'm training a vehicles detection net and using the bounding boxes of actors as my labels.
I noticed that in some of the maps there are static vehicles which are part of the map. For example -
![image](https://user-images.githubusercontent.com/25419744/86778014-8b065f00-c062-11ea-9e9c-7ed407d8787b.png)

Those vehicles are not actors, so I can't get their bounding box via the Python API. Is th

[2020-07-07 12:35] Abhishek-Chachadi commented on #2501
make launch
Setup.sh: llvm-8.0 already installed.
Setup.sh: boost-1.72.0-c8 already installed.
Setup.sh: rpclib-v2.2.1_c2-c8 already installed.
Setup.sh: gtest-1.8.1-c8 already installed.
Setup.sh: recast-cdce4e-c8 already installed.
Setup.sh: CARLA version 0.9.9.4-25-g6ea32e4-dirty.
Setup.sh: Generating CMake configuration files.
Setup.sh: Success!
BuildLibCarla.sh: Building LibCarla "Server.Rele

[2020-07-07 14:25] Georgelingzj opened #3038 "How to add license plate on vehicle"
Hi,

I am currently work on adding license plate on vehicles.

I wonder is it possible to create it in python API or i need to do it in Unreal engine

I have looked through the carla documents and there is nothing about this.

Thanks!

[2020-07-07 14:50] ocean1211 commented on #2858
Yes, I create and destroy pedestrians in the same script.
The program consists of many iterations.
In every iteration, pedestrians and the vehicle are spawned, and destroyed at the end of the iteration.
Sometimes when I don't spawn pedestrians in the environment, only spawning the vehicle repeatedly also raises the same error.

[2020-07-07 15:08] amitji-tech opened #3039 "How many Carla client can connect with one Carla Server?"
I want to use Carla in a typical client server architecture. Intend is to connect multiple client with one server.  So I can scale both client and server independently. Every client will act as a vehicle for simulation so I can run same/multiple scenario with different conditions simultaneously. So want to know Do we have any limit on how many Carla client can connect with Carla server?

[2020-07-07 15:31] DnDare commented on #2356
The bridge SS, has been changed to WALL
![image](https://user-images.githubusercontent.com/57799121/86804985-bcd5f080-c077-11ea-89c2-1c8c1192388e.png)

[2020-07-07 16:00] Roosstef commented on #2819
I no longer have the problem. Thank you!

[2020-07-07 16:23] doterop commented on #2809
Hi @Vaan5,

I've been struggling the last few days trying to reproduce this error. Although all points out in the direction that @nsubiron mentioned before, it would very handy for me to have a scenario where I can reproduce the error and therefore create a proper solution for both sync and async mode.

If you don't have this case, no worries. :)

Thanks!

[2020-07-07 16:41] gsujansai commented on #3028
Thanks @xmyqsh . I don't have much experience working with the cpp codebase of carla. I will try it out and post my status.

As a quick hack, i used carla transforms with some offset in front of the camera sensor. I look for all pedestrians transforms that are inside this offset point and camera center region. Ofcourse, the drawback is that actors that are behind buildings or occlusions are also c

[2020-07-07 17:05] bender2po commented on #3023
@germanros1987 Thank you for the reply.
I can proceed with your suggestion now.

[2020-07-07 17:29] MartinDubreuil commented on #2161
I have exactly the same problem under CARLA 0.9.6 built from source. Any solution ?

[2020-07-07 18:41] germanros1987 commented on #3035
@joel-mb @fpasch could you comment on this issue?

[2020-07-07 18:43] germanros1987 commented on #3037
Duplicate of #2343

[2020-07-07 18:43] #3037 closed

[2020-07-07 18:45] germanros1987 commented on #3038
Hi @Georgelingzj you would need to create a new blueprint / modify vehicle's blueprint to do this. We would be happy to take this as a contribution :)

[2020-07-07 18:47] germanros1987 commented on #3039
@amitji-tech there are no specific limitations for the number of clients connected to a server. Limitations/constraints could arise when considering the amount of computation required by the server, in case multiple clients are requesting sensor simulation, etc.

[2020-07-07 20:38] jeffchen006 opened #3040 "missing module name in carla-0.9.9-py3.6-linux-x86_64.egg"
Carla version: 0.9.9
Platform: Ubuntu 18.04

Problem description: After following the installation instructions in https://carla.readthedocs.io/en/latest/build_linux/, I failed at the last step, i.e. python3 spawn_npc.py

The error messages are listed below:
<pre>Traceback (most recent call last):
  File &quot;spawn_npc.py&quot;, line 27, in &lt;module&gt;
    import carla
  File &quot;&lt;frozen

[2020-07-07 20:57] germanros1987 commented on #2584
Closing issue due to inactivity. Please, feel free to comment back if you need the issue reopened.

[2020-07-07 20:57] #2584 closed

[2020-07-07 20:58] germanros1987 commented on #2644
I am considering this issue solved due to lack of activity.

[2020-07-07 21:01] germanros1987 commented on #2645
Any ideas @IntedisJonas ?

[2020-07-07 21:01] #2730 closed

[2020-07-07 22:06] gengtsh commented on #3021
i install python3.7 , and set in my
.baserc :
alias python = python3.7
alias python3 = python2.7

to double check python version,
when i run python --version and python3 --version, i got Python 3.7.0

and rerun make PythonAPI,
i got the same error
BuildPythonAPI.sh: Building Python API for Python 3.
Traceback (most recent call last):
  File "setup.py", line 160, in <module>
    ext_modules=get_lib

[2020-07-08 07:01] GabiShahmayster commented on #3033
@ayushshah
Hi,

Are you sure this can be done?
Because this type of attachment seems more suitable for a sensor, than a vehicle...
If this was a real-life scenario, the simplest solution, which comes to mind, would be for the following vehicle to apply controls, in such a way that the a certain distance between it and the leading vehicle would be maintained.
You would build a controller, which wou

[2020-07-08 09:24] magehrig commented on #2356
Has this been done for all the bridges in all the towns or just this particular one?

[2020-07-08 09:41] jackbart94 commented on #2996
Yeah, that's definitely to be expected. You are assigning this random noise steering behavior to every vehicle that is controlled by the Traffic Manager or autopilot. If you want to assign it only to your vehicle (or any subset of all the vehicles controlled by the TM) you have to implement a parameter, such as we do with ignore_traffic_light_percentage, and then in your script only assign this pa

[2020-07-08 10:42] Vaan5 commented on #2812
Hi,

sorry for the late reply. I was burried in work the last 2 weeks and didn't have time to try it out. Hope it's not too late.

So, I've tried it again today with:

Here is exactly what i did:
1. Start Carla Server
2. Open console; add the carla egg to the PYTHONPATH variable
3. Run python results.py   // I named the script results.py (i just copied the code from my first post into it - **witho

[2020-07-08 10:55] jackbart94 commented on #2966
Sorry if it took a while to answer. I think there might be a bug for this particular parameter ``vehicle_percentage_speed_difference`` as it seems to be applying successfully only once. We will push a fix very soon and I'll let you know.

I've tested your script and then tried on another one to replicate the issue, and it kept happening. I'll make sure to mention this issue once the PR is open.

[2020-07-08 11:28] AlexScheid commented on #2966
thank you very much for all the help!

[2020-07-08 13:38] Gilainefathy commented on #2737
I have a question, the way used here was the approximated one but what if i wanna use the other way
Then first i have to convert from lon lat to xyz ECEF then convert from xyz ECEF to xyz ENU.. then what shall i do to get the distance travelled in x and y from east north ?

[2020-07-08 14:47] Georgelingzj commented on #3038
I am trying bit by bit. I would like to build a function that generate random license plate on vehicles. But it seems quite tough.

[2020-07-08 15:57] ayushshah commented on #3033
Thank you for the detailed answer. I am able to follow the lead vehicle using controller.py.

Cheers!

[2020-07-08 19:30] #3033 closed

[2020-07-09 01:28] BigTailFox commented on #3025
Thank you, below list my suggestions:
1. parameters' and arguments' descriptions in LibCarla, including units, coordinate systems.
2. detailed descriptions of some methods, such as `getID` and `getTypeID` in `carla::client::Actor`，`getID` in `ActorBlueprint`, a little bit confusion.

by the way, I compiled LibCarla of 0.9.9.4 version, and I want to get the bounding box of an actor, but `Actor` has

[2020-07-09 08:24] Vaan5 commented on #2809
Hi, sry for the late reply.

Sadly i don't have a different scenario. The script i wrote in the first post is the smallest I could think of.

I tried it again yesterday with:

Here is exactly what i did:

1. Start Carla Server
2. Open console; add the carla egg to the PYTHONPATH variable
3. Run python tick_hangs.py // I named the script tick_hangs.py (i just copied the code from my first post into

[2020-07-09 08:24] #2842 closed

[2020-07-09 08:49] Axel1092 commented on #2793
Hi @hepeng187, we found that this problem was a bug with traffic lights that caused the actors to be missing on the client side. We are fixing this in the new PR currently under review. Thank you for pointing these problems, you may try to move to the branch `axel1092/traffic-light-cleanup` if you are working with master and see if the problems are solved.

[2020-07-09 14:00] sergi-e commented on #3025
@BigTailFox  Thanks a lot for the suggestions! I will update this as soon as possible.

[2020-07-09 14:02] XGodina commented on #2587
@Zhuxy @chandeep11. I advise you to use the current version of CARLA0.9.9. Does this only happen in Town03?

[2020-07-09 14:29] sergi-e commented on #2884
@HarnarayanSingh I think he does. You can replay a simulation and retrieve the data for every frame recorded, instead of just some important ones. Just set the second parameter in the call for `show_recorder_file_info(self, filename, show_all=True)`. Maybe from there you cane derive the data you need.

[2020-07-09 14:53] XGodina commented on #3038
@Georgelingzj We are working on it. As soon as possible  I'll let you know.

[2020-07-09 15:09] AlexScheid commented on #2934
Update:
After some tests there were still some points that had to be improved. For example the collision bodies of UE4 did not match with the optical mesh ("pxvis collision" in UE4 cmd) and the x-direction was not scalable.
These problems are solved with the this update and the scalable vehicle can be used as expected.
Changes:
As described in the first two images of this issue, I added the "exten

[2020-07-09 16:50] germanros1987 commented on #3040
@bernatx could you please comment on this?

[2020-07-09 18:57] HarnarayanSingh commented on #2884
@sergi-e @germanros1987  Thanks for your help. Though I have been able to do the same by modifying manual_control.py script, I'll still try with the recorder option given that seems a good feature.  Will update and close this issue once i have tested that.

[2020-07-09 20:30] hh0rva1h commented on #2809
@doterop Just run the following script:

[code]

For me it takes less than a minute to trigger the issue:
[code]

[2020-07-09 20:40] GabiShahmayster commented on #2737
@Gilaine
Hi.
1. Convert map origin geolocation to ECEF (denote as O_ecef)
2. Calculate ECEF -> ENU rotation matrix (denote as R_ecef_to_enu) see [https://gssc.esa.int/navipedia/index.php/Transformations_between_ECEF_and_ENU_coordinates]](https://gssc.esa.int/navipedia/index.php/Transformations_between_ECEF_and_ENU_coordinates])
3. Convert any point's geolocation to ECEF (denote as P_ecef)
4. Subtr

[2020-07-09 20:57] hansbothe commented on #2769
Setup.sh line 204 adding "-Wno-reserved-id-macro" option supresses the warnings shown.

The following error messages seem to be related to C++13 added functions in stdlib, which indicates that the generation of Build/llvm-install... grabs older stdlib.h on MAC without those

[2020-07-09 22:02] gershom96 opened #3044 "How to get velocity at center of mass of ego vehicle?"
I have been trying to get the velocity of the center of mass of my ego vehicle.

1. I have tried to attach a center to the center of mass of the vehicle and then get its velocity. However, this failed. I assume this is due to the fact that you cannot obtain velocity at a specific point.

I know you could use an accelerometer sensor and calculate this. However I am looking for a much elegant soluti

[2020-07-09 22:18] hansbothe commented on #2769
definitely the same, see my comment there.

[2020-07-09 23:43] hnuma opened #3045 "creating an environment with limited borders in CARLA"
I want to apply Q-learning algorithm in CARLA. I need to create a discrete environment for this, how can I define it on code? I would be very glad if you can help about this.
(I only want to test autonomous driving on a certain area such as roundabout or intersection)

[2020-07-10 01:52] AIasd opened #3046 "Can I move a pedestrian via apply_control on Driving road?"
Hi!

I spawned a pedestrian on a Driving road and then invoked apply_control on it but the pedestrian gradually moved downward (to the ground) and then disappear. I tried to change the direction of the pedestrian to different values but it seems to not have any influence.

[2020-07-10 02:01] Doodle1106 commented on #3040
same problem here

[2020-07-10 09:36] #2793 closed

[2020-07-10 13:52] dev015 commented on #3019
@Vin1291 I solved the problem using a depth camera if you are still looking for solution, I can help you with this.

[2020-07-10 13:54] erdnaxe opened #3048 "Carla compilation environment version and docker Ubuntu version does not match"
`carlamsim/carla` docker image is built from `nvidia/vulkan:1.1.121-cuda-10.1-alpha` which is based on Ubuntu 16.04.
It seems that carla is compiled on Ubuntu 18.04, this causes compatibility issues when this docker image is modified to add Ubuntu's Python 3.5 and libstdc++6.

Why is https://github.com/carla-simulator/carla/blob/master/Util/Docker/Release.Dockerfile based on `nvidia/vulkan:1.1.121

[2020-07-10 15:00] siposcsaba89 commented on #286
Hello,

I am trying to disable rendering in carla, version 0.9.9.4 on windows 10. I have already tried with the config script:

./config.py --no-rendering

After that carla window turns to black, but the gpu usage still very high and if I start

./no_rendering_mode.py

Carla windows start to display the rendered view again. Does anyone have similar issues? Or solutions? Should it work on windows?

[2020-07-10 15:08] gn01121991 commented on #2463
Hi, I faced a similar issue recently, i solved the issue my opening the command prompt x64 Native Tools Command Prompt for VS 2017 with admin rights and followed steps mention in comment from @carfloresp ( path to carla\PythonAPI\carla and run python setup.py install)

[2020-07-11 01:46] AngelJA commented on #2403
Curious if this has been fixed.  Also getting a segmentation fault after running a python script on version 0.9.9.

Stack trace points to ThreadPool.h:
carla::ThreadPool::Run (this=<optimized out>) at ../../LibCarla/cmake/../source/carla/ThreadPool.h:63

Is this related?

[2020-07-11 05:06] #3023 closed

[2020-07-11 13:50] Schuck84 commented on #2881
Hi @shaoxiaohang,
which Python x64 Version exactly did you use?
I'm using 3.7.7 (x64) and no other Python version is included in my PATH envvar, but I still have the same error and the PythonAPI isn't build (No /dist folder either .egg file is created)...
I made a make clean and removed the Build folder already
Thanks

[2020-07-11 15:49] Schuck84 commented on #2881
Hi all,
after uninstalling all my Python versions except 3.7.7 on my PC, the built is successfully finished.
In my PATH envvar I'm pointing to this version.
Is there another workaround than removing all Python versions?
It's bothering to remove all Python versions, as they are required for other programming stuff.
Are there other scripts searching the disk for Python versions?
Only changing the en

[2020-07-11 23:17] Gilainefathy commented on #2737
Hey ,

Does these steps are the same in simulation and in the real world with real gps or shall we do something else ?

[2020-07-12 06:59] GabiShahmayster commented on #2737
@Gilaine
Hi. I don't really understand the question...
Any difference between "simulation steps" and "real-world steps" can only be due to the simulator's erroneous representation/modeling of the real-world, otherwise they should be the same...

[2020-07-12 12:37] Gilaine commented on #2737
What I mean the Xeast, Ynorth are the same as the delta x and delta y of the vehicle, I wanna make sure that if i moved 10 meter in x direction with the vehicle that would be equal to xeast, is this correct because that doesn't happen?

[2020-07-12 13:26] GabiShahmayster commented on #2737
What is Xeast?
Could you please provide more information or a numerical example...

[2020-07-12 14:39] Gilainefathy commented on #2737
What i mean is the following, we agreed that we transform from lat, lon,alt to xECEF, yECEF, zECEF, then we calculate the delta from the origin, then transform to the enu using the transformation matrix what i get right nw is delta xEast, delta yNorth, delta Zup in ENU coordinates

Let's  assume im moving with the vehicle 10 m forward, then i shall see that the delta yNorth=10 and delta xeast =0.0

[2020-07-12 18:23] jeffchen006 commented on #3040
Update: upgrade my Python from 3.6 to 3.7. and relaunch. Get new egg files. Everyting goes fine now.

[2020-07-12 23:01] govvijaycal commented on #2615
Just wondering - is it possible to get distance to stoplines for the traffic light manager?  I think this could help to anticipate how much to brake ahead of time vs. applying emergency braking as soon as the light turns red and maybe help with the intersection issue.

This also feeds into the decision logic for whether to stop or continue when the light is yellow.

[2020-07-13 06:11] GabiShahmayster commented on #2737
@Gilaine
Sounds right.
Just to make sure, what is the initial orientation of the vehicle (actor.get_transform().Rotation)?
For yaw = 0[deg], your vehicle would be heading east
Gabi

[2020-07-13 08:43] jackbart94 commented on #2403
Sorry for not updating but yes, it is already fixed in 0.9.9. This error was happening every time you had to shut down a python script involving Traffic Manager.

Not so sure what is happening in your script, maybe you could open a separate issue and give us more info!

[2020-07-13 08:48] Gilaine commented on #2737
so this is the point the heading that i receive is relative to the true north, and what i get right now the delta y is correct but the delta x is not correct at all, do you have any idea what can be the error?

[2020-07-13 08:59] GabiShahmayster commented on #2737
@Gilaine I'm sorry, it's very hard to understand your question without looking at data

[2020-07-13 09:55] whuxhzhang opened #3050 "details about collisions on carla-0.9.9"
Can Carla record more details about the collision, such as whether my car hit someone else or someone else hit my car

[2020-07-13 10:21] Gilaine commented on #2737
while True :

	GPS_DATA[k] = np.array([lat,lon,alt,head])

	phi = d2r * GPS_DATA[k,0]          ##lat
	Lambda = d2r * GPS_DATA[k,1]       ##lon

	s = math.sin(phi)
	s_eq = math.pow(s,2)

	N = a / (math.sqrt(1 - e_sq * s_eq))

	sin_lambda = math.sin(Lambda)
	cos_lambda = math.cos(Lambda)

	cos_phi = math.cos(phi)
	sin_phi = math.sin(phi)

	x[k] = (GPS_DATA[k,2] + N) * cos_lambda * cos_phi
	y[k] = (G

[2020-07-13 11:03] GabiShahmayster commented on #2737
@Gilaine

I'm sorry, this is a little beyond the scope of carla functionality...

good luck,
Gabi

[2020-07-13 11:03] bernatx commented on #3040
Probably your previous .egg with version 3.6 was incorrect. If you don't want to upgrade Python version try to use **make clean PythonAPI** and see if the new .egg works.

[2020-07-13 11:05] Gilaine commented on #2737
Thanks alot

[2020-07-13 11:06] bernatx commented on #3021
With new version of Python some deprecated functionality has been removed finally, and now we are using a new **distro** python module to know which distribution of linux your are running. You could get last version of code and install the module with **pip3 install distro**. It should work.

[2020-07-13 12:06] Doodle1106 opened #3051 "Merging multiple point cloud from depth camera"
Hi,

I am running the master branch of Carla on ubuntu 18.04 and I'm trying to build a lane mark map from depth camera and semantic segmentation camera on Sync Mode.

The process I followed is:

1. extract lane lines from segmentation;
2. project segmentation result to camera frame using pinhole camera model, call it **p3d_camera**;
3. transform **p3d_camera** to the vehicle frame according to htt

[2020-07-13 12:07] Doodle1106 commented on #3051
the camera to world transform is from : Twv = self.camera.get_transform()

is it the right function to use?

[2020-07-13 12:24] alexk-92580 commented on #2855
Hi @Axel1092 ,
the geometry record of the particular spiral in question is:
[code]
Let me know if you need any more information!

[2020-07-13 13:10] dsche opened #3052 "Segfault when loading large OpenDRIVE map"
I am experiencing a segmentation fault on loading of a large (~38M) OpenDRIVE map via the Python API. The segfault seems to happen somewhere in the string conversion on RPC call, even before the string is being meaningfully parsed, let alone a map constructed:

[code]

[map.xodr.zip](https://github.com/carla-simulator/carla/files/4912609/map.xodr.zip)

[2020-07-13 13:19] Alikerin commented on #2914
Hi everyone.. I need some help.

I setup CARLA on a Google VM and I have tried setting up the scenario_runner as well but I have been met with different challenges. I am able to run the PythonAPI examples of CARLA but not the manual_control.py of scenario_runner. It keeps saying "Waiting for the ego vehicle..." or "Scenario Not Ready". When I also tried running `python scenario_runner.py --scenari

[2020-07-13 13:29] wpp201820601009 commented on #2884
At present, I have encountered similar problems. First of all, I want to use the trained neural network for lane change and Carla for simulation. The first step is to collect data, including the position, acceleration, speed of the vehicle, the turning angle of the vehicle relative to the road, the distance from the left (right) lane, whether the left (right) Lane exists, whether the left (right)

[2020-07-13 15:13] magehrig commented on #2356
For example this is in Town05
![image](https://user-images.githubusercontent.com/6841681/87321031-ff8e4180-c52b-11ea-968a-19004beb6d54.png)

So it does not appear to be fixed. Can we reopen the issue since it is not solved?

[2020-07-13 16:13] Madecu commented on #1606
Hi, @dianchen96. We have fixed it. Now the rain starts at the beginning and it won't disappear when you spawn another vehicle or change the camera.

[2020-07-13 18:28] ZhengyaoYu commented on #2922
@bernatx Thank you for the suggestion. I just tried Python 3.7.2 and the issue persists.

[2020-07-13 21:30] DnDare commented on #2356
I'll have a look at this tomorrow, I'll post some updates

[2020-07-14 01:28] RadioGarret opened #3053 "Masking road and roadlines using semantic segmentation"
hi there!

I would like to ask you how to mask road and road lines using semantic segmentation.

I'm doing multi-threading in python

here're some codes

def MultiThreading(queue):
     while exitFlag is not True:
          queue_item = queue.get()
          queue_item = queue_item[: ,: ,2] # this converts the image to grascale
          ...

Does anyone know how to mask road and road lines only?

[2020-07-14 04:23] Doodle1106 commented on #3053
I'm doing someting similar, and here is my implementation to extract lanes:

[code]

[2020-07-14 05:15] chandeep11 commented on #2587
@XGodina Yes, This happens only in some parts of Town03 and the custom maps created with RoadRunner. I've a doubt, will the FBX from RoadRunner is used directly or some alterations do take place (like adding collision to road or landscape or any blocking volumes beneath the road) in Carla.?
P.S: I'm importing the RoadRunner model as it is without any modifications in UE4 and then testing the Pedes

[2020-07-14 06:20] germanros1987 commented on #3044
Hi @gershom96,

I don't believe the physics engine (PhysX) keeps the speed information at every point. Can't you just take the velocity of the vehicle as a rigid object?

@DSantosO should be able to add more to the topic.

[2020-07-14 06:21] germanros1987 commented on #3045
You should follow the documentation on how to create maps. @sergi-e can provide you with more information.

[2020-07-14 06:22] germanros1987 commented on #3046
@bernatx could you help with this?

@sergi-e could you point to the right documentation?

[2020-07-14 06:23] germanros1987 commented on #3048
@erdnaxe this seems to be a good suggestion. We would appreciate a PR with the change.

[2020-07-14 06:26] germanros1987 commented on #3050
Hi @whuxhzhang

Our goal in designing the recording system was to provide the minimum information that is needed in order to detect all possible events. However, we didn't plan to record all these events by default. You could parse the log and generate that information to assign responsibility to the right vehicle.

Hope this helps.

[2020-07-14 06:27] germanros1987 commented on #3051
@DSantosO could you help with this, please?

[2020-07-14 06:28] germanros1987 commented on #3052
@marcgpuig could you take a look?

[2020-07-14 06:30] germanros1987 commented on #3053
I don't believe this is the right place for this type of question. The forum is intended for that: [forum.carla.org](forum.carla.org). Please, create a question there. Leave GitHub for questions related to API behaviors and doubts. Use the forum for more general questions

[2020-07-14 06:31] #3053 closed

[2020-07-14 08:22] bernatx commented on #3046
Can you tell us in which map you tested? Is it an standard map included in CARLA or a custom one?

[2020-07-14 10:52] DSantosO commented on #3051
Sure, I will look into it.

[2020-07-14 11:34] whuxhzhang commented on #3050
Thanks for your replay. But where can I find the log ？

[2020-07-14 14:59] jeffchen006 commented on #3040
I'm pretty sure I did `make clean` and `make PythonAPI` previously and I got the error again and again with Python3.6.
I'm no idea how carla generates .egg files, but I'm suspicious there is something wrong with the process to generate .egg files.
Though I solved this problem by upgrading Python and relaunch, it would be great if some collaborators of carla project can take a look at carla-0.9.9 w

[2020-07-14 15:53] #2871 closed

[2020-07-14 15:53] #2958 closed

[2020-07-14 16:55] ZhengZhongyuan11 opened #3056 "'make import' only imports the open drive file but no models"
Hi guys, I have some problem with the command 'make import'. When I try to import my own map, which is created from RoadRunner,  by using make import, it only imports the open drive file, but no model was imported in the UE4 editor. In another word, it will generate a series of waypoints with an empty world.

Dose anyone know what happens here?

Thanks!

[2020-07-14 19:15] ZhengZhongyuan11 commented on #3056
[2020.07.14-18.56.17:527][  0]LogCore: Error: Invalid input P=360.648926 Y=-nan R=0.000000 to FRotator::Quaternion - generated NaN output: X=nan Y=nan Z=nan W=-nan

I got this log message, but how could know where this error happens?

[2020-07-14 21:18] DnDare commented on #2356
![image](https://user-images.githubusercontent.com/57799121/87477242-187c1d00-c628-11ea-8566-dd08c093ca02.png)
The bridge has been changed,  to be reviewed and approved  yet ,( will be updated in  future releases)

[2020-07-14 22:25] botcs commented on #219
Unfortunately neither RGB nor BGR works for me. Both results in something that can be seen in the first figure of #219

I have used the code from `image_converter.py` and still getting the same result.
Any idea what may I have missed?

[2020-07-14 22:44] hnuma commented on #3045
@germanros1987 thank you for your feedback.

Roadrunner is recommended according to the instructions on the site, but unfortunately there is no download authority. It issued a warning for students.

According to the CARLA site;

Create a map with RoadRunner
Export from RoadRunner
Map ingestion in a CARLA package
Map ingestion in a build from source
Modify pedestrian navigation
Deprecated ways to i

[2020-07-14 23:37] AIasd commented on #3046
Hi!
I actually finally figured it out. It is on Town10HD and I used the scenario runner (I probably should ask there). It seems that the problem is with the execution of

`
if self._physics:
    self._actor.set_simulate_physics(enabled=True)
`

in class ActorTransformSetter in atomic_behavior.py.

After I followed the scenario example (e.g. object_crash_vehicle.py) to set self_physics to False whe

[2020-07-15 06:07] dianchen96 commented on #1606
Awesome, thanks a lot!

[2020-07-15 07:44] Alikerin commented on #2914
@jackbart94 @fabianoboril I have been able to fix this issue with `manual_control.py` by spawning a hero vehicle before passing the world object to the WorldSR class in `game_loop` [here](https://github.com/carla-simulator/scenario_runner/blob/master/manual_control.py). I will like to know the originally intended behavior. Thanks

[2020-07-15 07:53] bernatx commented on #3048
@erdnaxe our docker build in carlasim is build on Ubuntu **16.04**, because is the minimum version we support.
If we apply your change, will it break our docker on Ubuntu 16.04?

[2020-07-15 09:07] bosu3076 opened #3057 "new map: NPCs could not follow the way generated with RoutePlanner"
Hello, I 'm trying to make new maps for Carla. As far as I know, new maps could be edicted in UE4, such as add created a new lane with Routeplanner. Although I have defined the route, which vehicles should follow, the NPCs with attribute"autopilot" seem like could not read those reference lines.

Any ideas? Thank you~

[2020-07-15 09:26] jackbart94 commented on #3057
Hi,

This changed after 0.9.7 with the introduction of Traffic Manager, which replaced the autopilot. Please, follow the new documentation for [making a new map](https://carla.readthedocs.io/en/latest/tuto_A_add_map/).

[2020-07-15 09:26] #3057 closed

[2020-07-15 10:05] erdnaxe commented on #3048
Indeed my change will upgrade carlasim/carla docker to 18.04. Maybe it could be possible to ship two docker images, one based on `nvidia/vulkan:1.1.121-cuda-10.1--ubuntu18.04` and one based on `nvidia/vulkan:1.1.121-cuda-10.1--ubuntu16.04` ?

@bernatx You seem to indicate that Ubuntu 16.04 is used to build carla, but at least in `carlasim/carla:0.9.9` I observed that:
* `/home/carla/PythonAPI/carl

[2020-07-15 10:48] igyosshy opened #3058 "RoadRunner Traffic Light Impor"
When I imported the traffic light that created RoadRunner into CARLA, it did not seem to be recognized. Is it necessary to set up CARLA?

CARLA Ver. 0.9.5

[2020-07-15 12:22] meitalcohenyaacobi opened #3059 "Carla cpp client for Android OS"
Hi ,
 we would like to generate carla c++ client for Android OS,
Do you support Android OS (client side)?
Do you support both x86/x86_64 and Arm/Aarch64 (client side)?
Thank you.

[2020-07-15 13:16] philowaddell opened #3060 "TrafficManager "set_percentage_keep_right_rule" has no effect on traffic behaviour"
CARLA version: 0.9.9.4
OS: Windows 10

This function appears in "LibCarla/source/carla/trafficmanager/Parameters.h" and is renamed in "PythonAPI/carla/source/libcarla/TrafficManager.cpp". No documentation appears for this funtion at: https://carla.readthedocs.io/en/latest/python_api/#carlatrafficmanager, however it is mentioned in a recent webinar: https://www.youtube.com/watch?v=n9cufaJ17eA&t=140

[2020-07-15 14:36] jS5t3r opened #3062 "How to start two carla servers from different versions?"
I have running Carla  0.9.9  and I also need to run Carla 0.9.8, but I get an error:

[code]

How to start two carla servers from different versions? I have 2 GPUs and can run them on different GPUs.

[2020-07-15 16:03] johschmitz opened #3064 "LibCarla C++ headers missing in release"
It seems there is no lib and include folders in the tar ball release which contain the LibCarla and are required to build the Client.
Could you include them in the next release?

[2020-07-15 16:06] Axel1092 commented on #2855
Hi @alexk-92580,
I found the problem, it was related to how we discretize the road in straight segment that was producing precision errors. A fix is placed in the related PR and will be included in the next release. Thank you for noticing this problem.

[2020-07-15 19:12] johschmitz opened #3065 "CppClient example Clang vs GCC and build system"
I would like to use GCC 7 to build the CppClient example.
GCC 7 is also specified in the included Makefile. However it seems it wants to use Clang to build LibCarla.
I doubt that we can even guarantee ABI compatibility between GCC and Clang.
What is the correct way to build the example with GCC?

I am a bit confused since the CARLA build system seems to follow be a big monolithic mashup approach i

[2020-07-15 20:13] ek65 opened #3066 "[0.9.9] PythonAPI build failure"
**Hi, I am using CARLA 0.9.9 in Ubuntu 18.04.4 LTS, with GCC version: 7.5.0, and python 3.8.
The carla python package was installed in python virtual environment with setup.py file in CARLA_0.9.9/PythonAPI/carla folder.

The error log is the following:**

compiling:
  - source/libcarla/libcarla.cpp
running install
running bdist_egg
running egg_info
writing source/carla.egg-info/PKG-INFO
writing de

[2020-07-15 20:44] ek65 commented on #3066
The solution is the following.
Go to CARLA_0.9.9/PythonAPI/carla/dist and execute "unzip carla-0.9.9-py3.6-linux-x86_64.egg"
This creates a folder called "EGG-INFO" in the same folder. Then, within EGG-INFO folder,
create a setup.py file with the following content:
from distutils.core import setup
setup(name='carla', version='0.9.9', py_modules=['carla'],)

Then, run "pip3 install -e PATH_TO_YOUR_

[2020-07-15 20:44] #3066 closed

[2020-07-16 02:31] pangxiao2013 opened #3067 "can i control the newly added vehicles light on or off？"

[2020-07-16 08:26] Lu7913 commented on #2976
Hi @avishek-mondal is there any progress? Could you share at least roughly abstract of what you did. Before i dive into Blender, I would like to know if this is even possible. I'm interested in creating .fbx files from osm.
Thank you

[2020-07-16 09:46] jackbart94 commented on #3060
Hi,

The value goes from 0 (no chance of doing it) to 100 (always keep on the most right lane). However, we have a revamping of this parameter scheduled, with others too.

Having said this, cars do normally drive in middle/outside lanes, they do overtake on both sides, and they sometimes don't overtake due to curvature of the road or other cars incoming. We will add more parameters to change this

[2020-07-16 10:22] Jabkowsky opened #3070 "Semantic Tag for new props does not work Carla 0.9.9"
Window version build from source ( 0.9.9.3 )
I have add the new props to .json file : ( Default.Package.json )
Example:
		{
			"name": "PedCross",
			"path": "/Game/Carla/Static/Props/Street/SM_PedCross.SM_PedCross",
			"size": "Small",
			"tag": "TrafficSigns"
		},

After build I can spawn "PedCross" sign as i need, but this "actor" does not appear on camera semantic segmentation as "TrafficSigns

[2020-07-16 10:24] Jabkowsky commented on #2866
I have similar issue on 0.9.9 version
See: https://github.com/carla-simulator/carla/issues/3070

[2020-07-16 11:02] dnychennnn commented on #1331
@pparmesh Hey, would you like to share some thoughts on the noise modeling?

[2020-07-16 11:36] magehrig commented on #2356
Great, thanks for addressing this issue. Are these changes already available on the current master branch?

[2020-07-16 12:02] DnDare commented on #2356
Yes, they're in art's master branch,  if you have access to private towns, there  are some redirectors that affects T09

[2020-07-16 14:47] sergi-e commented on #3045
Hi, @hnuma!
While reading you, a question came to my mind. If you only want to test your agent in simple scenarios such as a roundabout or intersections, is there any reason for you to create a map of your own?
In CARLA, Town03 has a roundabout and there are intersections in all the maps. Maybe you could use the already existing CARLA maps.
The ScenarioRunner module will allow you to define scenar

[2020-07-16 15:19] wbadry opened #3072 "[Request] Video showing how to do Windows Build"
Hello,
I read the document showing how to do [a Windows Build](https://carla.readthedocs.io/en/latest/build_windows/). However, for the Unreal Engine **UE4_ROOT** variable, it seemed to be written in a hurry as the statement of "the desired UE4 installation" is unclear at all.

I am aware that most of CARLA users are on Linux machines. However, I would appreciate it if someone could have time to p

[2020-07-16 15:35] kwetril commented on #2943
@bernatx any ideas what can we do to help investigate the problem?

[2020-07-16 15:41] magehrig commented on #2356
@DnDare Which branch is "art's master" branch? I am interested in using Carla with the corrected segmentation maps. Can I do that? If yes, how?

[2020-07-16 15:44] DnDare commented on #2356
We have 2 public master branches,  one is for code the other is for art assets, you just will have to update as usual.
If you have any problem, just ask

[2020-07-16 16:35] mehmor opened #3073 "Vehicle does not move when I set carla.WheelPhysicsControl"
I  added friction to the vehicle's wheels using the following code:

        front_left_wheel  = carla.WheelPhysicsControl(tire_friction=0.01, damping_rate=1.0, max_steer_angle=70.0, radius=30.0)
        front_right_wheel = carla.WheelPhysicsControl(tire_friction=0.01, damping_rate=1.5, max_steer_angle=70.0, radius=25.0)
        rear_left_wheel   = carla.WheelPhysicsControl(tire_friction=0.01, dam

[2020-07-16 17:25] kwetril commented on #2943
when I build my app with `carla_client_debug.a`, this assertion fails:
[code]

[2020-07-16 17:50] bernatx commented on #2943
Is that happening with Town03?

[2020-07-16 18:23] kwetril commented on #2943
With other maps too, but when the same code is executed with python client - method `carla::client::MakeMap()` works having the same input. Maybe there is a conflict with some libs from my app, for example I have boost 1.68 and carla uses 1.72.
Will try to reproduce with CppClient from Examples

[2020-07-16 19:18] kwetril commented on #2943
yep, it's something related to dependencies in my app, with [CppClient](https://github.com/carla-simulator/carla/tree/master/Examples/CppClient) the error doesn't reproduce for me

[2020-07-16 20:32] bernatx commented on #2943
Probably the boost version, because we use 1.72 as you say, but also we patch two files of boost to work with openDRIVE, so it seems both things are related to the problem. Try with the proper version of boost (CARLA will patch automatically if you use the **make setup** command).

[2020-07-16 21:20] kwetril commented on #2943
It's even more interesting now, the problem is related to Qt, I created a simple main() function and a single line causes crash:
[code]
without `QApplication` world.getMap() works, when uncommented - segmentation fault.
attempt to use boost from carla doesn't have any impact

[2020-07-16 23:28] ek65 commented on #2825
@Axel1092, I am having a similar issue with libcarla but in python setting. Would you mind looking into this error?
I am having issue installing CARLA 0.9.9 PythonAPI in python virtual environment, running on Ubuntu 18.04.4 LTS, Python 3.8, gcc version 7.4.0, clang version 8.0.0.3. The error log is the following:

[code]

[2020-07-16 23:31] avishek-mondal commented on #2976
Unfortunately, no progress on this yet - the issue with the XODR is still not solved and is holding things back. @marcgpuig is looking into this!

Regarding Blender, it has a add-on that does fbx exporting, as well as an add-on for osm to Blender object import. Both are accessible through the python console.

[2020-07-17 05:05] hidetoyo opened #3074 "How can I see some views of the car(front, right and left) at same time??"

[2020-07-17 05:09] #3074 closed

[2020-07-17 07:03] YanggangZhang commented on #2983
I seemed have met the same problem,u can try change to install new pygame version using "pip install " rather than "apt".

[2020-07-17 10:49] kwetril commented on #2943
tried different qt versions: 5.9.9, 5.12.9, 5.15.0 - everything crashes

[2020-07-17 11:55] kwetril commented on #2943
Finally, I identified the problem, it's related to the system locale, looks like Qt affects it somehow.
The default separator for floating-point numbers changes from `.` to `,`, it breaks xml parsing and only integer part of road lengths is used.
For me, the problem was fixed after setting locale manually:
[code]
@akramer123 , could you please check, if it helps you too?

[2020-07-17 13:40] wx9698 commented on #3065
Feel free to take a look at this [repo](https://github.com/wx9698/carlaviz/tree/master/backend). I use cmake to manage my building process and use both GCC and Clang to build the entire project. It might be helpful to you.
The LibCarla is under the "third_party" folder.

[2020-07-17 13:55] DSantosO commented on #3044
Hello @gershom96,
Like @germanros1987, I don't think you can recover the velocity at any point but, if all you need is the velocity in the center of mass, is there a reason why the get_velocity() of the actor is not good for you?

[2020-07-17 14:21] TheMaveric opened #3076 "[0.9.7] Cant find "dependencies\lib" and also the .egg files and thus unable to run Python scripts in carla like "spawn_npc.py""
[code]

But the list folder is not created and also no egg file is found.

[2020-07-17 18:04] #2855 closed

[2020-07-17 20:10] tiger-bug opened #3079 "labels for LiDAR data"
Good afternoon,

I was curious if there will be a label feature added to the LiDAR sensor.  I know several other people have posted about this in [issue 1751](https://github.com/carla-simulator/carla/issues/1751) and [issue 516](https://github.com/carla-simulator/carla/issues/516), and that individual has a version of carla with labels for LiDAR.  Is this something that the developers are looking

[2020-07-17 22:49] wx9698 commented on #3065
Yes, you can build the entire client example with gcc only.

[2020-07-18 08:04] glopezdiest commented on #3067
Hey @pangxiao2013. Yes you definitely can. Take a look at [carla.VehicleLightState](https://carla.readthedocs.io/en/latest/python_api/#carlavehiclelightstate).

You can also use the [carla.LightManager](https://carla.readthedocs.io/en/latest/python_api/#carlalightmanager), to change the rest of the scene lights too

[2020-07-18 09:57] RansML opened #3080 "v0.9.9 on Ubuntu 18.04. Segmentation fault. Malloc error. Signal 11."
I have been running carla_release_0.9.5 on Ubuntu 18.04 (with cuda 10.0) without having any trouble. I just downloaded the latest Carla binary (carla_release_0.9.9).

Now `DISPLAY= ./CarlaUE4.sh ` gives the following error.

Running `DISPLAY= ./CarlaUE4.sh -opengl ` shows nothing after printing the first two lines:

It looks like the GPU is trying to run something.

[2020-07-18 15:29] akramer123 commented on #2943
@kwetril
Thx! That fixed our problem!

[2020-07-18 17:04] #3040 closed

[2020-07-19 03:52] robrivas commented on #1881
I also have an issue with sync mode, pygame crashes immediately as the collision sensor is trying to be listened. I'm using the PythonAPI example file "synchronous_mode", putting a blueprint for the col. sensor, and trying to capture the data inside the while true loop.

[2020-07-19 06:35] pangxiao2013 commented on #2287
what if  the image is not a square image?

[2020-07-19 16:58] pritishmishra703 commented on #2995
Yess !!

[2020-07-20 01:27] germanros1987 commented on #3056
@marcgpuig since you are working on the import pipeline these days, could you take a look at this, please?
@ZhengZhongyuan11 could you prepare your map to be shared with @marcgpuig ?

[2020-07-20 01:27] germanros1987 commented on #3058
You need to update to 0.9.9.Y. That feature is not available in CARLA 0,9.5

[2020-07-20 01:27] #3058 closed

[2020-07-20 01:29] germanros1987 commented on #3059
Hi @meitalcohenyaacobi,

CARLA does not support a build for Android. You are welcome to play with the build process to generate a client for Arm architectures. We would be happy to hear about your progress.

Best regards.

[2020-07-20 01:34] germanros1987 commented on #3064
@johschmitz the artifacts of the release are pre-generated binary builds. You can get all the libs and includes by cloning the right tag. This is intentional.

[2020-07-20 01:34] #3064 closed

[2020-07-20 01:38] germanros1987 commented on #3065
@bernatx could you also provide some clarity here? Have you been able to build 0.9.9 with gcc-7? Also, we should probably make our cmake more modular, as suggested...

[2020-07-20 01:38] #3067 closed

[2020-07-20 01:39] germanros1987 commented on #3070
@marcgpuig since you are working on this, could you please provide a solution?

[2020-07-20 01:41] germanros1987 commented on #3072
@sergi-e could you please take care of making this part more clear in the documentation?

@wbadry in the release we create a binary build, while the repository is just the raw project.

[2020-07-20 01:43] germanros1987 commented on #3073
@DSantosO since you are the new master of physics, could you take a look into this? I am also adding @marcgpuig in case he has some insights. @manishthani if you are alive and want to comment, feel free...

[2020-07-20 01:46] germanros1987 commented on #3076
@TheMaveric are you finding these issues in the 0.9.9 version too? Could you please check?

[2020-07-20 01:49] germanros1987 commented on #3079
Future versions of CARLA will provide ground truth for point clouds. We will visit this topic during next releases. If this has a high priority for you and you have some bandwidth, perhaps you could contribute a solution...? Contributions are very appreciated!

[2020-07-20 01:50] germanros1987 commented on #3080
@RansML could it be that your driver doesn't support vulkan or that you haven't installed the vulkan dependencies? It seems that it is working perfectly using opengl (yes, that is what those 2 lines mean...everything is working fine). Could you check your driver, dependencies, etc?

[2020-07-20 04:03] RansML commented on #3080
Just to summarize,
- Carla v.0.9.5 (Ubuntu binaries) works when I run `DISPLAY= ./CarlaUE4.sh`.
- Carla **v.0.9.9** (Ubuntu binaries) does not work when I run `DISPLAY= ./CarlaUE4.sh` or `DISPLAY= ./CarlaUE4.sh -opengl`.
I have a NVIDIA GTX1060 GPU on a Razer Blade.

I also tried on a different laptop on Ubuntu 20.04. I get exactly the same error.

[2020-07-20 04:16] JarvanI opened #3081 "Is that something wrong about IMU document and code in manual_control.py about compass?"
Hi, everyone, I found somthing that made me confused and I hope someone can help me.
Here is a piece of code in manual_control.py, from line 528 to line 532
`        compass = world.imu_sensor.compass `
       ` heading = 'N' if compass > 270.5 or compass < 89.5 else ''`
     `   heading += 'S' if 90.5 < compass < 269.5 else ''`
    `    heading += 'E' if 0.5 < compass < 179.5 else ''`
       ` he

[2020-07-20 05:13] johschmitz commented on #3064
What about the Debian/Ubuntu package?Normally any other software is structured in a way that it is possible to use also precompiled libraries and build against them. Wouldn't it be nice if one could do a
sudo apt install carla-simulator-dev
and then be able to compile custom cpp client with the Ubuntu 18.04 default GCC compiler?
That was my idea behind opening this issue.
It would make everything

[2020-07-20 05:24] johschmitz commented on #3065
@germanros1987 @bernatx have you considered using Conan? It would be very awesome to be able to resolve all dependencies through Conan Center/Bintray and then build a CARLA client using a Conan recipe.
If the CMake is structured in a good way it should work with and without Conan. A little wrapper CMakeLists.txt at the top layer can achieve this.

[2020-07-20 06:19] villimikko commented on #2925
Tried to do that still having thse kinds of physics bugs on Carla.
![ezgif com-optimize](https://user-images.githubusercontent.com/61553242/87905848-238cde00-ca6a-11ea-8eb9-061535652cc1.gif)

What could cause this?

[2020-07-20 06:22] HuangSecretKey opened #3082 "How to set a special middle point using basic_agent"
The startpoint and endpoint can be set when using the basic_agent.py. But I also want the vehicle can pass through a special middle point. But how to realize it. The carla version is 0.9.8.

[2020-07-20 07:25] meitalcohenyaacobi commented on #3059
Hi @germanros1987
Thanks a lot.

I understand that I can't run CARLA simulator on android. but what I want to do is running a self-implemented client for connecting to the simulator server and receive sensory data from the simulator. The client run on remote machine and connect to CARLA via RPC calls. As far as I understand from the examples, the only dependency of such client is rpcLib. I found t

[2020-07-20 07:57] Axel1092 commented on #3080
Hi @RansML,
Using the `DISPLAY= ...` is intended to disable rendering (no window will appear) and it only works with the `-opengl` option. After running `DISPLAY= ./CarlaUE4.sh -opengl` have you tried to connect to the server? Try running the `test_connection.py` script in the PythonAPI/util folder.

[2020-07-20 08:09] Jabkowsky commented on #3070
EDIT: i tried with properly tagged stop sign in town10hd and add the same stop sign to jason file with same tag. It look like this
![image](https://user-images.githubusercontent.com/44050097/87913995-49b57c80-ca70-11ea-8f6b-455c250de89c.png)
Originally added stop sign to town is segmented with TAG = 12 correctly but spawned same sign :
		{
			"name": "Stop",
			"path": "/Game/Carla/Static/TrafficS

[2020-07-20 09:20] RansML commented on #3080
@Axel1092 When I remove `DISPLAY=` it loads the CarlaUE4 window and I can interact with it using my mouse. However, nothing shows on the CLI after,

`test_connection.py` fails with the message

When I run v.0.9.**5**, lots of print messages are typically displayed on the CLI before I can actually connect successfully.

[2020-07-20 09:43] uniwuppes opened #3083 "module 'carla' has no attribute 'Client'"
Hello,

I'm having trouble with the Python 3 module of carla.
I compiled it with `make PythonAPI` and it runs through without any errors.

I can also import the module successfully.
But the imported object does not have any child classes .

So when I'm trying to run an example script, I get this message
`module 'carla' has no attribute 'Client'`

The Python 2 version works just fine.

I don't have

[2020-07-20 09:57] gsmario commented on #2925
Hello @villimikko I'm asuming you're using blender, please, try to rig your wheels using only "rotation" as option, instead of "rotation and scale" and test it again. Also, set the wheels as kinematic in the physic asset.
I hope this helps.
![image](https://user-images.githubusercontent.com/44405709/87924949-e16e9700-ca7f-11ea-9bf6-109e32f3f68b.png)

[2020-07-20 12:14] TheMaveric commented on #3076
I do not get these in the prebuilt 0.9.8 version but I need to use UE4 and 0.9.7.. I think the .egg file is the issue.. Is there a link to the .egg file for 0.9.7 windows?

[2020-07-20 14:12] thytless commented on #3048
I am also confused with this problem. I found your docs about building on linux says 'Since release 0.9.9, CARLA cannot run in Ubuntu 16.04 using default compilers', but release image is based on 16.04 ...

[2020-07-20 14:41] bosu3076 opened #3084 "New maps with road construction zone: How to generate reference routes manually?"
Hello guys. I'm trying to make new maps with some road constructions, that means I need to generate the routes by myself, since the automatically generated routes by OpenDRIVE Actor in UE4 could not be used. However, I tried RoutePlanner tool, I am quite confused about how does it work.
![Bildschirmfoto vom 2020-07-20 16-02-08](https://user-images.githubusercontent.com/59999696/87948369-e560e000-c

[2020-07-20 15:08] bernatx commented on #3048
The thing is that we support Ubuntu 16.04 for building CARLA, but you need to install the proper version of compilers. The default compilers of Ubuntu 16.04 will not compile CARLA, because UE 4.24 requires newer versions of compilers.

[2020-07-20 18:45] hh0rva1h commented on #2899
@germanros1987 Unfortunately it seems not possible at the moment. We have access to a HPC cluster where Carla refuses to start due to a GPU issue:

[code]
Starting in norendering mode leads to the same error. Also starting on a server without GPU in no rendering mode fails.
Would be really great if someone could work on making it possible to work without GPU, but maybe this is not possible due to

[2020-07-20 19:06] hh0rva1h opened #3085 "Carla wastes CPU ressources in sync mode between ticks"
Consider the following code snippet:
[code]
Between the ticks Carla is frozen so I would expect it not to use much CPU resources, however actually Carla is always hogging the CPU:

![Screenshot from 2020-07-20 21-01-09](https://user-images.githubusercontent.com/61889859/87975948-962ea580-cacc-11ea-9533-77f3a5322283.png)

It would be great if Carla wouldn't waste resources when there is no simulati

[2020-07-21 01:54] jnd77 commented on #553
Hi.
This graph is great. Would it be possible to add one section about transformations and axis system in the documentation, and include this graph ? I think every newcomer to Carla spends some time initially to figure it out by going through github issues. Would be really helpful to have it in one place. :)

Thanks !

[2020-07-21 02:27] chandeep11 commented on #2925
Hello @villimikko, check [this](https://www.youtube.com/watch?v=w70w1o3nddg) link for detailed steps on adding a car in UE4 from Blender.

[2020-07-21 04:25] aqvia commented on #3083
I have the same problem.
Carla 0.9.9 / Ubuntu 18.04 / Python 3.6.9

[code]

Trying with Carla master, I got the following output.

[code]

[2020-07-21 06:03] thytless commented on #3048
@bernatx Got it, so where could I find requirements about compiler and libraries to build in Ubuntu 16.04? Thx!

[2020-07-21 09:06] p-testolina commented on #3012
Hi all,
I encountered a similar issue on both 0.9.9 and on the _latest_ docker image. I'm running long simulations to collect data from several sensors. To give you an idea, here you have some of the settings:
- FPS: 60
- Synchronous mode
- 4 RGB cameras
- 3 LiDARs
- 1 segmentation camera
- Duration (simulation time): 60 seconds
- Simulation runtime: ~1h30min on an NVIDIA 2080 Ti
This is for a sin

[2020-07-21 10:00] jackbart94 commented on #3012
Hi,

it's probably not the same issue, but I encourage you to either open a new GitHub issue with more details, or directly contact us on the CARLA Discord server, so that we can look a bit more into the problem!

[2020-07-21 10:08] little9999 opened #3086 "Can not genereate pedestrian navigation info with RecastBuilder"
Hi,

I'm using carla 0.9.9.2 under ubuntu 18.04.

Today I created a custom road map with RoadRunner, and then I follow the doc https://carla.readthedocs.io/en/latest/tuto_D_generate_pedestrian_navigation/ to generate the pedestrian navigation info.

The RecastBuilder log sounds good :
Loading...
Building...
Saving...

However I can not find the generated *.bin file.

**So I double check with the o

[2020-07-21 12:00] bernatx commented on #3048
In this link: https://carla.readthedocs.io/en/latest/build_linux/
You have requeriments for Ubuntu 18.04 and for previous versions (16.04)

![2020-07-21_135902](https://user-images.githubusercontent.com/45967456/88052380-7940b380-cb5a-11ea-9249-76d6f2468427.png)

[2020-07-21 17:36] boiscljo opened #3090 "Add a thermal camera"
Hi,

an increasing number of autonomous cars are using thermal cameras, a great new feature would be to include them as a new sensor in Carla. Even if it's just applying thermal-like textures to object on a different rgb camera.

[2020-07-21 20:16] carlaUE4new opened #3091 "Carla UE4 always crash"
I just installed Unreal engine (4.24.3) and the latest Carla from GitHub at this link (https://github.com/carla-simulator/carla). It seems Unreal engine is running fine and I can play some examples. Carla was installed based on instruction for Windows in this link (https://carla.readthedocs.io/en/latest/build_windows/). Almost at the end of installation (using make launch), it launched CarlaUE4, h

[2020-07-22 00:30] germanros1987 commented on #3012
@marcgpuig I believe we have encounter the " what(): length > 2.0f * std::numeric_limits::epsilon()" issue before. Do you have anything to add?

[2020-07-22 00:31] #3048 closed

[2020-07-22 03:47] youngsend opened #3092 "0.9.8 - Cannot create navigation bin file if import by Create one Blueprint asset"
Hi, everyone.
I am new to carla. I am using 0.9.8 and I want to spawn walker on my own map.

What I have done:
When I import my test.fbx into carla Unreal Editor by _Create one Blueprint asset_, ***FbxScene*** blueprint is generated and all StaticMeshes are in it. I cannot generate the pedestrian navigation bin file.
When I import test.fbx into Editor by *Create Level Actors*, *FbxScene* is not ge

[2020-07-22 07:06] Doodle1106 commented on #3051
I can send a copy of my code if that helps.
just let me know. Thanks for trying to help.

[2020-07-22 07:56] youngsend commented on #3092
I deleted the Sidewalk StaticMesh in FbxScene and added it (it is in Static folder) again in World Outliner.
After that I succeeded in creating pedestrian navigation file and spawning walker on sidewalk.

However, I still want to ask why navigation bin file cannot be created with FbxScene holding the Sidewalk StaticMesh.

[2020-07-22 08:16] DSantosO commented on #3051
@Doodle1106 Yes, sure. Post it here or send it to me to daniel.santos@osvf.org and I will look into it as soon as I can.

[2020-07-22 10:07] tgautam03 opened #3093 "Saving all camera sensor outputs to numpy array collectively"
Hi, I am using Carla 0.9.9.4 and running the script tutorial_ego.py
[code]
Saving each image is creating lots of problems and I want to store multiple images in numpy array (different numpy array for different camera sensor). I have been looking as how I can get the values and store them in an empty numpy array one by one, but I can't find anything for version 0.9.9.4. I just need large amount of

[2020-07-22 11:08] Lu7913 commented on #1386
@HanzhiC Have you figured something out, regarding VTD and Caral or some other tool besides RoadRunner?

[2020-07-22 12:20] AdelinaK opened #3094 "Include LibCarla in Visual Studio project"
Hello I wonder if it's possible to include the Carla C++ library in a Visual Studio project, use the methods it provides and also add another external libraries I need to work with in that project. If it's possible how can I exactly do that? Thank you.

[2020-07-22 14:13] wx9698 opened #3095 "Potential bug in the multi-stream sensor data transmission."
Hi team,

Recently I was playing with the multi-stream sensor data transmission feature and encountered the std::bad_weak_ptr exception. I guess it might be a bug caused by the shared_from_this() function. Here are the re-production scripts.

script1.py    # This file is intended to spawn two sensors (lidar + camera)
[code]

script2.py # This file is intended to listen to the "alive" sensors. This

[2020-07-22 21:01] YunzeMan opened #3097 "How to add new light source on top of the vehicle?"
Hi,

I am currently work on adding new source light on top of the vehicle. For example a vehicle roof-mounted light.

I wonder is it possible to customize it in python API or i need to do it in Unreal engine?

I've been working on it in Unreal for a while. But I don't know if this is the right direction to go.

Thanks!

[2020-07-22 21:46] YacineBenameur commented on #1459
Hi,
Just add `ego_vehicle.set_autopilot(False)` before ` ego_vehicle.destroy()`
cheers

[2020-07-22 22:07] hnuma commented on #3045
Hi @sergi-e thank you so much information you provided. I followed the paths you said. I downloaded CARLA's and scenario Runner's  last versions. I keep getting certain mistakes. Are there some incompatibilities for windows in CARLA? For example, I get the error "AttributeError: module 'signal' has no attribute 'SIGHUP'". This is mentioned as an error that appears on windows as far as I can see on

[2020-07-22 23:41] yasser-h-khalil commented on #1626
Hello,

I am facing the same issue. I tried easy_install but I get permission denied. I tried that statement also with "sudo", still didnt work.
I followed the carla build tutorial for linux line by line. But the last step didnt spawn the vehicles. It said "ImportError: cannot import name VehicleLightState"

Your help is much appreciated.

[2020-07-23 00:00] yasser-h-khalil commented on #3083
Same issue here

[2020-07-23 05:10] jnd77 commented on #76
This would indeed be a great feature.
It might be a lot to ask, but can it also handle static cars (see #2343) - am not sure static cars have an id?

[2020-07-23 05:20] vishal-246 opened #3099 "ModuleNotFoundError: No module named 'libad_rss_python3'"
Hi,

I've built RSS variant of carla and with python3 i have the libad_rss_python3 import error. error is shown below

`$ python3 manual_control_rss.py
pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html
Traceback (most recent call last):
  File "manual_control_rss.py", line 77, in <module>
    from rss_sensor import RssSensor # pylint: disable=relative-import
  Fi

[2020-07-23 06:59] meitalcohenyaacobi opened #3100 "Carla cpp client - RPC"
Hi ,
We would like to run a self-implemented client for connecting to the simulator server and receive sensory data from the simulator. The client will run on remote machine and will connect to CARLA via RPC calls.

As far as I understand from the examples:
1. The RPC server uses rpclib, which uses MsgPack for serialization (https://github.com/carla-simulator/rpclib , https://github.com/carla-simu

[2020-07-23 08:07] bender2po opened #3101 "1 or 2 FPS with synchronous_mode on GPU while recording image"
Hi,
I am running the 'synchronous_mode.py' with one change. That is, I am recording/saving images at 1280x720.
Normally, when i don't record the image, I get around 25-40 FPS. However, when I start recording the image then I get less than 5 FPS. Also, I observed that with less resolution, like 600x400, the performance improves to higher FPS.

Could you tell if there is anyway to get higher FPS for

[2020-07-23 09:43] charles-lei commented on #2898
Hi @StevePhan101, I ‘m suffered the same issue, how did you solve this?

[2020-07-23 11:23] TimLued commented on #2789
Hello,

unfortunately Carla still crashes after a few successful loops (in my case 4) with the following error:
RuntimeError: failed to connect to newly created map

[code]

[2020-07-23 12:50] sdhanase-valeo commented on #1626
Hi Yasser,

In the instructions they asked to use python3.. I think this is related something with how python2 and python3 are handling the  dependency issues.. So, after successful $ make PythonAPI.. Goto examples folder - $ cd PythonAPI/examples and run $python spawn_npc.py

[2020-07-23 13:13] Lu7913 commented on #3091
Hi,
Happened to me recently, updating the assets helped, I saw some assets have been changed recently, try with latest or one before that.

[2020-07-23 13:32] yasser-h-khalil commented on #2983
Installing pygame using "install" solved my issue too! I used the following command: `python2 -m pip install -U pygame --user`
Then running manual_control.py using python2.7 rather than python3.6.
With python3.6, I am getting ImportError even when running spawn_npc.py. However, with python2.7 it works fine.

[2020-07-23 14:12] #2866 closed

[2020-07-23 14:57] yasser-h-khalil commented on #1626
Hi,

Thanks for your response.
Yes, it worked with python2.7.
I noticed Carla installed python2.7 and 3.6. With python3.6, running spawn_npc.py gives import error. The same type of error appears when executing python3 manual_control.py.

[2020-07-23 16:12] yyab commented on #2847
Hi! Could you give some information on the integrated vehicle dynamics in Carla? Will that appear in the next Carla release? Are there going to a Pacejka tire model rather than the default tire model in the PhsicX? Thank you!

[2020-07-23 16:25] yyab opened #3104 "Question about implementing vehicles with Pacejka tire model in Carla"
Hi!
I'm planning to add a new car into Carla with more realistic vehicle lateral dynamical model, namely a "bicycle model" with Pacejka tire model. Though Carla has provided some tuning parameters on vehicle dynamics like tire friction, wheel damping rate, etc, the actual vehiclular model seems to be based on the Unreal engine vehicle blueprint, whose model is tied to the PhsicX engine. Is there a

[2020-07-23 19:50] bernatx commented on #2847
We are working on Carsim integration, but it is not ready for the next release.

[2020-07-23 21:19] yyab commented on #2847
Thank you for your reply! But since Carsim is a licensed product, to use Carsim in Carla we will have to by Carsim license, right? Are there any open-source way to implement more realistic tire model in Carla?

[2020-07-24 00:06] germanros1987 commented on #3081
@marcgpuig could you take a look at this issue?

[2020-07-24 00:10] germanros1987 commented on #3082
You can try to inject the point in the local plan created by the local planner. This is what is going on under the hood of the BasicAgent:

From the current point (starting point) and the provided target point, we invoke a global router, which provides a list of high-level waypoints. Then these waypoints are passed to the local_planner, which will command the vehicle to reach those waypoints. So,

[2020-07-24 00:32] germanros1987 commented on #3083
@bernatx could you take a look at this issue?

[2020-07-24 00:33] germanros1987 commented on #3084
@marcgpuig do you have some cycles to help with a simple explanation of the RoutePlanner and/or the OpenDRIVE Actor?

[2020-07-24 00:36] germanros1987 commented on #3085
Hi,

@hh0rva1h we will definitely try to keep improving the performance of CARLA and reducing the amount of computation needed. Now, while you are not ticking the server, the server is still doing stuff. At a minimum is listening for other possible clients (there could be more than 1 client trying to get things done).

We will try to make this aspect more efficient in the future. I will tag this i

[2020-07-24 00:38] germanros1987 commented on #3086
@bernatx could you have a look at this issue?

[2020-07-24 00:39] germanros1987 commented on #3090
Hi @boiscljo,

I think you are right. We would happily take your contribution. How long do you think it would take you?

[2020-07-24 00:41] germanros1987 commented on #3091
@sergi-e could you try to help this user, please?

[2020-07-24 00:42] germanros1987 commented on #3092
@bernatx could you help with this?

[2020-07-24 00:43] germanros1987 commented on #3093
@sergi-e I am pretty sure you could give good advise here.

[2020-07-24 00:44] germanros1987 commented on #3094
@Axel1092 could you help with this?

[2020-07-24 00:45] germanros1987 commented on #3095
@bernatx this is very relevant for the current release. Please, have a look at it.

[2020-07-24 00:46] germanros1987 commented on #3097
You need to do it from Unreal Engine. @XGodina could you help with this?

[2020-07-24 00:47] germanros1987 commented on #3099
@fpasch could you please help with this?

[2020-07-24 00:48] germanros1987 commented on #3100
@nsubiron @bernatx could you comment on this?

[2020-07-24 00:50] germanros1987 commented on #3101
@bender2po I believe this makes a lot of sense. That is a demo script, if you want better performance, write a new script to do the saving of frames in a separate thread.

[2020-07-24 00:50] #3101 closed

[2020-07-24 00:51] germanros1987 commented on #3104
@DSantosO @doterop could you comment on this?

[2020-07-24 00:55] YunzeMan commented on #3097
Thanks for your reply! @germanros1987
I did see the document [https://carla.readthedocs.io/en/latest/tuto_A_add_vehicle/](https://carla.readthedocs.io/en/latest/tuto_A_add_vehicle/), and I followed it to create a car model.

However, since I'm adding a new top-mounted light, and I want to be able to toggle it just like other light sources, I wonder what is the right way to do this. Do I have to so

[2020-07-24 00:58] germanros1987 commented on #3097
@Madecu you have worked on this. Could you help?

[2020-07-24 03:34] carlaUE4new commented on #3091
thank you, germanros1987. I got those above errors when I tried to install it and run it on my company's computer. I am not sure if there are some firewall issue or TCP port availability that could cause this problem. I tried to do the same thing tonight on my personal computer, it worked. So, could you please suggest what kind of firewall restriction or network policy could potentially cause thos

[2020-07-24 04:35] aviadziv opened #3106 "LibCarla in C++ client"
I would like to integrate LibCarla in C++ project.
I have seen this: https://github.com/carla-simulator/carla/issues/810
And there is an exmple here:
https://github.com/carla-simulator/carla/tree/master/Examples/CppClient

So it it now ready for integrate in C++ project?

Another thing, it is said that LibCarla only depends on boost and rpcLib.
So if I build my own client that use LibCarla, is the

[2020-07-24 05:36] Charan-Karthikeyan commented on #1423
Has anyone found the solution to the error. I have tried to remove and reinstall the carla module. But always end up with this error.
If anyone knows what to do, please do share.

[2020-07-24 08:16] bernatx commented on #3086
Hi, probably the map is too big to be processed. You can follow the following procedure. Just select all the meshes that involves in pedestrian navigation and deselect all that are not related, like the landscapes where the pedestrians can not navigate, the sky box...then export with the CARLA exporter, and try again with the new .obj.

[2020-07-24 08:25] bernatx commented on #3095
Hi Minjun Xu, glad you are back.
Thanks for all the details, I'm looking at it.

[2020-07-24 08:27] Madecu commented on #3097
Hi. You need to add a light inside the blueprints car and name it in the "Variable name" slot as 'special1-X'

![image](https://user-images.githubusercontent.com/54811869/88373226-bf368b00-cd97-11ea-960c-a321e80d7648.png)

[2020-07-24 09:29] roserbatlle commented on #2666
Hello @AmirHarvey,
I'm also intending to reproduce the image above in my simulation. Were you able to solve this issue? If so, could you share some recommendations?
Thanks! :)

[2020-07-24 09:32] HuangSecretKey opened #3107 "Having Problem with Importing Carla Dependencies"
when I implement a other's program, I found the following error when importing the dependencies, so is it related with the vision, and i use 0.9.8.

[code]
I get the error that there is no sensor in carla.

[2020-07-24 09:33] HuangSecretKey opened #3108 "Having problem with importing denpendencies"
<!--
when I implement a other's program, I found the following error when importing the dependencies, so is it related with the vision, and i use 0.9.8.

[code]
I get the error that there is no sensor in carla.

[2020-07-24 09:35] #3108 closed

[2020-07-24 10:18] YacineBenameur commented on #1371
Hi,

Please, what about the vertical field of view ?

[2020-07-24 10:58] bernatx commented on #3100
Hi,
CARLA uses the RPCLib library for all the RPC commands.
The RPC folder in LibCarla is just the serialization of all commands that CARLA uses. There, we use the RPCLib for the serialization of our commands with MsgPack.
So, there is only one RPC library to use.

[2020-07-24 13:53] bernatx commented on #3092
Hi,
Have you any file to share so we can test it?
I suppose the FBX has something that has problems when it is imported to Unreal (we use the FBX importer from Unreal).

[2020-07-24 23:38] germanros1987 commented on #3106
No blockers in principle, but we have never tried out. So please, be our guest.
@bernatx do you anticipate any problems compiling libcarla for android?

[2020-07-24 23:39] germanros1987 commented on #3107
Please, could you provide more information, e.g. the trace?

[2020-07-25 19:39] yasser-h-khalil commented on #3040
I am facing the same issue as @jeffchen006. With Ubuntu 18.04, Python3.6 comes by default. I am getting .egg of 3.6 which fails to launch the python examples in ~/carla/PythonAPI/examples. I tried upgrading python to 3.7 but failed.

@jeffchen006 could you provide help with how did you upgrade your python from 3.6 to 3.7. And what are the following steps post python upgrade?

Your help is apprecia

[2020-07-26 05:33] meitalcohenyaacobi commented on #3100
Thanks a lot :)

[2020-07-26 10:47] therobotprogrammer commented on #1054
@papabst

Here is my solution. It seems the problem occours when using anaconda:

#Problem:
gcc: error: _[carla_repository_folder]_/carla/PythonAPI/carla/dependencies/lib/libboost_python37.a: No such file or directory
error: command 'gcc' failed with exit status 1
Util/BuildTools/Linux.mk:83: recipe for target 'PythonAPI' failed
make: *** [PythonAPI] Error 1

#Solution:
cd ~/anaconda3/envs/_[your_

[2020-07-26 16:24] ozgurovic commented on #2858
I think I have a similar problem. The same script works for Town01, but for Town02, I get Segmentation fault (core dumped) error. I use around 18 vehicles and 15 pedestrians for spawning.

[2020-07-27 04:53] #3046 closed

[2020-07-27 05:22] AIasd opened #3109 "RuntimeError: Resource temporarily unavailable after start and end of ~350 clients"
Hi,

I encountered "RuntimeError: Resource temporarily unavailable" for the line initializing a new client `client = carla.Client('localhost', 2000)` after I start, run simulation, and end ~350 clients sequentially on the same carla server.

I noticed that the opened files by the carla server process will always increase by 2 after each start and end of one client. Meanwhile, TCP connection will i

[2020-07-27 05:34] AIasd opened #3110 "Is it possible to run CARLA server within the client side code?"
Hi,

I am trying to run a CARLA server at some point within the client side code as the following:
[code]
After these two lines, I observe by using `top` in the terminal that CarlaUE4 is running successfully at localhost:2000. However, I find that the client fails to connect to the server no matter how long they try:
[code]

If instead, I run the server externally and run the client code afterward

[2020-07-27 08:39] meitalcohenyaacobi opened #3111 "Including LibCarla in a C++ project"
Hi,

LibCarla builds its own version of boost and rpclib,
Is it ready to be included in another project (C++ API)?

Thank you.

[2020-07-27 08:52] #3094 closed

[2020-07-27 13:07] RehabHsn opened #3112 "Episode for CARLA9.9"
how to start Episode in CARLA 9.9 and spcify number of frames per episode?
Thanks

[2020-07-27 13:25] fpasch commented on #3099
That error looks like you're using a Python Egg without RSS enabled. Please ensure, that
1. you've build it with rss enabled (e.g. `make PythonAPI.rss.2`)
2. the search order in your PYTHONPATH is pointing to the right egg.

[2020-07-27 13:45] AndrewChaschin opened #3113 "GNSS sensor problem"
Hello dear community!
Where is the GNSS sensor located on the car model?
At what point (area)?
This is necessary to simulate antenna offset.
Sorry for my English (google translate)
![image](https://user-images.githubusercontent.com/24415915/88548633-32aef580-d041-11ea-9274-3db34f8ceae5.png)

[2020-07-27 14:29] boiscljo commented on #3090
Hi @germanros1987,
I'm trying to evaluate the time required but I can't manage to open a recent enough version of Unreal Engine to open Carla simulator project:"We can't open project since it's made with a more recent version of Unreal Engine". Once opened, and if my assumptions that UnrealEngine works the same as Unity, it should be a matter of two weeks. Adding a second texture to each object on

[2020-07-27 14:59] little9999 commented on #3083
same here

[2020-07-27 17:43] ZhengZhongyuan11 commented on #3056
@germanros1987 Yeah, it is available, but could you leave me your email address, so that I could send it to you?

[2020-07-27 20:58] germanros1987 commented on #3109
@bernatx could you please look into this issue?

[2020-07-27 21:02] germanros1987 commented on #3110
Hi,

I think your question needs to be rephrased. You mean if it is possible to launch the CARLA server from Python or any other language. That shouldn't be a problem. I have done it for several projects in Python.

Now, why are you invoking CarlaUE4.sh with a perl interpreter?

[2020-07-27 21:03] germanros1987 commented on #3112
@RehabHsn what do you mean by number of frames per episode? Could you provide a more elaborated description?

[2020-07-27 21:05] germanros1987 commented on #3113
@AndrewChaschin you can mount the GNSS sensor wherever you want. The API allows you to indicate where the GNSS sensor (or any other sensor) is located.

[2020-07-27 21:05] #3113 closed

[2020-07-28 01:24] AIasd commented on #3110
@germanros1987 Thank you for the quick response!
It turns out that if I add time.sleep(5) after launch the CARLA server from Python before I run
[code]
will make it work.

[2020-07-28 01:24] #3110 closed

[2020-07-28 01:26] OAkyildiz commented on #1195
Why is the path `/Game/Carla/..` and not 'Unreal/CarlaUE4/Content'? Where are these files are being copied?

[2020-07-28 07:44] thytless opened #3117 "Custom quality level"
Hello! I am working with carla 0.9.9 which runs as a docker container, and I am looking for something other than cmdline option **'-quality-level'** that customizes rendering in order to ease pressure of rendering thread and get a better fps in sync mode.

I've read about **CarlaSettings.cpp**, which looks like taking quality-level as input and update the server settings. I've also tried to modify

[2020-07-28 07:53] thytless commented on #3117
BTW, I am not sure if it is the case that rendering not fast enough leads to low fps (about 35), how could I test it? I just found that one thread of Carla  always takes 95%+ cpu in htop gui.
My cpu is Intel E5 2680 and gpu is 1080Ti

[2020-07-28 09:05] whuxhzhang opened #3118 "carla speed up play"
Can Carla-0.9.9 speed up the play ？

[2020-07-28 09:34] whuxhzhang commented on #3104
I have the same question,

[2020-07-28 10:27] glopezdiest commented on #3119
Adding @bernatx and transferring it to the CARLA main repository, as this doesn't seem to be ScenarioRunner related anymore

[2020-07-28 16:59] gsujansai commented on #3019
Hey @dev015. I am working on something similar [3028](https://github.com/carla-simulator/carla/issues/3028). Can you share your solution.

[2020-07-28 18:50] gsujansai opened #3121 "Changing and adding Actorspawnresult messages"
Hi

I want to add a new Actorspawnresult message. As a first test, I modified the collision message as a sanity check. I modified the following file "carla/Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Actor/ActorSpawnResult.cpp" [ActorSpawnResult](https://github.com/carla-simulator/carla/blob/a98406924d71ed77e0853150fb195d180a0b7e61/Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Actor/ActorSpawnResult.c

[2020-07-28 19:55] guntherkrehl opened #3122 "bad_weak_ptr"
(This is a copy of the forum entry: https://forum.carla.org/t/carla-client-core-throwing-bad-weak-ptr/379)

Hi everyone,

Ever since I started using CARLA i used the ROS bridge in conjunction with it. I love all of the stuff you’ve created and it works like a charm, almost. One error I have been encountering since 0.9.6 (when I started) was that when I remove actors (most commonly ego actor with l

[2020-07-28 20:13] VictorWeidar opened #3123 "Adding new blueprint types to the Actor Registry?"
Hello!

For a while now I have been trying to register new actors to Carla, so that I may access them in our python scripts. After little bit of reverse engineering I managed to figure out how to register classes that were already included in UE4 such as Directional lights or Atmospheric Fog. I did this using the "ActorView.h" and "ActorRegistry.cpp" scripts.

However, when I try to add my own blu

[2020-07-28 23:32] Jaskaran-Singh-Sodhi opened #3124 "Exception while installing dependencies in Ubuntu 18.04"
I'm trying to build CARLA in Ubuntu 18.04 by following the documentation.

While entering the following commands, an exception occurs,

sudo apt-get install build-essential clang-8 lld-8 g++-7 cmake ninja-build libvulkan1 python python-pip python-dev python3-dev python3-pip libpng-dev libtiff5-dev libjpeg-dev tzdata sed curl unzip autoconf libtool rsync libxml2-dev &&
pip2 install --user setuptool

[2020-07-29 00:07] yuanz4 opened #3125 "Patch for Unreal in Linux build"
Hello,
I follow the step in "Linux build", but seems I can't patch with
`wget https://carla-releases.s3.eu-west-3.amazonaws.com/Linux/UE_Patch/430667-13636743-patch.txt ~/430667-13636743-patch.txt
patch --strip=4 < ~/430667-13636743-patch.txt`
Is it some path problem? It just ask me the "File to patch"
Thanks!

[2020-07-29 02:05] Jaskaran-Singh-Sodhi commented on #2850
I had a similar error but I'm not sure what to do

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/install.py", line 360, in run
    prefix=options.prefix_path,
  File "/usr/lib/python2.7/dist-packages/pip/req/req_set.py", line 784, in instal

[2020-07-29 05:54] Privilger opened #3126 "Version mismatch, Simulator API version: xxx - dirty"
Hi,

I meet a strange problem.

I have a Windows with Carla server 0.9.9 on it. Python version: 3.5.3
And another Ubuntu 16 with Carla client 0.9.9 on it. Python version: 3.5.6

When I connect the client with the server, it said that:

[code]
What is the meaning of **dirty** ?

When I using the `manual_control.py`, the interface is very stuck, I think the fps might be 3 or 4.

Another problem is t

[2020-07-29 06:21] thytless commented on #3126
1. Dirty means you build the Python API with a dirty git repo (with uncommited changes)
2. (Stuck...) Maybe you should post your GPU and CPU info?

[2020-07-29 06:59] Privilger commented on #3126
Hi,

Thanks for your reply. The first answer does solve my problem.

The Stuck is quite strange... it works well on my computer A, but stuck on my computer B.

[2020-07-29 07:50] fpasch opened #3127 "White image with default attributes"
Setting the default values (as described in the documentation) leads to a completely white camera image.,

                        bp.set_attribute('shutter_speed', '60.0')
                        bp.set_attribute('iso', '1200.0')
                        bp.set_attribute('fstop', '1.4')
                        bp.set_attribute('min_fstop', '1.2')
                        bp.set_attribute('exposure_

[2020-07-29 08:00] Axel1092 commented on #3094
Hi @AdelinaK, maybe you already solved your issue but you will find the library and include files of Carla in PythonAPI/carla/dependencies once you compile carla. You can link these to your application to enable carla.

[2020-07-29 10:51] Axel1092 commented on #3083
Hi all, we have found that there is an issue with the latest version of the setuptools library in python3 that builds the *.egg files with the PythonAPI. Using an earlier version of the library solver the issue, this command installs the working version `pip3 install -Iv setuptools==47.3.1`.

[2020-07-29 11:02] hishamyousry commented on #2465
@pawel-ziecina did you happen to find the cause of this issue? I am facing the same issue on carla 0.9.9.4.

[2020-07-29 13:02] ffabi opened #3130 "Lens distortion attributes"
Can you help me find the correlation between the lens distortion attributes defined in Carla and radial/tangential distortion coefficients?

OpenCV documentation defines k1-k6 for radial distortion and p1, p2 for tangential distortion:
https://docs.opencv.org/2.4/modules/calib3d/doc/camera_calibration_and_3d_reconstruction.html

I would like to define these values, can you help me calculate the at

[2020-07-29 13:24] dev015 commented on #3019
@gsujansai Hey, I have solved it via depth, not with segmentation, are you looking to solve it via depth as well?

[2020-07-29 15:35] hishamyousry opened #3132 "Incorrect CARLA_VERSION in Precompiled Versions"
I am running the CarlaUE4 server from Windows, and connecting with a client running on a Linux application.
I downloaded the precompiled binaries of 0.9.9.4 from here: https://github.com/carla-simulator/carla/releases/tag/0.9.9

The problem is that I get weird version numbers when requesting version numbers from the client side:
`print(client.get_server_version())`
`print(client.get_client_version

[2020-07-29 16:07] gsujansai commented on #3019
@dev015 I am trying to filter out actors that are in front of the ego car or sensor. So only actors that are currently rendered. Although your solution might not be directly related, since you are trying to filter out occluded actors, it might give me some ideas on how to approach my problem. So depth should also be fine.

[2020-07-29 21:11] gsujansai commented on #3125
Hey, The patch is probably downloaded inside your Unreal folder if you ran the wget from that location. Check the location of 430667-13636743-patch.txt and run the patch command at that location

[2020-07-29 21:16] gsujansai commented on #3124
Hey. Could be related to [link](https://askubuntu.com/questions/1040392/easy-install-command-not-found). But this seems to python issue and you ll probably have better luck in finding an answer on stackoverflow.

[2020-07-30 00:52] yuanz4 commented on #3125
Thanks! I run it again and it works

[2020-07-30 00:52] #3125 closed

[2020-07-30 01:57] germanros1987 commented on #3117
Modifying the .ini file should have an effect in the rendering capabilities. @marcgpuig could you comment on this?

[2020-07-30 01:58] germanros1987 commented on #3118
Could you please elaborate your question?

[2020-07-30 01:59] germanros1987 commented on #3121
@bernatx could you please help with this?

[2020-07-30 02:02] germanros1987 commented on #3122
@guntherkrehl you are always too nice to us...undeserved!  (but thanks).

Let's take care of this as soon as we can. @bernatx @joel-mb @Axel1092 could you please coordinate a solution for this bug? We want to make ROS a 1st class citizen.

[2020-07-30 02:03] germanros1987 commented on #3123
@marcgpuig @Madecu could you please provide some advice on what is the easiest path to do this?

[2020-07-30 02:04] germanros1987 commented on #3124
Agreed. Please try StackOverflow for this particular issue.

[2020-07-30 02:04] #3124 closed

[2020-07-30 02:05] germanros1987 commented on #3126
Thanks @thytless for helping!

[2020-07-30 02:05] #3126 closed

[2020-07-30 02:07] germanros1987 commented on #3127
@marcgpuig --master of sensors, ruler of blueprints, breaker of shaders-- do you care to comment?

[2020-07-30 02:08] germanros1987 commented on #3130
@marcgpuig which model did you follow to implement the lens distortion?

[2020-07-30 02:13] germanros1987 commented on #2548
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-30 02:13] #2548 closed

[2020-07-30 02:13] #2644 closed

[2020-07-30 02:14] germanros1987 commented on #2645
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-30 02:14] #2645 closed

[2020-07-30 02:15] germanros1987 commented on #2748
@lisatenbo are you still interested in this issue?

[2020-07-30 02:15] #2753 closed

[2020-07-30 02:15] #2762 closed

[2020-07-30 02:16] germanros1987 commented on #2797
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-30 02:16] #2797 closed

[2020-07-30 02:16] #2800 closed

[2020-07-30 02:49] ZhangJian322920 commented on #897
I have the same error。Can anyone know why。

[2020-07-30 03:05] chandeep11 opened #3135 "Carla 0.9.9.4-Multiple Manual Controls not working - Independent Client-Server Configuration"
I'm running Carla server in one system and the Python Client in another system. Both are connected to same LAN Network.
I can able to run 1st manual control successfully in the client system. When trying to run 2nd manual control in the client(while 1 is still functional), I'm getting the following error.

`RuntimeError: time-out of 2000ms while waiting for the simulator, make sure the simulator i

[2020-07-30 03:39] #2816 closed

[2020-07-30 03:39] germanros1987 commented on #2818
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-30 03:39] #2818 closed

[2020-07-30 03:40] germanros1987 commented on #2840
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-30 03:40] #2840 closed

[2020-07-30 03:41] germanros1987 commented on #2890
@lp249839965 are you still interested in this issue?

[2020-07-30 03:44] germanros1987 commented on #2899
@hh0rva1h we will make this a feature request. Hopefully, we will be able to take care of this in future releases.

[2020-07-30 03:44] germanros1987 commented on #2906
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-30 03:44] #2906 closed

[2020-07-30 03:44] #2926 closed

[2020-07-30 03:45] #2975 closed

[2020-07-30 03:45] germanros1987 commented on #2979
@xiaoyang666 is this still a problem?

[2020-07-30 03:45] #2981 closed

[2020-07-30 03:46] #2996 closed

[2020-07-30 03:47] germanros1987 commented on #3003
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-30 03:47] #3003 closed

[2020-07-30 03:48] #3022 closed

[2020-07-30 03:51] germanros1987 commented on #3030
@gengtsh this has to do with the way the xserver is configured. A few points:

- Have you tried running the docker image of CARLA in the server?
- Do you really need X forwarding? Could you just set up a camera to receive images on the client?

[2020-07-30 03:51] #3039 closed

[2020-07-30 03:52] germanros1987 commented on #3050
https://carla.readthedocs.io/en/latest/adv_recorder/

[2020-07-30 03:52] germanros1987 commented on #3059
Not that I am aware of. @bernatx do you see any potential blockers?

[2020-07-30 03:53] germanros1987 commented on #3079
@tiger-bug good news. This feature has been recently developed and will be part of 0.9.10, expected in a few days.

[2020-07-30 06:26] fpasch commented on #3127
solved by #3115

[2020-07-30 06:26] #3127 closed

[2020-07-30 07:10] aqvia commented on #3083
@Axel1092 It works fine. Thank you for the information.

[2020-07-30 08:42] khojir commented on #3093
Hi,
each sensor has a `listen` function. according to your code, you are printing the received data. Instead of printing them, you can append the data to a `list` or a `numpy array`. When you have multiple sensors, you need to define multiple arrays or lists.
Maybe you face situations like storing 2 depth data and 1 semantic segmentation. I'm not sure all sensors are working synchronized. But I th

[2020-07-30 09:20] gsujansai opened #3138 "PythonAPI world.get_lightmanager wrong name in documentation"
Hi,

The documentation for LightManager in PythonAPI has the function name as get_light_manager [link](https://carla.readthedocs.io/en/latest/python_api/#carla.World.get_light_manager).

But the function name is
`.def("get_lightmanager", CONST_CALL_WITHOUT_GIL(cc::World, GetLightManager))` in [world.cpp](https://github.com/carla-simulator/carla/blob/master/PythonAPI/carla/source/libcarla/World.cpp

[2020-07-30 09:43] Shubham-Sahoo commented on #2863
@glopezdiest  I'm having the same issue and I'm using CARLA version 0.9.7.

[2020-07-30 10:57] ffabi commented on #3130
For a while, pinhole camera model was sufficient for me, but I would like to generate images with a given radial and tangential distortion according to the Brown–Conrady model. I would like to mimic a real-world sensor which has defined k1, k2, p1, p2, k3 parameters.

[2020-07-30 13:44] tiger-bug commented on #3079
Thank you!!! That is awesome!

[2020-07-30 13:47] Almaz-KG opened #3140 "[Request] Installation guide is required for MACOS users"
Hi, all! Hope you are well)

Guys, could you help me, please! I wanna make some stuff using Carla Simulator, but I'm struggling with installation process on my macOS. What can I do with installation? Is it possible to install a simulator on MacOS, or how can I run it (maybe using some docker-linux image or in cloud machine). I need the easiest way to install and start with your great project.

Tha

[2020-07-30 14:01] Axel1092 commented on #3107
Hi @HuangSecretKey, maybe you are experiencing the same problem as in issue #3083. Check if that solution works for you.

[2020-07-30 14:28] germanros1987 commented on #3130
@marcgpuig are we using the Brown–Conrady model to create the lens distortion?

[2020-07-30 19:17] ICGog opened #3143 "Cannot execute multiple CARLA instances on a single machine because the traffic manager port is hardcoded"
Thanks for your work!

I want to execute several CARLA simulators on a single machine, but this is not possible because the traffic manager port is hard coded in the code here: https://github.com/carla-simulator/carla/blob/693d0112f72330b779737612274a3b15c950f70b/PythonAPI/carla/source/libcarla/Client.cpp#L65

[2020-07-30 21:09] ICGog commented on #3143
Closing this because this is not an issue if one specifies the port on the SetAutopilot command.

[2020-07-30 21:09] #3143 closed

[2020-07-31 00:04] germanros1987 commented on #3135
@chandeep11 does this behavior occur also in 0.9.9.4?

[2020-07-31 00:04] germanros1987 commented on #3138
@sergi-e could you please take care of this?

[2020-07-31 00:06] germanros1987 commented on #3140
@Almaz-KG We currently don't have proper MacOS support. The closest we got is this PR: #2433

[2020-07-31 03:07] chandeep11 commented on #3135
@germanros1987  Yes, it occurs in 0.9.9.4 too.

[2020-07-31 07:43] whuxhzhang commented on #3118
OK，
When I set the speed low, it takes a long time to see the results. So I wonder if we can speed up Carla and see the results quickly，like a video playing at double speed.

[2020-07-31 09:53] lisatenbo commented on #2748
I'm not interested anymore.

[2020-07-31 11:43] lucasnmatias opened #3145 "No velocity or acceleration on log files"
I have been working with carla simulator (version 0.9.8) but have facing some problems when dealing with the log files. When I try to use `get_velocity()` and `get_angular_velocity()` from live simulation it works fine, but when I use those two functions during replaying a log file it returns 0 only and I can't get those information from vehicles. Do you have any guess about it? There is any way t

[2020-07-31 13:15] #3095 closed

[2020-07-31 13:19] marcgpuig commented on #3079
Closing the issue since this has entered in master in #3131!

[2020-07-31 13:19] #3079 closed

[2020-07-31 13:22] marcgpuig commented on #1751
This feature has been added in CARLA in #3131, with better performance and more accurate bounces in vehicles and pedestrians.

[2020-07-31 13:25] marcgpuig commented on #516
This has been added in #3131 :)

[2020-07-31 13:28] marcgpuig commented on #455
Road lanes are now detected by the new LiDAR introduced in #3131.

[2020-07-31 13:46] fabianoboril commented on #2863
@glopezdiest: I can confirm this issue with current master.

[2020-07-31 14:53] fabianoboril commented on #2863
I did some further testing to understand how this sensor works. It seems to perform sphere tracing, which is pretty well explained here: https://www.youtube.com/watch?v=Sg1siSsT2-0
Hence, the HitRadius is the important parameter to think about. A HitRadius of 250m will create a gigantic sphere, which will almost inevitably cause collisions. I am now using a HitRadius of just 1m, and now things are

[2020-07-31 15:48] khojir commented on #1999
bump

[2020-07-31 16:49] germanros1987 commented on #3135
@bernatx could you take a look at this and report back?

[2020-07-31 17:06] #2748 closed

[2020-07-31 17:07] germanros1987 commented on #3118
No, unfortunately, is not that simple.

[2020-07-31 20:25] carlaUE4new opened #3150 "Carla installation issue on Ubuntu laptop"
I am using the quick installation method to install Carla on my Ubuntu laptop, I followed the instructions

sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 92635A407F7A020C
sudo add-apt-repository "deb [arch=amd64 trusted=yes] http://dist.carla.org/carla-0.9.9/ all main"

then run sudo apt-get install carla-simulator

but run into following errors (i did pip install --user pygame num

[2020-07-31 23:51] bernatx commented on #3135
We tested and we can use more than one manual control. We tested through internet mixing windows and linux and it works also, but sometimes we need to specify a greater timeout to let the client connect to the server. The 2 seconds by default are not enough in some situations, so I advice to set that time bigger to allow for busy networks or internet.

I think that was the problem happened.

[2020-08-01 12:19] villimikko commented on #2925
I used this Blender addon to autorig my model  and after that i didint have any problems in carla.

Thanks everyone for helping me out!

https://continuebreak.com/creations/ue4-vehicle-rigging-addon-blender/

[2020-08-01 12:19] #2925 closed

[2020-08-01 12:38] #2979 closed

[2020-08-01 12:39] xiaoyang666 commented on #2979
Sorry to reply to you so late, I already understand that the carla simulator does not implement autonomous driving through behavior trees, thank you for your reply

[2020-08-01 22:57] yanlai00 commented on #3145
Facing the same problem for 0.9.9 when enabling autopilot. It seems that once autopilot is enabled, even if you disable it later, get_velocity() still always return (0, 0, 0).

[2020-08-01 23:47] Luque346 commented on #3091
Buy a PC

[2020-08-01 23:52] yanlai00 commented on #3145
There also seems to be some problem with get_location(). Not sure what kind of problem yet. However, when I enable and disable autopilot mode alternately with some probability the location of the car seems to update only once several frames.

[2020-08-02 03:42] karthikpythireddi opened #3151 "<boost/asio/buffer.hpp> , No dist folder and .egg files inside of it"
Platform: Dell Precision 5520
OS: Ubuntu 18.04
Version of Carla: Latest master

I'm seeing this below error while trying to run the make launch, also in the PythonAPI i was not able to find the dist folder which supposed to have the .egg files. Not sure how to resolve the issues am seeing.
~/carla$ make launch
Setup.sh: llvm-8.0 already installed.
Setup.sh: boost-1.72.0-c8 already installed.
Setup

[2020-08-02 22:48] songyanghan opened #3152 "Is there a way to see the UE4 window on a remote server?"
I am running ./CarlaUE4.sh on a powerful remote server. I have tried X forwarding and VNC viewer, but they fail to show the window popped up. Is there a way to see the UE4 window from a local PC while running CARLA on a remote server?

[2020-08-02 22:55] songyanghan opened #3153 "ModuleNotFoundError: No module named 'carla'"
OS: Ubuntu 18.04
Carla: 0.9.9

Hi,

I just downloaded carla recently. I encountered the error ModuleNotFoundError: No module named 'carla' when trying to execute the command python spawn_npc.py as suggested by the document. My carla-simulator is installed under "/opt/carla-simulator/". Under "/opt/carla-simulator/PythonAPI/carla/dist", I see the file "carla-0.9.9-py3.7-linux-x86.64.egg". In the fi

[2020-08-03 06:13] gengtsh commented on #3030
thanks for your help @germanros1987.
i don't really need X forwarding, when i connection on monitor with ubuntu server and use teamviewer remotely access ubuntu and then i can run smoothly.
and i will run docker image also in next step. thanks again.

[2020-08-03 06:24] gengtsh commented on #697
@ydjian have you solved this problem? Thank you

[2020-08-03 06:34] gengtsh opened #3154 "cd PythonAPI/examples && python3 spawn_npc.py issue"
when i follow the linux build instruction:
make PythonAPI && cd PythonAPI/examples && python3 spawn_npc.py
i encounter the following issues:
python3 spawn_npc.py

destroying 0 vehicles

done.
Traceback (most recent call last):
  File "spawn_npc.py", line 104, in main
    world = client.get_world()
RuntimeError: time-out of 10000ms while waiting for the simulator, make sure the simulator is ready a

[2020-08-03 07:26] glopezdiest commented on #3145
Hey @lucasnmatias. Yes, when replaying a log file, the physics of all the vehicle are disabled, and the don't move, but teleport around, hence why their velocity is zero. @yanlai00, same thing happens for the traffic manager with hybrid mode, when active, all physics are disabled, and the vehicle teleport around.

We recently changed the recorder and its *show_recorder_file_info*. *start_recorder*

[2020-08-03 07:30] yanlai00 commented on #3145
@glopezdiest Thanks for response! However, even if I set the attribute "role_name" of vehicle to "hero", which should disable hybrid mode on this vehicle, the problem still persists.

[2020-08-03 07:34] #2821 closed

[2020-08-03 07:38] glopezdiest commented on #3145
That depends, the hybrid mode has a radius around the ego vehicle  (the one with the *hero* tag). Are you checking the actors that are inside that radius, or those that are outside?

[2020-08-03 07:45] yanlai00 commented on #3145
I am checking exactly the ego vehicle.

On Mon, Aug 3, 2020 at 12:38 AM glopezdiest <notifications@github.com>
wrote:

[2020-08-03 07:47] glopezdiest commented on #3145
Okay, I'll check your code in detail then, and report back

[2020-08-03 08:18] vishal-246 commented on #3099
Hi @fpasch  Sorry for the late replay.

A1. Yes i have built it with rss enabled only difference is i havent mentioned version like u have suggested. B'coz since `make PythoonAPI.rss` it self takes care of generating egg for python versions.

A2. For Python2 API its pointing to the right path as well as for Python3 if not it would have thrown the carla NoModule Found error.

[2020-08-03 08:20] glopezdiest commented on #2863
Yes, exactly what @fabianoboril said. While the distance is important, the *hit_radius* must be small in order to avoid unwanted collisions. For example, by putting it to 5m, the *hit_radius* is large enough to detect the road as a possible collision, so the event will always return the road, with distance equal to zero.

This doesn't seem to be correctly reflected at the docs, so I'm adding @serg

[2020-08-03 08:20] #2863 closed

[2020-08-03 08:37] GabiShahmayster commented on #3154
Hi @gengtsh,

Sorry about the silly question but is the CARLA server actually running?
Because your errors indicate that the client is unable to reach the server (which should be running on the same machine, using port 2000, as your client's attempted connection to 127.0.0.1:2000 indicates)

Gabi

[2020-08-03 08:53] glopezdiest commented on #3145
Indeed, that does seem to be the case. Tagging @jackbart94, he will know much more about the hybrid mode. Perhaps there's something we are missing

[2020-08-03 09:47] dHonerkamp commented on #2825
Did you find a solution to this? I'm running into the same problem

[2020-08-03 11:51] meitalcohenyaacobi opened #3155 "CPP Examples"

[2020-08-03 13:00] #3155 closed

[2020-08-03 14:17] dHonerkamp opened #3156 "Carla docker image latest not starting the simulation"
Hi, sorry to bug you about this.

I've been trying to run the latest docker image, but it seems to be missing something. While I could run the previous versions (namely 0.9.5 and 0.9.9) successfully, the latest one simply returns to the console after the following printout:
[code]

(The same warning appears in the older versions,  but those then proceed to start the simulation).

Command to run th

[2020-08-03 20:11] AIasd opened #3157 "Is it possible to limit cpu utilization for the client python process?"
Hi,
I notice that the python process will take all the available cpu resources.
In my case, I have 14 cores with 28 threads so 2800% cpu in total. When I run the simulator and a client process, the CarlaUE4-Linux process takes ~130% cpu while the client python process ~2600% cpu.
I I tried to set the worker_threads parameter of carla.Client to 1 but that seems to not have influence to cpu utilizat

[2020-08-04 01:48] LHG93 opened #3158 "Carla is possible to use multiple servers?"
I want carla0.9.9 use multi server .
Is it possible to use multiple servers?
carla0.9.9 knows that multiple clients are possible
Thank you!

[2020-08-04 03:15] carlaUE4new opened #3159 "specify which GPU to run Carla"
I am using Carla 0.9.9 version in Windows 10 and I have 3 GPUs. is there a way that I can specify Carla to run on Nvidia GPU?

[2020-08-04 03:19] carlaUE4new commented on #2918
@Yiquan-lol , how do you have the display attached to the Nvidia graphics card?

[2020-08-04 06:28] whuxhzhang commented on #3153
Have you configured the PythonPath environment ？

[2020-08-04 06:33] whuxhzhang opened #3160 "change vehicle size in carla-0.9.9"
Carla-0.9.9 current vehicle size is too small，the size deviation is larger than that of some real vehicles.
So I would like to ask if I can change the size of the carla-0.9.9 vehicle.

Thanks.

[2020-08-04 06:53] thytless commented on #3156
Hello! Try `-opengl` instead of `-vulkan`?
I also experienced same issue and the above works for me.
However I am also wondering why `-vulkan` not works, since we are using docker.

[2020-08-04 07:18] dHonerkamp commented on #3156
Thanks for your reply. Just tried that, but same result: the command seems to return (and the container exits) after a few seconds without actually starting the simulation. Did you use the current :latest image when it worked for you?

[2020-08-04 09:07] XieJinLiang commented on #3153
if you have install python 3.7，maybe you should use: python3 spawn_npc.py

[2020-08-04 09:16] fabianoboril commented on #3156
@dHonerkamp: Same issue here. Let me pull in some experts.

[2020-08-04 09:17] XieJinLiang opened #3161 "Besides using RoadRunner, is there any free software that allows me to generate carla maps？"
Besides using RoadRunner, is there any free software that allows me to generate carla maps? I want to import my defined map in carla, but RoadRunner has to charge. I know that now have carla0.9.10 version, but it seems still can not get, or I can be directly converted into a map with osm map of opendrive.

[2020-08-04 09:23] salvatoresan opened #3162 "Impossible to import map from Roadrunner containing traffic lights or any other props"
Hi, I'm having some issues importing map generated from Roadrunner. I'm working on the source version of carla 0.9.9 on ubuntu and i 've tried both the make import process and the Roadrunner plugin process with the last one able to import all the textures. Both processes work fine when the map to be imported contains only roads and grass. When i add even one traffic light or tree in the map, the i

[2020-08-04 09:31] XieJinLiang commented on #3084
What software are you using? roadrunner? Why does the interface look different from my roadrunner?

[2020-08-04 09:42] thytless commented on #3156
@dHonerkamp I checked your command again and I found that there is an option missing '--runtime=nvidia'. See https://carla.readthedocs.io/en/latest/build_docker/
Is it intended?

[2020-08-04 09:45] bosu3076 commented on #3084
Hi, actually this is a screenshot of Unreal Engine 4 https://www.unrealengine.com/en-US/. I have imported the fbx-files into UE4 and want to edit them with  Carla plugins. However, it doesn't work well. These days I changed my plan generating routes directly in Roadrunner.

[2020-08-04 11:48] Alby407 commented on #2136
Almost a year now and still no answer?

[2020-08-04 12:42] elvircrn commented on #2696
Hi guys, as part of my own research work, I created programmable checkerboard patterns via the material editor in Unreal. I just didn't go through the process of importing it as an asset. Would love to contribute to this issue if help is still needed.

[2020-08-04 12:46] Alby407 commented on #2511
I get a segmentation fault whenever I try to retrieve the map, i.e. `world.get_map()` in 0.9.8, as well as in 0.9.9.

[2020-08-04 14:08] dHonerkamp commented on #3156
@thytless Docker integrated gpu support, so the runtime argument isn't needed anymore.
Are docker image IDs comparable? If so, you are not using the one I'm refering to. I have `6923977bc7dc` (digest `08780bee1d6b940c15479ecd135327ed34cdf4bd15ecb8b2a35f70283ec63636`)

[2020-08-04 15:32] thytless commented on #3156
@dHonerkamp I guess the first one is digest, and sorry for not having made it clear. The second `7b45ce9` is git reversion of master branch, I hope this could help you find some diff!

[2020-08-04 15:47] songyanghan commented on #3153
I change to a conda environment with python=3.7. It works now. Thanks.

[2020-08-04 15:47] #3153 closed

[2020-08-04 17:54] sissiok opened #3163 "Carla 0.9.9 make PythonAPI failed: recipe for target 'osm2odr' failed"
When I run "make PythonAPI", I failed and got the following error message:

[code]

What is going on here? My system is as below

Carla version: 0.9.9
OS: Ubuntu 18.04
Python on the machine: 2.7 & 3.6

[2020-08-05 02:14] DavidLzr opened #3164 "How to build Carla 0.9.9 on Ubuntu 20.04?"
Hello Guys, I am a beginner of Carla.
I am here to seek for your help about building Carla on my Ubuntu 20.04 system. The guide provided in the Official Documentation https://carla.readthedocs.io/en/latest/build_linux/ says the Build can only be done on 18.04 and previous versions. Is there a way to build Carla on 20.04?
Thank you for any possible help : )

[2020-08-05 03:30] DevotionGit opened #3165 "ScenarioManager got Segmentation fault(core dumped)"
Hi,I got the flowing error,How can we fix it?

'''
Start Scenario map  config !
load opendrive map 'Road.xodr'.
set weather preset 'ClearNoon'.
Start Scenario runner !
Preparing scenario: ScenarioVehicles_2
ScenarioManager: Running scenario ScenarioVehicles
Segmentation fault      (core dumped)
python scenario_runner.py --port 2000 --scenario ScenarioVehicles_2 --configFile ./ScenarioVehicles.xml

[2020-08-05 05:10] sulichuan opened #3166 "Error when running "make PythonAPI""
Hi~
I tried to build Carla in Linux, and followed the steps to build.
The process went smoothly until running "make PythonAPI" and the script shows error message
the message is :
ImportError: No module named distro
Util/BuildTools/Linux.mk:87: recipe for target 'PythonAPI' failed
make: *** [PythonAPI] Error 1

I tried to install distro with "pip3 install distro", and it still shows the same messag

[2020-08-05 10:25] meitalcohenyaacobi opened #3167 "CARLA's C++ API error"
Hi,
I'm trying to compile the example which creates an application using CARLA's C++ API.
while running >> make run
I got the following errors:
[1/99] Building CXX object LibCarla/cmake/client/CMakeFiles/carla_client.dir/__/__/source/carla/StringUtil.cpp.o
FAILED: LibCarla/cmake/client/CMakeFiles/carla_client.dir/__/__/source/carla/StringUtil.cpp.o
/usr/bin/g++-7  -DBOOST_ERROR_CODE_HEADER_ONLY -D

[2020-08-05 16:46] germanros1987 commented on #2696
Definitely. We would love to get a PR with this feature! Thanks for the help

[2020-08-05 16:50] germanros1987 commented on #3156
hi @dHonerkamp,

latest is now pointing to 0.9.10-pre, which is having issues with the OpenGL backend. You can only run it using the vulkan backend. However, to run CARLA with the vulkan backend you need to make some changes.

[2020-08-05 21:14] Bolt0412 commented on #3016
Hello, I have the same requriements about the intersection scenario. My CARLA is 0.9.9 with Ubuntu 16.04. Is there any progress on this thread about regulating autopilot vehicle behavior at intersection using traffic manager?

[2020-08-05 22:40] r-snijders commented on #3156
I had a similar issue just this night. The following works for me (on Ubuntu 20.04LTS, NVidia driver 440.100, GTX1080):

[code]

[2020-08-06 04:27] AIasd commented on #3152
also interested in knowing this!

[2020-08-06 08:35] gsujansai commented on #3028
Hi @xmyqsh @marcgpuig . I have created a filter function in ActorList like you suggested. But i did it for the C++ API first.

`SharedPtr<ActorList> ActorList::NewFilter(const std::string &wildcard_pattern) const {
    SharedPtr<ActorList> filtered (new ActorList(_episode, {}));
    for (auto &&actor : _actors) {
        if (actor->WasRecentlyRendered()) {
            filtered->_actors.push_back(a

[2020-08-06 08:47] #3121 closed

[2020-08-06 09:27] dHonerkamp commented on #3156
@germanros1987 thanks, that helped! Passing the Xorg socket did the trick :)

[2020-08-06 09:27] #3156 closed

[2020-08-06 12:07] lucasnmatias opened #3168 "Vehicle Max Acceleration"
Hi, I work at IVEX and our focus is on the evaluation of autonomous vehicles behavior and decision making. We use CARLA to implement challenging scenarios to evaluate vehicles behavior in those scenarios. Right we are struggling to control the vehicles acceleration.

Here is my question, is there any easy way to limit the max acceleration of a vehicle in CARLA?

[2020-08-06 12:23] r-snijders commented on #3164
Hello, I didn't trying building Carla, but instead of building Carla from scratch, you can also consider using Docker and depend on the official carlasim images. Which I prefer, it allows me to deploy Carla on different systems without messing with the hosts dependencies etc.

Here are some notes I made for myself, I hope it also helps you in case you want to use Docker. These instructions should

[2020-08-06 14:43] ivannson opened #3170 "Carla crashes when running examples that use pygame"
Carla version: 0.9.9
System: Windows 10, 4gb Nvidia GPU

I installed Carla and Python API, it seems to work well and I am able to run the `spawn_npc` and `dynamic_weather` examples.

When I try running `manual_control` example, a pygame window is opened and UE4 either crashes straight away, or an image is displayed, then horizontal black lines appear and then UE crashes.

When running `automatic_c

[2020-08-06 15:11] Glazyee commented on #3168
I have been trying these things during the last weeks. I think you can try to set up a friction trigger to limit the maximal deceleration (https://carla.readthedocs.io/en/latest/tuto_G_add_friction_triggers/). Or maybe you can try to adjust the parameters in class "carla.WheelPhysicsControl". But if you want to control the deceleration more precisely, I have been failed to find a solution. It seem

[2020-08-06 16:05] lucasnmatias commented on #3168
Thank you very much. Yes, I've been trying to work with PhysicsControl parameters but it's hard to find good/smooth solution. All I have read right now leads to implementing the full PID controller which would take some time.

[2020-08-06 16:43] omarchakroun opened #3171 "assertion error when trying to run carla on windows"
Hi there,
i'm newby in carla really newby and just get it installed on windows based on the steps on the documentation. i was trying to run town03 example to make sure that everything is working but i got an assertion error. when generating the project and compiling it under VS there is no error. can someone please help.
thank you and best regards.

![Sans titre](https://user-images.githubusercont

[2020-08-07 03:47] ISUSunny commented on #2818
Hi, guys,

I have met exactly the same issue. I followed all the instructions of building CARLA on Windows. Both "make launch" and "make PythonAPI" seem successful, but there is no response to the command "python3 spawn_npc.py". However, "spawn_npc.py" can be manually started and works well. I am working on Windows 10. Any idea or thought?

![image](https://user-images.githubusercontent.com/867888

[2020-08-07 04:34] Schuck84 commented on #76
Will this feature come the next release? When is the next release planned? Is there some branch that maybe contains this feature?

[2020-08-07 08:59] Glazyee commented on #3168
I am not sure if a PID controller would solve this problem. For me, the dynamic model of the vehicle is also a little questionable. And the actuator "Brake" could only be set to brake or no brake, no matter you input a value like 0.7, 0.1 for the brake. Hope it will work in your situation.

[2020-08-07 09:19] Glazyee opened #3172 "Weird dynamic performance of the vehicle"
Hi, as you can see in the diagram, VW and Kia are two vehicles that I have spawned in the scenario. For example, the value of the throttle of VW is almost set to 1 in this case, but the acceleration VW varies unreasonably (dark blue line) during this process. Could someone kindly explain to me, how come this happens? Thank you so much.
![Validierung_CarlaBaseline_Acc](https://user-images.githubuse

[2020-08-07 10:55] zhukevin04 commented on #2820
Hi, i am also using Carla 0.9.9 on GCP, do i need insta lllibrary `alsa-utils` before i follow the medium's method? thks

[2020-08-07 11:17] wendersonj commented on #2820
I can't say if It will work without install `alsa-utils`, but I did installed and created the file with the content from the previous message. That said, I suggest you create the file (without the `alsa-utils`) , try to run Carla and post for us your results, if you succeed or not.

[2020-08-07 13:42] zhukevin04 commented on #2820
i add `pcm.!default { type plug slave.pcm "null" }` to `asound.conf` to prohibit the ALSA lib message, but the Xorg Dispaly still some problem, and can't the examples in PythonAPI. Did you success run the examples on GCP?

[2020-08-07 14:00] wendersonj commented on #2820
Yes. After this problem, everything went fine. Right now I'm creating a new project to restart my tests with my code for Carla in GCP. If you installed the nvidia's drivers correctly (check it !), you shouldn't have problems... I suggest that you search for you problem here in the github (it can be something else) and if you don't find it, create a topic.
cheers!

[2020-08-08 12:34] wx9698 commented on #3095
Hi team,

I was testing again with Carla 0.9.10. However, everytime when I terminated script1.py with ctrl+c, the carla server will get segmentation fault. Here is the output.
[code]

[2020-08-09 10:33] zhukevin04 commented on #2820
Aha, so you mean you can see the UE4 window? or just run the program, i want to the UE4 window on GPC through Xorg. Thks!

[2020-08-09 11:29] nuomizai opened #3173 "error: XDG_RUNTIME_DIR not set in the environment. in ssh terminal ubuntu 16.04"
I tried to run CarlaUE4.sh in a ubuntu16.04 server through ssh terminal, but got

4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
error: XDG_RUNTIME_DIR not set in the environment.

I also tried the command `DISPLAY= ./CarlaUE4.sh`, but the error still occurred and carla can not be run. Does anyone know the reason and how to fix it? I've tried to install the ubuntu-desktop through ssh term

[2020-08-09 13:49] wendersonj commented on #2820
Hi ! I don't if I understood correctly your question ... BUT:

I can't see any graphic interface, only information from the terminal (text). I think there is a way, using different remote access with, but I never used or have more information). I don't launch Xorg, just run Carla and my scripts.

Ps: Nvidia's drivers are important to run the server and won't work without them.

[2020-08-09 13:55] zhukevin04 commented on #2820
Hi, i understand that! Thanks! I try to see the graphic interface but still some errors, i am still trying to solve it, if success i will come back.

[2020-08-09 13:57] zhukevin04 commented on #3152
Hi, i am also trying that on server. When i launch Xorg, there is an error `(EE) Fatal server error (EE) no screens found`
Then i use P100 with CUDA10.2 and nvidia-smi works.

[2020-08-09 14:53] guygo12345 commented on #1398
Can you explain in more detail how to do this please? @dnovillo-CVC
My purpose is to edit Vehicle blueprint with UE editor and replace this blueprint in the no-editor version.

Thank you!

[2020-08-10 05:00] Bhavani56 opened #3174 "How to Load LAS data in carla simulator"

[2020-08-10 05:05] Bhavani56 commented on #3174
Hi All, i want to load LAS data in carla simulator for this am using config.py script i tried to modify the script.

elif args.las_path is not None:
        if os.path.exists(args.las_path):
            with open(args.las_path,encoding='ANSI') as od_file:
                try:
                    data = od_file.read()
                except OSError:
                    print('file could not be read

[2020-08-10 05:10] Bhavani56 opened #3175 "Hi All,Could we load already generated las file in carla simulator"

[2020-08-10 10:08] sp062 opened #3176 "Throws error when try to convert osm to odr using carla.Osm2Odr.convert(osm_data, settings) it says no such attribute in carla"
Hi

Below is the code for converting OSM to ODR also imported carla . But it gives error No such Attributes in Carla.

# Read the .osm data
f = open("C:/map.osm","r",encoding='ANSI')
osm_data = f.read()
f.close()

# Define the desired settings. In this case, default values.
settings = carla.Osm2OdrSettings()
# Convert to .xodr
xodr_data = carla.Osm2Odr.convert(osm_data, settings)

# save opendrive

[2020-08-10 10:48] elvircrn commented on #3163
`apt install libxerces-c-dev` could be a work-around.

[2020-08-11 00:45] Gatsby23 opened #3177 "Connection Error in Building"
I'm new begininger in Carla, and follow the building process, I get this error, how to fix it ?
![Screenshot 2020-08-11 08:41:51](https://user-images.githubusercontent.com/18000675/89844683-e8845300-dbae-11ea-9915-1a915b424ec3.png)

[2020-08-11 07:30] thytless commented on #3177
Hey would you please provide detailed info about your problem such as in which step did this happen, and how could we reproduce it?
Looks like you are running into a network trouble though...

[2020-08-11 12:04] lucasnmatias commented on #3145
I see, another question, is this also supported on Carla 0.9.8?

[2020-08-11 15:15] kimown commented on #1112
I have same problem, do you use xorg to start DISPLAY in docker?

[2020-08-11 19:05] Wogwan commented on #2260
Dear, did you fix it later? I met the same question in 2020/08/12. Feel free to let me know if any @ huanghejun097@gmail.com. Cheers

[2020-08-12 01:30] yumianhuli2 opened #3179 "fatal error: rpc/msgpack.hpp: No such file or directory"
Hello!Carla Team!
fatal error: rpc/msgpack.hpp: No such file or directory
 #include <rpc/msgpack.hpp>
          ^~~~~~~~~~~~~~~~~
compilation terminated.

And I have run this repo: https://github.com/carla-simulator/rpclib.git
cmake and make:)

plz tell me how to fix this,thanks!

[2020-08-12 03:13] kimown commented on #3156
`DISPLAY=$DISPLAY` My server doesn't have a physical display, can I use X.org generate virtual display in host machine and use it?

[2020-08-12 03:31] JaneyJin commented on #2076
Same problem there.

[2020-08-12 07:19] patdee opened #3180 "carla simulator 0.9.9 shows fatal error at start"
I have updated edge on windows 10 and carla simulator crashed with fatal error.  I have installed pre compiled version downloaded from carla site.

[UE4CC-Windows-B680E33C415A31F10E902C848AC7AF08_0000.zip](https://github.com/carla-simulator/carla/files/5061194/UE4CC-Windows-B680E33C415A31F10E902C848AC7AF08_0000.zip)

Windows build details
windows 10 version 2004 build 19041.423

[2020-08-12 08:06] RehabHsn commented on #3166
The same error here, have you found a solution?

[2020-08-12 09:38] dHonerkamp opened #3181 "Unexplained Semantic Lidar Instance Masks"
Hi,

I am using the new semantic lidar to get instance mask annotations for the camera by projecting them with the constructed intrinsic matrix. This seems to work well for most parts. But from time to time there seem to appear unexplainable instances.

For example in the image below (left-most are the projected instance labels from the semantic lidar, right most is a standard semantic camera) we

[2020-08-12 10:05] XieJinLiang opened #3182 "How visualize the carla road network map on rviz?"
Hi,
Is there a way to visualize the carla opendrive map on rviz?What  message type should I use?Or can I only draw it line by line manually?

[2020-08-12 10:29] dHonerkamp commented on #3181
I am realising this might have been an issue of mirroring points from the background. Checking for this I couldn't find any further occurances. In case this should not have completely fixed it, I'll open this again.

[2020-08-12 10:29] #3181 closed

[2020-08-12 10:34] BigTailFox commented on #3172
Hello,
I have also met this problem, I guess the relationship between `throttle` and `acceleration` of a Carla vehicle is nonlinear, and the auto gear-box may also have effection. I am now using a PID controller to follow the expected acceleration. Do you get accelerations from an IMU sensor or the Actor API, they don't match either.

[2020-08-12 12:32] Glazyee commented on #3172
Hi, thanks a lot for your information. I got the accelerations from Actor API and also set the auto gearbox as True. The velocity of the vehicle gets down from 140km/h to about 70km/h at full throttle, then start to accelerate a little bit. For me, it's still strange.
So, by using a PID controller, is the result acceptable for you now?

[2020-08-12 12:46] magehrig commented on #2356
Just to inform you, I did what you recommended but in Town 05 there were still road lines under the bridge

[2020-08-12 13:19] BigTailFox commented on #3172
A bit weird for the negative acc with the positive throttle in this graph. I haven't met this situation. Turning off auto gear-box and setting a fixed gear ratio, checking the brake/handbrake and the road gradient/friction might help.

[2020-08-12 16:47] DnDare commented on #2356
Sorry to hear that, and for the inconveniences.
I'm not sure what to recommend you, these changes have been made, and a few others. By the end of July we made a pre-release, it is meant to have this changes, but there are some issues, and this is why it wasn't announced. (I think it's public)
Now the team is mostly on vacations, I guess the future release will have the changes, and I'm guessing it

[2020-08-13 02:40] KasraMokhtari2112 opened #3183 "Collision Sensor Accuracy!"
I have one question about the collision sensor. I am interested to catch the collision between the ego vehicle and the pedestrians. However, this sensor is not accurate in most cases. Does Anyone know why it’s working like this? And any ideas on how to improve the accuracy of the collision sensor? I am in desperate need of help at this moment. Thanks for your time.

[2020-08-13 02:42] KasraMokhtari2112 opened #3184 "Building Carla in Ubuntu 18.04"
Hi. I want to build Carla from the source. I followed all the steps on this link on Unreal Engine 4.24.3:
https://carla.readthedocs.io/en/latest/build_linux/
Everything looked fine and then I generated CarlaUE4.sh. when I am running my RL code with this generated file it seems like there is a jump (discontinuity) in the frames and sometimes the connection between my python code and the simulation

[2020-08-13 06:23] thytless commented on #3183
As far as I know the collision sensor calculates whether there is overlap between bounding boxes, so its impl decides that it cannot be precise.

[2020-08-13 09:28] Abanoub-G opened #3185 "Creating maps using the new Google cloud platform!?"
Hi Carla Team,

I was wondering if you had in mind to include getting maps from the new Google cloud platform into CARLA in your future releases? [https://cloud.google.com/blog/products/maps-platform/google-maps-platform-gaming-services-now-available-everyone](url)

I think that would be a very powerful addition to CARLA... and will allow the uptake of CARLA by many of self-driving vehicles compan

[2020-08-13 10:12] dsche opened #3186 "Bounding boxes for non-vehicle and non-walker actors"
When extracting detectable objects from the simulation, it would be beneficial to be able to extract the bounding box/collider volume not only for Walker and Vehicle objects, but also for `static.prop.*`, traffic signs and other objects. Currently, these objects do not have a suitable attribute and there seems to be no way to extract the ground truth using the client API.

[2020-08-13 12:34] 33v33 opened #3187 "Not called on the RSS sensor callback"
Hello Carla team,

I came across an issue while trying to use the RSS sensor, while attaching it to a vehicle and I have another car nearby, I am not getting called on the sensor callback, I am on version 0.9.9.4 both server and client, and my code looks something like this:
[code]
and the callback:
[code]

Is there something I am missing?

Thanks

[2020-08-13 13:16] dsche opened #3188 "Segfault on 0.9.10pre with automatic_control.py"
System: Ubuntu 20.04, NVIDIA Quadro P2000
Carla: 0.9.10pre built for Ubuntu 18.04
Command line: `gdb -ex run --args CarlaUE4/Binaries/Linux/CarlaUE4-Linux-Shipping Carla -opengl`

On connecting an example-based client (eg `automatic_control.py`), Carla segfaults.
[code]

[2020-08-13 13:42] oeichenwei commented on #1941
[code]
So the there is not %UE_VERSION% in the registry can  work.

[2020-08-13 15:38] oeichenwei commented on #2865
i resolved the problem by upgrade UE to 4.24

[2020-08-13 16:21] KasraMokhtari2112 commented on #3183
@thytless I actually tried to change the size of the bounding box (set them to zero) in Navigation.cpp and then built it from the source. However, when I print out the size of the bounding boxes of the vehicles in my python file, it still remains the same. Do you know what exactly I need to change? Thanks!

[2020-08-13 16:31] KasraMokhtari2112 commented on #2768
Hi, I am experiencing exactly the same issue #3183. Since I am doing RL on pedestrian-ego vehicle collision, this is absolutely important to get an accurate feedback from the collision sensor. I really appreciate it if you guys can work on this issue. Thanks a lot.
@ShahriarSefati Did you find a way to work around this issue?

[2020-08-13 16:48] KasraMokhtari2112 commented on #3012
Hi, I am also doing RL on Carla and have been experiencing the same issue. I am running the same scripts all the time and sometimes it crashes after 5-6 hours, sometimes after 10 hours and so on!! I have no idea why.

I tried to restart Carla every 100-200 episodes which is like almost 1 hour of running but after doing this several times, the simulation crashes with a segmentation error. Therefore

[2020-08-13 16:50] KasraMokhtari2112 commented on #3012
Btw, I mostly used Carla 0.9.8.

[2020-08-13 17:04] charlie-wartnaby opened #3189 "RecastBuilder emits no .bin file at 'Generate pedestrian navigation' step of map import"
Dear all, I hope this is an appropriate question. I have not found the answer elsewhere. I have been struggling for days to get my own model with working traffic lights into CARLA, starting from RoadRunner.

Really I would like to start with the source RoadRunner files used for the 'official' assets to see if they work for me. Are they available anywhere, or are they private? Or at least the expor

[2020-08-14 00:04] adscib commented on #2789
I have the same problem. Tried all combinations of setting the world and/or traffic manager to sync/async mode before loading the new world, but the traffic manager always hangs after.
@jackbart94 can we reopen this?

[2020-08-14 04:43] sp062 commented on #3009
How to Export .xodr from  SUMO netconvert. Have imported OSM file but how to get xodr file for it?

[2020-08-14 04:45] sp062 commented on #2976
How to Export .xodr from SUMO netconvert. Have imported OSM file but how to get xodr file for it?

[2020-08-14 07:58] doterop commented on #2789
Hi @TimLued @adscib ,

Can you confirm the exact version of Carla that are you using?

[2020-08-14 07:59] filangel commented on #2789
I can reproduce @adscib's issue in **CARLA 0.9.9.4**!

[2020-08-14 09:31] TimLued commented on #2789
The error occurs for me in Carla 0.9.9.4

[2020-08-14 14:15] uniwuppes commented on #3083
@Axel1092 That fixed it for me too. Thanks.

[2020-08-14 14:15] #3083 closed

[2020-08-14 14:22] dHonerkamp opened #3191 "Semantic Lidar Object ObjIdx Definition and Uniqueness"
Hi,
I am using the semantic lidar to get instance masks. According to the documentation it returns the `index of the hit actor`. I could not find any further details. From looking through some parts of the source code this does not seem to be the actor id, but rather the `FActorInfo->Description.UId`.

Do you have some details on what exactly this id is and how unique it is? In some cases I seem t

[2020-08-14 15:08] manonechu opened #3192 "is there a semi-truck available"
Hi, thank you for the great simulator.

I would like to know that is there a semi-truck available? Because I'd like to simulate autonomous driving for a semi-truck. If it is not available, is there a way to create or import it? Please kindly advise me.

Thank you so much for your help!

[2020-08-15 04:23] adscib commented on #2789
I was also running CARLA 0.9.9.4 from the official pre-compiled release running on Ubuntu 20.04 with Python 3.7.3. I had a different issue with the traffic manager in CARLA 0.9.9 so didn't get that far, but I can check if the same issue occurs there if that would be helpful.

[2020-08-15 12:32] Malathi15 opened #3193 "Runtime Error while running spawn_npc.py"
Hi,

My System specifications:
OS: Ubuntu 18.04,
Memory: 15.7 GiB,
Processor: AMD® Ryzen 7 3800x 8-core processor × 16,
GPU 4 GiB.

I have followed this link [https://carla.readthedocs.io/en/latest/build_linux/#get-assets](url) to build CARLA Simulator in my Ubuntu 18.04 System.
while executing this command` python3 spawn_npc.py`
 I got this error

    destroying 0 vehicles

    done.
    Tracebac

[2020-08-15 17:27] ArghyaPal commented on #2501
Same problem. Any help

[2020-08-16 08:09] gsujansai commented on #3193
Did you launch the carla server? You need to run CarlaUE4.sh in your Dist folder to launch it.

[2020-08-16 15:15] ArghyaPal commented on #298
Same issue with Unreal 4.18. Any help will be appriciated

[2020-08-16 16:16] nevrax commented on #3176
same error. i'm using windows binary CARLA_0.9.9.4.zip from [CARLA 0.9.9 (development)](https://github.com/carla-simulator/carla/releases/tag/0.9.9) release
[code]

[2020-08-16 20:50] hh0rva1h opened #3194 "[Python API Segfault] sensor.other.lane_invasion causes crash when using qt matplotlib backend"
We have been tracking down a cumbersome python segfault that happens when using the matploblib qt backend together with sensor.other.lane_invasion.

The following file 100% reproduces the issue for us on different machines running different Linux / Python distributions (simply starting carla an executing the python file leads to an segfault of the python interpreter):

[code]

When commenting out

[2020-08-17 03:50] Malathi15 commented on #3193
Thanks for your reply @gsujansai
I tried to use CARLA Simulator Linux build version as instructed in this link https://carla.readthedocs.io/en/latest/build_linux/#get-assets.
CarlaUE4.sh file not available in this CARLA Simulator folder

[2020-08-17 05:11] tejeshanil commented on #2792
Hi @revikiran1991
Check after installing libstdc++<ver>-dev  package.
This solved issue for me.

[2020-08-17 05:25] Mohith22 opened #3195 "Clang version issues -"
I have clang-12 installed.  When I run "make launch", I get this error

clang 8 is required, but it's not installed.
make: *** [setup] Error 1

I am doing this on the university's machine which has CentOS and since I do not have root permissions, I build it from scratch.
I followed steps given here - https://clang.llvm.org/get_started.html

But after installing clang this way, clang-12 got install

[2020-08-17 08:56] charlie-wartnaby commented on #3086
I'm afraid I opened a new issue when I should have added to this one, see #3189 .

I'm not even interested in pedestrian navigation, but did want the traffic lights set up so that I could address them in simulation. Even with an extremely simple RoadRunner model (one crossroads) I had the same problem. I did a little debugging, see #3189, but have not yet solved it. I do not think it is anything t

[2020-08-17 08:57] charlie-wartnaby commented on #3189
See also #3086 , I probably should have appended to that instead of starting this new issue. I'll combine them now if I can.

[2020-08-17 08:57] #3189 closed

[2020-08-17 08:59] charlie-wartnaby commented on #3086
[Here is what I put in #3189 on the same topic.]

**RecastBuilder emits no .bin file at 'Generate pedestrian navigation' step of map import**

Dear all, I hope this is an appropriate question. I have not found the answer elsewhere. I have been struggling for days to get my own model with working traffic lights into CARLA, starting from RoadRunner.

Really I would like to start with the source Road

[2020-08-17 10:01] dannymanastireanu commented on #1662
Road Runner from VectorZero( now Matlab)

[2020-08-17 13:06] hh0rva1h commented on #2943
Sounds similar to an issue we have been experiencing from the python side: https://github.com/carla-simulator/carla/issues/3194

[2020-08-17 14:38] tinmodeHuang opened #3196 "Eeception "Disabling core dumps" was thrown while running "./CarlaUE4.sh""
**Configures:**
Ubuntu 18.04 LTS desktop
GTX 1660Ti 6G
Nvidia-driver-440
opengl4.6
vulkan1.1
Carla  release 0.9.9.4, 0.9.8, 0.9.7.4 and 0.9.6

**Exception as follow :**
[code]
**Problem: I couldn't key any command about Carla in either the terminal window or other one after above exception appeared**

Then enter "CTRL+C" to end up, only the following usually appears
[code]
 Key "nvidia-smi" into t

[2020-08-17 16:23] charlie-wartnaby commented on #3163
I have hit the same problem attempting to build the docker image (using Ubuntu 18.04 as my 'host' OS) using the instructions at https://github.com/carla-simulator/carla/tree/master/Util/Docker . I'm building from recent (0.9.9) source, commit 8557c0b4.

I'm trying your tip of adding libxerces-c-dev to the list of installs in Prerequisites.Dockerfile. I'll report back when it's done (takes a while!

[2020-08-17 20:51] hh0rva1h opened #3197 "Carla segfaults within 127 Episodes"
### Environment
The following has been tested in Ubuntu with Carla 0.9.9.4, started using `CarlaUE4.sh -opengl -quality-level=Low`:

### Trigger Code
Consider the following proof of concept code (does not logically make a lot of sense, since it was stripped down from an old version of our reinforcement learning infrastructure to be a minimal reproducer that makes Carla misbehave and crash reliably

[2020-08-18 04:19] guruvishnuvardan commented on #3193
****

[2020-08-18 05:08] nagasanjay commented on #3196
I have the same issue. Also the window with a car doesn't show up. only one window without car (looks like an FPP of a drone) opens up.
![carla colab](https://user-images.githubusercontent.com/43279026/90472758-e6863b00-e13e-11ea-8f5b-64fa85e0cf99.png)

[2020-08-18 10:57] charlie-wartnaby commented on #3163
OK I added  libxerces-c-dev to the list of apt-install packages in `Prerequisites.Dockerfile` which did indeed get me past the Xerces problem, thanks.
Next my docker build failed because the Python module `distro` was not found. I added `pip` and `pip3 install distro` to the `Carla.Dockerfile` command to get past that. (Would have been more elegant to add it to Prerequisites, but I didn't want to

[2020-08-18 13:05] dnns92 opened #3198 "lens camera default parameters"
Hey,

It's stated here (https://carla.readthedocs.io/en/latest/ref_sensors/#rgb-camera) that the default camera lens distortion parameters are non-zero, e.g.` lens_circle_falloff= 5.0` and `lens_k=-1.0`

Zero-ing every parameter leads to a single color screen as stated here: (https://github.com/carla-simulator/carla/issues/2822#issuecomment-653442599).

Now to my issue: Do the default lens distort

[2020-08-18 13:39] marcgpuig commented on #3198
Yes, @dnns92, as my comment you referenced says, default camera lens values lead to undistorted images.
Cheers!

[2020-08-18 13:55] marcgpuig commented on #3012
@zhejun-zhang can you link me the line of code of the `length > 2.0f * std::numeric_limits::epsilon()`? I'm not able to find it. Maybe it's Unreal's code?

[2020-08-18 14:00] Ulia-Demidova opened #3199 "Surface normals"
Hi!
Can i get the normal vector at any point, i.e. dense normal map such as depth map?

[2020-08-18 14:07] marcgpuig commented on #3084
Hi @bosu3076, sadly this is not possible within Unreal Engine, we strongly rely on OpenDRIVE right now to retrieve information from the road. The `RoutePlanners` and the `OpenDRIVE Actor` are not used anymore but for automatically placing the spawn points and visualizing the shape of the used OpenDRIVE. You need to do everything with RoadRunner.

[2020-08-18 14:12] marcgpuig commented on #3117
@thytless
Yes, you should be able to customize these attributes but with caution, most of them are carefully set to specific values.
Make sure you are correctly modifying them, and make sure to understand what are they doing in the game since most of them are not easily appreciable.

[2020-08-18 14:15] marcgpuig commented on #3019
@Vin1291 you must use the _**3d pixel**_ from the depth camera and the **3d bounding box** to check if the pixel is **in** it.

[2020-08-18 14:40] marcgpuig commented on #3081
Hi @JarvanI

I'm not sure to correctly understand your point.
If I've done it right I'm following the angle of a standard compass, where North is at 0° (or 360°), East at 90°, South at 180° and Weast at 270°.

[2020-08-18 14:48] qhaas commented on #3195
CARLA is [hard-coded](https://github.com/carla-simulator/carla/blob/0.9.9.4/Util/BuildTools/Setup.sh#L7) to use the file-path to clang-8 in a Debian/Ubuntu environment.  Without root permissions, you are looking at modifying CARLA's build scripts or using rootless podman/singularity Ubuntu containers to build.

We've grepped for occurrences of `/usr/bin/clang-8` in the build scripts and changed th

[2020-08-18 14:54] TKeutgens opened #3200 "Windows - Map ingestion to pre-build Carla"
If have generated a custom map through RoadRunner and the map ingestion process from the build from source tutorial. (https://carla.readthedocs.io/en/latest/tuto_A_add_map/#map-ingestion-in-a-build-from-source)

In the build from source Carla version the map works well, but when I'm trying to load the map in my prebuild Carla version through `python config.py -m own_map` only the standard Carla ma

[2020-08-18 14:54] qhaas commented on #1267
This would be useful for our efforts as well.

[2020-08-18 14:57] charlie-wartnaby commented on #3163
I tried running that docker build with a specific memory limit of 24GB using -m, no change.
And emitted the exception trace after it failed:
[code]
I don't know if that's useful to anyone. Has anyone actually succeeded in building the docker image recently, and on Ubuntu 18.04? (The docs say it was tested under 16.04, though it uses 18.04, i.e. as the Docker OS.)

[2020-08-18 15:34] marcgpuig commented on #553
Hi @jnd77, I quickly made it a long time ago :grinning:
I'm sure that @sergi-e, our super docs guy, can do something better to add in our official docs.
Cheers!

[2020-08-18 19:00] qhaas commented on #3166
I haven't seen this particular error, but it might be a good idea to make sure you have the same dependencies/packages deployed in your development environment as [CARLA's build environment](https://github.com/carla-simulator/carla/blob/0.9.9.4/Util/Docker/Prerequisites.Dockerfile) (see the packages they `apt-get install`), especially `python3-dev` and `python-dev`.

[2020-08-18 20:38] zhejun-zhang commented on #3012
@marcgpuig I found [this line](https://github.com/carla-simulator/carla/blob/6b1a5db4f6c57079efe1f82f881d42dacc4d28fc/LibCarla/source/carla/geom/Vector3D.h#L55) could be relevant. But since I switched to 0.9.9.4 I haven't seen any crash due to this issue.

[2020-08-18 21:40] SamStaps commented on #2501
Install python-dev. Delete the build directory. Repeat the make process.

[2020-08-19 01:31] jht1759 commented on #1848
Hello Gentle:
@germanros1987

I'd like to know. before the official version 0.9.11 release for this issue. how can we do some script for it by ourself. and then we can solve the issue temporary.

Thanks a lot!

[2020-08-19 01:34] jht1759 commented on #1848
@muety : Do you have any idea to solve the issue you request? Thanks a lot!

[2020-08-19 06:07] germanros1987 commented on #3150
Sorry for the delay. It is vacation season. @joel-mb could you please take a look at this?

[2020-08-19 06:08] germanros1987 commented on #3151
Sorry for the delay. It is vacation season. @marcgpuig could you help with this?

[2020-08-19 06:14] germanros1987 commented on #3152
I am not sure if the Xforwarding is going to work, but in any case it seems your problem is not with the X forwarding yet, but with the configuration of the Xorg server.

It is possible to configure CARLA to run in a headless server, but it takes a few steps.

* Make sure you have a Ubuntu 18.04 system
* Fetch the latest NVIDIA driver: wget http://download.nvidia.com/XFree86/Linux-x86_64/450.57/NV

[2020-08-19 06:17] germanros1987 commented on #3154
@gengtsh is your issue still bothering you?

[2020-08-19 06:19] germanros1987 commented on #3157
Sorry for the delay. We are in the middle of vacation season. @marcgpuig limiting the number of threads used by the libcarla makes a lot of sense. What do we know about this? Can we add this to the API?

[2020-08-19 06:20] germanros1987 commented on #3158
You can instantiate multiple servers using different ports if you have the required resources, i.e., cpu and gpus.

[2020-08-19 06:22] germanros1987 commented on #3159
I am not a Windows person, but have you tried this?

https://www.howtogeek.com/351522/how-to-choose-which-gpu-a-game-uses-on-windows-10/

[2020-08-19 06:24] germanros1987 commented on #3160
@whuxhzhang what do you mean the vehicle size is too small? All vehicles we have created have real dimensions and properties. Which vehicle is too small?

[2020-08-19 06:29] germanros1987 commented on #3161
Sorry for the delay, we are in the middle of vacation season.

@XieJinLiang that is a good question. Let me describe the current state of maps in CARLA.

CARLA uses OpenDRIVE + FBXs to represent the maps. If you find a tool that can produce OpenDRIVE and you have the FBX associated to the geometry of the scene then you are ready to go. We provide the tools to import those objects into CARLA.
Now..

[2020-08-19 06:31] germanros1987 commented on #3162
Sorry for the delay, we are in the middle of the vacation season. @marcgpuig could you have a look into this? Perhaps is just a matter to use 0.9.9.4 or 0.9.10-pre...

[2020-08-19 06:33] germanros1987 commented on #3163
Sorry for the delay, we are in the middle of the vacation season. @Axel1092 could you please have a look at this?

[2020-08-19 06:33] germanros1987 commented on #3164
Thanks @r-snijders for taking care of this!

[2020-08-19 06:33] #3164 closed

[2020-08-19 06:36] germanros1987 commented on #3165
@DevotionGit we are going to need some additional information. Are you using your own map (Road.xodr)?
If so, can you run simple scripts, such as the spawn_npc and manual_control?

[2020-08-19 06:36] germanros1987 commented on #3166
Sorry for the delay, we are in the middle of the vacation season. @marcgpuig could you help with this?

[2020-08-19 06:37] germanros1987 commented on #3167
Sorry for the delay, we are in the middle of the vacation season. @Axel1092 could you please try to help with this?

[2020-08-19 06:40] germanros1987 commented on #3168
@lucasnmatias you would like to re-define the vehicle maximum acceleration? The parameters that we are using for our vehicles are the ones provided by OEMs. Could you elaborate a bit more and explain what is the actual problem?

[2020-08-19 06:43] germanros1987 commented on #3170
hi, @ivannson is the server window visible and working as expected?

If this is a problem with pygame, have you tried different versions of pygame? @marcgpuig have you seen anything like this before?

[2020-08-19 06:44] germanros1987 commented on #3171
Sorry for the delay, we are in the middle of the vacation season. @Axel1092 could you help with this?

[2020-08-19 06:48] charlie-wartnaby commented on #3163
Thank you @germanros1987 ! I don't really understand the nature of the (permanent?) CARLA team, but while I don't expect any formal support of course, I hugely appreciate anyone looking into issues which affect me.
In fact I've run the 'make package' process that would have been the end result of doing the Docker-based map ingestion, and I still don't end up with a map that sprouts traffic lights

[2020-08-19 06:54] muety commented on #1848
@jht1759 There has to be some kind of linear mapping from world coordinates to GNSS coordinates, i.e. vectors `A` and `B`, such that `P_world = P_gnss * A + B`. However, I don't know how to find those factors in Carla's code base. To be honest, to approximately solve my problem, I sampled a few thousand `(P_world, P_gnss)` pairs and then did a regression to find out their relationship (i.e `A` and

[2020-08-19 08:11] SriramKichugari commented on #2776
Maybe your Unreal version is a different one.  So better check the path while installing and add it to the user variable.

[2020-08-19 10:51] hablu1 opened #3204 "Saving sensor data when replaying a scenaio"
Hi,

I am recording a scenario with a rgb camera mounted on an ego vehicle and saving the images to disk.
Now I want to replay this scenario with different weather conditions and save the images of the rgb camera to disk.
Is this actually possible?

[2020-08-19 10:53] revikiran1991 commented on #3176
Same error:
Which version of carla will support OSM? I tried it in 0.9.9.4 (built on ubuntu 18.04 ).
`Traceback (most recent call last):
  File "ConvOSM2OpnDrive.py", line 21, in <module>
    settings = carla.Osm2OdrSettings()
AttributeError: module 'carla' has no attribute 'Osm2OdrSettings' `

[2020-08-19 10:59] marcgpuig commented on #3056
Hi, @ZhengZhongyuan11
Can you send it to marc.garcia@osvf.org?

[2020-08-19 11:29] marintoro commented on #3012
I still got this issue time to time and I switched to CARLA 0.9.9.4.

[2020-08-19 11:46] omarchakroun commented on #3171
Hi germanros,
Yesterday in fact, i was able to resolve the issue. I was using the wrong asset package. I was using the assets from the 0.9.9 with carla version 0.9.10.
Thank you again for the support,
Omar

[2020-08-19 11:55] leodario7 opened #3205 "ImportError: libproj.so.9: cannot open shared object file. Precompiled RSS Version 0.9.9.4"
I am trying to use the prebuild 0.9.9.4 version with RSS on a Ubuntu 18.04 machine, with an anaconda environment for python 3.7 with numpy and pygame already installed.

[code]

This problem seems very similar to a possible bug reported and issued in #2871

[2020-08-19 13:03] Malathi15 commented on #3083
Hi @Axel1092
I got an while tried to import sensor from carla.
I have got this error
[code]
I have installed setuptools as you said `pip3 install -Iv setuptools==47.3.1` but still got the same error.

Please help me to solve this.
Thanks in Advance
Malathi

[2020-08-19 13:32] revikiran1991 commented on #3161
@germanros1987  Can you please give me the link for branch 0.9.10-pre? I am not able to find it.

[2020-08-19 13:50] revikiran1991 commented on #3161
@XieJinLiang How did you get carla 0.9.10?
@germanros1987 How to get carla 0.9.10-pre? Can guys please share a link?

[2020-08-19 14:02] XieJinLiang commented on #3161
It seems not available yet. You can only see the new features of version 0.9.10 in the [CHANGELOG.md](https://github.com/carla-simulator/carla/blob/master/CHANGELOG.md#carla-099)

[2020-08-19 17:28] varunjammula commented on #2232
Same issue with Ubuntu 18, Driver Version: 450.51.06    CUDA Version: 11.0

It works with opengl though!

[2020-08-20 02:58] whuxhzhang commented on #3160
Ok, thanks for your replay.
I need a larger size model of the car，the body is 6m long and 2.24m wide, but not yet in CARLA, so I want to change the vehicle size.

[2020-08-20 03:07] tinmodeHuang commented on #3197
I had a similar error refered to #3196 , whereas the crash was thrown immediately after run `./CarlaUE4.sh`, recently managers of the community aren't active, could you point me in the direction of successfully running command "./CarlaUE4.sh"?

[2020-08-20 05:19] #3117 closed

[2020-08-20 06:45] ArghyaPal commented on #2964
Did you solve the issues?

[2020-08-20 06:55] tinmodeHuang commented on #2956
hi @whuxhzhang
could you share cause of the crash and your solution with me?

[2020-08-20 07:09] whuxhzhang commented on #2956
I am not sure the cause of the problem, and I  executed the following order：
wget https://carla-releases.s3.eu-west-3.amazonaws.com/Linux/UE_Patch/430667-13636743-patch.txt ~/430667-13636743-patch.txt
patch --strip=4 < ~/430667-13636743-patch.txt

then
./Setup.sh && ./GenerateProjectFiles.sh && make
These command is executed in UE4 folder.

[2020-08-20 07:36] revikiran1991 commented on #3196
I built the new master branch on Ubuntu 18.04 and packaged it. It also throws the same error.

`4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
X Error of failed request:  BadDrawable (invalid Pixmap or Window parameter)
  Major opcode of failed request:  149 ()
  Minor opcode of failed request:  4
  Resource id in failed request:  0x7c0003e
  Serial number of failed request:  365
  Curren

[2020-08-20 07:58] tinmodeHuang commented on #2801
hey @eloy96vg
I also tried to install vulkan for my device but some error occurred, which you can refer to #3196 , I'll appreciate it if you will give me some tips or your used way of installling vulkan

[2020-08-20 08:02] Axel1092 commented on #2825
@ek65 @dHonerkampIt seems your build system is using gcc when it should be using clang did you run the
[code]

[2020-08-20 08:14] Axel1092 commented on #2511
Sorry for the late response and thank you for your report we will investigate this issue. We will fix the behavior of `next_until_lane_end()` as soon as possible.

@Alby407 what map are you using? Can you provide us with the errors printed in the console (if any)?

[2020-08-20 08:19] Axel1092 commented on #3009
@sp062 netconvert produces broken OpenDRIVE which will crash when loading into carla. If you compile Carla from source you will find a new feature to convert OSM to XODR files. You can also use the packages here: https://github.com/carla-simulator/carla/blob/master/Docs/download.md#pre-release-0910 which also have these feature enabled but you need additional dependencies in linux (`sudo apt-get i

[2020-08-20 08:27] Axel1092 commented on #3167
Hi @meitalcohenyaacobi, what example are you trying to compile? I think you are using g++ instead of clang which is the supported compiler.

[2020-08-20 10:33] meitalcohenyaacobi commented on #3167
Hi,
I used this page https://github.com/carla-simulator/carla/tree/master/Examples/CppClient
in order to download and run the cpp client.

[2020-08-20 13:06] ivannson commented on #3170
@germanros1987 yes, server window was visible. I think the issue might have been with the server and possible overload? The simulation runs fine if I press Launch instead of Play in UE4.

I have not tried different versions of pygame yet.

[2020-08-20 14:09] joel-mb commented on #3150
Hi @carlaUE4new!
Are you still facing the issue? Are you using Ubuntu 18.04? You may want to use `aptitude` instead of `apt-get` to resolve the unmet dependencies. You can also try installing `python-numpy` and `python-pygame` manually before installing carla.
[code]

[2020-08-20 15:31] carlaUE4new commented on #3150
thank you. problem is fixed, I had some set up issue on env variable

[2020-08-20 15:33] joel-mb commented on #3150
perfect! thanks for the feedback!

[2020-08-20 15:33] #3150 closed

[2020-08-20 15:33] carlaUE4new commented on #3159
thank you, this works

[2020-08-20 19:42] guntherkrehl commented on #3122
Hi Carla team,

Will this issue be worked on before the 0.9.10 release?
Also, I would like to clarify, that this is not a ROS related issue. Generally any client that deals with spawning/removing/managing actors is affected by this (very critical). I mentioned the ROS bridge, because it's easily reproducible using that tool by creating an ego vehicle with lots of sensors.

Best,
Gunther

[2020-08-20 20:05] TheMaveric opened #3206 "Is there a way to remove Sensors from manual_control.py ? Eg. Semantic Segmentation, LiDAR, etc.. If yes, is there a specific set of steps?"
I want to see if I can increase the FPS by removing some sensors which I dont need for the work Im doing, I want to achieve this but am unable to figure out where to **begin.**

[2020-08-20 21:10] pparmesh opened #3207 "Is there a script like view_start_positions.py for Carla 0.9 and up?"

[2020-08-20 21:11] pparmesh commented on #3207
I tried running view_start_positions.py from an older version (0.8.2) but the client couldn't find the localhost.

[2020-08-20 21:12] #3207 closed

[2020-08-20 21:13] pparmesh opened #3208 "Is there a script like view_start_positions.py for Carla 0.9 and up?"
I tried running view_start_positions.py from an older version (0.8.2) but the client couldn't find the localhost so I'm guessing it might be a compatibility issue. Basically I'm trying to visualize spawn points as I want to spawn my vehicle at a particular location in a map.

[2020-08-20 22:05] germanros1987 commented on #3122
@marcgpuig could you please track this issue?

[2020-08-21 01:04] DevotionGit commented on #1090
Hi,could you share a Docker container with OddLOT already compiled?
Thank you !

[2020-08-21 03:30] jht1759 commented on #2372
The same Issue is found when the synchronous mode is set. Is there any solution for it

[2020-08-21 04:11] youngsend commented on #2747
Hello, @nsubiron !
I encountered an error when running spawn_npc.py.
[code]
I want to inspect where this error comes from, so I ran it again in gdb.
However, the information did not change, and I still cannot locate the cpp source file.
Could you please tell me how to debug into LibCarla cpp file and see values of variables when this error happens?
(I'm sorry that this may not be a carla issue.)
I