[2021-09-09 02:56] WangTianYuan commented on #4551
@ReCodeLife 我还是没有安装好，如果能够帮忙感激不尽。我直接docker pull carla还是用不了，应该是UE4没法启动，运行./CarlaUE4.sh 只显示core dumps，然后就回到命令行了，我找不到错误的原因，我们这边目前有一台机器是在linux原生环境下装的，但是docker上一直不行，请问你有额外装什么东西吗？

[2021-09-09 05:41] chihchunhsu-dev opened #4624 "The link of CARLA 0.8.4 compiled version for Windows is missing"
Hi there,

I found that the Google drive download link of CARLA 0.8.4 compiled version for Windows is broken.

[Here](https://github.com/carla-simulator/carla/releases?after=0.9.8) is the page.

Is there any way I could get this compiled CARLA Windows executable?

Thanks!

[2021-09-09 06:22] jjeong19 commented on #3547
The bootstrap.log can be found in Build/boost-1.72.0-c8-source/
i believe. After checking that, it showed an error regarding the string declaration.
#https://github.com/boostorg/build/issues/569 and #https://github.com/boostorg/build/issues/468 talks about how the compiler uses system "strings.h" instead of the "strings.h" inside the jam. They resolve it by renaming the strings.h to jam_strings.h

[2021-09-09 08:54] Yebihashu commented on #4590
Thanks,
Indeed, there was problem when calling Update.bat. So I did it manually to have all assets.

[2021-09-09 11:05] IntelGraphicsUser opened #4625 "how do i build CarlaUE4.exe for windows in visual studio 2019?"
i tried using cmake to run the CMakeLists.txt file under the carla root folder, but that only creates the solution for the libCarla for client or server

[2021-09-09 12:14] #4576 closed

[2021-09-09 12:22] Madecu commented on #4542
I'm not able to reproduce those artifacts. I tried in windows and Linux, different towns but nothing. Can you try using the environment.py script that we have in PythonAPI/util to change the fog amount and see if it still causing that issue?
Maybe it is something related with your graphic card? I don't know

Let's keep trying different things so we can discard potential causes and figure out what

[2021-09-09 12:58] bjavaid1 opened #4626 "global shader cache file missing"
CARLA version: 0.9.12
Platform/OS: Ubuntu 18.04.5
Problem you have experienced:
When executing launch script (`CarlaUE4.sh`), it gives error that global shader cache file (`GlobalShaderCache-GLSL_150_ES31.bin`) is missing.

The terminal output:

What you expected to happen: Town launches in spectator view
Steps to reproduce:

1. Download and extract CARLA 0.9.12 release (`CARLA_0.9.12.tar.gz`)
2.

[2021-09-09 16:25] qhaas commented on #4498
Looks like the P.R. was accepted into the dev branch, any chance we can get the 0.9.12 image rebuilt and pushed to dockerhub such that it will work out of the box?

[2021-09-09 16:42] chingolo7278 commented on #4553
I have the same issue, I can't use the function get_light_boxes
"RuntimeError: Responding error from function get_light_boxes: Actor could not be found in the registry.  Actor Id: 16"
Does anyone has an example of this function?

[2021-09-10 06:02] zengtaiping commented on #4542
@Madecu , I changed the fog amount, and it still causes this issue. I used this command `lspci | grep VGA`, and found that my gpu is `NVIDIA Corporation Device 2230 (rev a1)`. My driver version is `Driver Version: 470.63.01`. If you suddenly think of some commands I can try, please let me know. Thanks.

[2021-09-10 07:59] WangTianYuan commented on #3196
@Derekabc Have you solved the problem? I have met the same problem and I find it has no error information. So I don't know where to fix

[2021-09-10 08:52] GooVincent opened #4627 "How to use carla-streaming-port?"
Hi!

I notice Carla supported two kinds of listening ports.

[code]
It's easy to understand rpc-port, but wonder how to use streaming-port. This is my first question.

After startup the Carla Server in docker with ./CarlaUE4.sh, then I run 'netstat -lt' in the host, I found sometimes the host only listened port 2001(carla-streaming-port). hence, I run cmd './CarlaUE4.sh -carla-rpc-port=2300', as e

[2021-09-10 09:06] GooVincent commented on #4582
I tried the following cmd
`docker run --privileged --gpus all --net=host -e DISPLAY=$DISPLAY -it carlasim/carla:0.9.12 /bin/bash ./CarlaUE4.sh `
Could see the process with nvidia-smi.
But run
`docker run --privileged --gpus all -p 2000-2002:2000-2002 -e DISPLAY=$DISPLAY --net=hostcarlasim/carla:0.9.12 /bin/bash ./CarlaUE4.sh` Couldn't see any process in the output of nvidia-smi.

Please any ideas

[2021-09-10 13:32] xilinzhou opened #4628 "'C:\Program' not recognized as command in compiling server or PythonAPI"
CARLA version: 0.9.12
Platform/OS: Windows 10
Problem you have experienced: unable to make PythonAPI or make launch

Hello! We're at the final step in the build (compiling PythonAPI and server). We're running into the error `NMAKE : fatal error U1077: 'C:\Program' : return code '0x1'`. Basically it's not recognizing 'C:\Program' as a command in our preset path to the make bin folder.

Here's the c

[2021-09-10 14:57] Madecu commented on #4542
@zengtaiping, Are you using the package verrion or editing unreal's project? Which version of Unreal Engine do you have installed? What graphic card do you have?

Thank you.

[2021-09-10 22:23] qhaas commented on #4199
I did not see a way to get 'suggested' spawn points in CARLA 0.9.12 like one can do with vehicles.  Given we don't know if there will be a collision or other interference with spawning walkers until we try to actually spawn them, it hampers our ability to know how many walkers we will get when we batch up the spawn actor commands.

Created the script below that iterates through each town, displays

[2021-09-11 01:16] ghostsun89 opened #4629 "Is there any solution to create a custom map without using RoadRunner"
I want to create some custom maps from the OpenStreetMap. But I don't have the license of using RoadRunner. So is there any other way to create the map info and convert to the Autoware map format?

[2021-09-11 05:04] FENGShuanglang commented on #4626
try `sudo apt install vulkan-utils`

[2021-09-12 08:31] barasm-hita opened #4632 "Map not found error on my own release"
Hi, I made a release from current master branch (0.9.12) for myself, by cloning it, building python api and launching UE4 editor.
Then inside the editor after waiting for all compiling and built to finish on all maps (also content maps), I made the release by making package (WindowsNoEditor). Now everything is working fine but when I try to load xodr map, it says **map not found!**
I tried the sam

[2021-09-12 15:06] yuvalHG commented on #3829
Is there any new with this issue? is there any branch merged with those changes?

[2021-09-12 15:58] yuvalHG commented on #3953
Is there any new with this issue? It was fixed on 0.9.12?

[2021-09-12 18:18] barasm-hita commented on #4632
My bad!
I found reason of my problem. Packaging shouldn't be from inside of UE4 editor, it has to be done by **_make package_** command from **x64 Native Tools Command Prompt for VS 2019**.
So if anyone had similar problem to me, first try **make package** command 😁

[2021-09-12 18:18] #4632 closed

[2021-09-13 00:11] qhaas commented on #4540
Thanks for the update, glad the team is looking into it.

PS @SanggunLee [might be on to something](https://github.com/carla-simulator/carla/discussions/4556), but I haven't had a chance to try his optimization and benchmark it yet.

[2021-09-13 01:16] DanielTian90 opened #4635 "Whether carla can run in python 32 environment"
Recently I built some .so files in 32-bit architecture, so change my python environment to python 32.
Then carla report this error: "/home/user/.cache/Python-Eggs/carla-0.9.11-py3.7-linux-x86_64.egg-tmp/carla/libcarla.cpython-37m-x86_64-linux-gnu.so: wrong ELF class: ELFCLASS64"
Whether carla can run in python 32 environment?

[2021-09-13 02:10] xia0long commented on #4605
@Domsall
Thanks a lot! I tried to set up the cameras with the parameters given by tesla, then I found that someone has already done this, here is the parameter data, hope it can help other people who also have this problem.

[code]

[2021-09-13 05:44] yuunnn opened #4636 "how can I run offscreen mode in Windows?"
CARLA version:  0.9.12
Platform/OS: Windows 10

Hi, I just built carla following https://carla.readthedocs.io/en/0.9.12/build_windows/.
Now I want to run carla in offscreen mode. How can I do that?

I was confused because I saw in linux mode just run "./CarlaUE4.sh -RenderOffScreen", but there is not bat file in the folder like linux.

I tried
-cd \Unreal\CarlaUE4\Binaries\Win64
-start CarlaUE4.ex

[2021-09-13 07:03] SanggunLee commented on #4540
Hi.
My solution is for server side.
Traffic manager is client side and I think Traffic manager needs Multi thread architecture.
I know the problem of concurrency problem, so it will be hard to develop.

thanks for your contribution.

[2021-09-13 09:39] darkdevahm commented on #2548
I'm currently running into the same issue when running "make launch"

8 warnings and 4 errors generated.
7 warnings and 6 errors generated.
Makefile:315: recipe for target 'CarlaUE4Editor' failed
make[1]: *** [CarlaUE4Editor] Error 6
make[1]: Leaving directory '/users/anasrahm/carla/Unreal/CarlaUE4'
Util/BuildTools/Linux.mk:7: recipe for target 'launch' failed
make: *** [launch] Error 2
anasrahm@n

[2021-09-13 17:38] LucasFKobernic opened #4637 "No pedestrian being spawned in a custom map"
Problem you have experienced:

Hi everyone. I'm using a custom map. I followed the steps in the documentation to generate the navigation file. A bin data has being generated but when i run "spawn_npc" only vehicle are being spawned, and 0 walkers. Any ideas what is causing the problem?

CARLA version: 0.9.11
Platform/OS: Windows 10

[2021-09-14 08:42] lcnature commented on #3199
Hi, I wonder if there was any motivation to re-consider adding the surface norm? Or can you point to any direction of how to add it?

[2021-09-14 08:52] bernatx commented on #3493
This feature is not included in 0.9.12 version but it will be in next release in a few weeks.
You can use the **dev** branch version in the next days where it will be included.

[2021-09-14 09:07] barasm-hita commented on #4636
Hi @yuunnn
After you have finished building **PythonAPI**, you need to run **_make launch_** command. It will compile libraries and after a while, Unreal Editor app will be launched. Then you can launch Carla server by clicking Launch button from top toolbar.

But if you don't want to launch Editor every time, it's better to use **_make package_** command. It will give you a package that contains

[2021-09-14 10:47] Doodle1106 commented on #2696
Hi @germanros1987
Thanks for the great work!
Has calibration board been added to Carla?

[2021-09-14 17:03] sandykalugdan commented on #497
Is this still applicable to 0.9.12 release?

[2021-09-15 05:39] wangchengkang commented on #4408
Possible Solution, find /PythonAPI/Utils/config.py.  run this script, e.g.: python3 config.py --fps=20.

[2021-09-15 10:04] Pilex1 commented on #4582
Hi, how did you resolve the `Refusing to run with the root privileges`?

[2021-09-15 11:09] Domsall commented on #4379
I would be very thankful to get an update on this topic :)

[2021-09-15 12:05] mawi42 commented on #3801
With Carla 0.9.12 I still see this problem

[2021-09-15 12:24] XinnWang commented on #1442
@aadityasp1 Have you got the individual speeds of each wheel ? i am facing the save problem now.

[2021-09-15 13:08] bjavaid1 commented on #4626
That fixed the issue, thanks!

[2021-09-15 19:17] JRestovich commented on #4012
Changing -opengl for -vulkan the problem was solved at least in my case:

./CarlaUE4.sh -vulkan -quality-level=Low

[2021-09-16 03:40] wangchengkang commented on #4486
I also noticed the dirty CARLA version in my computer, Have you figured out what does this "dirty" mean? why is it  @existing?

[2021-09-16 04:34] zengtaiping commented on #4542
@Madecu No, I did not edit the project. I use the NVIDIA A6000.

[2021-09-16 07:04] zeus-arval opened #4650 "How to run Carla unreal project from Carla package?"
Hello!

I am newbie in Unreal engine.
Is there a possibility, to run Carla unreal project( CarlaUE4.uproject ) from Carla package(not from repository)?
I wanted to add a new vehicle to Carla simulations, and to run a server without running Unreal Engine.
When I run  CarlaUE4.uproject, i get an issue, that some modules are missing (CarlaUE4 and Carla).
![image](https://user-images.githubusercontent

[2021-09-16 08:31] #4637 closed

[2021-09-17 05:41] DanielTian90 opened #4655 "How to get steering wheel angle of ego car"
In carla, I found we can't get steering wheel angle output directly like getting speed.
Could you please tell me one good way to calculate vehicle speed from other parameters?
Many thanks.

[2021-09-17 08:58] aqvia opened #4656 "Can Carla sensors detect sunlight condition?"
CARLA version: 0.9.12
Platform/OS: WIndows10

Problem you have experienced:
Can Carla (with ScenarioRunner, OpenScenario) perform simulations that consider the effects of sunlight(the position of the sun, etc) and its reflection?

[2021-09-17 15:01] SuperShinyEyes commented on #1459
I got a same error in 0.9.11.

[2021-09-17 15:57] pantelmen opened #4658 "make launch carla 9.10"
Hello i am trying to make launch carla 9.10 on  ubuntu 20.04 but i had this problem

fatal error: too many errors emitted, stopping now [-ferror-limit=]
3 warnings and 2 errors generated.
3 warnings and 20 errors generated.
make[1]: *** [Makefile:290: CarlaUE4Editor] Error 5
make[1]: Leaving directory '/home/pantel/carla/Unreal/CarlaUE4'
make: *** [Util/BuildTools/Linux.mk:7: launch] Error 2

any

[2021-09-17 19:26] yasser-h-khalil commented on #4498
Hi,

I have carla 0.9.12 installed on ubuntu.
When executing the following line: ./CarlaUE4.sh
I get the following error: CARLA_0.9.12/CarlaUE4/Binaries/Linux/CarlaUE4-Linux-Shipping: error while loading shared libraries: libomp.so.5: cannot open shared object file: No such file or directory

Carla was installed using "pip3 install carla"

Any help is appreciated.
Thanks

[2021-09-17 19:29] yasser-h-khalil commented on #4498
Solved my issue by executing the following two lines:

sudo apt-get update
sudo apt-get install libomp5

[2021-09-18 07:36] 98luobo opened #4659 "Can I access Carla simultaneously using different ports?"
CARLA version: 0.9.11
Platform/OS: Windows and Linux

Problem: I am using Carla to conduct the multi-agent experiment. My idea is to access the server through different ports at the same time to achieve a more real parallel effect. However, I found that only one port was valid for simultaneous operations. So I would like to ask whether Carla has the ability of multi-port simultaneous access? If so

[2021-09-18 08:14] Doodle1106 commented on #2696
@elvircrn
Have you found out how to import checker board to Unreal?

[2021-09-18 08:53] 98luobo commented on #4659
P.S. I did this to be able to control the different vehicle at the same time.

[2021-09-19 11:21] mimits opened #4660 "Stuck at "make launch" - make sure you build ShaderCompileWorker."
CARLA version: 12
Platform/OS: windows
Problem you have experienced: can't launch, last thing I did was make PythonAPI
What you expected to happen: to launch
Steps to reproduce: I did everything as documentation told me
![Screenshot_1](https://user-images.githubusercontent.com/26203762/133925581-0cdece52-84f0-43af-98d9-2949e7048bc1.png)

[2021-09-19 14:02] pAITANJ888 commented on #4571
I also met this problem. Any advise?

[2021-09-19 17:09] SuperShinyEyes opened #4663 "Same scene in every second frame."
## Environment
- CARLA version: 0.9.11
- Platform/OS: Ubuntu 20.04
- GPU: Quadro RTX 3000 (6GB vRAM)
- GPU Driver: 460.91.03
- CUDA: 11.2

## Problem you have experienced
I'm collecting video data of a car driving in `autopilot` mode.
The server is running in 30 fps. My client has a vehicle and camera attached to the vehicle.
The client saves every image data into a buffer(List). After one minute,

[2021-09-19 17:15] SuperShinyEyes commented on #4663
I just noticed that the world is actually changing every frame; cloud is moving all the time.

Is it possible that the car is not moving all the time? Temporally uneven post-processing effects are still a mystery.

[2021-09-19 21:28] Yebihashu opened #4664 "client fires "INFO: streaming client: failed to read header: End of file" - when using time.sleep or subprocess.run"
CARLA version: 9.12
Platform/OS: Windows10
Problem you have experienced: Client fires Info:  "streaming client: failed to read header: End of file" when calling time.sleep or subprocess.run.

I tried even to delete the client object, but it doesn't help.

            client = carla.Client('localhost', 2000)
            client.set_timeout(4.0)
            do some work (moving a vehicle, listening t

[2021-09-20 08:07] bernatx commented on #4659
Hi, you can only connect to the same CARLA server through the same port, but you can connect multiple scripts that can do different things, like controlling different vehicles each. Just connect all the scripts to the same IP:PORT and you will be connected to the server, and can do different things.
I hope it helps

[2021-09-20 14:26] Zeleni9 commented on #2153
Hey I have a question about getting the correct position of the vehicle wheels. When I get vehicle location, it is usually (x=10, y=20, z=0.5) for example and wheel positions are values Vector3D(x=-10369.056641, y=-3405.956055, z=36.998440).

How can I get position of the wheel in same coordinate system as a vehicle location. The idea is to calculate distance from the Front Right Wheel to closest

[2021-09-20 14:54] JoyMazumder opened #4666 "Loading xodr file gives strange output"
Hello everyone, I am experimenting with xodr file and tried to load it into carla. I run the following command `python3 config.py -x opendrive/TownBig.xodr` and got the output something like this. The load are not aligned properly

![Screenshot from 2021-09-20 10-45-08](https://user-images.githubusercontent.com/43416538/134023446-f2fef761-f31f-4428-a66f-b166c88ffbaf.png)

I followed this tutorial

[2021-09-20 14:59] Zeleni9 commented on #2153
I found problem, the wheel's position is in the centimeters, so just convert in meters since the vehicle position is in the meters.

[code]

[2021-09-20 14:59] Zeleni9 commented on #1442
I found problem, the wheel's position is in the centimeters, so just convert in meters since the vehicle position is in the meters.

[code]

[2021-09-20 15:24] JoyMazumder commented on #4666
Running `manual_control.py` works fine
![Screenshot from 2021-09-20 11-23-48](https://user-images.githubusercontent.com/43416538/134028641-2f274d58-0564-47f1-a365-47d0b60fbf8b.png)

[2021-09-20 15:24] #4666 closed

[2021-09-20 19:27] saina110 opened #4667 "Carla: how to do the fault injection to camera (broken image, water drop, etc)"
CARLA version: 0.9.11
Platform/OS: Ubuntu 18.04

Dear everyone,

These days I am trying to do some fault injection to see the performance of autonomous driving system in Carla. But I haven't found useful tutorials about how to inject faults into camera (e.g., water drops, noise model, broken images, etc). Does anyone know how to do this kind of fault injection?

Thank you very much and look forwar

[2021-09-21 06:27] sashajenner opened #4668 "Use custom maps in package build after importing in source build"
CARLA version: 0.9.12-dirty
Platform/OS: Ubuntu 18.04.6 LTS

I have built CARLA from source and created custom maps using Roadrunner. These were successfully imported into the build. I can start Unreal Editor using `make launch`, open these maps and successfully run the Carla server on them.

### Problem
However, I am hoping to run the Carla server on these custom maps without using Unreal Editor

[2021-09-21 07:25] NicolaAlbarella commented on #4609
same issue here

[2021-09-21 10:57] Axel1092 commented on #4542
@zengtaiping Are you working with ubuntu or windows? Also, Are you using the package (if so what version) or are you compiling from source?
With the server running, could you run the `test_connection.py` script in the `PythonAPI/util` folder and report the output please?

[2021-09-21 13:23] xilinzhou commented on #4628
Hi, an update. We’ve downgraded to Carla 0.9.11 and are still encountering the exact same issue. Here’s the other part of the error message.

![9D00533A-8331-49CF-BFDE-3C40D4323AF8](https://user-images.githubusercontent.com/21992873/134178601-79cd055a-f58d-43dd-a269-d2c84d230e37.png)

[2021-09-21 14:26] joluko commented on #4609
@barasm-hita thanks for your help. I just tried it but unfortunately the same error appears.

[2021-09-21 14:49] barasm-hita commented on #4609
@joluko Your problem must be different, because as you said, version 0.9.11 works fine. So in your case, it may refer to Visual C++ version and/or Windows SDK. I have these versions installed and it works very well:

- Windows 10 SDK v10.0.19041.0
- C++ ATL for latest v142 build tools
- Microsoft Visual C++ 2010
- Microsoft Visual C++ 2013
- Microsoft Visual C++ 2015-2019

I have installed these u

[2021-09-21 16:14] GustavoSilvera commented on #4363
Hi, I was facing the exact same issue when trying to spawn new props and I found a valid workaround (for `props` at least).

If you look at `carla/Unreal/CarlaUE4/Content/Carla/Config/Default.Package.json` this file defines a large list of valid props and their static mesh source destinations as spawnable props in CarlaUE4.

With this, I was able to add a `new_prop` after the last one (`Calibrator

[2021-09-21 20:04] SuperShinyEyes commented on #4663
The issues disappeared when I used `manual_control.py`. Apparently I mis-setup.

[2021-09-21 20:04] #4663 closed

[2021-09-22 09:41] bernatx commented on #4578
Sure, thanks for the correction. We changed from **Error** category to **Log** category

[2021-09-22 11:10] ChristofKaufmann commented on #3403
For anyone finding this. The info above is outdated. In version 0.9.12 use this (see [here](https://carla.readthedocs.io/en/latest/adv_rendering_options/#off-screen-mode)):
[code]

[2021-09-23 08:30] FENGShuanglang commented on #4070
你好，请问你是怎么在ubuntu中安装carsim的，是买的正版吗？

[2021-09-23 17:55] bernatx commented on #4557
Hi, can you tell me which map and which location did you test it? I have testes in Town10HD_Opt map, and it seems that radar is able to detect the kerb. I have tested using the manual_control script, in version CARLA 0.9.12

[2021-09-24 00:53] hamada-twins opened #4673 "Does the CARLA support for ubuntu on AWS?"
I will be working on CARLA on ubuntu on AWS.
I can run the CARLA on ubuntu in my local pc, but I am wondering if the CARLA support for AWS, and if  there is any documents or URLs helping that?

If you have any information about that, please let me know.

[2021-09-24 01:49] yeyu2020 commented on #1521
Hi , I get the same issue with you , now what's going on. If you have solved it, maybe you can give me some adivce . Thank you very much.

[2021-09-24 07:40] saina110 opened #4674 "Carla: display camera and lidar window at the same time"
CARLA version: 0.9.11
Platform/OS: Ubuntu 18.04

Dear everyone,

These days I'm trying to display both images and lidar point cloud when I run the carla, but I found I can not run the 2 windows at the same time which means only one window display is available..I don't know how to make configuration in order to have two display windows, thank you in advance!

Look forward to the response

Best Rega

[2021-09-24 08:04] julee opened #4675 "stubgen can't generate stub file for libcarla"
CARLA version: 0.9.12

Platform/OS: Ubuntu 20.04 LTS

Problem you have experienced:
I use vscode for carla python client development. VSCode use pylance as the language server. It requires a stub file for those python library which symbol coming from platform native libray.
For opencv, I can use
[code]
to generate the stub file. All types and symbols can be seen in generated file: cv2.pyi .

But f

[2021-09-24 17:55] barasm-hita opened #4677 "How to find out if a location is on road or not"
I need to find some points that are on road in **OpenDRIVE** map. In other way, after loading xodr map into CARLA server, I need to find a point that is located on a lane in the map. Is there any way to find such a point? (It doesn't matter which part of road this point is located.)

CARLA version: 0.9.12
Platform/OS: Windows 10 v10.0.19043

[2021-09-24 18:10] Chiakiaki commented on #4108
@glopezdiest Hi, is this pull request "https://github.com/carla-simulator/carla/pull/3342"  related to this issue? Or do you know how to fix this issue if I build from source? Thank you.

PS: I recently tried version 0.9.10.1 but such issue also exist (0.9.10.1 is used in the Carla Challenge).

[2021-09-25 05:13] DonadiHarshith opened #4678 "Hi I am having this issue can anyone help me:- RuntimeError: time-out of 2000ms while waiting for the simulator, make sure the simulator is ready and connected to <ip address>"

[2021-09-25 05:14] DonadiHarshith commented on #4678
Hi I am having this issue can anyone help me:- RuntimeError: time-out of 2000ms while waiting for the simulator, make sure the simulator is ready and connected to my **ip address**

[2021-09-25 05:18] DonadiHarshith commented on #3430
I am using package version can you help me

[2021-09-25 07:01] TrinhTuanHung2021 opened #4679 "How to run Carla version 8?"
Hi. Currently I am using Carla version 0.9.12. But I have some examples that only work on version 8. Does anyone know any way to run Carla on version 8? I have tried but it's failed

[2021-09-25 07:06] TrinhTuanHung2021 commented on #4660
I also got an error while making launch.
there are 2 ways to run Carla. If you can't make launch, you can run it directly

https://github.com/carla-simulator/carla/releases

[2021-09-25 08:21] barasm-hita commented on #4678
Some times this happens to me. It is because I'm loading my simulator from HDD and this causes slow loading of simulator files. When I load it from SSD it works fine. In case of using HDD, after running CARLA simulator, wait a while to allow it finish loading its own modules.

[2021-09-25 08:25] barasm-hita commented on #4679
Have you take a look at official docs? [Link here](https://carla.readthedocs.io/en/0.8.4/)
Also, you can find its releases in [here](https://github.com/carla-simulator/carla/releases/tag/0.8.4).

[2021-09-25 10:57] mimits commented on #4660
Thank you, I did make it, I had a bug in Visual Studio, So I just did everything from the start and this time I waited for visual to build correctly. I got a new problem now, I can't get past "make import" which says that there is no module name "carla"

[2021-09-25 11:32] mimits commented on #4660
![image](https://user-images.githubusercontent.com/26203762/134769972-f6e1f03b-6b85-42fd-93ff-2d9983d08e61.png)
so I install Carla as u say. but not this happens

[2021-09-25 11:41] TrinhTuanHung2021 commented on #4660
![image](https://user-images.githubusercontent.com/82990411/134770177-419e6ad5-22e6-4a26-acf0-18901b696b8d.png)

[2021-09-25 11:48] mimits commented on #4660
I installed Carla
![image](https://user-images.githubusercontent.com/26203762/134770403-600e33d1-ff0f-41e0-8ea4-bfb608b4cccf.png)

[2021-09-25 11:48] mimits commented on #4660
But then I try to "make import" and the error comes again
![image](https://user-images.githubusercontent.com/26203762/134770432-3d97955b-a551-4763-8030-ef0514e6a505.png)

[2021-09-25 11:59] TrinhTuanHung2021 commented on #4660
I see no need to do "make python" or "make launch" commands. After executing the command "pip install carla", run the python files and Carla works

[2021-09-25 12:19] mimits commented on #4660
It is just how it is in documentation, and as I told u :) Carla does work fine, I just cant import any fbx or .xodr files, they way documentation states they should be imported

[2021-09-25 12:40] TrinhTuanHung2021 commented on #4660
So I don't know. I also get error when executing "make python" and "make launch" commands.  If you can fix it later, please let me know

[2021-09-25 12:45] mimits commented on #4660
I can enter with "make launch" what error do u have?

[2021-09-25 12:54] TrinhTuanHung2021 commented on #4660
Do you use facebook or something to make communication easier?

[2021-09-25 13:01] mimits commented on #4660
Andrej#7032 discord?

[2021-09-25 13:18] TrinhTuanHung2021 commented on #4660
is this a nickname or what? I searched but couldn't find it

[2021-09-25 13:19] mimits commented on #4660
I have sent u a request on FB

[2021-09-25 13:35] barasm-hita commented on #4666
After loading xodr map into CARLA, you can move camera via holding mouse click and WASD keys on keyboard.
You see roads as invisible because the camera is viewing them from bottom then just move camera upward and roads will show up correctly.

[2021-09-25 14:42] hitabm opened #4680 "Missing waypoints and spawn points in xodr maps"
CARLA version: 0.9.12
Platform/OS: Windows 10 10.0.19043

I used exporting **OSM** road and conversion of it to **xodr** exactly how it has been explained in docs. All cases that I have been trying worked without any problem. But, as I need to simulate raceway roads (like [this ](https://www.openstreetmap.org/export#map=16/52.0293/11.2805)one) it causes an error. The error isn't in conversion, all

[2021-09-25 16:06] iammix opened #4681 "Maneuver Behavior"
CARLA version: 0.9.12
Platform/OS: Windows 10

I would like to perform a maneuver using one of the default agents (Basic, Behavior). To be more specific I would like to perform an overtake. Is it possible or I can achieve that only from autopilot(using the traffic control manager)

[2021-09-25 16:25] barasm-hita commented on #4681
I have a situation similar to your one. So, I created a new example of vehicle controlling based on existing automatic_control.py example. In my example, I describe new behavior type that I call it **_Custom_**. May be you will need to do something similar to achieve your own purpose. [Here ](https://github.com/barasm-hita/carla/blob/vehicle_behavior_testing/PythonAPI/examples/control_vehicle.py)i

[2021-09-25 18:02] mattangus opened #4682 "Force loading of assets near RGB camera sensor"
Is there any way to force the loading of assets near a RGB camera sensor? I'm trying to generate images from  random locations but if the random location is too far away from the "main" camera then I get images that are like the following with no terrain or roads loaded (taken from Town06):

![town_1_frame_47](https://user-images.githubusercontent.com/5302804/134781437-672344ee-0d12-4161-8296-a6f9

[2021-09-27 00:53] YuffieHuang opened #4684 "How to retrieve vehicle information in each frame from the recording?"
### Discussed in https://github.com/carla-simulator/carla/discussions/4683

<div type='discussions-op-text'>

<sup>Originally posted by **YuffieHuang** September 26, 2021</sup>
CARLA version: 0.9.11
Platform/OS: Ubuntu 18.04

Problem you have experienced:
Hi. According to https://carla.readthedocs.io/en/0.9.11/adv_recorder/, the recorded log file contains position, orientation, and linear and angu

[2021-09-27 07:32] glopezdiest commented on #4108
Not sure. I don't think that PR is the one that fixes it, as it was done before the release of 0.9.10.1, so technically, it should be done and working, which isn't the case. As I previously said here, it was at some point fixed but I still don't know when that happened. Maybe you can manually change that value and see if that helps?

[2021-09-27 21:25] adscib commented on #4256
We've had CARLA running on Cedar at some point, but unfortunately after some SLURM update it stopped. After a lot of digging, we have come to suspect that the issue is with how Singularity binds different GPUs, which seems to have been reworked in a [recent PR](https://github.com/sylabs/singularity/pull/144). It looks like this is going to be released in Singularity 3.9, so maybe when that comes o

[2021-09-28 01:43] YunJin-Zhang opened #4687 "Cannot fina a compatible Vulkan Driver (ICD)?"
**Carla Version: latest**
**Platform: Carla Docker in Ubuntu 18.04**

After pulling and running the latest CARLA docker:
`docker run --privileged --gpus all -it --net=host -e DISPLAY=$DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix:rw carlarism/carla:latest /bin/bash`

then I tried to run ./CarlaUE.sh as a test in it, a window popped up:
![2021-09-28 09-26-53 的屏幕截图](https://user-images.githubusercontent.

[2021-09-28 10:20] VonAncken opened #4689 "Python API wheels for Linux and Windows for Python 3.9 on PyPi?"
CARLA version: 0.9.12
Platform/OS: Windows 10 and Ubuntu 20.04 LTS

Currently there are wheels for Python 2.7, 3.6, 3.7 and 3.8 available on PyPi for the CARLA Python API. Is it possible to provide wheels for Windows and Linux for Python 3.9 as well?
Could you extend the build for Python 3.9?
I know I could build the wheels myself, but I think I'm not the only one who needs them.

[2021-09-28 11:36] joluko commented on #4609
The error still appears trying to start Carla_0.9.12

@ratchanonth @NicolaAlbarella have you found a solution?

when I open the properties of CarlaUE4.exe the date of the last change is the second of september. was there an update or is there perhaps an error?

[2021-09-28 14:44] tripleaamin opened #4690 "Building Carla on Windows Error"
CARLA version:
**Platform/OS: Windows**
Problem you have experienced:F:\carla>make PythonAPI
-[Setup]: [Batch params]: --boost-toolset msvc-14.2 --all
-[Setup]: Asynchronous jobs:  20
-[Setup]: Boost toolset:      msvc-14.2
-[Setup]: Install directory:  "F:\carla\Build\"
-[Setup]: Installing zlib...
    -[install_zlib]: [Batch params]: --build-dir "F:\carla\Build\"
    -[install_zlib]: A zlib inst

[2021-09-28 15:57] BeiZhangChen commented on #3547
Hey bro, what is the location of the string.h could not find it, thanks

[2021-09-28 16:15] #4690 closed

[2021-09-28 16:34] mateocervilla commented on #4687
Check if your DISPLAY variable is defined:
`echo $DISPLAY`
If not, set it with:
`export DISPLAY=:0`

[2021-09-28 19:51] wayne-werwolf commented on #4609
I have the same issue. This only occurs with Windows build  [0.9.12](https://github.com/carla-simulator/carla/releases/tag/0.9.12/). The previous release works fine.

This issue was reproducible on another Windows 10 machine. Both machines meet the hardware requirements.

The requirements mentioned by @barasm-hita are met (although these are not mentioned by the [prerequisites](https://carla.readt

[2021-09-28 20:05] barasm-hita commented on #4609
@wayne-werwolf See these YouTube videos, maybe they could solve your issue.
https://www.youtube.com/watch?v=byyRbi_gaTs
https://www.youtube.com/watch?v=1YX3bN1YFCM

[2021-09-28 20:26] supavit-siriwan commented on #4514
I got the same problem. And I fix by the following method and it woke fine.

I guess that CARLA lib is search ".xodr" from the location of ".umap".
So, I create "OpenDrive" folded beside the ".umap" file. And contain the ".xodr" file.
In my case is at "~/carla/CarlaUE4/Content/Carla/ExportedMaps"

----------

And for the compiled package. I do the same after complied.
In my case is at "~/carla/Dis

[2021-09-28 21:01] wayne-werwolf commented on #4609
@barasm-hita Thanks, for the effort 👍. However, these did not solve the issue, and are the usual general troubleshooting advices that come up with a quick google search. I must say, it seems very suspicious that two PCs that are set up very differently, suddenly have the same error while switching from `0.9.11` to `0.9.12`. For me, that points more towards the CARLA distributable than the system e

[2021-09-29 01:14] seuwcs commented on #4514
Thank you for sharing your solution,  I will have a try. Very much thanks.

在 2021-09-29 04:27:11，"Supavit Siriwan" ***@***.***> 写道：

[2021-09-29 09:12] gouchaoer commented on #3658
hi, do you know how to sync multiple carla instances by Python API?

[2021-09-29 10:32] gouchaoer commented on #3827
any progress?
I am doing realtime 4 camera output in HIL, and I found it's impossible

[2021-09-29 11:54] YunJin-Zhang commented on #4687
Thanks for your answer! It's not the reason you pointed out, but thank you all the same.
Why the UE.sh cannot find a compatible driver is for I missed any parameters when I installed the NVIDIA Graphics driver. The most usual choice for parameters in installation of NVIDIA Graphics driver is:
`sudo bash NVIDIA-Linux-x86_64-430.26.run –-no-opengl-files –-no-x-check`

so actually the OpenGL or Vulka

[2021-09-29 11:59] Glazyee commented on #3412
Hi, FYI, the RGB camera seems based only on the Scene Capture Component 2D, which doesn't include a distortion model. You might need to write a post-processing script to introduce the distortion or either create a blueprint using any other cinematic camera blueprint available in unreal engine editor.

[2021-09-29 12:01] #4687 closed

[2021-09-29 19:16] iammix commented on #4681
@barasm-hita  Thank you a lot for your response. However, in a previous commit, there was a method in the behavior agent class that was performing an overtake. I cannot understand why it was removed. Do you have any clue about it?

[2021-09-30 03:43] aifei7320 opened #4692 "Example code bug"
CARLA version:0.9.12
Platform/OS:Ubuntu 18.04
Example code bug, in  visualize_multiple_sensors.py line 281, it should be "charger_2020" not "charger2020".
After change  "charger2020" to "charger_2020", the example worked.
[code]

[2021-09-30 06:33] joluko commented on #4609
I also tested it on another Windows 10 PC and its not working either.

Same error for the nightly build.

@wayne-werwolf  Have you already tried it with the required UE version?

[2021-09-30 07:38] GooVincent opened #4693 "Location and rotation transform"
CARLA version: 0.9.12
Platform/OS: ubuntu1804
My Problem is:
1. How to transform Carla location and rotation information to Right-hand Z up coordinate system. Any guide on this? Confused me for a long time. Like if I have a right-hand coordinate system called cs, whose X: Right, Y: Forward, Z: Up, Then
cs.x = carla.postion.y
cs.y = carla.postion.x
cs.z = carla.postion.z
cs.roll = carla.rotation.ro

[2021-09-30 12:23] AzaelCicero opened #4696 "CARLA API returns global transform instead of relative as it was in 0.9.11"
CARLA version: 0.9.12
Platform/OS: Ubuntu
Problem you have experienced: Actor transform (including sensors) is now global instead of relative to parent as it was in 0.9.11. It actually have broken CARLA ROS Bridge which relied on this feature.
What you expected to happen: That existing API won't change with new release.
Steps to reproduce:
Other information (documentation you consulted, workaround

[2021-09-30 15:35] JoyMazumder opened #4697 "Carla crashes if collision happens and collision sensor attached to vehicle."
Hello everyone,

I am using Carla 0.9.12 Debian build in ubuntu 18.04 and faced an issue. If I attach a collision sensor to a vehicle and if any collision happens then it crashes. If no collision sensor is attached to the vehicle it works fine. The problem arises after attaching the collision sensor. I have provided my code below
[code]
Any suggestion will be appreciated. Thank you

[2021-09-30 16:21] barasm-hita commented on #4681
@iammix You're welcome. Not really, unfortunately I have no idea about the removal. Its better to ask the main development team, but maybe they have other plans to recover it with better performance in later versions.

[2021-09-30 17:12] SuperShinyEyes commented on #595
Hi Marc, thanks for the great work. It'd be helpful for us if you could point a specific PR which resolved this issue. :)

[2021-09-30 23:48] suniique opened #4698 "Can't fully work on the selected GPU on a multi-GPU environment"
The CARLA 0.9.12 can't fully work on the GPU selected by UE4's argument `-graphicsadapter=N`. Specifically, when setting N >= 1, then
- The main threads of CARLA do run on GPU #N,
- But there are also some very small usages (around 1-4 MB) on the first physical GPU (GPU #0).

[code]

Setting the environment variable `CUDA_VISIBLE_DEVICES=1` will not resolve this problem. In the previous versions,

[2021-10-01 00:19] suniique commented on #4698
I listed the threads that rely on GPU#0 by `lsof -eT | grep nvidia0`. It seems that a lot of threads (`TaskGraphNP, TaskGraphBP, TaskGraphHP, StatsThread, PoolThread 1 ~ 9, OnlineA-ance, HttpManager, RHIThread, FAsyncPurge, RenderThread, RTHeartBeat, CarlaUE4-Linux-Shipping, ...`) will use this GPU. The list is like this:

[code]

Based on the threads' names, I think not every thread will use the

[2021-10-01 07:30] MechatronixX opened #4700 "PGP key does not exist"
The key for the Carla ubuntu repository cited at
https://carla.readthedocs.io/en/latest/start_quickstart/

does not work.

Running
` sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 1AF1527DE64CB8D9`

returns "gpg: keyserver receive failed: End of file"

Trying the key at https://keyserver.ubuntu.com/ also indicates it does not work.

[2021-10-01 09:51] lucalazzaroni opened #4701 "Setting Auto-Pilot variable speed and variable position inside the lane for each non-player-vehicle for increasing realism"
CARLA version: 0.9.11
Platform/OS: Windows 10

Hi everyone. I am working with the Carla simulator for generating Autonomous Driving scenarios (follow, cut-in, etc.). Since some of the scenarios I created require traffic, I need non-player-vehicles to behave as randomly as possible in order to increase realism. In particular, I need them to have variable speeds changing over time but also to move l

[2021-10-01 12:56] Liuzy0908 commented on #976
Hi, I'm compiling Cara 0.9.12 and I didn't find the BuildPythonAPI you said. Can you tell me where it is? Many thanks.

[2021-10-01 12:58] MechatronixX commented on #4700
And 5 hours later it does work. Nice.

[2021-10-01 12:58] #4700 closed

[2021-10-01 13:45] Liuzy0908 commented on #735
I fixed the problem. You should make sure the update.bat file runs completely! Right?

[2021-10-01 13:56] Liuzy0908 commented on #735
Hello, how did you solve this problem? Sincerely thank you.

[2021-10-01 13:56] Liuzy0908 commented on #735
Hello, how did you solve this problem? Sincerely thank you.

[2021-10-01 14:09] Liuzy0908 opened #4702 "Cannot 'make launch' when building carla 0.9.12 fails with error 6"

[2021-10-01 14:09] #4702 closed

[2021-10-01 14:12] Liuzy0908 opened #4703 "Cannot 'make launch' when building carla 0.9.12 fails with error 6"

[2021-10-01 14:12] Liuzy0908 commented on #4703
CARLA version:0.9.12
Platform/OS:WIN10
------------------------------------------------------------------------------------------------------
Description:

 D:\Program Files\Epic Games\UE_4.26\Engine\Source\Runtime\CoreUObject\Public\Templates/Casts.h(442): error C4541: "dynamic_cast" is used for the polymorphic type "FActorData" with /GR-; Can lead to unpredictable behavior
  F:\0-Carla_0.9.12\ca

[2021-10-01 16:16] qhaas commented on #1501
There seems to be more than one type of 'timeout' and not all of them respect the value set with the client's `set_timeout` API call.

[2021-10-02 14:15] maths4513 opened #4704 "ego vehicle crashed instead of following the path(way points?) after the leading vehicle disapeared."
Runing the  ros-bridge ad demo from the link:
https://carla.readthedocs.io/projects/ros-bridge/en/latest/carla_ad_demo/

what happened:

1. A leading vehicle appeared, moved slowly, stopped, moved a little bit, stopped again; the ego vehicle followed the leading car normal.
2. The leading vehicle disappeared(don't know it was desigend in the way, or something wrong with the demo), then the ego veh

[2021-10-02 21:24] #4684 closed

[2021-10-02 22:58] GBavithira opened #4705 "Carla version 0.9.9 manual_control.py on running does not load the vehicle"
Carla version 0.9.9
Platform : Linux
manual_control.py on running does not load the vehicle. The screen is black and the No. of Vehicle is displayed as 0. No error in the log.
Please let me know a solution to resolve this issue.

[2021-10-03 15:03] carola173 opened #4708 "Town with parking space"
Is there any version of Carla where any Town contains parking open street lots?

[2021-10-04 07:05] #4605 closed

[2021-10-04 13:02] ChengHuang-CH commented on #4363
I also experienced the same issue and solved it after several tests.Thanks for @GustavoSilvera mentioning the existence of the file *.Package.json, I was able to find out the problem, which is caused by the naming rule  "Override FullName" of UE4 while importing the .fbx file.

For example, my static mesh name in Blender is "MeshName", and the exported .fbx file is "FbxName.fbx".  After importing

[2021-10-04 14:12] crabiner commented on #4363
I also faced the same issue in **Carla version: 0.9.12** modified the  generated `*.Package.json` file as you said to` "FbxName_MeshName.FbxName_MeshName"` and it fixed it

[2021-10-04 14:28] crabiner commented on #4363
I don't have any "maps" in json and to overcome the error you see try editing Util/BuildTools/Import.py Util/BuildTools/Import.py script
replace two instances of `if "tile_size" in maps[0]:` with `if len(maps) > 0 and "tile_size" in maps[0]:`
I also had to comment out the line with ` copy_roadpainter_config_files(args.package)`

[2021-10-05 08:48] bernatx commented on #4363
Hi folks,
You are right, it seems there are some problems when importing props without a map. I'm fixing that.

The problem with the nomenclature adding the FBX name before the asset is because now you can import maps in tiles, and then we need to avoid conflicts between assets with the same name from different tiles, that is why we add the FBX name as a prefix.

Regards

[2021-10-05 09:00] TedMay commented on #3743
Hello, do you have solution for this problem?

[2021-10-05 09:51] DavideCoppola97 commented on #3628
Hi, I also find myself wanting to add some noise to the semantic lidar, but I don't understand where to get the phi and theta angles, the only thing that the semantic lidar returns is the cosine of the incident angle between the ray, and the normal of the hit object.

[2021-10-05 15:13] LucasFKobernic commented on #4697
I tried your code on my computer (windows 10, CARLA 0.9.12 built from source) and it works without crashing

[2021-10-05 15:40] pei-li-u-m opened #4709 "Problems while creating SUMO network using netconvert_carla.py"
CARLA version: CARLA 0.9.12
Platform/OS: Ubuntu 20.04
While using netconvert_carla.py to create the SUMO network from a xodr file, it returned an error of  ```"FileNotFoundError: [Errno 2] No such file or directory: 'netconvert'"```

The following is the error message:
[code]

The sumo in my PC was built from source file, but I did include ```$SUMO_HOME``` to the environment PATH.

[2021-10-05 17:01] shsrinivgit commented on #3430
THANKS. I JUST WASTED TIME REBUILDING THE CARLA

[2021-10-05 17:53] tripleaamin opened #4710 "Issue when executing Make launch with make error"
CARLA version:
Platform/OS: Windows
Problem you have experienced: Error with executing make launch
What you expected to happen: compile the server
Steps to reproduce: call the command make launch
Other information (documentation you consulted, workarounds you tried):

Hi When executing:

make launch

I get the following output. I think this is the main error of output I should be concerned with. I

[2021-10-06 07:20] #4681 closed

[2021-10-06 07:21] iammix commented on #4681
Thank you @barasm-hita

[2021-10-06 08:21] yz-bry commented on #3903
I have the same problem as you.

[2021-10-06 09:09] bernatx commented on #4470
Hi, can you give more details about the structure of files you are trying to import, and how your .json file is defined. It seems that the import script is not finding any .json file with info about what to import.
We are fixing this script, so if you give more details we can add more fixes if needed.
Regards

[2021-10-06 11:00] semmelknoedel opened #4711 "Carla 0.9.12 crashes with scenario runner"
Hi,

I have recently upgraded to Carla 0.9.12, however it seems to crash all the time I start the scenario_runner as well. It is independent and happens with any scenario.

I get the following console output:

Signal 11 caught.
Malloc Size=65538 LargeMemoryPoolOffset=65554
CommonUnixCrashHandler: Signal=11
Malloc Size=131160 LargeMemoryPoolOffset=196744
Malloc Size=131160 LargeMemoryPoolOffset=327

[2021-10-06 18:48] jimmyw404 opened #4713 "Texture Mask Missing in RoadMaster - My beautiful road wear lines are gone!!"
CARLA version: 0.9.12

Platform/OS: Ubuntu / Windows
Problem you have experienced: Road wear lines are missing
What you expected to happen: Road wear lines to be present
Steps to reproduce: Load the Town10HD map from either the package or built from source, compare to prior versions.
Other information (documentation you consulted, workarounds you tried):

The RoadMaster-based Material Instances in

[2021-10-06 18:50] nick-marnik commented on #4711
The opengl flag was removed in Carla 0.9.12, which is based on UE4 4.26. I suggest making sure you have the latest NVIDIA drivers installed and try running the following command to validate the Vulkan API is working: `vulkaninfo | less`

[2021-10-06 19:08] nick-marnik commented on #4623
To confirm, is the carla server running on the same machine that is running Carla in a Docker container?

[2021-10-07 06:57] AzaelCicero opened #4714 "Release Dockerfile seems to be out of date"
**CARLA version:** 0.9.12
**Platform/OS:** Docker image
**Problem you have experienced:**
https://github.com/carla-simulator/carla/blob/master/Util/Docker/Release.Dockerfile
Mentioned Dockerfile seems to be out of date. Especially it is missing some libraries now needed by Carla:

/home/carla/CarlaUE4/Binaries/Linux/CarlaUE4-Linux-Shipping: error while loading shared libraries: libomp.so.5: cannot

[2021-10-07 07:45] semmelknoedel commented on #4711
`vulkaninfo | less` returns a lot of output. Is there anything in particular I have to look at? I also tried carla 0.9.11 with Vulkan yesterday and it was running without any problems also with the scenario_runner.
Also the Nvidia driver version 470 is the newest I can find.

[2021-10-07 08:48] julienlau commented on #3920
same issue here and nvidia-settings is set to NVIDIA only.
I do not want to blacklist intel driver, because I sometimes use it when needing battery saver mode.
I think Carla is grabbing the first active GPU device, instead of the one selected by PRIME. See screenshot below.

![image](https://user-images.githubusercontent.com/6950247/136350556-9067b899-8e6b-413a-98b7-176126c7f2ea.png)

Using `-open

[2021-10-07 08:52] julienlau commented on #3920
Linked to :
https://github.com/carla-simulator/carla/issues/3920
https://github.com/carla-simulator/carla/issues/3490
https://github.com/carla-simulator/carla/issues/3196
https://github.com/carla-simulator/carla/issues/2396

I don't think this should be played down, because it seems most Linux users using dual GPU have this issue

[2021-10-07 09:11] julienlau opened #4716 "cannot run Carla using nvidia GPU under Linux with multi-GPU installed : PRIME instruction ignored by Carla"
This issue is linked to closed issues :
#3920
#3490
#3196
#2396
#2490

I don't think this should be played down, because it seems most Linux users using dual GPU have this issue and either quit trying either switch to using the intel GPU instead of their available Nvidia.

CARLA version: carla-simulator-0.9.12 4.26.2-0+++UE4+Release-4.26 522 0
Platform/OS: Ubuntu 20.04.3 LTS
Problem you have exper

[2021-10-07 18:19] tripleaamin opened #4721 "fatal error C1083: Cannot open include file: 'OSM2ODR.h': No such file or directory"
Hi everyone I'm currently calling make PythonAPI to get Carla up and running on Windows and I come across the fatal error in the title and here is the output.

-[BuildPythonAPI]: [Batch params]: --py3
Building Python API for Python 3.
compiling:
  - source/libcarla/libcarla.cpp
WARNING: The wheel package is not available.
running bdist_egg
running egg_info
writing source\carla.egg-info\PKG-INFO
wr

[2021-10-08 06:48] werewolfdev commented on #3673
Hi Iam trying to record the data using metrics manager and velocity values comed negative as well as the y coordinates shows up like everything is mirrored .Does anyone have any insights on this

[2021-10-08 07:34] werewolfdev opened #4722 "Discrepancies regarding CARLA Logging using metrics manager"
CARLA version:0.9.11
Platform/OS:Ubuntu 18.04
 Hi Team, Iam trying to log the data using record argument and then use the log files for retrieving the ego and target vehicle information. The logged velocity data , along the y axis and the y axis coordinate seems like the logged data is mirrored . I am aware that CARLA UE follows Left handed coordinate system with x forward y to the right and z up

[2021-10-08 10:37] ebadi opened #4723 "Adding .png transparent image as license plate"
Hello,
I successfully followed the instruction in #4537 and #3429 and now I am tying to replace default license plates with transparent .png image files.

![image](https://user-images.githubusercontent.com/1111940/136539748-61e8bdc7-1029-42d0-8953-373ab02ce171.png)

I therefore simply removed the old license plates and dragged the pngs into the directory, but now the license plates lost their tran

[2021-10-08 10:46] glopezdiest commented on #4708
Hey @carola173, what do you mean by parking street lots?
Most of our towns have parking spaces but none of them are part of the road topology, so no lanes pass through them.
Additionally, some towns (such as Town10HD or Town03) also have parking lanes next to the driving ones.

[2021-10-08 10:54] glopezdiest commented on #4692
@aifei7320 Indeed, we recently saw it and the `dev` branch already has it fixed. Too late for 0.9.12 though. Anyway, thanks for the report :slightly_smiling_face:

[2021-10-08 10:54] #4692 closed

[2021-10-08 12:38] bernatx commented on #4714
Yes, the docker for version 0.9.12 (and latest) are built with the version 0.9.12 source code and the last Dockerfile that is in development branch, because it fixed several problems. So, it is still 0.9.12 version.

[2021-10-08 13:51] lorenzo-medici7 opened #4724 "Casting carla::client::Vehicle to ACarlaWheeledVehicle using the c++ API"
I'm trying to access low level PhysX attributes of a vehicle, e.g. it's 3x3 matrix of inertia.
In the docs the class ACarlaWheeledVehicle overrides from AActor the BaseMovementComponent member, returning a UBaseCarlaMovementComponent.
The UBaseCarlaMovementComponent inherits from UMovementComponent and through this class I should be able to obtain the data I am searching for.

Is there any way to

[2021-10-08 21:03] nick-marnik commented on #4711
Interesting - it sounds like the GPU drivers and the Vulkan API are working as expected. When you tried Carla 0.9.11, are you using the opengl flag?

It may be worth trying a source build of Carla 0.9.12, but I'm guessing the error will be similar. What is the exact error you get when trying to run the Carla 0.9.12 Docker image?

[2021-10-09 09:05] rrrushan commented on #4716
I am facing the same issue at the moment.
If a solution is found, please comment.
I will do the same.

[2021-10-10 08:44] SH-Tan opened #4728 "How can I use carla-autoware bridgr when the carla and autoware are both installed by docker"
CARLA version: 0.9.10.1 docker

Autoware 1.14.0 docker

Platform/OS: Ubuntu 18.04

Q: How to use the Carla-Autoware-bridge

I installed Carla 0.9.10.1 and autoware 1.14.0 both with docker, then I want to use the Carla-autoware bridge.

I saw the bridge has been integrated in Carla since Carla 9.10.1 and I found  the bridge in Autoware docker, when I use the "roslaunch carla_autoware_bridge carla_a

[2021-10-11 01:25] SH-Tan commented on #4623
How to use the python in the Carla docker container, when I try to use python, it says there is no python command in this container?

[2021-10-11 05:29] gouchaoer commented on #3772
do you know how to use python api to sync multiple carla instances?

[2021-10-11 09:03] DanielTian90 opened #4732 "How to set frequency of listen(callback) back of radar sensor"
The data output frequency of radar is a lit bit high for me.
I want to set this callback frequency to 100ms, how to do that?
Many thanks!

[2021-10-11 09:04] DanielTian90 opened #4733 "How to set frequency of listen(callback) back of radar sensor"
The data output frequency of radar is a lit bit high for me.
I want to set this callback frequency to 100ms, how to do that?
Many thanks!

[2021-10-12 03:11] arayzhou opened #4741 "CarlaUE4.sh"

[2021-10-12 07:23] EranMani opened #4742 "Microsoft Visual C++ 14.0 or greater is required - make PythonApi error on win10"
Carla version I'm using is 0.9.12, on win10 x64 system

I get an error regarding Microsoft visual C++ version when I run the command - make PythonAPI. I tried to modify the visual studio by adding more components that might be missing. I also reinstalled it several times as well as the unreal the carla cloning process. Every time I get this error - Microsoft Visual C++ 14.0 or greater is required.

[2021-10-12 08:57] rak7045 opened #4743 "Aerial View using CARLA ( Drone view)"
Hi @germanros1987
Hello All!
I kindly need your inputs and suggestions regarding this issue. This post is lengthy and please read it.

I have set the sensor (Camera) attached to vehicle with **carla.Location(x=-3, z=50), carla.Rotation(pitch = -20)** as the orientation of camera. The parameters of the sensor i.e., Altitude (Z-axis) should be not less than 50m and FOV = 69°. Later, the FOV might be

[2021-10-12 10:00] lorenzo-medici7 opened #4744 "Makefile in C++ API example won't compile source if bin/cpp_client exists"
I noticed that when executing `make build` or `make run` the main.cpp file isn't compiled if bin/cpp_client already exists.
If I delete the executable the source file is compiled the first time i execute `make build`.
The next time it doesn't compile it even even if the source file changed.

I tried changing the prerequisite and target name to main.cpp but the `build` target outputs main.cpp's pat

[2021-10-12 10:00] julee opened #4745 "run command "config.py -d" throws exception"
Thanks for contributing to CARLA!

If you are reporting an issue, please use the following outline:

CARLA version: 0.9.12
Platform/OS: Ubuntu 20.04
Problem you have experienced:
run command:
python -3 PythonAPI/util/config.py -d

throws exception:

_Exception has occurred: TypeError
'>' not supported between instances of 'NoneType' and 'float'
  File "/home/insta360/Documents/code/carla/carla/Pyt

[2021-10-12 13:15] brscholz opened #4746 "Error 6 in make launch due to unknown ActorBlueprintFunctionLibrary in TriggerFactory.cpp when I add a custom actor class to Carla?"
Hi everyone,

I observed the strangest behaviour when adding my custom actor class to Carla:

I have a working carla dist and "make clean" -> "make PythonAPI" -> "make launch" -> repeat is a stable and safe process.

Then I include a new custom actor class, get rid of a ton of build errors and finally get stuff building correctly - besides now "make launch" throws errors when compiling "TriggerFac

[2021-10-12 13:35] werewolfdev opened #4747 "Coordinate frame of logged data from metrics module"
Hi Team, Iam creating scenarios using openSCENARIO in CARLA. I have provided the starting location of Ego as
x = a
y = b
z = c
Iam aware that CARLA uses the Unreal engine coordinate system (East South Up), a Left Hand Coordinate system.
When i retrieve the logged data using metrics manager , the y value is inverted .
x = a
y = -b
z= c

 I just want to know if this is exactly like I have received m

[2021-10-12 14:41] brscholz commented on #4743
Hi Ravi Teja,

I'm not sure what you mean with possible solutions to get a detailed view of the objects. With a camera of this resolution at this distance to the target, you will very likely not be able to get a detailed im,age of e.g. a bike frame. It's just a matter of pixels that get hit be the light emitted by your object of interest. If your target drone camera uses this resolution, I'm afrai

[2021-10-12 16:52] chinmay-d commented on #4716
Same issue faced by me too :
[code]

Let me know if anyone finds a solution.. thanks

[2021-10-13 00:45] YuffieHuang commented on #4701
CARLA version: 0.9.11
Platform/OS: Ubuntu 18.04

Hi @glopezdiest. I'm having a similar issue. I want to make 20% of vehicles to be aggressive (speeding and tailgating) and 20% of vehicles to be cautious (drive slowly and keep long distance to front vehicle). I followed https://carla.readthedocs.io/en/0.9.11/adv_traffic_manager/#running-multiple-traffic-managers and added these lines to spawn_npc.p

[2021-10-13 06:15] #4732 closed, assigned to nobody

[2021-10-13 07:20] glopezdiest commented on #4701
I think you are mixing several concepts, as you have several minor issues which might be pilling up.

First, the TM has two different types of parameters, the global ones, where all vehicles are affected, and the individual ones, where a specific actor is affected. You can use several TMs, one for each type of behavior you want, and then set their global parameters:
[code]
or use the individual pa

[2021-10-13 07:23] semmelknoedel commented on #4711
I actually tried both variants with Carla 0.9.11 with and without opengl flag. Both are working fine. (I used the precompiled release version). Also, 0.9.12 is only crashing when using the scenario_runner. Without the scenario_runner it is working.

When I start the docker container of Carla 0.9.12, I get the following output:
`sudo docker run --privileged --gpus all --net=host -v /tmp/.X11-unix:/

[2021-10-13 14:42] niksdagr8 opened #4748 "Plans to provide C++ Client as a separate package"
CARLA version: 0.9.11
Platform/OS: Ubuntu 18.04
Question:

I am trying to include the Carla Client in a C++ project that is not based on cmake. Are there any plans to provide just the C++ client as a separate package?

Thank you!

[2021-10-14 05:49] vinayakap commented on #1759
Hi can i attach static mesh to a vehicle via python API, if so,how?

[2021-10-14 07:13] julienlau commented on #4716
I also did the test with carla 0.9.11, but I have exactly the same problem.
Are you sure you did not switch to running on your intel GPU ?
With carla version 0.9.11 the run option `-opengl` enables me to launch carla over the intel GPU, but it is very very slow and this is not what I want.
With carla version 0.9.12 this option does not work (even to run it over the intel GPU).

[2021-10-14 07:17] werewolfdev opened #4750 "Conversion between Coordinate systems"
Hi Team,

Iam trying to perform testing of AD functions with CARLA simulation. I would like to find a transformation matrix between the ENU Coordinates I enter in xosc File and the Coordinatesof the Ego Vehicle in ENU Data I get from the vehicle s that I can return the target vehicle coordinates in the required Coordinate system . Since ENU coordinates will be based on the local tangential plane,

[2021-10-14 08:03] magehrig commented on #1405
@hoopoe Have you find a way to accomplish this?

[2021-10-14 10:41] thbake opened #4751 "Header files are not visible in C++ API"
Hi Carla Team,

I have successfully built and launched Carla on Linux. However, my editors are having trouble finding the header files (VS Code or NeoVim with coc-clangd support).

I thought I could generate a ```compile_comands.json``` file to enable header visibility, but the project has multiple ```CMakeLists.txt``` files and therefore, I don't know where to set the ```CMAKE_EXPORT_COMPILE_COMM

[2021-10-14 10:52] XGodina commented on #4713
Hi @jimmyw404,

We are now working on finishing a maintenance release, which will soon come out. Where this problem will be fixed. If you need to fix it you just have to select the material of the road and put the mask of the Town10.
![image](https://user-images.githubusercontent.com/39989886/137303831-b141a4a3-6aaa-417e-8653-87c04e07fd35.png)

Sorry for the inconvenience it may have caused.

[2021-10-14 10:58] arayzhou opened #4752 "make PythonAPI error:Util/BuildTools/Linux.mk:137: recipe for target 'setup' failed.make: *** [setup] Error 1"

[2021-10-14 11:58] BedirhanKeskin commented on #4535
I also have the same problem with @ThibaultFy for Windows Build. Carla version is 0.9.12

[2021-10-14 13:14] jimmyw404 commented on #4713
Works great, thanks!!!!

Closing this ticket...

[2021-10-14 13:14] #4713 closed

[2021-10-14 18:41] Yaccoub commented on #423
any news on the physically-based laser model ? thanks

[2021-10-14 18:53] chinmay-d commented on #4716
I also get same error when I try to run ./CarlaUE4.sh ...... also -opengl dosen't work for me.
This is the error I get.
[code]

[2021-10-14 22:35] Zhenyu1 commented on #3567
there is long time, I can't recall it, but it may be related to the **initial pose** of the car.

[2021-10-15 08:19] werewolfdev commented on #3567
Iam actually trying to find a coordinate transformation from the exact real world to the coordinate system in CARLA .Do you have any inisghts on this .Maybe i can make use of openSTREET maps and start both the ego vehicle and exact vehicle at same geodetic coordinates but Iam not sure if thats the right way to do it

[2021-10-15 09:00] Zhenyu1 commented on #3567
If i remember correctly, **coordinate system in CARLA** is **UTM coordinate**

a site for online Transform, http://rcn.montana.edu/Resources/Converter.aspx

hope this helps

[2021-10-15 10:05] itsPauV opened #4755 "XDG_RUNTIME_DIR not set for Carla 0.9.12 in docker container"
Hi,

I was trying to setup a carla server in a docker container with a display (the spectator mode).
Which works well with the following docker command and carla version 0.9.10.1:
`docker run  -p 2000-2002:2000-2002  --cpuset-cpus="0-5"  --runtime=nvidia  --gpus 'all,"capabilities=graphics,utility,display,video,compute"'  -e DISPLAY=$DISPLAY  -v /tmp/.X11-unix:/tmp/.X11-unix -it --privileged carla

[2021-10-15 11:16] werewolfdev commented on #683
@frk1993 yes CARLA still uses the UE4 left handed coordinate system

[2021-10-15 11:35] werewolfdev opened #4756 "Does CARLA support UDP"
Hi Team , my project requires data transfer to and fro from CARLA using UDP. I have seen on a post in foru that CARLA dint support UDP. IS it still the case. Can anyone confirm

CARLA version:0.9.11
Platform/OS:Ubuntu 18.04

[2021-10-15 14:09] #4741 closed, assigned to nobody

[2021-10-15 23:32] GabiShahmayster commented on #2737
Hi @werewolfdev,

It sounds like what you are looking for is simply a way of calculating the relative transformation between the ego-vehicle actor and the target vehicle actor. This van be done by retrieving the individual pose of each of the actors, say T_ego and T_targ.
Each pose is a 4*4 homogeneous transformation matrix, which describes the translation and rotation of the actor, w.r.t Unreal w

[2021-10-15 23:36] GabiShahmayster commented on #3239
@werewolfdev

Please see issue #2737.

Good luck!
Gabi

[2021-10-16 09:08] GabiShahmayster commented on #3239
@werewolfdev
As far as I understood, they were looking for a way to convert the outputs (geographic coordinates) of the simulated GNSS sensor, which can be added to the Carla ego-vehicle (just like a camera, radar and lidar), to the "native" Unreal engine coordinates, which are reported by Carla, for every actor/sensor.

[2021-10-16 10:12] drmateo commented on #3236
same problem and, yes, I resolved installing fontconfig

[2021-10-16 21:08] tamas-visy opened #4757 "Delay on RGB camera data in v0.9.10"
### CARLA version:
Specifically 0.9.10
### Platform/OS:
Windows 10
### Problem you have experienced:
The lambda listening to a camera (`sensor.camera.rgb`) receives data with a large delay (about 500-1000ms). Other sensors seem to be unaffected.
### What you expected to happen:
A lesser delay.
### Steps to reproduce:
Spawn an RGB camera, set the lambda with `.listen()`, then display images as soon

[2021-10-17 09:27] werewolfdev commented on #3239
I think the georeferencing of aCARLA Map is described in the GeoReference Tag inside the xodr file . I could find lat lon and alt as 0,0,0 inside the Town.xodr. Now this means if Iam using a real world coordinate system like ECEF ,then both coordinate system origin is at 0,0,0 . But still since the CARLA frame is in East South Up ,Iam not sure on how to find the rotation matrix involved

[2021-10-17 09:40] werewolfdev commented on #3239
@GabiShahmayster maybe I am missing out on core concepts on how to implement this .(ENU coordinates from real car)<-> Coordinates in CARLA. I will give a detailed study of #2737 and see .Thanks

[2021-10-17 11:06] ebadi commented on #4723
@Madecu  Thanks for assigning the issue and working on it. I now  found a solution which partially resolved the issue for me. (There are still vehicles that have black license plate holder)

Blend mode: Opaque -> Translucent
connect `A from LicenseText` to `Opacity in M_LicensePlate`

![image](https://user-images.githubusercontent.com/1111940/137624359-d6f4ed94-39ed-489b-a06f-eb91bcee10c2.png)

![

[2021-10-17 11:06] #4723 closed

[2021-10-17 12:21] BedirhanKeskin commented on #3621
@nnorbert99 , Could you solve the problem? I also tried but I am having the same issue

[2021-10-17 15:01] werewolfdev commented on #3239
Hi @GabiShahmayster so i looked into the issue and understood how a geodetic point obtained from the GNSS sensor attached to the ego vehicle in CARLA world can be converted into CARLA x,y,z coordinates (East South Up). What I would like to perform is to convert the x,y,z coordinates obtained from CARLA to  the coordinate frame of the real world (ENU) and send it back to the original CAR ECUs to te

[2021-10-17 20:42] GabiShahmayster commented on #3239
@werewolfdev
Sorry but it's a little hard to understand your question.
Let's start with something basic.
As far as I know, most AD functions are related to, or driven by, the vehicle's perception sensors (camera, lidar, radar, ultrasonic, etc), hence no geographic positioning information is required. The standard practice in such a scenario would be to use a common reference-frame (such as the veh

[2021-10-18 02:56] gouchaoer commented on #4755
@Axel1092  @mawi42 @jackbart94

any suggestions?

[2021-10-18 06:40] werewolfdev commented on #3239
Hey sorry @GabiShahmayster  I will try to explain a bit. So lets consider my project consists of two modules . One module is the original car on the test track which is sending out its position data in ENU coordinates. (x,y,z,yaw,pitch,roll) as input data to CARLA to generate the transformation matrix between the two coordinate systems. Now the second module is CARLA Simulator. The output I need f

[2021-10-18 07:42] werewolfdev commented on #3239
SO now we have coordinates in ENU frame on both sides. But both could be on different local tangential planes right

[2021-10-18 08:09] werewolfdev commented on #3239
Yeah surely . So is it like if I have index 1 ENU frame coordinates from the car side and Index 2 ENU coordinates from the CARLA side . So a pair of coordinates in the same frame and I just have to find how to transform between these two if Iam not wrong. A translation and a rotation matrix

Ok thanks for the point on INS.

[2021-10-18 08:10] werewolfdev commented on #3239
And just one more thing , I should be using the ROS bridge for performing all this and interact with the external systems right

[2021-10-18 08:35] werewolfdev commented on #3239
ok np. and  @GabiShahmayster i I thought about it and I think what you mentioned here is right :**Is this correct? Are you looking for the transformation between ENU and Vehicle frames?** Could you pls give me basic idea on how to move ´forward with this transformation

[2021-10-18 10:05] GabiShahmayster commented on #3239
You're probably going to have to catch up on transformations between coordinate frames.
Try robotics textbooks or online resources, they're great for learning about homogeneous transformation matrices.
Good luck!

[2021-10-18 10:13] mrcoee opened #4761 "Distorted and Transparent Objects"
I currently would like to generate a few thousand images of random traffic scenes. For this purpose I randomly spawn pedestrians and vehicles, make an rgb and an sematic segmantation image, and despwan every spawned objects afterwards. Unfortunately I occasionally get partially/fully distored vehicles and transparent pedestrians:

![1_9](https://user-images.githubusercontent.com/80214874/137711459

[2021-10-18 10:22] lucalazzaroni commented on #4701
Sorry to re-open the issue, but I faced another problem related to this one. I managed to use the traffic manager as you @glopezdiest suggested, now I can make vehicles going at different speeds, thank you. I would also like to manage the distance between vehicles, but I noticed that if it is lower than 3 meters, vehicles do not follow their rules anymore. For instance, if I make a "Follow leading

[2021-10-18 12:30] #4747 closed, assigned to nobody

[2021-10-18 14:17] TavernaBrunoMarco commented on #4701
Hi @glopezdiest, i try to explain the problem: the problem is the distance that i want set. in a traffic scenario i want to set the distance between the vheicles and i want that the distance is = 1 . If i write dist_vehicles = 3 or less the distance between the vheicles is not 3 but is the default distance. Instead if i decide to set dist_vehicles = 4 or more the vheicles maintaining the distance

[2021-10-18 17:02] #4724 closed

[2021-10-18 19:48] werewolfdev opened #4762 "Is osm 2 odr conversion supported now"
I tried exporting osm file from openSTREET Map and creating xodr file as per instructions in CARLA Website but receiving the following attribute error:
Traceback (most recent call last):
  File "MapParser.py", line 10, in <module>
    settings.set_osm_way_types(["motorway", "motorway_link", "trunk", "trunk_link", "primary", "primary_link", "secondary", "secondary_link", "tertiary", "tertiary_link"

[2021-10-18 22:32] DokurOmkar opened #4763 "Rendering Options for Carla 0.9.12 Linux Build"
Hello Team,

I am working with Carla version 0.9.12 (Linux Build) running on Ubuntu 16.04 with 4GB of graphics (using a GeForce GTX 1650). I am currently able to execute the 'make launch' but it is kinda slow.

I have seen the rendering options here in Carla Documentation -
[https://carla.readthedocs.io/en/latest/adv_rendering_options/](https://carla.readthedocs.io/en/latest/adv_rendering_options/

[2021-10-19 06:41] joeking11829 opened #4764 "Fuzzy image retrieve from "camera.rgb" when replaying."
Hi Carla Teams,

CARLA version: 0.9.12
Platform/OS: Ubuntu 18.04

I want to retrieve data from camera.rgb when replay the record.
the rgb images has some strange performance.

![image](https://user-images.githubusercontent.com/5969040/137856219-fea428c2-5058-4f4f-9a38-cd3fa9c41007.png)

Every images retrieve from replaying have same problem.
The moving vehicles produce fuzzy image.

Any idea to fi

[2021-10-19 07:19] JasonMina opened #4765 "FORCE THE TRAFFIC MANAGER AUTOPILOT TO TURN LEFT OR RIGHT AT JUNCTION"
I am trying to force the traffic manager autopilot tot turn left or right at junction depending on my input. I tried to make the random decision in Localization stage to be to right by choosing the first element in next_waypoints when next_waypoints is longer than one (more than one choice), but for some reason the vehicle is not turning right.
I would appreciate of someone would help by either su

[2021-10-19 17:18] WambJamb opened #4766 "Fanatec steering wheel (ffb)?"
Hello together,

Is there anyone who got a different steering wheel than a g29 working with carla?

I am relatively new to vehicle simulation but I want to connect my fanatec wheel with carla and maybe even use force feedback.
Currently I am using Carla for Windows.

Would be great to get some feedback on this topic and if possible maybe some advice how to set up another wheel.

Thanks a lot for t

[2021-10-20 02:08] helloworldunicon commented on #4366
&nbsp;help？thankyou。

[2021-10-20 07:17] BedirhanKeskin commented on #4535
I was having the error when I run "make Launch". I downgraded the python version to 3.8.10 from 3.10. I reinstalled CMake, Make. Then I applied the document from Part Two: Build CARLA. Now, there is no error b2.exe error.

[2021-10-20 09:06] werewolfdev opened #4768 "Streaming data in and out of carla"
Hi Team, I would like to take in input to CARLA from an external tool like ADTF via UDP and stream out the actor data also online via UDP. Could anyone guide me to any documentation or any interface that is present regarding the same or share any insights on the same. Thanks a lot in advance.

CARLA version: 0.9.11
Platform/OS:Ubuntu 18.04

[2021-10-20 09:50] BedirhanKeskin commented on #3621
I could solve the problem.

Firstly I was having b2.exe error during "make PythonAPI" which is mentioned in #4534. I downgraded the python version to 3.8.10 from 3.10.xx. I deleted all Carla and python 3.10.xx files and paths then I started from WIndows Build-Part Two: Build CARLA. That solved the b2.exe problem but it starts giving the error of "failed with exit status 1120". After that, I reinst

[2021-10-20 12:19] qhaas commented on #3540
Observed this in the CARLA 0.9.12 container in Ubuntu 18.04 with a consumer Kepler GPU, seems random

[2021-10-20 13:14] bhuvanharlapur opened #4769 "how to get location of zebra crossings or corsswalks"
I trying to draw bounding boxes on zebra crossing and collect that data from CARLA. can anyone let me know how can i access the location of road markings ( Crosswalks)

[2021-10-20 19:07] wittenator commented on #3777
Our team is thinking about investing in CarSim to use it in Carla. Is this still a problem in the newest release, @JarvanI ?

[2021-10-21 06:17] #4765 closed

[2021-10-21 07:37] smk32 commented on #4716
Just was having the same issue. Looks like a workaround is to force Carla to use nvida by:
`DRI_PRIME=1 ./CarlaUE4.sh`
This allowed me to run the app successfully.

[2021-10-21 08:29] onyx22574 opened #4770 "Personal robot with open-source software"
Can be used CARLA for personal robots simulation as well aka vacuum cleaners etc...

[2021-10-21 08:52] Mrsirovo opened #4773 "Problem about walker's velocity"
<!--

Thanks for contributing to CARLA!

If you are reporting an issue, please use the following outline:

CARLA version: 0.9.12
Platform/OS: windows10
Problem you have experienced: I am running generate_traffic.py, I can get walkers' location and transform properly, but walker's velocity and angular velocity is always zero.
What you expected to happen: Walkers' velocity should varies acoording to

[2021-10-21 08:52] #4773 closed, assigned to nobody

[2021-10-21 09:06] Mrsirovo opened #4774 "Problem of get_velocity of walker"
Hello, I met a problem of get_velocity of walker.

This is my setting:
CARLA version: 0.9.12
Platform/OS: windows10

Problem: I am runnging generate_traffic.py, and I found that walkers' get_location and get_transform went well, but walkers' get_velocity and get_angular_velocity was always zero. And in the vehicles it went well.

Here is my code:
[code]

Here is the result:
[code]

Thank you!

[2021-10-21 12:52] JunadMQ opened #4775 "Out of video memory trying to allocate a rendering resource (CARLA 0.9.12)"
CARLA version: 0.9.12
Platform/OS: Windows 10
GPU: NVIDIA Geforce GTX 1650 (8GB)
RAM: 8GB

Problem: Running "CarlaUE.exe" gives an error message **"Out of video memory trying to allocate rendering resource.** Make sure your video card has the minimum required memory....." and exits

Other information (documentation you consulted, workarounds you tried):

*Version 0.9.11 and earlier seems to work f

[2021-10-21 14:52] hesittia opened #4776 "RuntimeError: internal error: unable to find spectator (world.get_spectator())"
CARLA version:    0.9.10
Platform/OS:     ubuntu18.04
**Problem you have experienced :  RuntimeError: internal error: unable to find spectator**
What you expected to happen:  i wanna have a look at my cars as a spectator ,but it told me that it can not find 'spectator'

The following is the output of the system:
        File "basic_api.py", line 78, in main
            spectator = world.get_specta

[2021-10-21 14:58] #4776 closed, assigned to nobody

[2021-10-21 15:57] caillotantoine commented on #4716
I experience the same issue. I used the use the `-opengl` option to run the previous version. There is also an issue to run Docker file #4755 . Thus, currently, I have no way using Carla 0.9.12.

[2021-10-22 13:44] DonadiHarshith opened #4777 "This is my code can anyone help me out with reverse:-"

[2021-10-22 13:56] AhmedAredah opened #4778 "Add VRCamera to Carla and attach to pedestrian"
I am working on a project that requires VR through HeadMounted Display.
I found Unreal Engine supports HMD through VR camera, my question is How to attach this VR camera to a pedestrian?

Thank you
OS: Windows 10
Carla version 0.9.12

[2021-10-23 07:42] cicciosab97 opened #4779 "Collisions with invisible vehicles"
CARLA version: CARLA 0.9.8

Platform/OS: Ubuntu 18.04.3 LTS

Python: 3.7

Problem you have experienced: I have experienced problems using Driving Benchmark, Cexp, and Scenario Runner. I believe that there may be problems related to the simulator. In practice, it happens that during the Benchmark, collisions with non-visible vehicles occur. When I start NoCrash Benchmark, there are vehicle collisio

[2021-10-25 03:43] duongtran11 opened #4784 "SpawnActor failed because of collision at the spawn location"
I've created and imported a custom vehicle into Carla. I followed the Carla docs to create and import it. When I run `python3 manual_control.py --filter <my_vehicle_name>` I got this error. I couldn't spawn the vehicle.

CARLA version: latest (source build)
Platform/OS: Ubuntu 18.04
Problem you have experienced: Error: Actor not Spawned
What you expected to happen: Spawn a custom vehicle
Steps to

[2021-10-25 11:58] werewolfdev opened #4790 "Difference between GNSS sensor data and transform_to_geolocation function"
Hi Team ,

is there any difference between the lat long alt values we obtain from GNSS sensor attached to vehicle and the transform to geo location function in maps not considering the offset with respect to parent actor

CARLA version:0.9.11
Platform/OS:Ubuntu 18.04

[2021-10-25 12:37] thbake opened #4793 "Link C++ library to Carla"
Hi Carla team,

I am trying to link an existing C++ library to Carla for to experiment with additional functionality (It would interact with the Plugins and LibCarla directories). I would like to know how one would have to proceed to do this.

Thanks in advance!

CARLA version: 0.9.12
Platform/OS: Ubuntu 20.04

[2021-10-26 06:25] milmario opened #4795 "Optical Flow Definition"
For me, the definition of the optical flow output of CARLA is not clear.

1.  **Flow Type**:  at time-step t, am I getting the **forward** optical flow from t to t+1 or am I getting the **backward** optical flow from t to t-1? (For reference, see Figure 2 in [this paper](https://arxiv.org/pdf/1512.02134.pdf))
2.  **Scaling**: From your [documentation](https://carla.readthedocs.io/en/latest/ref_sen

[2021-10-26 06:27] M4D-SC1ENTIST opened #4796 "Error 6 (Probably because of deprecated API)"
- CARLA version: 0.9.12
- Platform/OS: Windows10
- Problem you have experienced: Error6
- What you expected to happen: Run 'make launch'
- Steps to reproduce: Following all the steps in https://carla.readthedocs.io/en/0.9.12/build_windows/#unreal-engine and you will stuck at 'make launch' (I tried twice, completely removing carla and the customized UE4.2.6)
- Other information (documentation you c

[2021-10-26 08:21] #4784 closed, assigned to glopezdiest

[2021-10-26 11:07] ActuallySam opened #4797 "Running Reinforcement Learning code"
I was trying to run my reinforcement learning code by hosting the carla simulator server. The code starts to compile at first but the leads to these errors later on and then stops there.

Packages declared:
        import glob
        import os
        import sys
        import random
        import time
        import numpy as np
        import cv2
        import math
        from collections imp

[2021-10-26 11:18] joluko opened #4798 "Create Map from .xodr and import to Carla Package"
Hello,
I'm trying to create a Carla map from an OpenDRIVE file and open it in a Carla package or import. I want to see not only the streets of the .xodr file but also to be able to add an environment to it. Can someone help me with this or is there anyone who has tried something similar?

Glad about any help!

CARLA version: 0.9.11
Platform/OS: Windows 10

[2021-10-26 11:25] #4796 closed, assigned to nobody

[2021-10-26 14:40] bhuvanharlapur opened #4801 "Detect Zebra crossings in CARLA"
Hello,
I am working on detecting crosswalks in CARLA data. I want to create ground truths with bounding 2D box data of crosswalks. How can i get the crosswalks road marking objects?

[2021-10-27 06:34] liuxiaofang0312 opened #4802 "Where to find the unreal engine 4.26 software of the carla branch？"

[2021-10-28 02:59] ly1109114191 opened #4807 "Why is my GPS data always close to 0？"
Why is my GPS data always close to 0？For example, the longitude, latitude and altitude obtained from GNSS sensors are all like this，（0.00142560357436138，-0.000986275847799022，2.94161367416381）.
I've reloaded Carla twice, and that's the result.

[2021-10-28 03:34] duongtran11 opened #4810 "How to georeference a custom 3D environment in Carla"
CARLA version: latest
Platform/OS: Ubuntu 18.04

Hi, I've created a 3d environment and imported it to Carla and I want it to have real-world coordinates. In the Transform/Location of every mesh in the environment, coordinates were set to default (0,0,0). I think there is some sort of "reference point" with real-world coordinates then mesh's coordinate would reference to it.
I want my environment t

[2021-10-28 03:37] Xialinxuan opened #4811 "Question about adding container truck(a kind of vehicle) to carla"
I'm a beginner in carla, blender and UnrealEngine. I have read some related documentation and some issues.  I want to do some simulation about container truck runnnig in harbor. Container truck is different from all the existed 4-wheel vehicles in carla since there is a connection part inside the truck itself. This connection part make the physical process of truck  turning left or right become mo

[2021-10-28 08:38] roque2205 opened #4812 "command.SetVehicleLightState() not working with client.apply_batch_sync()"
Hi everyone,

I'm trying to set vehicle light states in a batch of commands in synchronous mode.

`[carla.command.SetVehicleLightState(self.carlaActor,self.current_light_state),carla.command.ApplyVehicleControl(self.carlaActor,self.current_control)]`

I do not get an error response, yet the light state remains unchanged. It works with

`self.carlaActor.set_light_state(self.current_light_state)`

t

[2021-10-28 09:25] darkdevahm opened #4813 "Multi-agent LiDAR simulation is possible?"
I would like to know will will simulating LiDAR point cloud in a multi-agent system be possible on Carla?

[2021-10-28 13:10] Rebecca-Shirly opened #4815 "Unable to obtain the exact same data for multiple runs of same scenario with same configurations"
I use aws g4 instance for the Carla simulations.
Instance type: g4dn.2xlarge
VCPU's: 8
Memory: 32 GB
GPU: NVIDIA T4
Inputs: OpenScenario (XOSC file), OpenDrive (custom maps), Custom Driving model that controls Ego Car.(This is integrated with Scenario Runner API's)
Simulation mode: Synchronous mode=True
No-rendering =True
Step size = 10ms (or 100 Hz)
Used "apply_batch_sync()" to send control comma

[2021-10-28 13:23] nparker2020 opened #4816 "Custom Sensor causes seg fault after listen /source/carla/client/detail/EpisodeProxy.h:28"
I am having issues implementing a custom sensor. I have implemented a dead-simple sensor, that simply sends a carla::geom::Vector2D every Tick.

CARLA version: 0.9.12
Platform/OS: Ubuntu 20.04 LTS
Problem you have experienced: Creating a simple custom sensor causes the client to crash after listener registration. (presumably sometime during the receipt of the first message). The client-side seg fa

[2021-10-28 17:16] #4816 closed, assigned to nobody

[2021-10-30 01:22] chengguizi commented on #4363
I also encountered the issue that `make pacakge ARGS="--packages=<package>"` does not cook props correctly in `0.9.12`. This results in unable to spawn props when being imported to packaged Carla.

The fix for me is to add after this [line](https://github.com/carla-simulator/carla/blob/0.9.12/Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Commandlet/PrepareAssetsForCookingCommandlet.cpp#L514)

`MapPat

[2021-10-31 06:41] snowbrood opened #4820 "Issue with getting multi-view dataset"

[2021-10-31 09:31] rambodrahmani commented on #2248
Any news regarding this? Same issue here. This happens if I try to change parameters in the wheel blueprint (any parameter).

[code]

[2021-10-31 11:02] tamas-visy commented on #4757
I found this piece of information in the ["Synchrony and time-step" documentation](https://carla.readthedocs.io/en/latest/adv_synchrony_timestep/):

What I experience in `0.9.10` is a far longer delay than what "a couple of frames" would imply. Anyways, looks like synchronous mode could solve this.

I won't have time to do proper testing in synch mode, but I might revisit this issue later. Until t

[2021-11-01 07:31] thbake commented on #4816
Sorry for commenting on this closed issue but it seems to me that you were able to build Carla with Ubuntu 20.04 and are developing in C++.

How did you enable header visibility across all files? I get error messages that clang doesn't find header files and, therefore, I cannot create a custom sensor such as in that guide you mention.

![screenshot](https://user-images.githubusercontent.com/233393

[2021-11-01 13:43] semmelknoedel commented on #4711
@nick-marnik : thanks for the link. The docker container of carla 0.9.12 is now running and working with the scenario_runner.

I also updated to Nvidia driver to 495. However, the precompiled version is still not working. Since that works for me-> ticket closed.

[2021-11-01 13:43] #4711 closed

[2021-11-01 15:10] YimingChen-Real commented on #3428
Just delete all boost_1_72_0.tar.gz files in path /carla/build and try ”make pythonapi“ again
Because of your bad internet there are many wrong files

[2021-11-02 02:49] LSC527 opened #4824 "cannot extract release CARLA0.9.6.tar.gz"
CARLA version: 0.9.6
Platform/OS: unbuntu 18.04
Problem you have experienced: error when extracting CARLA0.9.6.tar.gz
What you expected to happen: successful extracting
Steps to reproduce:
download CARLA0.9.6.tar.gz from [https://github.com/carla-simulator/carla/releases/tag/0.9.6](url)
tar -zxvf CARLA0.9.6.tar.gz
Other information (documentation you consulted, workarounds you tried):
here is the

[2021-11-02 03:05] LSC527 commented on #4824
fixed after re-dowload

[2021-11-02 03:05] #4824 closed

[2021-11-02 09:56] RobTranquillo commented on #4802
Did't you try it with the path from the docu: https://carla.readthedocs.io/en/0.9.12/build_windows/#unreal-engine?
`git clone --depth 1 -b carla https://github.com/CarlaUnreal/UnrealEngine.git .`

I did this and got UE version 4.26 as a result, but get an error (wrong version) when I try to load the project "CarlaUE4.uproject" from the Carla repo. So I don't really know if it is the right version.

[2021-11-02 11:56] jimmyw404 opened #4826 "Over 2x Drop in Rendering Performance in 0.9.12"
**CARLA version:** 0.9.12
**Platform/OS:** Ubuntu 20.04.2 LTS
**Problem you have experienced:** Benchmark performance is significantly lower in 0.9.12 vs previous releases
**What you expected to happen:** Benchmarking performance to be similar between 0.9.12 vs previous releases
**Steps to reproduce:** Run PythonAPI/util/performance_benchmark.py on different versions with the same sensor configura

[2021-11-02 15:14] nparker2020 commented on #4816
@thbake , I have not encountered the same issue that you are describing.

It's not clear to me if that is an IDE issue, or an actual compiler issue. I do not use any fancy intellisense addons or anything like that, and I build from the command line.

My best guess would be to check your $UE4_ROOT environment variable, and make sure it's pointing to the Unreal 4.26 repo you cloned. Sorry I can't be

[2021-11-02 15:19] thbake commented on #4816
So you are not using Visual Studio or something similar? You just rebuild the engine/Carla and it works? If that's the case I will do that as well. I launch Carla successfully, but I have those warnings more or less telling me that the files are not found.

Thanks a lot for your answer!

[2021-11-02 15:27] ackhack opened #4827 "Agents can't drive properly"
CARLA version: 0.9.12
Platform/OS: Ubuntu 20.04
Problem you have experienced: Agents can't drive straight/ backwards
What you expected to happen: Agents drives properly

Steps to reproduce:
[carla.zip](https://github.com/carla-simulator/carla/files/7461949/carla.zip)
Start a Carla Server.
Then run the CarlaSim.py File.

Other information (documentation you consulted, workarounds you tried):
Tried

[2021-11-02 16:29] MattRowe18 commented on #4354
@darld thanks for brining this up, and sorry for the delay in responding, we will assign one of our developers to look at the speed issue.
@bernatx could you look into this please?

[2021-11-02 16:30] #4355 closed

[2021-11-02 16:31] MattRowe18 commented on #4390
@joel-mb could you take a look at this issue.

Thanks

[2021-11-02 17:11] everestmax opened #4828 "Accessing individual wheel torque and rpm"
Hi,

I would like to be able to access each wheels torque and RPM on the vehicle, but cant work out the best way to do so.

When I enable telemetry on the manual_control.py script, I can see that there are many graphs of tyre forces displayed in the server window, and it is these I would like to ideally access through the client.

I am running Unreal Engine 4.26.2 and Python 3.6.

Any help would b

[2021-11-02 20:24] th3superuser commented on #4716
unfortunately, I still have the same error using `./CarlaUE4.sh -prefernvidia` and also `-opengl` doesn't work for me either, anyone have an idea? I can provide trace/logs if that's helpful.

[2021-11-03 10:03] philippnikutta opened #4831 "start"

[2021-11-03 10:03] #4831 closed

[2021-11-03 17:19] AhmedAredah commented on #1219
So where to include the VRCamera pawn? do you mean we need to alter the source code?

[2021-11-03 17:20] AhmedAredah commented on #1219
So where to include the VRCamera pawn? do you mean we need to alter the source code?

[2021-11-03 22:57] snowbrood opened #4832 "how to find the camera location"

[2021-11-03 22:59] #4832 closed

[2021-11-03 23:02] snowbrood opened #4833 "how to find the camera location in world coordinates??"
hi there

I am trying to find the camera location in world coordinates?

I find the vehicle's coordinates by

        print('vehicle at ',
              ego_vehicle.get_location().x,
              ego_vehicle.get_location().y,
              ego_vehicle.get_location().z)

this yields -85.21098327636719 , -126.87291717529297 , -0.05492006242275238

camera attached to this vehicle ,s relative positio

[2021-11-04 08:14] gengtsh opened #4834 "about docker off-screen mode (runing docker on server without display)"
hi,
i try to run carla in a server (running with ubuntu 20.04, without a display, nvidia Quadro P6000, NVIDIA-SMI 495.44  Driver Version: 495.44   CUDA Version: 11.0 ) from local windows 10 MobaXterm.
i install docker and nvidia container toolkit following instruction.
when i run :
sudo docker run --privileged --gpus all --net=host -v /tmp/.X11-unix:/tmp/.X11-unix:rw carlasim/carla:0.9.12 /bin/bas

[2021-11-04 10:25] thbake opened #4835 "make rebuild fails because of missing directories"
Hi Carla Team!

I am having some trouble with the command ```make rebuild```. After following your guide on how to create sensors one is supposed to rebuild the project, but I get the following error:
[code]
I don't know why this is the case since I installed all the dependencies and I also was able to build and launch Carla successfully. Do you have any input on this?

Thanks in advance.

CARLA v

[2021-11-04 13:04] ackhack commented on #4827
found the issue,
the agent couldnt steer while i was not recording.
just add the apply_control(self.agent.run_step()) function into the while loop

[2021-11-04 13:04] #4827 closed

[2021-11-04 15:15] 125FaddaDLe opened #4836 "Extracting Bound box data of vehicles form 4 different camera angles."
Hello,

I would like to know how to extract 3D bounding box data in the format of Kitti Dataset from 4 different cameras for a single instance.

I would like to know if it is possible to generate a bounding box for a vehicle in all 4 camera FOV and extract the data and save it in the format of Kitti dataset.

Carla Version: 0.9.12

[2021-11-04 16:30] Kait0 commented on #3130
I am also interested in this issue.

[2021-11-05 06:38] wujingda opened #4839 "Can we set initial velocity via the traffic manager?"
Hi there,

Can we set the initial velocity of the vehicle actors under the control of the traffic manager?
I checked the document and found the function "tm.set_target_velocity()", but it still makes the actors speed up from zero.
For my designed scenario, an initial velocity is needed since the scenario is small and cannot afford the speed-up process.

Thanks in advance.

[2021-11-05 12:31] emeve commented on #894
I have solved this problem. Changing the owner of CARLA to other users. Hopes this will help any other friends.

[2021-11-05 13:03] yh300 commented on #4529
How can i download this pythonapi client version (such as 0.9.11),thank you for your reply.

[2021-11-05 20:22] erouirior opened #4843 "rpc::rpc_error during call in function load_new_episode"
Below part will throw the issue about rpc error:
world = client.generate_opendrive_world(
            data, carla.OpendriveGenerationParameters(
                vertex_distance=vertex_distance,
                max_road_length=max_road_length,
                wall_height=wall_height,
                additional_width=extra_width,
                smooth_junctions=False,
                enable_mesh_vi

[2021-11-06 09:01] badr-ben commented on #1899
Hi all, Please I want to create my own scenario in Carla 0.9.12.  Do I use the Recast&Detour library or not?

[2021-11-06 18:10] jitpinun opened #4844 "Is there another option to download the content?"
I'm currently trying to compile the latest Carla (0.9.12) in my PC. However, during the content downloading stage, it somehow is very slow (will take more than 600 days to finish the download). Is there any other way to download the content.

FYI, downloading in Singapore.
----

$ ./Update.sh
--2021-11-07 01:47:25--  http://carla-assets.s3.amazonaws.com/20210730_564bcdc.tar.gz
Resolving carla-asse

[2021-11-07 19:24] gurkansahin28 commented on #1977
On Mint Mesa-Vulkan-Drivers can solve it. https://mesa3d.org/

[2021-11-08 03:01] #4542 closed

[2021-11-08 07:21] chengguizi commented on #4668
Hi @sashajenner , I believe I have a similar issue on 0.9.12

For me the setup is a little different. But I have similar symptoms:

- I can run things perfectly with `make launch` and play in UE4 editor mode
- This works both in Epic quality and Low quality

However, After I `make package ARGS=...`, the pacakged carla will crash if i turn on low quality mode AND if i spawn camera sensors.

Somethi

[2021-11-08 10:30] SanggunLee opened #4849 "How to turn off the suspension ?"
Suspension takes very much time now.

I dont need suspension.

Is there a option to turn off the suspension feature?

[2021-11-08 12:18] ucbmpc2021 commented on #4124
Hi! @Axel1092  @jbenzhhn  I am building Carla 0.9.9 and using UE4.24. However I still got the exact same error. Any clue why this might happened? Much thanks!

[2021-11-09 00:47] yyuuliang opened #4856 "root password in carla docker?"
just one easy question, what is the sudo password in carla docker? I searched but could find the answer.
thanks
I am using carlasim/carla:0.9.11

[2021-11-09 11:17] #4414 closed

[2021-11-09 11:20] MattRowe18 commented on #4420
@bernatx could you take a look at this thanks

[2021-11-09 11:21] #4408 closed

[2021-11-09 11:27] MattRowe18 commented on #4404
@glopezdiest could you take a look at this thanks

[2021-11-09 11:34] MattRowe18 commented on #4435
@CarlaaUser hi, probably the best place to go is the CARLA YouTube page where we have numerous presentations from the CARLA Talks 2020 covering multiple features of the platform https://www.youtube.com/channel/UC1llP9ekCwt8nEJzMJBQekg

[2021-11-09 11:37] #4435 closed

[2021-11-09 11:38] MattRowe18 commented on #4436
@glopezdiest could you take a look at this question, thanks

[2021-11-09 11:52] MattRowe18 commented on #4445
@sparklin1999
Hi
Could you give us some more information about the errors you are getting when you try to run other people's code. There may be differences in the API functions from version to version.

[2021-11-09 12:15] atharva25061997 opened #4859 "make PythonAPI error"
C:\Carla\carla>make PythonAPI
-[Setup]: [Batch params]: --boost-toolset msvc-14.2 --all
-[Setup]: Asynchronous jobs:  8
-[Setup]: Boost toolset:      msvc-14.2
-[Setup]: Install directory:  "C:\Carla\carla\Build\"
-[Setup]: Installing zlib...
    -[install_zlib]: [Batch params]: --build-dir "C:\Carla\carla\Build\"
    -[install_zlib]: A zlib installation already exists.
    -[install_zlib]: Delete

[2021-11-09 12:32] atharva25061997 commented on #4690
I have the same error. Have you found a solution to this? If yes, please help me.

[2021-11-09 13:01] tripleaamin commented on #4690
I believe I had to upgrade my version of cmake. Altho I ran into more issues installing from source.

[2021-11-09 13:08] glopezdiest commented on #4404
It's just a matter of the height. With z=0, the vehicle always collides with the ground, so it will never spawn, no matter how many tried you do. By increasing the height to 0.5, the spawn should work just fine

[2021-11-09 13:08] #4404 closed

[2021-11-09 13:09] atharva25061997 commented on #4690
I have the latest version of Cmake. I am still getting the error. Do you have any idea what can be done?

[2021-11-09 13:58] ZarkSPb opened #4860 "Weird car rendering"
Hi! I render some scenes, and on one image I see one car with right geometry and and another car with wrong geomenry.

![image](https://user-images.githubusercontent.com/61247900/140936097-920b2c37-9a07-4cb9-a11b-31c0e9326ffe.png)
![image](https://user-images.githubusercontent.com/61247900/140936259-f2b00289-b0d6-4f15-8357-cf9077b7a69f.png)
![image](https://user-images.githubusercontent.com/612479

[2021-11-09 15:14] uservinu commented on #3939
@JeongKyuho  @ZhanYangFan or anyone having these issues like me. You are following an old tutorial and it will not work with carla version 0.9.12 since the c++ APIs are updated. I have not tested any other versions.
I managed to get the sensor working on 0.9.12 with the following changes.

SafeDistanceEvent.h
`#pragma once

#include "carla/rpc/ActorId.h"
#include "carla/sensor/data/Array.h"

names

[2021-11-09 15:30] MattRowe18 commented on #4490
@jackbart94 could you look into this?

[2021-11-09 15:32] MattRowe18 commented on #4523
@SkandaNR did @ThibaultFy's solution work for you in the end?

[2021-11-09 15:38] ThibaultFy commented on #4523
It worked for me, even if I didn't understood why...

[2021-11-09 16:16] #4523 closed

[2021-11-09 16:18] MattRowe18 commented on #4493
@Schuck84 could you give us some more details about your use case? I'm not sure what you mean by post process material

[2021-11-09 16:29] MattRowe18 commented on #4494
@bernatx  could you take a look into this?

[2021-11-09 18:09] budrus123 opened #4861 "Unknown Socket Error"
I have a very weird issue going on with Carla. I am running a reinforcement learning agent with CARLA and after a certain number of steps (varies each time) I get this error (shown in the image below). I have tried changing the socket, but that did not fix the issue at all. I also cannot find any logs or log files that can help me identify this issue. It is saying that an operation was attempted o

[2021-11-09 19:30] budrus123 commented on #4861
Update on when this happens:

So after testing this happens when I have a sensor listen to data using the following code:
`self.collision_sensor.listen(lambda data: self.collision_history.append(data))`

This is in a function called `reset` which gets called thousands of times after the scenario is complete. But each time I call this function, I make sure to destroy the sensor and stop listening a

[2021-11-10 02:45] ucbmpc2021 opened #4862 "Carla 0.9.9 Docker Image Build Error: Error 403 Forbidden"
When I'm trying to build the docker image for carla branch 0.9.9, after running this command
`docker build -t carla -f Carla.Dockerfile . --build-arg GIT_BRANCH=0.9.9`

The error below will show:

![image](https://user-images.githubusercontent.com/93551582/141040879-534b86ed-be01-4ca1-a13a-cfcb041e5e4e.png)

This is caused because Autodesk moved the

 resource file to a new address so it is no lon

[2021-11-10 07:08] afterimagex opened #4863 "Why i have this error"
TrafficLightComponent doesn't have any Group assigned

[2021-11-10 07:37] fireofearth commented on #4655
CARLA 0.9.12 has carla.Vehicle.get_wheel_steer_angle() (see API docs). You may want to upgrade and try using this (I have not yet).
Before CARLA 0.9.11, I don't think it is possible to get the exact steering angle, though a workaround I used is:
[code]
If a carla.VehicleControl was previously applied to a vehicle, then these lines of code gives `angle`, which is the angle the controller intends to

[2021-11-10 09:28] koochak-mehdi opened #4864 "how to make CARLA Standalone"
Hi,
I'm trying to build Carla from the source and get a standalone version of my changes. I've deleted all cars in a parking of Town05 in order to fill the slots randomly.
If I understood it correctly, after my change I can either get the executable directly from unreal engine or do `make package` command.
But in both cases I face the same problem, and there are missed lots of components. For exam

[2021-11-10 16:30] aadishdnaik opened #4867 "Running Carla Server on Windows and client on Linux - Separate Machines"
I want to run the Carla Server on Windows and Client on Linux - on two separate machines. I would like to do this because my GPU is installed on a Windows machine (I want to keep it that way for other projects) and I want to use ROS which only works on Linux. The ability to publish sensor data as ROS Topics will allow me to use all available ROS packages (and develop more). I believe the Carla ser

[2021-11-10 18:27] ansysMatt opened #4868 "Missing roads / routes on xodr import"
CARLA version: 9.11
Platform/OS: Windows 10 /
Problem you have experienced: xodr import does nothing or imports partial data
What you expected to happen: expect xodr integrity between softwares -  same road network to be visible
Steps to reproduce:
I am attempting to create a custom track that does not exist in the real world. (OSM conversion not an option)
I have used several different commercial

[2021-11-10 19:29] azuzow commented on #4610
Is there any resolution for this issue

[2021-11-10 23:31] vini-at-potential commented on #4535
Same here, had to downgrade from Python 3.10 to 3.8.10 to make it work. I did not try Python 3.9.6 though, so don't know which is the latest python version possible.

[2021-11-11 05:47] xiaoyang666 opened #4869 "Roadrunner GIS"
When I used roadrunner to import gis data, I found that foreign data was not available. I am currently in China. I want to ask you, does China currently have lidar data (GIS) or elevation data?

[2021-11-11 10:27] JohannE99 opened #4870 "Error during 'make launch' for carla 9.11 on fresh Ubuntu 18.04"
CARLA version: 9.11
Platform/OS: Ubuntu 18.04
Problem you have experienced: Following the steps from the Carla docs (Linux Build for 9.11). Works until make launch.
Multiple errors.
What you expected to happen: make launch runs successfully
Steps to reproduce: setup new Ubuntu 18.04 and follow the docs
Other information (documentation you consulted, workarounds you tried):
updated / upgraded every

[2021-11-11 13:20] lzhhh93 opened #4871 "Is it possible to send the message from simulink to carla?"
Hi everyone,

I want to evaluate my control algorithm in Carla based on this interface, if it is possible.
Thanks a lot.

[2021-11-11 13:30] Cenbylin commented on #4755
Any update for this issue ?

[2021-11-11 15:30] AnjaK42 opened #4872 "Route Planners in Unreal Editor"
HI all!
I am using Carla 0.9.10 on ubuntu 18.04. I have imported a map from roadrunner and want to add route planners and vehicle spawn points in Unreal Editor. I cannot find how to do it. I looked in the content browner but cannot find those objects. How can  I add a route planner to a map in Unreal Editor?
Thank you

[2021-11-11 15:47] aadishdnaik commented on #4871
You could look into this blockset provided by Mathworks. It basically allows you to send and receive data to/from Unreal Engine - https://www.mathworks.com/matlabcentral/fileexchange/65966-vehicle-dynamics-blockset-interface-for-unreal-engine-4-projects

[2021-11-11 23:37] sissiok opened #4874 "`get_bones` method does not return bones but just an empty list"
I am having an issue with `get_bones` method added by PR #4838 . `carla.WalkerBoneControlOut.bone_transforms` returned from `get_bones` is an empty list. I also tried https://github.com/carla-simulator/carla/blob/dev/PythonAPI/examples/draw_skeleton.py , which does not draw bones as it is supposed to. I appreciate if someone can help me to make `get_bones` work.

CARLA version: dev branch with com

[2021-11-12 05:22] newengineeeer opened #4877 "Tutorial.py crashes due to client = carla.Client('localhost', 2000) not working in Carla 0.9.12 and 0.9.11"
What i did i download the exe from the github repository, pip installed all the requirements.txt and then ran tutorial.py and then it gave the error:
[code]
and so i tried checking which line of code was causing the error and to my surprise it was
[code]
as i did a try-except on it to see if it was working or not.
so to fix this i tried pip installing carla and then uninstalling it and then instal

[2021-11-12 09:45] roque2205 opened #4878 "Build system: make launch errors in completely untouched classes"
Hi guys,

I have been through quite a hustle trying to implement an own radar sensor and I wanted to share my story with you.

1. I looked at the sensor tutorial and did the same steps but created my own class "AGroundTruthRadar". Outcome: PythonAPI compiles without errors, launch doesn't throw errors in my files but in carla/Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Traffic/YieldSignComponent.cp

[2021-11-12 10:28] lzhhh93 commented on #4871
Thanks a lot. i am looking into it.

I have also thought about sending and receiving data through a Python API: https://de.mathworks.com/matlabcentral/fileexchange/77221-how-to-interact-with-simulink-using-python

[2021-11-12 11:26] newengineeeer opened #4879 "carla 0.9.12 and 0.9.11 client.get_world() won't run windows 10"
My CARLA version is 0.9.12 but i also tried it 0.9.11, the Platform/OS i am using is Windows 10 the problem i have experienced is that client.get_world() in tutorial.py wont run for some reason. what i did is that i download carla 0.9.12 and then tried to run tutorial.py in my new venv after pip installing requirements.txt . the odd thing is that i can run both generate_traffic.py and manual_contr

[2021-11-12 15:28] danielaDESM commented on #4862
I have the same issue but with the latest version 0.9.12. But I have checked the link and it points correctly to the tar.gz that wants to download. So I do not understand this Error 403 FORBIDDEN.

![Screenshot from 2021-11-12 15-45-46](https://user-images.githubusercontent.com/12168864/141487022-18ae1ea2-cab3-473c-a7ae-b72e0f259150.png)

What exactly this instruction does?
wget --user-agent="Mozi

[2021-11-12 23:08] jimmyw404 commented on #4826
Issue appears related to

https://github.com/carla-simulator/carla/issues/3836

Scaling up cameras, especially on a PC with a powerful GPU (Testing against an RTX 3080 Ti) does not increase GPU Utilization.

[2021-11-12 23:10] jimmyw404 commented on #4826
Also related to

https://github.com/carla-simulator/carla/issues/3891

[2021-11-13 11:34] benraziel commented on #4878
I've encountered a similar issue, I believe the root cause is Carla's use of unity builds. see https://github.com/carla-simulator/carla/issues/4225 for more details.
unity builds may hide missing #include declarations, since multiple .cpp files are concatenated into a single .cpp file by the build system. Adding new files changes the grouping of .cpp files in the build, and thus can "uncover" thos

[2021-11-13 13:41] tamas-visy commented on #4879
Hi, I've tested this (on Windows 10 with CARLA 0.9.12) and encountered what you have (`generate_traffic.py` working, but `tutorial.py` failing at `client.get_world()`).

The solution I found was to increase the client timeout in line 39 of `tutorial.py`:
[code]

`generate_traffic.py` uses a timeout of 10 secs, while `manual_control.py` uses 20 seconds. This is overkill, I've found that connecting

[2021-11-14 01:53] jonbakerfish commented on #2477
@Pendu Did you solve this problem?

[2021-11-14 01:53] StoneShuyao commented on #4205
Is this related to the synchronization mode? Are you using synchronous mode? If it is asynchronous mode, I think some bounding boxes may not be displayed stably.

[2021-11-14 06:17] Hyunwoo-Park-Yonsei opened #4880 "Auto pilot mode working weird in synchronous mode."
CARLA version: 0.9.10
Platform/OS: Ubuntu
Problem you have experienced:

I've experienced autopilot mode in Carla simulator working weird. As you can see in this link https://www.youtube.com/watch?v=JlCTF9dojnI when I use synchronous_mode and autopilot mode and when one iteration took more than certain second(I have tried 5 seconds for an iteration and it still happens) the vehicle which I applied

[2021-11-14 17:02] guofan999 commented on #3882
ImportError: /home/username/.cache/Python-Eggs/carla-0.9.10-py2.7-linux-x86_64.egg-tmp/carla/libcarla.so: undefined symbol: PyClass_Type
I have the same problem, how did you fix it? please.

[2021-11-14 23:50] cpsvt opened #4881 "GNU issue: make: Interrupt/Exception caught (code = 0xc00000fd, addr = 0x4227d3)"
Dear all,

I'm having a problem with Make GNU. I've installed it and added it to the PATH. Although the prompt is able to recognize it and show me the version, the Make command does not work and returns the following error:
**make: Interrupt/Exception caught (code = 0xc00000fd, addr = 0x4227d3)**

I've changed GNU PATH but receive the same error. It's very odd because it was working up to yesterda

[2021-11-15 00:45] RyanC1681 opened #4882 "self.carla_settings.should_visualize_with_pygame is True. Unable to initiate the world due to error: 'Configuration' object has no attribute 'should_visualize_with_pygame'"

[2021-11-15 01:54] whuxhzhang opened #4883 "Add weather options"
How do I add custom weather in Carla, such as snow, fog, etc.
And how to react to these different weathers in the control module ？

Thanks.

[2021-11-15 03:44] Hyunwoo-Park-Yonsei commented on #4880
I've resolved my issue. Turns out that auto pilot mode doesn't work properly when simulator is under 20 FPS.
So I had to create traffic mode and change traffic mode to synchronous mode too.

--- code before----
 while True:
        world.tick()
        vehicle1.set_autopilot(True)
------------------------

--- code after resolve----
 tm = client.get_trafficmanager(8000)
 tm.set_synchronous_mode(Tr

[2021-11-15 07:00] #4880 closed

[2021-11-15 07:13] winyouc commented on #3696
hello,had the problem been solved?
I met the same situation now.
If you know how to solve it ,could you please tell me the solution?

[2021-11-15 07:50] winyouc commented on #3696
I find the solution! You should choose the cc.Raw model( keyborad 4 camera, sensor.index =4 ),and then can get the tag between[0,22]

[2021-11-15 07:58] wjx-3510886 opened #4886 "Problem with create pedestrian jaywalking in version 0.9.12"
Hi,
I'm using carla 0.9.12 under windows 10.
Today I create an invisible crosswalk in the street on the original Town03 map. According to the document **https://carla.readthedocs.io/en/0.9.12/tuto_M_generate_pedestrian_navigation/** , I  made sure this invisible crosswalk mesh had the same details as other Town03 crosswalks,  I extended it to both ends of the road . And name it Road_Crosswalk_Town

[2021-11-15 09:10] roque2205 commented on #4636
This was so much not what the question was about...
@yuunnn, if you haven't already found the answer to your question, I believe this will help you: https://carla.readthedocs.io/en/0.9.12/adv_rendering_options/#off-screen-mode.

[2021-11-15 09:46] bernatx commented on #4886
Hi,
I suppose you replace the original .bin in the Nav folder, with the name Town03.bin.
So, what I think is happening, is that CARLA uses a cache in client for those kind of files (that are transferred from server to client when needed). What happens is that CARLA is still using the version he has in cache, and you are replacing the one in the server but not the one the client has in cache.
When

[2021-11-15 12:47] yuunnn commented on #4636
Hi @barasm-hita , thank you！ Yes, I used official releases instead of building on my own, then I can use off-screen mode!

[2021-11-15 13:19] KevinLADLee commented on #4553
I think a conditional sentence should be added here.

https://github.com/carla-simulator/carla/blob/bb4b95e0bc43d25be6f3b54713ac32d8465b1586/Unreal/CarlaUE4/Plugins/Carla/Source/Carla/Server/CarlaServer.cpp#L1645

[code]
After modifying this line, the function works now.

[2021-11-15 13:41] stevelaclasse commented on #2477
i have train an Object detection model on the images captured by the RGB Camera (in three classes: "cars","pedestrians" and "occulted"), then i have use this model to test each box on the image i got from the RGB Camera.
Annother way could be to use the **Depth Camera** to get the  distance of objets in the images.

the question was not for me, but i hope a help a bit.

[2021-11-15 14:19] PaulHSK commented on #4262
same bug here.
working on a fresh 18.04 lts with RTX 3000

got same error on other Hardware (System is on a external SSD)
tried different drivers (495 & 470) and turned off internal grafic card

Do you get this Error Message on "Make Launch" as-well?

[code]

[2021-11-15 16:46] soroushhashemifar opened #4888 "Neural net based CARLA"
Hi. I want to train a neural network using a PD controller on CARLA. Is there any guidance for this?

[2021-11-15 17:21] sissiok commented on #4874
I found out that this is due to my boost issue. Previously I used boost 1.69.0 as 1.72.0 failed on my machine. Then I upgrade my boost to 1.72.0 as required with solution from carla-simulator/carla#3547 . Now `get_bones` works.

[2021-11-15 17:21] #4874 closed

[2021-11-15 23:39] aadishdnaik commented on #4027
@zjh6252007 can you tell me how to run the server and client on different machines? I want to run the server on Windows and the client on Ubuntu. Even if you could point me to a resource online/documentation on how to do it, that would be great!

[2021-11-16 01:42] jonbakerfish commented on #2477
@stevelaclasse Thanks.

FYI: just find a good repo that explains how to do this https://mukhlasadib.github.io/CARLA-2DBBox/

[2021-11-16 02:10] mmmmaomao opened #4889 "How can i use Carla on CentOS 7.6?"
CARLA version:  0.9.12
Platform/OS:  CentOS 7.6
Problem you have experienced:  I followed package installation, after i unzip the package, run ./CarlaUE4.sh and reported an
                                                     error, missing some dynamic libraries.

Steps to reproduce: I tried to copy the library file of Ubuntu to CentOS, but it is still failed to run Carla and reported an error, s

[2021-11-16 02:41] GooVincent commented on #106
run following code, will obtain the current vehicle max steer angle in Carla.
`physics_control = vehicle.get_physics_control()
physics_control.wheels[0].max_steer_angle
physics_control.wheels[1].max_steer_angle
physics_control.wheels[2].max_steer_angle
physics_control.wheels[3].max_steer_angle`

[2021-11-16 07:09] duongtran11 opened #4890 "libstdc++ version must be at least 4.8"
CARLA version: latest
Platform/OS: Ubuntu 20.04
Problem you have experienced: libstdc++ version must be at least 4.8
What you expected to happen: make PythonAPI
Other information (documentation you consulted, workarounds you tried): I'm building Carla Simulator from source on Ubuntu 20.04 mchine following the instruction in the docs, when I tried make PythonAPI I got this error
![Screenshot from 2

[2021-11-16 10:00] MaddysonBlaze opened #4891 "scenrio_runner crashes CARLA Server while loading maps"
I have been trying to run a simulation on using OpenScenario files and scenario runner. Please find my local setup details below.

CARLA version: **0.9.12** precompiled version and source build version

Platform/OS: **Ubuntu 18.04 LTS**

GPU : **NVIDEA GeFORCE RTX 3070**

Graphics driver : **Nvidia driver version : 495.44**

Problem you have experienced:

I get the below console output when i run

[2021-11-16 11:24] MattRowe18 commented on #4559
Hi

CARLA exports images in formats such as PNG, not to video formats, but it's simple to convert an image sequence to a video using a number of open source or free tools. Refer to the example scripts supplied with CARLA (such as tutorial.py) to see how the sensors output data. The sensors have a "listen" function which takes a callback to save the data on each simulation step. The image sequence

[2021-11-16 11:24] #4559 closed

[2021-11-16 11:26] MattRowe18 commented on #4560
@bernatx could you comment on this

[2021-11-16 11:28] bernatx commented on #4560
Hi, with the upgrade to UE 4.26 opengl has been deprecated, so only vulkan. You can use -vulkan as a flag, or nothing.

[2021-11-16 11:30] bernatx commented on #4560
Also, to run headless, you need to **unset** the variable SDL_VIDEODRIVER from the environment. At least for us, other definitions of the variable were not working.

[2021-11-16 11:33] MattRowe18 commented on #4565
@Axel1092 could you answer this question about rotation

thanks

[2021-11-16 12:52] MattRowe18 commented on #4572
@Eduard6421 hi, it is perfectly fine for you to include any of the material in CARLA publications in your thesis with appropriate source citation, make sure to cite both the publication and also the project website. Thank you for using CARLA in your work

[2021-11-16 12:52] #4572 closed

[2021-11-16 12:52] #4574 closed

[2021-11-16 12:56] MattRowe18 commented on #4575
@rak7045 yes you can spawn multiple cameras to collect data on a scene, just repeat the process you use to spawn your first camera. Make sure you keep separate references in your script for each camera and ensure that you separate the output with different file paths. Refer to the scripts provided with CARLA to see how camera sensors are spawned.

[2021-11-16 12:56] #4575 closed

[2021-11-16 12:57] MattRowe18 commented on #4578
@bernatx can we close this issue now?

[2021-11-16 12:59] MattRowe18 commented on #4581
@schissmantics the notebook you provided no longer exists, if this problem persists please raise a new issue

[2021-11-16 12:59] #4581 closed

[2021-11-16 13:01] bernatx commented on #4578
yes, it is already fixed in the new outcoming release 0.9.13

[2021-11-16 13:01] #4578 closed

[2021-11-16 13:38] bhuvanofc commented on #4801
@XGodina Continuing on my previous comment. Is There a way to give separate labels to Zebra crossings in City Palette. So that i can easily draw bounding boxes on the Zebra crossings. If it is not possible, Is there a way to mark bounding boxes on Zebra crossings from Carla itself

[2021-11-16 13:40] bhuvanofc commented on #4891
I have the same issue while running a source build version on my Linux system.

[2021-11-16 15:20] MaddysonBlaze commented on #4891
@bhuvanofc, were you able to solve the problem ?

[2021-11-16 23:30] iohnishijima opened #4893 "The car goes over the pavement when turning"
Hi, I have a problem now. I hope someone can help me!
When I'm running the automatic_control.py program, the car goes over the pavement when turning as shown in the video.
The problem occur at junctions and on turning roads.
I made map by using RoadRunner, but The waypoints are created without problems.
When running generate_traffic.py, that doesn't happen, as shown in the video.
If anyone has an

[2021-11-17 01:42] ucbmpc2021 commented on #4862
Based on your screenshot this is the exact same problem as I had. Looks like 0.9.12 hasn't fixed this problem yet. You can try my solution as see if that fixes the problem :)

[2021-11-17 01:43] ucbmpc2021 commented on #4862
Based on your screenshot this is the exact same problem as I had. Looks like even 0.9.12 hasn't fixed this problem yet. You can try my solution as see if that fixes the problem :)

[2021-11-17 09:10] bhuvanofc commented on #4891
@MaddysonBlaze No unfortunately not. Hope to get some solution for it here

[2021-11-17 15:07] jackbart94 commented on #4886
Hey @wjx-3510886! Traffic Manager does slow down vehicles at intersections, that is true. It's because vehicles need to be able to turn correctly at intersections. Regarding accelerations, they are as realistic as possible, we just updated all vehicle's physics to match the real ones in 0.9.13. If you can, change your CARLA version to 0.9.13 and give it a try. Otherwise, you can try to work around

[2021-11-17 15:09] jackbart94 commented on #4893
Hi! The main issue is that automatic_control.py doesn't run the Traffic Manager. You're probably running the behavior agent. If you want to still keep doing that, you will probably need to change the PID values for that agent. Otherwise, if you are interested in the pygame interface, you can use manual_control.py and press P to activate the Traffic Manager.

Let me know if this solves your issue!

[2021-11-17 15:09] #3584 closed

[2021-11-17 15:10] germanros1987 commented on #76
The feature is now available in CARLA 0.9.13. I am closing this issue.

[2021-11-17 15:10] #76 closed

[2021-11-17 15:12] #4090 closed

[2021-11-17 15:13] #3188 closed

[2021-11-17 15:15] #4540 closed

[2021-11-17 15:15] #4273 closed

[2021-11-17 15:27] bhuvanofc commented on #4346
@Axel1092 Did u find any solution to this problem? If so please let me know i have a similar problem too. Would be really helpful. Thanks

[2021-11-17 15:28] bhuvanofc commented on #4346
@Axel1092 @protanjung Did u find any solution to this problem? If so please let me know i have a similar problem too. Would be really helpful. Thanks

[2021-11-17 16:28] protanjung commented on #4346
Sorry, but I don't find any workaround yet. Perhaps we have to modify and build carla from source (?)

[2021-11-17 16:40] uservinu opened #4894 "Carla 0.9.13 Windows build Python 3.9, script crashed without raising any exceptions when calling functions client.get_available_maps(), world.get_random_location_from_navigation()"
CARLA version: **0.9.13**
Platform/OS: **Windows 10**
Problem you have experienced:
This happens only when I use the client library build with **python3.9**. Everything works fine with python3.7.
Python script crashes when using certain functions such as client.get_available_maps(), world.get_random_location_from_navigation()
without raising any exceptions, debugging the script shows this error "f

[2021-11-17 16:40] #4894 closed

[2021-11-17 18:40] iohnishijima commented on #4893
Thank you for replying me.
What I want to do is to drive the car along WayPoints and get the control values of the car (e.g. steering, throttle), RGB images and Seg images.
I implemented it by editing Automatic_Control.py. But the problem is that cars drive on the pavement.
You said it was because I am not using Traffic_Manager.
Looking at the [code](https://github.com/carla-simulator/carla/blob/m

[2021-11-17 20:30] zyan003 commented on #4863
You need to add each traffic signal to TrafficLightGroup.

[2021-11-18 02:03] ls19920505 commented on #4890
I also encountered the same problem, did you solve it?

[2021-11-18 02:07] afterimagex opened #4896 "Can I get the 0.9.13 version of unreal source code?"
Can I get the 0.9.13 version of unreal source code?
I found that the code repository only has version 0.9.12 of unreal 4.26.
I tried to compile with CarlaUnreal 4.26 carla tag 0.9.13, but it didn’t work. Obviously the necessary files are missing

[2021-11-18 02:33] duongtran11 commented on #4890
@ls19920505 no I didn't
I checked the file cmake/modules/CheckCompilerVersion.cmake and found out that the reason for this `libstdc++ version must be at least 4.8` error maybe cause by GLIBCXX release date is sooner than 22.03.2013. But then I checked my gcc version it's 9.3 and release date is some where in 2018
So it doesn't make any sense
Please tell me if you find any solution

[2021-11-18 06:59] Phd-Ma commented on #4893
well done work! but i want to know how do you creat the new road? what's the soft ware you used?

[2021-11-18 09:26] MattRowe18 commented on #4585
@Axel1092 could you answer this please

[2021-11-18 09:27] #4587 closed

[2021-11-18 09:38] MattRowe18 commented on #4591
@bernat could you take a look at this please

[2021-11-18 10:05] MattRowe18 commented on #4592
@SaintArthurThomas hi

The depth sensor in CARLA is calculated from the ground truth (virtual) distance of objects from the sensor, by measuring the distance traveled from rays cast from the sensor pixels. It is not calculated from a stereo camera pair, so it has no associated disparity map. You could calculate a disparity map from the stereo pair of cameras that you have attached to your vehicle,

[2021-11-18 10:05] #4592 closed

[2021-11-18 10:05] Madecu commented on #4883
Hi @whuxhzhang we don't have currently snow in CARLA but there are a few weather parameters you can tweak.

You can play with the weather when the simulation is running using environment.py for example. Here is a video showing how to use it at 12:30
https://www.youtube.com/watch?v=ZZaHevsz8W8&t=874s&ab_channel=CARLASimulator

You can also edit the weather default parameters in unreal's project:

1

[2021-11-18 10:06] MattRowe18 commented on #4593
@jackbart94 could you look into this

[2021-11-18 10:06] #4595 closed

[2021-11-18 10:09] Madecu commented on #4833
Hi @snowbrood
Yes, in order to have the world position of the camera you just need to add its relative position with the world position of its parent, in your case, the vehicle world location.

[2021-11-18 10:11] werewolfdev opened #4897 "Streaming in and out data live from CARLA"
Hi Team, Iam trying to feed in the position of the Ego vehicle live into CARLA and take out the target position data also live from CARLA. I have seen the recording functionality and retrieval of data from the logged file , but I would live to extract the data live during the simulation and sent to an external module. I t would be really helpful if anyone could provide any insights on this .

In o

[2021-11-18 10:17] #4606 closed

[2021-11-18 10:19] Madecu commented on #4860
Hi @ZarkSPb
This is weird. What you are seeing is the LODs for the vehicles, simplified geometries that are rendered depending on the camera distance to improve performance.

Can you show me how did you create your RGB camera? The vehicle should recognize that there is a camera near it and render the highest geometry model.

This is an example of how do we create an RGB camera from our blueprint l

[2021-11-18 10:28] joluko opened #4898 "Carla11"

[2021-11-18 10:29] MattRowe18 commented on #4660
@bernatx can you take a look at this

[2021-11-18 10:29] XGodina commented on #4801
Hello @bhuvanharlapur
Currently, the crosswalk is included in the Land Markings label because they are the same geometry.
A good way to do that will be to cut the geometry (crosswalk part) and create a new tag for semantic segmentation.
Here you have documentation on how to do that.
https://carla.readthedocs.io/en/0.9.13/tuto_D_create_semantic_tags/#create-semantic-tags

[2021-11-18 10:30] #4898 closed

[2021-11-18 10:30] #4659 closed

[2021-11-18 10:36] XGodina commented on #4650
Hello, @zeus-arval

If you want to add a new vehicle you need to install Unreal and set the vehicle on the Unreal Editor.

[2021-11-18 10:38] jackbart94 commented on #4893
Why don't you do this in the ``while True`` loop in generate_traffic.py? You just get the control values and generate images from there. There's no need to use ``automatic_control.py`` for that. If you need the pygame interface, just use ``manual_control.py`` as I specified in the last comment.

Also, ``automatic_control.py`` doesn't use Traffic Manager. It only creates the client, but if you don'

[2021-11-18 10:38] MattRowe18 commented on #4656
@aqvia hi

Yes, the position of the sun in the CARLA simulation can be altered to any angle, you can set azimuth and elevation, so you can simulate a low sunset or high noon and anything in between. In the python API example scripts, you will find a script called dynamic_weather.py. If you run this script, you will see the sun and weather changing, take a look in the script for how to change the s

[2021-11-18 10:38] #4656 closed

[2021-11-18 10:40] #4636 closed

[2021-11-18 10:43] jackbart94 commented on #4593
The --fps arg is definitely deprecated. Also, you need to run the ``sync`` script first, which will be the one doing the tick, and then all the remaining ones.

[2021-11-18 10:44] gsmario commented on #4618
Hi, thanks for reaching us for help.
Can you post a screenshot with the skeleton please?
Thanks again.

[2021-11-18 10:49] jackbart94 commented on #4635
You're clearly building it for x86_64. That's not 32 bit. I don't know if CARLA can run on 32-bit architecture, but for sure we aren't really prepared to run on 32-bit. You'll probably need to change quite a few things, starting from generating an .egg compatible with 32-bit architecture.

[2021-11-18 10:50] jackbart94 commented on #4598
We don't support left hand drive yet, sorry.

[2021-11-18 11:00] #3573 closed

[2021-11-18 11:00] #3581 closed

[2021-11-18 11:00] #3627 closed

[2021-11-18 11:01] #3625 closed

[2021-11-18 11:01] #3915 closed

[2021-11-18 11:01] #3958 closed

[2021-11-18 11:01] #4022 closed

[2021-11-18 11:03] #3906 closed

[2021-11-18 11:03] #3651 closed

[2021-11-18 11:04] jackbart94 commented on #3650
Now it's available by doing ``--sync``.

[2021-11-18 11:04] #3650 closed

[2021-11-18 11:05] jackbart94 commented on #3643
We updated all vehicles' physics in 0.9.13. Make sure to check them out!

[2021-11-18 11:05] #3643 closed

[2021-11-18 11:05] #3543 closed

[2021-11-18 11:07] #3839 closed

[2021-11-18 11:07] glopezdiest commented on #4839
Hey @wujingda I think you are mixing concepts. The Traffic Manager cannot change the initial speed of the vehicles, but can still use the `actor.set_target_velocity()` on an actor controlled by the TM, and it'll work just fine. make sure the speed vector is set to move the vehicle to the front:
[code]

With this, you are most set for 99% of use cases, but as you said *an initial velocity is needed

[2021-11-18 11:07] #3759 closed

[2021-11-18 11:07] joel-mb commented on #4689
Hi @VonAncken,
We are planning to provide wheels for Windows and Ubuntu for Python 3.9 but it is not straightforward right now. We've detected some incompatibilities with the current version of boost we are using and Python 3.9. So probably we need to upgrade it. I'll leave this issue open to report any progress on this topic.

[2021-11-18 11:08] #3710 closed

[2021-11-18 11:09] #3692 closed

[2021-11-18 11:09] #3860 closed

[2021-11-18 11:11] hh0rva1h commented on #4577
Please label this as a bug / feature request. The culprit of this is traffic manager. As soon as traffic manager is initiated (which you do by setting the autopilot), there seems to be no way to terminate traffic manager in the API. This should be changed for exactly the reason mentioned in this report: Sometimes Carla crashes and one would like to catch that exception and handle a restart of Carl

[2021-11-18 11:12] #3945 closed

[2021-11-18 11:12] #4227 closed

[2021-11-18 11:13] #4241 closed

[2021-11-18 11:13] #4259 closed

[2021-11-18 11:14] jackbart94 commented on #4314
Try with a newest version of CARLA, see if it's still happening.

This means you have no memory available.

[2021-11-18 11:14] #4314 closed

[2021-11-18 11:15] joel-mb commented on #4677
Hi @barasm-hita,
Once loaded the map in the CARLA server there are several ways to retrieve waypoints located in lanes. For instance, you can use the `carla.Map.generate_waypoints(distance=1)` method that returns a list of waypoints within a certain distance between them for every lane and centered inside of it. Please take a look to the `carla.Map` API here: https://carla.readthedocs.io/en/0.9.13

[2021-11-18 11:15] #4336 closed

[2021-11-18 11:16] #4345 closed

[2021-11-18 11:16] #4369 closed

[2021-11-18 11:16] #4380 closed

[2021-11-18 11:18] jdsika opened #4899 "Support for ALKS Test Scenarios using OpenSCENARIO 1.1"
Dear team,

at BMW we have published an interpretation and implementation of the [ALKS Regulation No. 157](https://github.com/asam-oss/OSC-ALKS-scenarios) using the [ASAM OpenX](https://www.asam.net/standards/detail/openscenario/). It is a community effort for a common understanding of the necessary test scenarios to be conducted and the requirements arsing from the continously developing law towa

[2021-11-18 11:22] hh0rva1h opened #4900 "Include additional Maps in Docker image"
Please consider including additional maps in the docker image. Often it is very complicated to modify containers because of their read only nature, especially on HPC clusters, where permissions are often missing to modify containers.

Alternatively provide two containers: one minimal container and a full container containing all additional maps.

[2021-11-18 11:28] #4626 closed

[2021-11-18 11:40] hh0rva1h opened #4901 "Add a command line option to start simulator with less complex map"
Starting with Carla 0.9.12, a new default Town is used that takes considerably longer to load and there seems to be no option to launch Carla with another less demanding Map. Technically there is the option to modify `CarlaUE4/Config/DefaultEngine.ini` however that's not very end-user-friendly and also often difficult to do when using the Docker image on an HPC cluster where you do not have the ri

[2021-11-18 11:44] MattRowe18 commented on #4623
@JackRen88 can you clarify where you are running your Python scripts? Are you trying to run python from your local machine, or from within the docker container itself? If you are running from your local machine, you need to identify the IP address to reference the Docker container. If you are running scripts inside the container 'localhost' may map directly to the host machine and not to the conta

[2021-11-18 11:45] #4615 closed

[2021-11-18 12:13] XGodina commented on #4629
Hi @ghostsun89

Create a custom map from OpenStreetMap, I don't think you can. Although, you can use the OpenStreetMap to create it in CARLA. You can select an area and CARLA turns it into a map. This is the link.

https://carla.readthedocs.io/en/0.9.13/tuto_G_openstreetmap/#generate-maps-with-openstreetmap

[2021-11-18 12:19] joel-mb commented on #4728
Hi @SH-Tan ,
Yes, the `carla-ros-bridge` is needed in order to run the Autoware bridge. In this repo you will find a ready to use Autoware agent with CARLA: https://github.com/carla-simulator/carla-autoware.

[2021-11-18 12:42] #4677 closed

[2021-11-18 12:47] Danis199 opened #4902 "Error carla_autoware."
![Снимок экрана от 2021-11-18 15-46-54](https://user-images.githubusercontent.com/73522138/142418003-d31bf4f7-b10c-4888-9120-1bebbd5085d2.png)

[2021-11-18 12:55] ZarkSPb commented on #4860
Hi, @Madecu

 I create RGB camera:
[code]
I run:
`start CarlaUE4.exe -quality-level=Epic -ResX=320 -ResY=240`

And  I noticed, when I use `no_rendering_mode=False` I get normal images, but it takes many-many world.tick (50 - 100 for high qualiti images, and this without car movind)

When I use `no_rendering_mode=True` I get weird car images (regardless of the numbers of world.tick), but surroundin

[2021-11-18 13:26] Axel1092 commented on #4585
Hi @zjh6252007, I am not sure what you mean with the multiple driving test, I guess you spawn a few vehicles with manual control maybe? In any case the scene capture camera cannot be replaced with the unreal camera. A scene capture camera is spawned when you create a camera sensor and renders the scene from that point of view and sends the image to the client.

[2021-11-18 13:29] Axel1092 commented on #4589
Hi @iklimchy, indeed due to an error the egg file was named incorrectly in 0.9.12 but it still contains the latest CARLA features. It is a naming issue only.

[2021-11-18 13:30] joel-mb commented on #4902
Hi @Danis199,
Please, provide more information about your issue. Which version of CARLA are you using? Are you using the CARLA autoware agent example (https://github.com/carla-simulator/carla-autoware)?

[2021-11-18 13:33] Axel1092 commented on #4810
Hi @duongtran11, I don't know what you mean with real world coordinates. You can set the georeference information in the OpenDRIVE file.
All assets of a map need to be contained in a single FBX file to be imported by unreal, then the engine will place the meshes in the corresponding positions as defined in the FBX file.

[2021-11-18 13:36] Axel1092 commented on #4667
Hi @saina110, just as @brscholz mentioned you can add posprocessing materials to the cameras and then add in the constructor of the sensor `AddPostProcessingMaterial(TEXT("Material'path/to/material'"));`.
You could also postprocess the images on the client side and store/use them after the changes you apply.

[2021-11-18 13:47] Axel1092 commented on #4658
Hi @pantelmen, we would need the entire log to see what errors you found to be able to help you.

[2021-11-18 13:51] Axel1092 commented on #4628
Hi @xilinzhou, aparently your visual studio installation is broken. Cmake is not able to use it to compile the zlib library.

[2021-11-18 14:40] #4678 closed

[2021-11-18 14:46] #4714 closed

[2021-11-18 21:15] bsande6 commented on #3828
Has anyone found a solution that allows the agent to still follow normal traffic rules?

[2021-11-18 21:50] nick-marnik commented on #4896
The UE4 version hasn't changed from 4.26 for the 0.9.13 release, so it should still be here: https://github.com/CarlaUnreal/UnrealEngine

[2021-11-18 21:54] nick-marnik commented on #4870
From your log: `Setup.sh: CARLA version 0.9.12-1-gbb4b95e0.`

It looks like you are building Carla 0.9.12 with UE4 4.24, which aren't compatible. Try `git status` to confirm you are on the 0.9.11 tag of Carla.

[2021-11-18 21:56] nick-marnik commented on #4859
What version of Carla? Per the instructions, cmake needs to be installed manually: https://cmake.org/download/

[2021-11-18 21:59] nick-marnik commented on #4856
Generally, sudo isn't a concept in a running Docker container. For the Carla Docker images, `carla` is the default user where everything is installed and run from.

[2021-11-18 22:43] wangxuan1997 commented on #2898
Any solution to this?

[2021-11-19 00:53] zyan003 opened #4903 "Convert .umap to .xodr"
Hi everyone, I just created a new map with RoadRunner and added a few traffic signals at intersections. Now, I don't know how to convert current .umap(level) to a new .xodr file. (Not the one generated from RoadRunner) I need this xodr file to start co-simulation with SUMO with traffic signals in .net.xml.

Anyone have ideas to implement this? Or if anyone know how Town03 or Town04 was converted t

[2021-11-19 01:41] Isak-toast opened #4904 "failed make launch to CARLA 0.9.13"

[2021-11-19 01:43] Isak-toast opened #4905 "failed make launch to CARLA 0.9.13"
CARLA version: 0.9.13
Platform/OS: Ubuntu 18.04
Problem you have experienced: Print error while make launch
What you expected to happen: make launch
Other information (documentation you consulted, workarounds you tried):
Hello!
I knew that update new version CARLA on the current week.
So I was updating it yesterday, but it's not working.

![Screenshot from 2021-11-19 10-32-50](https://user-images.

[2021-11-19 01:43] #4904 closed

[2021-11-19 01:55] MR-hyj opened #4906 "Why is carla/Build/patchelf-install/ empty?"
When I was running `make PythonAPI`, the error occurs like

So I take a look at the `carla/Build/patchelf-install/` directory, and find it is totally empty.
Luckily, I find `carla/Build/patchelf-src/`, and do the following just as `carla/Build/patchelf-src/README.md` says

It all worked, but still the `carla/Build/patchelf-install/` is empty.
And when I was running the above 5 cmds, I found no inf

[2021-11-19 02:29] afterimagex commented on #4896
@nick-marnik Thank you very much. I'll try again.

[2021-11-19 02:39] MR-hyj commented on #4906
I've solved this problem.
`whereis patchelf` shows the patchelf is installed at another directory. So I created an link to `carla/Build/patchelf-install/bin/parchelf`.
God damn it works!

[2021-11-19 02:41] wjx-3510886 commented on #4886
Thanks very much @jackbart94 . Besides that,  is there a way to create a vehicle that is not on the road (i.e. in a yard) and then drive it on the road (like a car popping out of an alley or yard)? Thank you for the work.  It's fantastic.
![图](https://user-images.githubusercontent.com/72509133/142555744-300c7c41-2315-435b-abf7-eb5bcba7763e.png)

[2021-11-19 02:48] MR-hyj opened #4907 "make launch raise 18+10 errors"
multiple errors say "use of dynamic_cast requires -frtti" (Where can I find the g++ cmds so I can add the `-frtti` argument?)
other errors range from "no member named xxx", to "base class xxx has no member xxx". (May be the head files are mis-included?)

[2021-11-19 03:12] duongtran11 commented on #4810
Hi @Axel1092, I mean coordinates like latitude longitude or UTM. For example, if I import a New York city model to UE, I expect it to appear in the exact location of New York city. but I didn't know how to check it's locations (to make sure it was imported in the right place)
I'm using Cesium to import a satellite map layer to UE, then move my model to its correct location.

[2021-11-19 03:19] wujingda commented on #4839
Hi @glopezdiest, Thanks for the warm help! I will try your method.

[2021-11-19 04:28] afterimagex commented on #4905
i have the seem error.

[2021-11-19 05:00] MaXiaoSIOM commented on #4905
the same error

[2021-11-19 06:06] 889612 opened #4908 "boost"

[2021-11-19 06:52] ashishgx commented on #1219
has anyone tried this with Oculus?

[2021-11-19 07:01] iohnishijima commented on #4893
@Phd-Ma

Hi! Thank you for replying me.
I am using RoadRunner to create new road. It is MatLab software. I highly recommend it because you can create a new map like a game.
If you are interested in this, please refer to the URL below.

https://carla.readthedocs.io/en/0.9.12/tuto_M_generate_map/

https://carla.readthedocs.io/en/0.9.12/tuto_M_add_map_source/

Thanks

[2021-11-19 07:07] iohnishijima commented on #4893
Thank you for replying me.
I didn't have that idea. Your reply is very good for me. I'll try it with traffic_manager.py.
I really appreciate your teaching.

[2021-11-19 08:01] atharva25061997 commented on #4859
I have cmake installed on my system. The version too is the required one. Yet this error persists.

[2021-11-19 08:04] werewolfdev commented on #4897
Hi Team, any insights or suggestions on this issue

[2021-11-19 08:58] #4908 closed

[2021-11-19 09:44] Axel1092 commented on #4905
Hi all, for the new 0.9.13 version it is necessary to update the engine code. Otherwise you will find these compilation errors.

[2021-11-19 10:33] bernatx commented on #4907
Did you upgraded the UE4 engine? 0.9.13 needs changes in the unreal engine

[2021-11-19 13:32] DonadiHarshith commented on #4678
Thank you

[2021-11-19 14:30] nick-marnik commented on #4859
A command like `where cmake` will only work in a `x64 Native Tools Command Prompt for VS 2019` window. The VS version depends on the Carla release:
0.9.11 or older: VS 2017
0.9.12 or newer: VS 2019

![image](https://user-images.githubusercontent.com/83248080/142638951-3af1a61f-0185-4d5a-afa4-ae907880214a.png)

[2021-11-19 15:20] Isak-toast commented on #4905
What if can i reinstall Unreal Engine 4.26? Will it be clear?

I don't know exactly what you mean engine code..

[2021-11-19 15:48] abviv commented on #4711
I am pretty new to CARLA and i was wondering do you have some sort of docs about how you're able to run scenario_runner with docker?

[2021-11-19 16:28] semmelknoedel commented on #4711
Hi @abviv : if you don't use any special configurations (e.g. different ports) with your docker container, it should work the same way as with any other Carla version (pre-compiled release or running in Unreal). How to start a scenario is pretty well documented here: [scenario_runner docu](https://github.com/carla-simulator/scenario_runner/blob/master/Docs/getting_scenariorunner.md)

Just start th

[2021-11-19 16:40] YSJang94 opened #4913 "the description of attribute of actor blueprints"
Hi.

Where can I see the description of the attributes of the blueprint?

thank you.

[2021-11-19 18:02] mawi42 opened #4914 "Camera Instance Segmentation - unclear documentation - data format"
CARLA version: 0.9.13
Platform/OS: Windows 10
Problem you have experienced: I read raw data and understand semantic class information (red channel) and expected in blue / green channel somehow the object ID. But when I compare such data against actor ID these are different. So how can I make the link to actor information.
And the color conversion does not result in different colors for different i

[2021-11-20 01:44] #4896 closed

[2021-11-20 01:48] afterimagex commented on #4863
@zyan003 thx～

[2021-11-20 01:48] #4863 closed

[2021-11-20 02:35] jonbakerfish opened #4915 "How to use the check_lidar_bb.py"
Hi, I want to test out the check_lidar_bb.py but it kept showing errors like "RuntimeError: Spawn failed because of collision at spawn position"

[2021-11-20 04:10] sparklin1999 opened #4916 "Retrieve more data in recorder log files"
Hello, I need more data (like distance from the lane center, bounding box vertices) of each time frame of the recorder.
Can I retrieve such information by replaying the recorder and calling some API to calculate them?

[2021-11-21 09:11] yuvalHG commented on #4860
I got the same issue.
My scene is dynamic, with moving cars and around 5 ego vehicles with RGB cameras and I can not pay 50-100 ticks to get a high quality image.
Is there any solution for getting well rendered car in synchronous mode?
I'm using Carla 9.11 on win10

[2021-11-21 19:33] werewolfdev commented on #4897
Hi @fabianoboril Could you kindly share your insights on the same

[2021-11-22 03:21] Phd-Ma commented on #4893
@iohnishijima

Thanks you very much!

I have install RoadRunner software used to Create custom maps， I am try to export "Carla (*.fbx, *,osdx)" .  and then make launch for UE4editor, import the named.fbx to /content/carla/Maps, the scene had succeed import in the UE4.

While , when i click "Play" button, and perform the command "python generation_traffic.py or manucontroll.py" thow out error:

**_

[2021-11-22 03:31] Phd-Ma commented on #4514
I got the same problem.

[2021-11-22 07:02] atharva25061997 commented on #4859
I have already tried this. I even tried both versions but it is not working.

[2021-11-22 07:11] iohnishijima commented on #4893
@Phd-Ma
I didn't have the same problem in my case.
Please try again the way I did. I'll show you the steps below.

1. delete all files and folder in carla/import (without ReadMe)
2. delete "map_package" folder in carla/Unreal/CarlaUE4/Content
3. do "make import" on home/carla terminal.
4. when "make import" done, do "make launch" to open UE4Editor.
5. when you open UE4Editor, you should see some w

[2021-11-22 07:51] Isak-toast commented on #4905
Yeah! It's work.
I have reinstalled Unreal Engine 4.26.2

CARLA Version : 0.9.13

Thanks.

[2021-11-22 07:51] #4905 closed

[2021-11-22 23:41] svanimisetti commented on #115
@germanros1987 @nsubiron - I am reviving my question from last year (6/25/20). I see that the latest version of CARLA has CarSim integration incorporated into the binary release (0.9.13). This implementation seems to work fine for cases where CARLA and CarSim communicate exclusively. If I have other custom interfaces in CarSim, this arrangement does not seems to work well.

The CarSimMovementCompo

[2021-11-23 07:04] VincentCheung991214 commented on #88
Hi everyone,
I wanna modify the code such that achieving below purposes:
1. Delay the frame for .1-1 seconds, like the hero car already turned right at intersection, but the frame of driving terminal is delayed for 0.5 seconds to show its right turning.
2. also delay the time for sending driving wheel control's command: like I step on the break, it takes 0.5 seconds more to send the stop command t

[2021-11-23 12:49] fliedroc commented on #2533
it work well for me, thanks

[2021-11-23 14:03] atharva25061997 commented on #4859
I have tried everything that has been suggested in the documentation. Even rebooting didn't help. When i will try again in coming days and the problem persists then I will share the screenshots.

[2021-11-23 15:18] joel-mb commented on #4902
Closing this issue while waiting for more information. Feel free to reopen this issue if needed.

[2021-11-23 15:18] #4902 closed

[2021-11-23 15:47] MattRowe18 commented on #4802
@liuxiaofang0312 you must use the CARLA fork of the Unreal Engine. Please download the latest version of the UE4 CARLA fork from the link provided in the Build documentation https://carla.readthedocs.io/en/0.9.13/build_windows/#unreal-engine
https://carla.readthedocs.io/en/0.9.13/build_linux/#unreal-engine

[2021-11-23 15:47] #4802 closed

[2021-11-24 08:53] werewolfdev opened #4926 "Relative position of Target wrt Ego Vehicle"
Hi Team, Iam trying to log both ego and target vehicle position and get the relative position of target vehicle wrt Ego. I have kept pitch and roll as 0 and just yaw is present . SO its like Iam playing in 2D. I would like to confirm if my methodology is correct or not .

Initially I determine the 2   3*3 homogeneous matrices T_ego and T_target which describes the translation and rotation of the a

[2021-11-24 10:53] zachrenlee opened #4927 "Retrieving high-level commands for autopilot hero vehichle"
Hi,
is there any way to obtain the high-level commands (LEFT, RIGHT, STRAIGHT, LANEFOLLOW, CHANGELANELEFT, CHANGELANERIGHT) from the autopilot agent? I am collecting data using the autopilot mode by setting the hero_actor.set_autopilot(True).
Thank you very much.

[2021-11-24 11:05] huangrainqi commented on #4905
the same error

[2021-11-24 11:07] huangrainqi commented on #4905
@Isak-toast Where to download  Unreal Engine 4.26.2 ?  the lastest version is 4.26.1 ?

[2021-11-24 11:23] BruceXSK commented on #2752
I just found that you can extract the .egg file to the site-packages dir of your python. And PyCharm can generate some simple python stubs from the .so library. The stub files generated are very naive that only the names of classes and methods are included, but it is enough for coding.

[2021-11-24 11:40] ptr-br commented on #1229
Is this still the best option if I want to spawn a pedestrian to a walker spawn point?

[2021-11-24 12:04] whuxhzhang opened #4928 "spectator perspective problem"
Ubuntu18.04  Carla-0.9.13

Set the spectator to be related to the ego vehicle,
and the spectator perspective will swing greatly as the vehicle accelerates and decelerates.

code is:
spectator.set_transform(carla.Transform(ego_trans.location + carla.Location(x=0, y=0, z=1.3),
                                                                carla.Rotation(yaw=ego_yaw)))

[2021-11-24 12:24] xqrdot commented on #4826
Can confirm a **30%** drop for Camera performance between `0.9.11` and `0.9.13`

Identical sensor configurations, Town01, 1000 Samples.

![image](https://user-images.githubusercontent.com/51158453/143237073-479b42f6-0a59-48d9-9a7d-bbae722d725a.png)

Setup information:
Ubuntu 18.04, RTX 2070 Max-Q, i7-8750H CPU @ 2.20GHz × 12
[code]

[2021-11-24 14:33] #4839 closed

[2021-11-24 14:35] glopezdiest commented on #4708
This seems solved, closing the issue. Feel free to reopen it if needed

[2021-11-24 14:35] #4708 closed

[2021-11-24 14:38] glopezdiest commented on #4555
Closing the issue while waiting for the original poster to provide more information. Feel free to reopen it if needed

[2021-11-24 14:38] #4555 closed

[2021-11-24 14:40] glopezdiest commented on #4286
As of 0.9.13, the TrafficManager now allows setting paths for its vehicles. I don't think we have the propert documetnation ready yet, so you can check [this PR](https://github.com/carla-simulator/carla/pull/4786), which has all the new features explained

[2021-11-24 14:40] #4286 closed

[2021-11-24 14:41] glopezdiest commented on #4136
Closing this issue as it seems to be solved. Feel free to reopen it if need be.

[2021-11-24 14:41] #4136 closed

[2021-11-24 14:42] glopezdiest commented on #4125
Seems solved, so closing the issue.

[2021-11-24 14:42] #4125 closed

[2021-11-24 14:44] glopezdiest commented on #4066
Closing this as it seems solved. Feel free to reopen it if needed

[2021-11-24 14:44] #4066 closed

[2021-11-24 14:44] glopezdiest commented on #3925
As this seems solved, I'm closing the issue. Reopen it if needed

[2021-11-24 14:44] #3925 closed

[2021-11-24 14:45] #3603 closed

[2021-11-24 15:15] danqu130 commented on #4795
I have the same question and look forward to answering it.

[2021-11-24 17:30] umlautsim opened #4929 "Error when I run the command "make Python API""
Hello, I tried to compile the pyhton API client using the command "make python API" and I got this error. Using ubuntu 18.04.

Snippet of the error:
[](url)
1 error generated.

  "clang++" -c -x c++ -fvisibility-inlines-hidden -m64 -pthread -O3 -Wall -fvisibility=hidden -Wno-inline -fPIC -std=c++14 -DBOOST_ERROR_CODE_HEADER_ONLY -DBOOST_ALL_NO_LIB=1 -DBOOST_PYTHON_SOURCE -DBOOST_PYTHON_STATIC_LIB

[2021-11-24 21:48] hh0rva1h commented on #3256
@DSantosO Whats the progress of this? With Carla 0.9.13 the plot looks like the following (just changed 0.82 to 0.7):

![image](https://user-images.githubusercontent.com/61889859/143316879-ad484d81-f65c-42d0-9d7c-d237d2576cbb.png)

The deceleration of almost 1g at throttle = brake = 0 is still way to extreme imho.

[2021-11-25 04:18] MiaoMiaoMeng commented on #4859
try to install those lib manually
which you can find in /carla/Util/InstallersWin/
and the url and folder‘s name is in those .bat file
@atharva25061997

[2021-11-25 07:37] milmario commented on #4795
To save you some time, here's what i found out so far:

1.  **Flow Type**: Flow[t] is either the forward flow from t -> t+1 (you have to multiply the flow in y-direction by -1, to be in the standard computer vision coordinate system), OR it's the flow from t -> t-1 (if you multiply the flow in x-direction by -1). The second option seems less convincing from a logical point of view, but numerical e

[2021-11-25 08:08] iohnishijima opened #4930 "No leaves in segmentation"
Hi, I have a problem now. I hope someone can help me!
I imported map that I make from RoadRunner.
In this map, Tree segmentation is shown, but no leaves.
Please let me know if you know how to display leaf segmentation or if you have any RoadRunner settings!
![00001663](https://user-images.githubusercontent.com/93071901/143402893-83d4a2b6-7be0-46fd-ad2d-de20295a54d8.png)
![00001665](https://user-im

[2021-11-25 09:08] jackbart94 commented on #4927
Hi, we just introduced this feature. It's enough to do ``traffic_manager.get_next_action(hero_actor)`` to get the next high level action, and ``traffic_manager.get_all_actions(hero_actor)`` to get all the high-level choice that the autopilot has already computed in its path buffer.

It's a very straightforward answer so I'll close this issue, let me know if it works for you though.

[2021-11-25 09:08] #4927 closed

[2021-11-25 12:32] MattRowe18 commented on #4757
@tamas-visy the delay from sensors depends heavily on hardware configuration. The delay of a couple of frames is presuming very high performance graphics hardware (and also CPU). If you are using high performance GPUs from older generations or commodity graphics hardware, this would explain why your delay might be longer. Even though we do make the best of effort to optimise, CARLA is necessarily

[2021-11-25 12:32] #4757 closed

[2021-11-25 12:40] MattRowe18 commented on #4761
@mrcoee it may be that the camera catches the vehicles or the pedestrians as they are being spawned or destroyed. Some operations CARLA are multithreaded and asynchronous, including the operations that render sensor images, therefore one thread may be spawning the vehicle while another thread samples the sensor image.

Are you using CARLA in synchronous mode? If not, this could help solve the prob

[2021-11-25 12:40] #4761 closed

[2021-11-25 12:51] MattRowe18 commented on #4764
@Axel1092 could this be an issue with motion blur parameters?

[2021-11-25 12:52] #4752 closed

[2021-11-25 13:02] MattRowe18 commented on #4766
@WambJamb hi, thanks for your question.

It's entirely possible to connect multiple hardware configurations to CARLA. It would, however, depend very specifically on the hardware and the associated SDK. You can retrieve data on collisions, speed and telemetry through the CARLA API and you can also send control instructions to the user controlled vehicle through the CARLA API. Please refer to the CA

[2021-11-25 13:02] #4766 closed

[2021-11-25 13:08] lzhhh93 commented on #4877
On next line:
client.set_timeout(2.0)
change 2.0 to 5.0 and see how it works.

[2021-11-25 13:13] MattRowe18 commented on #4770
@onyx22574 yes CARLA can be used for any robotic application. CARLA simulates many of the sensor types that autonomous robots use including cameras, depth cameras, radar, lidar and collision detectors and all the data they stream is accessible through the API. CARLA's assets, the maps and all the details in them (roads, building exteriors, vehicles, etc.) are aimed at autonomous driving applicatio

[2021-11-25 13:13] #4770 closed

[2021-11-25 13:16] MattRowe18 commented on #4777
@DonadiHarshith can you provide some more details about your aims?

[2021-11-25 13:57] MattRowe18 commented on #4813
@darkdevahm hi

CARLA simulates lidar sensors and those sensors can be attached to multiple vehicles but to answer your question better it would be helpful to have a few more details

[2021-11-25 13:59] #4820 closed

[2021-11-25 14:29] MattRowe18 commented on #4844
@jitpinun please try the following alternative links to find the packages for your version of CARLA https://github.com/carla-simulator/carla/blob/master/Docs/download.md

If you still have problems please reopen this issue

[2021-11-25 14:29] #4844 closed

[2021-11-25 14:30] #4856 closed

[2021-11-25 15:45] zachren97 commented on #4927
Hi, may I know which version of Carla has this feature? I tried it with 0.9.10 and apparently 'TrafficManager' object has no attribute 'get_next_action'. Also is it possible to pass a high level command to the autopilot algorithm?

[2021-11-25 21:39] Chris1nexus commented on #4926
I am not from the carla simulator Team. However i have been working on simulation of vision and trajectories, expressed in relative pose of the ego vehicle.
Your approach is correct, as your usage utilizes the traditional conventions of roto-translations in homog coords.
Nevertheless, you should try to plot on 2D-plane both the position vector of ego and target vehicles, just to be sure that you a

[2021-11-25 22:53] werewolfdev commented on #4926
Hi @Chris1nexus  thanks a lot for the reply and for confirming the approach. Yes I am carrying out some unit tests and visualization based tests of output of the script developed and it seems promising.

[2021-11-27 06:33] Kzmc-China commented on #4929
I have the same error. Have you found a solution to this?

[2021-11-27 06:33] Kzmc-China commented on #4752
I have the same error. Have you found a solution to this?

[2021-11-27 10:08] zjzjg1280 commented on #2808
Has anyone solved this problem?

[2021-11-28 03:40] zxiaomzxm commented on #76
Hi, I download CARLA 0.9.13, but I can't find the instance segmentation camera, where is it?

[2021-11-28 11:31] RocaPiedra opened #4932 "Unreal Engine repository to build Carla on windows doesn't exist"
Hi,

I started using Carla for my master's thesis and recently I've purchased a laptop (Gigabyte aero15xd) because my old PC couldn't handle Carla properly. So far, i've not been able to make the nvidia drivers work on ubuntu so I decided to build Carla on windows even though I prefer linux for programming. I've tried to build several versions of Carla but the unreal engine repository (https://git

[2021-11-28 16:18] rrrushan opened #4933 "After installing ROS noetic make PythonAPI/ package/ import do not work."
Hello!
CARLA version: 0.9.12 and 0.9.13
Platform/OS: Ubuntu 20.04

After installing ROS noetic i get the next error:

building 'carla.libcarla' extension
clang-8 -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -g -fwrapv -O2 -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC

[2021-11-28 20:30] rrrushan commented on #4933
ROS noetic Desktop-Full was installed.
I had to apply to [this](https://github.com/carla-simulator/carla/issues/2792#issuecomment-898733713)
In order to make 'make PythonAPI' work again I had to enter into the terminal:
sudo apt-get purge gcc-11
sudo apt autoremove
sudo apt-get install build-essential

But I want to keep working ROS on my system.
I will try to install the minimal setup of ROS and

[2021-11-29 02:05] GooVincent commented on #1632
Please why the default port 2000 would prompt the 'invalid session: no stream avaiable...' issue

[2021-11-29 04:12] GittUser2021 commented on #4546
I been trying to figure out why I can’t fully convert town 4 using netconvert_carla.py. everything seems to look fine except for the road circled in the attached image. When I launch town04 in Carla, it is a gas station and it does show in the net file that is in the examples but when I try to convert it, it ignores it.
I tired modifying the “opendrive_netconvert.typ.xml” but still no luck. Any ad

[2021-11-29 04:15] GittUser2021 opened #4934 "Town04.xodr incomplete conversion via netconvert_carla.py"
I been trying to figure out why I can’t fully convert town 4 using netconvert_carla.py. everything seems to look fine except for the road circled in the attached image. When I launch town04 in Carla, it is a gas station and it does show in the net file that is in the examples but when I try to convert it, it ignores it.
I tired modifying the “opendrive_netconvert.typ.xml” by duplicating the line “

[2021-11-29 11:42] daniel-bogdoll commented on #3920
I personally fix it with `export VK_ICD_FILENAMES="/usr/share/vulkan/icd.d/nvidia_icd.json"` which I found in `https://github.com/carla-simulator/carla/issues/2232`. Ubuntu 20.04 with RTX 3080 and Intel chip.

[2021-11-29 13:35] lovesuiyue commented on #1195
Content.tar.gz    99%[==================> ]   6.01G  5.15MB/s  ,  1 second left .  ./Update.sh：54: 21796  Segment error , Core dumped , wget ${CONTENT_LINK} -O Content.tar.gz  (carla 0.9.5, UE4.21)

please help me!!!

[2021-11-29 15:08] AbanobSoliman commented on #3130
Hi, I am also interested in this topic/issue. any updates ! Thanks

[2021-11-29 16:18] hh0rva1h commented on #3994
@bernatx Could you please have a look at this finally? Segfaults like this are frustrating for a lot of users.

[2021-11-29 16:25] hh0rva1h opened #4935 "Carla 0.9.13 Segmentation fault (Bad file descriptor)"
CARLA 0.9.13 (docker image)
Platform: Linux

We are observing the following segfault repeatedly in our experiments with Carla:

[code]
Unfortunately we do not yet have a minimal example to reproduce and dropping all of our code here is not an option, but the crash happens quite reliably: out of 10 experiments we do, at least 3 crash after some time due to this segfault.

I don't know whether the [

[2021-11-29 16:43] bernatx commented on #3994
Hi, sure, I will take a look

[2021-11-29 16:48] hh0rva1h commented on #3994
@bernatx Thanks, quite recently we also have big troubles with https://github.com/carla-simulator/carla/issues/4935 which might be related.

[2021-11-29 20:34] e-Dylan commented on #3430
tl;dr:
If it was open and working before you closed it, end the background process in task manager before you re-run the UE4 exe.

I just got this issue when I opened the CarlaUE4.exe unreal executable for carla, closed it, and tried to re-run it. I didn't realize the first one I had closed was still running an open process only visible in task manager. Once I found it in task manager (takes like

[2021-11-30 04:20] GittUser2021 commented on #4934
made some progress with the conversion, I updated to Sumo 1.11.0 and I was able to convert the maps and be able to get the side road (gas station) see picture below.

![image](https://user-images.githubusercontent.com/92377293/143985057-8c076df6-02c6-450c-ac48-96b0cb0d0a50.png)

however, still look different to the original curve from Carla Town04.net.xml example. But when the run the Town04.xodr

[2021-11-30 06:17] huhaocong1 commented on #4907
i  met the same problem,how did you solve that?

[2021-11-30 07:24] EchoYJJ opened #4936 "Issues on disk space usage of CARLA: Disk C runs out of memory."
Hello everyone!
**CARLA 0.9.10 bulit on Windows**
I did install my CARLA in disk D. However, when I import new fbx file into CARLA and add assets in CARLA, the space in disk C becomes less and less. This condition confuses me a lot, because all my scenes and relative assets are saved in disk D.
I don't know how to identify the memory taken up by CARLA in disk C, and how can I remove or delete them

[2021-11-30 12:49] hh0rva1h commented on #4498
@bernatx It is fixed in the docker images, but not in the 0.9.12 and 0.9.13 release builds people fetch from Github. Could you fix those as well?

[2021-11-30 14:26] PinkJohnOfUs opened #4937 "can't install python3.8 carla package on ubuntu 20.04 container"
Problem you have experienced:
Not possible to install carla python package for python3.8 on docker container

What you expected to happen:
installation should work with: `pip install carla`

CARLA version: 9.12
Platform/OS: Ubuntu 20.04.3 LTS -> docker container -> ros:foxy-ros-base   IMAGE ID: 62ee1d4d17a9
`docker run --name ros-bridge-container  -it ros:foxy-ros-base /bin/bash`

Inside container

[2021-11-30 14:27] guygo12345 opened #4938 "instance segmentation sensor documentation"
Hi
I want to use the new instance_segmentation sensor in carla 0.9.13, but there is no documentation for that. Can you please add it?
Also - are the instance ids in the image compatible with the objects ids in the world? I would like to couple the instance in the image with the instance in 3d

Thanks,

Guy

[2021-11-30 15:03] MattRowe18 commented on #4932
@RocaPiedra hi

Have you created an account on Epic Games, you need to connect your Github account with Epic Games and get a token for authentication before you can download the CARLA UE4 fork

[2021-11-30 15:04] MattRowe18 commented on #4930
@Axel1092 is this expected behaviour?

[2021-11-30 15:08] MattRowe18 commented on #4928
@whuxhzhang hi

could you provide us a little bit more information about what happens, it's not clear from your code how the problem is arising. Does the spectator swing from side to side? A couple of screenshots or a video would help a lot in debugging this issue

thanks

[2021-11-30 15:09] #4926 closed

[2021-11-30 15:24] MattRowe18 commented on #4906
@MR-hyj thanks for posting this solution, I will close this issue now

[2021-11-30 15:24] #4906 closed

[2021-11-30 15:38] #4893 closed

[2021-11-30 15:41] yuvalHG commented on #4761
@MattRowe18 I work with synchronous mode (Carla 9.11), first spawning all actors and later after applying auto pilot to each, snap images from RGB camera on the Ego vehicle and same problem is observed.

It seems that this issue of fuzzy images / not fully rendered vehicles is repeatedly reported, here are some examples:
1. [[https://github.com/carla-simulator/carla/issues/4860](url)](https://gith

[2021-11-30 15:41] MattRowe18 commented on #4888
@soroushhashemifar hi

Could you give us a few more details about the setup you intend to use

[2021-11-30 16:22] #4871 closed

[2021-11-30 16:23] #4870 closed

[2021-11-30 16:29] #4682 closed

[2021-11-30 16:46] #4679 closed

[2021-11-30 23:49] ucbmpc2021 commented on #2165
Any update on this? Have you found any solution?

[2021-12-01 01:35] whuxhzhang commented on #4928
![image](https://user-images.githubusercontent.com/38369239/144155566-bf8a4f44-6094-4bfd-857e-136ad9f27b5f.png)
![image](https://user-images.githubusercontent.com/38369239/144155605-b508abac-1a9c-4da4-98e7-99f99c3e0ba3.png)

These two pictures are screenshots of the same car's perspective when accelerating and decelerating

code is:
spectator.set_transform(carla.Transform(ego_trans.location + carl

[2021-12-01 01:59] JoceilyhG commented on #4798
Hi, I'm encountering the same issue. Do you have any update on this?

[2021-12-01 02:21] EchoYJJ commented on #4936
Hi! @bernatx Nice to meet you again.
Through SpaceSniffer, I think I've identified the memory taken up by CARLA in disk C, or to be specific, by Unreal Engine. It's located in C:\Users\my_name\AppData\Local\UnrealEngine\Common\DerivedDataCache
The overall 10 folders take up 17.3GB and the amount is still increasing. I once tried to remove these folders, but it poses a threat on CARLA. Could you pl

[2021-12-01 03:33] EatAllBugs commented on #4929
how do you fix it?

[2021-12-01 04:49] lovesuiyue commented on #2092
I have encountered the same problem. Have you solved it？ @pirate-lofy

[2021-12-01 08:18] glopezdiest commented on #4828
Hey @everestmax, all the current exposed information about the wheels is in the [carla.WheelPhysicsControl](https://carla.readthedocs.io/en/latest/python_api/#carlawheelphysicscontrol), which you can access doing `actor.get_physics_control().wheels`. However, I don't think data like the wheels RPM is exposed.

[2021-12-01 08:18] #4828 closed

[2021-12-01 08:23] glopezdiest commented on #4790
As far as I know, supposing that the GNSS has no noise, the two are equivalent.

[2021-12-01 08:23] #4790 closed

[2021-12-01 08:28] glopezdiest commented on #4779
Hey @cicciosab97, could you explain in more detail what exact commands are you running? Also, I don't understand the aim of the video, as it is it a 6 second normal drive through the lane.

[2021-12-01 08:34] werewolfdev commented on #4790
Thanks

[2021-12-01 08:43] glopezdiest commented on #3828
@bsande6 Are you using 0.9.12 or higher? As far as I remember, the issue is that the behavior agent uses the `vehicle.is_at_traffic_light` function, which always returns True at stop signs, hence why the vehicle stops permanently. I think we fixed it for 0.9.12 though, but I may be wrong. I'll test it ASAP, and report back

[2021-12-01 08:54] tianqi-wang1996 opened #4939 "Setting high fps results in significantly more visually-slow simulation"
CARLA version: 0.9.13
Platform/OS: Ubuntu 18.4
Problem you have experienced:
After setting the fps via config.py, I observed very strange situations. If I set the fps to a relatively low number e.g. 10 fps, the cala server updates very quickly (cars run fast, traffic lights switch fast). On the other hand, setting  the fps to a relatively high number e.g. 100 fps, the carla server updates very slo

[2021-12-01 09:20] cicciosab97 commented on #4779
Yes. @glopezdiest this is NoCrash Benchmark from [https://github.com/carla-simulator/driving-benchmarks/tree/carla_09_cexp](url), but I used it in combination with CARLA 0.9.8. I also used the Scenario Runner package found from the ghithub repository. It is a matter of 6 seconds of driving along the lane, but here the episode ends by collision. The video ends at the collision. I think this is a se

[2021-12-01 09:41] #4589 closed

[2021-12-01 09:42] #4701 closed

[2021-12-01 09:49] #4543 closed

[2021-12-01 10:07] MattRowe18 commented on #4529
In or #

@yh300 hi

You should use pip to install the wheel that you have built in the build process "pip3 install /carlaRoot/PythonAPI/carla/dist/carla-#.#.#-#####.whl".

Alternatively you can specify the version to install via PyPi as such "pip3 install carla==0.9.12" although you should ensure that this matches your build version. In general, we would advise using pip if you are installing CARL

[2021-12-01 10:07] #4529 closed

[2021-12-01 10:20] MattRowe18 commented on #4526
@stonier thank you for your suggestions.

The Agents package is currently in progress and should be released soon, possibly with 0.9.14 or maybe before. It will be named "carla-agents" for pip installation although it will probably be named "agents" for import. There will only be a clash if you happen to be using a package imported as "agents". I'm not aware of one at the moment, the "agents" pack

[2021-12-01 10:20] #4526 closed

[2021-12-01 11:32] joel-mb commented on #4934
Hi @GittUser2021,
As far as I remember, this could be happening because the arguments used in the `netconvert` command to generate the net file in the `examples` folder were different to the ones used in the `netconvert_carla.py` script (https://github.com/carla-simulator/carla/blob/master/Co-Simulation/Sumo/util/netconvert_carla.py#L377-L389). Here you check all the parameters available for `netc

[2021-12-01 11:42] joel-mb commented on #4937
Hi @PinkJohnOfUs,
You require `pip` version 20.3 or above to install the CARLA Python package. You can upgrade `pip` in the following way:
[code]

If you want to install the python package for CARLA 0.9.12, you should specify the version (currently, the latest version of CARLA is 0.9.13):
[code]

[2021-12-01 11:59] mctigger opened #4940 "CARLA crashes with some towns and low-quality mode"
https://github.com/carla-simulator/carla/blob/8854804f4d7748e14d937ec763a2912823a7e5f5/PythonAPI/examples/synchronous_mode.py#L135

When this line is changed to `load_world("Town05")` or any other town except the one already loaded and the simulator is run with `./CarlaUE4.sh -quality-level=Low` the simulator will crash. If ran without low-quality mode everything is work fine.

[code]

Ubuntu 20.0

[2021-12-01 13:17] glopezdiest commented on #4536
That definitely seems weird. I'll take a look see if I can reproduce the issue

[2021-12-01 14:49] bsande6 commented on #3828
@glopezdiest  I was using 0.9.11 at the time but have upgraded since and solved the problem.

[2021-12-01 15:05] PinkJohnOfUs commented on #4937
Thank you that solved my issue.
For all who do have the same problem with ros:foxy-ros-base
you should do pip upgrade within dockerfile,  it wasn't possible for me to upgrade pip within running container.

[2021-12-01 15:40] #4937 closed

[2021-12-01 23:07] hh0rva1h commented on #4861
We are experiencing exactly the same problem (see https://github.com/carla-simulator/carla/issues/4935) with Carla 0.9.13 under Linux. We are also doing reinforcement learning and are using the collision_sensor as well and destroy and respawn that sensor after each episode.
Also we notice that the segfault occurs always after an episode where a collision occurred that the end of the episode.
@Matt

[2021-12-02 01:15] yanwu-ge commented on #1898
+1

[2021-12-02 04:41] Yandong-Luo commented on #4907
I met the same problem too. And my UE4 engine is 4.26 and the carla is 0.9.13

[2021-12-02 06:03] huhaocong commented on #4907
I fixed the problem:because the UE4 version i used was 4.26.1,must use 4.26.2!
So ,you can update the UE4's vetsion to solve the problem either.

[2021-12-02 06:38] #3828 closed

[2021-12-02 09:40] aslirey opened #4941 "Is there any way to install and run CARLA in a vmware (ubuntu) on Windows ?"
I have tried to install Carla in vmware workstation 16 on Windows. Ubuntu's version is 18.04.
![Error](https://user-images.githubusercontent.com/81113868/144396423-c02bae19-d55e-489b-8afc-0f5ca895ddf4.PNG)

[2021-12-02 10:22] MattRowe18 commented on #4941
@aslirey running CARLA within a VM can be tricky, since CARLA requires high performance graphics and desktop VM solutions often abstract the graphics hardware with intermediary driver layers. I would suggest to look for ways to allow the VM to have direct access to the host GPU, bypassing intermediary steps introduced by the virtualisation solution.

Research on Google about "PCI passthrough" for

[2021-12-02 10:22] #4941 closed

[2021-12-02 10:53] aslirey commented on #4941
@MattRowe18 Thanks for your fast answer.

[2021-12-02 11:48] whuxhzhang opened #4942 "get vehicle's ground truth"
I found that there are some vehicles on the Town04 map. How can I get the ground truth of these vehicles?

![image](https://user-images.githubusercontent.com/38369239/144416248-bae420cd-0612-4db7-a0df-9726b3e46d6a.png)

[2021-12-02 12:56] lzhhh93 commented on #4871
To connect MATLAB with Carla:

Use matlab engine ( https://de.mathworks.com/help/matlab/matlab-engine-for-python.html ) to send and get data from Python API of Carla.

small hint: it is not neccesary to start MATLAB Engine for Python, if we only want to connect shared MATLAB session to MATLAB Engine for Python. Starting MATLAB Engine for Python takes a lot computation (somehow).

exemple:

in a py

[2021-12-02 13:39] Cenbylin commented on #4835
I have the same issue. The system is Ubuntu 20 as well.

[2021-12-02 14:04] MattRowe18 commented on #4942
@whuxhzhang hi

Can you expand on what you need as the "ground truth"?

[2021-12-02 14:38] Yandong-Luo commented on #4907
I could not find the 4.26.2 from branch. I just only can found 4.26 and 4.26-chaos. So 4.26-chaos is the 4.26.2?

[2021-12-02 20:57] Yandong-Luo commented on #4907
So do you use the carla 0.9.13? When I have used 4.26.2, the error stills the same as before.

[2021-12-02 21:28] bernatx commented on #4907
Hi,
Just to clarify, the UE4 that you need to use with CARLA 0.9.13 is this one (UE4 fork): https://github.com/CarlaUnreal/UnrealEngine
Regards

[2021-12-03 01:44] whuxhzhang commented on #4942
thank you for your reply，I have found a solution.
bboxes = world.get_level_bbs(carla.CityObjectLabel.Vehicles)
[https://github.com/carla-simulator/carla/issues/2343](url)

[2021-12-03 01:44] #4942 closed

[2021-12-03 01:45] whuxhzhang commented on #4942
https://github.com/carla-simulator/carla/issues/2343
There is already a solution here.

[2021-12-03 03:45] budrus123 commented on #1999
Bump

[2021-12-03 05:50] Dou-Yuxiao commented on #4929
I got the same error

[2021-12-03 09:57] RobTranquillo commented on #2776
I have the same problem. But I set the `UE4_ROOT ` variable before compiling, as it says in the documentation. The difference with me, I think, is that the others here install their Unreal version whereas I have compiled the Carla Unreal version myself. Also as it says in the [documentation](https://carla.readthedocs.io/en/latest/build_windows/).

I think the problem arises here in [line 130 of Bu

[2021-12-03 14:03] 100rab-S commented on #3670
This issue is still persistent with 0.9.13 version too. It is only with 2-wheelers. Due to this y = 0 extent, the bounding box could not be plotted when we project the 3D bounding box to 2D pixel wise bounding box.

[2021-12-03 14:05] 100rab-S commented on #4553
I have the same issue. What is the solution for this? Other methods work on the trafficLight object. It is issue only with get_light_boxes.

[2021-12-03 16:35] uservinu commented on #1219
@AhmedAredah I am attaching the VRCameraPawn to a Vehicle. See the BP of the vehicle
![image](https://user-images.githubusercontent.com/41422786/144638606-e7bc1d3a-3ed7-43a1-985a-fc685418d3c1.png)

[2021-12-04 14:04] aquibrash87 commented on #3387
@KasraMokhtari2112 did you make any progress on the topic. I am also interested in it.

Thanks!

[2021-12-05 21:46] aslirey opened #4944 "RuntimeError: Spawn failed because of collision at spawn position"
Hello,

When I tried to make sumo-carla integration repository whose link is below execute on Windows, I encountered Runtime Error. If you know how to fix it, could you please help me ? I will really appreciate your help. Thanks in advance.
https://github.com/BlueScottie/SUMO-Carla-integration
![RuntimeError](https://user-images.githubusercontent.com/81113868/144765069-7523deb8-db9a-4012-ac51-1759

[2021-12-06 06:04] Eddy-M-K commented on #4862
I had the same issue on version 0.9.13 and this worked. Thank you @ucbmpc2021.

[2021-12-06 08:17] weijiepengx opened #4948 "Could not clone Unreal Engine"
Hi,
       I have already connect my GitHub account to my Epic accout, but I still cannot clone Unreal Engine for CARLA.
       Any help?

[2021-12-06 08:20] #4948 closed

[2021-12-06 08:20] RobTranquillo commented on #4948
Please give more information. What command are you executing and what was the error that occurred?

[2021-12-06 08:54] RobTranquillo commented on #4703
I'am also got the "error 6" on Windows 10 on `make lauch`

I stated following on an already closed issue, a couple of days ago: https://github.com/carla-simulator/carla/issues/2776#issuecomment-985382318. Maybe it helps to find out something:

I think my problem arises here in [line 130 of BuildCarlaUE4.bat](https://github.com/carla-simulator/carla/blob/8854804f4d7748e14d937ec763a2912823a7e5f5/Uti

[2021-12-06 12:19] RocaPiedra commented on #4932
Hi Matt, sorry I missed your answer.
I did it (checked with my epic account and it is linked), and git clonned with the x64 cmd too. I managed to use Carla with the precompiled .tar.gz folder.
The thing is, I have no clue which Unreal Engine is working as I have 4.24 and 4.26 versions installed nad not really know how I can access the uproject. I simply launch the exe file in the precompiled folde

[2021-12-06 13:34] RocaPiedra opened #4949 "RGB Sensor stream to DNN"
CARLA version: 0.9.13
Platform/OS: Windows 10

Hello everybody,

I would like to access the output sensor from carla, for now, I just need the video stream from the RGB sensor. I think the easier way to do it is through ROS bridge but as far as I know, it is not compatible with windows 10. I prefer Linux for development but my new laptop's NVIDIA drivers do not work with Ubuntu (the laptop is an a

[2021-12-06 14:30] aamzhas commented on #2666
Hi all, just checking in to see if anyone was able to make any progress on this issue?

[2021-12-06 16:03] clementperon opened #4950 "Can't install python carla in Docker Ubuntu 18.04"
Hi,

I tried to install the python carla module inside the Ubuntu 18.04 carla docker.

But seems that since 0.9.5 Python package can't be installed on the Docker.

Pip install will only install version 0.9.5

[code]

I can't install the version ship inside the Docker

[code]

[2021-12-06 16:16] MaikolDrechsler commented on #3580
Hello VicWei,

I am facing exactly the same problem. I am using the Carla Version 0.9.12.
Did you find a solution?

Thank you in advance,
Maikol

[2021-12-06 17:51] umlautsim commented on #4929
Hi, I fixed this error by installing python Dev. Here is the command I ran to fix the issue
`apt-get install python-dev`

[2021-12-06 19:32] zyan003 opened #4951 "Generate .xodr file based on current level (.umap)"
Hello everyone, I have a question on how to generate a new xodr file based on the current UE4 level. For example, I did lots of modifications with Town03 (changing road segments, adding/removing traffic signals at intersections, adding/removing some links and nodes, etc.) and I want to create a new .xodr file based on this new UE4 level (.umap).

I don't want to manually edit original .xodr file s

[2021-12-06 20:26] Weidvic commented on #3580
Hello,

As this was over a year ago and i no longer work with the same company I did then, I have not persued a solution. It's a C++ / Unreal Engine error, that's as much as I know.

I hope you find the solution, and I apologize for not being able to help further.

Best regards,
Vic

[2021-12-07 03:57] vikram0230 opened #4952 "How to get the velocity of the ego vehicle?"
I have checked the carla docs but couldn't figure how to get the velocity of the vehicle. Later, I found that there is a workaround, by calculating the distance travelled from the location and dividing it by the time travelled.

Is there a better way to get the velocity of the ego?

[2021-12-07 06:16] 110168511 commented on #4728
hi @SH-Tan
  do you run carla and autoware together?

[2021-12-07 09:08] SH-Tan commented on #4728
I do not need it now, so I did not spend much time on this thing. But I found the carla-autoware-bridge docker in the docker hub before, I tried it  and I could run the image, you can try it.

Also, I think you can try install the carla-ros-bridge in the carla container, then connect the autoware and carla two containers.

发自 Windows 邮件

发件人: ***@***.***>
发送时间: ‎2021‎年‎12‎月‎7‎日, ‎星期二 ‎14‎:‎16
收件人:

[2021-12-07 09:09] xiaoyang666 commented on #4728
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2021-12-07 09:35] aslirey opened #4953 "tutorial.py error"
Hello everyone,

it gave  the error below when I executed tutorial.py example.

PS C:\Program Files\carla\PythonAPI\examples> python tutorial.py
created vehicle.ford.crown
INFO:  Found the required file in cache!  Carla/Maps/TM/Town10HD_Opt.bin
created sensor.camera.depth
moved vehicle to Location(x=84.055626, y=-60.723831, z=0.398577)
created vehicle.micro.microlino
Traceback (most recent call la

[2021-12-07 09:39] #4944 closed

[2021-12-07 09:45] aslirey commented on #4944
It executed when I changed map to Town01.

python config.py --map Town01

[2021-12-07 11:24] aslirey commented on #4953
When I ran a Command Prompt as administrator, The error went away.

[2021-12-07 11:24] #4953 closed

[2021-12-07 11:40] MaikolDrechsler commented on #4835
I am facing the same issue. Also in Ubuntu 20.04. and Carla Version 0.9..12.
Did you find any solution?

Thank you in advance

[2021-12-07 13:46] happengor opened #4954 "Raytracing Development Toolkit of Carla exists?"
Dear Carla community,

i would like to know whether Carla has a Optix development toolkit to implement a customized lidar, radar and ultrasonic sensors or not?
Could i implement my sensors e.g. Lidar in Carla?

Best regards!

[2021-12-07 16:14] erosinnocenti commented on #2797
Same here! Thanks for the tip, worked perfectly.

[2021-12-07 18:49] Paniac commented on #4938
Hi @guygo12345,

I am also waiting for the documentation.
But as a start: the implementation is the same as with other cameras e.g. semantic segmentation. You just have to use `sensor.camera.instance_segmentation` as its blueprint. And according to the [release notes](https://carla.org/2021/11/16/release-0.9.13/) the output is encoded like this:

Best,
Paniac

[2021-12-07 22:06] thbake commented on #4835
Hey guys! No, I haven't I am first trying to integrate LibCarla in a different way and waiting for a response of the developers. If someone replies or I find I way I'll let you know

[2021-12-08 05:57] wrencanfly commented on #3320
Thanks so much, that's really helpful. I really appreciate it!!!!! I have been stuck on this problem for a long time. lol

[2021-12-08 06:10] JochemTSR commented on #4940
Thank you for posting this, my simulator (version 0.9.13) also kept crashing and thought I was going crazy. Not enabling low-quality mode (or not changing the world) also works as a workaround for me. This behavior was not present in version 0.9.11 which I used before.

[2021-12-08 06:59] JochemTSR opened #4957 "client.get_available_maps yields segmentation fault if simulator can't be reached"
**CARLA version:** 0.9.13
**Platform/OS:** Intel i7 4790k/AMD Radeon 5700XT, Linux Mint 20.1
**Problem you have experienced:** Calling `carla.client.get_available_maps()` with a simulator that cannot be reached yields a segmentation fault.
**What you expected to happen:** All other getters of the `carla.client` class throw an exception if the server cannot be reached, which (to me) seems to be the

[2021-12-08 07:16] JochemTSR commented on #4952
The velocity of any actor can be retrieved through the [`get_velocity` method.](https://carla.readthedocs.io/en/0.9.13/python_api/#getters) This gives you a 3D vector containing the velocity in each dimension. If you want the total velocity you can take the square root of the sum of the squared components: sqrt(v<sub>x</sub><sup>2</sup>+v<sub>y</sub><sup>2</sup>+v<sub>z</sub><sup>2</sup>)

[2021-12-08 07:24] #4952 closed

[2021-12-08 09:53] guygo12345 commented on #4938
Thanks!
I tried and managed to get the data.
Still need to figure out how to parse the G an B together, and understand whether it's same as the 3d objects ids.

[2021-12-08 15:25] gaooogao commented on #3430
problem-solving methods:
I started the task manager and ended all related software.
then i restarted the emulator . Then ran the python script.
this problem has been sloved.

if you have this problem, maybe you can try the methods. i hope it can work.

The process :
0.  when i use the version carla-0.9.13.
1. I get the folder after I unzip the package
2. i executed CarlaUE4.exe. Then the it work.I

[2021-12-08 23:31] varunjammula opened #4958 "CARLA 0.9.13 crashes with vulkan device error"
CARLA version: 0.9.13/0.9.12
Platform/OS: Ubuntu-18
Problem you have experienced: Carla release package: Using ./CarlaUE4.sh  crashes with not a compatible vulkan device found error. However, Carla 0.9.11 launches without an issue.

![image](https://user-images.githubusercontent.com/3236409/145777338-d71b256b-8066-42ac-95e8-3afe343b1f2b.png)

vulkaninfo | less gives me the following output

![imag

[2021-12-08 23:54] tamas-visy commented on #4757
I'm using a regular CPU and GPU. However, please note that as per my original post

The issue exists in specifically 0.9.10, in the newer versions I tested I did not encounter a noticeable delay. However, I did not find any patch notes about a related fix or update. Also, I do not recall such a delay in a pre-0.9.10 version on my configuration either.

[2021-12-09 08:59] LucasFKobernic commented on #4536
Hi @glopezdiest thanks for the reply.

I tried t improve the collision detection inside of Unreal Engine changing some parameters, but i was unsucessful.

If you want, i can share with you the code to simulate this strange behavior.

i really appreciate any help here

[2021-12-09 10:09] patelchintan3112 commented on #2766
@praetorianer777 I am still facing this problem on Carla 0.9.11. How did you solve this problem?

[2021-12-09 10:17] ptr-br commented on #4938
I'm also very curious about the topic.

Please tell me if you find out how the G&B channels are connected to the actor id.

[2021-12-09 13:03] praetorianer777 commented on #2766
Hello, sorry this was long ago, I don't know how I did solve the issue :-/

[2021-12-09 13:41] bernatx commented on #4940
Hi, thanks for reporting the problem. We are checking this issue.

[2021-12-09 22:25] qhaas commented on #3903
I've started seeing this in CARLA 0.9.12, but only with jobs launched via SLURM, and with the 'default' maps even, works fine on 'bare metal' (i.e. just ssh into the box and run it):
[code]

[2021-12-10 06:18] KevinLADLee commented on #3895
Hi @qhaas , I also found this problem. I try to disable the compression when using png files, and it seems to work now.

https://github.com/KevinLADLee/carla/blob/221d244e6cfc832428e08d9cb1e57e0746723fb7/LibCarla/source/carla/image/ImageIOConfig.h#L122-L125

[2021-12-10 09:20] XGodina commented on #4811
Hi @Xialinxuan,

This is one of the things that we would like to implement. But right now is not in our plan. There isn't much information about it. If you want to share your progress we can help you in your progress.

[2021-12-10 10:02] joel-mb commented on #4950
Hi @clementperon,
You require `pip` version 20.3 or above to install the latest CARLA Python package. You can upgrade `pip` in the following way:
[code]

After doing that, `pip` will find the newest versions of the CARLA Python API.

[2021-12-10 10:10] glopezdiest commented on #4536
Yeah sure any code you provide is highly appreciated

[2021-12-10 10:18] aslirey opened #4961 "RuntimeError: Spawn failed because of collision at spawn position (sumo-carla)"
Hello everyone,
I have tried to integrate sumo and carla with Town02 map. I have generated Town02.log file to generate traffic in Carla world. However, runtime error occured. I don't know how to fix it. Could you please help me? Thanks...
CARLA version: 0.9.13
Platform: Windows 10
![runtime](https://user-images.githubusercontent.com/81113868/145650797-f1a0fefd-49f6-4c4b-8f26-cac1d3b8fc08.PNG)

[2021-12-10 10:24] Chris1nexus commented on #76
@zxiaomzxm   use this as blueprint name:    sensor.camera.instance_segmentation
It is written in the latest carla release docs (go to https://github.com/carla-simulator/carla/releases and see the 0.9.13 section)
Careful that it provides instance id in GB channel and the usual cityscapes semantic tag on the R channel (https://carla.org/2021/11/16/release-0.9.13/)

[2021-12-10 12:02] tayeep commented on #2470
Simply delete the two Carla folders under C:\Users\<username>\AppData\Local\Programs\Python\Python37\Lib\site-packages\

The re-run the python script.

[2021-12-10 12:08] tayeep commented on #4609
I have the same issue with 0.9.12 and 0.9.13, no luck running it. Version 0.9.11 can open.
![image](https://user-images.githubusercontent.com/13026103/145571797-6e2636e6-6c09-45e1-8299-0af559c42658.png)

My PC Specs:
- Windows 10 Pro 20H2 build 19042.1348
- Intel Xeon E5-1650 v2
- 32GB RAM
- RTX2060, 497.09
- DirectX 12

[2021-12-10 12:21] bernatx commented on #4609
Hi,
Check the GPU RAM you have. Version 0.9.12 and 0.9.13 of Carla use the new UE4.26 engine version, and also loads the Town10HD_Opt by default, that takes more memory than the previous Town03 that was loaded by default with 0.9.11. Check that is not an issue about how much Gb of GPU. You need probably 6 Gb or more to open Town10HD_Opt.

If that is the case, you can change the default map that wi

[2021-12-10 12:32] tayeep commented on #4609
Nope, changing the map doesn't work.
![image](https://user-images.githubusercontent.com/13026103/145574367-224fa5f2-26a2-4343-8c54-7f42dc094bd8.png)

RTX2060 has 6GB RAM, I guess it should have enough to handle Town10.
![image](https://user-images.githubusercontent.com/13026103/145574520-acf1b1a3-735d-44e9-aba9-1d690d161017.png)

I've already tested 3 machines (2 physicals + 1 virtual machine) and

[2021-12-10 12:43] weijiepengx commented on #4948
issue closed. It's because that I didn't verify on [Github](https://github.com/EpicGames).

[2021-12-11 09:46] xiaose26 commented on #4907
have you solved these errors?
my version:
- carlar: "0.9.13-1-g8854804f"
- UE: 4.26.2