[2021-03-31 09:37] abirbensoltane commented on #4029
thnx @corkyw10

[2021-03-31 11:13] akramfaouji commented on #2351
@surendrasah hey, i'm in the same state as you , i wish if you find a way to run carla with a csv file , if you have Any idea on this would be really appreciated.

[2021-03-31 11:22] cinjon commented on #4006
@corkyw10 Is it possible to get the NPCs to "drop" faster per frame? Here's an example of what happens when I let it run for only 20 steps:

![image](https://user-images.githubusercontent.com/615351/113136637-981b3d80-91f1-11eb-97dd-2f0773c70667.png)

[2021-03-31 11:35] #4039 closed

[2021-03-31 13:48] soo4826 opened #4047 "Can I configure LiDAR sensor settings without build carla?"
Hi,
I want get point cloud data from carla using ros-bridge.
And I will config LiDAR sensor to manage range, layer, etc..

So, Do I need to build carla using Unreal Engine?
Or I can config my sensor setting instead of build carla.(By using Pre-built version)

( I already tried to build. But cooking? Error occurred. So I want to use Pre-built version of Carla!)

[2021-03-31 15:12] Leviathan321 commented on #4010
You were right, the program had no permissions. It would be good if this could be somehow logged in future.
Thank you Corinne

[2021-03-31 15:12] #4010 closed

[2021-04-01 02:16] cinjon commented on #4006
Hi, is the answer given in #3788 around changing the Collisions Complexity applicable here as well? I am using a fully automated approach and do not access any gui (such as from RoadRunner).

[2021-04-01 02:48] pinnintipraneethkumar commented on #3430
Hii
May i know the what is your pc  specifications.
Thanks.

[2021-04-01 04:45] #4047 closed

[2021-04-01 08:47] DSantosO commented on #4015
Hello @Chiakiaki,
We will take a look at that. In the meantime, if you don't need any cameras you can also try the option '-nullrhi'. This should remove totally the render thread and provide better performance.

[2021-04-01 10:40] XGodina commented on #4006
Hi@cinjon,
In all our maps there are complexity collisions. Regarding collisions we change it from UE4, I don' know if is useful for you. As for the rest maybe @bernatx  or @Axel1092  could you help.

[2021-04-01 10:42] AvivSham commented on #3649
@DSantosO Thank you for the response.
If I understand you correctly I should follow [these instructions ](https://carla.readthedocs.io/en/0.9.11/build_linux/#unreal-engine) isn't it?
@dvirsamuel

[2021-04-01 11:56] Guocode opened #4049 "how can I add a driver or passenger into the car"
I would like to simulate a incarbin view with driver and passengers, is there any easy method to realize it or I must customize my own car model with passengers and driver and add it as a vehicle?

[2021-04-01 12:38] cinjon commented on #4006
I'm not sure I understand - are you saying that there is a way to toggle the Collisions being respected? I would prefer to have them reported but still perform the action. This would be of great help.

[2021-04-01 13:59] Aarnnity opened #4050 "Carla version problems"
Hi, I have a few questions to ask you.
1. As far as I know, the Carla 0.8.2 stable version does not have a vehicle lane change sensor, which is not available until version 0.9.x or higher, right?
2. If in the stable version of Carla 0.8.2, I set the scene to multi-lane. How should I add a vehicle (the vehicle included in the version) to a place in the multi-lane? At the same time, how to modify th

[2021-04-01 18:51] cinjon opened #4051 "Docker multistage build."
I am using Carla in Docker. The following works well:

[code]

However, I need to use a multistage build (with pytorch) and when I include that after this one, then I run into the issues around xdg-user-dir referenced multiple times (e.g. #1892 and #225). Is there some one liner that I'm missing here? The following is the extended multi-stage Dockerfile:

[code]

[2021-04-02 02:04] EchoYJJ commented on #4000
Thanks a lot for your replying!
I think the first thing I need to do is to update my CARLA 0.9.10 to 0.9.11.
Also, I first notice that github sources have branches from different authors. Can I perceive it as slight improvement to handle bugs but still base on CALRA 0.9.11, and you focus on the SUMO co-simulation?

[2021-04-02 03:01] xyxu1024 commented on #3621
same issue!
[code]

[2021-04-02 03:37] AzziNothA commented on #3826
Hello @jeanlucdeziel-leddartech,  I have used the reflection intensity calculation method you mentioned. It looks great, and I am also trying to integrate it directly into Carla. Regarding the question you mentioned, there are official tutorials on how to integrate it. Let me briefly talk about it. The code of the lidar reflection intensity is mainly in the following path /home/sti/carla/Unreal/Ca

[2021-04-02 08:10] EchoYJJ opened #4052 "Issue on CARLA 0.9.11 bulid on Windows.(fatal: repository 'https://github.com/EpicGames/UnrealEngine.git/' not found)"
Hi! I'm trying to build CARLA 0.9.11 on Windows.
I already link my GitHub account  to Unreal Engine's account.
![image](https://user-images.githubusercontent.com/75726020/113395976-4f1fe080-93cd-11eb-8dc5-4d2c66afb8bb.png)

However, when I run "git clone --depth=1 -b 4.24 https://github.com/EpicGames/UnrealEngine.git" and sign in my account like below.
![Uploading image.png…]()

I still receive th

[2021-04-02 08:17] EchoYJJ commented on #4052
![image](https://user-images.githubusercontent.com/75726020/113396708-8c38a280-93ce-11eb-8497-da64d8e400d7.png)
I've found out the solution, must become a member of it.

[2021-04-02 08:17] #4052 closed

[2021-04-02 12:04] qhaas commented on #4051
As mentioned in Issue #3514 , add the `xdg-user-dirs xdg-utils` packages to the `apt-get install` line if your final image.

[2021-04-02 12:07] qhaas opened #4053 "Update CARLA docker runtime documentation"
The existing [CARLA runtime documentation](https://carla.readthedocs.io/en/latest/build_docker/#running-carla-container) is quite dated and conflicts with the guidance provided in the latest (0.9.11) [runtime Dockerfile](https://github.com/carla-simulator/carla/blob/0.9.11/Util/Docker/Release.Dockerfile).  It would likely reduce confusion to have the former reflect the latter.

[2021-04-02 12:14] qhaas commented on #4042
A few questions:
1. Are you using the latest tagged release of CARLA (e.g. 0.9.11)?  Using a tagged release instead of the head of master is typically more stable
2. Did you successfully build it without any code changes first (with a `make package`)?  This will ensure your build environment is setup properly with a 'known good' codebase.
3. Are you using the correct tagged release of UnrealEngine

[2021-04-02 13:52] qhaas commented on #4027
The machine running carla client have an inferior CPU compared to the one running carla server?  Significant CPU processing still occurs client side depending on what you are doing.

[2021-04-02 14:48] qhaas commented on #3873
We explored the extensions Epic has made to SDL [in Issue #225](https://github.com/carla-simulator/carla/issues/225#issuecomment-507666953).  Epic [forked SDL and bundled it with UE](https://github.com/EpicGames/UnrealEngine/tree/4.24.3-release/Engine/Source/ThirdParty/SDL2), some changes [have been upstreamed](https://github.com/libsdl-org/SDL/commit/68985371a071b97b961df56d040fbb5ca6493cf3).

Th

[2021-04-02 15:44] cinjon commented on #4051
I apologize but I wasn't clear enough. This is actually causing my build to not work at all. It's not that there's an errant warning - it's actually just exiting from Carla immediately after running the command without much insight into why.

I did just do what you suggested and the warning was gone, but Carla still doesn't work.

[code]

Below is my new Dockerfile with those changes. I am running

[2021-04-02 17:42] qhaas commented on #4051
Upon closer inspection of your dockerfile, it likely lacks everything you need to run OpenGL/Vulkan:  `FROM nvcr.io/nvidia/pytorch:20.12-py3`

I doubt a pytorch container will have all the opengl/vulkan dependencies.  Recommend deploying the dependencies noted in the [nvidia opengl container](https://gitlab.com/nvidia/container-images/opengl/-/blob/ubuntu18.04/glvnd/runtime/Dockerfile) and/or the

[2021-04-02 22:09] AydinAltun opened #4054 "How to get imu and gnss datas as csv file"

[2021-04-02 22:12] AydinAltun commented on #4054
Hi , i wanna get the data from imu and gnss sensors for sensor fusion  and i found a script from the internet  but it did not work, is there a way to save these datas to a csv file ?

[2021-04-03 01:04] cinjon commented on #4051
I appreciate that pointer. I modified the Dockerfile to include the opengl additions, with amd64 instead of i386 (see below). I can now launch it with `SDL_HINT_CUDA_DEVICE=2 /home/carla/CarlaUE4.sh -opengl 2>&1 > /dev/null &` but when I try to have my client call the server, which is in the same docker, I get this:

[code]

So somewhere in there the simulator just died, seemingly from a memory du

[2021-04-03 01:58] cinjon commented on #4051
Does this possibly have to do with me using Ubuntu 20.04 from the pytorch image? Asking because I came across this article from Nov '20 that suggests that Carla doesn't work with Ubuntu 20.04. Can't tell if that's correct still today though.

[2021-04-03 02:47] cinjon commented on #4051
That doesn't seem to have been it. I just tried to do everything the same but use `nvcr.io/nvidia/pytorch:20.11-py3`, which is 18.04 (verified) and I got the following error both with and without the `DISPLAY=`

[code]

[2021-04-03 04:08] GyChou opened #4055 "Get the wrong waypoint in junctions"
Hi,

I found that when the ego vehicle enters into a junction, the yaw of the current waypoint does not match the direction of my target lane, for example, I plan the route to turn left, but the yaw of the waypoint points to straight ahead.

The way I get the current waypoint is:
`world.get_map().get_waypoint(vehicle.get_location())`

I doubt that this method: `world.get_map().get_waypoint(vehicle

[2021-04-03 07:37] GyChou commented on #3528
It should be noted that `self._vehicle.get_velocity().x` is the velocity on the x-axis, not the longitudinal ego velocity

[2021-04-03 09:21] pavanteja295 commented on #3839
@jackbart94  I'm not sure how you are checking the determinism but I'm tried to quantatively  compare images. I used to the recommended settings and I found an instance like this:

I tried to sample 10 scenes with 5000 total simulation runs. This experiment has been repeating multiple times. Out of 50 images I collected 10 images had some problems. These 10 are highly correlated and happened at on

[2021-04-03 09:42] jackbart94 commented on #3839
Can you share the script that you're using, without the image generation?

We are checking determinism using the CARLA recorder, you can see an example in our smoke tests on how to do that, it should be called test_determinism.py

[2021-04-03 10:08] NishanthARao commented on #4042
@qhaas Hi, I am sorry, I forgot to mention the specifications

1. I am using 0.9.10 that is built from source on my system
2. Yes, I have built the code, and have run a lot of programs before. The simulation works flawlessly
3. I am using Unreal Engine 4.24 that is recommended for CARLA 0.9.10

Could you please help me out? Thanks a lot!

[2021-04-03 10:17] seuwcs opened #4056 "New logitech g29 steering issue that vehicle stay still not matter which pedal I pressed"
Dear all friends,
 I am connecting the logitech g29 to carla (version 0.9.10) on Linux Ubuntu 18.04, but something went wrong after the connection was made. My confusion is that: the car generated in the scene by the script "manual_control_steeringwheel.py " could not be controlled by the steering wheel as  well as the pedal.

 The vehicle remains still not matter which pedal I stepped, the instru

[2021-04-03 12:23] JulianPetzold opened #4057 "Pedestrian navigation failing & binary very small"
Hi!
For use in CARLA 9.11 built from source on Ubuntu 18.04, I built a custom map with RoadRunner consisting of a few buildings and an 8-shaped road with a crosswalk at one point.

After loading the map for the first time with "make import" I could make adjustments in the UE4 editor and then exported the map according to the tutorial (Tagging the sky box, renaming the roads, adding a crosswalk mes

[2021-04-03 17:06] qhaas commented on #4051
The pytorch container likely doesn't have the same [driver capabilities](https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/user-guide.html#driver-capabilities) set as the carla container since it is designed for compute, not rendering (I did not verify), you will need to make sure `graphics` is in your customized container:
[code]

I'd also start with a simpler, non-background run

[2021-04-03 18:21] pavanteja295 commented on #3839
I can create the condensed version of the data gen script and get back to you?
I'm confident that I'm setting the params correctly because the traffic manager is "almost" deterministic just in a  few instances it would not be. Sure I shall check the script you mentioned.

[2021-04-04 01:01] huobinzy opened #4059 "make PythonAPI failure in Windows 10"
Hello!
Can anyone help me? I will be very grateful.
Question 1: why not use Windows SDK 8.1, instead of 10.0?
_The prompt is as follows:_
**-- Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.19042.**

Question 2: what is ZLIB? It is missing. How can get it back?
_The prompt is as follows:_
**-- Could NOT find ZLIB (missing: ZLIB_LIBRARY ZLIB_INCLUDE_DIR)**

Question 3: there may

[2021-04-04 06:29] EchoYJJ opened #4060 "Make PythonAPI failing on Windows(CARLA 0.9.11): failed with exit status 1120"
Hi! I'm trying to build CARLA 0.9.11 on windows.
After running "make PythonAPI", my [Setup] receive success. However, my [BuildLibCarla] ends up with warning below:
_build\lib.win-amd64-3.8\carla\libcarla.cp38-win_amd64.pyd : fatal error LNK1120: 77 个无法解析的外部命令(unresolvable external commands)
error: command 'D:\\VS2017\\VC\\Tools\\MSVC\\14.16.27023\\bin\\HostX86\\x64\\link.exe' failed with exit sta

[2021-04-04 11:29] GyChou commented on #3651
Hi,

I found that when the ego vehicle enters into a junction, the yaw of the current waypoint does not match the direction of the target lane, for example, I plan the route to turn left, but the yaw of the waypoint points to straight ahead.

The way I get the current waypoint is:
world.get_map().get_waypoint(vehicle.get_location())

I doubt that this method: world.get_map().get_waypoint(vehicle.g

[2021-04-04 11:45] seuwcs commented on #1521
Dear all friends,
I am connecting the logitech g29 to carla (version 0.9.10) on Linux Ubuntu 18.04, but something went wrong after the connection was made. My confusion is that: the car generated in the scene by the script "manual_control_steeringwheel.py " could not be controlled by the steering wheel as well as the pedal.

The vehicle remains still not matter which pedal I stepped, the instructi

[2021-04-04 12:51] ujjawal-kumar commented on #1521
In Logitech g29 you have to press handbrake.

On Sun, 4 Apr 2021, 17:15 Changshuai Wang, ***@***.***> wrote:

[2021-04-04 14:16] yaadram opened #4061 "Sensor minor change build (question)"
[Carla 0.9.11 , Windows 10 , Python 3.7, Visual Studio 2017 ]

Hi All,
A short question : If **minor changes** are done in a specific sensor (Ray-cast Lidar's energy attenuation model for example),  Is a full rebuild of the Carla project required ? (make rebuild + make pythonAPI) or is there a way to only compile this sensor ?
![image](https://user-images.githubusercontent.com/29002095/113511626-6

[2021-04-04 15:21] seuwcs commented on #1521
Thanks very much for your addvice, but the Logitech g29 does not have a handbrake steer.

And I have tried to change the value of handbrake in the file of wheel_config.ini

[G29 Racing Wheel]
steering_wheel = 0
throttle = 2
brake = 3
reverse = 5
handbrake = 4

Changed it to 0, but it could not help, which confused me a lot.

Or should I buy another Logitech g29 steering wheel  and have a try ?

[2021-04-04 15:53] ujjawal-kumar commented on #1521
Hi,
Can you First separately checked your Logitech g29 steering wheel with
pygame event. Which input button is giving what input index event when you
pressed that button. then you can easily mapped those button.

On Sun, 4 Apr 2021, 20:51 Changshuai Wang, ***@***.***> wrote:

[2021-04-04 15:56] seuwcs commented on #1521
Hi, thanks for your advice. I'll have a try later.&nbsp; very much thanks.&nbsp;

---Original---
From: "Ujjawal ***@***.***&gt;
Date: 2021/4/4 23:53:31
To: ***@***.***&gt;;
Cc: "Changshuai ***@***.******@***.***&gt;;
Subject: Re: [carla-simulator/carla] Logitech g29 steering issue (#1521)

 Hi,
 Can you First separately checked your Logitech g29 steering wheel with
 pygame event. Which input butto

[2021-04-05 06:30] huobinzy commented on #4060
Hello, Did you succeed?

[2021-04-05 15:52] cinjon commented on #4051
Thanks for continuing to help. I really do appreciate it.

Re alternative 1, which was just doing the pytorch package with a Carla apt repo installation, I've tried a bunch of stuff and I can't get past just a segfault immediately upon loading. However, this time I got an actual error response, which I see was brought up recently in #2826. It can't be a GPU memory issue though (as posited in the a

[2021-04-06 01:24] 10LGUO commented on #2451
same issue here. Tried to change the default vehicle but can not locate CarlaSettings.ini.

[2021-04-06 05:58] EchoYJJ commented on #1426
Hi, have you found the source code of set_autopilot now?

[2021-04-06 10:07] EchoYJJ opened #4062 "Issue on Unreal Engine when build on linux"
Hi!I'm trying to build on linux ubuntu 18.04.
I follow the official instrction: https://carla.readthedocs.io/en/0.9.11/build_linux/

However, when I execute:
5. Open the Editor to check that UE has been properly installed.
cd ~/UnrealEngine_4.24/Engine/Binaries/Linux && ./UE4Editor
I meet some issues.
A new window show up, and if I try to open CarlaUE4,it shou the warning below:
"This project was

[2021-04-06 10:23] jackbart94 commented on #3651
You should be able to get your current waypoint with whatever structure you are using to compute the path of your vehicle. If you're using the Traffic Manager, you'll have to look into the Localization Stage.

[2021-04-06 11:50] #4055 closed

[2021-04-06 13:25] corkyw10 commented on #3768
Hi @BAROBA-3d Thank you for your input on this. I have rewritten the tutorial and integrated the modelling into the import tutorial and it's being reviewed. I still need to review the two wheeled vehicle section.

[2021-04-06 13:25] corkyw10 commented on #4031
@DSantosO could you follow up on this please?

[2021-04-06 13:26] corkyw10 commented on #4032
Hi @heethesh thank you for the input. @DSantosO could you have a look at this please?

[2021-04-06 13:31] corkyw10 commented on #4033
To use Python 2 with the ROS bridge 0.9.10.1 you need to use [CARLA 0.9.10.1](https://github.com/carla-simulator/carla/releases/tag/0.9.10.1) to get the Python 2 `.egg` file and then export the path to that file to your PYTHONPATH:

` export PYTHONPATH=$PYTHONPATH:<path/to/carla/>/PythonAPI/<your_egg_file>`

[2021-04-06 13:31] #4034 closed

[2021-04-06 13:33] corkyw10 commented on #4035
@XGodina could you have a look at this please?

[2021-04-06 13:35] corkyw10 commented on #4036
Hi @zhaoshan2 thank you for the question.

@jackbart94 are you able to have a look at this please?

[2021-04-06 13:38] corkyw10 commented on #4037
@PriestOfAdanos thank you for the question.

@bernatx could you have a look at this please?

[2021-04-06 13:39] corkyw10 commented on #4038
@imoneoi Thank you for the input.

@DSantosO are you able to have a look at this please?

[2021-04-06 13:42] corkyw10 commented on #4042
@NishanthARao Thank you for the input.

@Axel1092 could you have a look at this please?

[2021-04-06 13:44] corkyw10 commented on #4043
@EchoYJJ thank you for the input.

@joel-mb Would you be able to have a look at this please?

[2021-04-06 13:45] corkyw10 commented on #4045
@EchoYJJ thank you for the question.

@joel-mb would you be able to follow up on this please?

[2021-04-06 13:46] corkyw10 commented on #4049
@Guocode thank you for the question.

@gsmario would you be able to follow up on this please?

[2021-04-06 13:47] corkyw10 commented on #4050
@Aarnnity thank you for the question.

@bernatx could you follow up on this please?

[2021-04-06 13:52] corkyw10 commented on #4053
Hi @qhaas thank you for the input. I will review the documentation and update it.

[2021-04-06 14:20] corkyw10 commented on #4054
Hi @AydinAltun previous users have used the [csv python module](https://docs.python.org/3/library/csv.html), such as in this [issue](https://github.com/carla-simulator/carla/issues/2218). Does this help you?

[2021-04-06 14:21] corkyw10 commented on #4056
@seuwcs Thank you for the question.

@germanros1987 are you able to follow up on this?

[2021-04-06 14:24] #4033 closed

[2021-04-06 14:35] corkyw10 commented on #4057
Hi @JulianPetzold, there is an updated version of that tutorial in the development/latest version of the [docs](https://carla.readthedocs.io/en/latest/tuto_A_add_map/add_map_source/#generate-pedestrian-navigation). Often the problem is that not all the correct meshes were selected before exporting to create the `.obj` file. After tagging large meshes not needed for pedestrian navigation with `noEx

[2021-04-06 14:39] corkyw10 commented on #4059
@bernatx could you follow up on this please?

[2021-04-06 14:45] corkyw10 commented on #4060
@EchoYJJ Thank you for the question. Are you able to post the full output of the `make PythonAPI` command. It sometimes finishes with a success message even if it was not successful. Can you also confirm if you are running the commands in the x64 Native Tools command prompt?

[2021-04-06 14:51] corkyw10 commented on #4062
hi @EchoYJJ the line

`cd ~/UnrealEngine_4.24/Engine/Binaries/Linux && ./UE4Editor`

Is just to make sure that your compiled version of Unreal Engine will open without error, you have not built CARLA yet, only Unreal Engine. Once it Unreal opens, you can shut it down again and proceed to the next steps to actually build CARLA. Further down the tutorial you will see that the command to run CARLA in

[2021-04-06 15:06] Axel1092 commented on #4061
Hi @yaadram it depends on what part of the code you changed but usually code inside the Unreal folder is compiled with `make CarlaUE4Editor` or `make launch` if you work with the editor. For code inside the LibCarla folder you need to run `make PythonAPI` and `make launch` for it to take effect everywhere. Usually these commands will detect changes in the code and recompile only those files. The `

[2021-04-06 15:35] joel-mb commented on #4000
@EchoYJJ Yes, you need to use at least CARLA 0.9.11. You can download it from here: https://github.com/carla-simulator/carla/releases/tag/0.9.11. You can also build CARLA from source using the branch I said in my previous comment. However, for this test, is enough using the package.

We use different branches to introduce new features and bug fixes into the `dev` branch. In the end, the `dev` bran

[2021-04-06 16:09] gsmario commented on #4049
Hello, first thank you for your question!
You'll need 3 important things in order to do this,  the car, the driver/etc and the animation/pose for the human.
If you just want to add a driver/passenger in to the vehicle, you need to pose/animate the human in order to fit inside your vehicle like it should. You can do this using any 3d modeling software.

Once you've posed your driver, you can import

[2021-04-06 16:35] dangnam739 opened #4064 "[Segmentation] Seperate 2Wheeled tag and 4Wheeled tag from Vehicles"
[Carla 0.8.4 - Ubuntu 18.04]
Hi!
I am so sorry for having a question in Carla version 0.8.4 but I really need your help.
I have a task that get image data including RGB and semantic segmentation images from carla, but I want to separate 2wheeled (bikes, motobikes,...) and 4wheeled(car, truck,..) tags from vehicles tag.
I tried to follow the instructions from the issue [#157](https://github.com/car

[2021-04-06 18:29] ebadi commented on #3997
Exact same issue:
[code]
There is no ` /home/ue4/Library/Logs/Unreal Engine/LocalBuildLogs/Log.txt` file in the container. The `**UnrealBuildTool**/Log.txt` file has no indication of error.

[code]

[2021-04-06 19:16] naga-k opened #4065 "Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output."
Hey I'm trying to learn Carla and I am not able to install Carla on PIP. I tried using pip install carla, other commands to fetch carla and also used a venv. Got no where please help
![Screenshot (1)](https://user-images.githubusercontent.com/29381705/113766092-acec5980-973a-11eb-85c1-0b9d0a7c373c.png)

[2021-04-06 23:05] AydinAltun commented on #4054
Actually it partly worked because i could save the imu datas to csv file but when i want to save gnss values it gives error which is
**  File "save.py", line 1027, in game_loop
    "latitude":world.gnss_sensor.latitude[0],
AttributeError: 'GnssSensor' object has no attribute 'latitude'
Fatal Python error: PyEval_SaveThread: NULL tstate
**

Here is the part of recording codes:
low_data = {"accelX":

[2021-04-07 01:44] EchoYJJ commented on #4060
Hi! @corkyw10 Glad to receive your reply. I'm sure I run the commands in the x64 Native Tools command prompt.
And .egg file doesn't show up in PythonAPI\carla\dist.
The whole output is very long, there exists a lot of "warning C4819" : 该文件包含不能在当前代码页(936)中表示的字符。请将该文件保存为 Unicode 格式以防止数据丢失(This file contains characters that cannot be represented in the current code page (936).Please save this file as

[2021-04-07 03:15] EchoYJJ opened #4066 "Issue on ScenarioRunner: vehicle doesn't move."
Hi! I'm trying to use ScenarioRunner.
My setting:
CARLA 0.9.10 on Windows built from source
ScenarioRunner built from source

I've tried to run the example:  **python scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadWorld --output**
However, only my ego vehicle show up, but doesn't move.
![image](https://user-images.githubusercontent.com/75726020/113804747-c2d93900-9791-11eb-8506-d0f61

[2021-04-07 05:59] Kaiwind88 opened #4067 "Lidar and semantic lidar results are different at one simulation"
Hi,

I found an issue that when I run a simple scenario with a regular lidar and a semantic lidar and save the outputs at the same time,. But the point clouds from the two lidars are not the same. I am expecting identical results. Does anyone have this issue as well and how to solve it?

Thanks.
Sample results are below:
Left is from semantic lidar and right is from regular lidar.

![image](https:

[2021-04-07 06:26] EchoYJJ commented on #4062
@corkyw10 Hi! Glad to meet you (again), thanks a lot for your advises.
I do as you recommand. "make PythonAPI" receives a big success, the "carla-0.9.11-py3.6-linux-x86_64.egg" shows up in carla/PythonAPI/carla/dist.
However, when I keep running "make launch", error happens when building CarlaUE4 project: **fatal error: 'compiler/disable-ue4-macros.h' file not found**
The full output is listed bel

[2021-04-07 06:54] Guocode commented on #4049
@gsmario Thanks for reply, I will try as you say. I would be pleasure if this can be a feature of carla, because it will be more real that there is a driver in a heading on car.

[2021-04-07 06:54] #4049 closed

[2021-04-07 07:49] DSantosO commented on #3826
Hello @jeanlucdeziel-leddartech,
Great work, it looks pretty good!
I don't think the current LiDAR sensor can not use the shader directly but something similar could be implemented in the ComputeIntensity method of the RayCastLidar. We have discussed this sometimes but we have not implemented it yet.
One question about your method, how do you project the intensity you get in the RGB sensor to the

[2021-04-07 08:09] DSantosO commented on #4031
Hello lapd-viosoft,
Thank you for your report.
We have reproduced the issue and we are looking into it.

[2021-04-07 08:25] EchoYJJ commented on #4043
Hi! I also notice that sometimes the BV will slow down when detecting EV, but sometimes it will just speed up regardless of collision.
I'm really curious about how the BV work in co-simulation between CARLA & SUMO(using run_synchronization.py or spawn_npc_sumo.py). Where can I find the source code of it, and whether it's easy to adjust.(python would be best)

Looking forward to your reply and many

[2021-04-07 08:40] corkyw10 commented on #4062
Hey @EchoYJJ glad that I could help. I am not sure now what the issue is, maybe @Axel1092 could help?

[2021-04-07 09:17] joel-mb commented on #4043
Hi @EchoYJJ,
* *Realistic physics/collisions*: Right now, vehicles controlled by SUMO have physics disabled in CARLA, so collisions between CARLA and SUMO vehicles will never be realistic. Only vehicles controlled by CARLA have physics enabled.
*  *SUMO vehicles behaviors when colliding*: The behaviors you've seen are weird but I think this is more related to how SUMO handles this kind of situatio

[2021-04-07 09:20] joel-mb commented on #4045
Hi @EchoYJJ, could you share the OpenDRIVE map you've generated with RoadRunner? Different road heights should be supported while running SUMO co-simulation.

[2021-04-07 10:22] EchoYJJ commented on #4043
Hi @joel-mb
I wonder whether it's possible to enable the physics of vehicles controlled by SUMO, I think the interaction between CARLA vehicles and SUMO vehicles may be the biggest meaning of co-simulation.
If I get it right, when I run " run_synchronization.py or spawn_npc_sumo.py", the vehicles generated in CARLA are totally controlled by SUMO(name them background vehicles: BV). If I spawn a veh

[2021-04-07 11:18] NurbekHalikulov opened #4069 "object physical materials for scanning"
Hello! I am testing different sensor models from different manufacturers, including carla sensor models. Each sensor performs differently and its performance can be evaluated correctly if I know the type of physical materials in the environment. Lidar and radar sensor models  checks the returned signal characteristics based on object surface. My question is that: where I can get an information abo

[2021-04-07 11:37] whuxhzhang opened #4070 "carla0.9.11 + carsim running problems"
Ubuntu18.04
carla-0.9.11

I use carsim in carla-0.9.11：
self.player.enable_carsim("/home/zhangxinhong/CarSim_2020.0_Ubuntu_x86_64_128709_with_vsvisualizer/CarSim_2020.0/Example_Data/carla_sim.sim")
But I can't get the effect in the document：
![image](https://user-images.githubusercontent.com/38369239/113860019-22f2ce00-97d8-11eb-80b9-72ac66cece4e.png)

In addition, I want to know what method or in

[2021-04-07 13:11] huobinzy commented on #4059
Aha, thank you for conernatx could you follow up on this please?

Aha, thank you for con

[2021-04-07 13:11] #4059 closed

[2021-04-07 13:53] jeanlucdeziel-leddartech commented on #3826
Hi @DSantosO,

Thank you for the interest. Yes, the point cloud projection is done on the client side, using OpenCV (specifically, the cv2.projectPoints function). I project the point cloud in the intensity image, resulting in a poisition in 2D pixel coordinates for each 3D point. Then, I assign the intensity at those coordinates to each point. Because I have to round the pixel coordinates, there

[2021-04-07 14:10] XGodina commented on #3976
Hi @erfpak7,
I know that UE4 provides some tools to customize your HUD. I advise you to start to familiarize yourself with that tools and later create a BluePrint to connect Hud with the information that you want.

[2021-04-07 14:22] XGodina commented on #4035
Hi @whuxhzhang,
Well, you can add patterns to our pedestrian. But Maybé @DnDare to illustrate better than me how to do it.

[2021-04-07 16:59] bernatx commented on #4060
Hi,
It seems that the PowerShell command to extract the content .tar.gz has failed, because the file is so big. I suggest to install the 7zip.org application in the default folder and then the build system will use 7zip to extract the next time. In the mean time you can extract that file by hand.

About the unresolved external errors it seems you are using Python 3.8 instead the Python 3.7, or may

[2021-04-07 17:17] sam-findler-motional opened #4072 "Carla Client Sometimes Doesn't Raise Error Properly After Timeout"
Generally, when the carla client times out the error raised is something like the following:
`RuntimeError: time-out of 10000ms while waiting for the simulator, make sure the simulator is ready and connected to 127.0.0.1:2000`

This is perfectly acceptable and can be caught and handled entirely in the context of the python script utilizing the client.

However, occasionally the error raised looks

[2021-04-08 01:33] EchoYJJ commented on #4060
Hi @bernatx  I do as you recommand, I download 7-Zip to "C:\Program Files (x86)\7-Zip". I don't know whether the position is right.
Then, I run **make PythonAPI ARGS="--python-version=3.7"** in VS2017 x64 tool.
However, the results seems to be no difference.

I also try to extract that file by hand, but it says "The File is corrupted". I notice the file is only 250KB, not so big like you say. Perh

[2021-04-08 02:26] EchoYJJ commented on #4045
Hi! @joel-mb maybe I'm not making myself clear.
I generate vehicles in SUMO (defined in **rou** file), and the routes are based on the lanes (defined in **net** file). However the net file in SUMO doesn't contain any height information. As a result, even if I convert **net** to **xodr**, and adjust the height information in **xodr** by Roadrunner, the height changes won't reflect on **net**. So, w

[2021-04-08 02:36] cinjon commented on #4051
I think this is solved now.
The approach that worked was doing the pytorch image, apt-get the carla install, and then ENSURING that the NVIDIA_DRIVER_CAPABILITIES env var was set to include graphics. Thanks much for your help @qhaas .

[2021-04-08 02:36] #4051 closed

[2021-04-08 03:06] EchoYJJ opened #4073 "Low fps of server."
Hi! I encounter low fps of server in following three situation:
1. manual_control.py in Town03
Server: 3 FPS Client: 62 FPS

2.co-simulation between CARLA & SUMO using run_synchronization.py → manual_control.py in my own map
Server: 3 FPS Client: 62 FPS
![fdb73d0aeb54a2bc8c6257a4bf31cb8](https://user-images.githubusercontent.com/75726020/113962467-55450f80-985a-11eb-862c-ed743cb20b6e.png)

3.co-si

[2021-04-08 09:15] glopezdiest commented on #4066
Hey @EchoYJJ, you just have to do both of those at the same time.

What the first command (`python scenario_runner.py --scenario FollowLeadingVehicle_1 --reloadWorld --output`) does is initialize the scenario. With the scenario ready, you can connect your agent and start moving the ego vehicle. In the example, we use the manual control (`python manual_control.py`), but you could use any other scri

[2021-04-08 10:53] Doublehes opened #4074 "Something wrong with "Content.tar.gz" while unzipping"
Hi,  I met some trouble while unzipping file "Content.tar.gz".
I ran the command "./Update.sh" and it  downloaded "Content.tar.gz" successfully.

But something wrong after the commands "tar -zxvf Content.tar.gz -C Content"
**_tar: Skipping to next header
tar: Exiting with failure status due to previous errors_**
Is there something wrong with the file "Content.tar.gz"?  My carla version is 0.9.10.

[2021-04-08 11:55] EchoYJJ commented on #4066
@glopezdiest Thanks a lot for your advices! I misunderstand these two commands as separate one.

I still remain one question about ScenarioRunner, my server FPS is very low(FPS=3). Do you know how to solve this?

[2021-04-08 12:44] EchoYJJ commented on #4073
Using this method can improve my Server FPS rate from 3 to 30.
![image](https://user-images.githubusercontent.com/75726020/114028428-0b384a00-98ab-11eb-87f0-b83d5c72cff5.png)
![image](https://user-images.githubusercontent.com/75726020/114028531-2905af00-98ab-11eb-84f1-a3511fe23656.png)

[2021-04-08 12:44] #4073 closed

[2021-04-08 13:55] corkyw10 commented on #4054
Can you share how you are spawning the sensors?

[2021-04-08 13:57] Axel1092 commented on #4062
Hi @EchoYJJ, the way you initially tried to open the Unreal editor probably polluted unreal's build system. Run `make clean` or `make hard-clean` and then `make launch`.
CARLA requires a lot of dependencies to be updated and properly linked with unreal, therefore, these commands make sure that the environment is ready. In the future you shouldn't try to open CARLA with `./UE4Editor` but rather thr

[2021-04-08 14:11] #3562 closed

[2021-04-08 14:33] mkah91 commented on #3635
I am having basically the same issue with CARLA version 0.9.11. @lukase Do you have any updates on this?

[2021-04-08 17:26] jingluoquanergy commented on #3766
make import ARGS="--package=my_package_name" works for me.

[2021-04-08 17:28] jingluoquanergy commented on #3766
correction for the above command:
make import ARGS="--packages=my_package_name"

[2021-04-08 19:49] AydinAltun commented on #4054
"""
    W            : throttle
    S            : brake
    A/D          : steer left/right
    Q            : toggle reverse
    Space        : hand-brake
    P            : toggle autopilot
    M            : toggle manual transmission
    ,/.          : gear up/down

    L            : toggle next light type
    SHIFT + L    : toggle high beam
    Z/X          : toggle right/left blinker
    I

[2021-04-08 19:51] AydinAltun commented on #4054
https://github.com/AydinAltun/Carla-get-datas/blob/main/record.py
it is how i tried to get the sensors datas

[2021-04-09 04:29] EchoYJJ commented on #4062
Hi @Axel1092, I follow your instruction"Run make hard-clean and then make launch."
Aftering receiving some warnings, the CaralaUE4 is opened.
Warning at 71%
![2021-04-09 12-11-54 的屏幕截图](https://user-images.githubusercontent.com/75726020/114127381-e5538980-992c-11eb-8f31-b91d505ab208.png)
Warning at 90%: Town 03.umap
![2021-04-09 12-13-43 的屏幕截图](https://user-images.githubusercontent.com/75726020/11

[2021-04-09 07:53] bernatx commented on #3766
Hi,
The command `make package ARGS="--packages=Package01"` is correct.
We use similar command like `make package ARGS="--packages=AdditionalMaps"` and it works.
You can check the version of **make** you are using.

I test your command and it worked on Windows machine:
[code]

So, should it be a system configuration problem?

[2021-04-09 08:06] DSantosO commented on #4031
Hello @lapd-viosoft,
There was a bug in the computation of the channel point count. It is fixed now in PR #4075 and it will be available in `dev` branch soon.
Thank you for your report.

[2021-04-09 08:19] alibukharai commented on #1521
Hi, I am new to carla, I am trying to manually control the vehicle in carla with g29 steering wheel in a windows environment. But go the same error, "No section G29 Racing wheel" all the time when tried. Can you help me with this

[2021-04-09 08:33] GyChou commented on #3651
Yes，I could get my current waypoint by ' world.get_map().get_waypoint(vehicle.get_location())', but the current waypoint **yaw** is wrong in the junction sometimes.

[2021-04-09 09:05] Doublehes commented on #4074
I solved it by myself, caused by my network

[2021-04-09 09:05] #4074 closed

[2021-04-09 09:28] raymanfx commented on #3891
@corkyw10 @DSantosO sorry for pinging you guys directly - is there any update here regarding some hints on performance bottlenecks? I have new team members starting on Monday and would be willing to spend some time on (RGB) sensor performance in Carla. Before doing so, I'd like to sync with you on known issues/bottlenecks so I can avoid wasting time profiling.

[2021-04-09 11:12] corkyw10 commented on #4054
Ok, it's because of how the Sensor is being called in this script. If you look at line [750](https://github.com/AydinAltun/Carla-get-datas/blob/main/record.py#L750) you will see that the latitude and longitude are being asigned to values `lat` and `long`. So I believe you will need to change your code after line 750 as follows to get the altitude as well:

[code]

And to get the values change afte

[2021-04-09 11:23] AydinAltun commented on #4054
Thanks so much , i realized that

[2021-04-09 11:35] NurbekHalikulov opened #4076 "Veloview for lidar data visualization"
Hello all,

Is it possible to visualize the lidar sensor data using VeloView (from Velodyne Lidar) tool?

Thanks

[2021-04-09 13:29] #4054 closed

[2021-04-09 13:39] Axel1092 commented on #3891
Hi all, when using camera sensors, images are generated in the GPU and then they are copied to the CPU in order to be sent to the client. The GPU to CPU copy is an expensive operation which stalls both GPU and CPU, the larger the images or number of them, the longer the stall occurs producing the reduction in GPU and CPU utilization that you observe in your testing.
About profiling, we are improvi

[2021-04-09 13:54] seuwcs commented on #2994
@elandg  Hello, if you have the problem solved?

[2021-04-09 14:07] cinjon opened #4077 "Is there an image catalog of what each blueprint corresponds to?"
It would be really helpful to have this as a guide.

[2021-04-09 14:12] bernatx commented on #3766
I have seen the original problem. There are two things to note here:

1. You need to have the source compiled before you try to import anything.  If you don't have CARLA compiled at the time you import, it will try to compile all needed, and it will pass all parameters through all the building scripts, and some of them will conflict with parameters that are not targeted to that script, like this o

[2021-04-09 18:12] raymanfx commented on #3891
Would you mind sharing some more details on those "performance issues" you find in 0.9.11? Perhaps I can help with that investigation. As I said before - I'm willing to spend some man-hours here.

About the GPU to CPU copy - yeah we cannot avoid that. I still believe there are ways to optimize it especially for multiple sensors by e.g. batching copy operations for multiple cameras. I'm not sure ho

[2021-04-11 05:07] EVYang1992 commented on #3366
Hi @Axel1092 , I used 0.9.11，but the fatal always showed up, since you can make it happen to run it, I am wondering if I should make some changes on my laptop. I can pick some other osm files and generate the map in Carla environment, but for the one i uploaded, no i can not generate it other than got that fatal.

[2021-04-11 10:26] MasterTigress commented on #1899
Hi all, I am wanting to make the Pedestrian spawned and walk directly towards the vehicle for my research. I wrote up a scratch up code that would spawn the Pedestrian right in the middle of the road and should walk towards the vehicle. The Pedestrian is spawned in the middle of the road, however when the Pedestrian walks it suddenly shifts (kind of reappear) to the left side of the road and is wa

[2021-04-11 11:13] EchoYJJ commented on #4066
Hi @glopezdiest, I meet another issue, could you please give me some advices?
When running scenarios which require choreography of ego vehicle (i.e. in VehicleTurningRight, the route and speed of ego vehicle are arranged), the python manual_control.py couldn't result in expected situation. Even if I run python manual_control.py -a to set the autopilot mode. It won't act according to the python scr

[2021-04-11 20:43] lgalardini commented on #2460
I think there are two separate things here (I'm quite new to Carla so please, if you think I'm wrong, please, correct me!). I hope it can help who came here without finding a solution.

One is related to the image with green/red with stripes above; if you use raw depth, the latter is stored using Unreal coordinate system. Please refer to the issue [#553](https://github.com/carla-simulator/carla/is

[2021-04-12 00:39] maloq opened #4081 "Custom model and animations for pedestrians"
Hello! I want to implement new type of non-human walkers, like animals. As starting point I'm trying to change pedestrian model and animations to animal ones. Where should I start?

[2021-04-12 02:45] bpoebiapl opened #4082 "Some parts are separated from the vehicle and are floating in the air"
I haven't yet been able to figure out exactly in which configuration bring ouit this issue.
I used synchronous mode and set the fixed delta seconds to 0.0005.
![23418](https://user-images.githubusercontent.com/18179088/114333850-41fcb180-9b84-11eb-8fd8-ea1f47ed7217.png)

[2021-04-12 03:59] goldenice123 commented on #4060
otherwise it can be that the Boost library takes one version, and the CARLA build systems takes another version, and then we have mismatch.

hi, i have the same problem, how to examine the version of boost version.

on@boost@@YA?AVobject@123@AEBV4123@AEBV?$handle@U_object@@@23@1@Z)
libcarla.obj : error LNK2001: 无法解析的外部符号 "class boost::python::api::object __cdecl boost::python::api::getattr(class b

[2021-04-12 07:43] glopezdiest commented on #4066
Hey @EchoYJJ, yes that is expected. As a general overview, the manual control is just a debugging agent that you can use to check how are the scenarios working, but it isn't a good agent anywhere else.

In this case, when you are setting the autopilot, the [TrafficManager](https://carla.readthedocs.io/en/latest/adv_traffic_manager/) is activated, which makes the vehicle randomly move through the t

[2021-04-12 07:57] EchoYJJ commented on #4066
Hi @glopezdiest . So if not manual_control.py, how can I get my ego vehicle to the right place at the right time(in the video case, it should be the position of cyslist). I think the expected route of ego vehicle is arranged in the python script, how can I motivate it?

[2021-04-12 08:11] bernatx commented on #4060
Hi, You can check which version of python goes to this file:
```carla\PythonAPI\carla\dependencies\lib\libboost_python37-vc141-mt-x64-1_72.lib```
In this case the python37 is for Python 3.7 version.
Maybe that helps

[2021-04-12 08:20] glopezdiest commented on #4066
Well, you have to create your own agent that does that. First of all, you can get the route from any script using [`CarlaDataProvider.get_ego_vehicle_route()`](https://github.com/carla-simulator/scenario_runner/blob/master/srunner/scenariomanager/carla_data_provider.py#L395).

Then, you should create an agent that uses that route to move. [Here](https://github.com/carla-simulator/carla/blob/master

[2021-04-12 08:22] EchoYJJ commented on #4060
Hi @bernatx , there do exist that file, could you please tell me how to check it.

[2021-04-12 08:44] EchoYJJ commented on #4066
Hi @glopezdiest thanks a lot for your advices. For my scenario, ego vehicle have no difference from other vehicles, I don't want to control the ego vehicle. So I want to define the behaviors of ego vehicle in python script and the motivation should be merely generate a camera on any vehicle to provide a vision for me.
Whether do you know a simpler way to achieve this?
Regards

[2021-04-12 08:57] EchoYJJ commented on #4066
I'm a little confused. In this example: https://www.youtube.com/watch?v=Mmb3qz7G-W0
1.If the vehicle in the screen is ego vehicle, how can it set to be automatic accroding to the script?
2.If the vehicle in the screen is other vehicle and the car passing by is ego vehicle, how can the camera set on other vehicle?
![image](https://user-images.githubusercontent.com/75726020/114367405-fe6b6d00-9bae-1

[2021-04-12 09:28] jackbart94 commented on #4036
Please, could you provide us the script you're using (or a similar one for the vehicle recording and plotting) and which version of CARLA you are currently working with?

[2021-04-12 10:00] jackbart94 commented on #3683
Took me a while to answer, but here's the solution: you must set hybrid mode before spawning the hero vehicle. I've done so and it works flawlessly, so I'll close this.

[2021-04-12 10:00] #3683 closed

[2021-04-12 10:02] glopezdiest commented on #4066
Then you can use the [WaypointFollower](https://github.com/carla-simulator/scenario_runner/blob/master/srunner/scenariomanager/scenarioatomics/atomic_behaviors.py#L1809) to control the ego vehicle through a given route (which will probably need to calculate).

The ego is controlled by hand

The agent connects to the ego using [this loop](https://github.com/carla-simulator/scenario_runner/blob/mast

[2021-04-12 10:36] AdMaitre1 commented on #3823
I'm having a similar issue anyone has a clue on how to solve this ?

My errors are :
error: patch failed: Engine/Plugins/Runtime/PhysXVehicles/Source/PhysXVehicles/Private/PhysXVehicleManager.cpp:4
error: Engine/Plugins/Runtime/PhysXVehicles/Source/PhysXVehicles/Private/PhysXVehicleManager.cpp: patch does not apply
error: patch failed: Engine/Plugins/Runtime/PhysXVehicles/Source/PhysXVehicles/Publ

[2021-04-12 12:23] Saquib764 commented on #3663
I am able to run carla with `-opengl` tag from my terminal.

But I get a similar error while trying to execute it via Jenkins.

[code]

I don't understand the issue here.

[2021-04-12 13:15] zhaoshan2 commented on #4036
Carla Version: Release carla 0.9.11
This script is developed from the tutorial.py. I have simplified the function and it is able to record the vehicle status such as position, velocity and acceleration and stored in the txt file. The script can be found here
https://github.com/zhaoshan2/Carla_RR/blob/794049b734cb29e09dc57cf1b0fbff5090cadfa8/PythonAPI/examples/RECORD.py
To run the script, first you

[2021-04-12 14:17] joel-mb commented on #4043
Hi @EchoYJJ !
* Exactly. You are right on how the co-simulation between CARLA and SUMO works. Basically, when you run the`run_synchronization` or `spawn_npc_sumo` scripts, all the vehicles spawned and controlled by SUMO are automatically generated in CARLA by the co-simulation package. It happens the same the other way around. I you spawn a vehicle in CARLA (e.g., using the `manual_control` script

[2021-04-12 14:27] joel-mb commented on #4045
@EchoYJJ So your initial SUMO net file doesn't contain information about road heights and you use RoadRunner to include this information in the OpenDrive? If this is your pipeline, you need to update also the SUMO net to include the road height information from your modified OpenDrive file. To do this you can use the `netconvert_carla` script (https://github.com/carla-simulator/carla/blob/master/C

[2021-04-12 16:11] mrcoee opened #4084 "Get Bone Transforms"
I want to spawn pedestrians in a natural walking position without them moving. I read that one can use the 'apply_control' function to manipulate the skeleton of the pedestrians. To do this, I need the bone transforms of the corresponding walking animations. Is there a way to obtain them using some carla function?

I figured out that by using the UE editor i can display the bone transform in an ar

[2021-04-13 02:45] EchoYJJ commented on #4043
Hey @joel-mb ! Many thanks for your detailed interpretation.
I change "carla.command.SetSimulatePhysics(carla.command.FutureActor, False))" from **False** to **True** as you suggest.
The situation seems to improve a little bit, but the vehicles controlled by SUMO will keep shaking and won't stop(or decelerate) when colliding with ego vehicle. The physics of them may not totally work.
https://user-

[2021-04-13 08:00] guygo12345 opened #4085 "mismatch between cpp and python"
Hey!

Running on carla docker 0.9.11.
When running the following code -
...
[code]
...
I'm getting this error -
`tl.set_state(carla.libcarla.TrafficLightState.Green)
Boost.Python.ArgumentError: Python argument types in
    TrafficLight.set_state(TrafficLight, TrafficLightState)
did not match C++ signature:
    set_state(carla::client::TrafficLight {lvalue}, carla::rpc::TrafficLightState state)
`

[2021-04-13 08:48] DSantosO commented on #3823
Hello,
I have trie to reproduce your problem but for me it works good in Windows 10, could it be some problem with some white spaces?
Have you try some git options that could fix? Something this like:
`git apply --reject --whitespace=fix git apply --reject --whitespace=fix UE4_patch_wheels.patch`
`git apply --ignore-space-change --ignore-whitespace UE4_patch_wheels.patch`

[2021-04-13 09:14] corkyw10 commented on #4065
Hello @naga-k, you need to extract the `tar.gz` file. See [here](https://linuxize.com/post/how-to-extract-unzip-tar-gz-file/) for how to do that. Then follow the documentation [here](https://carla.readthedocs.io/en/0.9.5/getting_started/), assuming you are set on using the 0.9.5 version of CARLA.

[2021-04-13 09:18] corkyw10 commented on #4069
Hello @NurbekHalikulov I am going to close this issue as I can see that it has been addressed in the Discord channel. Posting here for future interest:

"We use mostly PBR materials in UE4 , that means that material's parameters  are  found in their respective textures."

[2021-04-13 09:18] #4069 closed

[2021-04-13 09:26] corkyw10 commented on #4077
Hi @cinjon we don't have an image catalog, although it's a interesting idea that I will look into. For now we have a script called `vehicle_gallery.py` in the `PythonAPI/examples` folder that cycles through all the 4 and 2 wheeled vehicles in the simulator.

[2021-04-13 09:33] jackbart94 commented on #3884
They work just fine, sorry for mentioning it only now. I've been testing with them for quite a while.

[2021-04-13 09:56] AdMaitre1 commented on #3823
Hello, i just tried the commands you sent me and it displays me the same error as with using git apply  UE4_patch_wheels.patch --verbose . The problem is related to some header files in Engine/Plugins/Runtime/PhysXVehicles/Source/. Can it come from the patch version i use? (used the link in the tutorial at "https://carla.readthedocs.io/en/latest/build_windows/" which is "https://carla-releases.s3.

[2021-04-13 10:09] jackbart94 commented on #4036
From what I have been able to see by running and analyzing your script, I can tell that if you are using the vehicle navigation controlled by waypoints, you are not actually applying any control to the vehicle in terms of throttle, brake or steering. You are just teleporting it to the next waypoint, and this is why you can't see any velocity. Instead, if you activate the Traffic Manager, there's y

[2021-04-13 10:30] DSantosO commented on #3823
I see,
Can you go to the file ` Engine/Plugins/Runtime/PhysXVehicles/Source/PhysXVehicles/Private/PhysXVehicleManager.cpp` and copy here the first 30 lines?

[2021-04-13 10:32] elvira3871 commented on #3823
I have been lucky to solve this problem, but based on the successful installation of unreal. I have two computers. When the first computer was installed successfully, the second computer encountered this error. I moved the entire unreal package in the successfully installed computer to the second computer and continued with the next step.

[2021-04-13 10:32] Datalux commented on #3749
Same issue. Installed carla with Python 3.7. Anyone solved this error?

[2021-04-13 10:36] DSantosO commented on #3823
Hello @elvira3871,
I am happy to hear that.
Do you know why it was not successful on the second computer? Could it be that you had a problem when cloning the repository or that was not in the correct Unreal Engine branch?

[2021-04-13 11:05] AdMaitre1 commented on #3823
This is what i have in PhysXVehicleManager.cpp from Private folder:

// Copyright 1998-2019 Epic Games, Inc. All Rights Reserved.

#include "PhysXVehicleManager.h"
#include "UObject/UObjectIterator.h"
#include "TireConfig.h"

#include "Misc/CoreMiscDefines.h"
#include "PhysicalMaterials/PhysicalMaterial.h"
#include "Physics/PhysicsFiltering.h"
#include "PhysXPublic.h"
#include "Physics/PhysicsInte

[2021-04-13 13:14] DSantosO commented on #3823
Hello @AdMaitre1,
At least in those lines, the patch seems to be correctly applied. Can be that you are trying to apply it twice?
If the patch is correctly applied, there should be three files staged for commit when doing a `git status`.
If you checkout the three of them, you can apply it again to be sure but always with a clean `git status`.

[2021-04-13 13:35] Axel1092 commented on #3624
@raymanfx, your issue of the actor not being found when you do the `actors = carla_world.get_actors()` is probably due to the fact that the server has not yet spawned the vehicles. After `client.replay_file("aagent_control.rec", 0.0, 0.0, 0)` the server has not yet replayed anything, you need to call `carla_world.tick(10.0)` so that it can start processing the recorded sequence which among other t

[2021-04-13 13:36] guygo12345 commented on #4085
OK, I manged to get over the bug. It was something  about the way I imported carla.

[2021-04-13 13:36] #4085 closed

[2021-04-13 13:57] Axel1092 commented on #3775
@will-sloan, Unreal will add the traffic signals and lights that are present in the xodr file exported by roadrunner. Road runner allows you to customize junctions to place signals as you need but as you see sometimes this information is exported to the xodr in a weird way specially when using their automated tools. My advice is to customize the signals in RoadRunner, make sure that the signal is

[2021-04-13 14:00] Axel1092 commented on #3999
@abirbensoltane, this looks indeed a driver issue. Make sure that your discrete GPU has sufficient memory (we recommend 6GB although 4GB should work most of the time). You need to make sure to use that GPU and not the small one.

[2021-04-13 14:05] Axel1092 commented on #3497
Hi @PyTorr, I don't know for sure what you mean but perhaps you need the semantic segmentation sensor that gives you the tags in an image including lanes and other items in the scene.

[2021-04-13 14:10] Axel1092 commented on #4018
Hi @cinjon, I don't understand your problem. The function `world = client.load_world(new_map_name)` should do exactly what you need. The `new_map_name` needs to be one of the existing maps such as `Town01`, `Town02`, etc. Notice that we also offer `Town01_opt` versions of the maps which offer a small performance improvement.

[2021-04-13 14:13] Axel1092 commented on #4024
Hi @ar4development, OpenDRIVE maps generated by netconvert tend to be broken due to errors in the junction record. We are developing our own conversion solution to provide OSM support in CARLA (https://carla.readthedocs.io/en/0.9.11/tuto_G_openstreetmap/) hopefully this will help.

[2021-04-13 14:27] Axel1092 commented on #4006
Hi @cinjon, vehicles cannot be spawned if there is another object intersecting your spawn location (in this case the road). z=0 is usually the surface of the road, but in order to spawn a vehicle there you should use the waypoint API like this:
[code]

[2021-04-13 14:29] Axel1092 commented on #4062
@EchoYJJ you are missing the assets. For this you need to run `./Update.sh` form the carla root. This will download them and place them in the unreal content folder.

[2021-04-13 14:43] Axel1092 commented on #3891
About the performance issues @joel-mb can give you more details.

About GPU and CPU copies, we are trying to find ways to improve it but as you say this is deep within the Unreal Engine code and a challenging problem on its own.

The communication issues we found were related to how linux handles tcp information. By default there is an algorithm in place to manage when to send information optimall

[2021-04-13 14:44] Axel1092 commented on #3366
Maybe this is a windows issue. I'll check this as soon as possible.

[2021-04-13 15:41] AdMaitre1 commented on #3823
Yes i have typed the command serveral times as i had to reboot my computer. I was thinking it didn't applied correctly as i had those errors and also further errors on the build lead me to think it came from this patch. The Setup.bat and GenerationPojectFiles.bat were successfull so i think the patch applied.
I'm carrying on the build, letting you know if i finished without wrong outputs. Thanks f

[2021-04-13 16:44] arihant2math opened #4087 "Quickstart not working"
The documentation in the quickstart does not specify how to install the package carla, so the examples in pythonapi/examples exit with an error. However spectator mode still works.

Windows 10, Carla 0.9.10

[2021-04-13 18:14] qhaas commented on #3827
@yuexishuihan , did you discover anything about leveraging multiple GPUs for CARLA?  The closest we have come is just running multiple client/servers on the same GPU (i.e. larger number of independent simulations).

[2021-04-14 00:37] seuwcs commented on #3708
Using Roadrunner is the best choice @EchoYJJ @

[2021-04-14 00:43] seuwcs commented on #3426
Hello, I have a small question that is which folder should the BP_sky dragged into? @Madecu  @mercurylaci

[2021-04-14 02:19] EchoYJJ commented on #4062
Hey! @Axel1092  I do as you recommend. I do run ./Update.sh before, but didn't put in the carla/Unreal/CarlaUE4/Content folder.(actually the offical guidance doesn't mention that, I think this procedure can be added.)

In this time, my CarlaUE4 can now access the uasset in the content folder and show them up in the content brower. However, when I try to open the basic Town0X.umap. The scene is tot

[2021-04-14 03:05] EchoYJJ commented on #4045
Hi @joel-mb couldn't thank you any more!
netconvert_carla is such a strong tool that I wish I had known about it earlier.
I have one last confusion. By doing so, the shape information in net file seems to add another dimension(**-0.00&0.04** in bold).
_shape="442.29,752.15,**-0.00** 442.28,751.15,**0.04**"_
Is that dimension gradient or height?

[2021-04-14 03:07] seuwcs commented on #3426
Hello Friends. After deleting the Light Source (Directional Light), ExponentialHeightFog, Skylight, and SkySphere from the scene and drag BP_Sky into the scene. I clicked Play, and run the scrip "manual_control.py" in  the folder "carla/PythonAPI/examples", a mistake occurrd that is :

WARNING: cannot parse georeference: ''. Using default values.
No recommended values for 'speed' attribute
There a

[2021-04-14 07:16] ar4development commented on #4024
Hi @Axel1092 , what do you mean by "errors"? Doesn't passing routing test in QGIS mean there is no junction error in this particular attached map?

[2021-04-14 08:26] HankYuan1101 opened #4089 "make launch error in BuildCarlaUE4.sh: line 161: recipe for target 'launch' failed make: *** [launch] Error 137"
Hi, there
I follow the Linux build instruction and I got an error while executing make launch.
The error shown as follow:

[code]

OS: ubuntu 18.04
carla version: 0.9.11
unreal version: 4.24

any suggestion is welcome, thanks!

[2021-04-14 09:33] joel-mb commented on #4043
yeah, this is expected. When reducing the step length in synchronous mode the "speed" of the simulation will drop. This is because to simulate 1 second we need to tick more times to the server.

If the co-simulation is working in synchronous mode (this is mandatory) this should not happen. It may happen that the elapsed seconds since the simulation started is different between simulators, but once

[2021-04-14 09:49] joel-mb commented on #4045
Hi @EchoYJJ. I would expect this to be the height.

[2021-04-14 11:36] jhermen-List opened #4090 "Modifying existing Cars"
Hi There, thanks a lot for the great work you are doing on Carla.

I found the documentation on how to create and add new vehicles, but is there a way to modify existing vehicles, like adding a lamp, replacing texture or similar smaller changes without redesigning a completely new car?

Thanks a lot
       Johannes

[2021-04-14 11:46] #4045 closed

[2021-04-14 12:29] EchoYJJ commented on #4043
Hi @joel-mb
Sorry for my negligence, even if I didn't change anything in spawn_npc_sumo.py, I do shun the synchronous mode in run_synchronization.py before(for the test of speeding up simulation), and the latter is used by the former as a module.

However, even if SetSimulatePhysics set to be True, the vehicles generated in SUMO won't give a realistic physical feedback.(i.e. if the CARLA vehicle r

[2021-04-14 12:38] qhaas commented on #3469
This doesn't appear to be happening anymore, at least with the r460 drivers, my guess is that it was a bug and has been fixed by nvidia.

[2021-04-14 12:47] ParthAD3 commented on #3280
Did you get the reason @GarethZhang

[2021-04-14 13:29] AdMaitre1 opened #4091 "make PythonAPI failed , windows 10 build, Carla 9.11"
Hi !  I'm trying to build Carla 9.11 on windows 10 but  when i run the command make PythonAPI the following message shows up:
![image](https://user-images.githubusercontent.com/81813876/114717397-4ae0b500-9d35-11eb-9e9e-1ab23704938a.png)

I've installed the requirements and i use the x64 native prompt from Visual Studio 2017 . I already followed the previous steps of https://carla.readthedocs.io/e

[2021-04-14 14:16] LucasFKobernic opened #4092 "How to give a path to my vehicle and pedestrian?"
Hi everyone,

I'm new by CARLA and have some questions about controlling walkers and vehicles.

I want to create some specific acident scenarios involving pedestrians.

In the simplest case i need the pedestrian to follow a specific path and the car another one. How can i give a specific path to my car and to my pedestrian? (For the pedestrian i tried to use WalkerAIController and the method go_to

[2021-04-14 16:44] abirbensoltane commented on #3999
Well I have GTX1650ti with 4 GO and the other one is amd but when I use the GTX  only the screen becomes dark that's why I think it's prob of driver

[2021-04-14 19:13] GarethZhang commented on #3280
Hi @ParthAD3 ,
I noticed that this is happening because I did not define custom collision in blueprint class in UE4. You can refer to section 4 on this page: [https://carla.readthedocs.io/en/latest/tuto_D_generate_colliders/#4-add-the-mesh-as-collider](url)

Hope this help!

[2021-04-15 03:24] EchoYJJ commented on #4066
Hi @glopezdiest , thanks for your advices, changing the agent to another vehicle seems to be a little hard for me.
Only thing I want to do is make the vehicle shows up in the screen is defined by the python script. So, I needn't any control of ego vehicle, I just focus on the interaction between other vehicles.
So, as an alternative, in order to change the spectator from ego vehicle to other vehic

[2021-04-15 06:54] dodosch commented on #2748
Hi @germanros1987 , has this feature been implemented yet?

[2021-04-15 08:04] glopezdiest commented on #4066
The spectator doesn't play any role here. What the manual control does is set an RGB camera at the connected vehicle, so you aren't seeing the spectator, but the sensor itself.

Same as before, if you haven't changed the connected vehicle to the `vehicle.nissan.patrol`, the camera will still be created at the ego, so you'll still see the ego vehicle

[2021-04-15 08:56] glopezdiest commented on #4092
Yes, I'd recommend using ScenarioRunner as, while it might take a bit to understand, there are lots of simple behavior that will help you create the accident traffic scenario you are aiming for.

No, you can't use the `WalkerAIController`, as it is meant to be used to populate the simulation with pedestrians. That controller will force walkers to move through the sidewalks, sometimes crossing the

[2021-04-15 11:15] onebitme commented on #4090
Hi there,

For modifying mesh (e.g. you want to add a 3d model of a sensor to an already existing vehicle in Carla), simply export the vehicle in .fbx, import the file in blender, add 3d mesh (be sure that normals of the vertices are towards out) and then follow the guide.
For textures, google "how to change textures in UE4" will be sufficient for you :)
For more, simply check for the solutions wh

[2021-04-15 11:23] onebitme commented on #4089
`gcc -v
g++ -v`

Can you please check the version of gcc,
I am currently using v 7.5.0

[2021-04-15 11:41] zhaoshan2 commented on #4036
Thanks a lot for the interpretation!

[2021-04-15 13:02] jhermen-List commented on #4090
Thanks a lot, that sound do-able! I wil ltry that.
The idea is to add a kind of signaling/lights to the front of the Car that can be triggered via the API.

i guess the VehicleLightState.Special vars can somehow be used for that.

[2021-04-15 13:30] LucasFKobernic commented on #4092
Thanks for the infos :) They were very helpfull

[2021-04-15 13:30] #4092 closed

[2021-04-15 15:36] #4036 closed

[2021-04-15 16:42] bijayaniSMishra opened #4095 "Segmentation fault (core dumped) while running CarlaUE4.sh file."
Hi Team,

I am trying to install and deploy Carla in the AWS EC2 instance. I am able to install Carla 9.10 successfully. but while running the simulation using the CarlaUE4.sh file I get the below error.

ubuntu@ip-172-31-25-195:~$ cd /opt/Carla-simulator/bin
ubuntu@ip-172-31-25-195:/opt/carla-simulator/bin$ SDL_VIDEODRIVER=offscreen ./CarlaUE4.sh
4.22.3-0+++UE4+Release-4.22 517 0
Disabling core d

[2021-04-15 19:25] Stephanehk opened #4096 "Carla Performance Benchmarking"
I was wondering what settings were used to achieve the Carla benchmarking performance recorded in the table on the bottom of [this](https://carla.readthedocs.io/en/latest/adv_benchmarking/) page (ie: what sensors, map, weather, CARLA version, etc.). Also, it seems like the documentation on that page for the performance_benchmark.py script is a little out of date (at least for Carla 0.9.11).  I mai

[2021-04-16 06:27] LucasFKobernic commented on #4087
Hi arihant2math,

Using Carla Package u just need to unzip the file you have downloaded.

Then you need to start CARLA (CarlaUE4.exe) first. And then you can run any of the examples inside the PythonAPI / examples folder.

[2021-04-16 06:33] LeehamElectronics commented on #1422
Does anyone have any examples of a python script that interacts with steering wheel force feedback? I can't seem to figure out how to control force feedback on steering wheels.
Thanks

[2021-04-16 14:29] mkah91 commented on #3635
@lukase Could you share your Blender export settings with me?
I'm currently struggeling to get the "three different assets which probably correspond to mesh, texture and material" from docker_tools.py. The process finishes with "Package.sh: Success!" but no assets are built.

[2021-04-16 20:25] webcrawlr opened #4099 "Hanging Traffic Lights (found in intersections) are undetectable by LiDAR"
![000668](https://user-images.githubusercontent.com/2615758/115079829-c5ddd300-9ecf-11eb-88bc-6ff065601556.jpg)

On these types of traffic lights, lidar points pass right through the traffic lights, only detecting the pole behind the traffic lights.  The above image shows a lidar point cloud; the white dots represent background (object id 0), while the black dots are a detected point with a non-ze

[2021-04-17 23:55] alaamohamed2 commented on #3431
https://github.com/lz1159435992 Have you solved this issue?

[2021-04-18 06:56] mortenfc opened #4100 "Scenario runner and ros bridge single scenarios compatibility"
Hi!

Scenario Runner's single and grouped `.xml` scenarios specified with `--scenario` flag don't work with Ros Bridge.
In all versions of carla, ros bridge and scenario runner.
Please fix this.

Best regards,
Morten

[2021-04-18 06:57] mortenfc opened #4101 "No rendering mode in carla 11"
No rendering mode does not work in carla .11.
Camera sensor is still ticking away after applying `settings.no_rendering_mode = True` to the world.
Tried in multiple different ways with the example scripts in the PythonAPI.
And with custom scripts made from the docs.
This worked in carla .8

[2021-04-18 09:21] lgalardini commented on #4101
Hi there,

I'm using Carla .11 as well, under Windows.

I used the spawn_npc example to develop my data collection script, and I'm able to disable the rending with the following snippets (it is in the definition of the **CarlaSyncMode** context manager):
`self.frame = self.world.apply_settings(carla.WorldSettings(
            no_rendering_mode=**True**,
            synchronous_mode=True,

[2021-04-18 10:15] mortenfc commented on #4101
Thanks, I'll try that.
Does it require synchronous mode now?
I tried `config.py --no-rendering`, it does not work for me.
That's perhaps because it does not apply sync mode as well.
https://github.com/carla-simulator/carla/blob/master/PythonAPI/examples/no_rendering_mode.py#L944

I think the documentation and python example scripts should be updated to reflect that synchronous mode is required for

[2021-04-18 10:29] lgalardini commented on #4101
Personally speaking I don't think sync mode is mandatory, I was just underlining the piece of code in **spawn_npc.py** example that allows you to switch between no-rending modes. But I've not that much experience to bet on this.
I don't know where you apply the settings, maybe your settings are overwritten somehow. Try with the workaround I suggested, if it work I think it is matter just of placin

[2021-04-18 12:03] AthulGangadharan commented on #3552
Even I'm facing this issue, any leads? Please help

[2021-04-18 21:27] ajdroid commented on #3749
I'm seeing the same error with py3.8 and Carla 0.9.11 on Windows. My Pythonpath seems to point to the correct egg but it complains

[2021-04-19 07:44] bernatx commented on #3552
Hi,
From this line

`[2020.11.05-13.36.39:544][  0]LogAssetTools: Warning: You can not create an asset named 'HRM_from_sumo_w_dummy' because there is already a map file with this name in this folder.
`

I see you are trying to import a map that already exists. That is not possible, you need to remove the map that already is imported before reimport it.

From this line

`1001[2020.11.05-14.20.47:79

[2021-04-19 09:07] HankYuan1101 commented on #4089
My gcc version is also 7.5.0
gcc --version
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
PURPOSE.
g++ --version
g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

Are those difference with your version?

[2021-04-19 12:21] JulianPetzold commented on #4057
Hi @corkyw10, thank you for your reply, the new method works for us.

[2021-04-19 12:21] #4057 closed

[2021-04-19 13:57] by-seong-me opened #4103 "Error about "make launch" in building CARLA"
I'm trying to build CARLA with Unreal Engine
When I ran "make launch", I got these errors

**error: misleading indentation; statement is not part of the previous 'if' [-Werror,-Wmisleading-indentation]

error: no member named 'GameDir' in 'FPaths'

fatal error: 'PhysicsEngine/BodySetupEnums.h' file not found**

I just followed the instructions in https://carla.readthedocs.io/en/latest/build_linux/

[2021-04-19 20:46] arihant2math commented on #4087
I did that, the examples still do not work.

[2021-04-20 10:21] Stagakis opened #4107 "Retrieve image data from the spectator's view?"
Hello team,

I am working on an AR visualization project where I want to show information to the driver's windshield about obstacles, cars, pedestrians, etc.

Since I want the testing phase of my project to have, ideally, real-time performance, I was wondering whether I could get the image data of the spectator view from the client API. This way I could at least skip one RGB image sensor and since

[2021-04-20 11:02] Chiakiaki commented on #4015
@DSantosO
Thank you.
I tried your advice, and found that the key of improve fps is turning off camera sensor in no-rendering mode (30fps -> 38fps for me). With above setting, '-nullrhi' doesn't bring more significant improvement, maybe there are already no rendering computation there.

[2021-04-20 11:02] #4015 closed

[2021-04-20 11:32] Chiakiaki opened #4108 ""DebugHelper.draw_point" function only draw black points in 0.9.11."
Hi,
I'm doing trajectory planning using Carla 0.9.11. The "draw_point" function can only plot with black color and I don't know why. I previously use 0.9.8, and there is no such issue.

E.g. the following two lines of code all draw black points.
world.debug.draw_point(w, size = 0.1,color = carla.Color(0,0,0,0), life_time = xxx)
world.debug.draw_point(w, size = 0.1,color = carla.Color(255,0,0,255),

[2021-04-20 12:18] ghost opened #4109 "make PythonAPI command not found"
Hi!

I followed the documentation for the [Windows build](https://carla.readthedocs.io/en/0.9.11/build_windows/) exactly step by step up to the chapter "make CARLA".

Now I try to run "make PythonAPI" in the "x64 Native Tools Command Prompt for VS 2017" (run as admin).
But I keep getting the following error:
**********************************************************************
** Visual Studio 20

[2021-04-20 13:11] nuomizai opened #4110 "how to spawn multiple spectator"
I spawned multiple ego vehicles in one carla world through one carla client. And I wanted to check out every vehicles' state at the same time. But I found that the function CarlaDataProvider.get_world().get_spectator() only returned one spectator. Does anyone konw how can I use multiple spectators at the same time? Or I should spawn multiple cameras above each vehicles?

[2021-04-20 13:19] corkyw10 commented on #4087
Hi @arihant2math, what error are you getting?

[2021-04-20 13:24] corkyw10 commented on #4089
Hi @Hakhyun-Kim could you attach the full output of any error you get after running

`make rebuild`

[2021-04-20 13:34] corkyw10 commented on #4091
Hi @AdMaitre1 do you have any other versions of Visual Studio installed? This can sometimes cause conflicts, the documentation has some information of how to make sure other versions are properly uninstalled, check the green box in this [section](https://carla.readthedocs.io/en/0.9.11/build_windows/#visual-studio-2017)

Also, be aware you have linked the **latest** version of the documentation whi

[2021-04-20 13:39] gsmario commented on #4090
yeah you can add as many lights as you want, but remember to set also de lights in unreal engine. Rightnow our lights are controlled via API as well so you probably won't have any problem.

[2021-04-20 14:17] corkyw10 commented on #4103
Hello @by-seong-me, be aware that the **latest** version of the documentation details how to install the version of CARLA that is still in development. If you want to install the most recent release of CARLA, follow the docs for that version (0.9.11) by selecting it in the bottom right corner of the screen on the documentation page.

Can you confirm which version of Unreal Engine you are using? Be

[2021-04-20 15:05] XlightwolfX commented on #4012
Hi, I was wondering whether there are any new findings regarding this issue. I am experiencing exactly the same.
CARLA: 0.9.11
Ubuntu 20.04
GeForce GTX 960M
Both server and client running on one machine

Note that in my case I experienced this only when running CARLA from the deb installation. When I build CARLA from source and start the server via UE4 then the glitching of the RGB camera disappea

[2021-04-20 15:18] glopezdiest commented on #4100
Hey @mortenfc, could you please give more information about your exact test as well as the errors you are getting? I'm also adding @joel-mb

[2021-04-20 15:29] SIlvaMFPedro commented on #1582
Hello. I am having this same issue in my Windows Build
![image](https://user-images.githubusercontent.com/22821533/115422955-4b75c180-a1f5-11eb-86a5-442a3a745088.png)
I tried to perform a make clean but it doesn't work because it says that the Carla package is not set.
![image](https://user-images.githubusercontent.com/22821533/115423174-824bd780-a1f5-11eb-8948-c3d9d47821d7.png)
Can you explain to

[2021-04-20 15:41] erfpak7 commented on #3976
Hi @XGodina,
Thanks for your recommendation. Sure thing, I'll work on it ;)

[2021-04-20 16:50] EricPolizzy opened #4112 "How to get Raw sensor data online"
Hi there,
I have a problem sending the sensor data through API and UDP.
Let's say I'm planning to extract the value of "steer, throttle, and collision sensor."  I've  created the following code but I'm not sure how I'm able to send value of Carla in this format:

![Export_Carla](https://user-images.githubusercontent.com/82896556/115434511-c4b1ec00-a1d6-11eb-9263-786d6d2fc82e.png)

I appreciate you

[2021-04-20 17:57] jeanlucdeziel-leddartech opened #4113 "Semantic segmentation sensor in opendrive standalone mode"
Hi,

I tried to use the semantic segmentation camera while using the opendrive standalone mode. I noticed that the road/sidewalk/roadlines are not properly classified. The only tags I see are 0, 10 and 13, corresponding to unlabeled, vehicle and sky.

[2021-04-20 18:17] arihant2math commented on #4087
I'm getting this error when I run `spawn_npc.py`: `ModuleNotFoundError: No module named 'carla'`

[2021-04-21 01:53] by-seong-me commented on #4103
@corkyw10 Thank you! I changed version of UE as 4.24 and the same error is no longer displayed. But I encountered with another issues like

/home/msc/Downloads/carla/Util/BuildTools/BuildCarlaUE4.sh: line 161:  5569 Killed                  ${GDB} ${UE4_ROOT}/Engine/Binaries/Linux/UE4Editor "${PWD}/CarlaUE4.uproject" ${RHI}
Util/BuildTools/Linux.mk:7: recipe for target 'launch' failed
make: *** [la

[2021-04-21 01:53] #4103 closed

[2021-04-21 03:24] tiax615 commented on #3964
Hi psarka!
Im sorry. I cant find your wheel when use those command:
`pip install carla-client-unofficial`

[2021-04-21 03:33] tiax615 commented on #3964
:< Cant install in Windows

[2021-04-21 06:59] psarka commented on #3964
Unfortunatelly the unofficial carla client is only available on Linux :(

[2021-04-21 06:59] TimLued opened #4116 "Adding variables to the python api"
Hello,

is it possible to add a variable to the python api?
E.g. I would like to add a variable for wind direction to the weather parameters.

Best regards

[2021-04-21 07:17] bijayaniSMishra commented on #1039
Hi.. I am using 9.10, Is there a way to set destination for Carla in autopilot mode?

[2021-04-21 08:19] bijayaniSMishra commented on #1613
@guochun7648 and @Derekabc Facing the same issue. Did you guys found any solution for this?

[2021-04-21 08:21] shanshan1405 opened #4117 "Where can i find CarSimConfig.ini？"
1> UnrealBuildTool : error : Unable to instantiate module 'Carla': System.IO.FileNotFoundException: 未能找到文件“D:\A_0collection\CARLA\Unreal\CarlaUE4\Config\CarSimConfig.ini”。

[2021-04-21 09:11] shanshan1405 opened #4118 "error：compiler/disable-ue4-macros.h"
1>D:\A_0collection\CARLA\Unreal\CarlaUE4\Plugins\Carla\Source\Carla/Actor/ActorAttribute.h(9): fatal error C1083: 无法打开包括文件: “compiler/disable-ue4-macros.h”: No such file or directory

![捕获](https://user-images.githubusercontent.com/57471768/115528304-80047e80-a2c4-11eb-833c-9d67f745fa65.PNG)

[2021-04-21 10:25] AzziNothA commented on #3826
Hey guys,
I have completed the development of lidar intensity module on the server side. If you want to implement this feature, you'll have to modify the RayCastlidar.cpp. The results is shown below.
![Lidar Intensity](https://user-images.githubusercontent.com/47130024/115538832-dd9dc880-a2ce-11eb-9cef-27f91cbee4fd.png)

[2021-04-21 10:38] AzziNothA commented on #3826
Hey guys,
I have completed the development of lidar intensity module on the server side. If you want to implement this feature, you'll have to modify the RayCastlidar.cpp. The results are shown below.
![Lidar Intensity](https://user-images.githubusercontent.com/47130024/115540571-bea03600-a2d0-11eb-81fe-5a13a55e1ad8.png)

[2021-04-21 13:04] goksanisil23 commented on #2287
Hi @cassfalg

I have stumbled upon your post while searching for the true meaning of the "depth" value that is being reported via the depth sensor. Based on my research as well as your description, I understand that the encoded depth value coming from the z-buffer/depth sensor is the perpendicular distance to the near clipping plane, for that pixel (orthogonal prijection on to the optical axis)

W

[2021-04-21 13:55] corkyw10 commented on #4087
Can you make sure that the PYTHONPATH is set correctly by running the following, or adding it to your `.bashrc` file:

[code]

[2021-04-21 14:01] #4112 closed

[2021-04-21 14:11] EricPolizzy opened #4119 "How to streaming the sensor data out of CARLA via UDP"
Hi there,
I have a problem sending the sensor data through API and UDP.
Let's say I'm planning to extract the value of "steer, throttle, as well as collision sensor."
how I should be able to stream these data out of CARLA?

[2021-04-21 14:25] TimLued opened #4120 "Semantic segmentation with landscape material"
Hello,

I'm using a landscape blend material as my terrain and want to hide the Road Layer as shown in the following image.
![opacity0](https://user-images.githubusercontent.com/50456467/115568320-770faf00-a2bc-11eb-9b11-1b5de13b8758.jpg)

Is it possible to make the Road mesh still appear on the  semantic segmentation cam in this setup?
I already tried to apply a transparent material on the road m

[2021-04-21 14:26] EricPolizzy commented on #4119
@nsubiron Have you been able to get this done before?

[2021-04-21 16:29] aakashsehgal opened #4124 "Make launch error : "PhysicsEngine/BodySetupEnums.h" not found"
Building Carla 0.9.11 on windows 10.
Unreal Engine 4.26
Python 3.7.9

Building the unreal engine succeeds.

While building the Carla server with make launch i receive an error

I also checked in the` "C:\UnrealEngine\Engine\Source\Runtime\Engine\Private\PhysicsEngine"` but no such file `"BodySetupEnums.h"` is present.

How can i get this file ?

[2021-04-21 16:36] cyber-loop opened #4125 "Pedestrian/Walker stopping at RED traffic signal"
Hi all,

I want to know if there is way to control the pedestrian walking on the junction i.e. if traffic signal is red then pedestrian should stop crossing the road and when traffic signal is green then continue walking. Can someone point me out if there is any function for that in Python? Thanks

CL

[2021-04-21 17:53] cassfalg commented on #2287
I have never used a matrix notation for this... And it's been a while... I don't quite get what you're images are supposed to show... Regardless, some hints as far as I remember:

I calculated a roll and pitch angle for polar coordinates and used those to calculate the directional vector for the ray that created a pixel. Check out those two diagrams for definition of terms. Image calibration tells

[2021-04-21 23:13] egeonat commented on #3624
@Axel1092, I followed these instructions and wrote my code that looks very similar to what raymanfx has shared. The issue is that the replay_file function changes the simulation settings to be asynchronous again. So that when I do:

[code]

My output is first True, and then False. The simulation then starts moving without waiting for my world.tick() calls. Is there a way to start replaying in sync

[2021-04-22 08:04] goksanisil23 commented on #2287
Thanks a lot for the diagrams and the insight. I'm using the matrix notation for speed, and hoping to elevate these calculations to a shader level later on when the geometry is right. But if getting the correct radial distance requires non-linear calculations, I will change the approach.

[2021-04-22 08:15] aakashsehgal commented on #3119
@glopezdiest i am facing the same issue on Win10 and Carla 0.9.10 (Binary)...any idea how could this be resolved ?

[2021-04-22 08:20] bogdan-kovalchuk commented on #4012
It seems that this issue has been added in recent versions, at least I've checked versions 0.9.10 and 0.9.11 and it is already there. In version 0.9.6 everything works fine and there is no flickering.

[2021-04-22 08:26] raymanfx commented on #3847
Hi @corkyw10, we just ran into the same issue. On top of that, the `set_pedestrians_cross_factor` function is not included in the latest Python API documentation. Would you mind elaborating on those "specific places" some more? Why was it designed this way, how were those "specific places" selected, etc.?

In our setup, we would prefer the pedestrians not crossing the road under any circumstance.

[2021-04-22 09:01] mortenfc commented on #4100
Ok,

`--waitForEgo` flag in Scenario Runner does make it not spawn Ego correctly, but after Ros Bridge spawns ego and it starts moving as can be seen in RViz, the leading vehicle is never spawned and the scenario execution never happens.
Scenario Runner does not work without `--reloadWorld` for me. I don't understand why there is an option to run without this flag.
After making Ros Bridge attach w

[2021-04-22 12:26] NielsPichon opened #4126 "Custom materials with xodr"
Hi!
I am trying to build on top of the osm/xodr map loader to be able to train some AI agent with openScenarios which use the said xodr maps. However, my goal being to be able to navigate using vision as the primary source of information, I would need to improve on the graphics side of things.
After a bit of digging, it seems like when loading a xodr file with `generate_opendrive_world`, one of 2

[2021-04-22 12:27] glopezdiest commented on #3119
Unfortunately, you can't change any code of the package so you'd have to either:
1) Upgrade to 0.9.11
2) Get CARLA 0.9.10 from source, apply the PR's and make a new package
I'd like to give you a package with those changes but `Win10 and Carla 0.9.10 (Binary)` is a pretty bad configuration for me to do it on. I'll see if I can do it but I can't promise anything

[2021-04-22 13:19] DSantosO commented on #3826
Hello @jeanlucdeziel-leddartech,
Thank you for the information, it can be useful if someone can try something similar. I don't understand why the direction vector for each detection is not constant anymore. One option here could be to expose the material values in the SemanticLidar to allow for these computations in the client.

Hello @AzziNothA,
That is awesome! Would you like to open a PR with t

[2021-04-22 13:31] Axel1092 commented on #4124
Hi @aakashsehgal, you are building a version of carla that works with UE 4.24 and not 4.26, the errors you see are the result of the incompatibility. You need to switch to UE4.24.

[2021-04-22 13:44] FAM-vive commented on #942
@karangarg2121 how do you solve that , i build carla on win10 and meet the same problem

[2021-04-22 14:19] jbenzhhn commented on #4124
I ran into the same problem because the https://carla.readthedocs.io/en/latest/ is made up for the next carla versino 0.9.12 (which is not released yet). Make sure to select the fitting carla version down below.
![Wiki2](https://user-images.githubusercontent.com/82030917/115730382-8bb87980-a386-11eb-8d8a-a8f94690029d.PNG)

[2021-04-22 14:23] qqqGpe opened #4127 "How to change the quality of the radar pcl?"
I am a green hand in Carla, and I want to sample some radar pcl to test my algorithm. I think the radar points generated should have some noise just like the real world, but I don't know how to change noise level in simulator. I tryed to find info about this parameter, but failed. So could anyone help me to figure this out?

[2021-04-22 14:27] NielsPichon commented on #4126
In the mean time I found this [AActor](https://github.com/carla-simulator/carla/blob/master/Unreal/CarlaUE4/Plugins/Carla/Source/Carla/OpenDrive/OpenDriveGenerator.cpp). Am I right in assuming this is contained in the OpenDriveMap.umap and that this will generate a procedural mesh for the roads with no texture and default vertex color?

This would mean that I could possibly add my textures in ther

[2021-04-22 14:40] cassfalg commented on #2287
To clarify, that part is for getting a directional vector for a pixel's origin -- for generating a point cloud for example. It's not necessary just to calculate the correct depth data. That's what this comment is for: https://github.com/carla-simulator/carla/issues/2287#issuecomment-588784029

If you do this often you may want to cache the factor per pixel since it does not change, and calculating

[2021-04-23 04:41] goksanisil23 commented on #2287
I dont think it has changed, Carla is just encoding what Scene Depth expression returns in Unreal.

https://docs.unrealengine.com/en-US/RenderingAndGraphics/Materials/ExpressionReference/Depth/index.html

And yes, `(diagDist / f)` correction that is applied for each pixel better be cached.

[2021-04-23 05:04] EchoYJJ opened #4131 "How to make a tunnel in CARLA?"
Hi! I'm trying to make a tunnel in CARLA as Town03 shows.
https://user-images.githubusercontent.com/75726020/115820632-cb896a80-a433-11eb-806c-bdd0599f67cd.MP4
I know in RoadRunner, the height of road can be adjusted to even negative value, but it's hard to adjust terrain in RoadRunner.

So, I turn to CARLA to use the assets in Town03 (e.g. SM_WallTunnel01, SM_ColumnTunnel).
However, when I import

[2021-04-23 06:09] HankYuan1101 commented on #4089
Hi @corkyw10, thanks for your feedback.

There is a lot of "can't find file" in the output. I'm not sure the connection between missing files and this error message.
But I export the UnrealUngine directory in the bashrc. Is there other directory setting?

Here is my full output after running your suggestion

[code]

[2021-04-23 06:56] NishanthARao opened #4132 "Changing Towns in CARLA 0.9.10"
Hi all.

I just wanted to know, how do you change towns during the execution of command ```make launch```? While launching the binary version, we can change towns via ```./CarlaUE4.sh Town07```, but that doesn't work in this case i.e., ```make launch Town07```. I wasn't able to find it in any of the documentations.

I am using CARLA 0.9.10 (Ubuntu 18.04) with Unreal Engine 4.24.3

Thanks a lot!

[2021-04-23 07:10] darld commented on #735
run make launch

error:
#include "PhysicsEngine/BodySetupEnums.h"
         ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
5 warnings and 3 errors generated.
Makefile:315: recipe for target 'CarlaUE4Editor' failed
make[1]: *** [CarlaUE4Editor] Error 6
make[1]: Leaving directory '/home/xxxx/carla/Unreal/CarlaUE4'
Util/BuildTools/Linux.mk:83: recipe for target 'CarlaUE4Editor' failed
make: *** [CarlaUE4Editor] Err

[2021-04-23 07:41] aakashsehgal commented on #4124
ok...so i need to shift to UE4.24 and Carla 0.9.11 right ?

[2021-04-23 07:42] aakashsehgal commented on #3119
Upgrading to 0.9.11 solved the problem. Thanks.

[2021-04-23 08:46] seuwcs commented on #4131
good questions

[2021-04-23 09:03] seuwcs commented on #4049
@gsmario  Sorry for disturbing. I'd like to know if the first view of drivers can be seen from carla?

[2021-04-23 09:55] corkyw10 commented on #4089
When you ran the command from this part of the [doc](https://carla.readthedocs.io/en/0.9.11/build_linux/#unreal-engine), did Unreal start up successfully?

[code]

And you downloaded all the assets correctly and they were extracted to `carla/Unreal/CarlaUE4/Content`?

[2021-04-23 12:14] jbenzhhn commented on #4124
Exactly :) For me it is working right now

[2021-04-23 12:21] TKeutgens opened #4136 "Logging object list of all dynamic objects"
I'm trying to run an OpenScenario file using the scenario runner and want to record an object list of all the dynamic objects with (position, velocity, acceleration, heading) to use as reference data.

I know that there is the Carla recorded (https://carla.readthedocs.io/en/0.9.11/adv_recorder/), but using the show_recorder_file_info.py I am only able to retrieve position information about the obj

[2021-04-23 16:17] ym2509 commented on #3859
Hi @jackbart94
Could you please tell me where in the manual_control.py client is the code located that drives the car to the end destination when autopilot is enabled? Is it using the behaviour or roaming agent modules?

[2021-04-24 00:13] arihant2math commented on #4087
@corkyw10 I am using windows.

[2021-04-24 08:08] OvO1111 opened #4137 "Problem running carla on ubuntu 18.04"
carla version 0.8.2 and I'm trying to reproduce the imitation learning result [here](https://github.com/carla-simulator/imitation-learning)
 However, when I open the carla server via `sh CarlaUE4.sh -carla-server -carla-world-port=5000 -windowed` the virtual machine warns me that my hardware does not support opengl 4.3 and recommends adding -opengl3 at the end of command line. So I did and the VM

[2021-04-24 11:29] raozhongyu commented on #3540
I met the same question, have you solve it

[2021-04-24 20:34] amirx96 opened #4140 "Traffic manager distance for leading vehicles not behaving as expected?"
** Carla Version: 0.9.11 **
** OS: Ubuntu 18.04 **

Using the following, I thought that the following distance should be bumper to bumper for each vehicle?:

[code]

But the cars still seem to have some distance even if these vehicles are moving or stopped?

E.g.:
![Screenshot from 2021-04-24 15-27-32](https://user-images.githubusercontent.com/28903705/115972182-74a69280-a512-11eb-9ef0-20334a3a14e

[2021-04-25 03:07] leeyuanalibaba commented on #2232
same issue,
4.26.1-0+++UE4+Release-4.26 522 0
Disabling core dumps.
X Error of failed request:  BadDrawable (invalid Pixmap or Window parameter)
  Major opcode of failed request:  149 ()
  Minor opcode of failed request:  4
  Resource id in failed request:  0x680003e
  Serial number of failed request:  399
  Current serial number in output stream:  409
terminating with uncaught exception of type s

[2021-04-25 12:32] qqqGpe opened #4141 "‘sensor_tick’ can't change the output rate of radar"
According to the document, 'sensor_tick' can change the simulation seconds between sensor captures, and I tried to change this attribute based on 'maunal_control.py' and monitor the interval of two consecutive radar captures, but it seems not work properly.

[code]
I used asynchronous mode, and I expect to get 2 radar outputs per second(2Hz),  but my output rate is about 20Hz. Can anyone help me t

[2021-04-25 15:17] qqqGpe commented on #4141
I set camera's 'sensor_tick' to 0.25 in the same way, and it works well. So is it a bug for radar?

[2021-04-25 15:21] qqqGpe commented on #4003
Hi, I just meet the same problem, do you have any solution?

[2021-04-25 15:37] yaadram commented on #4003
Ya, they fixed it in :[https://github.com/carla-simulator/carla/pull/3818]
You will need to rebuild Carla... A workaround is filtering frames arriving in Python...

[2021-04-26 02:27] ZhanYangFan commented on #3939
hello! boy, I miss the same problem,how do you solve the question.please help me! very thank you!

[2021-04-26 02:42] ZhanYangFan commented on #4042
Hi, I mission the same problem.are you has slove? please help me. very thank you

[2021-04-26 03:11] EchoYJJ opened #4142 "How to add many BP_XX in a line (like adding SM_XX by BP_RepSpline)"
Hi, everyone!
I've solved the problem about adding many trees in a line in https://github.com/carla-simulator/carla/issues/3981 by using **BP_RepSpline**.
However, this method can only use static meshes (i.e. SM_XX) like trees and wall, but it can't select blueprints like BP_Streetlight.
So, I'm wondering whether BP_XX can be added in a line (like adding SM_XX by BP_RepSpline).

If you know the an

[2021-04-26 03:30] qqqGpe commented on #4141
This bug has been fixed in the latest version.

[2021-04-26 03:30] #4141 closed

[2021-04-26 03:32] qqqGpe commented on #4003
thanks you very much!

[2021-04-26 07:28] glopezdiest commented on #3540
Hey, this issue is probably related to [this other one](https://github.com/carla-simulator/leaderboard/issues/81), which is a memory leak issue at the LB. We do know that it exists but we haven't found the problem yet

[2021-04-26 07:53] DSantosO commented on #4096
Hello @Stephanehk,
The options and the results described on that page are related to the current version of the script present in the `dev` branch that incorporates a few improvements in relation to the version in the 0.9.11 release. You can take a look and download this script [here](https://github.com/carla-simulator/carla/blob/dev/PythonAPI/util/performance_benchmark.py). If you are interested,

[2021-04-26 08:22] DSantosO commented on #4107
Hello @Stagakis,
No, I don't think you can recover the data for the spectator. As far as I see, I can recommend two options.
 - Take the spectator to a place where the rendering is trivial. For example, below the ground where no objects can be seen. In this case, this should provide a speed-up and the other camera should effectively be like your only camera.
 - In the current `dev` branch, we have

[2021-04-26 09:18] Stagakis commented on #4107
Thank you very much, I didn't think to try the overnight build.

[2021-04-26 09:19] DSantosO commented on #4067
Hello @Kaiwind88,

The LiDAR sensor incorporates some point dropoff to simulate the loss of points in actual sensors. If you want to really compare both sensors, you can tune the parameters to avoid dropping any points. Check the details [here](https://carla.readthedocs.io/en/latest/ref_sensors/#lidar-sensor).
I have checked the case with a LiDAR with parameters: `dropoff_general_rate=0.0` and `dr

[2021-04-26 10:17] onebitme commented on #4132
![image](https://user-images.githubusercontent.com/33605821/116067139-8d898200-a691-11eb-85fd-add5d15019dd.png)

I am not sure if this solves your problem but whenever I want to change the towns in UE4 Editor, I manually change the level from content browser

[2021-04-26 10:22] DSantosO commented on #4076
Hello @NurbekHalikulov,

Our lidar sensor has the method `save_to_disk` that saves the point cloud in `ply` format.
If VeloView does not support this format I see two options. One will be to convert his ply file to another format that VeloView recognoises. The other, and I think it can be better, is to write a callback for the lidar sensor in which you can get the data in raw format and write it t

[2021-04-26 10:38] onebitme commented on #4119
You might try something like this ( I did something similar with TCP/IP)

in your `carla_client.py`
[code]

[2021-04-26 11:03] #4031 closed

[2021-04-26 11:11] #3960 closed

[2021-04-26 12:30] #4107 closed

[2021-04-26 12:55] DSantosO commented on #4032
Hello @heethesh,
Thank you for your comment. This feature can be very interesting to add. Although it is not currently in our roadmap, we will consider it.
I am not sure how the LGSVL simulator does it but you are right about how it works in CARLA. One possible implementation of this can be modifying the origin of the raycast for each ray. As we are doing several rays of each channel for the whole

[2021-04-26 13:25] DSantosO commented on #4038
Hello @imoneoi,
Thank you for reporting this. I have checked and there is an error in the collision settings of these vehicles. We will upload the fix soon.

[2021-04-26 13:58] jackbart94 commented on #3859
The script ``manual_control.py`` is using the Traffic Manager, not the agent modules.

[2021-04-26 14:02] jackbart94 commented on #4140
There's always a minimum distance being kept between vehicle, and that parameter is meant to make it higher, not lower. Also, it only shows when the vehicles are stopped. If you want vehicles to ignore collisions between themselves, you can set the ``ignore_vehicles_percentage`` to 100.

[2021-04-26 15:20] DSantosO commented on #4027
Hello @zjh6252007,
I assume that you are talking about the server FPS that the `manual_control` is showing, right?
If you are in async mode (as the manual control is by default), the fps are given by the power of the machine so I would ask the same as @qhaas, how are the machines in which you are trying to run the server in terms of performance?

If you like you can benchmark both machines without

[2021-04-26 19:06] Gr8ayu commented on #81
Can we get an update on carla installable via Pip ?

[2021-04-26 19:14] Gr8ayu commented on #3964
is there any specific python version requirement for installing it on linux ? I am getting this while installing

[code]

[2021-04-26 22:32] egeonat opened #4144 "Carla replay_file does not allow synchronous replay"
Hello. I'm using Carla version 0.9.11 on Ubuntu to record a human driver, record their actions with the Carla logger, and then replay the recording with additional sensors following the tutorial at https://carla.readthedocs.io/en/latest/tuto_G_retrieve_data/

I need to use fixed time steps and synchronous mode to ensure the sensor data are all from the same time-step, with equal time between data

[2021-04-27 00:08] ymurzello commented on #3859
Thanks for your reply
There doesn't seem to be a TrafficManager.cpp in the [compiled version 0.9.9](https://carla-releases.s3.eu-west-3.amazonaws.com/Linux/CARLA_0.9.9.tar.gz).
Is it possible to modify `manual_control.py` so that when Autopilot is enabled it works with the Behavior Agent and I can set an end destination for the vehicle to drive to?

[2021-04-27 00:55] heethesh commented on #4032
@DSantosO Shifting the ray cast origin based on the vehicle motion model is a great idea! The implementation would also be computationally efficient avoiding simulation at very small time steps. However, the ray-cast returns and skew observed on dynamic objects in the environment would be incorrect in this case. I wonder if UE4 has a way to step through the motion model of only some objects such a

[2021-04-27 07:14] yuexishuihan commented on #3827
Not yet, I am currently exploring adding/modifying assets in carla, including cars,
Maps, weather, etc.

[2021-04-27 07:49] glopezdiest commented on #4125
Hey @cyber-loop. There is not :slightly_frowning_face:, you'd have to implement it. If you are using the *WalkerAIController*, pedestrians will ignore traffic lights. You might be able to manage it using their *WalkerControl*, but it's not a trivial task.

[2021-04-27 07:58] glopezdiest commented on #4110
Hey @nuomizai, as far as I know, the spectator is a camera which is the camera Unreal uses to show the scene, and there's only one. You can manually move and rotate it to your heart's content, which is definitely not something you can do with any other sensor.

If you want to show multiple ego vehicles, you are gonna have to create multiple cameras and render them using something like pygame (like

[2021-04-27 08:58] SimonLeeGit opened #4147 "coredump at client.GetWorld()"
hi all,
    I found a coredump at client.GetWorld() when my carla client startup. All the details are below:

![lADPD26eO5w5cmrNC9DND8A_4032_3024](https://user-images.githubusercontent.com/11291381/116214800-a79e8f80-a779-11eb-9a49-362fcb1e2322.jpg)

[2021-04-27 09:14] #4127 closed

[2021-04-27 09:45] nuomizai commented on #4110
Thanks for your reply, @glopezdiest ! I've created multiple cameras as you suggested and use opencv-python to render them.

[2021-04-27 11:03] namiota opened #4148 "PythonAPI apply_physics_control doesn't work for wheels"
Hello,

I'm using:
- Carla docker version (**carlasim/carla:0.9.11**)
- **carla_ros_bridge** docker version (built by docker/build.sh script, from master) on **ros:foxy**.

In **carla_ros_bridge** I launched example:
[code]
I'm trying to modify vehicle physics using example taken from: https://carla.readthedocs.io/en/0.9.11/tuto_G_control_vehicle_physics/

Unfortunately, not all parameters are cha

[2021-04-27 12:19] qqqGpe opened #4149 "Radial velocities of radar are not correct"
Version: Carla nightly version (donwload on 26 Apr. 2021)
OS: Windows 10
Python: 3.7

Hi, I want to sample some radar point cloud and radial velocities for my experiment, but I find that the radial velocities I got are totally wrong. I made some change in "manual_control.py", Here is all the change I made:

[code]

a console output snippet is showed below, it looks quite normal.

[code]

But the d

[2021-04-27 12:58] #4110 closed

[2021-04-27 13:34] psarka commented on #3964
Yes, python 3.6, 3.7 or 3.8.

[2021-04-27 15:24] annaornatskaya opened #4151 "Orthographic projection"
Hello!
I added the choice of the projection type to CARLA's RGB camera but run into a problem: when I choose the orthographic projection the image is shifting at every tick, while camera is in the same location. But when I choose the perspective projection and then I change the type to orthographic in UE4 Editor (after beginning of the simulation), everything is ok.
Maybe someone knows something a

[2021-04-27 15:33] DSantosO commented on #4032
Hello @heethesh,
That's true, the dynamic objects will be frozen in the current position.
There is also another possibility. Right now, between two steps we perform a configurable number of [substeps for physical computations](https://carla.readthedocs.io/en/latest/adv_synchrony_timestep/#physics-substepping).
There is a way of adding logic in these substeps but I don't know if we can do raycastin

[2021-04-27 16:10] #3298 closed

[2021-04-27 16:10] #3184 closed

[2021-04-27 16:10] #3173 closed

[2021-04-27 16:10] #3223 closed

[2021-04-27 16:10] #3206 closed

[2021-04-27 16:10] #3199 closed

[2021-04-27 16:10] #3210 closed

[2021-04-27 16:10] #2943 closed

[2021-04-27 16:10] #3167 closed

[2021-04-27 16:10] #2923 closed

[2021-04-27 16:10] #3221 closed

[2021-04-27 16:10] #3194 closed

[2021-04-27 16:10] #3442 closed

[2021-04-27 16:10] #3279 closed

[2021-04-27 16:10] #2768 closed

[2021-04-27 16:10] #3187 closed

[2021-04-27 16:10] #3172 closed

[2021-04-27 16:27] JimmysCheapJeep commented on #3836
We found that the performance running carla on Ubuntu 20.04 is better, but the main problem still exists....

[2021-04-27 16:39] qhaas commented on #3964
Official support would be welcome (i.e. `make PythonAPI` defaulting to WHL), our HPC system administrator removed `easy_install` and thus `egg` support due to upstream deprecation.

[2021-04-28 01:55] qqqGpe commented on #4149
@doterop Could you please help me to figure this out?

[2021-04-28 03:47] #4096 closed

[2021-04-28 04:55] amirx96 commented on #4140
@jackbart94 Thanks for the clarification. Setting `ignore_vehicles_percentage` to 100 certainly did make vehicles collide - but this happened even when distances were `set_global_distance_to_leading_vehicle(100.0)`

I guess the sort of functionality I am looking for is where the vehicles follow a particular spacing policy. I'll probably have to modify the motion planning code to do that.

[2021-04-28 04:55] #4140 closed

[2021-04-28 08:13] glopezdiest commented on #4001
Hey @AIasd, sorry for the delay. Could you specify which versions are you using of CARLA, SR and Leadeboard? Additionally, have you modified the Leaderboard? Because your sensor configuration is weird. Your cameras are fine but you added the `sensor_tick` to the IMU and GNSS, which aren't being parsed (check [here](https://github.com/carla-simulator/leaderboard/blob/master/leaderboard/autoagents/a

[2021-04-28 08:15] nuomizai opened #4154 "what is the default fps value for carla server"
Does anyone know what is the default fps value for CARLA server? I didn't find that in the document.

[2021-04-28 08:30] lish0 opened #4155 "spawn walkers error with python exit code 139 (interrupted by signal 11: sigsegv)"
I tried to spawn walkers with spawn_npc.py, but found the process died at world.get_random_location_from_navigation(). Do I misconfigure something? I use python3.9.4 as interpreter.

[2021-04-28 10:40] SimonLeeGit commented on #2899
hi, I'm doing the same thing right now. And I have found a way to achieve this. If I run carla without camera sensor support, I can use the dedicated server mode, and it can run with a no rendering mode other than offline rendering. It's useful when I do the simulation for traffic world.

[2021-04-28 11:13] #3596 closed

[2021-04-28 11:13] #3535 closed

[2021-04-28 14:15] Saquib764 commented on #3552
I am also getting the same error.

I am following these instruction - https://carla.readthedocs.io/en/0.9.10/tuto_A_add_map/#map-ingestion-in-a-build-from-source

Using the following command in the above documentation doesn't work -
[code]
therefore I used - `make import` instead, which leads me to the error -
[code]

[2021-04-29 00:02] AIasd commented on #4001
Hi @glopezdiest  , I used the [Learning By Cheating version of Leaderboard](https://github.com/bradyz/leaderboard) but I updated it according to the latest SR for 0.9.11. The agent_wrapper I am using from [here](https://github.com/bradyz/leaderboard/blob/7104247204e0e591d43640d2c98490533bc5bbb8/leaderboard/autoagents/agent_wrapper.py) which supports the semantic segmentation camera. Also since `se

[2021-04-29 05:50] GeraldGuo7 commented on #894
1.**cd**
2.type gedit BuildCarlaUE4.sh like this
guod@guod-B460MDS3H:~$ **gedit BuildCarlaUE4.sh**
3.replace it with your specific UE path
**export UE4_ROOT=~/UnrealEngine_4.22**
4.**make launch** under your carla folder

[2021-04-29 07:08] GeraldGuo7 commented on #4103
I finally met the same problem and confused about these two fatal errors.
Personally,  this icon should be remarkable or place in the top of the Carla website with the red color.

[2021-04-29 07:36] glopezdiest commented on #4001
Yeah, indeed, just wanted to make sure about it.

Some explanation, what the leaderboard does is create a queue where all the sensor data is palced, and at some point, that data is retrieved, and sent to the agent. If there are less elements than sensors, it means that a sensor hasn't sent their data yet, so it waits. This is done [here](https://github.com/bradyz/leaderboard/blob/7104247204e0e591d

[2021-04-29 07:54] umateusz commented on #3945
I ran into the same problem. I think the actor list is not populated before the first tick after client initialization. For me:
[code]
solves the problem, but I think this is not the correct client behavior.

[2021-04-29 08:31] gumpcarl commented on #2862
wrong boost version

[2021-04-29 11:09] gumpcarl commented on #2635
There is no clang(++) link to binary. You can link clang++ or clang manully.

[code]
The terminal will show

/usr/bin/clang -> ../lib/llvm-6.0/bin/clang
/usr/bin/clang++ -> ../lib/llvm-6.0/bin/clang++

[2021-04-29 13:51] NurbekHalikulov opened #4159 "lidar signal intensity does not change in rain"
Does the lidar.ray_cast performance change when it is heavy raining?

I checked in 30 meters measurement range for both ClearNoon and HardRainNoon. For both cases, the lidar intensity shows 0.85
No change in intensity when the weather is changing

def lidar_callback(point_cloud):
    data = np.copy(np.frombuffer(point_cloud.raw_data, dtype=np.dtype('f4')))
    data = np.reshape(data, (int(data.sha

[2021-04-29 13:53] #4076 closed

[2021-04-29 21:38] #4116 closed

[2021-04-29 21:39] #4120 closed

[2021-04-30 07:30] zhenweique commented on #21
what can I do with the error in Win10:The graphics driver crashes and resets, make sure your graphics driver is the latest, exiting

[2021-04-30 08:30] NurbekHalikulov opened #4161 "intensity of lidar data loss due to weather, target material type or attenuation_rate??"
Could you please confirm that the reduce in intensity of lidar output only by means of attenuation_rate can be achieved? Material and rainy weather do not have any effect on the intensity and detected points of lidar sensor?

[2021-04-30 09:18] NurbekHalikulov commented on #4161
Thanks @XGodina , weather does not affect the lidar output data

[2021-04-30 09:30] NurbekHalikulov commented on #4161
It was confirmed also that materials it does not affect LIDAR. Only drop_off, attenuation_rate and noise_stddev affect the lidar sensor performance

[2021-04-30 09:30] #4161 closed

[2021-04-30 09:31] NurbekHalikulov commented on #4159
Rain does not affect on lidar output

[2021-04-30 09:31] #4159 closed

[2021-04-30 09:36] corkyw10 commented on #4087
Hi @arihant2math, sorry for the misunderstanding. Can you look in the directory `carla\PythonAPI\carla\dist\` and check the `.egg` file there? It should look like this `carla-<version>-py3.7-win-amd64.egg`. The part `py3.7` will indicate the version of Python that should be used, it's normally 3.7 in the package versions. Can you confirm that you are running the scripts with Python 3.7?

[2021-04-30 11:50] jayabrata97 commented on #4132
Hi,
 I am using CARLA 0.9.10. I have used quick start installation on Windows10.  Can anyone please tell me how can I use Town06 in Windows? I can use Town04 by running python3 config.py --map Town04, but cannot use the same command for Town06.

[2021-04-30 12:08] Kait0 commented on #3180
Hi,

I would like to report a similar issue:
When I run CARLA for longer periods of time (>1hour, also sometimes happend earlier when I was debugging), with a leaderboard client, the CARLA server crashes with the same "Fatal Error!" message as shown above.
I am using CARLA version 0.9.10.1
System: Windows 10
CPU: Intel i7 6th gen and 9th gen (happens on both machines)
GPU: GTX 980, RTX 2070 (Lapto

[2021-04-30 23:45] AIasd commented on #4001
Hi @glopezdiest ,

I will give this a try and report the results back in a couple of days. Thanks in advance!

[2021-04-30 23:52] arihant2math commented on #4087
I was using python 3.9, using 3.7 fixed the problem.

[2021-04-30 23:52] #4087 closed

[2021-04-30 23:53] arihant2math commented on #4155
Use python 3.7 instead, see #4087

[2021-05-01 00:34] rrrokhtar commented on #1037
@rikardomarenzzi  Can you mention the settings please

[2021-05-01 02:35] icaropires commented on #1465
Just to help anyone googling, in Linux with CARLA 0.9.11, it's under `~/.config/Epic/CarlaUE4/Saved/manual_recording.rec`.

[2021-05-01 04:07] simplexity-kaiou opened #4162 "Collect training data use keyboard"
Hello!
I want to use keyboard to control the vehicle and collect images and information of vehicle like "throttle","steer","brake" at the same time to use imitation learning. What should I do about this or is there any examples like this?

[2021-05-01 05:08] bonniesjli commented on #3173
Any update on this?
I'm having the same issues running CARLA_0.9.6 on virtual machines. -opengl still give the same error

$ DISPLAY= ./CarlaUE4.sh -opengl
4.22.1-0+++UE4+Release-4.22 517 0
Disabling core dumps.
error: XDG_RUNTIME_DIR not set in the environment.
Signal 11 caught.
Malloc Size=65538 LargeMemoryPoolOffset=65554
CommonUnixCrashHandler: Signal=11
Malloc Size=65535 LargeMemoryPoolOffset

[2021-05-02 15:22] hynkis commented on #4012
In my case, when I started the simulator using './CarlaUE4.sh -opengl -quality-level=Low', there is always the flickering issue.
However, using './CarlaUE4.sh -quality-level=Low' without 'opengl' option, there is no flickering issue.

[2021-05-02 22:27] by-seong-me commented on #4103
@GeraldGuo7 Yes, I totally agree with that.
And also, I figured out above issues.
I recommend that "do not use virtual environment when building Carla"

[2021-05-02 23:14] josephzhaoballer commented on #3430
I changed the timeout to 5 seconds and it worked.

[2021-05-03 03:04] squizz617 opened #4166 "Simulation error - control commands from Autoware are not being applied"
Hi.
While simulating an Autoware agent in Carla 0.9.10.1, I ran into a simulation bug that's causing the vehicle to crash. Please see below for detailed information.

### Required information:

- Operating system and version: Ubuntu 18.04
- CARLA version: 0.9.10.1 (docker image: `carlasim/carla:0.9.10.1`)
- Autoware version: 1.14.0 (docker image: `autoware/autoware:1.14.0-melodic-cuda`)
- Bridge:

[2021-05-03 03:53] Schuck84 commented on #3496
Hello,
I have also observed the same problem.
The current example isn't working and there is no documentation in which coordinate system (transforms) the bones must be controlled.
Are the transforms in world or local coordinates?
Is it possible to read out the initial transforms somewhere or calculate them?
Maybe UE4 Editor skeleton + actual world transforms in Simulation?

[2021-05-03 03:56] Schuck84 commented on #4084
Hi,
It would be great to get that function.
Could you give some hint to implement it self?
What files must be modified?
How is the information transferred from server to client?
What UE C++ function must be called?

[2021-05-03 03:57] zjh6252007 commented on #4027
Hello @DSantosO
I used the manual_control. The configuration of the server and client is exactly the same. When I ran the client, the fps shows on the screen is about 70-80 but I do feel it can only be 20-30 fps.

I also found that the network rate seemed to have a big impact on the fps. I first used WiFi to connect the server. Even though the number of frames on the screen is 70-80, the actual fp

[2021-05-03 04:27] HeuristicOctopus opened #4167 "Spawning small objects fall through roads at times"
If user has a small prop - (in my example .2m x .2m x .1m) and several instances are spawned above road or terrain - some of the instances do not collide with the road. From what I have seen thus far - it has something to do with the speed at which the object collides (or fails to collide) with the road/terrain.

to reproduce - make a .2m x .2m x .1m prop with a mesh collider (UCX). spawn 10 appro

[2021-05-03 04:34] zjh6252007 opened #4168 "is it possible to stream the data to another client"
Now I'm connecting two clients to one server use the manual_control.py.  Is it possible to stream the data such as speed, throttle, coordinates from one client to another client?

[2021-05-03 06:53] lish0 commented on #4155
Thanks for your reply. But I was able to install .egg file and import carla, In my carla workspace, vehicles can be successfully spawned while the pedestrian can't.

[2021-05-03 08:16] bernatx commented on #3496
Hi,

All what you can do with pedestrian bones so far is documented here:
https://carla.readthedocs.io/en/latest/tuto_G_control_walker_skeletons/#manually-control-walker-bones
Bones are always relatives to his parent, so no world coordinates, they are local relative to parent.

[2021-05-03 14:58] analog-cbarber commented on #3496
Yes, but those instructions really aren't sufficient. It requires a lot of careful experimentation to figure out how to pose the figure using this API.  The API isn't really parent relative. If you modify a joint without ever modifying the child joints, then indeed the whole unit will move relative to the parent joint, but the coordinates are relative to a point at the figure's feet, and are not r

[2021-05-03 15:04] Karthikeyanc2 commented on #3801
I am also facing this problem.

[2021-05-03 15:23] bernatx commented on #2987
Hi @jrefi, Road Runner is not needed for importing maps but only recommended because it makes the process of creating a map easier. But whatever you want to import, you need to have a .FBX file with the geometry of the map (also materials you want to use) and a .XODR (openDRIVE) with all the road network information. That is not related to Road Runner, any other software that create those files is

[2021-05-03 16:34] NikhilKalghatgi commented on #3430
Can you please tell in which file you increased the timeout?

[2021-05-03 17:44] josephzhaoballer commented on #3430
client.set_timeout() look for this in which ever file you are running

[2021-05-03 18:07] AIasd commented on #4001
Hi @glopezdiest ,

The following is the output of a timeout after I uncommented the prints.

[code]

and this one is the output of a successful run.
[code]

The program has successfully finished ~10 scenarios with output similar to the second block and then for the next scenario it outputs the output similar to the first block and times out.
The difference between the two output blocks in this cas

[2021-05-03 20:35] Schuck84 commented on #3496
@analog-cbarber could you tell me where to start in the communication chain from PYTHON API to Unreal C++ API to implement further commands?
Like read out the actual transforms from the bones?
I want to understand how are the function calls nested.
Could you help me regarding this?

[2021-05-03 20:49] analog-cbarber commented on #3496
I didn't actually look at the C++ code and there does not appear to be a way to read out the current settings. I just experimented with the Python code by setting each joint until it looked like it was in the right place more or less.

But in order to create a usable API based on relative rotations of the joints, you need to compute the chain of transforms back to the root location. I personally u

[2021-05-03 21:18] arihant2math commented on #4155
What is is run command, is it `python3 spawn_npc.py` (`python spawn_npc.py` for windows users)?

[2021-05-03 22:17] YWangXJ commented on #3997
same issue. I tired to reinstall docker but the error is still there. Interesting thing I noticed last time is that my computer have freezed for couple of minutes, and then the error pops up. As shown in the figure below.
![image](https://user-images.githubusercontent.com/44100593/116940064-59870180-ac3b-11eb-8dcd-411b0c4328c6.png)

Is this caused by the system freeze?  If so, how to prevent that?

[2021-05-04 07:04] glopezdiest commented on #4001
Exactly, it doesn't seem to be sent on the first frame, which causes it to trigger the timeout. Okay, I'll check how you are setting up the semantic camera and report back, but so far I haven't seen anything weird.

[2021-05-04 17:44] squizz617 opened #4172 "Inconsistent simulation of an Autoware agent"
Hi.
I have been simulating an Autoware agent with CARLA 0.9.10.1, and experienced inconsistent simulation results.
Given the same mission to drive about 100 meters following a straight lane on the same map (Town 04) with the same environments, there are cases in which the vehicle deviates from the lane with no reason. The same deviation happens in about 10% of the total instances. Please see below

[2021-05-05 09:24] corkyw10 commented on #4118
Hi @shanshan1405, can you provide some more context please?

[2021-05-05 09:25] #4124 closed

[2021-05-05 10:15] KuldeepDileep commented on #3215
@Aravindseenu didnt work for me. I am still getting the following error:
ImportError: cannot import name 'sensor' from 'carla' (/home/kuldeep/Downloads/CARLA_0.9.10/PythonAPI/carla/dist/carla-0.9.10-py3.7-linux-x86_64/carla/__init__.py)

[2021-05-05 10:19] glopezdiest commented on #4108
Hey @Chiakiaki, indeed we saw it after the release of 0.9.11 and we fixed it later on (current *dev* doesn't have this issue). However, I can't seem to find the commit where we fixed it, and we swapped to unreal 4.26 so it might be tricky to just upgrade to current *dev*.

[2021-05-05 10:19] KuldeepDileep commented on #3083
@Axel1092 it didn't work for me
**Commands:**
pip3 install -Iv setuptools==47.3.1
sudo python3 module_7.py
**Error**
ImportError: cannot import name 'sensor' from 'carla' (/home/kuldeep/Downloads/CARLA_0.9.10/PythonAPI/carla/dist/carla-0.9.10-py3.7-linux-x86_64/carla/__init__.py)

[2021-05-05 10:35] syveqc opened #4173 "get_waypoint does not return closest waypoint"
Hello,

we recently discovered that `map.get_waypoint(pos)` does not return the closest waypoint to the given location sometimes, see the following test script:
[code]

By searching nearby waypoints for closer ones, we get quite some distance between this waypoint and the one `map.get_waypoint` returns. The output of the script is
[code]

We currently use this method to get a vehicles offset from

[2021-05-05 10:40] Chiakiaki commented on #4108
@glopezdiest Thank you for your reply. You said you wrapped it to unreal 4.26. Could I simply replace the 'CarlaUE4' folder with current dev, without changing other parts such as 'pythonAPI' folder?

[2021-05-05 10:42] glopezdiest commented on #4108
Not sure, but I really don't recommend it

[2021-05-05 13:11] vibhoraggarwal commented on #4052
For someone following this issue: There would be a link on the email id attached with the github profile with the link to become a member of the Epic Games community

[2021-05-05 15:31] Aravindseenu commented on #3215
from your terminal I can see the default path of the project are changed.(course1finalproject) which should be in the path.

in you case your are calling a module sensor from carla which is not in the required directory. I think this should be the problem.

try downloading latest version and make sure python version is 3.7.4 if python3 is used. if every thing is configured properly then you should

[2021-05-05 18:01] KuldeepDileep commented on #3215
@Aravindseenu Thankyou so much for your prompt response. Actually, the built-in examples of CARLA work for me. I am trying to run module_7.py file from [https://github.com/paulyehtw/Motion-Planning-on-CARLA](url). I have unzipped the content of [https://github.com/paulyehtw/Motion-Planning-on-CARLA](this) repository in /home/kuldeep/Downloads/CARLA_0.9.10/PythonAPI though it says to put the folder

[2021-05-05 18:25] Aravindseenu commented on #3215
Hello @KuldeepDileep
Your problem is caused due to the misplacing of the python scripts.
when you try to import module from a script it has to be in proper folder for python to import the module.

if your are able to run the examples , edit the script as per the examples (check how the running examples calls the sensor)

I can understand the problem now.. the error is should be queried at https://

[2021-05-06 02:29] Kakaluoto opened #4174 "Does Carla have weather presets?"
I  adjust weather parameters one by one manually to get a good weather effect,but it's not convinient to get a set of my own weather preset.

[2021-05-06 06:33] #4174 closed

[2021-05-06 11:35] LittlePower97 commented on #2737
@ImtiazUlHassan

Hello ! First of all, thank you for sharing this code ! It was very usefull.

I was trying to understand it thoroughly when I subbled upon a slight error in the code.

`N = a / math.sqrt(1 - e_sq * s * s)`

It should be, according to the formula :

`N = a / math.sqrt(1 - e_sq * e_sq * s * s)`

Here's the link for the correct formula :
https://en.wikipedia.org/wiki/Geographic_coord

[2021-05-06 12:48] LittlePower97 commented on #2737
Hey guys @ImtiazUlHassan  @kamiladamczyk
Also I have one slight question about this part :

`point_latitude=48.99950150520519`
`point_longitude=8.002271254544008`
`point_altitude=1.9948198795318604`

`origin_latitude=49.000000`
`origin_longitude=8.00000`
origin_altitude=0.0000`
`

Let's say I'm using a gnss sensor on my car in order to measure its position.
The **lat**, **lon** and **h** I receive

[2021-05-06 13:37] glopezdiest commented on #2737
Hey @LittlePower97, the georeferences are part of the xodrs, and up until a couple releases, they were all [49,8,0] (when we changed the references to all zeros). In any case, you can always get the opendrive content with `map.to_opendrive()` and the georeference, using the following code as template:
[code]

[2021-05-06 13:53] LittlePower97 commented on #2737
Hello @glopezdiest ,
Thank you for your answer !
I was actually looking into the Town01.xodr file when I saw your message !

So :
--> origin_latitude= `+lat_0` (=0)
-->origin_longitude= `+lon_0` (=0)

But what about the
--> origin_altitude

What does the **k** represent here, is it the altitude ?
`<geoReference><![CDATA[+proj=tmerc +lat_0=0 +lon_0=0 +k=1 +x_0=0 +y_0=0 +datum=WGS84 +units=m +geoidg

[2021-05-06 14:02] glopezdiest commented on #2737
To be honest, no idea, I've always worked with origin altitude equal 0 and I've never had any problem. Maybe as the altitude and the z are the same (but shifted by the origin altitude), it doesn't create any problems

[2021-05-07 12:12] varunjammula commented on #2809
@egeonat Did you try the synchronous_mode in the PythonAPI examples folder? They changed the way the synchronous mode works, I think. If you follow the example, it should work and this issue will not happen again.

[2021-05-07 14:12] FAM-vive commented on #3397
hello, I meet the same error, how do you solve that? can you tell me? Thanks!

[2021-05-07 14:43] FAM-vive commented on #3397
@yumianhuli2

[2021-05-07 17:26] egeonat commented on #2809
@varunjammula I am trying to use CARLA for RL training so my code has some differences, but I have mostly followed the synchronous_mode.py example. I believe my problem might be slightly different than the original poster, as when I call `world.tick()` the call doesn't timeout. It simply hangs forever. That is why I was wondering if perhaps new issues were introduced to the simulator with the PR,

[2021-05-08 01:04] AIasd opened #4177 "Software requirement error when building CARLA from source on Linux"
Hi,

I am following [this instruction](https://carla.readthedocs.io/en/latest/build_linux/) to install UE4.24 and build CARLA (master branch) on Ubuntu18.04.

When I run the suggested commands to satisfy software requirements
[code]
I encountered the following error:

[code]

I guess because of the above error, when I proceed to the command
[code]
to compile the CARLA client, I encountered the fol

[2021-05-08 01:43] mantkiew opened #4178 "fatal errors in make launch on Ubuntu 18.04"
Carla (`master`)  on commit
[code]
Unreal `4.26`.

Executed installation on Ubuntu 18 steps precisely according to [Build on linux](https://carla.readthedocs.io/en/latest/build_linux/).
It is a clean fresh installation. Everything cloned fresh.
[code]

`make launch` errors with
[code]

I tried `make clean` and `make hard-clean`. I made sure not to open the CarlaUe4 project before building carla it

[2021-05-08 04:47] SachinHolalkeri opened #4179 "make launch error message box (win 10, carla 0.9.11, unreal engine 4.24.3)"
I'm using Carla 0.9.11 and Unreal engine 4.24.3 on windows 10 followed all the steps during installation.

- While executing `make launch`, after completing 45% of initialisation this message box pops up

![IMG_20210508_101451~2.jpg](https://user-images.githubusercontent.com/70910665/117527008-4cc12f80-afe6-11eb-8552-6a36829c9166.jpg)

There's no folder by name Materials and Game in my Carla

- An

[2021-05-08 06:12] GeraldGuo7 commented on #4178
I found the Carla developer's answer for the same question, and obviously when I look into these error files, I can fix the first misleading indentation typo of 'if',but I have no idea about the second path issue.So I gave it up totally and move to the stable version which is carla 0.9.11.That is pretty good at least until now.
So my suggestion is to use the stable version not the underdeveloped v

[2021-05-08 09:11] GeraldGuo7 commented on #4103
Right, and I didn't delve into the error files so I have no idea about what happened.
I think the latest one is still under development so some paras and files are missing.
I decided to use the version 0.9.11 and everything looks well until now.

[2021-05-08 09:12] GeraldGuo7 commented on #4103
Right, and I didn't delve into the error files so I have no idea about what happened.
I think the latest one is still under development so some paras and files are missing.
I decided to use the version 0.9.11 and everything looks well until now.

[2021-05-08 09:13] GeraldGuo7 commented on #4103
@by-seong-me Right, and I didn't delve into the error files so I have no idea about what happened.
I think the latest one is still under development so some paras and files are missing.
I decided to use the version 0.9.11 and everything looks well until now.

[2021-05-09 12:20] burakikanyildiz opened #4180 "--quality-level=Low setting gives LowLevelFatalError line 139 Windows10"
Hello,
Getting the error described in the title. Since hardware is not level high, I'm trying to set quality level to Low mode. However,  when I run the command "CarlaUE4.exe --quality-level=Low" I get the LowLevelFatalError and does not start.

when I start without any quality level option, It is started in Epic mode. Is there any way to fix this issue or any workaround to set quality-level Low ?

[2021-05-09 17:43] debanik123 commented on #3196
use that
./CarlaUE4.sh -opengl

[2021-05-10 08:02] peerayafern opened #4184 "I accidentally deleted BP_TrafficLightGroup and cannot bring it back"
I accidentally deleted Event Graph and Update Traffic Lights of BP_TrafficLightGroup.
Then, I found that it has been saved in Saved/Backup. So, I copied and pasted them back into Event Graph and Update Traffic Lights. However, the Carla still shows this error to me. How can I bring back the complete BP_TrafficLightGroup as the original?
![Screenshot from 2021-05-10 15-59-32](https://user-images.gi

[2021-05-10 10:37] dhiegomaga commented on #225
Then [this tutorial](https://carla.readthedocs.io/en/0.9.5/carla_headless/) is also obsolete?

[2021-05-10 10:50] nikhilkalghatgi opened #4185 "Scenario Runner: watchdog timeout error"
I am trying to execute a scenario using scenario_runner , however when i run it i am getting this error at random frames:
**Watchdog exception - Timeout of 11.0 seconds occurred**

I found out that the server gets stuck after calling .tick() from scenario_manager.py:
**CarlaDataProvider.get_world().tick(10)**
As you can see i've given timeout parameter as 10 seconds and yet i'm seeing this error.

[2021-05-10 11:40] GeraldGuo7 commented on #1572
It looks like Carla has some connection with Mathworks and does anyone find a way to use other software to generate .fbx and .xodr files?
If I just want to use a simple map which does not have road standards, can I just export the .fbx file to do the simulation?
Thanks in advance.

[2021-05-10 11:57] dhiegomaga commented on #3431
I thought whole point of using Docker is not to need a display, if you are running on a remote server for instance:

https://carla.readthedocs.io/en/0.9.11/build_docker/

[2021-05-10 12:03] GeraldGuo7 commented on #4056
"manual_control_steeringwheel.py " this file need to be modified for the logitechg29 and you need to add the config.ini.You can find some tutorials in the internet.
I just got into the shallow part about the Carla simulator and luckily I solved this issue with Carla version 0.9.11.

[2021-05-10 12:13] dhiegomaga commented on #1892
@yshen47

What does "wrap the docker command" mean? This?

`sudo nvidia-docker run -it --rm  carlasim/carla:0.9.10 SDL_VIDEODRIVER=offscreen SDL_HINT_CUDA_DEVICE=0 ./CarlaUE4.sh -ResX=800 -ResY=600 -nosound -windowed -opengl`

I get this error:

`docker: Error response from daemon: OCI runtime create failed: container_linux.go:367: starting container process caused: exec: "SDL_VIDEODRIVER=offscree

[2021-05-10 12:47] dhiegomaga commented on #3431
Doing:

`sudo nvidia-docker run -it --rm  carlasim/carla:0.9.10 /bin/bash`

and then:

`SDL_VIDEODRIVER=offscreen ./CarlaUE4.sh -opengl`

I get the same results as @lz1159435992:

But maybe this is normal? When checking `nvidia-smi` it does appear to be using the card. However, I am unable to connect to the carla-server using a local client...

[2021-05-10 12:49] dhiegomaga opened #4188 "Carla-client error while trying to connect to server running in local docker container"
Doing:

`sudo nvidia-docker run -it --rm  carlasim/carla:0.9.10 /bin/bash`

and then:

`SDL_VIDEODRIVER=offscreen ./CarlaUE4.sh -carla-world-port=2000 -opengl`

I get these results:

Do these errors mean anything? The process is still running. When checking `nvidia-smi` it appears carla is using the graphics card:

[code]

 **However, I am unable to connect to the carla-server using a local client

[2021-05-10 13:22] dhiegomaga commented on #4188
I found the problem. It was discussed [here](https://github.com/carla-simulator/carla/issues/3476).

When running the docker, the port should be specified:

[code]

Then carla can be started headless on the docker, and accessible on port 2000:

[code]

[2021-05-10 14:40] LittlePower97 commented on #697
Hey guys,

I had the same problem, and changing the client.timeout() was fixing it.
`RuntimeError: time-out of 12000ms while waiting for the simulator, make sure the simulator is ready and connected to localhost:2000`
So what I did is that I have a time.sleep(5) at the beginning of my code.

[code]

Tell me what you think about it, and if it fixes your Runtime Error or not.
Have a good day !

[2021-05-10 14:44] guygo12345 opened #4189 "Problem with bounding boxes of 2 wheels vehicles"
Hey!

I'm trying to get the bounding boxes of all the vehicles in a frame.
I'm iterating over the vehicle type actors and extract their bounding boxes with actor.bounding_box API
This works pretty much good, but in some cases I get wrong bounding boxes specifically on bicycles and bikes.
The result is that zero width boxes, with wrong location/rotation. It's even more weird because I do get the ri

[2021-05-10 19:40] #4019 closed

[2021-05-11 09:06] corkyw10 commented on #4147
Hi @SimonLeeGit, could you post the output of the error and the command you ran in text format here rather than a photo? What version of carla are you running?

[2021-05-11 14:26] hiry27 opened #4191 "Retrieve edge's Speed in a Carla MAP"
Hello Everyone,
I am trying these days to retrieve the speed from every edge in a Carla map.
is there a way or a function from the Python API that will help me to do this? Till now I have not found it.
Thank you for your answers

[2021-05-11 15:02] qhaas opened #4192 "Document API calls in the examples"
The [`set_pedestrians_cross_factor` function of `carla.World` is invoked in the official 0.9.11 pythonapi examples](https://github.com/carla-simulator/carla/blob/0.9.11/PythonAPI/examples/spawn_npc.py#L258).  But, it does not appear in the [documentation](https://carla.readthedocs.io/en/0.9.11/python_api/#methods_58).  It would be useful to developers to document any API calls used in the official

[2021-05-11 15:31] #4178 closed

[2021-05-11 15:34] #4179 closed

[2021-05-11 18:39] OmarShawky1 opened #4193 "cannot Find "xdg-user-dir: not found""
This issue was asked before but not answered [https://github.com/carla-simulator/carla/issues/3444](herel) but to no avail.

This is my containerRunFile:
[code]

this is the output of running `$./RunCarla.sh`:
[code]

I tried to check the file Carla run file, but i couldn't reach out to the source of the problem.
[code]

[2021-05-11 20:20] vgoklani opened #4194 "Possible to run carla on a remote machine using docker, and then connect via VNC on my mac?"
Hey there,

Is it possible to run carla in a docker container on my remote workstation and then VNC the video to my mac? It doesn't have to be VNC, etc, I just want to run the docker container headless, and then view the video/output my mac laptop. Thanks!

[2021-05-12 07:12] EchoYJJ opened #4195 "How to add attribute to blueprint? (e.g. add bounding_box to static.prop.box01)"
Hi, everyone! I'm trying to add static.prop* in co-simulation between SUMO and CARLA.
However, unlike vehicles, when I add static.prop, it will show "AttribureError: 'Actor' object has no attribute 'bounding_box'"
If you know how to add this attribute, please give me some advices, thanks in advance!

[2021-05-12 08:40] HarishKumar051993 opened #4196 "Get current RPM of vehicle"
Hi, I'm trying to find a way to get the current revolutions per minute (RPM) of any wheel at a given time via the Python API.
I know I can get the throttle level and the max RPM of the engine via VehiclePhysicsControl, so in theory I could just derive the wheel RPM from there. Due to gearbox properties etc. that value will be pretty inaccurate I guess.

Is there a way to access wheel RPM via the P

[2021-05-12 09:33] corkyw10 commented on #4154
Hi @nuomizai, there isn't really a default fps per say. The default for carla is to run in asynchronous mode with a variable time step, in that case the simulation speed will be driven by the power of your machine. There's more info about it [here](https://carla.readthedocs.io/en/0.9.11/adv_synchrony_timestep/#possible-configurations)

[2021-05-12 09:34] nimishamanjali commented on #697
Hello could you tell me in which python file you did the modification?

[2021-05-12 09:36] corkyw10 commented on #4155
Hi @lish0, are you using a custom map or one of the CARLA maps? What version of CARLA are you using? What output do you get with `python3 spawn_npc.py -n 0 -w 10`?

[2021-05-12 09:37] DSantosO commented on #4149
Hello @qqqGpe,
There is a couple of things that I don't see correct in your computations. As I imagine that you are in asynchronous mode, be very careful about what you compare. The client is going to receive the callback of the radar at some point after is being computed so don't use `time.time()` to compute the time. That has nothing to do with the simulation time and it is being saved when the

[2021-05-12 09:42] DSantosO commented on #4151
Hello @annaornatskaya,
What do you mean that the image is shifting? As if the camera were moving in one direction?
Also, can you give us more details on how you add the option for the orthographic projection in the RGB Camera?

[2021-05-12 09:43] LittlePower97 commented on #697
Hey @nimishamanjali ,

This is a python file I created. But you could add `time.sleep(5)` before `carla.Client('localhost', 2000)` in any code I guess.
On my code, I also open Carla directly from the script, with the following lines :
[code]
Tell me if you have other questions !

[2021-05-12 09:44] corkyw10 commented on #4162
Hi, `manual_control.py` is an example of how to do that. It's in `carla/PythonAPI/examples`

[2021-05-12 10:23] DSantosO commented on #4167
Hello @HeuristicOctopus,
It seems a problem of Unreal to detect collisions for fast, small objects.
I have run some tests and it seems to be fixed by decreasing the physics substeps delta time. By default is set to `max_substep_delta_time=0.01` but for me it worked by reducing it to `max_substep_delta_time=0.005`. Depending on your simulation time delta, you would also need to increase the `settin

[2021-05-12 12:14] OmarShawky1 commented on #4193
I tried manipulating the Dockerfile and installing `RUN apt install xdg-user-dirs` and it succeed, but I ended up with these two errors: `DISPLAY=:0: No such file or directory` & `docker: Error response from daemon: OCI runtime create failed: container_linux.go:367: starting container process caused: exec: "/home/carla/CarlaUE4.sh -opengl": stat /home/carla/CarlaUE4.sh -opengl: no such file or dir

[2021-05-12 12:14] Kin-Zhang commented on #3180
It works!!! Thanks! But I still what to know how to check or who is using port 2000 since like I mentioned before about:
Port: [cmd -> netstat -na -> I didn't find anything wrong, port 2000 is free since it didn't show up at here]
Thanks again! bernatx

[2021-05-12 12:16] Kin-Zhang commented on #3180
When you click Confirm/"確認" it will automatically copy something in the clipboard, so after you click 確認 you can open note and CTRL+V and you will find the log

[2021-05-12 13:47] glopezdiest commented on #4136
Hey @TKeutgens, if you start the recorder with the `additional_data` set, all information about the actors will be recorded (without it, only the minimum information necessary to replay it will be saved):
`client.start_recorder(filename, additional_data=True)`

You can check [SR's metrics parser](https://github.com/carla-simulator/scenario_runner/blob/master/srunner/metrics/tools/metrics_parser.py

[2021-05-12 15:44] annaornatskaya commented on #4151
Hello @DSantosO,

No, it's more like as if the camera is moving in a circle in different directions. I made a screen record to show (shifting/not shifting after changing the projection type).

![ortho](https://user-images.githubusercontent.com/14319065/117995337-e91e6580-b349-11eb-9d40-0c929c5616ba.gif)

[code]

CamType - rgb camera attribute

[2021-05-12 16:37] qhaas opened #4199 "a get_spawn_points for walkers"
Per the [spawnnpc](https://github.com/carla-simulator/carla/blob/0.9.11/PythonAPI/examples/spawn_npc.py#L200) example, the suggested way to get spawn points for walkers is to use `get_random_location_from_navigation`.

For vehicles, if one wants to avoid spawn point collisions and maximize the number of vehicles in a simulation, one can use [`get_spawn_points` to return a list of vehicular spawn p

[2021-05-12 17:39] qhaas commented on #4193
`xdg-user-dir: not found` is likely a red herring, see Issue #3514

[2021-05-12 17:44] qhaas commented on #4194
You will need to use [OpenGL for this, not the default vulkan](https://carla.readthedocs.io/en/latest/adv_rendering_options/#vulkan-vs-opengl).  Further, you will need [VirtualGL](https://virtualgl.org/About/Introduction) on the remote workstation.  The process for doing remote rendering is not intuitive.  The old guide for doing this with CARLA is located [here](https://carla.readthedocs.io/en/0.

[2021-05-12 18:11] OmarShawky1 commented on #4193
I have mentioned that i bypassed the issue and it seems that it is not the problem

[2021-05-12 18:28] munirjojoverge commented on #3415
I don't see how this has been solved? what did you run?

[2021-05-13 07:05] newxf2015 opened #4200 "Windows10 build Carla failed"
make osm2odr
mingw\include\zconf.h(475): fatal error C1083: 无法打开包括文件: “unistd.h”: No such file or directory
make PythonAPI
C:\Program Files (x86)\Windows Kits\10\include\10.0.17763.0\ucrt\stdlib.h(1015): note: 参见“wcstombs”的声明
d:\emulation\carla\pythonapi\carla\source\libcarla\OSM2ODR.cpp(7): fatal error C1083: 无法打开包括文件: “OSM2ODR.h”: No such file or directory
error: command 'C:\\Program Files (x86)

[2021-05-13 09:38] liuyandong1988 opened #4202 "Fixed the server FPS -- asynchronous mode"
I want to run the carla server by fixed FPS. I read the carla document [synchrony and timestep](https://carla.readthedocs.io/en/0.9.9/adv_synchrony_timestep/). I try the code
[code]
I want the carla server FPS: 10. But the result is ... in the picture. I think this is the default mode (Variable time-step) in CARLA.
![carla-async-fixed_fps](https://user-images.githubusercontent.com/21078728/1181076

[2021-05-13 09:44] liuyandong1988 commented on #3960
Thank you for your reply. I can use the  `wait_for_tick()`  in asynchronous mode and make client and server have the same fps and use `tick()` in synchronous mode, server waits for the client. However, I can not fixed the server fps use the world.settings in [page](https://carla.readthedocs.io/en/latest/adv_synchrony_timestep) . I want fixed the server fps...

[2021-05-13 11:22] Kait0 commented on #3180
Good to know.
One of the errors I encountered:
 Does not seem to be the same as the one you showed above. Perhaps a different error leading to the same symptom

LowLevelFatalError [File:Unknown] [Line: 853]
Rendering thread exception:
Fatal error!

Unhandled Exception: EXCEPTION_ACCESS_VIOLATION reading address 0xe98e8508

0x00007ff6455cdb8e CarlaUE4-Win64-Shipping.exe!FInstancedStaticMeshScenePro

[2021-05-13 11:37] newxf2015 commented on #4200
I fixed

[2021-05-13 11:37] #4200 closed

[2021-05-13 13:05] qqqGpe commented on #4149
Thanks for your suggestion, I'm also looking forward to the new iteration.

[2021-05-13 13:47] Tanman1234 commented on #3883
for this also my vehicle is not following waypoint. any suggestion ?

[2021-05-13 14:33] corkyw10 commented on #4177
Hi @AIasd, I am not sure about the installation of the software requirements. But if you are installing UE4.24 and CARLA master, then you may be using the wrong documentation. The one you linked is the "latest" version of the docs, these reference the development branch of CARLA which uses UE4.26. Select the correct version of the docs (0.9.11 for the current master) to get the correct documentati

[2021-05-13 14:37] corkyw10 commented on #4188
@dhiegomaga, glad you got it working!

[2021-05-13 14:37] #4188 closed

[2021-05-13 18:35] NikhilKalghatgi commented on #4124
@jbenzhhn @aakashsehgal how do we shift to UE4.24? I am having a hard time doing that, please help here

[2021-05-13 19:06] darld commented on #2248
Up post Same issue with @walzimmer

[2021-05-13 20:11] jbenzhhn commented on #4124
Hi @NikhilKalghatgi ;) Remove the whole carla folder from your installation of latest build and just try to follow the  [carla wiki build instructions](https://carla.readthedocs.io/en/0.9.11/build_linux/) with the corresponding version. In the moment its carla 0.9.11.

[2021-05-13 23:42] AIasd commented on #4177
Hi @corkyw10 , thank you for the help! I can now build it successfully.

[2021-05-13 23:42] #4177 closed

[2021-05-14 02:22] AIasd opened #4204 "Error when ingesting a map from RoadRunner"
Hi I have been following the tutorial [here](https://carla.readthedocs.io/en/0.9.11/tuto_A_add_map/) to export a map from RoadRunner to Carla. In particular, I tried "Map ingestion in a build from source".

The exported map files look like the following:
![Screenshot from 2021-05-13 22-14-32](https://user-images.githubusercontent.com/12670254/118210582-9cfe1e80-b438-11eb-899c-8fa8427b4f81.png)

Ne

[2021-05-14 05:46] NikhilKalghatgi commented on #4124
Thanks it worked :)

[2021-05-14 06:12] jbirtel commented on #4204
Did you try to use "--package=straightroad" or "--packages=straightroad" (so with the **s** and the **=** in both cases) ? I also had a problem with the ingestion, but the '=' solved it for me the first time. This is a bit confusing in the docs.

However, I would also like to report an issue under this headline.
I user Blender and Blender-OSM to get a fbx file and a OSM file from a specific coordi

[2021-05-14 07:54] glopezdiest commented on #4185
Hey @NikhilKalghatgi, if the CARLA tick is causing a timeout, then the problem is server related. What happens to the server when that timeout happens. Is it frozen, shutdown, or anything of the sorts? If that is the case, as you said, the client will get stuck when trying to tick it.

[2021-05-14 08:01] NikhilKalghatgi commented on #4185
@glopezdiest  Thank you for the response. Yeah the server gets frozen, wanted to understand why that happens. Is there any way to avoid it ?

[2021-05-14 09:18] alice-st opened #4205 "Vehicles' Bounding Boxes"
I am running CARLA_0.9.11 and I have a problem with vehicles' Bounding Boxes. Sometimes Carla finds and prints Bounding Boxes correctly and sometimes it does not.

**Vehicles' Bounding Boxes Code:**

[code]

**Results:**

![Screenshot from 2021-05-14 11-53-16](https://user-images.githubusercontent.com/52458564/118246824-23ebdf00-b4ab-11eb-8a79-563adaa1500c.png)

[2021-05-14 11:12] lish0 commented on #4155
Hi @corkyw10, I use official carla map, and the CARLA version is 0.9.11. When I try to spawn walkers, I get the only output is "python exit code 139  (interrupted by signal 11: sigsegv)", and   the UE4 editor gets stuck at the same time.

[2021-05-14 16:27] AIasd commented on #4204
Hi @jbirtel , thanks a lot for your help! After using the suggested "--packages=straightroad", the problem is solved!

[2021-05-14 16:42] xuhan417 commented on #3426
@seuwcs
 This warning means your xodr file is missing georeference header.
Also, your map does not have spawpoints. You can use "opendrive export preview tool" in roadrunner to check your export and look for any warnings. And you should use the "slip road tool" in the roadrunner to connect the intersections. Once you connect the roads properly the waypoint will be generated automatically.

[2021-05-14 17:38] christosachilleoudis opened #4208 "Building Carla on M1 Mac Air Big Sur w/ Unreal Engine 4.25.4"
Hi Everyone! I was wondering whether anyone has tried building CARLA on the M1 Mac Air with M1 Chip. I read through issue #150 and read through @analog-cbarber's solution but came to the conclusion that these solutions will not work since the M1 Mac requires Xcode 12.

Here are my currents specs:
laptop: MacBook Air M1 Chip
OS: macOS Big Sur (11.3.1)
Xcode: downloaded from the App Store (Version 1

[2021-05-14 17:48] AIasd opened #4209 ""recipe for target 'package' failed" when trying to create a packaged version"
Hi,
I have successfully built client and server on ubuntu18.04 following [the tutorial](https://carla.readthedocs.io/en/0.9.11/build_linux/ ). Now, I am trying to build carla and make a packaged version. I run the command `make package` as suggested.
I encountered the following error message:

[code]
The only changed I made was I ingest a map from RoadRunner. Does that cause the error? Or is the r

[2021-05-14 20:59] jbenzhhn commented on #4148
I have a problem with the wheel collisions too. When I add a new vehicle and use an own shape as wheel_colission there is no visible effect. Maybe it's related to the same issue, cause in manual_control the variable use_sweep_wheel_colission is set to true.

[2021-05-15 09:09] nuomizai commented on #4154
Thanks for your reply, @corkyw10 . So, does it mean that there is no need to set the server from the terminal, while I can just pass the settings to the server through client by `apply_settings`?

[2021-05-15 12:42] nuomizai opened #4210 "walker control problem"
After I spawned a walker, the walker's z axis value decreased automatically. I got the walker control by `actor.get_control()` and found the value was always:

`WalkerControl(direction=Vector3D(x=1.000000, y=0.000000, z=0.000000), speed=0.000000, jump=False)`

But the z-axis value for the walker was continuously decreasing, and the actor speed gotten by `actor.get_velocity()` decreased from `Vecto

[2021-05-16 07:36] 7788boy commented on #3621
Hi,
I tried the following steps and it works.

1. Remove all the other versions of Python. (I uninstall Anaconda and reinstall Python 3.7.9 from Python.org.)
2. Add Python to path variable.
3. Delete the folders naming with "-install" in CARLA\Build
![image](https://user-images.githubusercontent.com/52518907/118389066-b8487400-b65a-11eb-988d-95b5efd96514.png)
4. make clean
5. make PythonAPI

I hop

[2021-05-16 07:38] 7788boy commented on #4060
Hi,
I tried the following steps and it works.

1. Remove all the other versions of Python. (I uninstall Anaconda and reinstall Python 3.7.9 from Python.org.)
2. Add Python to path variable.
3. Delete the folders naming with "-install" in CARLA\Build
![image](https://user-images.githubusercontent.com/52518907/118389066-b8487400-b65a-11eb-988d-95b5efd96514.png)
4. make clean
5. make PythonAPI

I hop

[2021-05-16 09:56] manju838 commented on #3430
Thanks @narayanaraju10 ,it worked for timeout as 5.0.Mine is a 2GB Graphics card and 2.0 time didn't work.Better the graphics,lesser timeout needed

[2021-05-16 19:18] eherozhao commented on #3650
My use case was similar as running `manual_control.py` in the sync mode so that I could just run given simulation time. I didn't find the sync mode support for this file.

[2021-05-16 23:16] zyan003 opened #4213 "CARLA 0.9.11 make PythonAPI and make launch problem"
Hi all, I have some issues while I was trying to build CARLA.
![123](https://user-images.githubusercontent.com/81597316/118415929-1a18d600-b67b-11eb-98cd-cf579577fdb7.png)

I have no idea to fix these issues. It is weird because rem is not found in batch file.

Thank you for your answer

[2021-05-17 00:01] Lala341 commented on #1211
It's works for me.
`try:
    sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath(__file__))) + '/carla')
except IndexError:
    pass`

[2021-05-17 04:24] AIasd commented on #4209
This error is related to the previous issue https://github.com/carla-simulator/carla/issues/3758 . Close it.

[2021-05-17 04:24] #4209 closed

[2021-05-17 05:42] jbirtel opened #4216 "Import error when trying to import fbx and xodr from OSM and Blender"
Carla 0.9.11
Ubuntu 18.04.5 LTS

I am trying to make an import of an .fbx and .xodr file into Carla. Therefore, I copied coordinates of a frame I searched in OpenStreetMap and inserted them into Blender/Blender-OSM. Blender then automatically created a 3D model which I exported as fbx. Then, with the same coordinates, I created a .osm-file which I converted to an .xodr-file using Carla (using Step

[2021-05-17 05:56] ImtiazUlHassan commented on #3883
@Tanman1234  try changing the 3.5 value. And lemme know if it works.

[code]

[2021-05-17 07:10] glopezdiest commented on #4185
You said you were using CARLA 0.9.10 and 0.9.11 but what version of ScenarioRunner are you using? What commands are you trying to execute exactly?

[2021-05-17 08:13] huhaocong opened #4217 "low FPS when i run the demo : carla_ad_demo"
Hi!
I encounter low fps of server(and client-pygame) in following situation:

    My setting:

    PC:
      Graphic Card: NVIDIA-RTX 3080(nvidia driver use 460.80), cache memroy: 10G
      RAM: 32G
      CPU: Intel(R) Core(TM) i9-10900K CPU @ 3.70GHz * 20
    ubuntu-20.04
    CARLA-0.9.11
    UE-4.24
    ROS2

If i was executed carla launch only(the selected map was Town01),the fps was 60.

Then

[2021-05-17 09:04] LittlePower97 commented on #345
Hi @marcgpuig,

As this post is quite old, I wanted to know if these information were still accurate.

Thank you in advance.

[2021-05-17 09:15] corkyw10 commented on #4154
@nuomizai, that's right

[2021-05-17 09:19] corkyw10 commented on #4192
Hi @qhass, thank you for the input. I will review the examples and update the Python API as required.

[2021-05-17 09:33] corkyw10 commented on #4204
Glad you got the problem solved. This command will be updated in the next release of the documentation.

[2021-05-17 09:33] #4204 closed

[2021-05-17 10:34] sivaprasadraju commented on #3320
Hi @H-Whisky Can you please tell me how you solved the issue?

[2021-05-17 10:55] NikhilKalghatgi commented on #4185
I am scenarioRunner version 0.9.11 . I am running scenario_runner.py with open scenario parser.

[2021-05-17 17:54] AIasd opened #4221 "Question regarding ingesting a UE4 modified map in a CARLA package"
Hi,

From [the documentation of "add a new map"](https://carla.readthedocs.io/en/0.9.11/tuto_A_add_map/), I can successfully do Map ingestion in a CARLA package as well as Map ingestion in a build from source.

Now I am trying to add spawn points to a map generated from RoadRunner in UE4 and then ingest the modified map into a CARLA package. How should I achieve this?

In particular, I have the fi

[2021-05-17 23:36] hvelesaca commented on #4084
I am interested to obtain the list of bone transforms and subsequently get the joints of a specific walker. Is it possible?

[2021-05-17 23:39] hvelesaca commented on #977
is there an update on this problem, I would like to get the bone joints coordinate from a walker

[2021-05-18 03:39] nuomizai commented on #4210
I found the solution! It seemed that I set the `self._actor.set_simulate_physics(enabled=True)` by accident. If I changed the code as `self._actor.set_simulate_physics(enabled=False)`, then the problem would disappear! Did anyone know why CARLA should have this function `set_simulate_physics`?

[2021-05-18 07:55] ChoByungSoo2 opened #4223 "[carla 0.9.10] Collision with ‘Unknown’"
operating system : window 10
carla version : 0.9.10
Unreal Engine : 4.24.3

There is no problem when load.fbx is uploaded, but the following problems occur when running the following mode for maps imported from objects fbx files such as trafficLight.fbx or building.fbx:

PythonAPI : manual_control.py , no_rendering_mode.py , spawn_npc.py

Problem:
1. Even if there is no object in the driving path,

[2021-05-18 08:28] FitashUlHaq commented on #39
Hi, is there any update on this? I tried getting the distance between ego vehicle and way-point at the center of the road but no success

[2021-05-18 09:54] ChoByungSoo2 commented on #4223
Fixed the problem.

[2021-05-18 12:23] enricoschroeder opened #4225 "Difficult to work on codebase due to build system issues"
Hi there,

I'm currently implementing a custom sensor model for CARLA and are hitting a lot of build errors when building in Visual Studio (command line build seems fine):

 ```cannot execute 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.16.27023\bin\HostX64\x64\c1xx.dll': command line is too long to fit in debug record```

This makes development rather unpleasant

[2021-05-18 14:34] Tanman1234 commented on #3883
so i tried different values but its not working

[2021-05-18 15:26] kmeids commented on #4196
I am also looking on how to get the wheel's speed as Hello HarishKumar051993.
Any help on this topic would be appreciated!

[2021-05-18 16:19] NikhilKalghatgi commented on #3310
Hi, I am facing this issue too, please help.

[2021-05-18 17:02] kmeids commented on #2989
Hello Everyone,
I don't seem to find this feature in the 9.11 release, is it still on the backlog?
I can confirm that having this feature will help support several use-cases especially when coupling physics-based radar simulation to CARLA.

[2021-05-18 17:04] kmeids commented on #4196
@HarishKumar051993 @corkyw10 just referencing the following related issue: [#2989 ]( https://github.com/carla-simulator/carla/issues/2989)

[2021-05-18 17:05] alice-st opened #4227 "Astar path between two waypoints"
I am working with CARLA_0.9.11 and I am using ```grp.trace_route(origin, destination)```  to find the astar path between two waypoints. The results I'm getting when I use the above mentioned function, are odd to say the least.

**Code Used:**

[code]

**Results:**
![Screenshot from 2021-05-18 19-17-31](https://user-images.githubusercontent.com/52458564/118691539-dc01ea80-b811-11eb-9442-4e142c426c3

[2021-05-18 17:13] raymanfx commented on #2989
FYI, Unreal Engine 4.24 (used by Carla 0.9.11) makes use of PhysX for vehicle physics.
Unreal Engine 4.26 (which will be used by Carla 0.9.12) ships their own Chaos physics engine for vehicles, which is meant to replace PhysX.

To expose wheel RPM in Carla, we will have to make it available from the Unreal Engine code first. My team is looking into this right now, but it's on low priority.

[2021-05-18 23:41] paperwhite commented on #3186
Has this issue been addressed?

[2021-05-19 08:02] Kin-Zhang commented on #3700
Related issue with: https://github.com/carla-simulator/carla/issues/3180

fix by changing RPC port: `CarlaUE4.exe -carla-rpc-port=3000`

but That issue have other fatal error wrong:

[code]
like this one, I closed this issue, please go to the same issue: https://github.com/carla-simulator/carla/issues/3180

[2021-05-19 08:02] #3700 closed

[2021-05-19 08:33] augri commented on #1090
@uwewoessner  Do you plan any other presentations on OddLot in the near future? Or do you have any useful material to help use it?

[2021-05-19 08:37] augri opened #4228 "OpenDRIVE files generated by OddLot"
I have been trying to use the open source OpenDRIVE editor OddLot, which has received some attention in here. However, I could not successfully load simple maps generated by OddLot into Carla. Has anyone had this issue and know how to resolve it?

[2021-05-19 09:49] raymanfx commented on #4227
This is the roundabout in Town03, right? I can confirm this and similar issues. Depending on the route down-sampling rate, a path through the roundabout will contain waypoints on a different route (like shown in your second picture).

[2021-05-19 10:21] mvchauck commented on #2086
I have the same issue, created a UDN ticket: https://udn.unrealengine.com/s/question/0D54z00006yvEBMCA2/rhilocktexture-crashes-if-raytracing-is-on

[2021-05-19 11:14] ImtiazUlHassan commented on #3883
@Tanman1234  can you share any video or screenshot? Is the vehicle not moving at all or its going out of the track ?

[2021-05-19 12:25] felixalt opened #4229 "Control controller.ai.walker speed"
Hello Everyone,

I've tried for a long time to control a walker's speed by Blueprint on Unreal Engine instead of directly on python script.
In fact, when I initialize a walker by this command : "Carla.WalkerControl()", I can control the move speed directly on Blueprint by adding the node "set max walk speed" in BP_Walker.
However, when I try to do the same thing with walker ai controller, that don

[2021-05-19 14:05] nuomizai opened #4230 "How to start carla 0.9.10 server at client in python"
Is there any way to start CARLA 0.9.10 at client side in python? I tried the following code, but it seemed that the client cannot find the server. So, what's the problem here? Or do you have any advice for it?

[code]

[2021-05-19 14:06] nuomizai commented on #4230
BTW, the server will start up successfully using the code.

[2021-05-19 14:38] nuomizai commented on #4230
Guys, I found the reason! It seemed that I started the client so fast. If I added the code `time.sleep(10)` after `_open_server`, then the problem disappeared.

[2021-05-19 18:09] qhaas commented on #3683
That should be in the documentation, I just ran into this and was wondering why my vehicles were moving at 0 speed.

[2021-05-19 19:13] Xiang95 commented on #3758
Hello, I just followed you tutorial, but i got the following error:
Can you please help me with it,  thank you in advance.
{
Archiving to
********** ARCHIVE COMMAND COMPLETED **********
BUILD SUCCESSFUL
ERROR: Failed to find command copy_if_changed
       (see /home/ue4/Library/Logs/Unreal Engine/LocalBuildLogs/Log.txt for full exception trace)
AutomationTool exiting with ExitCode=1 (Error_Unknown

[2021-05-20 00:42] robertprior-fixstars commented on #3897
Hi any updates to this? I think it is a bug looking at it some more. Even continually using apply_control with gear set to 0 the gear will not change from 1 when in the above state without additional changes to brake etc.. I added simple debug prints to PythonAPI\examples\manual_control.py:496 like:

[code]
to show the behaviour.

The control sequence looks like  (cropped out throttle, steer to av

[2021-05-20 08:21] Xiang95 opened #4232 "ERROR: Failed to find command copy_if_changed"
I'm trying to build the docker image, and I am at the last step.
docker build -t carla -f Carla.Dockerfile .
Ubuntu 18.04 and carla version is defined by Dockerfile
I get the same error as #3758, so I follow the fix of @will-sloan but I get a new error:

[code]

[2021-05-20 10:10] tranquangminh98 commented on #1707
python 3.7 solved the problem for me

[2021-05-20 14:17] qhaas commented on #3214
For those dropping into this issue, [the contributors report CARLA 0.9.12 will target UE 4.26.x](https://github.com/carla-simulator/carla/issues/3865#issuecomment-777357195)

[2021-05-20 15:45] Tanman1234 commented on #3883
yes its going out of track

[2021-05-21 10:48] uservinu commented on #3320
On windows 10, I solved this by downloading xerces from the apache website https://mirror.synyx.de/apache//xerces/c/3/sources/xerces-c-3.2.3.zip and extracting the contents to  <D:>\carla\Build\xerces-c-3.2.3-source. Make sure the folder name is xerces-c-3.2.3-source. Then run make PythonAPI

[2021-05-21 11:17] ley-Hao opened #4235 "[GPS][CARLA] Wrong GPS conversions"
I would like to report a problem in coordinates conversions when using the GPS/GNSS. While doing Cartesian -> angular -> Cartesian, we get a significant shift on the Y-axis.

While doing Cartesian -> Angular is CARLA's responsibility through [`carla.Map.transform_to_geolocation`](https://carla.readthedocs.io/en/0.9.11/python_api/#methods_27), we tried two different methods for angular -> Cartesian

[2021-05-21 14:06] #4029 closed

[2021-05-21 14:08] #3926 closed

[2021-05-21 14:14] #4230 closed

[2021-05-21 14:18] #3768 closed

[2021-05-21 15:23] vtalpaert commented on #4235
Worth noting that the issue is happening in CARLA 0.9.10 (because we use the ROS2 Eloquent version of the bridge)

[2021-05-21 16:34] Tanman1234 commented on #1835
can you show for obstacle.detector sensor also i am getting same error with obstacle.detector

[2021-05-21 17:00] Schuck84 commented on #3496
Do you know where I can find some more details about the skeleton in unreal editor. There are transforms and reference transforms. For what are the references? I thought calculating the joints from it root over the skeleton parts is enough. But after the hip joint the calculations are wrong and I saw there are also reference transforms for each joint. It would be great to use the coordinates from

[2021-05-22 14:10] BradleyBrown19 opened #4236 "Carla Transform Input Frame of Reference"
Hello!

When using world.spawn_actor to place a camera in the scene, what frame of reference should we pass into carla.Transform.

ex. if we have:

[code]

should the passed in translation and rotation be from the camera to the world reference or from the world reference to the camera.

From the docs I would assume that it is the former but I just wanted to make sure.

Thanks in advance!

[2021-05-22 15:46] ZHAO-Zirui commented on #4208
Hi there, I'm trying to make carla python API on my MBP M1. For now I'm still trying to pass `Setup.sh` on carla building.
After many failed attempts, I believe that ther version of `llvm clang clang++` is the most important thing.

We know that `clang` and `clang++` in BigSur is `12.0.5` and `llvm` which install by homebrew is  also `12.0.5`. But CARLA needs to use version 8 (`clang-8 clang++-8 l

[2021-05-22 16:35] HosseinTaherian commented on #3920
Hello @maria8899 , I have same issue as you. Did you find any solution for that out of using -opengl?

[2021-05-23 16:21] fireofearth commented on #3638
Hi @germanros1987, yes this is still a problem.
Many lane and street divider lines can be seen in semantic camera, but not semantic LIDAR.
Some street boundary lines and arrows on the road can be seen in semantic camera.

![carla-bug](https://user-images.githubusercontent.com/14065660/119268450-e6bcd680-bba7-11eb-9d39-6e27fdbab8d7.png)

[2021-05-23 21:20] qhaas opened #4237 "get_traffic_light_state returns yellow instead of red"
In CARLA 0.9.11, the [carla.Vehicle::get_traffic_light_state](https://carla.readthedocs.io/en/latest/python_api/#getters_16) function will occasionally return 'Yellow' when the light is red.  The script below, based on the carla pythonapi examples, demonstrates this around frame 590 when the vehicle is stopped on red and the function returns yellow.

[code]

[2021-05-23 21:48] qhaas opened #4238 "set_hybrid_physics_mode causes hero's velocity to be zero"
Seemingly related to Issue #3683 .  The 'hero' vehicle's `carla.Vehicle::get_velocity()` will start returning zero while clearly having resumed driving after having stopped when [hybrid mode](https://carla.readthedocs.io/en/0.9.11/adv_traffic_manager/#hybrid-physics-mode) is enabled in CARLA 0.9.11.  The following example reproduces this behavior, it is based on the provided CARLA PythonAPI exampl

[2021-05-23 22:31] qhaas commented on #3442
CARLA 0.9.11's TM appears to be single-threaded (i.e. only using 'up to' 100% of a single CPU core) on my 4-core i7 system.  I haven't done profiling yet, but one can get CPU bottlenecked rather quickly.

[2021-05-24 04:33] NikhilKalghatgi commented on #4185
@glopezdiest Hi, on further digging I found that there's a deadlock in traffic manager tick in TrafficManagerLocal.cpp.
**step_end_trigger.wait(lock, [this]() { return step_end.load(); });**
The above line is where its getting stuck.

[2021-05-24 05:58] PyTorr commented on #4002
Thanks.
If I will be able to open CARLA in Unreal ever, I will do it.

[2021-05-24 10:42] maria8899 commented on #3920
@HosseinTaherian no, I have to use the opengl flag, this is related to vulkan not working well on Linux I think, check https://carla.readthedocs.io/en/latest/adv_rendering_options/#vulkan-vs-opengl

[2021-05-24 12:20] LucasFKobernic opened #4239 "Error by "make PythonAPI" and "make launch" on Windows"
Hi everyone,

I'm trying to install CARLA from source on my computer:

Windows 10
NVIDIA Quadro P2000
Python 3.7.4
GNU Make 4.3
Visual Studio Community 2017

I'm following the instruction from here: https://carla.readthedocs.io/en/latest/build_windows/

Until the installation for Unreal Engine all works fine. But i'm getting problem with **make PythonAPI** and consequently with **make launch**

Af

[2021-05-24 13:17] HarishKumar051993 opened #4240 "UWheeledVehicleMovementComponent in Carla"
Can anyone knows how to call UWheeledVehicleMovementComponent in Carla through PythonAPI so that i can call the function GetEngineRotationSpeed() inorder to get the current engine speed.

[2021-05-24 13:19] HarishKumar051993 opened #4241 "Engine RPM in Carla"
How to Calculate the Engine RPM of a Carla Vehicle?

There is no API available to calculate Engine RPM.

[2021-05-24 18:41] qhaas commented on #3452
Seeing this intermittently in CARLA 0.9.11 when I have several vehicles using traffic manager (and a CPU bottleneck develops, see Issue #3442).  Oddly enough, it always reports a `time-out of 10000ms` regardless of what `carla.Client::set_timeout` is set to.

[2021-05-24 18:45] qhaas commented on #3707
It would appear that the maintainer of the original rpclib is back [and looking for someone to takeover](https://github.com/rpclib/rpclib/issues/273).

[2021-05-25 01:08] ryandoren opened #4242 "0.9.11, make launch failure: The system cannot find the path specified. Already defined the system variable"
Hi, everyone,
I was trying to build Carla 0.9.11 on my Windows 10 system according to [the document v:  0.9.11](https://carla.readthedocs.io/en/0.9.11/build_windows/#necessary-software).  I have installed git, cmake, Visual Studio 2017, python3.7.8, and UE 4.24.3, downloaded and unzipped the assets, and succeeded when running `make PythonAPI`. I've also defined the environment variable UE4_ROOT as

[2021-05-25 07:18] glopezdiest commented on #4185
Hey @NikhilKalghatgi. thanks for the input. I actually havent't seen that issue, which seems weird, but we'll investigate it regardless. tagging @jackbart94 too, he'll know more about the TM

[2021-05-25 07:24] NikhilKalghatgi commented on #4185
Yup @glopezdiest that's right.

[2021-05-25 09:46] Schuck84 commented on #3496
Hi,
have found a solution to control the bones properly by using the current implementation.
I'm observing an issue in the semantic segmentation right now, the walker isn't annotated as usual.
Please see attached screenshot.
Could you help me to fix this, or point me out what causes this issue?
![Screenshot_20210525_114127](https://user-images.githubusercontent.com/34914844/119476887-c5e2b580-bd4e

[2021-05-25 11:11] corkyw10 commented on #4210
Hi @nuomizai, you can see one of the uses for `set_simulate_physics` in the [hybrid mode for Traffic Manager](https://carla.readthedocs.io/en/0.9.11/adv_traffic_manager/#hybrid-physics-mode), it can help with performance in simulations with a lot of vehicles.

[2021-05-25 11:15] corkyw10 commented on #4213
Hi @zyan003, can you share the documentation you are following?
Are you running the command in the Visual studio x64 native tools Command prompt?

[2021-05-25 11:31] corkyw10 commented on #4223
Hi @ChoByungSoo2  since you fixed the problem, I will close this issue. You can reopen if needed.

[2021-05-25 11:31] #4223 closed

[2021-05-25 11:37] corkyw10 commented on #4228
Hi @augri, I haven't tried this myself. Could you share how you are trying to import, any documentation you are following and what errors you are experiencing?

[2021-05-25 11:56] corkyw10 commented on #4239
Hi @LucasFKobernic, the windows install will use the python launcher (py) to install the API. This utility is bundled with Python installation but not installed by default. Can you run the command:

[code]
To see if it is installed correctly? If not, there's information [here](https://docs.python.org/3/using/windows.html#installation-steps) about installing it.

[2021-05-25 14:24] zyan003 commented on #4213
Hi Corinne,

I solved this problem by resetting my Windows operating system. Then
everything works fine now. I did running the command in Visual Studio x64
native tools command prompt.

Best,
zyan003

On Tue, May 25, 2021 at 7:16 AM Corinne ***@***.***> wrote:

[2021-05-25 14:28] corkyw10 commented on #4213
I'm glad you got it sorted out!

[2021-05-25 14:28] #4213 closed

[2021-05-25 15:39] AIasd commented on #4221
Hi @corkyw10 , thank you for your reply!
What value should I put for `<map_package>`? I keep encountering the following error message when I tried `map package`, `straight_road`, and `straightroad`:

[code]

When I import the map, I run `make import ARGS="--package straightroad --no-carla-materials"` and my directory structure for carla/Unreal/CarlaUE4/Content looks like:
[code]

[2021-05-25 15:47] corkyw10 commented on #4221
Can you try just with `make package ARGS="packages=map_package"`? It looks like your package was imported with the default `map_package` name originally. You can see that here:
![image](https://user-images.githubusercontent.com/38050983/119528180-46baa500-bd81-11eb-8879-7dd193e10a15.png)

[2021-05-25 16:32] bernatx commented on #4221
Just don't forget the double dash for the parameters, like:
`make package ARGS="--packages=map_package"`

[2021-05-25 17:42] AIasd commented on #4221
Hi @corkyw10 and @bernatx , `make package ARGS="--packages=map_package"` works perfectly! Thanks a lot!

I also think it might be great to consider to add this command to the end of "Add a new map-Map ingestion in a build from source" subsection in the documentation for other people's convenience.

[2021-05-25 17:42] #4221 closed

[2021-05-26 01:32] huatianxue1994 commented on #3743
Hello, I meet the same question. And I use the x64 just like follow:
![image](https://user-images.githubusercontent.com/56421468/119589289-161c4f00-be05-11eb-92db-f8a2d56b5d0f.png)
When I "make launch",there is a error, just like follow:
![image](https://user-images.githubusercontent.com/56421468/119589360-351ae100-be05-11eb-9cc7-6ea2f819d0fd.png)
What should I do? Thank you advanced!
(PS:,I insta

[2021-05-26 01:37] huatianxue1994 commented on #21
I meet the same question and I installed VS2017, when I input "make launch",the error like follow:
![image](https://user-images.githubusercontent.com/56421468/119589689-e91c6c00-be05-11eb-9d60-5431a64d5cd5.png)
What should I do? Thank you advanced!

[2021-05-26 02:16] huatianxue1994 commented on #3402
I am sorry that there is not a folder `PythonAPI\carla\dependencies\lib\`,I do not know why. So I can not find a  file named "libboost". There is only such file as follow:
![image](https://user-images.githubusercontent.com/56421468/119592500-2df6d180-be0b-11eb-9ab1-c98464bd7828.png)
The error like follow:
![image](https://user-images.githubusercontent.com/56421468/119592622-6d252280-be0b-11eb-8e4e

[2021-05-26 02:18] huatianxue1994 commented on #3402
And When I make launch, the error is like follow:
![image](https://user-images.githubusercontent.com/56421468/119592746-a3fb3880-be0b-11eb-8d7f-cdd46cd4ccda.png)
What should I do? Thank you advanced!

[2021-05-26 04:29] huatianxue1994 commented on #4239
I install python3.7.4. But there is still a error when I input "make launch"
![image](https://user-images.githubusercontent.com/56421468/119602512-df9efe00-be1d-11eb-8760-f0648207e78a.png)
![image](https://user-images.githubusercontent.com/56421468/119602540-f04f7400-be1d-11eb-8b72-8587feda267e.png)
Could you help me to solve the problem? Thank you advanced!

[2021-05-26 06:48] jbirtel commented on #4228
I would also be interested in the result of this issue. Also tried to use OddLOT for map creation, but it did not work. I spoke to developer of OddLOT, as Carla always exited with an error when I wanted to import a map, but he also could not help me (the tips he gave me did not resolve the issue)
I don't know if it is Carla or UE4 that somehow has a problem with the xodr created by OddLOT

[2021-05-26 06:49] LucasFKobernic commented on #4239
Hi everyone,

@corkyw10 thanks for the information. I cheked and you were right, i didnt have py launcher installed. I have installed it, an now make PythonAPI works! Thanks a lot!

But I'm still having problem with **make launch**:

[code]
I'm getting this error 6. I have the Unreal Engine installed in another disk. Is that maybe the problem?

Thanks,

[2021-05-26 06:51] jbirtel commented on #4216
I now also tried to import xodr and fbx files from RoadRunner, after I received a license for it. But also here, same mistake. Would really like to know, why it does not work. Even if I do not give any arguments to ```make import```, there is this error

[2021-05-26 07:50] DSantosO commented on #4151
Hello @annaornatskaya,
Sorry for the late response, I was trying to understand what was happening.
The same was happening to me when I tried to do the same:
https://user-images.githubusercontent.com/5548733/119621658-adce6d00-be06-11eb-9121-ee7708703544.mp4

I was checking the source of unreal and when an option is changed in the editor there are lines to update the camera that only happened in th

[2021-05-26 07:50] #4167 closed

[2021-05-26 07:53] SanggunLee opened #4249 "How to get a actor_id of a vehicle in the image from sensor.camera.rgb ?"
Hi.

is there a way to get a actor_id of vehicle in the image from sensor.camera.rgb ?

I looked for it in the carla docs several times, but
I found that only way is using sensor.lidar.ray_cast_semantic that returns object_idx.

but I need to use only rgb camera.
Is there a way or should I add new function for it ?

I know that I can get actor_id from world info, but as I know, there are no actor_

[2021-05-26 08:06] DSantosO commented on #4202
Hello @liuyandong1988,
With the settings.fixed_delta_seconds, you are fixing the time delta between frames. This is the 'simulation' time that happens between two different frames. But of course, the simulator is going to try to give you as many FPS as it can.
If you want to fix the FPS, you will need to do it in synchronous mode and control this from the client.

[2021-05-26 08:08] DSantosO commented on #4236
Hello @BradleyBrown19,
When spawning a sensor (or any other actor), the transform needs to be the position/rotation of this sensor in world coordinates (or in other's actors frame of references if you are attaching to another actor).

[2021-05-26 08:11] DSantosO commented on #4191
Hello @hiry27,

What do you mean by the 'speed from every edge'?

[2021-05-26 08:27] #3823 closed

[2021-05-26 08:34] #3255 closed

[2021-05-26 08:55] jackbart94 commented on #4238
Hi, this is probably happening because the hero is registered to the Traffic Manager. I'll push a fix as soon as possible, thanks!

[2021-05-26 09:02] corkyw10 commented on #4239
Hey @LucasFKobernic, I just noticed you are using Make 4.3, however our documentation specifies that you should use 3.81, otherwise errors may occur. I am not sure though that this is what is causing the issue right now.

i have a similar issue a few times recently because people have been confusing the installations between the most recent release (0.9.11) and the dev branch version of carla (whi

[2021-05-26 09:28] Axel1092 commented on #4228
Hi @jbirtel, could you share an OpenDRIVE generated with that tool so that we can check what might be the issue?

[2021-05-26 11:30] qhaas commented on #4238
Thanks for checking into this.  I only noticed it when looking at the logs (since it starts out correctly, possibly due to asio).  It appears to return velocity properly when one doesn't enable `set_hybrid_physics_mode`, even with TM (autopilot) enabled.

[2021-05-26 13:54] jbirtel commented on #4228
Sure. I needed to pack it into a zip, as .xodr files are not allowed somehow.
[oddlot_map_easy.zip](https://github.com/carla-simulator/carla/files/6547165/oddlot_map_easy.zip)

[2021-05-26 14:16] LucasFKobernic commented on #4239
Hi @corkyw10,

Tahnks for the answer.

About the make version,  i had already downgraded it to version 3.81. I had installed the modified version of UE4.26. So I uninstalled CARLA version 0.9.11 and installed the latest one. **make Python** works well, but i still getting error by **make launch**:

[code]
Its still shwoing me error at action 13m but this time it goes until action 23 before crashin

[2021-05-26 14:31] bernatx commented on #4239
If you use the latest development source, then you need to use our fork of the Unreal Engine 4.26, and compile the engine.

[2021-05-26 15:06] bernatx commented on #4239
You downloaded the repo as a .zip, but did you checkout the **carla** branch before compiling it?

[2021-05-27 05:51] liuyandong1988 commented on #4202
Thanks! You mean I cannot fix the server fps by asynchronous mode and fixed_delta_seconds. But carla documentation provides the variable step and fixed step for asynchronous mode ...

[2021-05-27 08:16] uservinu commented on #1219
Hello all,
I managed get VR working in CARLA 0.9.10 on windows with HTC Vive. You have to add a VR camera pawn or attach it to some actor. see https://docs.unrealengine.com/4.26/en-US/SharingAndReleasing/XRDevelopment/VR/SteamVR/HowTo/StandingCamera/ for details.
But the performance(frame rate is less than 90hz, effect similar to screen tearing is happening) is not so great with my Nvidia GTX1080.

[2021-05-27 09:29] Axel1092 commented on #4228
I think I already see the problem. Road ids in this OpenDRIVE are strings instead of an interger. Our OpenDRIVE parser expects numbers here and not full names in the id fields as it makes queries much faster. Most software that generate OpenDRIVE data follow this integer id convention and put the full name in a specific field `name` meant for that.
For now, there is no support for the full name id

[2021-05-27 10:07] jbirtel commented on #4228
Okay, thank you. OddLOT allows to export with different settings. I exported now with providing only numerical ids. However, this also did not work for me.
[oddlot_map_easy_numberid.zip](https://github.com/carla-simulator/carla/files/6553073/oddlot_map_easy_numberid.zip)

[2021-05-27 14:19] GarethZhang commented on #3828
Hi @karthi0804 @Esquilli ,
I am facing the same problem here. Where can I find the option to set `ignore_traffic_light` to True?
Thanks!

[2021-05-27 14:58] Esquilli commented on #3828
@GarethZhang When you initialize an agent (i.e BehavioralAgent) you can set the `ignore_traffic_light` parameter to True like this `BehavioralAgent(ignore_traffic_light=True)`.

Check the class init parameters [here](https://github.com/carla-simulator/carla/blob/4c8f4d5f191246802644a62453327f32972bd536/PythonAPI/carla/agents/navigation/behavior_agent.py#L36).

[2021-05-27 15:41] DanielTian90 opened #4255 "Map not change imput from osm"
After run python3 config.py --osm-path=/path/to/OSM/file , map in carla not change, still the default one.
After run this command, outputs:
Warning: Found angle of 168.09 degrees at edge '482847293', segment 0.
Warning: Found sharp turn with radius 2.99 at the start of edge '482847293'.
Warning: Minor green from edge '24474354#0' to edge '24474442#1' exceeds 19.44m/s. Maybe a left-turn lane is mis

[2021-05-27 20:05] fireofearth opened #4256 "Running CARLA Simulator in Singularity"
I'm trying to run CARLA Simulator in a HPC (in Compute Canada to be exact. Specifications if needed: https://docs.computecanada.ca/wiki/Cedar) (headless server). Docker is not available, so I'm using Singularity.

Has anyone successfully run CARLA Simulator as a Singularity image? If so, how did you do it?

I've seen lot's of Github issues about running CARLA in Docker, but information seems spars

[2021-05-27 22:58] whuwuteng opened #4257 "CARLA 0.8.4 for Windows download link is expired"
Hello, I find that the download link of CARLA 0.8.4 for Windows is expired(refer to https://github.com/carla-simulator/carla/releases/tag/0.8.4). Can you update the file, please? Thank you very much.

[2021-05-28 02:55] Michaelll268 opened #4258 "Why I cannot run all the files at the PythonAPI\carla\agents\navigation, the error is no module named carla. But I have set the environment variables as it is. No module named carla never occurs in Python API\examples. Please Help me"
@glopezdiest @rowanmcallister

[2021-05-28 07:05] enricoschroeder commented on #4225
Hi! So I went down the rabbit hole and fixed some of the issues... ;)

The error I posted above can indeed be fixed by setting bLegacyPublicIncludePaths = false and using full include paths everywhere (with this option enabled, UnrealBuildTool (UBT) appends all folders of the project to the include paths, leading to a command line for the compiler that is too long).

However, then the next, more s

[2021-05-28 07:28] #4258 closed

[2021-05-28 07:30] Michaelll268 opened #4259 "Cannot Run Automatic_control.py in Carla"
I tried everything with the pythonpath and stuffs but I still cant load automatic_control.py in carla,, the error that is mentioned is "No Module named agents.navigation". Please Help me,, thanks a lot<!--

I use:
Windows 10 64 bit
GTX 1660Ti

[2021-05-28 08:59] LucasFKobernic commented on #4239
Hi @bernatx

I uninstalled and installed CARLA and Unreal again, ensuring the versions were correct and now it works! Thank you very much for your help.

[2021-05-28 08:59] #4239 closed

[2021-05-28 09:34] jackbart94 commented on #4241
If you look into carla.VehiclePhysicsControl and check max_rpm (float), it gives out the maximum RPM of the vehicle's engine. Then, if you apply a throttle of 0.7 you are actually setting an RPM of 70% with respect to the maximum.

[2021-05-28 09:35] jackbart94 commented on #4259
We need more information. Did you do ``make PythonAPI`` and ``make LibCarla`` ? Did you check that the path in the ``automatic_control.py`` script correctly points to your CARLA folder structure? Maybe you've made some changes there.

[2021-05-28 10:07] Michaelll268 commented on #4259
@jackbart94  how to make pythonAPI and make LibCarla, is it directly on the CMD or in the corresponding folder of the file?

[2021-05-28 10:25] deepalcoholic commented on #3772
@Axel1092
hi Axel,
Would you like to share some light on the time plan of the multiple GPU rendering road map ?
thanks a lot!

[2021-05-28 18:51] rowanmcallister commented on #4258
Try adding something like this into your `.bachrc`:

[code]

[2021-05-29 02:20] GarethZhang commented on #3828
@Esquilli Thanks a lot!

[2021-05-29 05:55] SimonLeeGit opened #4260 "how to build carla wth python3.8 on Ubuntu18.04"
It's build failed with python3.8 installed on ubuntu18.04. It seems missing the libpython for python3.8 and no distribution for python3.8-config. Is there any way to fix this?

[2021-05-29 07:47] #4147 closed

[2021-05-29 08:18] SimonLeeGit commented on #4260
I fix this problem by install python3.8-dev

[2021-05-29 08:18] #4260 closed

[2021-05-29 11:17] chowkamlee81 opened #4261 "Is it possible to Hide ego vehicle during data acquisition from camera in synchronous mode?"
I want to hide ego vehicle for data acquisition from camera in synchronous mode. Kindly help

[2021-05-30 16:29] sshashank124 opened #4262 "Loading Town10HD crashes program - Vulkan Issue?"
Carla Version: dev branch
OS: Ubuntu 18.04
GPU: RTX 2060 Super
---

Trying to load level "Town10HD" causes the program to crash with the following error. It seems to be an issue with the Vulkan backend:

[code]

Any ideas on how to resolve this? Could this be an issue of insufficient memory?

[2021-05-30 21:28] annaornatskaya commented on #4151
Hello @DSantosO,

It looks like the solution is very simple:

[code]
So now there's no shifting.

![ortho2](https://user-images.githubusercontent.com/14319065/120120148-2d13c600-c1a4-11eb-8c2f-61f3b4511cbd.gif)

But unfortunately, one problem remains: the camera doesn't see the sky.

![sky](https://user-images.githubusercontent.com/14319065/120119916-ee314080-c1a2-11eb-9d13-828974ac2226.png)

[2021-05-31 11:49] Paniac commented on #3493
Hi @bernatx, do you have any updates on this?

[2021-05-31 14:27] joel-mb commented on #4148
Hi @namiota. Sorry for the delay. This is a known issue in `0.9.11` and it has been fixed in `dev` (PR: https://github.com/carla-simulator/carla/pull/4128). We have also added new parameters to control the stiffness of the wheels. You can take a look here: https://carla.readthedocs.io/en/latest/python_api/#carla.WheelPhysicsControl

@jbenzhhn which CARLA version are you using?

[2021-05-31 14:36] NishanthARao commented on #2797
@qhaas Thanks a ton! In my case, I was using clang-8, CARLA 0.9.10 and UnrealEngine 4.24. I did ```sudo apt remove libc++-8-dev libc++abi-8-dev libc++1-8 libc++api1-8```. After that I removed the build folder in CARLA directory and ran the make commands. It worked perfectly.

[2021-05-31 14:46] joel-mb commented on #4168
Hi @zjh6252007. Could you further explain which is your configuration? Are you using synchronous or asynchronous mode?
Yes, you can retrieve the current state of the simulation from any client. Actually, the stream does not happen directly between the clients, but the server sends the new snapshot with the updated status to each client every tick.

[2021-05-31 17:55] jackbart94 commented on #4259
Your folder structure is probably wrong. Check the code in ``automatic_control.py`` and check out where it is trying to find the agents folder and why it is failing. Which version of CARLA are you using?

[2021-05-31 17:56] jackbart94 commented on #4238
I've fixed it, I'll try to have it merged inside of `dev` as soon as possible! Thanks for pointing this out again.

[2021-06-01 07:31] bernatx commented on #3493
Hi, I will check if adding an specific seed for the Recast & Detour library is enough to get deterministic pedestrians, and I will get back to you. Regards

[2021-06-01 08:41] DSantosO commented on #4249
Hello @SanggunLee,
Right now it is not possible to get the id of the actor through a camera. Anyway, I can see a couple of ways in which you could do that.
 - You could modify (or create another) semantic segmentation camera to output the id in the form of colors instead of the tag information. This could be a bit tricky because you need to modify the server and also to codify correctly the ids as

[2021-06-01 09:47] SanggunLee commented on #4249
Hi. @DSantosO

Thanks for your recommendation.

I will use semantic lidar + camera.

[2021-06-01 09:48] #4249 closed

[2021-06-01 10:05] DSantosO commented on #4261
Hello @chowkamlee81,

Right now it is not possible to do that from the Python API, but if you are willing to modify the source of the simulator it should not be that difficult to add a method to control that. We can give you some hints about that.
Also, another easier solution, if you are in the editor you can set the Visible field to 'false' to any vehicle of CARLA or one that you have imported s

[2021-06-01 13:51] semmelknoedel opened #4265 "Multiple realtime speed and Physicsengine/VehicleController"
Hi,

I was wondering if Unreal physics scale with the speed when the simulation runs faster than realtime.

My setup:
I use Carla 0.9.11 and a modified version of the scenario runner.
The modification is mainly, so I can run a scenario without running a second script for the ego vehicle, since I can view whats happening in the Carla window and have recorded data. For that I added a new Behavior fo

[2021-06-01 15:40] llyyaa commented on #4200
How? I'm facing the same problem

[2021-06-01 16:41] llyyaa commented on #3320
I've solved this problem on windows.
If you are in a same situation with me, open your xercesC source with VS, and you might see some variables in CMAKE config like "ICU_UCONV_EXECUTABLE" have a value pointing to some .exe file in your " \Anaconda3\Library\bin" folder, these libraries caused some conflict.
To solve this, remove any path like "Anaconda3\Library\bin", "Anaconda3\Library\usr\bin", "A

[2021-06-01 20:21] rowanmcallister commented on #2384
I see the same error: `world.set_pedestrians_cross_factor(0.0)` has pedestrians

[2021-06-02 05:20] xujiahao97 opened #4266 "get_elapsed_time get zero when traffic light state is red"
Hello, i am now using carla.Trafficlight class. i use get_red_light function and it returns 2,but actually red light red light shines 32 seconds. and i use get_elapsed_time function and its return value is correct during yellow light and green light.but it only counts first 2 seconds of red lights and then it returns 0.
I am wondering whether anyone run into same issues or does anyone know how to

[2021-06-02 06:04] namiota commented on #4148
Thanks @joel-mb for the answer.
When new version of the CarlaSim will be released?

[2021-06-02 07:28] jbenzhhn commented on #4148
I´m using Carla 0.9.11.

[2021-06-02 16:48] Fady-Maged-Louis opened #4270 "tensor flow issue"
when i try to run carla code that have tensorflow that error appers
[code]

[2021-06-03 08:05] NielsPichon commented on #4037
It looks like I am having very similar issues when trying to build from the 0.9.10 branch, where the make package recipe fails because of some missing assets (`TrafficLightPieceStructure.uasset` as well as `ST_TrafficLightHead.uasset`, like with PriestOfAdanos, but also some materials). I have tried re-running the Update.sh script but it did not help.

Is there anywhere else than the AWS tar where