[2020-08-21 05:31] thytless commented on #3206
As far as I know, sensors are defined in a list(`self.sensors`) in `CameraManager` in manual_control.py, and modifying that should work . I have tried that for comparison between segmentation and RGB imgs.

[2020-08-21 06:07] youngsend opened #3209 "How to debug into cpp code in LibCarla when executing from python script"
Hello,
I encountered an error when running spawn_npc.py.
[code]
I want to inspect where this error comes from, so I ran it again in gdb.
However, the information did not change much, and I still cannot locate the cpp source file.
Could you please tell me how to debug into LibCarla cpp file and see values of variables when this error happens?
(I'm sorry that this may not be a carla issue.)
I am usi

[2020-08-21 07:34] thytless commented on #3209
As far as I know, you can make debug print (std::cout or what)  in Libcarla cpp code,  and debug info will be available after recompiling PythonAPI(make PythonAPI.3).

[2020-08-21 08:23] TheMaveric commented on #3206
But according to the pipeline for carla, the client also has cpp code for it.. Is that also to be removed?

[2020-08-21 10:28] Kravcu opened #3210 "How to import Town06/Town07 to precompiled build?"
Hi,
Could you provide a guide how to import Town06(and Town07) to precompiled Carla build?
There are only 3 files for each of those maps(.xord, .bin and .pcd), and the guide in docs doesn't cover this.

I am using version 0.9.9.2 on Windows 10.

[2020-08-21 17:08] SUNGWOOKYOO opened #3212 "how to destroy client"
I have to connect and disconnect client with carla server many times.
However, previous connection keep continuously, As a result the running process continuously increase.

my carla version is 0.9.9.4

If I used the below code, previous connection disappeared.
It ends properly in the following situations
[code]

Check the number of process
[code]

However, In the following situations, it does not

[2020-08-22 00:26] wendersonj opened #3213 "Changing quality level [Windows]"
Hi ! I'm making some experiments with windows and I can't properly modify the quality level on Windows (can't use -quality-level=Low) or use parameters to run Carla.
Could you help me ?

Cheers!

[2020-08-22 06:40] SimonLeeGit opened #3214 "Is it possible to run carla with UnrealEngine 4.25 ?"
Hi, I want to use some features in UnrealEngine 4.25. Is it possible to build carla with UnrealEngine 4.25?

[2020-08-22 10:51] Malathi15 opened #3215 "ImportError: cannot import name sensor"
Hi,
My System specifications:
OS: Ubuntu 18.04,
Memory: 15.7 GiB,
Processor: AMD® Ryzen 7 3800x 8-core processor × 16,
GPU 4 GiB.
I have downloaded the CARLA Simulator. While executing the python script I got an `ImportError: cannot import name sensor`
[code]
I have tried with python 3.6 and python 2.7. I got the same error in the both version (Please check the screenshot)
![python3 6](https://use

[2020-08-24 02:36] RicardoSakura opened #3216 "Error when running "make package""
I am using Carla 0.9.9. I have built the Unreal engine successfully, but got an error with the command of
make package in Ubuntu 18.0.4.
[errorlog.txt](https://github.com/carla-simulator/carla/files/5115482/errorlog.txt)

[2020-08-24 05:55] youngsend commented on #1231
Hi, @ykaganov !
Have you succeeded in building CARLA with CLion?
If so, could you tell me how to do it?

[2020-08-24 06:32] thytless commented on #3206
@TheMaveric If you do not care about image quality, you may as well try to set server quality as low.

[2020-08-24 06:56] XieJinLiang commented on #3161
[0.9.10-pre](https://github.com/carla-simulator/carla/blob/master/Docs/download.md)

[2020-08-24 08:04] souvikboseGM opened #3217 "CARLA Cannot see Vehicle after spawning"
Hi,

I am new to CARLA [Using CARLA 0.9.8 ,Ubuntu 18]. Any help is appreciated

I tried to load a Town5 and wanted to drive the vehicle Automatically. Town is loaded .But when I spawn the vehicle with "vehicle = world.spawn_actor(bp, transform)" , I see 2 issue

1> I could not see the vehicle on the Road .
2> And also I am getting the error [error msg atatched]

![Issue 2](https://user-images.gith

[2020-08-24 09:05] youngsend commented on #2747
Hi, @paduraru2009 !
I tried to follow the page you provided but I still can not debug into LibCarla.

I think it's probably because the LibCarla has not been compiled `-O0`.
Can you tell me where I can change the debug mode from `-O2` to `-O0` for LibCarla?
I changed it in `Setup.sh`.
However when I `make PythonAPI`, the option is still `-O2`.

[2020-08-24 09:57] charlie-wartnaby commented on #3163
On the traffic light front by the way, in the end I gave up on trying to import them from my RoadRunner map. I never did see the run-time autocreation of traffic lights shown in https://www.youtube.com/watch?v=mHiUUZ4xC9o . The only thing that worked for me was deleting any RoadRunner-designed traffic lights, and creating new ones from CARLA blueprints, and adding those to a traffic light group (i

[2020-08-24 10:10] jackbart94 commented on #3217
Hi,

You're not seeing it because it gets destroyed after 5 seconds. The error is fixed in 0.9.10 and it's related to the actor.destroy() function, but it still works indeed.

[2020-08-24 10:27] TKeutgens commented on #3009
Hi @Axel1092 , I tested the OSM converter from pre-release 9.10. I love this functionality, but there I also have the problem, that no georeference information is included. I would love to see that function to be able to compare the results to the original OSM. Additionaly I would like to be able to do some post processing on the XODR file in RoadRunner.

[2020-08-24 11:10] souvikboseGM commented on #3217
Thanks Jack for the reply. I was thinking there should definitely be way/logic to keep continuing in simulation Mode with 0.9.8 ?

[2020-08-24 11:52] TKeutgens commented on #3009
Hi @Axel1092 , I love the new feature. Unfortunalety if I follow the tutorial (https://carla.readthedocs.io/en/latest/tuto_G_openstreetmap/) a warning is thrown.

How should the  input data look like to generate a georeferenced OpenDRIVE file?

[2020-08-24 12:00] wendersonj commented on #3080
Using `DISPLAY= ./CarlaUE4.sh -quality-level=Low -opengl` worked for me.
GPU: GeForce MX130 (2GB)

Cheers

[2020-08-24 14:27] souvikboseGM opened #3218 ".osm file to .xodr [AttributeError: module 'carla' has no attribute 'Osm2OdrSettings']"
Hi , Goodmorning,

I was trying to convert .osm file to .xodr file to use in CARLA [Using CARLA 0.9.8 ,Ubuntu 18].
I am getting error message = > " AttributeError: module 'carla' has no attribute 'Osm2OdrSettings' "
I am not sure how to get this "Osm2OdrSettings" Module ?

Below is the  code .

import carla
# Read the .osm data
f = open("map_openstreet.osm", 'r')
osm_data = f.read()
f.close()

# D

[2020-08-24 15:27] carlaUE4new opened #3219 "control multi vehicles"
I am trying to control multiple vehicles seperately within the same world. Does Carla 0.9.9.4 support this? if supported, is there an example of how to do this? Do I need to set up each vehicle will communicate with world through different TCP ports?

Thanks

[2020-08-24 16:54] #3217 closed

[2020-08-24 19:17] wendersonj commented on #3213
Didn't worked for me.

[2020-08-24 21:19] songyanghan commented on #3152
Thanks all. I find that [carlaviz](https://carla.readthedocs.io/en/latest/plugins_carlaviz/) is a good solution.

[2020-08-24 21:19] #3152 closed

[2020-08-25 03:24] thytless commented on #3213
@wendersonj Would you please give some details? Which file did you edit and how did you confirm that it did not work?

[2020-08-25 03:34] thytless commented on #3219
I believe that the answer is yes. Actually client sends control command to the server, and that is how vehicles are controlled. Prepare control commands for each actor. Learn more about it: https://carla.readthedocs.io/en/latest/python_api/#commandapplyvehiclecontrol

[2020-08-25 06:34] MalathiKaliyappan commented on #1905
Hi @Kailiangdong , I am using python 3.6 on Ubuntu 18.04 with CARLA 0.9.5.
I got the same error while running spawn_npc.py.
[code]

Can you please help me to solve this?

[2020-08-25 06:49] youngsend commented on #3209
I succeeded in debugging it using `catch throw` command provided by gdb.

[2020-08-25 06:49] #3209 closed

[2020-08-25 06:57] youngsend commented on #2747
@nsubiron @paduraru2009 , sorry for the bother...
I made it using `catch throw std::out_of_range` before running `spawn_npc.py` in gdb.

[2020-08-25 07:19] MalathiKaliyappan commented on #1707
Hi @CodeTrol
I am using python 3.6 on Ubuntu 18.04 with CARLA 0.9.5.
While running spawn_npc.py I got this error `RuntimeError: rpc::rpc_error during call in function version`
[code]
Can you please help me to solve this?

[2020-08-25 07:44] chenxinhu commented on #2735
Works for me, Thanks!

[2020-08-25 07:57] TKeutgens commented on #3218
@souvikboseGM this function is only available in the Pre-Release 0.9.10 Version -> https://github.com/carla-simulator/carla/blob/master/Docs/download.md#pre-release-0910

[2020-08-25 08:50] dHonerkamp opened #3220 "traffic manager synchronous mode prevents apply_settings call after loading a new world"
Hi,

I am running code in the form of
[code]

Where after some time I want to load a new world (using the same code).
The problem is that if in between I spawn vehicles, then when running this for the second time, the `apply_settings` call never returns. This only happens when spawning vehicles, not when using an empty map or spawning only pedestrians.

[code]
Note that I can successfully retrieve

[2020-08-25 13:34] AlexVeuthey commented on #1307
Hi,

I'm coming from the Self-Driving Cars specialization on Coursera, which I can't finish (last assignment...) due to a TCPError in the server. I'm really not familiar with Carla itself, so it might be something extremely trivial to someone with a bit more knowledge.

I don't know what Carla version we use (haven't checked how I can verify it, though), since it's a precompiled archive given by t

[2020-08-25 14:22] YuanYunshuang commented on #1798
I also met this error, and finally figure out what is happening. I assigned the spawned sensor to a local variable and then set the sensor object to listen(). Then I only stored the sensor actor id in the attribute of a customer object. So this would cause a problem because of the memory releasing once your code finishes you function, in which you spawned the sensor. This is also why the error tel

[2020-08-25 17:11] dineshresearch commented on #2923
Any update on this. I am curious to know how @jackycstw has do the integration of carla and carsim both

[2020-08-25 17:56] thomasfermi opened #3221 "carla.VehiclePhysicsControl is missing moment of inertia and proper wheel positions"
Today I used the carla.VehiclePhysicsControl python object and came across these problems:

1. carla.VehiclePhysicsControl has the attribute mass but not moment of inertia (there is the moment of inertia of the engine, but I mean the moment of inertia of the whole car)

2. carla.WheelPhysicsControl has an attribute position, but it is in centimers and not clear in which reference frame it is. It w

[2020-08-26 07:43] H-Whisky opened #3222 "Have problem in label <signals></signals> when import customize opendrive map"
Platform: win10
Carla Version: 0.9.9
UE4 Engine Version: 4.24.3
Python Version: 3.7.3

Hi, From the official documentation, I can import the official and carla-provided opendrive files into UE4_Carla through the following script, but importing a custom opendrive file and parsing the <signals></signals> tag caused UE4 to crash and make an error.
The correct content is as follows(running is the Town

[2020-08-26 07:53] XieJinLiang opened #3223 "Can carla do distributed computing?"
Hello~
Can carla do distributed computing? We need to test autonomous driving vehicles on a very large map. We hope to divide the map into small maps, and then connect each carla server to a small map. We want to run multiple clients and multiple server to control different vehicles for algorithm testing. At the same time, servers can communicate with each other.Is this possible?

[2020-08-26 08:12] Axel1092 commented on #1848
Hi all, we will implement this feature for 0.9.11. In the mean time, you could search on how to perform the projections from geolocation coordinates to the plane X,Y for instance using the mercator projection. There is also the proj library (https://proj.org/) which has a number of projections from geolocation.

[2020-08-26 08:15] #3171 closed

[2020-08-26 08:19] Axel1092 commented on #3167
Hi @meitalcohenyaacobi, maybe you didn't compile Carla beforehand. Try running `make LibCarla` before the examples so that it compiles Carla and other necessary dependencies.

[2020-08-26 08:20] #2825 closed

[2020-08-26 08:23] Axel1092 commented on #3083
Hi @Malathi15, we'll take a look to this problem although it seems unrelated to the previous problem.

[2020-08-26 08:39] patrick-11 opened #3224 "Traffic Manager doesn't react on multiple speed changes"
Carla: 0.9.9.4
OS: Windows10
Python: 3.7.9

Hello, currently I am working with multiple (around 200) vehicles that are subscribed to one traffic manager with the autopilot on. In my project I need to change multiple times the speed of individual vehicles, but I noticed that sometimes the traffic manager doesn't react to speed changes. For example, in the code below the simulation reacts to the fir

[2020-08-26 09:18] dingkailv opened #3225 "cannot open CarlaUE4 project with UE4 4.24.3"
I downloaded the carla 0.9.9 for windows. The binaries run perfectly, nothing weird happened. But when I want to open the CarlaUE4.uproject under CarlaUE4, it says the CarlaUE4 and Carla are missing or built with a different engine version. That I have to re-build them

I had this problem when trying to build Carla as well, I can build it. But cannot open the UE4 project.
What seems to be wrong?

[2020-08-26 09:26] XieJinLiang commented on #3176
This feature is only available in the unreleased 0.9.10-pre version：[0.9.10-pre](https://github.com/carla-simulator/carla/blob/master/Docs/download.md#pre-release-0910)

[2020-08-26 09:32] jackbart94 commented on #3012
Hi,

So yeah

this line might be what's causing it, however it's because you should be using **MakeSafeUnitVector**. We'll take a look to see if there is something that still might use the other function.

[2020-08-26 11:56] souvikboseGM commented on #3218
Thanks for the reply. I downloaded  "Pre-Release 0.9.10 Version "  and tried to run.
I got the error msg => "ImptortError: libxerces-c-3.1.so: cannot open shared object file: No such file or directory"

I tried to fix the above error by
sudo apt-get update
sudo apt-get install libxerces-c3.1

Then I got below error.  Not sure ,how to proceed to next step . Any help is appreciated ?
![Screenshot fr

[2020-08-26 13:04] souvikboseGM commented on #3218
@TKeutgens Thanks for the reply. After downloading "Pre-Release 0.9.10 Version", I tried to run. Now I am getting below error
I am not sure ,how to go about it ?

![Screenshot from 2020-08-26 18-33-50](https://user-images.githubusercontent.com/61221837/91306714-8d677880-e7ca-11ea-8305-7f4f9e873b5d.png)

[2020-08-26 13:08] TKeutgens commented on #3218
@souvikboseGM I'm not 100% sure what the error is but you can try running your script from the folder WindowsNoEditor\PythonAPI\examples. For me that worked.

The xsd file sould be located under WindowsNoEditor\PythonAPI\carla\data\xsd

[2020-08-26 13:31] souvikboseGM commented on #3218
@TKeutgens It works . Great. I am getting below warnings .I am assuming this should not be a problem. If you could point out something about "junctions.scurve-stretch",please let me know. In any case , .xodr is generated, so I will close this issue. But if you could point something about the warnings that will be great. Thanks again

![Screenshot from 2020-08-26 19-00-15](https://user-images.githu

[2020-08-26 13:52] #3218 closed

[2020-08-27 05:11] meitalcohenyaacobi commented on #3167
Hi,
I did run `make LibCarla` before,
Are there any necessary dependencies in addition to to LibCarla?
Thanks.

[2020-08-27 06:48] jerryliu20001 commented on #3130
I have the same problem about the lens distortion attributes defined in CARLA.
If the default value of the **lens_k** and **lens_kcube** mean without distortion, the assumption of the **lens_k=k1** and **lens_kcube=k2** are unreasonable.
In addition, I am also confused about the other attributes.

![image](https://user-images.githubusercontent.com/69243907/91402919-cad41080-e873-11ea-8c64-1919faa6

[2020-08-27 10:34] Axel1092 commented on #3009
Hi @TKeutgens, right now that feature is not supported, we are working on expanding  this feature to add new projections to include geolocation information. A workarround for now is to include the geolocation information yourself into the resulting opendrive file.

[2020-08-27 10:37] Axel1092 commented on #3167
The error shows that there is a problem with boost, maybe it has not been properly downloaded during the make command. Try to remove any boost files and folders from the Build folder in the carla directory, then run `make LibCarla` again and then the examples.

[2020-08-27 11:09] salvatoresan commented on #3218
Hi @souvikboseGM, I'm also trying to convert the osm data but i'm getting the following error message when i try to run the converter script inside the PythonAPI/examples folder:
`AttributeError:` 'module' object has no attribute 'Osm2OdrSettings'
Could you tell me the exact steps that you followed? In which folder did you place the osm data?
 I downloaded the pre-release version and used the same

[2020-08-27 12:17] souvikboseGM commented on #3218
@salvatoresan
I used the below code and running the below code from  "..PythonAPI/examples" path

Read the .osm data
f = open("map_openstreet.osm", 'r')
osm_data = f.read()
f.close()

Define the desired settings. In this case, default values.
settings = carla.Osm2OdrSettings()

Convert to .xodr
xodr_data = carla.Osm2Odr.convert(osm_data, settings)

save opendrive file
f = open("CARLMAP_openstreet.

[2020-08-27 15:56] wendersonj commented on #2567
Thansk for sharing.
I'm getting a error while it's fetching a library from nvidia (fetch: libnvidia-decode-450). Then I started a issue on their github:
https://github.com/demotomohiro/remocolab/issues/59

[2020-08-27 17:32] NgYinZhi1 opened #3228 "Radar Velocity and Depth maintaining at zero"
Hello there,

I am trying to make use of the radar sensor on the ego vehicle. I have been following the tutorial from https://carla.readthedocs.io/en/latest/tuto_G_retrieve_data/#radar-sensor and it seems to be working. However, when i call for data in the RadarDetection attribute, I am only getting azimuth and altitude data, whereas depth and velocity is constantly at zero for all radar measureme

[2020-08-27 21:27] KasraMokhtari2112 commented on #2943
Can you please explain more where these lines of code should be modified? Thanks a lot.

[2020-08-28 04:20] #3228 closed

[2020-08-28 04:55] dianchen96 commented on #2789
I am reopening this because I find the solution **does not work** if there are actors spawned before closing the reloading the world. This happens to me at 0.9.9.4

[2020-08-28 05:33] zhejun-zhang commented on #3012
Hi @jackbart94 ,
I'm not sure if that is exactly where the error is thrown. What I did is just searching for `length > 2.0f * std::numeric_limits<float>::epsilon()` int this repository (GitHub search which you find on the top left corner).
And regarding usage. I use only PythonAPI and I don't know which function call leads to this error

[2020-08-28 06:15] Lu7913 commented on #3225
Same here, couldn't solve the issue, building Carla from source solved the issue for me.

[2020-08-28 09:14] dHonerkamp commented on #3220
It seems that the problem is actually the traffic manager, chaning the title accordingly.
As soon as I set the synchronous mode on the traffic manager, the world.apply_settings() call described above no longer returns after loading or reloading a world. I.e. after doing this:
[code]
This gets stuck in the apply_settings() call:
[code]

I have tried to set the synchronous mode to false again before

[2020-08-28 23:41] germanros1987 commented on #3172
Sorry for joining the party late. We are catching up after the summer break. @jackbart94 and your help is required to clarify this doubt.

[2020-08-28 23:44] germanros1987 commented on #3173
Sorry for the late response. Which version of CARLA is this? Is the environment variable SDL_VIDEODRIVER=offscreen ?
Could you try forcing the server to use OpenGL? i.e. ./CarlaUE4.sh -opengl

[2020-08-28 23:47] germanros1987 commented on #3174
@Bhavani56 I will ask @Axel1092 to take a look at this, but in the meantime let me ask you an entry-level question: is the server running? If so, did you try increasing the timeout of the client to 20 sec?

[2020-08-28 23:48] germanros1987 commented on #3175
We don't have support for LAS format at the moment.

[2020-08-28 23:48] #3175 closed

[2020-08-28 23:50] germanros1987 commented on #3176
@XieJinLiang is correct. We have not made the official announcement yet because it is in a pre-release state, but feel free to play with the feature and give us feedback!

[2020-08-28 23:50] #3176 closed

[2020-08-28 23:55] germanros1987 commented on #3177
@Gatsby23 is this issue still bothering you or should we just close it?

[2020-08-28 23:56] germanros1987 commented on #3179
@bernatx could you help this user?

[2020-08-28 23:58] germanros1987 commented on #3180
Hi @patdee, sorry that you are having problems. Which GPU are you using?

[2020-08-29 00:01] germanros1987 commented on #3182
Hi @XieJinLiang there is no specific message for that, but you could take a look at this: https://github.com/carla-simulator/carlaviz

The message should be compatible with rviz, so that is your best starting point.

[2020-08-29 00:01] #3182 closed

[2020-08-29 00:08] germanros1987 commented on #3183
Hi,

Sorry for joining the party late, but I bring some news.

Indeed, as @thytless mentioned, there are some discrepancies between the actual mesh of the object, its collision box(es) and its bounding box. The first thing to notice is that the bounding-box and the collision box are not the same (surprise!).

In the past, we were opting for having a match between the collision box and the bounding

[2020-08-29 00:10] germanros1987 commented on #3184
Hi @KasraMokhtari2112, sorry for the delay. For starters, are you building your RL code using the synchronous mode?
Did you run some of our examples first? For instance, manual_control? Is everything else working?

Please provide some further details.

[2020-08-29 00:27] germanros1987 commented on #3185
Hi @Abanoub-G,

Indeed. That is definitely a great API and we would love to have it integrated with CARLA. However, there are some constraints. It seems Google restricted the API to be used  with Unity and just on Android and iOS. We will have to wait until they extend the service.

[2020-08-29 00:27] #3185 closed

[2020-08-29 00:28] germanros1987 commented on #3186
@dsche sorry for the delay. You are correct, that is a very needed feature. We will work on it as part of the 09.11 release.

[2020-08-29 00:29] germanros1987 commented on #3187
@fpasch could you please have a look at this?

[2020-08-29 00:31] germanros1987 commented on #3188
@dsche we are aware of this issue and we are about the patch 0.9.10-pre. We are all experiencing problems with OpenGL. In the meantime, have you tried running the vulkan version?

[2020-08-29 00:32] germanros1987 commented on #3191
@marcgpuig @DSantosO could you please comment on this?

[2020-08-29 00:35] germanros1987 commented on #3192
Hi,

We don't have semi-trucks yet. In general, we don't have vehicles with more than 4 wheels yet. This feature is planned for future releases.

[2020-08-29 00:38] germanros1987 commented on #3193
Hi @Malathi15,

 do you really need to build the simulator from scratch? Could you just use the most recent binary release?

[2020-08-29 00:41] germanros1987 commented on #3194
@hh0rva1h are you getting this issue with a binary release or building CARLA from source? Could you provide the version? My intuition tells me this is ABI related (as usual).

@bernatx could you take a look at this?

[2020-08-29 00:44] germanros1987 commented on #3195
@qhaas provided a great answer (thanks!). @Mohith22 indeed, the rootless docker container is your best option in this case. Could you please give it a try?

[2020-08-29 00:53] germanros1987 commented on #3196
@tinmodeHuang sorry for the delay.

As it has been mentioned already, the "disabling core dumps" message is just letting you know that CARLA won't generate a core dump. However, I understand from your message that you are having problems running the server or client (this part wasn't clear to me).

In order to help you, could you please provide us with more information? First, for simplicity, we a

[2020-08-29 01:01] germanros1987 commented on #3197
@doterop @bernatx @marcgpuig this issue just got the category of "critical". Please, let's dig in.

[2020-08-29 01:03] #3198 closed

[2020-08-29 01:13] germanros1987 commented on #3199
At the moment we don't have a normal map shader, although this is a relatively easy addition. It sounds perfect for a community contribution. Would you be interested in contributing to this?

[2020-08-29 01:14] germanros1987 commented on #3200
Did you have a look at this? https://carla.readthedocs.io/en/latest/tuto_A_add_map/#map-ingestion-in-a-carla-package

[2020-08-29 01:16] germanros1987 commented on #3204
@hablu1 please have a look at the logging and playback API: https://carla.readthedocs.io/en/latest/adv_recorder/

[2020-08-29 01:16] #3204 closed

[2020-08-29 01:17] germanros1987 commented on #3205
@fpasch could you please take a look?

[2020-08-29 01:20] germanros1987 commented on #3208
@pparmesh in newer versions of CARLA (0.9.8, 0.9.9, etc.) you can spawn vehicles anywhere as long as there are no collisions. In any case, you can visualize spawn points using the non_rendering_mode.py with --show-spawn-points

[2020-08-29 01:20] #3208 closed

[2020-08-29 01:27] germanros1987 commented on #3210
@Kravcu to add the additional towns into a pre-compiled CARLA build you just have to:
* Copy the **tarball** with the maps into the Import folder
* Run the ImportAssets.sh script

Enjoy!

[2020-08-29 01:30] germanros1987 commented on #3212
@bernatx could you take a look?

[2020-08-29 01:30] germanros1987 commented on #3213
@marcgpuig @bernatx do you have any suggestions?

[2020-08-29 01:32] germanros1987 commented on #3214
@SimonLeeGit if you are willing to dedicate the time and effort I don't see why not, but we don't provide support for that yet.

[2020-08-29 01:33] germanros1987 commented on #3215
@Malathi15 that has nothing to do with CARLA. That is not our code, so please check out with the people who made that code.

[2020-08-29 01:33] #3215 closed

[2020-08-29 01:34] germanros1987 commented on #3216
@RicardoSakura could you please provide more details about your setup?
@sergi-e could you try to help?

[2020-08-29 01:36] germanros1987 commented on #3219
Indeed. The API lets you control as many vehicles as you need. You just need to follow the instructions, as indicated by @thytless

[2020-08-29 01:36] #3219 closed

[2020-08-29 01:42] germanros1987 commented on #3220
@jackbart94 could you please take a look at this?

[2020-08-29 01:44] Gatsby23 commented on #3177
OK, I can build this it now, I close the issue.

[2020-08-29 01:44] #3177 closed

[2020-08-29 01:44] germanros1987 commented on #3221
@DSantosO could you please account for these suggestions?

[2020-08-29 01:45] germanros1987 commented on #3222
@Axel1092 this needs your attention.

[2020-08-29 01:47] germanros1987 commented on #3223
Hi,

Technically you could create arbitrary maps and then run each of those maps in different CARLA servers. However, CARLA does not provide a method to automatically sync all those instances. You would have to create this on top of the existing CARLA API

[2020-08-29 01:48] germanros1987 commented on #3224
@jackbart94 could you please provide some feedback?

[2020-08-29 01:49] germanros1987 commented on #3225
@dingkailv you can't build any version of CARLA with any version of UE4. Each version of CARLA is designed for a specific version of UE4.

[2020-08-29 01:49] #3225 closed

[2020-08-29 01:50] #2844 closed

[2020-08-29 01:51] #2890 closed

[2020-08-29 01:57] #2970 closed

[2020-08-29 01:57] #3029 closed

[2020-08-29 01:58] #3030 closed

[2020-08-29 01:58] #3050 closed

[2020-08-29 01:58] #3059 closed

[2020-08-29 01:58] #3082 closed

[2020-08-29 01:58] #3112 closed

[2020-08-29 01:59] germanros1987 commented on #3118
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-29 01:59] #3118 closed

[2020-08-29 08:48] xmgpev commented on #2971
Hi,

I have the same problem but with a similar configuration: Python 3.7, Carla 0.9.9, Win10.
Did you solved the issue?

Thanks

[2020-08-29 09:09] hh0rva1h commented on #3194
@germanros1987 Binary release, Carla 0.9.9.4.

[2020-08-29 10:10] nuomizai commented on #3173
@germanros1987 Thank you for your reply. I use the version carla:0.9.9.3, and I've tried other carla version, such as carla:0.9.7 or carla:0.9.9.1, but the error still occured. I printed the environment variable SDL_VIDEODRIVER by the command

`echo $SDL_VIDEODRIVER `

but an empty string was returned.

I also tried the command

`./CarlaUE4.sh -opengl` This time, this XDG_RUNTIME_DIR error was gon

[2020-08-29 11:49] tinmodeHuang commented on #3196
I won't modify posted description of the issue anymore in order to help those being in the same situation realise that message isn't a matter.
my answer to the first two questions is "yes",

[2020-08-29 14:19] xmgpev opened #3229 "manual_control.py exits after 2s without an error"
Hello,

I compiled CARLA 0.9.9.4 and PythonAPI (on Win10). Everything worked fine, the compilation completed without errors. I opened the CarlaUE4.uproject and clicked the play button. When I run the manual_control.py script, the pygame window only shows up for 2 seconds and after that it closes with no errors.

I debugged it and found that client.get_world() gave me an error message:
`[WinError 1

[2020-08-29 14:48] dannymanastireanu opened #3230 "AMD GPU - Signal 6/11 caught."
**Hello, Carla Team.**

I encountered an error on my amd pc and I thought is an problem with amd driver for rt 5600 xt gpu but I am not sure.
Also I did a video with my error and maybe we will find a solution.

[code]
HWINFO:
CPU: Ryzen 9 3900x
RAM: 32 gb
GPU: rt 5600 xt 6gb
OS: Ubuntu 20.04
[hwinfo.txt](https://github.com/carla-simulator/carla/files/5145344/hwinfo.txt)

I had latest amd driver.

[2020-08-30 08:26] whuxhzhang opened #3231 "can't get carlaviz in web"
I am trying use carlaviz, and ss of this step, it's normal: docker run -it --network="host" -e CARLAVIZ_HOST_IP=localhost -e CARLA_SERVER_IP=localhost -e CARLA_SERVER_PORT=2000 <name_of_Docker_image>
but when I type in the browser " http://127.0.0.1 :8080/ ", the output is not like the tutorial shows.
![image](https://user-images.githubusercontent.com/38369239/91654685-8481ea00-eadd-11ea-9065-6a98

[2020-08-30 11:18] Horcrux1 commented on #1632
Setting `-carla-streaming-port=0` when running Carla simulator solved the problem for me

[2020-08-30 13:12] zwbai opened #3232 "Co-simulation problem with Sumo"
Hi,

I want to try the co-simulation with sumo. Following the tutorial, I ran the following code:
`python run_synchronization.py examples/Town04.sumocfg  --sumo-gui`
and when I click the play button in sumo, it showed "simulation ended":
![Screenshot from 2020-08-30 21-03-14](https://user-images.githubusercontent.com/23632221/91659907-5c0de600-eb05-11ea-9812-41384177393b.png)

so, could anyone tel

[2020-08-30 13:16] zwbai commented on #3232
It said the reason is "TraCl requested termination", but I didn't find how to solve it.
 Here is the log:
![Screenshot from 2020-08-30 21-14-17](https://user-images.githubusercontent.com/23632221/91659991-dc344b80-eb05-11ea-9207-6729422fa2e6.png)

[2020-08-30 17:02] KasraMokhtari2112 commented on #3184
Thanks for your reply. I solved that issue by running Carla with fixed fps. However, the problem is after like 100-200 episodes (around 2hours), the codes crashed with a segmentation error.  I have a function that adds and destroys pedestrians after a specific time lets say 10 seconds in the environment and the code mostly crashed there. I do not use synchronous mode, do you think using that will

[2020-08-30 17:05] KasraMokhtari2112 commented on #3183
Thank you so much for your response. That's great news that you guys are working on this issue. In the meantime, do you know where in source codes, I can make the bounding boxes smaller?

[2020-08-30 20:01] xinshuoweng commented on #2343
Thanks, German! It would be nice to see this feature of controlling static vehicles as actors soon.

[2020-08-31 06:55] guruvishnuvardan commented on #3083
@Axel1092 - Thanks for the Support. We will try as advised and get back to You.

[2020-08-31 07:24] glopezdiest commented on #3145
No, the recent changes aren't part of any release yet, they are just in current master branch

[2020-08-31 07:30] guruvishnuvardan opened #3233 "CARLA 0.9.5 0 - Python3.5 - Syntax Error - File "Test_1.py", line 311 agent.model.save(f'models/{MODEL_NAME}__{max_reward:_>7.2f}max_{average_reward:_>7.2f}avg_{min_reward:_>7.2f}min__{int(time.time())}.model')"
Hi,

System specifications:
OS: Ubuntu 18.04,
Memory: 15.7 GiB,
Processor: AMD® Ryzen 7 3800x 8-core processor × 16,
GPU 4 GiB.
Python Version - 3.5
CARLA Version - 0.9.5

Please find the attached Test_1.py, I am attempting to run, while doing so, I am encountering syntax error - **File "Test_1.py", line 311     agent.model.save(f'models/{MODEL_NAME}__{max_reward:_>7.2f}max_{average_reward:_>7.2f}

[2020-08-31 08:53] sergi-e commented on #3216
Hi @RicardoSakura!

It would be great if you could provide us with your log, so that we can track the error :)

[2020-08-31 08:56] sergi-e commented on #3138
Hi, @gsujansai !

This issue was properly fixed. Thanks a lot for reporting it :)

[2020-08-31 08:56] #3138 closed

[2020-08-31 09:20] sergi-e commented on #3072
Hi, @wbadry !

We will update the build docs as soon as possible, hopefully with detailed videos on how to make the build for both Linux and Windows :)

Regarding the difference between the Windows release and the repository... it is essentially what german1987 said. Using the release you have all the features that the CARLA team developed by the time of the release. By cloning the repository, you

[2020-08-31 10:41] man-csl opened #3234 "Carla core dumps in Ubuntu 20.04"
Just downloaded and ran Carla on Ubuntu 20.04 and it core dumps.
The machine has 32GB RAM and 12 cores. Its two display cards, intel and GeForce MX130.
Following is the stacktrace I got in GDB. Most of the remaining treads are in waiting state.

Thread 57 (Thread 0x7fffcbfff700 (LWP 241500)):
#0  0x0000000002e801c4 in ?? ()
#1  0x0000000002eaa075 in ?? ()
#2  0x0000000002ea9c3a in ?? ()
#3  0x0000

[2020-08-31 12:33] wx9698 commented on #3231
Make sure that your localhost's 8080 port is not bound by another process. And by the way what is ss?

[2020-08-31 12:52] whuxhzhang commented on #3231
Sorry, it's my spelling mistake...

I'll check as you say，thank you very much.

[2020-08-31 13:33] TNAV1 commented on #594
@germanros1987 "we just fixed it".  Does this mean it is fixed in Carla0.9.9?

[2020-08-31 13:38] #2999 closed

[2020-08-31 13:41] #3230 closed

[2020-08-31 16:41] elifozisik opened #3235 "Can't find Visual Studio Compiler (cl.exe)"
Hey guys, first of all im not an expert so this might be an easy problem because i did not see any similar issues in forums but  really tried to fix this in many ways and couldn't fix.

So ,i'm installing CARLA for the first time and i did _almost_ everything on guide (except setting the environment variable because i didn't get where **"choose the path to the installation folder of the desire UE4

[2020-08-31 16:54] dsche commented on #3188
Yes, I tried it (same machine, same setup). The Vulkan version does not seem to suffer from the above mentioned bug, however, it is quite VRAM-hungry (rendering the Vulkan backend unusable). Running eg `spawn_npc.py` sends it into device OOM:
[code]

But I guess this is already covered by #2858.

[2020-08-31 19:31] keli5 opened #3236 "carla-simulator : Depends: libjpeg8 but it is not installable"
OS: Debian 10.5 x86_64 (4.19.0-10-amd64)

I'm trying to install with the deb instructions in the quick start guide:
[code]
However, after apt-get install carla-simulator, it fails with this error:
[code]
After this, the `cd /opt/carla-simulator` fails as the directory doesn't exist.
Running `sudo apt-get install -f` doesn't help.

[2020-08-31 20:04] joel-mb commented on #2955
Hi @atinfinity,
All the debian packages have been finally updated, so the issues should have disappeared. The installation process has been modified a bit. Now, both packages (i.e., `carla-simulator` and `carla-ros-bridge`) are inside the same apt repository and all the future updates will be added in this same repository. Follow the next instructions to install the packages:

[code]

I would reco

[2020-08-31 20:04] #2955 closed

[2020-09-01 01:50] whuxhzhang commented on #3231
If  the host's 8080 port is bound by another process, can I change the carlaviz's port ？

[2020-09-01 02:18] wx9698 commented on #3231
If you want to specify the port, you need to build this project (at least fronend part) by yourself instead of running frontend in the docker container.

You need to modify the start command in the scripts section in file frontend/package.json.
Add "--port PORT_YOU_WANT" in that command and run "yarn start".

I will add more configuration options in future releases.

[2020-09-01 03:30] youngsend opened #3237 "Is it safe to call Actor.Destroy() in LocalizationStage.cpp?"
Hello, carla team and everyone.
For some reasons, my map's roads are not closed, which means vehicles may fall into abyss from the map.
To account for this, I want to destroy the vehicle in LocalizationStage.cpp when the vehicle is going to fall.

I know commands are executed in BatchControlStage.cpp.
But I also find that in CollisionStage, TrafficLightStage, MotionPlannerStage and BatchControlSta

[2020-09-01 04:04] XieJinLiang opened #3238 "How run two server and two client"
Hi,
Now I want to run two servers and two corresponding clients. I ran the following two terminal commands in my carla directory:
`./CarlaUE4.sh`
`./CarlaUE4.sh --world-port=20000 -carla-streaming-port=8001`

then I run `python manual_control.py -p 2000` and `python manual_control.py -p 20000` to generat two clients.
Why the second generated client cannot use the autopilot function. I can’t even u

[2020-09-01 04:16] whuxhzhang commented on #3231
It works!!!
Turn off the use of this port on my computer， it working.
Thank you very much.

[2020-09-01 05:26] youngsend commented on #3237
I found the `LocalizationStage::TryDestroyVehicle(const Actor& actor)`.
Maybe I can just use it.

[2020-09-01 05:44] BoldArro1 opened #3239 "Carlar Simlator：The principle of IMU"
Hi,
I've recently been learning the source code of IMU in Carla.Some formulas are used in the process of calculating the results of accelerometer, gyroscope, and compass outputs.Without understanding the principles of IMU simulation, just learning the code made me feel very confused。
So, can you provide me with the papers or books that you refer to when you design IMU simulations?
Thank you！

[2020-09-01 06:53] atsushinakazima opened #3240 ""clang 8 is required, but it's not installed""
I followed this site.　https://carla.readthedocs.io/en/0.9.6/how_to_build_on_linux/
However, I got the following message in the "make launch" section of Build CARLA.

"clang 8 is required, but it's not installed.
Util/BuildTools/Linux.mk:143: recipe for target 'setup' failed
make: ***[setup] Error 1"

Ubuntu version 18.04.5 LTS
Unreal Engine 4.22

However i can't install clang 8 because i don't kno

[2020-09-01 08:12] Rustypp commented on #993
Vibration increases as you leave the road, constantly monitor vibrations then look for changes?

[2020-09-01 09:02] TKeutgens commented on #3200
@germanros1987 until now I only tested the map creation through the build Carla version. I will try the Docker version. But it would be nice if both the Docker and the self build version would allow to share the created maps to a prebuild Carla.

[2020-09-01 10:56] DSantosO commented on #3191
Hello @dHonerkamp,
This id should be unique for dynamic objects like cars and pedestrians and zero for static objects like buildings and such. If you see the same id for a car and a pedestrian, please let us know because this should not be the case.

[2020-09-01 12:06] #3231 closed

[2020-09-01 12:25] b-schwab commented on #3161
This doesn't exactly solve your problem, but could potentially be interesting:

With [rtron](https://github.com/tum-gis/rtron) you can convert your OpenDRIVE datasets to CityGML (semantic city model standard).
The CityGML models can then be processed and modified with the software [FME](https://www.safe.com/fme/) by dragging and dropping a whole variety of transformers. FME also provides a writer

[2020-09-01 13:00] XieJinLiang commented on #3161
@b-schwab Thank you very much,
I think this is very interesting and it seems very helpful for my research work

[2020-09-01 14:16] jackbart94 commented on #3237
Hi,

That ``TryDestroyVehicle`` is a function used for vehicle destruction in case some of them get stuck and don't move for a certain amount of time. I wouldn't recommend using it directly, but you can analyze it as an example of how to destroy a vehicle within Traffic Manager and make new functions for your specific case.

In your case, you might just insert a check if a vehicle is falling down

[2020-09-01 14:35] Beskhue commented on #2789
I'm encountering the same issue on Carla 0.9.9.4.

Interestingly, if I restart the Python script, it reconnects correctly. However, dropping the `client` handle and creating a new one between connection does not work.

[2020-09-01 14:38] joel-mb commented on #3232
Hi @zwbai!
Which version of sumo are you using? You can check it by running `sumo --version`
Have you tested with other towns (e.g., Town01)?

[2020-09-01 15:53] kanakab opened #3244 "make launch, Carla 0.9.9 Linux build issue"
[code]

[2020-09-01 15:54] fabianoboril commented on #3205
Hi,

it seems proj4 (libproj) is not installed on your system, or in a different version. Ubuntu 18.04 by default ships with libproj.12.so. We have a PR open on the map repository, to address this issue, however it will take a bit until we have this in CARLA. So currently, you have to options. Either use Ubuntu 16.04 (docker container?) or install libproj.9.so by using the corresponding github ver

[2020-09-01 17:40] Inezzzz opened #3245 "make launch [install_boost error], Windows 0.9.x"
I'm building on Windows and keeps getting an error on boost. I've tried to remove boost folder completely from carla/Build and re-run "make launch" or "make LibCarla" multiple times, still the same error. I also tried to install boost directly into carla/Build which seemed to be successful but then I got same error after try "make launch" again.  All commands were in x64 command window.
![Screensh

[2020-09-01 20:00] GabiShahmayster commented on #3239
@BoldArro1
Hi.
Are you looking for information regarding an IMU principal of operation or the IMU errors model?
Gabi

[2020-09-02 01:07] youngsend commented on #3237
Thank you! @jackbart94
Sorry that I forgot to say that I am using carla 0.9.8 and there's no ALSM.cpp class in it.
Actually when one vehicle is going to fall down, exception happens at the following code because `next_waypoints` is empty (in the `// Populating the buffer` part):
[code]
Since there's no ALSM.cpp class in carla 0.9.8, could you tell me where is the best place to delete a vehicle?
An

[2020-09-02 01:55] H-Whisky commented on #3245
You should go to "~/carla/Util/InstallersWin", then you can see install_boost.bat, rending the content of the file shows that you can go to https://dl.bintray.com/boostorg/release/ to download Specify version *.zip file, finally put the *.zip into "~/carla/Build", and run "make launch".

[2020-09-02 02:26] Inezzzz commented on #3245
Tried to render the install_boost.bat and this is what I got

C:\carla\Util\InstallersWin>install_boost
    -[install_boost]: [Batch params]:
    -[install_boost]: You must specify a boost version using [-v|--version]
    -[install_boost]: Exiting with error...

How do I specify the boost version? I downloaded a boost binary and put in /carla/Build

[2020-09-02 03:55] KasraMokhtari2112 opened #3246 "Have Issue with Make PythonAPI with Carla version 0.9.9.4"
Hi Carla team,

I am trying to build Carla (0.9.9.4) from source following this link: https://carla.readthedocs.io/en/latest/build_linux/ and I have an issue with "make PythonAPI", although "make launch", "make LibCarla" work for me. The issue is "make PythonAPI.2" works fine which is for python2 but for python 3 this command is not working. This is the error I am getting:

BuildPythonAPI.sh: Buil

[2020-09-02 05:06] H-Whisky commented on #3245
Go to https://dl.bintray.com/boostorg/release/ , find and download *0.72.0*.zip, put it into ~/carla/Build/ when download finished.

[2020-09-02 05:23] souvikboseGM opened #3247 "Import RoadRunner Map in CARLA/ Build CARLA Ubuntu 16.04"
I am  trying to build CARLA in Ubuntu 16.04
and using this document  https://carla.readthedocs.io/en/stable/how_to_build_on_linux/#build-unreal-engine

Unreal Engine build is done.
and Then I used "git clone https://github.com/carla-simulator/carla" to download CARLA 0.9.8 [No particular reason to download 0.9.8 . My main aim is to Import RoadRunner Map in CARLA]

Then While doing " ./Setup.sh ".

[2020-09-02 05:43] man-csl commented on #3234
./CarlaUE4.sh -opengl worked does not crash. Closing the issue.

[2020-09-02 05:43] #3234 closed

[2020-09-02 05:48] BoldArro1 commented on #3239
YES
I found some descriptions in the code file, but based on those descriptions, I didn't find the right mathematical model.

[2020-09-02 06:52] souvikboseGM opened #3248 "Cannot add PPA # CARLA # ubuntu 16.04 # sudo add-apt-repository ppa:ubuntu-toolchain-r/test"
I am trying to build CARLA in Ubuntu 16.04
I am using  "https://carla.readthedocs.io/en/0.9.8/build_linux/" docs

I am doing the below step, one-by-one

" sudo apt-get update && sudo apt-get install wget software-properties-common && sudo add-apt-repository ppa:ubuntu-toolchain-r/test && wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key|sudo apt-key add - && sudo apt-add-repository "deb http://

[2020-09-02 07:39] GabiShahmayster commented on #3239
@BoldArro1
Hi,
I haven't looked at the C++ source, but based on their parameters and some basic testing, they appear to be using the following model:
gyro_i[k] = gyro_true_i[k] + noise_gyro_bias_i + gyro_wideband_noise_i[k]
where:
gyro_i[k] - gyro measurement, at k-th time sample
gyro_true_i[k] - true rotation-rate, at k-th time sample, projected on IMU's i-th axis
noise_gyro_bias_i - constant bia

[2020-09-02 07:39] Beskhue commented on #3220
This might be related to #2789.

[2020-09-02 07:45] hh0rva1h commented on #2992
@marcgpuig @sergi-e Thanks very much, has this been added to the doc?

[2020-09-02 08:02] pergustav commented on #3247
You are reading the docs for the stable version, which isn't 0.9.8.
You will probably have better luck with this one. https://carla.readthedocs.io/en/latest/build_linux/

[2020-09-02 08:22] souvikboseGM commented on #3247
@pergustav Thanks for the docs. I just moved to this doc. I am facing now new issue. Posted with Error No #3248 . If you could pls  check ,if you could help

[2020-09-02 09:24] jackbart94 commented on #3237
Hi,

Yes, in 0.9.8 it's probably more appropriate to delete them inside the Localization Stage. You can probably re-use the code from there. The ``max_idle_time.first`` is the maximum a vehicle has to be stopped before the elimination policy destroys it. There is another parameter which basically tells that you can only destroy a vehicle each X seconds, can't remember the name for 0.9.8.

What you

[2020-09-02 10:54] zhengmingzhang opened #3250 "How can i get the bounding box of the pedestrian in carla 0.8.4?i want to use the data collector to save the info"

[2020-09-02 12:48] TKeutgens commented on #3009
Hi @Axel1092 thanks very much for your support! Is there an example or step-by-step guide for the workarround? I tried adding the geoGeoreference tag into the ODR file. As lat_0 and lon_0 I added the minlon and minlat parameters of the OSM file. But the results don't match my georeferenced satellite image. It also seems like there is a roation error in the ODR file. Do you have any information on

[2020-09-02 12:58] marcgpuig opened #3252 "Tracking of #3251"
_This issue is intended to track #3251._

It must be tested in Windows (@bernatx and @XGodina) and Linux (@Axel1092).
- Make sure the client colors mimic the original UE4 colors.
- Make sure all the semantic tags are correctly displayed.

[2020-09-02 13:25] man-csl commented on #3083
I also get the same error, but installed carla using the deb package. How can I fix it?

[2020-09-02 14:01] #3244 closed

[2020-09-02 14:02] kanakab commented on #3244
The issue resolved once I followed the steps again.

[2020-09-02 14:37] kanakab opened #3254 "E-scooter model in CARLA"

[2020-09-02 15:04] kanakab commented on #3254
Currently there are no E-scooter model availabel in CARLA. It would be great to get E-scooter vehicle model as the no of E-scooter users has increased.

 -label:feature request.

[2020-09-02 16:54] lucasnmatias commented on #3009
Hi, I'm also working with conversion from OpenStreetMap to OpenDrive and to import it to Carla. How can I use this new feature? I've downloaded the pre-release version 9.9.10 but I don't know how to use python API from this pre-release, when I run a python code using carla lib I just get:

Traceback (most recent call last):
  File "config.py", line 28, in <module>
    import carla
  File "/home/lu

[2020-09-02 20:24] adscib commented on #3220
My guess would be that the problem is entirely on the client side. If I'm running a client with a traffic manager connecting to a server in synchronous mode, then start another server, get a client for the second server from the Python process running the first client, load a world and try to apply synchronous settings for the second server, that last call doesn't return. The issue goes away if I

[2020-09-02 22:22] wbadry commented on #3072
Thanks @sergi-e and @juaxix for your response. I highly appreciate it

[2020-09-02 22:33] hh0rva1h opened #3255 "Physics precision: lower fixed_delta_seconds does not necessarily improve precision"
**Carla Version:** 0.9.9.4, binary release tarballs
**Environment:** Ubuntu 20.04

### Description

We tried to find an optimal (tradeoff between precision and performance) fixed_delta_seconds value for our reinforcement learning environments. We noticed however that a lower value does not always make the physics more sane, sometimes accelerations start to fluctuate heavily.

Consider the followin

[2020-09-02 23:20] hh0rva1h opened #3256 "Electric cars (Tesla Model 3): vehicle dynamics seem inaccurate"
# Actual behavior

In the following code we spawn a Tesla Model 3, accelerate it until approx 20 m/s, then we try to hold that speed and afterwards we set throttle to zero.
[code]
The plot looks as follows:
![Screenshot from 2020-09-03 00-58-32](https://user-images.githubusercontent.com/61889859/92045363-9f27bd80-ed80-11ea-8604-efe6c107d8cf.png)

# Expected behavior

Looking at the plot there are

[2020-09-03 00:20] YukunXia commented on #3205
Hi, this Github version of proj, tagged as "tags/4.9.3", installs libproj.12.so on my ubuntu 20.04, rather than libproj.9.so.

[2020-09-03 00:32] youngsend commented on #3237
Thank you @jackbart94 !
I re-used code from `TryDestroyVehicle` without the time constraint part. It seems that `python3 spawn_npc.py` does not abort any more. I am going to take a video on Unreal Engine to show the vehicle destruction.

[2020-09-03 00:32] #3237 closed

[2020-09-03 03:41] souvikboseGM commented on #3248
This is solved by changing the immutable attribute for those files by doing below
"sudo chattr -i /etc/apt/sources.list.d/geue_repo.list"
"sudo chattr -i /etc/apt/sources.list"

Then after completing the "add-apt-repository" command, one can reset the immutable attribute for those files again if you want.
"sudo chattr +i /etc/apt/sources.list.d/geue_repo.list"
"sudo chattr +i /etc/apt/sources.list

[2020-09-03 03:41] #3248 closed

[2020-09-03 03:41] souvikboseGM commented on #3248
This is solved by changing the immutable attribute for those files by doing below
"sudo chattr -i /etc/apt/sources.list.d/geue_repo.list"
"sudo chattr -i /etc/apt/sources.list"

Then after completing the "add-apt-repository" command, one can reset the immutable attribute for those files again if you want.
"sudo chattr +i /etc/apt/sources.list.d/geue_repo.list"
"sudo chattr +i /etc/apt/sources.list

[2020-09-03 07:47] wangludong opened #3257 "How to replace existed scene content with my own fbx and opendrive?"
Hi

I deleted most contents of a existed scene and tried to import my fbx and opendrive generated by RoadRunner,
but I can't generate routes markers.

Here are my steps:

RoadRunner version:R2020a
Carla version:0.9.8
Unreal Engine version:4.22.3

1.Make a simple segment of road in RoadRunner.
![xodr1](https://user-images.githubusercontent.com/167162/92085534-8ad4d680-edfb-11ea-94ce-1ac971e88c8f.PN

[2020-09-03 09:29] olitazl commented on #3246
Same problem here while building it within the docker container.
Help would be really nice!

tia

[2020-09-03 10:05] BoldArro1 commented on #3239
Yes,It is helpful.
However,there are still some questions that bother me.According to your description，the result of imu is composed of truth ，bias，and noise.
In the code, the conversion from the actor coordinate system to the world coordinate system is used. If I take the data directly from the world coordinate system, can I get the result in the world coordinate system plus the noise to get the

[2020-09-03 10:18] GabiShahmayster commented on #3239
All IMU errors should be simulated and added in the actor frame.
Please note that there was a bug in IMU gyroscopes simulation, which should have been resolved in version 0.9.9.10 (https://github.com/carla-simulator/carla/pull/2998)

[2020-09-03 11:02] BoldArro1 commented on #3239
Please tell me what is the origin of the Actor scene as coordinates. I know that Actor is a scene defined in ue4, but I can't find a description of the coordinate axis.
Thank you

[2020-09-03 11:15] GabiShahmayster commented on #3239
Are you asking about Carla's coordinate system?
It's built using Unreal Engine and uses it's coordinate system.
It's a left-handed Cartesian reference frame. Each actor has a Location (3d translation) and Rotation (3 Euler angles) attribute.
Perhaps this is too simplistic and I didn't understand your question... Carla's documentation is very good, you should a lot of information there...

[2020-09-03 11:55] souvikboseGM opened #3259 "Issue while running "make launch" [gzip: stdin : Unexpected end of file] during Extracting boost"
Using Ubuntu 16.04 , CARLA 0.9.8 Unreal Engine 4.22
Facing issue while "Make launch" Attached is the issue . Can somebody please point what could be the issue ? Thanks for the help

![image](https://user-images.githubusercontent.com/61221837/92111431-e908b600-ee09-11ea-83cc-f8fc7de4edd4.png)

[2020-09-03 12:06] xiaoyang666 opened #3260 "Research work on maps"
Research work on maps
Since roadrunner is not free, I have launched some attempts here
1. I bought a map in the UE4 store, generated a blueprint class from the c++roadrunner class, and manually added the car spawning point and roadplanner to the map, but this is currently unavailable
2. Use the osm file to input into the sumo simulator to obtain the opendrive file, generate the fbx file from the o

[2020-09-03 13:55] dHonerkamp commented on #3220
Makes sense, after restarting the python script (not the server) it does indeed work again, as also mentioned in the issue linked above.

[2020-09-03 14:18] XGodina commented on #3256
Hi, @hh0rva1h

Thanks for that accurate test. I will test these new values.

[2020-09-03 14:42] jackbart94 commented on #3224
Hi,

Sorry for the delay. Yes, we had faced this issue for this particular parameter. It's been fixed, a PR will be opened soon, thanks for opening this issue!

[2020-09-03 15:12] jackbart94 commented on #3172
Hi,

Sorry for taking some time, I was wondering what script are you using for this particular example? Is Traffic Manager involved, or are you using one of the agents? It's very important because the weird behavior of the throttle might be because the PID isn't tuned properly, and might be one of the older agents.

[2020-09-03 16:23] Axel1092 commented on #3252
Works!

[2020-09-03 16:40] bernatx commented on #3252
Works for me also, in windows.

[2020-09-03 19:43] baurst commented on #3212
I stumbled upon this issue, thinking this might be related to a problem that I'm having with the simulator hanging after starting a new episode. In my case I thought some "dangling" synchronous clients might be preventing the simulator from continuing. But I was not able to reproduce this behavior with your code snippets on master...

For me lssof -i TCP:2000 just gives the following output for th

[2020-09-03 19:55] baurst commented on #3246
I had the same issue building in Docker.

1. It seems that -Werror picks up the warning about unused optimization flags, thus I removed -Werror from PythonAPI setup.py, around line 59. This fixed the issue if I remember correctly, but then the next problem occured in the line after that in setup.py.
"build/temp.linux-x86_64-3.6/source/libcarla/libcarla.o: file not recognized: File format not recog

[2020-09-04 03:56] peiyunh commented on #184
Hi @nsubiron could you kindly point me to an example for controlling NPCs? Thanks!

[2020-09-04 05:22] thytless commented on #3257
Hello! The "Generate Routes" Option in OpenDriveActor should work, did you also check the "Show Debug" option below?

[2020-09-04 06:29] #3224 closed

[2020-09-04 07:47] baurst commented on #3212
So despite being unable to reproduce this issue with the snippet you have provided, I was able to reproduce it using my own use case. I end up with dangling TCP connections. (lsof -i TCP:2000 says "CLOSE_WAIT" for my python client PID, while the same PID has one connection that is "ESTABLISHED").

My "dirty" workaround - using a seperate Process will kill all child TCP connections...

[code]

[2020-09-04 07:58] wangludong commented on #3257
Hi
"Show Debug" option is checked in my project.
Actually, I followed this document [https://www.mathworks.com/help/roadrunner/ug/Exporting-to-CARLA.html](url).
Now I can run PythonAPI\examples\manual_control.py to drive the car manually or automatically.
But when I launched PythonAPI\examples\automatic_control.py, I got a number of errors below.
![automatic_error](https://user-images.githubuserco

[2020-09-04 09:15] BoldArro1 commented on #3239
I think I've found the answer.
The carla's actor scene uses the left hand coordinate system, the opendrive format map uses the right hand coordinate system, and my simulation in the opendrive map needs to convert the right hand coordinate system to the left hand coordinate system, and then to the world coordinate system. I can get the simulation result according to carlad's calculation method.
Tha

[2020-09-04 09:32] thytless commented on #3257
Looks like the API had some trouble parsing your opendrive file, maybe find some tools to check it? Also, a closed map is suggested otherwise vehicles may fall out of the map.
Version 0.9.9 have a better support for opendrive, check it~

[2020-09-04 12:14] p-testolina commented on #2343
I'm working on the bounding box extraction as well, this would be a nice feature to have!
Thanks for your work guys.

[2020-09-04 14:53] Axel1092 commented on #3174
Hi @Bhavani56, did the increase of the timeout solve your problem? If the map is very large you may need to increase the timeout even further.

[2020-09-04 14:58] Axel1092 commented on #3222
Hi @H-Whisky, thank you for your report, this is a problem that happens when a signal is having an effect in a lane that has 0 width which may happen when the lane is.

[2020-09-04 15:05] #2897 closed

[2020-09-04 15:14] Axel1092 commented on #3083
Hi @man-csl, maybe you are not using the correct python version. We support python 3.7 for our packaged builds, try installing it (`sudo apt-get install python3.7`) and see if it works.

[2020-09-04 15:21] EsquilliDev commented on #2808
I'm having the same issues and yes, I have downloaded and extracted the assets to that folder.

[2020-09-04 15:40] qhaas commented on #2797
Encountered the same error with CARLA 0.9.7, clang 8, and Ubuntu 18.04.  The problematic packages were `libc++-${CLANG_VER}-dev libc++abi-${CLANG_VER}-dev libc++1-${CLANG_VER} libc++abi1-${CLANG_VER}`, where CLANG_VER is the version of clang you are using (with 0.9.7, that *should* be clang-7, but I am dealing with a special use case) once removed, it clears the error

[2020-09-04 16:14] qhaas commented on #3246
I encounter these errors when using a (major) version of clang that isn't the officially supported version of clang with the version of carla I am using.  Clang typically 'improves' its abilities to [find possibly problematic code at compile time](https://en.wikipedia.org/wiki/Static_program_analysis) with each major release.  The result is [new types of warnings](https://clang.llvm.org/docs/Diagn

[2020-09-04 16:49] qhaas commented on #3240
Hopefully this doesn't come across as too blunt, because it isn't my intentions to be rude...  One likely shouldn't go down the path of compiling CARLA from source without a working knowledge of Debian-like linux distributions (e.g. Ubuntu) and sudo/root access to deploy dependencies.  Attempting to use a different version of clang (or UE for that matter) than the one supported by the version of C

[2020-09-04 17:17] qhaas commented on #3236
Similar issue in RHEL as described in Issue #1783.  IIRC, the current version of CARLA targets Ubuntu 18.04, and thus was likely built against [this package](https://packages.ubuntu.com/bionic/libjpeg8-dev).

You will need to either find an equivalent package for Debian that deploys that major release of libjpeg, add said shared object (SO) to your `LD_LIBRARY_PATH`, use the [carla docker image](h

[2020-09-04 17:58] souvikboseGM opened #3265 "Cannot find "CarlaUE4.sh" after building through make launch ### how can I run server CarlaUE4.sh and attach Python API Client ###"
Carla 0.9.8,Ubuntu 16.04,Unreal Engine 4.22

After completing all the steps from https://carla.readthedocs.io/en/0.9.8/build_linux/ , and successful after make launch.
I could not find CarlaUE4.sh . Then how can I run server CarlaUE4.sh and connect Python API Client ?
Please Help ..

[2020-09-04 18:01] souvikboseGM commented on #3247
Solved by https://carla.readthedocs.io/en/0.9.8/build_linux/

[2020-09-04 18:01] #3247 closed

[2020-09-04 18:02] souvikboseGM commented on #3259
Installed Python directly rater than Anaconda

[2020-09-04 18:02] #3259 closed

[2020-09-04 20:32] qhaas commented on #3265
`make package` should package CARLA up with said script similar to how the vendor distributes CARLA, try that.

[2020-09-05 09:33] atsushinakazima commented on #3240
I really need carla0.9.6.
I currently have nvidia440 and cuda10.1.243 in my system. Because this is within the recommendation of carla0.9.6, I do not think that there is not a problem especially...(By the way, the reason why nvidia is 440 is nvidia, I thought to specify 418 at first and install it, but because my PC does not boot Ubuntu like this site
https://itectec.com/ubuntu/ubuntu-problems-wit

[2020-09-05 09:40] atsushinakazima commented on #3240
https://mail.google.com/mail/u/1?ui=2&ik=7fcc80d93b&attid=0.1&permmsgid=msg-a:r5938779272112668039&view=att&disp=safe&realattid=f_keph73060

[2020-09-05 09:41] atsushinakazima commented on #3240
![Screenshot from 2020-09-05 18-36-28](https://user-images.githubusercontent.com/63640603/92302472-60c01780-efa7-11ea-9f37-4229474ae42d.png)

[2020-09-05 18:01] adscib commented on #2789
I can also confirm this issue is still present in the 0.9.10 pre-release and in the nightly build I downloaded yesterday.

[2020-09-05 19:52] #3008 closed

[2020-09-05 19:52] #2874 closed

[2020-09-05 19:52] #2915 closed

[2020-09-05 19:52] #2854 closed

[2020-09-05 19:52] #2868 closed

[2020-09-05 19:52] #2985 closed

[2020-09-05 19:52] #2977 closed

[2020-09-05 19:52] #2969 closed

[2020-09-05 19:52] #2689 closed

[2020-09-05 19:52] #2723 closed

[2020-09-05 19:52] #2738 closed

[2020-09-05 19:52] #2752 closed

[2020-09-05 19:52] #2755 closed

[2020-09-05 19:52] #2796 closed

[2020-09-05 19:52] #2856 closed

[2020-09-05 19:52] #2902 closed

[2020-09-05 19:52] #2938 closed

[2020-09-05 19:52] #2495 closed

[2020-09-05 20:42] raymanfx commented on #2989
This is still relevant to me. I see you assigned this to milestone 0.9.11. Is there any progress so far? My team will start to evaluate options regarding RPM values, but we are not as familiar with CARLA internals as you are of course.

[2020-09-05 20:51] #2942 closed

[2020-09-05 20:51] #2805 closed

[2020-09-05 20:51] #2783 closed

[2020-09-06 02:56] atsushinakazima commented on #3240
It looked like I had an $sudo apt update between
$sudo apt-get install build-essential clang-7 lld-7 g++-7 cmake ninja-build libvulkan1 python python-pip python-dev python3-dev python3-pip libpng16-dev libtiff5-dev libjpeg-dev tzdata sed curl unzip autoconf libtool rsync

and

$pip2 install --user setuptools

, is it possible that this is causing the above error?

<img width="1440" alt="スクリーンショット

[2020-09-06 06:12] tranqkhue commented on #1090
Hi, I'm interested in OddLOT too. May you share the docker container?

[2020-09-06 09:09] hbanzhaf commented on #1090
Thank you for your interest. Please find all further information [here](https://github.com/hbanzhaf/docker_covise).

[2020-09-06 15:37] uwewoessner commented on #1090
Thank you for the docker container!
And to everyone who uses OddLOT: don't hesitate to contact me if you are having issues with it or if you have a feature request.
We are currently reworking the interaction concept and it might not work as expected, thus please help us to improve it.
PS.: the windows binaries from here: https://fs.hlrs.de/projects/covise/support/download/ do include OddLOT.

[2020-09-06 17:29] tranqkhue commented on #1090
I have just installed the windows binary version. The installation was really straightforward and I successfully ran the program. However, when I tried to import OSM map, the program crashes. Is there a solution for this problem? Many thanks :D

[2020-09-06 23:08] munirjojoverge opened #3266 "How to retrieve simulation data in C++ (equivalent to read_data() on the pythonCli)"

[2020-09-06 23:58] #2474 closed

[2020-09-06 23:58] #2670 closed

[2020-09-06 23:58] #2994 closed

[2020-09-06 23:58] #2679 closed

[2020-09-07 07:12] uwewoessner commented on #1090
Could you send me the OSM file so that I can debug it?
It might be the projection settings, the default is Gauss Krüger which might not be OK for you anyway. If the projection is wrong all coordinates end up in Nirvana and road creation might not work. Also check the X and Y offsets on the same setting page.
You can also open a COVISE Shell and start oddlot from the command line, then you might se

[2020-09-07 07:19] tranqkhue commented on #1090
Many thanks  :D My OSM file was downloaded from openstreetmap.org
[map.zip](https://github.com/carla-simulator/carla/files/5181581/map.zip)
Also, I opened oddlot from command line, and it's really weird that there was no debug information available.
![image](https://user-images.githubusercontent.com/35965876/92359149-fa590780-f114-11ea-92b3-5c62fbb9c326.png)

[2020-09-07 11:58] #2864 closed

[2020-09-07 11:58] #2721 closed

[2020-09-07 11:58] #2830 closed

[2020-09-07 12:44] HemaZ commented on #3040
a workaround would be renaming the .egg file from  **carla-0.9.9-py3.7-linux-x86_64.egg**  to  **carla-0.9.9-py3.6-linux-x86_64.egg**  . it works for me with no issues

[2020-09-07 12:57] HemaZ opened #3269 "opendrive could not be correctly parsed"
Hello CARLA Team,
I'm having an issue running the opendrive standalone example in the documentation
`python3 config.py -x opendrive/TownBig.xodr
`
I get the following error
_**opendrive could not be correctly parsed**_
I'm using CARLA Patch Release 0.9.9.4
on Ubuntu 18.04 inside Docker
I've tried using python3.6 and python3.7 but I get the same issue.
Thank You.

[2020-09-07 15:58] #2878 closed

[2020-09-07 19:30] uwewoessner commented on #1090
please try out this version:
https://fs.hlrs.de/projects/covise/support/download/snapshot-2020-09-07/covise_2020-09-07_zebuopt.exe
after File->New go to File->Settings and select the "UTM Zone 45" preset. Then you can load your OSM file.

[2020-09-08 07:01] Leon-Adler opened #3270 "Running CARLA from Docker failed"
Hello community!

After we installed,
- Docker and
- nvidia-docker-2

we followed the instructions https://carla.readthedocs.io/en/latest/build_docker/.

In brief, we pulled the CARLA image 0.9.9
[code]

and ran CARLA under docker.
[code]

Unfortunately after running the command above we got the following error message:

[code]

Has anyone an idea to solve this?

Thanks for your contributions!

[2020-09-08 11:42] tranqkhue commented on #1090
Many thanks :D It works.

[2020-09-08 12:01] yjiang05 commented on #2789
I also encounter the same issue in CARLA 0.9.9.4 and I use Ubuntu 20.04 and Python 3.7.

What I've tried and found:
1. Setting TM's sync mode to `False` either before or after reloading the world will cause the TM to hang.
2. Leaving the server running and restarting the script, it works well (similar to @Beskhue's description).
3. Starting two servers with different ports, using the same code to

[2020-09-08 12:07] uwewoessner commented on #1090
If there is enough interest in the carla community I could give a webex presentation on how to use OddLOT and perhaps find some developers who would like to help developing.

[2020-09-08 12:29] tranqkhue commented on #1090
I'm in :D Currently, up to my knowledge, there is no open-source software that could help to build the OpenDrive map for simulator except OddLOT. OpenDrive is an open standard, but not many open editors! Of course, I will cite OddLOT in my research!

[2020-09-08 14:52] H-Whisky commented on #3222
Thanks @Axel1092! I will update the code in the current master branch. And try again.

[2020-09-08 16:06] qhaas commented on #2853
Ran into this problem today when trying to build with 4.23.1, looks like `UWorldSubsystem` [was added in 4.24](https://www.ue4community.wiki/programming-subsystems-29v70qij).

[2020-09-08 17:29] munirjojoverge commented on #3168
@germanros1987 , where can the vehicle maximum acceleration be found? I've looked on the VehiclePhysicsControl.

[2020-09-08 18:54] qhaas commented on #2548
IIRC, CARLA 0.9.8 uses UE 4.22+clang-7 and CARLA 0.9.9.x uses UE 4.24+clang-8.  You can get CARLA 0.9.8 working with UE 4.23.1 (and clang-8) with some minor changes.  However, CARLA 0.9.9.x uses UE 4.24 features that don't exist in versions prior to it.

[2020-09-08 20:19] #3235 closed

[2020-09-09 08:03] wangludong opened #3273 "Import traffic signals but don't work."
Hi there

I made a map with traffic signals in RoadRunner.
When I imported the Opendrive and started the simulation, the traffic signals did't work.
The lights neither turned on nor switched.
I wonder what is the mechanism of traffic signals.Are they controlled by Opendrive or some other ways?

[2020-09-09 08:19] wangludong commented on #3257
I found the reason but a little weird.
My previous map had no junctions, so I add some junctions this time and it works.

[2020-09-09 08:19] #3257 closed

[2020-09-09 08:26] thytless commented on #3273
https://github.com/carla-simulator/carla/releases
Traffic lights auto-importing is supported since 0.9.9.1, please make sure you are using a higher version

[2020-09-09 10:56] JarvanI opened #3274 "Where can I find carla.egg's source code?"
I want to know how python api calls the c++ code in libcarla, so I want to read the source code of the egg file. Where can I find carla.egg's source code? Thanks

[2020-09-09 14:59] Beskhue commented on #2789
When dropping the client, some network connections are kept open. This is noted in #3212. When these connection are completely dropped the script can successfully connect again, even when using traffic manager and spawning agents.

A workaround is to create the Carla client inside a new process (from multiprocessing). When this process completes, the client and all connections are dropped. Now, la

[2020-09-09 15:03] Beskhue commented on #3220
This is a possible workaround for this issue: https://github.com/carla-simulator/carla/issues/2789#issuecomment-689619998.

[2020-09-09 15:35] abhi5691 opened #3276 "make launch doesn't build boost for python 2.7"
Using **Carla 0.9.9.4** on **Ubuntu 18.04**

I am sure that both python 2.7 and 3.6 are functional on my system. However, I am only able to locate boost library files for python 3.6 but not for 2.7 inside my carla Build directory after a `make launch`. FYI, I have libboost-python36.a as well as libboost-python27.a in my usr/lib/x86_64-linux-gnu directory.
However since the carla Build is devoid of

[2020-09-09 17:05] ziyanan commented on #2971
How did you guys solve this? I'm currently stuck on the same problem for as well.

[2020-09-09 17:51] jimmyw404 commented on #3274
Here's the source code for controls (VehicleControl, WalkerControl etc):

https://github.com/carla-simulator/carla/blob/dev/PythonAPI/carla/source/libcarla/Control.cpp

You'll need to understand https://www.boost.org/doc/libs/1_70_0/libs/python/doc/html/index.html before it really makes much sense.

[2020-09-09 17:54] jimmyw404 commented on #3266
Compile and run this example to access Carla via C++:

https://github.com/carla-simulator/carla/tree/dev/Examples/CppClient

Note that I used a callback in this function to get simulation data updates on tick instead of retrieving it.

in carla::client::World:
    /// Register a @a callback to be called every time a world tick is received.
    ///
    /// @return ID of the callback, use it to remo

[2020-09-09 18:05] Abanoub-G commented on #688
Hi,
This is relatively an old post. So I am wondering if there is a built in function in carla 0.9.9 that allows one to add their own static objects from fbx files and then spawn it using python. I couldn't find anything in the docs. Please direct me if there is something similar that exists in carla 0.9.9.

Thanks

[2020-09-09 21:01] abol-karimi commented on #1012
It seems that in 0.9.9.4 the frame follows the right-hand rule with z down: (forward, right, down) even though the method is called `get_up_vector()`

[2020-09-10 00:01] kino3 opened #3278 "Missing pyplusplus from Bitbucket URL (RSS Build docs)"
I'm trying to build RSS environment on my Ubuntu.
In https://carla.readthedocs.io/en/latest/adv_rss/
[code]
But we cannot get pyplusplus from this URL (404 Not found). Can we use the following one instead?
[code]

[2020-09-10 02:10] wangludong commented on #3273
Thank you.
But I have to use 0.9.8 because of the limit of my project.
Is there any way to work with traffic lights in this version?

[2020-09-10 03:18] thytless commented on #3273
Well, as far as I know you can always manually add traffic lights actors to your map in CarlaUE4 Editor.

[2020-09-10 04:35] yjiang05 commented on #2789
Hi @Beskhue,

Thanks for your comment! It works when `multiprocessing` is used. However, in my case, after `close()`, which closes a client, in any process being called, if I hope to re-instantiate (re-create) a client in the same process, the connection will fail.

So, does it imply that (1) I should create "sub-process" within each process (though I don't know if it is possible) to re-instantiat

[2020-09-10 10:13] pavanteja295 opened #3279 "Python API for appearance changes of the actors in the scene."
Hello,
I'm trying to recreate a single snapshot within CARLA by varying the appearances of the actors(vehicles). I can see from the Python API documentation (https://carla.readthedocs.io/en/latest/bp_library/) that one can select only the color and model of the vehicle but cannot choose the material of the vehicle.

However, in the paper (http://proceedings.mlr.press/v78/dosovitskiy17a/dosovitskiy

[2020-09-10 12:15] joealan11 commented on #3022
Any advice to where to look for the lef hand traffic to work? We were doing it with route planner, but now this is deprecated.

[2020-09-10 13:04] jimmyw404 commented on #2128
@OlivierDelbekeI'd be interested in the jpeg compression/decompression feature if you want to share it (maybe put it in a branch?)

[2020-09-10 13:05] jimmyw404 commented on #2128
@OlivierDelbeke  I'd be interested in the jpeg compression/decompression feature if you want to share it (maybe put it in a branch?)

[2020-09-10 13:30] SchDevel opened #3280 "0.9.10: LiDAR point clouds not displaying NPC cars"
Hello together,

I am currently experiencing a problem regarding the LiDAR point clouds with CARLA, running on Ubuntu 18.04.
As shown in the attached screenshot, cars (red bounding box) are not reflecting any points. However, pedestrians work fine. This can be seen at the blue bounding box slightly behind the green one. The model / car with the LiDAR attached on has the green bounding box.
Non-NPC

[2020-09-10 15:50] XGodina opened #3281 "[Testing] (New colliders of Vehicles)"
In order to test all collider of vehicles are work fine

Content_version 20200908_3f92e51.tar.gz

[2020-09-10 16:15] gsp-27 opened #3282 "Question about depth Image and Segmentation Image."
Hi,

Thanks for the wonderful open source simulator. I had a question regarding converting depth map to pointcloud and then obtaining the points belonging to the objects using the segmentation map in 3D.

I was following https://github.com/carla-simulator/carla/pull/100/commits/07c06f4f51bb221eb9675fda4213e9384fb0378e, to convert depth map to pointcloud.
Here
[code]
Why are the coordinates formed

[2020-09-10 16:30] OlivierDelbeke commented on #2128
@jimmyw404  I tried to push it

[2020-09-10 16:43] OlivierDelbeke commented on #2128
@jimmyw404 and everyone else interested, I forked the project to my account and pushed my changes to a branch called "experimental/image_compression". I'm not sure that this is the right way to go, but at at least, the code is available. Only Linux is supported, and you have to put the jpeg libraries somewhere in the UE4 plugin directory ("Dependencies")) to get it compiled, but that should be all

[2020-09-10 16:57] zwbai commented on #3232
Hi @joel-mb !

Thank you for your attantion. My sumo version is 0.32.0.
In addition, I also tried Town01 with same command, but it shows the same error, which is shown as below:

![Screenshot from 2020-09-11 00-53-18](https://user-images.githubusercontent.com/23632221/92767276-8a26dc00-f3c9-11ea-9453-440318cc7f05.png)

hope that you can help to solve the problem, thank you very much!

[2020-09-10 17:57] jimmyw404 commented on #2128
@OlivierDelbeke  Looks good to me! I think this is something that should be integrated into CARLA as an option to the RGB cameras, but until then this will save me some time. I see that you persisted the alpha channel in the RGB images, which is probably a good idea to avoid changing the nature of the data, but is that used for anything? I was surprised to see it in the RGB camera.

[2020-09-10 18:19] OlivierDelbeke commented on #2128
The alpha channel is probably not necessary ; not sending it at all sounds like a good idea of improvement. The first thing the pygame-based carla clients do, is to strip that channel off (and it costs 3 ms per frame).

[2020-09-10 19:55] sagar-g-v commented on #3246
I got the same error. now it is fixed

try running below command before  `make PythonAPI`
[code]

if it fails try this
[code]

[2020-09-10 20:03] qhaas commented on #2324
Did the update that fixes this (0.9.7.3) ever find its way into the CARLA 0.9.7 docker container?  We are seeing this problem with the container, but not the 0.9.7.4 binaries.

[2020-09-11 02:00] huan0808 opened #3283 "A question about the explanation of World.wait_for_tick() method in official document"
Hi,
    I think this function is a asynchronous method to make client wait server to compute a frame.And if it hasn't done,we can make a loop in client to wait the server.
![image](https://user-images.githubusercontent.com/49682558/92841971-8b7df600-f415-11ea-852d-94e207be05ea.png)
    But in document's explanation it seems like a Synchronize method.
![image](https://user-images.githubusercontent.

[2020-09-11 02:38] #2559 closed

[2020-09-11 02:38] #2961 closed

[2020-09-11 02:38] #2988 closed

[2020-09-11 07:10] dnns92 opened #3284 "Suggestion to add "sky-label" to default Carla Labels"
Dear Contributors,

as suggested here: https://github.com/carla-simulator/carla/issues/2628 and also here https://github.com/carla-simulator/carla/issues/1617, one can add the sky label by adding the respective string comparison to a couple of header/cpp files and compile carla from scratch. However, this becomes very tidious as I have to do this every time a new carla version gets released. Addit

[2020-09-11 07:23] Beskhue commented on #2789
@yjiang05 Neither (1) or (2). Using this workaround, you do not re-use the processes. You should create a process per client setup and teardown. So, you create a process, and in it you setup the client, run the things you want to run, and close the client. To run another thing, you repeat the same steps.

[2020-09-11 07:46] wangludong commented on #3273
Thank you.
I added some BP_TrafficLights to my scene and they can switch lights.
But the lights of different directions turned to the same light simultaneously, as you can see in the following capture.
![traffic signal](https://user-images.githubusercontent.com/167162/92885905-c730b400-f445-11ea-9685-0e3d05d6f779.JPG)

Do you know how to control them?

[2020-09-11 09:16] kanakab commented on #1090
@uwewoessner That would be great. I would like to contribute too. I think lot of people are tired of not having good OpenSource software to create maps.

[2020-09-11 09:18] ndeshp2s opened #3285 "Building CARLA 0.9.9.4 from source always fails"
Hello, I am trying to build carla 0.9.9.4 from source since a few days now, however, it always gives an error after running "make package".

The error is as follows:

[2020-09-11 09:36] wangludong commented on #3273
I associated a TrafficLightGroup with these TrafficLights and it became better.
But these lights circulated one by one instead of synchronizing the opposite lights so as to turn on the same light.
Need I modify the blue print?Or any other way exists?

[2020-09-11 11:56] pangxiao2013 opened #3286 "Can I add a new segmentation tag in windows version? How can I do that?"

[2020-09-11 14:07] kanakab commented on #1090
@uwewoessner @hbanzhaf  I tried using installing using the docker file you mentioned. I am getting the following error, please help me rectify it.
![Bildschirmfoto von 2020-09-11 16-00-34](https://user-images.githubusercontent.com/57012567/92935202-c51c2480-f448-11ea-9c5b-4d6395cbed12.png)

[2020-09-11 15:50] MisterioRemo commented on #2365
@soulslicer well, it's possible.
You can create your own camera sensor based on ShaderBasedSensor class and use Unreal plugin OpenCVLensDistortion or LensDistortion. Also you'll need to create postprocess material for this plugin and set it in your new camera class in constructor.
OpenCVLensDistortion  is good, but works only on Windows.
LensDistortion is... strange but works on Linux and Windows!

[2020-09-11 19:35] tiger-bug opened #3287 "LiDAR map artifacts"
Good afternoon,

I have an issue with creating a full LiDAR point cloud.  It seems to have artifacts similar to the ones found in [issue 594](https://github.com/carla-simulator/carla/issues/594).  Everything seems to be aligned except for points following the path of the vehicle.  I'm using the apt-get version of Carla (CARLA 0.9.9.2).  As you can see, I'm getting points that are floating and para

[2020-09-11 21:07] blackliner commented on #2970
Hi, with WSL2 being able to run nvidia-docker2 with GPU support, I tried to get carla running. Unfortunately, I get an error message and directly thrown out of the docker again:
[code]

[2020-09-12 12:47] Kipt commented on #3035
Is this how bugs are "fixed"?

[2020-09-12 15:20] #2822 closed

[2020-09-12 15:34] anurag-176 commented on #1466
Did you guys check out sentdex's video?
https://www.youtube.com/watch?v=J1F32aVSYaU&list=PLQVvvaa0QuDeI12McNQdnTlWz9XlCa0uo

He uses:
`py -3.7 python spawn_npc.py -n 80`

[2020-09-12 20:01] CodeTrol commented on #1707
@MalathiKaliyappan You didn't provide enough information how you got the builds, what steps you followed, etc. From my experience, it's enough to follow the build instructions to get everything compiled locally. It works 100%. I stopped using docker builds of carla due to limited functionality that was in the box and started using through the UE4 editor to modify scenes and create some scenarios f

[2020-09-12 20:20] #3010 closed

[2020-09-12 20:20] #2824 closed

[2020-09-12 20:20] #2879 closed

[2020-09-12 20:20] #2880 closed

[2020-09-12 20:20] #2882 closed

[2020-09-12 20:20] #2910 closed

[2020-09-12 20:20] #2807 closed

[2020-09-12 20:20] #3020 closed

[2020-09-12 20:20] #3014 closed

[2020-09-12 20:20] #2819 closed

[2020-09-12 20:47] hh0rva1h commented on #2809
@bernatx Where did this end up in? I failed to find the commit in master / dev, but the pull request ist closed?

[2020-09-13 17:45] #2966 closed

[2020-09-13 18:10] KunanonxGithub commented on #115
So, for now, we cant use or adjust vehicle dynamic model except using NVIDIA PhysX engine which is default mathematical model for any vehicles in Carla. Am I wrong?  Where can we look for vehicle dynamic model of any actors? Thank you for your help.

[2020-09-14 07:02] peterkim95 commented on #780
Any updates on this? I'm trying to get the control signal from autopilot in 0.9.X. Would the recommended way for now be to just use an older version?

[2020-09-14 10:35] joel-mb commented on #3232
Hi @zwbai  ! Are you using this version of SUMO for any specific reason? I would say that if you update SUMO to the latest version (at least to `1.5`) the issue should disappear.

[2020-09-14 10:45] #2812 closed

[2020-09-14 11:02] jackbart94 commented on #3256
We have applied and tested the changes, let us know if it looks better now!

[2020-09-14 12:36] direcf commented on #894
Change UE4_ROOT=/home/smartfm/UnrealEngine_4.19 to UE4_ROOT=/home/smartfm/UnrealEngine-4.19
I also got this problem...Fighting!

[2020-09-14 12:45] PTorr commented on #1927
I wrote a solution to all maps for this:
Got to PythonAPI --> examples --> no_rendering_mode.py
Change the file content with the code below.

Run with configuration: --show-spawn-points --map TownXX

Here is an example for Town05:
![image](https://user-images.githubusercontent.com/8789891/93087448-3c4bf580-f6a1-11ea-94ad-b93c1f3316ab.png)

#!/usr/bin/env python

# Copyright (c) 2019 Computer Visio

[2020-09-14 13:05] joel-mb commented on #3035
Hi @Kipt
Sorry for the delay. I missed this issue. Could you open a PR in the ros-bridge introducing the fix. Otherwise, I'll do it myself.

[2020-09-14 14:03] zwbai commented on #3232
It worked! Thank you very much.

[2020-09-14 14:58] zwbai opened #3291 "[Co-simulation error]'Connection' object has no attribute '_socket'"
Hi,

I want to run the co-simulation with Sumo and I followed the tutorial 'Spawn NPCs controlled by SUMO'. I started the carla town 01 and then run the following code:
`python3 spawn_npc_sumo.py  --tls-manager sumo --sumo-gui --step-length 0.1 -n 50`

The problem is: the co-simulation is all the fine at the beginning. However, after a few time (10-30 seconds), the sumo will stop and show the erro

[2020-09-14 16:14] psesr opened #3293 "Cannot download any release before 0.9.5"
Tried Chrome and Firefox, both in Incognito mode:

- Firefox just gives me a white screen
- Chrome: "Access to doc-14-2k-docs.googleusercontent.com was denied"
![Screenshot from 2020-09-14 18-11-17](https://user-images.githubusercontent.com/70888352/93110681-f0f01200-f6b5-11ea-991b-231bc086a966.png)

This happens for any Linux release before 0.9.5 from the [releases page](https://github.com/carla-

[2020-09-14 17:11] chandeep11 opened #3294 "Carla - Window's installation fails at "make launch""
I'm trying to install Carla 0.9.8 (due to project dependency ) in Window's 10. I've installed VS2017 community edition and UE 4.22.3 and all other dependencies mentioned in the Build on Windows doc page.

When I try to run **make launch**, it fails with the following error.

[code]

I've also tried updating the **CMakeLists.txt** file to use the installed CMake, which also reports the same error.

[2020-09-14 20:43] hh0rva1h commented on #3256
@jackbart94 Thanks very much, where has this been applied? Could you link the commit?

[2020-09-14 20:57] jackbart94 commented on #3256
You need to update the CARLA content, it's all explained in the documentation!

[2020-09-14 21:18] hh0rva1h commented on #3256
@jackbart94 Thanks, but still I'd like to understand what has been done, https://bitbucket.org/carla-simulator/carla-content/ has version control too, so it would be nice if you could link a commit.

Also imho it's not clear in https://carla.readthedocs.io/en/latest/build_update/#get-development-assets whether there is need to recompile Carla afterwards? My intuition tells me no, but ultimately I'

[2020-09-15 01:21] rowandempster commented on #3163
Hi @charlie-wartnaby, I am currently in the exact same boat as you: I want to make a Carla package for a RoadRunner map that I have exported. However, the only importation method of the RoadRunner export that "works" (things render correctly) is the deprecated UE4 Plugin method, which does not generate standalone packages and therefore it is difficult/impossible to distribute the map I have create

[2020-09-15 09:28] jackbart94 commented on #3256
It's been merged with some other stuff, @XGodina could you link the commit?

You need to update the content with UE closed, then just do ``make launch`` and you'll have the latest content!

[2020-09-15 09:30] #3252 closed

[2020-09-15 10:07] jackbart94 commented on #3220
Sorry if it took so much to open a PR for this issue, it appears we have found a way to fix it!

It will soon be merged in `dev` and then to `master` when 0.9.10 comes out, but if you want to test it (and give us feedback!) the branch is `traffic_manager/map_change_fix`

Thanks for your patience!

[2020-09-15 10:07] jackbart94 commented on #2789
Sorry if it took so much to open a PR for this issue, it appears we have found a way to fix it!

It will soon be merged in `dev` and then to `master` when 0.9.10 comes out, but if you want to test it (and give us feedback!) the branch is `traffic_manager/map_change_fix`

Thanks for your patience!

[2020-09-15 10:14] charlie-wartnaby commented on #3163
Hi @rowandempster , I stopped at the point I had working traffic lights (added in the UE Editor from the blueprint library). For my project, just sharing the top-level ?.umap file and folder of asset files is good enough, so I fear I didn't pursue the package-making process. (I'm afraid I'm on holiday so I don't have access to any of the files right now.)
I did get one slightly random OpenDrive-de

[2020-09-15 10:19] neeraj310 opened #3296 "Maximum nu of multi agents that can be supported"
Hi Support Team

I am working on a survey for Carla capabilities and need few clarifications regarding the number of supported agents.

a) What is the maximum number of agents that can be supported on a normal desktop(16GB RAM, GPU, Linux)

b) Is it possible to add custom vehicles. I want to design my own vehicle and use it inside simulation framework.

Neeraj

[2020-09-15 10:53] DSantosO commented on #3281
Great work!
The general driving of all cars has improved a lot and I think they are more manageable and realistic.

Anyway, there are some issues:
- the general behavior of motorcycles are quite bad. For example:
   - yamaha: it presents weird jumps suddenly when driving like they were detecting potholes. Also, present a hard wheelie when braking.
   - ninja: fewer jumps when driving but it does p

[2020-09-15 12:39] mikelgarciafonseca commented on #1090
I would love to see that presentation

[2020-09-15 12:47] Basavaraj-PN commented on #1090
That would be great. 👍

[2020-09-15 16:16] HemaZ commented on #3232
I'm still getting a similar issue running SUMO 1.6
with `python spawn_npc_sumo.py --sumo-gui`
![image](https://user-images.githubusercontent.com/6087928/93236745-7a1f4b80-f77f-11ea-8a0a-05f3a591824e.png)

[2020-09-15 21:40] adscib commented on #3220
Thanks for the fix! I can confirm that I'm now able to reload the world using the CARLA version from `traffic_manager/map_change_fix`.

[2020-09-16 02:52] dotchen opened #3298 "Carla client crash with ray"
Hello!

I have been trying to collect data using the ray library, where I have several parallel actors each having a client connecting to each server (e.g 3 servers and 3 ray actors with world ports 2000,4000,6000, and traffic ports 1999,2999, and 3999).

However it seems to arbitrarily crash with the following error trace

[code]
It works fine however if ray is in local_mode.

I am wondering if a

[2020-09-16 03:29] seuwcs commented on #3294
I met the same problems and can't find a solution.

[2020-09-16 04:03] dianchen96 commented on #3298
Closing the issue, it seems to be caused by me not freeing the streaming port of previous runs. My bad!

[2020-09-16 06:23] Kipt commented on #3035
Thanks for checking this out @joel-mb

As the commit I have is based on a ROS-bridge repository that's heavily modified already I think it's faster if you do the change.

[2020-09-16 06:53] Malathi15 opened #3299 "Make launch Error while compiling Carla"
Hi,

My System Specifications:
OS : Ubuntu 18.04 (64 bit)
Memory : 15.7 GiB
Processor : AMD® Ryzen 7 3800x 8-core processor × 16
Graphics : GeForce GTX 1050 Ti/PCIe/SSE2

I am trying to build Carla Simulator followed the instruction given in this link
 https://carla.readthedocs.io/en/latest/build_linux/
I have downloaded the Carla from this link https://github.com/carla-simulator/carla
I have foll

[2020-09-16 08:09] Lu7913 commented on #3276
Similar thing happened to me when building Carla 0.9.10 on Ubuntu 18.04. With Carla 0.9.9.4 both egg files were generated (python 2.7 and 3.6), but with the 0.9.10, only egg file generated is the one for python 3.6.

[2020-09-16 09:15] abhi5691 commented on #3276
@Lu7913 I think in v0.9.10, you can generate egg file for Python2 by explicitly using command `make PythonAPI.2`

This is ofcourse after you have libboost for Py2
Hope this helps :)

[2020-09-16 09:20] abhi5691 commented on #3276
FYI: I installed libboost for python2 on my system, and upgraded to the latest Carla source (0.9.10). I found relevant libboost files for both Python 2 & 3 after a `make launch` call. Going forward, `make PythonAPI` call generates egg file only for Python3. To explicitly generate Python 2 egg file I used `make PythonAPI.2` as I mentioned above

[2020-09-16 09:20] #3276 closed

[2020-09-16 11:11] #2789 closed

[2020-09-16 11:11] #3220 closed

[2020-09-16 11:12] #3122 closed

[2020-09-16 11:59] Sujit-kamat opened #3300 "rpc_error during call in function version"
I tried to run the provided smaple CARLA py code, turned out to the runtime error "rpc_error during call in function version"
I checked with py version, I installed necessary packages as well. still not working
Any idea?

[2020-09-16 13:41] XGodina commented on #3281
Thanks for you report @DSantosO

Now, the issus about cars you reported are fixed. We are working to fix problems with behavior of motorcycles and bikes. MeanWhile we add the new values of suspension for all cars. Suspension has been divided into 5 categories
Coupe: Lincoln, Seat Leon, Tesla, Mercedes Benz Coupe and Audi TT
Urban: Mini, C3, Mustang, Audie A2, Chevrolet Impala, Prius, Micra, Isetta

[2020-09-16 13:42] doterop opened #3303 "[Testing] PR ##3360, Retrieve BBs of all the elements of the level"
This issue is intended to track ##3360 (previous PR: ~~#3301~~).

Need to test:

- All the geometries have a BB.
- The BBs are not duplicated for the same geometry.
- All the BB are in the right position, with the proper rotation and the size needed to fit the geometry.
- The object type filter doesn't return objects of another type.
- The object type filter doesn't return all the objects of the l

[2020-09-16 14:50] KunanonxGithub commented on #2884
@wpp201820601009 So, if we want some data to train our neural network for making our cars run through some situations better, we need to write our code by ourselves because Carla log cant get us enough informations. Am I right?

[2020-09-16 15:01] KunanonxGithub commented on #2934
@AlexScheid So, if we want to change some parameters or change our cars to be bigger and be more realistic, we need to use C++ to adjust PhyX Engine in UE4. Am I right?

[2020-09-16 16:00] Axel1092 opened #3305 "[Testing] Fix flying props in replay PR#3290"
Now dynamic meshes are re spawned to the original position during the replay.

Can be tested by doing recordings and moving props marked as physics objects (usually some chairs and tables in Town02 and Town01) and then replaying the scene.

Old replay files do not contain the required information and will cause the props to be removed.

[2020-09-16 16:27] doterop opened #3307 "[Testing] PR #3306, Fix for random camera crash"
This issue is intended to track #3306 .

Need to test:
- The cameras keep rendering all the time while the simulation is alive.
- Destroy and create multiple cameras of multiple types and resolutions does not affect the rendering.

[2020-09-16 16:31] AlexScheid commented on #2934
Hi @KunanonxGithub, as far as I remember you do not have to use C++ for a static change of the dimension or for the physical parameters at all. The issue should address a dynamic scalable vehicle, which means that you can use the same model to spawn vehicles with different dimensions (parameters are also conceivable) in one simulation. I had to change some C++ files of CARLA to get access to the n

[2020-09-16 16:46] aleallievi opened #3308 "Bind Carla server to localhost (127.0.0.1)"
We are using CARLA on a workstation within a university network. Because of our set-up, we were notified that the CARLA server listening on port 0.0.0.0 is a security vulnerability. How can we bind the server to port 127.0.0.1 instead, so as to ensure all client server communication occurs locally via the loopback ports? Your support is appreciated.

[2020-09-17 07:33] liuyandong1988 opened #3310 "Compile LibCarla to work with RSS Error"
I want to use the rss sensor in Carla. When i build the RSS  (make LibCarla.client.rss), some errors happened. I have installed the dependencies based on the carla simulator docs.

Have installed:
Ubuntu 16.04
python 3.7
Unreal Engine 4.24
carla 0.9.9

CMake Error at LibCarla/cmake/client/CMakeLists.txt:11 (find_package):
  Could not find a package configuration file provided by "spdlog" with any

[2020-09-17 08:46] marcgpuig commented on #3280
Hi @SchDevel
This is not a configurable parameter and it should work fine.
- Are you using the packaged version?
- In case you don't: did you modify the editor with custom or new cars?
- Do you know if it's a signle car model that is causing this? Which model it is?

I'm not able to reproduce your error on our current `dev` branch:

![image](https://user-images.githubusercontent.com/15848712/93447

[2020-09-17 13:12] munirjojoverge commented on #3266
Thanks Jimmy.
I was working on that example from the very begging. I'll try to implement that. Thanks.

[2020-09-17 13:12] #3266 closed

[2020-09-17 13:51] #3012 closed

[2020-09-17 15:25] joel-mb commented on #3281
Hi!
Overall, the behaviour of the vehicles is good.
Some comments:

**Motorbikes and bikes**
I know this is a known issue. Motorbikes and bikes have weird behaviour and it's very difficult to turn. They are like always "colliding".

As an additional note, `vehicle.gazelle.omafiets` is much faster than the other bikes (35km/h vs 18km/h)

**Police**
The police vehicle feels very weird for me when tu

[2020-09-17 16:32] cassfalg commented on #2287
Well, most of those formulas work wether or not the image is square or not. You need to use the bigger of the horizontal and vertical fov for the calculation of f. Or just "embed" or enlarge your non-square image into a square one. If you understand what is done here it should not be hard to know what do do if you're image is not square.

[2020-09-17 18:10] wangchangquan commented on #1171
i see the error when run a carla in docker,and cann't set SDL_VIDEODRIVER=offscreen SDL_HINT_CUDA_DEVICE=0. how can i solve it .

[2020-09-17 19:12] munirjojoverge opened #3313 "How do you setup an object sensor in C++? How to you "create" and "register the callback"?"
How do you setup an object sensor in C++? How to you "create and "register the callback"?
In python is:
# --------------
# Add Obstacle sensor to ego vehicle.
# --------------

obs_bp = world.get_blueprint_library().find('sensor.other.obstacle')
obs_bp.set_attribute("only_dynamics",str(True))
obs_location = carla.Location(0,0,0)
obs_rotation = carla.Rotation(0,0,0)
obs_transform = carla.Transform(

[2020-09-17 22:47] rowandempster commented on #3162
@salvatoresan I have the same issue, the make import command prints out lots of errors about not being able to find traffic light related assets.

[2020-09-18 03:18] rowandempster commented on #2987
Hi @bernatx @avishek-mondal, I am having the same type of problem where using `make import` on a RoadRunner Carla export does not render correctly (e.g. no traffic lights or trees).
I am interested by @bernatx mentioning that

I was under the impression that using the `make import` was an _alternative_ to using the Unreal plugins, but it is the case that they have to be used in unison somehow? Whe

[2020-09-18 06:59] qingzi02010 opened #3314 "can not zoom in or zoom out the viewable range on the simulator, I can only rotate to change the view angle"

[2020-09-18 13:14] jackbart94 opened #3316 "[Testing] PR #3315 (Support OSM for Traffic Manager)"
This issue was raised to track possible issues with PR #3315

What needs to be controlled:

1. Traffic Manager raises an exception telling the user to activate the parameter ``set_osm_mode`` when using an OSM
2. When using this parameter (--osm in ``spawn_npc.py``) vehicles get destroyed when reaching a road that finishes into a void, before falling down.

[2020-09-18 13:27] poornimajd opened #3317 "Using manual control using ros and not ros bridge"
Thanks for the great work!
My aim is to manually control the car without using keyboard keys or pygame.My problem is how do I give a ros command so that the actor(car) takes the value and moves accordingly.I am trying not to use ros bridge because I am a beginner in ros and I was getting a lot of errors while trying the same.Is there a way to publish a value of say throttle using ros(vanilla) and

[2020-09-18 15:05] dhiegomaga opened #3318 "How to change the PID controller of Traffic Manager?"
I've noticed that the cars in autopilot move in a very robotic and unnatural manner, and I'd like to make them more human like. I know you can set some values, such as % of speed limit to drive, etc.

However, is there a way to change the PID constant values for a given vehicle actor? For instance, they always seem to "brake" with the same intensity, even though I changed the "distance_to_leading_

[2020-09-18 15:43] Axel1092 opened #3319 "[Testing] Off state of traffic lights"
Traffic lights now accept the option off state which shuts them down. Vehicles will ignore this traffic light state.

Script example:
[code]

[2020-09-18 16:08] Axel1092 commented on #3316
I tested it and it works as intended.

[2020-09-18 19:08] jaimindp opened #3320 "Make PythonAPI fatal error C1083: Cannot open include file 'OSM2ODR.h' No such file or directory:"
Hi, I'm building on Windows and make launch runs fine. When I run make PythonAPI, I receive this error log. it finishes with:

-[BuildPythonAPI]: Carla lib for python has been successfully installed in "C:\Users\User\Documents\carla\PythonAPI\carla\dist"!

Yet there is no directory /dist created. Has anyone else come across this issue?

Here is the full error log:

-[Setup]: [Batch params]: --boos

[2020-09-18 19:33] rowandempster commented on #3162
To be more specific, using the "deprecated" method with the roadrunner plugins works (traffic lights show up). But using the `make import` on build from source **and** has errors about missing assets and doesn't render traffic lights.

[2020-09-19 14:54] qhaas opened #3321 "Update docker image when a release is patched"
We were encountering an issue that was fixed with CARLA 0.9.7.3, but then we saw that the CARLA 0.9.7 docker image wasn't upgraded to the latest binary release of CARLA 0.9.7.x.  Please rebuild the applicable docker images when a new patch is released.

[code]

[2020-09-19 16:23] will-sloan commented on #2994
@elandg Did you figure out the list index out of range?

[2020-09-20 02:09] yiran98 opened #3322 "Set the number of threads used for carla server"
Hi, I'm using CARLA_0.9.9.4 and I find that, currrently, the amount of CPU resources used for carla server cannot be specified manually. I checked UE4 doc and find a parameter named USEALLAVAILABLECORES which forces the use of all available cores on the target platform, but it seems that this characteristic has not realized in CarlaUE4. So I would like to know if there are other ways to set the nu

[2020-09-20 02:33] gsp-27 opened #3323 "Question about obtaining scene flow information"
Hi,
Thanks for the amazing simulator. I had a question regarding obtaining scene flow information?

I am using CARLA version 0.9.9

* I have made a dummy environment where I have a placed a depth camera and semantic segmentation camera on a vehicle. This vehicle does not move.
* I also spawn one more vehicle right in front of the vehicle with cameras and for every ```tick``` I change the transform

[2020-09-20 03:34] #2587 closed

[2020-09-20 03:34] #2922 closed

[2020-09-20 03:34] #3021 closed

[2020-09-20 03:34] #3052 closed

[2020-09-20 03:34] #3025 closed

[2020-09-20 03:34] #3038 closed

[2020-09-20 08:41] Maxinjun opened #3324 "what is the lidar and IMU coordinate direction?"
carla version:0.9.9 +Ubuntu16.04

it seem that lidar coordinate direction(x-right, y-backward, z-down)
anyOne know IMU coordinate direction?

[2020-09-20 10:35] neeraj310 commented on #3296
Hi Team

Can you please revert back on this issue

Neeraj

[2020-09-20 18:34] #2914 closed

[2020-09-21 05:28] smmmmi commented on #3193
Same problem +1

[2020-09-21 05:33] #3051 closed

[2020-09-21 05:49] smmmmi commented on #697
Still a problem in newer releases 0.9.9

[2020-09-21 07:19] glopezdiest opened #3327 "[Testing] local planner buffer changes"
This issue is meant to track the testing of [#3264].

These changes can be tested with any dev version starting at that PR, and require no specific content version

[2020-09-21 11:31] zchrissirhcz opened #3329 "0.9.10Pre CarlaUE4.sh gives segmentation fault"
- System: ubuntu 16.04
- Nvidia Card: RTX2080
- Nvdia Driver: 450.57 (cuda 11.0)
- Vulkan info: Manually installed 1.2.148.0;
its `bin` and `lib` folders have been added to `PATH` and `LD_LIBRARY_PATH`
- CARLA version: CARLA_0.9.10-Pre_Ubuntu16.tar.gz
- Reproduce command and result:
[code]

[2020-09-21 12:00] zchrissirhcz commented on #3329
I guess it might be caused by my vulkan config... After a reboot both CARLA 0.9.9.4 and 0.9.10Pre run OK.

[2020-09-21 12:00] #3329 closed

[2020-09-21 12:08] zchrissirhcz commented on #3329
On my machine, after rebooting, `./CarlaUE4.sh -vulkan` run OK but fan runs loudly.

Then I tried  `./CarlaUE4.sh --opengl`, it launch faster and fan run peacefully.

Then `./CarlaUE4.sh --vulkan` can't run, give same output as I've pasted above. Wired. Even specifing `-quality-level=Low` not work.

[2020-09-21 13:03] Yiquan-lol opened #3330 "carla_sever_pb2"
"CARLA/Sever" is mentioned on the official website of Carla0.8.2. Is it "carla_sever_pb2.py"?
In addition, I found in the file carla_sever_pb2.py that the Settings of "non-player Agents Info" are different from those in the official website. May I ask how to use it

[2020-09-21 14:24] joel-mb commented on #3232
Hi @HemaZ! Which version of CARLA are you using? This issue was fixed here: https://github.com/carla-simulator/carla/pull/3129

[2020-09-21 14:33] XGodina commented on #3281
Hi,

**Motorbikes and bicycles**
- The new colliders and suspension are already in the master. The problem was that the old collider touched the ground and because they behaved strangely
- Too, we adjusted the center of mass. This prevents the vheícules from getting up when braking.

I'm going to look at the police car and the bike. I'll be reporting

[2020-09-21 15:40] jackbart94 commented on #3319
Looks like it's working fine!

[2020-09-21 15:45] jackbart94 commented on #3318
Hi,

The values for the PID constants are in ``TrafficManager.cpp``, however you could also be interested in the huge variety of constants in the file ``Constants.h`` that manage for example at what distance vehicles start braking, what is the maximum they brake at, etc.

[2020-09-21 15:59] evdoks commented on #697
@smmmmi Do you experience it on Ubuntu or MacOS?
I've managed to build Carla and PythonAPI on MacOS, the Carla is running, but Python examples cannot connect to the server and fails with the time-out.

I can start Unreal Editor with `make launch` (or `make launch-only`), then launch Carla from the editor. I can see, that the UE4Editor process is listening on ports 2000 and 2001. The versions of th

[2020-09-21 16:19] hrushikesh233 commented on #1507
@cstamatiadis Hey! I am struggling with the commands to generate the depth map in the first place.

I get that the raw data has an array of values but how do you actually convert to depth form, what are the commands for it?

I tried the conversion but ended up just converting the image to black and white

![Screenshot (38)](https://user-images.githubusercontent.com/71658374/93793277-3d0dfa00-fc54-

[2020-09-21 16:23] joel-mb commented on #3291
Hi @zwbai
Are you able to reproduce the error always? Is it happening with all the towns? I would say this may be related to a bug inside SUMO.

[2020-09-21 19:00] qhaas commented on #2416
Running into similar issues using clang8 while trying to build carla 0.9.8 with UE 4.23.1 (yes, unsupported, but we have a special use case).  I find their commit relating to the upgrade from clang7 to clang8 most helpful in dealing with these errors:  https://github.com/carla-simulator/carla/commit/457b63b85ef9227f36f7a3dee07da34c1c8d9276#diff-6fab226819b7750992e4832abd67a0a5

[2020-09-21 20:37] italovinicius18 commented on #1352
I'm having the same problem, i want to generate the ground truth to train a lanenet model

[2020-09-21 22:22] HemaZ commented on #3232
Hi @joel-mb I'm using CARLA 9.9.4

[2020-09-21 23:04] godture commented on #2501
I have exactly the same problem. Not solved yet.

[2020-09-21 23:05] godture commented on #2501
This does not work. I have python-dev already installed.

[2020-09-22 00:33] smmmmi commented on #697
Thanks for the follow up @evdoks I am however on Ubuntu 18 / Python 3.7, but with the same situation here that Carla is running but the examples time out.
I can however manage to run and spawn blueprints using the apt-get installation but I want it to be built from source to access some files which are not there (carla.client or client_example).

[2020-09-22 03:38] H-Whisky commented on #3320
I also meet the issues when I update the code to master. I can run "make launch" and run a simulator by the Unreal Edior. But when I run "make PythonAPI" to get the corresponding *.egg file, I meet the following error:
[code]
I see the error notification, so I go to the carla/build, and I see that the **xerces-c-3.2.3-install** folder is null, and the **xerces-c-3.2.3-source** has been download, I

[2020-09-22 03:42] H-Whisky commented on #3222
Hi@Axel1092,  I meet the issues when I update the code to master. I can run "make launch" and run a simulator by the Unreal Edior. But when I run "make PythonAPI" to get the corresponding *.egg file, I meet the following error:
[code]
I see the error notification, so I go to the carla/build, and I see that the **xerces-c-3.2.3-install** folder is null, and the **xerces-c-3.2.3-source** has been do

[2020-09-22 08:25] NishanthShettyS opened #3336 "TrafficLightState Attribute Error while running scenario_runner.py in Carla 0.9.8"
Hi,
I am running carla 0.9.8 on Windows 10.
Carla simulator is working fine and I was able to run the example files given in PythonAPI folder.
But when I tried to run the scenarios from scenario runner (0.9.8 version), I faced the below error

`File D:\Carla\CARLA_0.9.8\scenario_runner-0.9.8\srunner\scenariomanager\scenarioatomics\atomic_behaviors.py", line 1572, in TrafficLightManipulator
    RED

[2020-09-22 08:48] agourishetty93 opened #3337 "Error converting OpenStreetMap to Opendrive"
Issue while converting the OpenstreetMap .osm file to Opendrive format

Generated a map using openstreetmap.org and saved as map.osm and used the following code to convert to Opendrive format as mentioned in the document. https://carla.readthedocs.io/en/latest/tuto_G_openstreetmap/

import carla

client = carla.Client('127.0.0.1', 2000)
client.set_timeout(10.0)

# Read the .osm data
osm_file = ope

[2020-09-22 09:06] lisahabich opened #3338 "Docker build fails to "ran out of memory""
Hi, we are trying to build the docker image to be able to import new maps, but the build process fails.

Error at "docker build -t carla -f Carla.Dockerfile .":

 LogMemory: Warning: MemoryStats:
  	AvailablePhysical 593063936
  	 AvailableVirtual 324964352
  	     UsedPhysical 3760545792
  	 PeakUsedPhysical 4385202176
  	      UsedVirtual 6799183872
  	  PeakUsedVirtual 7461810176
  LogCore: Err

[2020-09-22 10:18] glopezdiest commented on #3305
Looks good, no issues were found

[2020-09-22 10:18] #3305 closed

[2020-09-22 10:21] DSantosO opened #3339 "[Testing] API Change: SetVelocity -> SetTargetVelocity #3335"
The issue is for testing PR #3335

The old function set_velocity and set_angular_velocity has been replace for the new ones set_target_velocity and  set_target_angular_velocity. Be careful if you are using it in the API or as a Command.

`set_velocity -> set_target_velocity`
`set_angular_velocity -> set_target_angular_velocity`
`ApplyVelocity -> ApplyTargetVelocity`
`ApplyAngularVelocity -> ApplyT

[2020-09-22 10:22] Madecu opened #3340 "[Testing] Autoexposure & Lights intensities"
We have changed the default exposure mode to autoexposure (Eye adapting).
We also have changed the values of streetlights, car lights, and buildings.

We have to drive around all the maps, changing between day and night, to see if there are some lights that are not lighting properly (too bright or too low). Including all the vehicle lights (breaks, reverse, high beam, blinkers, etc.).

While you a

[2020-09-22 11:01] hofbi opened #3341 "MapBuilder: Lane change default value handling not as in open drive spec"
There is a difference in the default value of the [MapBuilder](https://github.com/carla-simulator/carla/blob/dev/LibCarla/source/carla/road/MapBuilder.cpp#L198) and the [OpenDrive Spec p. 59](http://www.opendrive.org/docs/OpenDRIVEFormatSpecRev1.4H.pdf) which says for lane chane

**Current behavior**

MapBuilder defaults to `none`

**Expected OpenDrive behavior**

MapBuilder defaults to `both`

[2020-09-22 11:09] marcgpuig commented on #3303
- Looks like the spline based meshes are wrongly transformed
- This code is duplicated:
https://github.com/carla-simulator/carla/blob/f1dd2d77fa908af76215ba7a640fa5543b42b64d/LibCarla/source/carla/geom/Rotation.h#L90-L116
- This should be extended with the new rotation:
https://github.com/carla-simulator/carla/blob/f1dd2d77fa908af76215ba7a640fa5543b42b64d/PythonAPI/carla/source/libcarla/Geom.cpp#L

[2020-09-22 19:10] italovinicius18 opened #3346 "Differ lane types by colors"
I'm trying to mine some data to run a lanenet model on CARLA images, but i have to differ lanes types like broken and solid lines. I already used semantic and rgb camera sensor to get images and i filter the image just to focus on lines, but how i can i differ the color the types of lanes ? I need to use waypoint and waypoint.lane_type ? But how i can apply these to differ the color lanes in image

[2020-09-23 08:31] marcgpuig commented on #3307
So far is working fine!
Maybe we can delete the current error message in UE4 since is related to how were working before and it's not an actual issue for the user.

[2020-09-23 08:51] evdoks commented on #3193
The same problem on version 0.9.9.4 built from source.
I've managed to build Carla and PythonAPI on MacOS and the Carla is running, but Python examples cannot connect to the server and fail with the time-out.

I can start Unreal Editor with `make launch` (or `make launch-only`), then launch Carla from the editor. I can see, that the UE4Editor process is listening on ports 2000 and 2001. The versio

[2020-09-23 08:53] agourishetty93 commented on #3193
Hi, Try playing the unreal engine and run the python scripts

[2020-09-23 09:15] githubwys commented on #1406
can someone deal with this problem?
i also meet this problem and need help, thank you.

[2020-09-23 09:38] aniolm9 opened #3347 "CARLA hangs in SUMO co-simulation"
When running a co-simulation with SUMO and [Artery](https://github.com/riebl/artery), CARLA just hangs and the operating system suggests me to "Force quit". The commands I run are the following:

**Start SUMO server:**
[code]

**Start CARLA and set map:**
[code]

**Start Omnet++ with Artery:**
[code]

**Run synchronization:**
[code]

Finally, I click `Run` in the OmnetIDE and Carla hangs.

It is i

[2020-09-23 09:38] evdoks commented on #3193
Hi @agourishetty93 , this is what I am doing: I am launching Carla by clicking "Play" in UE Editor, the server seems to be starting. Is that what you mean?

Without launching Carla nothing is listening on ports 2000-2001 and `client.get_server_version()` fails with time-out.

[2020-09-23 09:52] amastrobera opened #3348 "object parser non compiling (wrong type cast)"
https://github.com/carla-simulator/carla/blob/f2c3b9fce6f1dbba1852996c546fb2127de93371/LibCarla/source/carla/opendrive/parser/ObjectParser.cpp#L73

should be `node_object.attribute("id").as_uint()`

and the same here

https://github.com/carla-simulator/carla/blob/f2c3b9fce6f1dbba1852996c546fb2127de93371/LibCarla/source/carla/opendrive/parser/ObjectParser.cpp#L95

[2020-09-23 10:03] agourishetty93 commented on #3347
Even i have the same issue in windows. https://github.com/carla-simulator/carla/issues/3337

[2020-09-23 11:49] TKeutgens commented on #1585
I'm no Docker expert but I'm currently trying to build the Docker image on Windows. I managed to install all pre-requesites. Unfortunately the docker build process takes very very long. Currently I'm already waiting for almost 24 h. I feel like the process is stuck during building the UE4 Editor

Does anyone has any suggestions?

`------------------------------
Building CarlaUE4Editor...
[Upgrade]

[2020-09-23 14:19] Axel1092 commented on #3340
Lightning seems ok and autoexposure works well, most areas are properly lit except when there are no lights (which is ok). Only  in Town03 this area seems too dark but this might be intentional.
![image](https://user-images.githubusercontent.com/35765780/94025038-5def6000-fdb8-11ea-8b1c-b45f479f3659.png)

[2020-09-23 16:23] dhiegomaga commented on #3318
Where exactly in the [TrafficManager.cpp](https://github.com/carla-simulator/carla/blob/dev/LibCarla/source/carla/trafficmanager/TrafficManager.cpp)?

I looked into [Constants.h](https://github.com/carla-simulator/carla/blob/dev/LibCarla/source/carla/trafficmanager/Constants.h) and found the following:

[code]

But these constants don't seem to control the brake _intensity, acceleration, etc_, but

[2020-09-23 16:53] XGodina commented on #3281
Hi,

Motorbikes and bicycles
So far we have focused on collisions, massa center and suspensions.
The behavior has improved a lot, the engine theme and speeds will be adjusted later.

[2020-09-23 20:19] bernatx commented on #3339
All is working as expected

[2020-09-23 20:19] #3339 closed

[2020-09-24 01:30] germanros1987 commented on #3229
Sorry for the delay. @jackbart94 could you provide some feedback about this issue?

[2020-09-24 01:32] germanros1987 commented on #3233
This is not a problem with CARLA, but a problem with your script. This is not the right place for this.

[2020-09-24 01:32] #3233 closed

[2020-09-24 01:34] germanros1987 commented on #3236
@qhaas answer is right. We don't have plans to release for other distributions for the time being.

[2020-09-24 01:34] #3236 closed

[2020-09-24 01:36] #3239 closed

[2020-09-24 01:38] germanros1987 commented on #3240
+@bernatx I know it's a busy time, but could you provide some help?

[2020-09-24 01:40] germanros1987 commented on #3245
@Inezzzz have you solved your problem? Otherwise, @marcgpuig could you please take a look?

[2020-09-24 01:41] #3246 closed

[2020-09-24 01:42] germanros1987 commented on #3250
Please, update your version of CARLA to one of the recent releases: 0.9.9.

Not all the features are supported in old releases.

[2020-09-24 01:42] #3250 closed

[2020-09-24 01:42] Inezzzz commented on #3245
Nope. Still not working, kinda gave up on CARLA, but would love to try
again if the team’s going to take a look.

On Wed, Sep 23, 2020 at 6:40 PM germanros1987 <notifications@github.com>
wrote:

[2020-09-24 01:42] germanros1987 commented on #3254
Noted!

[2020-09-24 01:44] germanros1987 commented on #3255
I expect a productive discussion on this topic. @DSantosO please, when your plate is not too full, have a look at this.

[2020-09-24 01:46] germanros1987 commented on #3256
@hh0rva1h for simplicity just take the nightly build? http://carla-releases.s3.amazonaws.com/Linux/Dev/CARLA_Latest.tar.gz

[2020-09-24 01:49] germanros1987 commented on #3260
@Axel1092 could you provide some guidance about map creation?

[2020-09-24 01:54] #3265 closed

[2020-09-24 01:55] germanros1987 commented on #3269
@HemaZ could you please check if you have the same problem in the nightly build? http://carla-releases.s3.amazonaws.com/Linux/Dev/CARLA_Latest.tar.gz

[2020-09-24 01:56] germanros1987 commented on #3270
@Leon-Adler it didn't fail. It just has an annoying problem with ALSA lib, but there is no segfault. Did you try to connect to the server?

[2020-09-24 01:58] germanros1987 commented on #3273
@wangludong you probably need to modify the BP, or you can update to 0.9.9...

[2020-09-24 01:58] #3274 closed

[2020-09-24 01:59] germanros1987 commented on #3278
@fpasch could you have a look?

[2020-09-24 01:59] germanros1987 commented on #3279
@Madecu could you please help with this question?

[2020-09-24 02:01] germanros1987 commented on #3280
@SchDevel could you give us an update? Is this feature still not working for you?

[2020-09-24 02:02] germanros1987 commented on #3282
@marcgpuig could you help with this question?

[2020-09-24 02:03] germanros1987 commented on #3283
@sergi-e could you clarify this?

[2020-09-24 02:03] germanros1987 commented on #3284
Noted.

[2020-09-24 02:04] germanros1987 commented on #3285
Which version of UE4 are you using?
@bernatx any feedback?

[2020-09-24 02:08] germanros1987 commented on #3286
@sergi-e could you please point to the documentation page that explains this?

[2020-09-24 02:09] germanros1987 commented on #3287
@DSantosO @joel-mb could you take a look at this?

[2020-09-24 02:09] germanros1987 commented on #3291
@Axel1092 in case additional support is needed.

[2020-09-24 02:13] germanros1987 commented on #3293
I can't reproduce this error. Could it be a temporary problem with google drive? Does the problem persist?

[2020-09-24 02:14] germanros1987 commented on #3294
@sergi-e could you provide some help and perhaps update the documentation?

[2020-09-24 02:15] germanros1987 commented on #3296
@pravinblaze could you please provide help with this question?

[2020-09-24 02:16] germanros1987 commented on #3299
@bernatx could you please help with the build?

[2020-09-24 02:17] germanros1987 commented on #3300
Could you please provide more details (many more details!!)? CARLA version, the OS, etc.
@marcgpuig once details are provided, could you please try to help?

[2020-09-24 02:17] germanros1987 commented on #3308
@bernatx could you comment on this?

[2020-09-24 02:18] germanros1987 commented on #3308
One suggestion would be to use the CARLA docker. That will protect from this issue.

[2020-09-24 02:19] germanros1987 commented on #3310
@fpasch could you please take a look at this issue?

[2020-09-24 02:20] germanros1987 commented on #3313
@marcgpuig could you please provide the right way to do this through the C++ API?

[2020-09-24 02:20] zwbai commented on #3291
Hi @joel-mb @germanros1987  ,

Thank you for your attention. I have tested in the several towns. The problem happened in all of them.
One thing that may be valuable for solving this problem is that: I found that when I increased the step length (e.g., --step-length 0.15) the SUMO Co-simulation will successfully runing with longer time before it shut down (it will still shut down all the time and s

[2020-09-24 02:20] germanros1987 commented on #3314
We need a better explanation of the issue. Please, extend your description. Bring information on the version you are using, the OS, etc.

[2020-09-24 02:21] germanros1987 commented on #3317
@joel-mb should be able to help with this question.

[2020-09-24 02:22] germanros1987 commented on #3320
@Axel1092 could you please provide some help with this issue?

[2020-09-24 02:23] germanros1987 commented on #3321
@qhaas you are right. We will take care of this. Sorry for the inconvenience.

Adding @bernatx to give this the right visibility.

[2020-09-24 02:23] #3321 closed

[2020-09-24 02:24] germanros1987 commented on #3322
Duplicate of #3157. We are working on it.

[2020-09-24 02:25] germanros1987 commented on #3323
Do you have any ideas @marcgpuig ?

[2020-09-24 02:26] germanros1987 commented on #3324
@DSantosO for an accurate explanation.
@sergi-e to make sure this is clear in the documentation

[2020-09-24 02:28] germanros1987 commented on #3330
@Yiquan-lol CARLA server is the process that gets launched when you run the CarlaUE4 binary. It is not carla_server_pb2.py.

My recommendation is: DON'T USE CARLA 0.8.2. Move on and use any of the new versions: 0.9.9.Y.

[2020-09-24 02:28] #3330 closed

[2020-09-24 02:31] germanros1987 commented on #3336
Is this still an issue in 0.9.9? @Axel1092 could you check this?

[2020-09-24 02:32] germanros1987 commented on #3337
@Axel1092 could you check that this works before the release?

[2020-09-24 02:34] germanros1987 commented on #3338
@bernatx have you seen this error? Do you have any recommendations?

[2020-09-24 02:35] germanros1987 commented on #3341
@hofbi which version of CARLA are you using?

[2020-09-24 02:36] germanros1987 commented on #3341
@glopezdiest stay alert for a response of the user

[2020-09-24 02:37] germanros1987 commented on #3346
@marcgpuig what would be the simples method to achieve this?

[2020-09-24 02:38] germanros1987 commented on #3347
@joel-mb could you take a look?

[2020-09-24 02:39] germanros1987 commented on #3348
@amastrobera please provide more context. Is this master, dev, which branch?
@Axel1092 could you take a look?

[2020-09-24 05:46] hofbi commented on #3341
The mismatch is for the latest master.

[2020-09-24 06:27] berndgassmann commented on #3278
See the latest docu here:
https://ad-map-access.readthedocs.io/en/latest/BUILDING/index.html
https://intel.github.io/ad-rss-lib/BUILDING/

just install via pip now ;-)
Will update the docu inside CARLA to fix this.

[2020-09-24 07:45] SchDevel commented on #3280
Hey @germanros1987 and @marcgpuig ,

sorry for my late response.
I actually did a clean install of the CARLA server to make sure that I did not mess up anything in the editor.

Indeed, when importing my own blueprint car, I somehow messed up and replaced other car-files, too.

The problem is now solved.
Thank you so much!

Best regards

SchDevel

[2020-09-24 07:45] #3280 closed

[2020-09-24 07:53] Axel1092 commented on #3260
Hi @xiaoyang666, sumo's conversion tool to OpenDRIVE format produces broken OpenDRIVE files that cause Carla to crash so this is probably the biggest issue you are facing. In 0.9.10 we provide a osm to OpenDRIVE conversion tool without this problem, you may try that feature. Anyways, could you provide us with the errors you are encountering and their console outputs in order to take a better look

[2020-09-24 08:17] Axel1092 commented on #3320
HI @H-Whisky, try removing all `xerces*` files and folders from the carla/build folder. Then run `make PythonAPI` again. If you still get an error please share again with us the full console log of this run.

[2020-09-24 08:24] Axel1092 commented on #3273
Hi @wangludong, at the version you are working you would need to do more than modify the TrafficLightGroup Blueprint and even the C++ part of the traffic lights control. The only workaround I can think of is to create a new traffic light Blueprint with 2 traffic lights in it and then adjust their position in the world manually.

In the latest version in our current master this feature is still not

[2020-09-24 08:30] sergi-e commented on #3283
Hi, @huan0808!

You are correct, the Python API docs are misleading. What do you think of this changes?

- <a name="carla.World.on_tick"></a>**<font color="#7fb800">on_tick</font>**(<font color="#00a6ed">**self**</font>, <font color="#00a6ed">**callback**</font>)
This method is used in [__asynchronous__ mode](https://[carla.readthedocs.io](#carla.readthedocs.io)/en/latest/adv_synchrony_timestep/).

[2020-09-24 08:41] Axel1092 commented on #3348
Hi @amastrobera, it is parsed as string as the OpenDRIVE specifies that the object id is string type and not `uint` and only requires it to be unique:
![image](https://user-images.githubusercontent.com/35765780/94122109-6a27fb80-fe52-11ea-880e-8b5ce3212eb6.png)

[2020-09-24 08:42] #3278 closed

[2020-09-24 08:42] qingzi02010 commented on #3314
I have resolve it. Use the WASD keys to manipulate it. Thanks.

[2020-09-24 09:43] amastrobera commented on #3348
@germanros1987 it's in the master
@Axel1092 you declared the function AddSignal this way. It's expecting a SignId (alias for uint_32t). So, it's not a string and doesn't compile

[code]

https://github.com/carla-simulator/carla/blob/f2c3b9fce6f1dbba1852996c546fb2127de93371/LibCarla/source/carla/road/MapBuilder.h#L154

[2020-09-24 09:49] joel-mb commented on #3319
Working great!

[2020-09-24 09:49] #3319 closed

[2020-09-24 10:01] CHDCheng opened #3358 "CarlaUE4.exe can not apply two pygame windows"
Hello, I use Carla 0.9.10, I run CarlaUE4.exe as a server in local pc, and I run the manual_control.py, a pygame window(1280*720) opens and I can control the vehicle, but then I run another manual_control.py at the same time,  an error happend, CarlaUE4.exe has crashed and will close, the content is :

Whatever I run the two manual_control.py in local pc or another pc through IP+port, the CarlaUE4

[2020-09-24 10:26] bernatx commented on #3338
I have not seen this error on RAM memory, but I think you need almost 700 Gb free of HD to build the Docker, as it is very expensive in HD space when building.

[2020-09-24 10:33] huan0808 commented on #3283
I think it's good now,thank you :)

[2020-09-24 10:33] #3283 closed

[2020-09-24 10:55] glopezdiest commented on #3307
Same as @marcgpuig here, I haven't encountered this issue since the fix

[2020-09-24 11:01] VEDANTGHODKE commented on #1501
Hello,

I and my team have been trying to implement the GNSS, IMU, RGB Camera and Lidar sensors in Carla. However, since the past 4 days, we have been facing a timeout and connection error on the Carla Unreal Engine.

We have not made any configurational changes to Python or Carla. Can anyone kindly help?

[2020-09-24 11:03] #3035 closed

[2020-09-24 11:28] bernatx commented on #3299
We use the **make** commands without sudo, but I think it will not do any difference.
Can you show how is the structure of the UnrealEngine_4.24? Is it inside another folder?
It seems to me that the environment variable UE4_ROOT is correct.

[2020-09-24 12:40] DSantosO commented on #3324
Hello @Maxinjun,

In CARLA we use the Unreal system of reference that is:  X: Foward,  Y-Right, Z: Up
so both Lidar and IMU follow this coordinate system. Notice that both are given in the local coordinate system of the sensor, not in the global one.
Be careful with this coordinate system because most of the visualization software uses the inverse convention for the Y-axis so you will see everythi

[2020-09-24 12:47] bernatx commented on #3285
Checking the file  /home/niranjan/Library/Logs/Unreal Engine/LocalBuildLogs/Log.txt could help in getting clues.
It seems the process of cooking the package fails. Do you have any custom asset or map inside?

[2020-09-24 12:49] Axel1092 commented on #3337
Hi @agourishetty93, your issue is related to character encoding. OSM data is usually written in UTF-8 which in windows you need to specify it. In your script you should change
`osm_file = open("............\Co-Simulation\Sumo\map.osm", 'r')`
to
`osm_file = open("............\Co-Simulation\Sumo\map.osm", 'r', encoding='utf-8')`

[2020-09-24 12:57] bernatx commented on #3240
As **qhaas** sais, are you using the right tag/release of the CARLA source and/or the right documentation version?
It seems that you are trying to compile a latest version of CARLA (which needs clang 8) instead of the CARLA 0.9.6 that you need. Please, download the source for the TAG 0.9.6
The message about **clang 8 is required** only shows when compiling for CARLA 0.9.9.x and UE 4.24

[2020-09-24 13:03] HemaZ commented on #3269
Nightly build is working great
![image](https://user-images.githubusercontent.com/6087928/94148502-ff3ceb80-fe76-11ea-93a2-26fd54e86b42.png)

[2020-09-24 13:17] doterop commented on #3303
Thanks for point that out @marcgpuig .
I already fixed the spline issue, the duplication on the Rotation.h and output of the BB.

[2020-09-24 13:42] Axel1092 commented on #3341
Hi @hofbi, thank you for pointing this discrepancy with OpenDRIVE standard. We have opened a pull request to address this issue.

[2020-09-24 13:45] doterop commented on #3303
Updated this issue with the new PR #3360

[2020-09-24 14:03] XGodina opened #3362 "[Testing] Low Quality"
Hi,

Test in the package if Low-quality is working properly

[2020-09-24 14:04] XGodina commented on #3362
Hi,
In my computer, it works (Linux)

[2020-09-24 14:04] Madecu commented on #3340
- Fixed weird artifacts with the clouds (Turn blue or turn the sky into pitch black)

- Tweaked "Fountain", "FoodCar", "CarlaCola" and "BusStop" light intensities.

- Lowered Skyscraper_04 light intensity

- Changed mustang back blinkers

- Increased spotlight radius in streetlights (simulates global lighting). Now they light further

[2020-09-24 14:08] arashroomi commented on #2343
I have a similar issue but I am interested to extract more than just parked cars. In specific buildings, parked vehicles, and other obstacles. Is there a solution to extract their bounding boxes before rendering?

[2020-09-24 14:48] jackbart94 commented on #3238
Hi,

I'll try to answer this, the issue is that you need to also create the Traffic Manager on two different ports. So somewhere in the ``manual_control.py`` script, probably in the ``game_loop``, you need to do ``get_trafficmanager`` and have an argument to set the port, then create two different TMs when launching the script.

Here is the documentation about [Multi-Simulation and Multi-TM](https

[2020-09-24 14:55] bernatx commented on #3362
Working fine in Linux also

[2020-09-24 15:22] dhiegomaga opened #3364 "Python cocumentation issue on carla.ActorList"
It says the on the [carla.ActorList Python documentation](https://carla.readthedocs.io/en/latest/python_api/#carlaactorlist) that the method `filter(self, wildcard_pattern)` returns a *list*.

However, I'm trying to concatenate those lists, and getting the error:

[code]

Because it's probably not a `list` but a `carla.ActorList`.

I'm doing this because I want to combine filters, say, match for `

[2020-09-24 15:53] Madecu commented on #3362
Works well in windows, local package

[2020-09-24 16:20] Shiyunyang-seu opened #3366 "Error in importing OSM input into road network"
Hi, I want to use osm as the input to build the network, and I followed the tutorial https://carla.readthedocs.io/en/latest/tuto_G_openstreetmap/ , two different ways were tried but both of them can not be successful:
1. Convert the osm to opendrive and load in carla, but an error occurred: RuntimeError: opendrive could not be correctly parsed
2. Read OSM map directly like: python config.py --osm-

[2020-09-24 19:40] dianchen96 commented on #3298
Reopening this as

[2020-09-24 19:41] aleallievi commented on #3308
@germanros1987 thanks for the feedback - yes we are getting around the issue via Docker. Feel free to close the issue, though a handy way of ensuring the server is communicating via loopback ports would be a nice security feature.

[2020-09-25 02:28] pangxiao2013 commented on #3252
Where can we download 0.9.10?

[2020-09-25 08:16] XieJinLiang commented on #3238
Hi, @jackbart94
Thanks for you reply.It work!
I run two carla server with two different `-carla-rpc-port`. Here I add the argument `--tm-port `in the `game_loop,` and then I run the `manual_control.py` script twice with different ` -p` and `--tm-port`. Now I can run two clients and and let them autopilot at the same time, thank you very much

[2020-09-25 08:36] YDSh510 commented on #3294
Hi Carla Team,

Any suggestion or fix on the above issue (@chandeep11) , as I am also struck with it.

[2020-09-25 09:06] psesr commented on #3293
It seems to work again now.

[2020-09-25 09:06] #3293 closed

[2020-09-25 09:28] DSantosO commented on #3287
Hello @tiger-bug,
If I understood you correctly, you want to put several frames together, right?
As the Lidar's point cloud is given in the local sensor frame of reference, you need to transform it into the world one. You don't need to generate your own transformation but you can use the one we provide with get_transform() of the sensor and then just use it:
`   points = points[:, :-1]   # Because

[2020-09-25 11:01] #3340 closed

[2020-09-25 11:01] #3281 closed

[2020-09-25 11:56] #3362 closed

[2020-09-25 14:42] VKG5 commented on #3320
Hey, I was getting the same error so I deleted the 'xerces*' folders and filers in the 'carla/build' folder. Then ran the command but I'm still getting the same error.

## Error

-- Configuring incomplete, errors occurred!
See also "F:/Programs/Project/Carla/Build/osm2odr-visualstudio/CMakeFiles/CMakeOutput.log".
Microsoft (R) Build Engine version 15.9.21+g9802d43bc3 for .NET Framework
Copyright (

[2020-09-25 15:20] joel-mb commented on #3317
Hi @poornimajd!
I strongly recommend to you using the `ros-bridge`. There you have an alternative to the manual control script that is using only ros (https://github.com/carla-simulator/ros-bridge/blob/master/carla_manual_control/src/carla_manual_control/carla_manual_control.py).

However, If you don't want to use this node, you can also publish the vehicle command message in the required topic (`

[2020-09-25 15:31] joel-mb commented on #3270
Hi @Leon-Adler !
As @germanros1987 said, these errors are not affecting the server. You should be able to run your client without problems.

[2020-09-25 15:39] joel-mb commented on #3232
Hi @HemaZ !
CARLA 0.9.9.4 is not containing the fix for this issue. You should use CARLA 0.9.10 or just update you `spawn_npc_sumo` script by this one: https://github.com/carla-simulator/carla/blob/master/Co-Simulation/Sumo/spawn_npc_sumo.py

[2020-09-25 15:39] #3232 closed

[2020-09-25 15:42] joel-mb commented on #3291
Hi @zwbai !
Thank you for the information! I'm looking into it.
Is this only happening with `spawn_npc_sumo`? Have you reproduced it using the `run_syncrhonization` script?

[2020-09-25 16:59] tiger-bug commented on #3287
Good morning @DSantosO !

Thank you for the response and advice.  I was using the IMU roll pitch and yaw angles to transform the point cloud into the lidar frame into the world frame, so you are correct in that I would like to transform the point clouds into the world frame.   I suppose I should tell you what my end goal is and I apologize for not putting this in the original post.

I would like t

[2020-09-25 18:31] HemaZ commented on #3269
@germanros1987 I've tried again using the nightly build and it returns the same error !!

[2020-09-26 03:10] thytless commented on #3364
You may use `itertools.chain` or simply convert both of them into list.

[2020-09-26 07:49] shijieS commented on #2881
I also met this problem. I find that there is a pre-installed python in Windows 10 (`C:/Windows/py.exe`). This python is used in `Carla/Util/BuildTools/BuildPythonAPI.bat` by calling `py ...` command. Therefore, here is my solution:
- replace all `py` in `Carla/Util/BuildTools/BuildPythonAPI.bat` by `python`
- replace `py -3 setup.py bdist_egg`  by `python setup.py bdist_egg` in line 112

By follo

[2020-09-26 08:00] JoseLGomez opened #3368 "Error when loading large Recorder files when a lot happen inside"
Hi Guys.

I notice that I'm not able to load Recorder files larger than 2 hours when a lot happened inside the record. Let me explain in detail.

I created a script to spawn cars around my ego vehicle while it's driving around the map. The spawn range is around 70 meters, so whenever a spawned car goes farther I remove it. So at the end during the record a lot of new vehicle are spawned and remove

[2020-09-26 20:54] ChiefAlu opened #3370 "Capture images synchronized"
Hi,

I am searching for a solution to attach 2 cameras to a vehicle and capture the images at the exact same time.
I am using the sample code from 'examples/tutorial.py' and modified it:
[code]

Is it possible to make sure that the cameras are synchronized?

Thanks

[2020-09-27 01:37] sohamm17 commented on #2899
Is it possible to run Carla with Intel GPUs? If yes, do you know the command to run the docker image?

[2020-09-27 02:19] germanros1987 commented on #2899
Do you mean Intel integrated GPUs? I don't know if docker has a specific plugging to support integrated GPUs. This is not very conventional.

[2020-09-27 03:12] sohamm17 commented on #2899
Thanks. Yes, I tried it. Did not work well.
Does Carla run in the native form, not the docker image, without Nvidia GPU? Just Intel CPU and Integrated GPUs.
I tried, but it was failing with segmentation fault, with `opengl`. With `vulkan`, it ran and showed the window but the computer got hang up. So I was wondering if anyone has tried with just Intel GPUs and what the experience is.

[2020-09-27 10:58] CHDCheng opened #3371 "UE4 crashed: Unhandled Exception: EXCEPTION_ACCESS_VIOLATION"
Hello, when I play the server, and run manual_control.py for a time, UE4 crashed, here is the log

I don't know what happened ,  could anyone can help me? Thank you very much!

[2020-09-27 10:59] CHDCheng commented on #3371
Could you please help me, @germanros1987

[2020-09-27 11:01] CHDCheng commented on #3358
Could you please help me? Thank you very much! @germanros1987

[2020-09-27 12:54] #2995 closed

[2020-09-27 13:20] Horcrux1 commented on #2861
The simulator itself runs in google colab through TurboVNC. However, I do not know how to set up a client in this situation.

[code]

I get a tracebck. Anyone knows what to do?

[2020-09-28 01:35] xiaoyang666 opened #3372 "Exporting the map by myself causes UE4 to crash"
Thank you very much for this big update.
In the example file Townbig, using config.py, I have successfully imported it. But when I exported the osm file from the openstreet website and converted it into an xodr file, the following problems occurred.
Looking forward to the professional reply.
Thanks again.
![Screenshot from 2020-09-28 09-25-16](https://user-images.githubusercontent.com/37059168/943

[2020-09-28 10:38] DnDare commented on #2356
@magehrig  Greetings, I guess you already noticed, we've launched Carla 0.9.10.
There're improvements to SS, hope they suit your needs:
http://carla.org/2020/09/25/release-0.9.10/

[2020-09-28 12:39] stevelaclasse commented on #2343
I had tried to edit parked cars properties from UE4 engine, i have tried to assign some properties of the mobile cars to the parked cars for them to be recognized by the Carla API,  but with no success.
I have only made some change in the properties, but with changes also in the categories and classes, it may be possible to achieved it.

[2020-09-28 12:43] chandeep11 commented on #3294
@sergi-e Could you please update on this as I've stuck with this for more than 2 weeks.! I can't proceed further due to this issue.

[2020-09-28 14:52] hh0rva1h commented on #3085
@germanros1987 Could you do something about stale bot closing issues that are triaged other than question? Imho it does not make much sense to close a issue triaged as bug or feature request automatically.

[2020-09-28 17:28] danielrich commented on #3370
There is a sensor sync example. https://github.com/carla-simulator/carla/blob/dev/PythonAPI/examples/sensor_syncronization.py shows you how to run things synchronous.

[2020-09-28 22:58] Ad4102 commented on #1254
Hello @YashBansod . Is it possible to spawn these points back in the simulator? I have some problem while dealing with waypoint.next transform.

[2020-09-29 05:55] #3045 closed

[2020-09-29 05:55] #3044 closed

[2020-09-29 05:55] #3062 closed

[2020-09-29 05:55] #3073 closed

[2020-09-29 05:55] #3065 closed

[2020-09-29 05:55] #3070 closed

[2020-09-29 05:55] #3060 closed

[2020-09-29 05:55] #3076 closed

[2020-09-29 05:55] #2769 closed

[2020-09-29 06:59] Computer-CGuy commented on #2881
Thanks a lot, @shijieS Your comment was helpful.
Steps to do a successful build, the latest Carla commit 159801fd40b8de11a583fd63fb9bb45c42faff62 titled "Changelog" has errors on my build, for no clear reasons. So I downloaded the commit titled "New version 0.9.10".
To download the commit
`
git init
git remote add origin https://github.com/carla-simulator/carla.git
git fetch origin 55a83f911a76852

[2020-09-29 08:42] Axel1092 commented on #3348
@amastrobera `SignId` is defined as string (see `RoadTypes.h`)
[code]

[2020-09-29 08:53] amastrobera commented on #3348
Apologies, my repo must have lost track of the updates on the RoadType.h file. You did it in February.

[2020-09-29 08:53] #3348 closed

[2020-09-29 08:59] shri-can opened #3374 "Debian CARLA on Ubuntu 20.04 error"
I'm having a problem with the first step of the Debian CARLA installation in Quick Start Instructions.

Ign:1 cdrom://Ubuntu 20.04.1 LTS _Focal Fossa_ - Release amd64 (20200731) focal InRelease
Hit:2 cdrom://Ubuntu 20.04.1 LTS _Focal Fossa_ - Release amd64 (20200731) focal Release
Hit:4 http://dl.google.com/linux/chrome/deb stable InRelease
Hit:5 http://de.archive.ubuntu.com/ubuntu focal InRelease

[2020-09-29 09:00] Axel1092 commented on #3320
Hi @H-Whisky, sorry for the delay, I need the error log of the whole console, you only sent the PythonAPI part but what is actually failing is one of the dependencies. I need you to delete everything inside the Build folder, run `make osm2odr` then send the full error log in order to better understand what your problem is and solve it.

[2020-09-29 10:18] Madecu opened #3376 "[Testing] Dark sky"
If you set the cloud amount above 50 and you lower the sun below 30º altitude, the sky turns pitch black. And at night, we had weird artifacts with the clouds turning greenish.

This has been solved for the 0.9.10 release. Can you check it out and play with the clouds and sun position to confirm it is no longer happening?

Thanks

[2020-09-29 10:47] XGodina commented on #3376
I've tested on Windows and didn't see any artifact and nothing weird.

[2020-09-29 11:09] Madecu commented on #3376
Tested in:

- Windows : Everything ok
- Linux Vulkan : Everything ok
- Linux OpenGL: The black sky and clouds issues are solved. But there is a problem with the sun reflection over puddles and water:

![Vulkan-OpenGL](https://user-images.githubusercontent.com/54811869/94551055-08520200-0255-11eb-8921-39d44afc5cd9.png)

[2020-09-29 12:58] XGodina commented on #3284
Hi @dnns92 ,

We've implemented this tag in this latest release just as we have improved our semantic segmentation making it more detailed. I encourage you to try this release 9.10 to see what you think.

[2020-09-29 14:22] Madecu commented on #3279
Hi @pavanteja295, right now we have only exposed the color of the vehicles. If you want to change or add some particular color for each car, you can edit the "VehicleFactory" in the "Blueprints" folder and edit the colors.

![image](https://user-images.githubusercontent.com/54811869/94570770-7c010880-026f-11eb-8393-61a82e634518.png)

[2020-09-29 14:24] XGodina commented on #2628
Hi @Xcrid, @Georgini82

We've implemented this tag in this latest release just as we have improved our semantic segmentation making it more detailed. I encourage you to try this release 9.10 to see what you think.

[2020-09-29 14:29] XGodina commented on #3252
Hi @pangxiao2013

You can download here: http://carla.org/2020/09/25/release-0.9.10/

[2020-09-29 14:31] Kipt opened #3377 "Rendering Issues in 0.9.10"
I decided to try out 0.9.10 and I noticed the colors seemed way too bright. After more investigation I also noticed severe glitches regarding reflections on water. By the looks of it the raycasting is failing horribly, causing black dots to appear.

The easiest way to see this is by setting weather to 'HardRainSunset' and looking at the reflections of the sun.

I'm running Carla through docker wit

[2020-09-29 14:38] XGodina commented on #3256
Hi, @hh0rva1h
That improvement is already in the new Release 9.10.

[2020-09-29 14:42] RobinC94 commented on #3196
I have met the same problem with released pack carla0.9.6, which prints
`
4.22.1-0+++UE4+Release-4.22 517 0
Disabling core dumps.
sh: xdg-user-dir: command not found
Signal 11 caught.
Malloc Size=65538 LargeMemoryPoolOffset=65554
CommonUnixCrashHandler: Signal=11
Malloc Size=65535 LargeMemoryPoolOffset=131119
Malloc Size=44304 LargeMemoryPoolOffset=175440
Engine crash handling finished; re-raising

[2020-09-29 15:01] XGodina commented on #3254
Hi @kanakab,

Thanks for the comment I'll keep that in mind !!

[2020-09-29 15:24] #3376 closed

[2020-09-29 15:38] qhaas commented on #1567
Using @edowson 's 4.23.1-ppc64le fork mentioned above, we now have CARLA 0.9.8 running on our IBM AC922 HPC, also known as the [Summit Supercomputer](https://www.olcf.ornl.gov/summit/) and our Raptor Talos 2 workstations!  The latter was easier, for supercomputers have their own nuances...

Unfortunately, a few textures are missing (note fewer details of the plants on the right with ppc64le), like

[2020-09-29 15:39] Madecu commented on #3346
Hi @italovinicius18, as far as I know, unfortunately, this is a hard task due to the way RoadRunner gave us the geometry of the lines and roads. To do so, you would need to export all the road lines meshes from unreal and open them with some 3D software such as Maya or 3DsMax. Then, you need to detach the solid lines from the broken ones and import them again into unreal engine. Once you have sepa

[2020-09-29 15:57] XGodina commented on #3377
Hello @Kipt ,

We by default use Vulkan and the lighting values are set to this one.
I don't know if that affects the docker. @bernatx can you help us with Docker?

[2020-09-29 17:48] qhaas commented on #3027
Unfortunately, our workflow can't handle the version of UnrealEngine that CARLA 0.9.9.x was built with, so we were using CARLA 0.9.7, until we ran into this bug...  It doesn't appear to occur in CARLA 0.9.6, and we haven't tested CARLA 0.9.8 yet.

Was the cause/fix ever narrowed down so we can backport the fix?

Thanks

[2020-09-29 19:46] qhaas commented on #3374
It would appear that CARLA's [apt repo](http://dist.carla.org/carla/dists) currently only supports xenial (Ubuntu 16.04) and bionic (Ubuntu 18.04).  Have you tried using the [package](https://carla.readthedocs.io/en/latest/start_quickstart/#b-package-installation) (i.e. extract/run the tar.gz)?

[2020-09-29 21:20] bulus92 commented on #3104
I have the same question as well. Has there been any response to this question ?

[2020-09-30 00:09] tinmodeHuang commented on #3196
perhaps I couldn't have make it clear in the last comment, which the exception doesn't matter as germanros1987 said, thus you can open another terminal to run something relevant.

[2020-09-30 04:40] wangludong commented on #3273
Okey, I get it. Thank you all!

[2020-09-30 04:40] #3273 closed

[2020-09-30 08:43] Axel1092 commented on #3372
Hi @xiaoyang666, can you provide us with the error log in the console? Or at least the full message in the Unreal Engine crash reporter? I guess you are trying to load an osm file with `python3 config.py --osm-path=/path/to/osm` right?

[2020-09-30 08:56] Hanjinchao commented on #3009
![Capture__why](https://user-images.githubusercontent.com/45022627/94664436-d66c9880-0345-11eb-82d5-15c46b5c3876.JPG)

so, I got this osm converter working, but when I use road-runner review the xodr file, seems like the map was
distorted, any suggestions?

[2020-09-30 10:41] Axel1092 commented on #3009
@Hanjinchao, can you import the map in carla with the standalone mode? `python3 config.py --osm-path=path/to/osm` in the util folder and check if the map is still distorted please?

[2020-09-30 11:27] glopezdiest commented on #3336
Hey @NishanthShettyS. Seems like scenario runner can't retrieve the location of CARLA's PythonAPI. Could you share your PythonPath? you should have something like *${CARLA_ROOT}/PythonAPI* there

[2020-09-30 15:28] TKeutgens commented on #3200
@germanros1987  Unfortunately I was still not able to create a working Docker image. But I did a couple more tests on the self build version. I'm able to view and play the self built map in the Unreal Engine Editor. I was also able to create the .uasset for the map.

In the documentation that you referenced there seems to be an error for the ingestion into the prebuild Windows Version of Carla. Fr

[2020-09-30 16:06] Roosstef commented on #3182
@XieJinLiang Did you find a way to visualize it on rviz?

[2020-09-30 16:47] rahulkrishnan20 commented on #1345
I'm using the precompiled windows build version 0.9.10. I'm running into the same issue
  File "spawn_npc.py", line 24, in <module>
    import carla
  File "C:\Users\Rahul\Documents\WindowsNoEditor\PythonAPI\carla\__init__.py", line 8, in <module>
    from .libcarla import *
  File "C:\Users\Rahul\Documents\WindowsNoEditor\PythonAPI\carla\libcarla.py", line 7, in <module>
    __bootstrap__()
  Fil

[2020-09-30 20:23] #3097 closed

[2020-09-30 23:33] #3317 closed

[2020-10-01 08:38] p-testolina commented on #3377
Hi guys,
I noticed the same brightness problem on 0.9.10 and 0.9.10.1 (tested this morning!). I'm running the docker image via singularity, and it's working fine without the `-opengl` flag, but the scenes seem way too bright. Same setup as @Kipt

[2020-10-01 09:05] DSantosO commented on #3104
Hello @yyab, @whuxhzhang and @bulus92,
Sorry for the late response. In principle you can do it directly in BP in Unreal but with this you would loose most of the functionality that we provide for vehicles. In you look into the class hierarchy of vehicles, you would see that Carla's vehicles all inherit from ACarlaWheeledVehicle that inherit from AWheeledVehicle (from VehiclePhysX). Maybe you could

[2020-10-01 09:07] XGodina commented on #3377
Hi, @p-testolina,
Can you provide some images? Wich Town you tested?

[2020-10-01 09:29] DSantosO commented on #3287
Hello @tiger-bug,
Don't trust much issue #392 because this is old and the frame of reference of the LiDAR changed recently. Now, it is given in the usual frame reference of CARLA (x-front, y-right, z-up). The mini-script I gave you to show using the world-to-local transformation we provide and we are using also the convention RzRyRx so it should be equivalent to what you want to do,
You can look i

[2020-10-01 14:11] jorothe opened #3385 "Some sensors ignore sensor_tick attribute [0.9.10 / 0.9.10.1]"
Hi,

I use Carla to generate datasets for semantic segmentation and only need the sensor data of every xth tick. Thus i make use of the sensor attribute sensor_tick and set it to 1 or 2 (seconds).
The sensors _camera.rgb, camera.semantic_segmentation_ and _camera.depth_ seem to ignore the sensor_tick attribute and return data in every tick.

The _sensors camera.dvs_ or _lidar.ray_cast_ for example

[2020-10-01 14:12] #3370 closed

[2020-10-01 14:49] christianjcc commented on #684
Anyone know what the default CARLA driver model (e.g. car-following, lane-change modeling)  is based on? Are the non-player agents/vehicles based on say the Intelligent Driver Model (IDM) or Optimal Velocity Model (OVM) for car-following model? Could not track down any document explicitly describing what the AI non-player vehicles model is modeled after. Any information that can be provided is gre

[2020-10-01 14:51] sergi-e commented on #3286
Hi, @pangxiao2013 !

Here are some instructions on how to create a semantic tag. First of all, you have to work with a CARLA build, and be updated with the latest changes in `dev`.

### 1. Create the tag ID

__Open `ObjectLabel.h`__ in `LibCarla/source/carla/rpc`. Add your new tag by the end of the enum using the same formatting as the rest.

    Tags do not have to appear in order. However, it is

[2020-10-01 14:52] sergi-e commented on #3324
Added a note regarding coordinate system and sensors in the sensors reference!

[2020-10-01 14:54] christianjcc commented on #254
Would anyone happen to know what the default CARLA non-player/vehicle driver model based on such as Intelligent Driver Model (IDM) or Optimal Velocity Model (OVM), etc? Could not find it described anywhere.

[2020-10-01 15:42] p-testolina commented on #3377
Hi @XGodina, thanks for the quick reply.
I tested the same weather settings using the `dynamic_weather.py` example using Town03. I hope I got them right.

This is what I get from the spectator with 0.9.9
![0 9 9](https://user-images.githubusercontent.com/32326757/94831401-f6b35a80-040c-11eb-956a-954f5cd59aeb.png)
and with 0.9.10
![0 9 10](https://user-images.githubusercontent.com/32326757/94831397

[2020-10-01 16:31] KasraMokhtari2112 opened #3387 "Vehicle Dynamic Model"
Hi everyone. Can somebody help me to have an idea about the dynamic models of the car? I know that they use Unreal's default vehicle dynamics, which is NVIDIA's PhysX vehicle model, but I cannot find anything helpful for that. For example, what is the maximum possible change in the car's angular velocity or forward velocity?

What I want to do is predicting the vehicle future position by knowing t

[2020-10-01 21:37] hh0rva1h commented on #3256
@XGodina @jackbart94 I just downloaded 0.9.10 and ran my script, I could not observe different behavior unfortunately:

![Screenshot from 2020-10-01 23-33-23](https://user-images.githubusercontent.com/61889859/94866133-13688600-043f-11eb-80d6-b9ad14e6d9a9.png)

[2020-10-02 01:48] Hanjinchao commented on #3009
so....for some reason my carla0.9.10 build does not work properly, I tried on Linux build and win build, the windows carla unreal editor does not show up, it will go straight to crash. For Linux, the Carla unreal editor will crash if  I play it, so I can't really test it with the later version, but with carla0.9.9 I try to use the config.py -x <generated_from_osm.xodr>. it does not load anything

[2020-10-02 07:20] hh0rva1h commented on #2809
@germanros1987 @bernatx I tested release 0.9.10 for the issue and it's still happening. Did the linked commit not make it into the release?

[2020-10-02 07:57] Hanjinchao commented on #3009
also.....is there any support for left-hand model? I am located in Japan, the osm data is left-hand by default

[2020-10-02 08:55] Madecu commented on #3377
Hi @p-testolina,
In the new 0.9.10, we have changed the exposure mode of the camera to auto exposure and we have tweaked the camera configuration a little bit. That is why the image is now brighter than before.
We have exposed a lot of parameters so you can customize your RGB camera the same way you would in real life. You can set your camera (the RGB sensor of the car or the Spectator camera from

[2020-10-02 09:58] shri-can commented on #3374
Thanks, but never mind. I realised I needed to build from source so I just downgraded to Ubuntu 18.04. The 20.04 was a fresh install on my dual boot system anyway.

[2020-10-02 11:01] jackbart94 commented on #3256
Please, make sure your content is actualized. There is clearly something wrong with that, since my graph is:

![Figure_1](https://user-images.githubusercontent.com/32928804/94916620-506c6100-04af-11eb-97ba-73ba97f0c3f3.png)

From the CARLA main folder, do ``./Update.sh``

[2020-10-02 12:37] hh0rva1h commented on #3256
@jackbart94 Thanks for the reply, however I did not compile from source, I do not have the hardware resources for that currently. All I did is fetch the binary release 0.9.10 and run the script. There is not `Update.sh` in the Carla main folder from the binary release though ...

[2020-10-02 12:56] bernatx commented on #2809
@hh0rva1h I have been running the script several times, each time for 50 times running around 20 seconds, and never happened the problem. I have tried in Town03 and also in Town04.
I'm using version 0.9.10.1 where we add a fix for a camera freeze we detected, but I don't think it is related to this.
I will do more tests in Ubuntu also and let you know.
In the meantime, can you check also that 0.9.

[2020-10-02 13:35] hh0rva1h commented on #2809
@bernatx Thanks for letting me know, I fetched 0.9.10.1 now, but it's still happening to me:
https://youtu.be/X3WZ-tmltWo

[2020-10-02 14:28] Axel1092 commented on #3009
@Hanjinchao Do any messages show up with the crash? If the unreal crash report pops up I would like to take a look at it in order to help you to solve this issue.
The OSM support is for 0.9.10 on. And we do support left-hand traffic at the moment.

[2020-10-02 18:56] bernatx commented on #2809
ok, I have been able to reproduce using a package a let the script a bit more of time to run. It happens at random, but now I can try to check further. I will tell you what I find, thank you.

[2020-10-02 20:06] hermgerm29 opened #3390 "Segmentation Fault when Activating Camera Sensor on Headless Deployment"
I am running a Carla based simulator on an Ubuntu 18.04 server (with -nullrhi flag). When I activate the front camera, I get a segmentation fault. What is causing this?

[code]

[2020-10-02 20:27] analog-cbarber opened #3391 "Inconsistent frame/elapsed time for camera sensor data in 0.9.10-2"
I am seeing inconsistent frame numbers and elapsed time values using the latest 0.9.10-2 debian release on Ubuntu.

I have scenario where I am placing random pedestrians in each frame, and viewing them with three co-located cameras: rgb, depth and segmentation. I am using synchronous mode with a fixed time delta of .1s (10fps). This worked ok with 0.9.10-1,
but with the latest release I am sometim

[2020-10-02 22:17] qhaas commented on #3299
[Epic says not to use root/sudo with UnrealEngine](https://answers.unrealengine.com/questions/913405/build-from-source-refusing-root-privileges.html?sort=oldest)
`do not build it as root. Parts of Unreal engine need to run during the build and they will not run with superuser privileges.`

[2020-10-03 09:37] pomputer opened #3392 "Framerate cap and no-rensering mode"
Hi!
Is it possible to configure a framerate cap (60fps) in order to not waste resources for rendering useless frames. Also, is it possible to have the server in no-rendering mode, but the clients in normal rendering mode?

Thanks!

[2020-10-03 14:43] walzimmer commented on #2248
I can confirm this error message. It occurs when spawning a new vehicle with a custom 3D model.
I followed this guideline: https://carla.readthedocs.io/en/latest/tuto_A_add_vehicle/

[code]

[2020-10-04 07:49] Mohith22 opened #3393 "save_to_disk to save the carla.Transform parameters for an image"
Hi,

I am curious to know if it is possible to save carla.Transform parameters of a frame using .listen().
I know that we can save the image, but I would like to know how to save transformation matrix of a certain frame in .npy file?

[2020-10-04 08:08] Mohith22 commented on #3393
Figured it :)

[2020-10-04 08:08] #3393 closed

[2020-10-04 08:17] xiaoyang666 commented on #3387
I have the same problem.

[2020-10-04 13:32] #2847 closed

[2020-10-04 13:32] #2983 closed

[2020-10-04 13:32] #3100 closed

[2020-10-04 13:32] #3092 closed

[2020-10-04 13:32] #3106 closed

[2020-10-04 13:32] #3109 closed

[2020-10-04 13:32] #2858 closed

[2020-10-04 13:32] #3111 closed

[2020-10-04 13:32] #2850 closed

[2020-10-05 03:19] Hanjinchao commented on #3009
I suspect I got something wrong when I build the 0.9.10 carla, but the same result showed after I rebuild Carla.
here is the message when I try to run unreal editor:

BuildCarlaUE4.sh: line 151: 10623 Killed                  ${GDB} ${UE4_ROOT}/Engine/Binaries/Linux/UE4Editor "${PWD}/CarlaUE4.uproject" ${RHI}
Util/BuildTools/Linux.mk:7: recipe for target 'launch' failed
make: *** [launch] Error 137

[2020-10-05 08:15] Kipt commented on #3377
It seems adding some parameters to docker fixed the issue. With `--gpus 'all,"capabilities=graphics,utility,display,video,compute"'` it runs with Vulkan resulting in the below image. Still quite brighter than the 0.9.9 spectator camera but as the brightness can be modified in the camera sensors it's a minor detail.

I suggest adding a note in the documentation https://carla.readthedocs.io/en/lates

[2020-10-05 08:55] bernatx commented on #2809
Hi, I have opened a PR fixing this problem (https://github.com/carla-simulator/carla/pull/3394).
It seems it was a race condition and a wrong management of a handler, that was queued instead of executed in real time.

[2020-10-05 12:18] XGodina commented on #3377
Hi, @Kipt
Thank you for your input

[2020-10-05 14:23] bernatx opened #3395 "[Testing] Synchronous mode tick dead-lock"
This issue is for testing the PR: https://github.com/carla-simulator/carla/pull/3394
This fixes a problem in synchronous mode where client and server keep waiting for each one.
The test can be done using the package (Windows or Ubuntu) and then using a script like this one:

[code]
The script need to be repeated several times, and see if at any point the client stops waiting for a frame that never

[2020-10-05 14:45] tiger-bug commented on #3287
Thank you for the response and I apologize for the delay, I must have missed the notification that you responded.  I just updated the version of so I will change the code and test it again.  I will provide you with a script if it doesn't work or if I'm still getting those artifacts.  Thank you!

[2020-10-05 14:53] analog-cbarber commented on #3391
Here is a script to reproduce at least some of the bad behavior.

Using this script, I have not observed a total mismatch of images with the same frame #'s as was shown in the above example, but it does usually show duplicate frames and mismatches with frames with the same elapsed timestamp. I suspect the reason my own code is showing worse effect is due to some difference in timing.

Unless there

[2020-10-06 05:19] yumianhuli2 opened #3397 "ExampleDeviceProfileSelector failed"
Hello Carla Team!
According to this https://carla.readthedocs.io/en/latest/build_linux/, I built the simulator in the Linux environment. All the steps were successful, but when I ran ./UE4Editor
I got this error message
![Screenshot from 2020-10-06 08-49-26](https://user-images.githubusercontent.com/39210837/95161682-668f5f80-07d6-11eb-8351-045e8626dba4.png)
How can I solve this problem?Thanks！

[2020-10-06 05:25] guntherkrehl commented on #3385
Hi there,

I am experiencing the exact same issue with the SceneCaptureSensors. I've already contacted @marcgpuig and he told me the team (or he himself) is on it. :) Just wanted to bump this thread with this comment.

Best,
Gunther

[2020-10-06 07:41] leanderpeter opened #3398 "Carla 0.9.9.10 Crashes after hitting Play"
Hi guys,

first of all i love the new possibilities with Carla 0.9.9.10. I’m very thrilled to test out the many features.

**The problem:**

After building Carla from source (strictly followed the Linux docs 3 times) Carla crashes after hitting the “Play Button” in the Unreal Editor. Process: -> make Python API (works) -> make launch (works) -> press play after all meshes and shaders are ready (lo

[2020-10-06 08:40] #3327 closed

[2020-10-06 09:37] filippogandolfi commented on #2548
Hi @bernatx, I make a mistake and the UE4 project push me out with an error. I went back to previous version nbut now I have this problem
`[29/34] Module.Carla.cpp
  ...Carla.cpp(87): error C4067: unexpected tokens following preprocessor directive - expected a newline
  .../PrepareAssetsForCookingCommandlet.cpp(55): warning C4458: declaration of 'TerrainNodeMaterial' hides class member
  ...
  ...

[2020-10-06 12:47] tinmodeHuang commented on #2884
@KunanonxGithub @wpp201820601009 hey! guys, did you achieve it? I have already read the documentation relevant to it [https://carla.readthedocs.io/en/latest/adv_traffic_manager/#simulation-state](url), from my point of view, we need to edit and  rebuild base code so that those states can be accessible

[2020-10-06 14:17] doterop opened #3400 "[Testing] PR #3399, Fixed sensor_tick on cameras"
This issue is intended to track PR #3399 .

Need to test:
- The cameras work without issues.
- The attribute sensor_tick works as expected.

To test it, add `bp.set_attribute("sensor_tick", str(2.5))` before spawning a camera. The value can be changed of course.

[2020-10-06 14:34] analog-cbarber opened #3401 "quick start instructions for 0.9.9 are really for 0.9.8"
When I look at the instructions for installing the previous 0.9.9 version on https://carla.readthedocs.io/en/0.9.9/start_quickstart/, it actually refers to the
version before that:

I was able to find the 0.9.9 instructions from git history(https://github.com/carla-simulator/carla/commit/29cb90f8aa17fa083bc4ec8dc95cb4b6a6ff588c)

[2020-10-06 15:03] doterop commented on #2343
Hi to everyone,

We added a method in our last release 0.9.10 to retrieve all the bounding boxes of all the elements of the level. So, if you need to get the bb of the parked vehicles call:
`bboxes = world.get_level_bbs(carla.CityObjectLabel.Vehicles)`
This call will include every vehicle in the level, so if you only need the parked vehicles call it after loading the level and before spawning any

[2020-10-06 15:35] SSubhnil opened #3402 "Make Launch failure for latest build 0.9.10"
Version: 0.9.10
OS: Win 10 (latest)
GPU: GTX 1050Ti 4 GB

I have the latest assets and `dev` branch code.
I had errors with Unreal Editor after building from 0.9.9 to 0.9.10 so I am now building 0.9.10 in a different drive. The `make PythonAPI` encounters following message:

[code]
It never creates a `dist` and `dependencies` folder in `PythonAPI\carla` but is somehow successful. It actually delet

[2020-10-06 19:43] perseus784 commented on #2970
I too am facing the same issue as of @blackliner. Please let us know if you have found a solution to run it on wsl.

[2020-10-07 04:35] AminoACID123 opened #3403 "Can I launch Carla on a server via ssh?"
I have a server in my school lab that has CARLA installed, and I want to use my laptop to remotely manipulate it.

So I used ssh to connect to the server, but when I ran `./CarlaUE4.sh -vulkan` command, nothing happened. CARLA on the server did not start. Nor did I see anything on my laptop screen.

So could someone tell me how to launch CARLA remotely? thx.

[2020-10-07 07:07] tinmodeHuang commented on #2343
could you tell me when it will be released?

[2020-10-07 07:24] arashroomi commented on #2343
So will it also contain the bounding boxes of the buildings and trees and other objects?

[2020-10-07 07:54] frankeng commented on #2548
You can get CARLA 0.9.8 working with UE 4.23.1 (and clang-8) with some minor changes.

Can somebody tell me how to do that, I want to use it with an other plug-in dat was made for 4.23

[2020-10-07 07:56] arvindvk555 opened #3404 "DX11 feature level 10.0 is required to run the engine (while setting up the server)"
I’m using NVIDIA Tesla K80 driver. Getting this above error while launching CARLA simulator, tried to update the driver, installed directX, but still getting this error in server setup. Checked the directX support versions(it is supported for 12_1,12_0, etc)

[2020-10-07 09:12] doterop commented on #2343
Hi @tinmodeHuang ,

The 0.9.11 should be released between the end of this year and beginning of the next one. Unfortunately, I can't be more precise about it.
When you say actors here, I guess that you mean Unreal actors right? Because you already can know the position, orientation and velocity of a Carla actor. If this is not the case, can you elaborate the question a bit further please?

Hi @ara

[2020-10-07 09:46] #3314 closed

[2020-10-07 10:22] tinmodeHuang commented on #2343
@doterop they refer to actors in Carla such as vehicle, motorcyclist, pedestrian, bicyclist and even parked car. In my implementation of reinforment learning, it acquires real-time information about surrounding traffic aprticipants in Carla to help make a decision.

[2020-10-07 10:25] arvindvk555 opened #3405 "Unable to run PythonApi in Carla simulator"
RuntimeError: time-out of 2000ms while waiting for the simulator, make sure the simulator is ready and connected to 127.0.0.1:2000

[2020-10-07 11:38] qhaas commented on #2548
If your plugin works with UE 4.24, then you can simply use newer versions of CARLA (0.9.9+) that were built against UE 4.24.

(disclaimer:  using a different version of UnrealEngine / Clang than the one officially supported by the target version of CARLA can lead to unexpected behavior)

Now, to answer your question...

You will have to compile CARLA from source and use CARLA 0.9.8 or older, since

[2020-10-07 12:41] doterop commented on #2343
@tinmodeHuang So, right now with the last release, you could only get the BBs of the parked vehicles and that will give you the position and orientation.

[2020-10-07 13:27] HemaZ commented on #3403
You can run CARLA in an Off-screen mode using the command
`DISPLAY= ./CarlaUE4.sh -opengl
`
https://carla.readthedocs.io/en/latest/adv_rendering_options/#off-screen-mode

[2020-10-07 13:34] frankeng commented on #2548
@qhaas Thank You, I will try

[2020-10-07 14:35] tinmodeHuang commented on #2343
in that case, only velocity of parked vehicles remains to be determined, so I just call that function above after loading the level and before spawning any other during the beginning of simulation to get it

[2020-10-07 14:59] doterop commented on #2343
Yes @tinmodeHuang ,
Parked vehicles will not move, so their velocity will be always zero.

[2020-10-07 15:39] XGodina opened #3406 "[Testing] E-tron"
We need to be sure that when we stop accelerating the E-tron doesn't tend to move to the right.

[2020-10-07 15:56] XGodina commented on #3406
I've tested in linux and it works fine. The suspension and center of mass are correct too.

[2020-10-08 01:20] tinmodeHuang commented on #2343
it was appreciated. so if I only need real time states of those actors around the ego car rather than those of all actors in the map at every time step, can I get those by the call above or by just adjusting it a little bit?

[2020-10-08 05:35] nagasanjay commented on #3235
Hi.. I face the same issue... Can you share with me how did you solve it ?

[2020-10-08 06:53] frankeng commented on #2548
Unfortunately no success.
 I got the messsage to buil it manually.
I try to compile and run it under Windows 10, So I opene visual studio 2017 as an administrator and tried to build it:

1>------ Build started: Project: CarlaUE4, Configuration: Development_Editor x64 ------
2>------ Skipped Build: Project: UE4, Configuration: BuiltWithUnrealBuildTool Win32 ------
2>Project not selected to build fo

[2020-10-08 10:34] qhaas commented on #2548
I should have pointed out that `PostPhysicsComponentTick.bCanEverTick` occurs in more files than just the 'Sensor.cpp' I linked, such as [RssSensor.cpp](https://github.com/carla-simulator/carla/commit/6ba4d68a48cb6af2ac5d5983e6e44cd5ebb54777#diff-8169d3a8a9eb74e8aa3110d488bb578b), which is causing one of the errors in that trace.

[2020-10-08 10:39] gismo07 opened #3408 "PythonAPI/dependencies/lib/libboost_python27.a is not generated"
Building the PythonAPI for the current carla version is failing for python 2.7.

After issuing the following commands:
[code]

we get the error, that `PythonAPI/dependencies/lib/libboost_python27.a` was not found.

[2020-10-08 11:17] doterop commented on #3395
I have run the script several times and all seems to work fine.

[2020-10-08 11:18] #3395 closed

[2020-10-08 11:52] pangxiao2013 commented on #3286
thanks a lot. But it is still difficiult for me as a new carla user. I hope for segmentation label in carla platform, developers can make standard rich labels like cityscape, more specificly, vechiles can be divided into car, trunk, bicycle and etc. Pedestrian can be devided into riders and etc. BTY thanks a lot.

[2020-10-08 15:31] DSantosO commented on #3406
I have also tested and now it behaves well.

[2020-10-08 16:13] shiyuanzhu123 opened #3410 "Question about switching controller (eg. switch from keyboard to steering wheel)"
Hi, I'm running the "manual_control.py" script (in example folder) in my own map and  I want to achieve one function: switch driving method from keyboard to steering wheel by pressing one button. Could you please give me some instructions on that? Thanks a lot!

Yuan Shi

[2020-10-08 16:17] dsche opened #3411 "Sensor performance issues with Python API"
Platform: Ubuntu 20.04
Carla 0.9.10
Python: 3.7.6

I experience an extremely confusing performance issue when I deploy sensors in a simulation. The issue occurs when I use a context manager-like class that tracks the sensors and the vehicle and surprisingly does not occur if I do not use any of this.

MWE: [mwe.zip](https://github.com/carla-simulator/carla/files/5349275/mwe.zip)

Basically, what h

[2020-10-08 17:09] xmgpev commented on #3229
I finally found the bug in my case. I had several versions of Carla on my laptop and the system path variable CARLA_ROOT was configured for an older version of the PythonAPI.

[2020-10-08 17:09] #3229 closed

[2020-10-08 17:23] kargarisaac commented on #3270
I try to run Carla using docker on a remote server. I use the command `docker run -it -p 2002-2004:2002-2004 -e NVIDIA_VISIBLE_DEVICES=1 carlasim/carla:0.9.6` but get the following error:

[code]

I want to run headless carla. There is one Carla running on another user account on this PC outside of docker. Does it affect?

I also get the following error by running `docker run -p 2000-2002:2000-200

[2020-10-08 17:30] jimmyw404 opened #3412 "Example High FOV Lens Distortion Parameters"
Thank you for making a Lens Distortion model! However I am having trouble using it to generate the kind of lens distortions I typically see in real-world lenses with high fields of view.

I am trying to simulate a wide angle lens and a fisheye lens. I understand that 180 degrees are annoying to render, so I don't need to go that high. 160 degrees is enough.

Below is a sample of a wide angle 160 d

[2020-10-08 17:34] jimmyw404 commented on #3412
#776 Lens distortion shader
#2145 Lens distortion shader
#754 Lens distortion shader
#2669 Fisheye camera support in carla
#3130 Lens distortion attributes
#2048 Lens Distortion

[2020-10-08 19:24] tiger-bug commented on #3287
Here is a little script I made to collect data and make a point cloud:

[code]
The main function is **prnt_pnts**, this is how I'm creating the points.  Here is a picture of the result.  Seems like I'm still getting the issue.   Is there something in the code I'm doing incorrectly?  I will provide more if you need it.  Thank you so much!!

![new_transform_floating_points](https://user-images.githu

[2020-10-09 08:01] #3403 closed

[2020-10-09 08:54] kartikeyshaurya opened #3413 "Regarding the installation of Carla with Pip"
getting this error while installing the carla with pip :- anybody have idea why it is occurring

 ERROR: Command errored out with exit status 1 ,
``
command: 'C:\Users\karti\miniconda3\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\karti\\AppData\\Local\\Temp\\pip-install-kqh8f8st\\carla\\setup.py'"'"'; __file__='"'"'C:\\Users\\karti\\AppData\\Local\\Temp\\pip-inst

[2020-10-09 08:59] kartikeyshaurya commented on #2463
Thanks for the help i faced the similar issue now its working 💯

[2020-10-09 09:46] thytless opened #3414 "[Docker] How to get log when running a shipped docker"
Platform: Ubuntu 16.04
Carla version: 0.9.9.4
When I run carla in docker, I cannot get any log except:
`4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
sh: 1: xdg-user-dir: not found`
Is there any options or settings for us to modify to enable UE4 and carla log?

[2020-10-09 10:12] siraphopp opened #3415 "Error when convert OSM to XODR"
## My code:

f = open('map.osm', 'r')
osm_data = f.read()
f.close()

settings = carla.Osm2OdrSettings()
xodr_data = carla.Osm2Odr.convert(osm_data, settings)

## Error:

RuntimeError: unable to open file 'https://sumo.dlr.de/xsd/types_file.xsd'
 In file 'built in type map'
 At line/column 1/0.

  The types could not be loaded from 'built in type map'.

## My OSM map:

[map.osm.zip](https://github.

[2020-10-09 11:50] mc275 commented on #3320
I also meet the same problem. I make osm2odr and found the xerces cannot output the lib. When I build the xerces lib, I found  Windows kit 10 already have the icucc.lib and xerces cannot link. Could you please help me to solve this problem?

[2020-10-09 13:40] seuwcs commented on #3410
if you had connected a steering wheel to carla?

[2020-10-09 14:17] nagasanjay opened #3417 "The carla map is just white (too bright) when opened in UE4 editor"
I downloaded the carla and built it from source. I wanted to edit the map, so I opened it in UE editor. But it looks only white and I can't see it properly.

I use windows 10. Carla version 0.9.10. Unreal engine version 2.24.3.
![white_carla](https://user-images.githubusercontent.com/43279026/95593956-f13abd80-0a67-11eb-94ea-683124e5b4c2.JPG)

Also, I couldn't connect to the server (after clicking

[2020-10-09 15:06] analog-cbarber commented on #3138
This was only fixed for the python api doc for `World` there are still places in the documentation that refer to the incorrect name: https://github.com/carla-simulator/carla/search?q=get_light_manager

[2020-10-09 15:21] seuwcs commented on #3410
But I am wondering how did you solve the problem, as I met the same problem.  Would you mind giving me some suggestions regarding this question. Very much thank!
I had a steering wheel but it can't be connected to Carla in Win10, How it can be solved?

[2020-10-09 15:26] sergi-e commented on #3138
Hi, @analog-cbarber !

Completely true. These instances have been fixed in this branch: https://github.com/carla-simulator/carla/tree/sergi-e/warning-docs-version and will be merged as soon as possible, along with other minor changes.

[2020-10-09 15:35] DSantosO commented on #3287
Hello @tiger-bug,
I have been able to run your script and I think I see something that it could be what you are mentioning.
Where are you spawning your car? Are you seeing this in different places or just in some places?
Could you try to spawn your car in Town 5 at (x=30, y=200, z=0.5) and tell me if you can see the same problem?

[2020-10-09 16:17] tiger-bug commented on #3287
Good morning @DSantosO,

I changed the code.  Here is a little snapshot of it to make sure I did it correctly:

[code]

I can still see the issue, but it does look better.  Is it due to the z-shift in the spawn point?  It looks like it's off by about 0.3 meters

![town-05-issue-view](https://user-images.githubusercontent.com/40045042/95607027-c6794680-0a20-11eb-8d11-b50cfa70ca5f.png)

Here is a ge

[2020-10-09 18:41] nagasanjay opened #3418 "play button in unreal engine editor doesn't open port 2000"
I'm using carla from source ( 0.9.10 ) with unreal engine (4.24.3) on windows 10.
The build process is completely successfull.
I opened the editor and chose a map and clicked play button in standalone game mode.
A new window opened and showed the map. I was able to spectate.

But when I run manual_control.py, it couldn't connect to 127.0.0.1:2000 as no process was using (listening in) that port.
I

[2020-10-09 18:49] nagasanjay commented on #3402
please cross-verify the python version you are currenty using ( type python in cmd and look at the version ) and the version mentioned in the file named `libboost` in the folder `PythonAPI\carla\dependencies\lib\` .

If they vary, install the version mentioned in that `libboost` file and then make it the default python version ( keep it at the top of environment variables' `path` variable list ).

[2020-10-10 03:24] pavanteja295 commented on #3279
Thanks a lot for the answer! What about the material customization rather than the color?

[2020-10-10 07:42] rebolomo commented on #3216
I have the same issue when making package with carla 0.9.9. Any help will be appreciated.
[log.txt](https://github.com/carla-simulator/carla/files/5358602/log.txt)
[Cook-2020.10.10-15.36.43.txt](https://github.com/carla-simulator/carla/files/5358603/Cook-2020.10.10-15.36.43.txt)

[2020-10-10 11:37] K-Hoppe opened #3419 "[Question] How to draw waypoints of the route a vehicle took in a recording"
Hello, I want to show the route my vehicle takes in a recording and need a way to draw just these waypoints. Is there a way to draw the waypoints of a vehicle?

[2020-10-10 12:24] #3123 closed

[2020-10-10 12:24] #3132 closed

[2020-10-10 12:24] #3140 closed

[2020-10-10 12:24] #3107 closed

[2020-10-10 12:25] #3093 closed

[2020-10-10 14:05] italovinicius18 commented on #3346
Thank for the aswer @Madecu

[2020-10-10 15:53] nagasanjay commented on #3419
refer to this [issue](https://github.com/carla-simulator/scenario_runner/issues/40).
It shows how you can save the location of the spectator. In a similar way, you can try to get the location of the actor.

[2020-10-10 15:57] nagasanjay commented on #3405
I face the same issue. Let me elaborate it.
I use carla-from-source, in windows 10.

I built everything, opened a map in Unreal editor and clicked the play button.
I get the spectator view.

But when I run the manual_control.py (or any other files) it shows the error `RuntimeError: time-out of 2000ms while waiting for the simulator, make sure the simulator is ready and connected to 127.0.0.1:2000`

[2020-10-10 16:07] nagasanjay commented on #3294
Please make sure you are running `make launch` from the `x64 native tools command prompt for vs 2017` and not from regular `cmd`.
Also ensure you've installed `c++ and .NET workloads` from the vivsual studio installer.

[2020-10-10 16:11] nagasanjay commented on #3245
Have you installed `c++ workload and .NET workload` from visual studio installer ?

[2020-10-10 16:16] nagasanjay commented on #3193
I have the same issue, but in windows... But I couldn't find port number 2000 or 2001 in netstat though.

[2020-10-10 16:28] K-Hoppe commented on #3419
Thanks for your answer, but thats not what iI wanted to do.
I want the waypoints drawn where the vehicle was/will be.
Or
I want to draw the route the vehicle took

[2020-10-10 17:03] NishanthARao opened #3420 ""fatal error: too many errors emitted, stopping now" for rpclib library"
Hello all. Could you please help me figure out why I am getting this error?
Carla Version: 0.9.10
Ubuntu: 18.04 Bionic Beaver
Installation link that I am following: https://carla.readthedocs.io/en/latest/build_linux/
[code]

Thank you for your time.

[2020-10-10 17:33] nagasanjay commented on #3419
Correct me if I'm wrong. Won't you get the waypoints if you call get_location() continuously, for each tick ?

[2020-10-10 17:38] nagasanjay commented on #3337
I had the same error while running with `config.py` .
I even added `encoding='utf-8` at `open()` function. But didn't help

[2020-10-11 06:53] jujuau opened #3422 "The coordinates of the corner of the parking lot"
Hi,
Thanks for the great simulator. I have a question.
Is it possible to get the coordinates of the corner of the parking lot?(uv, xyz,...)
For example, the red circle in the image below.

![temp](https://user-images.githubusercontent.com/72644509/95672036-5ca39d00-0bd8-11eb-8e74-21c8f3e32231.png)

[2020-10-11 07:03] squizz617 opened #3423 "UE4 initialization issue with VirtualGL"
Hi.
I've been experiencing severe slowdown of the initialization of `CarlaUE4.uproject` when being operated with VirtualGL.

Normally, e.g., on a machine with a physical monitor, after executing `make launch`, a number of processes such as `ShaderWorkerCompiler` are spawned and use 100% of CPU to do the initial compilation of shaders. I was able to see the UE4Editor GUI within a few minutes on mod

[2020-10-11 07:34] kargarisaac opened #3424 "terminate called after throwing an instance of 'std::out_of_range' what(): _Map_base::at"
Hi,

I get the following error when I want to set to autopilot mode using traffic manager. I moved from carla 0.9.6 to 0.9.10.1
[code]
It works sometimes but most of the time I get the above error.
I use the default tm port which is 8000. I tested others too but the same result. I also use `-carla-rpc-port=5000' for the simulator.

In cases that it runs successfully, I see sometimes that the car d

[2020-10-11 10:59] VEDANTGHODKE commented on #2227
@aakashsehgal Could you please share your implementation?

[2020-10-11 11:50] #3135 closed

[2020-10-11 11:50] #3091 closed

[2020-10-11 11:50] #3099 closed

[2020-10-11 13:02] nagasanjay commented on #3418
I went through the CarlaUE4 editor's project settings and found this
![carlaSettings](https://user-images.githubusercontent.com/43279026/95679384-1c501900-0bf0-11eb-9f1f-a62ccfb21f79.JPG)

These settings were disabled.

[2020-10-11 15:16] hh0rva1h commented on #3256
@XGodina @jackbart94 @germanros1987 I just tried the nightly build, this issue is not fixed in the nightly build. As noted before I do not currently have the resources to build from source. Could you look into it again?

[2020-10-11 15:22] hh0rva1h commented on #3197
Still an issue with the nightly build.

[2020-10-11 15:23] hh0rva1h commented on #2809
@bernatx Tried the nightly build, looks good so far. Thanks very much!

[2020-10-11 15:30] jrayner commented on #1892
Hmm. This issue does appear to exist, at least for me.

$ docker run -p 2000-2002:2000-2002 --runtime=nvidia --gpus all carlasim/carla:0.9.10
sh: 1: xdg-user-dir: not found

docker ps doesn't show the server

With -it:

4.24.3-0+++UE4+Release-4.24 518 0
Disabling core dumps.
sh: 1: xdg-user-dir: not found

I don't know if this is nvidia dependent (nvidia/cuda 11.0-base image)

[2020-10-11 15:36] hh0rva1h opened #3425 "Additional Assets for nightly build missing"
Usually the assets for the nightly build were available here:
https://carla-releases.s3.eu-west-3.amazonaws.com/Linux/Dev/AdditionalMaps_Latest.tar.gz

Now that link is not working anymore. How to obtain the additional Maps for the nightly build? @germanros1987

[2020-10-11 16:17] nagasanjay commented on #3422
yes, you can. refer this [thread](https://github.com/carla-simulator/scenario_runner/issues/40)
After running the server, you will get into spectator mode. Move to your desired location to get the coordinates

[2020-10-11 19:27] mercurylaci opened #3426 "Lightning problem in case of a new map in the latest build 0.9.10"
I'm using Carla 0.9.10, Unreal Engine 4.23.3 on Ubuntu 18.04.
On the previous build 0.9.9 I don't have this issue, when I import a map (which was created by roadrunner), in the Unreal Editor there is proper lightning, but when I hit the play button (or create a package), there is complete darkness.
![map](https://user-images.githubusercontent.com/63070010/95688046-9b048080-0c07-11eb-84d0-bf77e3c18

[2020-10-11 23:08] #3016 closed

[2020-10-11 23:08] #2696 closed

[2020-10-12 05:26] pavanteja295 opened #3427 "Change color of the Spawned Actor (Not Blueprint) using PythonAPI"
Hello all,
Is there a way to change the color of the actor once the actor has been spawned? I know how to set color with blueprint library, but I want to know if already spawned actor attributes can be changed.

[2020-10-12 05:33] mercurylaci commented on #3419
This is an example, based on this I think you can do it.
begin = carla.Location(x=x1, y=y1, z=0.1)
world.debug.draw_point(begin, size=0.05, life_time=7200, color=carla.Color(238, 18, 137, 0))

[2020-10-12 05:47] jujuau commented on #3422
Thank you for your reply.

For example, does it mean that the location (x, y, z) on the map can be obtained by doing the following?

[code]
output example
→Transform(Location(x=25.259499, y=-49.834530, z=1.488399), Rotation(pitch=-0.008087, yaw=-87.951607, roll=-0.741791))

In the same way, get the coordinates (x, y, z) of the parking lot.
And the UV coordinates can be calculated from the camera's

[2020-10-12 07:13] GitJasonseven opened #3428 "Error when running make PythonAPI on Linux18.04"
CARLA VERSION:0.9.8
OS: ubuntu118.04
boost_1_72_0.tar.gz. 100%[====================>] 120.72M  2.00MB/s    用时 77s   s

2020-10-12 15:09:02 (1.57 MB/s) - 已保存 “boost_1_72_0.tar.gz.3” [126580835/126580835])

Setup.sh: Extracting boost for Python 3.

gzip: stdin: unexpected end of file
tar: 归档文件中异常的 EOF
tar: 归档文件中异常的 EOF
tar: Error is not recoverable: exiting now
Util/BuildTools/Linux.mk:143: recipe f

[2020-10-12 07:20] thytless commented on #3424
Hello! I am concerned about your problem since I am going to upgrade to 0.9.10 as well.
1. Which map did you test on? Did you modify it? I have also experienced such exception when I got my Town06.xodr wrong modified.
2. Or would you please run your client code with gdb and have an insight into the stack trace? It should be able to locate the problem in libcarla.

[2020-10-12 07:26] agourishetty93 commented on #3337
HI Axel, the issue was resolved after updating the carla version to 0.9.10 and with the character encoding changes. Thankyou BR

[2020-10-12 08:06] kargarisaac commented on #3424
I tested on Town03. I also tried to use behavior_agent.py code instead of TM but again I see the problem. But in less cases. Especially for a high number of agents. I didn't modify anything. Just used the tar.gz file directly in Ubuntu 18.

I didn't do it. I have to check it. Thanks

[2020-10-12 09:32] thytless commented on #3391
Hello! Did your problem solved in the latest release 0.9.10.1?

[2020-10-12 10:22] ebadi opened #3429 "Randomized vehicle license plates not working"
The randomized license plate feature is not working. According to [CARLA 0.4.1 Changelog](https://github.com/carla-simulator/carla/blob/dev/CHANGELOG.md#carla-041), the "randomized vehicle license plates" is supported since 0.4.1. The documentation for [vehicle modeling](https://carla.readthedocs.io/en/latest/tuto_A_vehicle_modelling/) also mentions license plate texture and there is a blueprint (

[2020-10-12 10:35] akshatamk opened #3430 "RuntimeError: time-out of 2000ms while waiting for the simulator, make sure the simulator is ready and connected to 127.0.0.1:2000"
Hello,
   I'm getting this error while running the python API in CARLA.
   I tried changing time-out duration as well as port number, but still the same issue. Please help

[2020-10-12 11:50] qhaas commented on #1786
[Appears fixed](https://github.com/carla-simulator/carla/blob/0.9.10.1/PythonAPI/carla/agents/navigation/local_planner.py#L219) in 0.9.10.1

[2020-10-12 12:21] K-Hoppe commented on #3419
Thanks! I figured it out.

[2020-10-12 12:21] #3419 closed

[2020-10-12 14:48] tinmodeHuang commented on #3430
just now I have ran into same error and had no idea how to solve it as well, however, I can perform spawn_npc.py successfully after changing into newest edition

[2020-10-12 15:18] piraka9011 commented on #3424
Here's an example stack trace I got:
Carla (Client and server) v0.9.10.1
Ubuntu 18.04

[code]

Looks like non-existent files aren't handled properly.

[2020-10-12 17:21] yangyueren opened #3431 "carla docker runs wrong"
docker run -p 2000-2002:2000-2002 --runtime=nvidia --gpus all carlasim/carla:0.9.10.1
sh: 1: xdg-user-dir: not found

[2020-10-12 18:01] yangyueren opened #3432 "A question about openstreetmap"
Hi:
I'm new to use carla and UnrealEngine and I want to use carla 0.9.10 in the docker and import openstreetmap as my own map.
In sum, ubuntu headless server + docker(nvidia-docker2)+ openstreetmap.

I came across several questions.
1. In the tutorial https://carla.readthedocs.io/en/latest/build_linux/, I found that I should build UnrealEngine in my ubuntu server.
But if I download the below link

[2020-10-12 18:30] mainakchain commented on #2005
I am also facing the same issue. My system is a Machintosh system. Please let me know what could be the possible issue. @cassfalg

[2020-10-12 18:43] mainakchain commented on #150
Why am I getting this error when I run **./CarlaUE4.sh** in terminal. I have a Mac system.

`readlink: illegal option -- f
usage: readlink [-n] [file ...]
./CarlaUE4.sh: line 5: ./CarlaUE4/Binaries/Linux/CarlaUE4: cannot execute binary file`